/страница комментариев
/формирование title для страницы
- render_title(@document.title)

.b-document.b-document__comments
  .b-document__left.b-document__header
    
    = render 'document/subrubric'
    
    .title
      = @document.title

    .b-document__data
      time.pubdate.pubdate--no-border{datetime='#{@document.published_at}' pubdate='#{@document.published_at}' }
        - if @document.has_published_at?
          = link_to @document.published_at.strftime('%d.%m.%Y'), "#{@document.published_at.strftime('/archive/%Y/%m/%d')}"
        - if @document.has_source_title?
          = link_to @document.source_title, @document.source_url, class: 'link'

    = render 'common/comments'
  /правая часть
  aside.b-document__right
    = render 'document/right/default'
