/формирование title для страницы
- if @region.present?
  - render_title(@region_name)
- else
  - render_title('новости бизнеса и финансов, аналитика, смарт-версия газеты')

= render 'common/rubric/main', rubric_template: 'main', banner_template: banners[0], news_slug: 'all', page: 'main'
/= render_banner Settings.banners.dblclick.persona, 970, 50
- banner_index = 0
- index = 0
- if @region.present?
  = render_block "/includes/regions/#{@region}"

- @lists.each do |list|

  - if is_story = /^story-/.match(list.slug)
    vd-statistic{ page="main" block="story" }
      / = render_block "/includes/story/#{is_story[1]}"
      = render_list_story(list)
  - else
    - banner_index = banner_index + 1 if ['big_banner', 'medium_banner', 'small_banner'].include? list.template and banner_index < banners.length - 1
    vd-statistic{ page="main" block="#{list.slug}" }
      = render template_for(list), list: list, banner_template: banners[banner_index]

    - if index == 0
      = render_block '/includes/top_press_releases'
    - elsif index == 1
      = render_banner Settings.banners.dblclick.line, 970, 150
    - elsif index == 5
      = render_banner Settings.banners.dblclick.tgb1, 970, 50
    - elsif index == 6
      = render_banner Settings.banners.dblclick.leaderboard_tech, 970, 50
      = render_banner Settings.banners.dblclick.leaderboard_tech_2, 970, 50
    - index += 1

vd-statistic{ page="main" block="popular24" }
  = render_block '/includes/popular24'

/всегда выводится перед footer
= render_banner Settings.banners.dblclick.tgb2, 970, 50

= render 'common/refresh_page'
