/формирование title для страницы
- render_title('Мультимедия')
/формирование описания страницы
- render_description('Мультимедия')

- banner_index = 0
- index = 0

sass:
  header
    padding-bottom: 0
  .b-course
    border-bottom: none
  .b-header-menu
    margin-top: -125px
  .b-person-announce-wrapper
    margin-bottom: 15px

.b-multimedia
  = render_block '/includes/redline'
  /уникальный первый шаблон(слайдер)
  - @lists.each do |list|
    - if 'multimedia_top' == list.template
      = render 'common/rubric/slider_multimedia', list: list
    - else
      = render template_for(list), list: list, rubric_template: 'rubric_template', banner_template: banners[banner_index]
    /расчет баннерных позиций
    - banner_index = banner_index + 1 if ['lifestyle_big_banner'].include? list.template and banner_index < banners.length - 1
vd-statistic{ page="rubrics-multimedia" block="popular24" }
  = render_block '/includes/popular24'
/всегда выводится перед footer
= render_banner Settings.banners.dblclick.tgb1, 970, 50
