/формирование title для страницы
- render_title(@part.title)

.b-document.b-document_part
  .b-document__left
    = render_block '/includes/redline'
    h1.b-subrubric__title = @part.title

    ul.b-subrubric__items
      - @documents.each_with_index do |document, index|
        = render_list_item(document, index)

    - unless @part.slug == 'quotes' || @hide_more_button
      div{ved-more}

  aside.b-document__right.no-print
    = render 'document/right/part'
