.b-document.b-document_referencies
  .b-document__left
    = render_block '/includes/redline'
    h1.b-subrubric__title = strip_tags(@query)

    ul.b-subrubric__items
      - @documents.each_with_index do |document, index|
        = render_list_item(document, index)

  aside.b-document__right.no-print
    = render 'document/right/default'
