/формирование title для страницы
- render_title("#{@rubric.title} - Новости")

/формирование описания страницы
- render_description(@rubric.title)

- if @rubric.slug != 'all'
  - page_name = 'rubrics-' + @rubric.slug
- else
  - page_name = @rubric.slug

/топ рубрики
- if @rubric.slug == 'opinion'
  = render 'common/rubric/main_huhu', rubric_template: 'main', banner_template: banners[0], page: page_name
  = render_banner Settings.banners.dblclick.persona, 970, 50
- elsif @rubric.slug == 'lifestyle'
  = render 'common/rubric/main_lifestyle', rubric_template: 'main', banner_template: banners[0], news_slug: @rubric.slug, page: page_name
  = render_banner Settings.banners.dblclick.persona, 970, 50
- else
  = render 'common/rubric/main', rubric_template: 'main', banner_template: banners[0], news_slug: @rubric.slug, page: page_name
  = render_banner Settings.banners.dblclick.persona, 970, 50

- banner_index = 0
- index = 0

- @lists.each do |list|
  - if is_story = /^story-/.match(list.slug)
    vd-statistic{ page="#{page_name}" block="story" }
      = render_list_story(list)
  - else
    /расчет баннерных позиций
    - banner_index = banner_index + 1 if ['big_banner', 'medium_banner', 'small_banner', 'lifestyle_big_banner'].include? list.template and banner_index < banners.length - 1
    vd-statistic{ page="#{page_name}" block="#{list.slug}" }
      = render template_for(list), list: list, rubric_template: 'rubric_template', banner_template: banners[banner_index]

    - if index == 1
      = render_banner Settings.banners.dblclick.line, 970, 150
    - elsif index == 3
      = render_banner Settings.banners.dblclick.leaderboard_tech, 970, 50
      = render_banner Settings.banners.dblclick.leaderboard_tech_2, 970, 50
    - index +=1
vd-statistic{ page="rubrics-#{@rubric.slug}" block="popular24" }
  = render_block '/includes/popular24'
/всегда выводится перед footer
= render_banner Settings.banners.dblclick.tgb1, 970, 50

= render 'common/refresh_page'
