/формирование title для страницы
- render_title(@section.title)
/формирование описания страницы
- render_description(@section.title)

.b-document.b-document_list

  .b-document__left
    = render_block '/includes/redline'
    .b-list__title = @section.title

    ul.b-list__items
      - @documents.each_with_index do |document, index|
        = render_list_item(document, index)

  aside.b-document__right.no-print
    = render 'document/right/default'
