/формирование title для страницы
- render_title(@subpart.title)

.b-document.b-document_part
  .b-document__left
    = render_block '/includes/redline'
    h1.b-subrubric__title = @subpart.title

    ul.b-subrubric__items
      - @documents.each_with_index do |document, index|
        = render_list_item(document, index)
  .b-document__right
    = render 'document/right/news'
