/формирование title для страницы
- render_title(@document.title)

.b-document.b-document_theme

  .b-document__left
    = render_block '/includes/redline'
    .b-theme__title = @document.title

    ul.b-theme__items
      = render partial: 'common/items/theme_item', collection: @documents, as: :document

  aside.b-document__right.no-print
    = render 'document/right/default'
