.b-inset.b-inset_chronology
  - if box.has_image?
    .person
      amp-img {src="#{image_absolute_url(box.image.default.url)}" width="#{box.image.default.width}" height="#{box.image.default.height}" layout='fixed'}
      /= image_with_dimension(box.image, :default, image_class: 'b-inset_chronology-avatar')

  .b-inset_chronology-description
    .title= box.title
    .subtitle== box.body
  ul = render partial: 'amp/documents/boxes/chronology_item', collection: box.children
