.b-inset-container-attachments
  ul
    - box.children.each do |file|
      li.b-inset-container-attachments__file
        .b-inset-container-attachments__file__title
          = link_to "//#{Settings.hosts.agami}#{file.file[:original][:url]}", target: '_blank', download: '#{file.title}' do
            = "#{file.title}#{File.extname(file.file[:original][:url])}"

        .b-file__description
          = link_to file.description, "//#{Settings.hosts.agami}#{file.file[:original][:url]}", target: '_blank', download: '#{file.title}'
