- if box.children[0].image.has_version?(:default)
  - protoimage = box.children[0].image.default
  amp-carousel {width="#{protoimage.width}" height="#{protoimage.height}" layout="responsive" type="slides" controls loop}
    - box.children.each_with_index do |frame, index|
      - if frame.has_image? && frame.image.has_version?(:mobile_high)
        .slide
          amp-img {src="#{image_absolute_url(frame.image.default.url)}" srcset="#{image_srcset(frame.image)}" width="#{frame.image.default.width}" height="#{frame.image.default.width}" layout='fill'}
          .image-credits
            .credits
              .author = "#{frame.has_author? ? frame.author: ''}  #{frame.has_credits? ? frame.credits: ''}"
            - if frame.description.length<77
              .alt= frame.description.html_safe
            - else
              .alt= "#{strip_tags(frame.description)[0..74]}..."