- if box.has_bound_document?
  - if box.bound_document.has_image?
    .b-inset-link
      a{href="#{relative_link(box.bound_document.url)}"}
        amp-img {src="#{image_absolute_url(box.bound_document.image._preview.url)}" layout='fixed' width="#{box.bound_document.image._preview.width}" height="#{box.bound_document.image._preview.height}"}
      = link_to box.bound_document.title, relative_link(box.bound_document.url), class: 'header'
  - else
    .b-big-green-link
      = link_to box.bound_document.title, relative_link(box.bound_document.url)
      |&nbsp;&rarr;
