.b-inset_image
  - if box.has_image?
    amp-img{src="#{box.image.default.url}" width="#{box.image.default.width}" height="#{box.image.default.height}" srcset="#{image_srcset(box.image)}" alt="#{box.has_title? ? box.title: '' }" layout='responsive'}
  - if box.has_description? ||  box.has_title? ||  box.has_author? ||  box.has_credits?
    .image-description
      - if box.has_title?
        .image-title= box.title
      - if box.has_description?
        .image-description== box.description
      - if box.has_author?
        span.image-author
          | Фото: &nbsp;
          = box.author
      - if box.has_credits?
        | &nbsp; / &nbsp;
        span.image-copyright= box.credits
