- document = box.bound_document
- if document.gallery?
  = render 'amp/documents/boxes/gallery', {box:find_gallery(document)}
- elsif document.has_image? && document.image.has_version?(:normal)
  a.b-main-image{href="//#{document.url}"}
    amp-img {srcset="#{image_srcset(document.image)}" src="#{document.image.normal.url}" width="#{document.image.normal.width}" height="#{document.image.normal.height}" layout='responsive'}
    span.b-part-icon{class="b-part-icon_#{document.categories.parts.slug}"}
