/текст + картинка
.b-inset.b-inset_text
  .image-wrapper
      - if box.has_image?
        amp-img {src="#{image_absolute_url(box.image.default.url)}" alt="#{box.title}" layout='responsive' height="#{box.image.default.height}" width="#{box.image.default.width}"}
  .title = box.title
  p == box.body