.b-inset_quote
  .inner
    .person
      -if box.has_image?
        amp-img {src="#{image_absolute_url(box.image.default.url)}" layout='fixed' width="#{box.image.default.width}" height="#{box.image.default.height}"}
    .name
      .fullname = "#{box.name},"
      .job = box.job
  .text = box.body