.b-text-box
  /.header= box.title
  /span.show-more = 'Show more'
  /amp-accordion
  /
  /  section
  /    p== box.body
  /  span.show-less = 'Show less'
  - if box.body.length<150 || box.body.index('.', 150).nil?
    div
      .header = "#{box.title}"
      p = "#{box.body}"
  -else
    amp-accordion
      section
        h4.button
          span.show-more
            .header = "#{box.title}"
            p.half-text = "#{box.body[0..box.body.index('.', 150)]}..."
            .link-button-wrapper
              span.link-button = 'Прочесть целиком'
        div
          .header = "#{box.title}"
          p = "#{box.body}"