/статья, 3 уровень анонсирования
= content_tag element_tag, class: "b-article b-article_level3 #{element_class}" do

  .b-article__left-inner
    /иконка
    - if document.gallery?
      i.b-icon.icon-photo-small-round
    - elsif document.video?
      i.b-icon.icon-video-small-round
    - elsif document.online?
      i.b-icon.icon-online-small
    - elsif document.test?
      i.b-icon.icon-test_small
    /рубрика
    - if name_for_document(document) == 'map'
      .b-article__rubric = link_to 'Карты', relative_link(document.url)
    - else
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'article'

    /заголовок
    .b-article__title
      = link_to relative_link(document.url) do
        = document.title
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
    /комментарии
    = render 'common/comment', document: document
