/блог профессионала, 3 уровень анонсирования
= content_tag element_tag, class: "b-blog b-blog_level3 #{element_class}" do

  /цитата
  .b-blog__quote__wrapper
    - if document.has_blog_qoute?
      .b-blog__quote = link_to relative_link(document.url) do
        = document.quote
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
      = render 'common/comment', document: document
    - else
      p нет цитаты

  /автор
  .b-blog__inner
    - if document.has_author?
      = link_to relative_link(document.url), :class=>'b-blog__portrait' do
        - if document.author.has_portrait? && document.author.portrait.has_version?(:type4)
          = image_with_dimension(document.author.portrait, :type4, alt: nil, image_class: 'small_circle')
        - else
          img.small_circle.placeholder-image{width='70' height='70' src='/assets/placeholder-level3.png'}
      /рубрика
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'blog'
      .b-blog__name
        = link_to "#{document.author.first_name} #{document.author.last_name}", relative_link(document.url)
        br
        = link_to document.author.appointment, relative_link(document.url), class: 'job'
    - else
      p нет автора
    /заголовок
    .b-blog__title = link_to relative_link(document.url) do
      = document.title
      - if document.pay_required?
        span.b-icon.b-icon--svg.b-icon--grey-lock
        span.b-icon.b-icon--svg.b-icon--grey-unlock
    /комментарии
    = render 'common/comment', document: document
