/ действующее лицо, 3 уровень анонсирования
= content_tag element_tag, class: "b-character b-character_level3 #{element_class}" do

  /цитата
  .b-character__quote__wrapper
    - if document.has_character_qoute?
      .b-character__quote = relative_link(document.url) do
        = link_to document.quote
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
      = render 'common/comment', document: document
    - else
      p нет цитаты

  /действующее лицо
  .b-character__inner
    - if document.has_character_name? && document.has_character_job?

      - if document.has_portrait?
        = link_to relative_link(document.url), :class => 'b-character__portrait' do
          = image_with_dimension(document.portrait, :type4, alt: nil, image_class: 'small_circle')
      - else
        = link_to relative_link(document.url), :class => 'b-character__portrait'
          img.small_circle.placeholder-image{width='48' height='48' src='/assets/placeholder-level2.png'}

      /рубрика
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'character'

      .b-character__name
        = link_to document.character_name, relative_link(document.url), class: 'name'
        br
        = link_to document.character_job, relative_link(document.url), class: 'job'
    - else
      p нет автора

  .b-character__title = link_to relative_link(document.url) do
    = document.title
    - if document.pay_required?
      span.b-icon.b-icon--svg.b-icon--grey-lock
      span.b-icon.b-icon--svg.b-icon--grey-unlock
  = render 'common/comment', document: document
