/колонка, 3 уровень анонсирования
= content_tag element_tag, class: "b-column b-column_level3 #{element_class}" do
  .b-column__inner
    /картинка
    - if document.has_author?
      = link_to relative_link(document.url), :class => 'b-column__portrait' do

        - if document.author.has_portrait? && document.author.portrait.has_version?(:type4)
          = image_with_dimension(document.author.portrait, :type4, alt: nil, image_class: nil)
        - else
          img.placeholder-image{width='48' height='48' src='/assets/placeholder-level3.png'}

      /рубрика
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'column'
      .b-column__name
        = link_to "#{document.author.first_name} #{document.author.last_name}", relative_link(document.url)
    - else
      p не указан автор цитаты

  /заголовок
  .b-column__title
    = link_to relative_link(document.url) do
      = document.title
      - if document.pay_required?
        span.b-icon.b-icon--svg.b-icon--grey-lock
        span.b-icon.b-icon--svg.b-icon--grey-unlock
    = render 'common/comment', document: document
