/цитата, 3 уровень анонсирования
= content_tag element_tag, class: "b-quote b-quote_level3 #{element_class}" do
  .b-quote__inner
    /рубрика
    = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'quote'

  /заголовок
  .b-quote__title = link_to relative_link(document.url) do
    = document.title
    - if document.pay_required?
      span.b-icon.b-icon--svg.b-icon--grey-lock
      span.b-icon.b-icon--svg.b-icon--grey-unlock
  - if document.has_subtitle?
    .b-quote__subtitle== link_to document.subtitle, relative_link(document.url)
  /комментарии
  = render 'common/comment', document: document
