/статья, 3 уровень анонсирования
= content_tag element_tag, class: "b-article b-article_level3 #{element_class}" do

  .b-article__left-inner
    /иконка
    - if document.gallery?
      i.b-icon.icon-photo-small-round
    - elsif document.video?
      i.b-icon.icon-video-small-round
    - elsif document.online?
      i.b-icon.icon-online-small
    - elsif document.online?
      i.b-icon.icon-test_small
    /рубрика
    - if document.has_categories? && document.categories.has_parts?
      .b-document__header__subrubric
        = link_to document.categories.parts.title, "#{part_path(document.categories.parts.slug)}"

    /заголовок
    .b-article__title
      = link_to document.title, relative_link(document.url)
    /комментарии
    = render 'common/comment', document: document
