section.b-rubric.b-rubric_also_in_rubric.no-print{glyphis-garricki-shark}
  .b-rubric__inner
    .b-rubric__title = link_to list.header, list.relative_url

    - if list.documents.count < 4
      p Для вывода шаблона необходимо 4 докумета
    - else
      .b-rubric__4col-inner.b-rubric__4col-inner_mutate-to-3col
        ul
          - list.documents.each_with_index do |document, index|
            - if index == 0  || index == 1
              = render_item(document, 'level2', ['no-padding-top', 'mutate-to-padding-top', 'padding-bottom', "#{document.id}"], 'li', list.template, true)
            - else
              = render_item(document, 'level2', ['no-padding-top', 'mutate-to-padding-top', 'padding-bottom', "#{document.id}"], 'li', list.template, false)

  = render 'common/rubric/more', url: list.relative_url
