- if list.documents.count < 4
   /!
     Для вывода шаблона необходимо 4 докумета
- else
  section.b-rubric.b-rubric_also_in_story_media.no-print{nasolamia-shark}
    .b-rubric__inner
      .b-rubric__title = link_for list
      .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col
        /расстановка корректных классов для элемента осуществляется при помощи javascript (pondicherry_shark)
        ul
          - list.documents.each_with_index do |document, index|
            - if [0,1].include?(index)
              = render_item(document, 'level1', ['level1_mutate-to-level2', 'border-bottom', 'no-padding-top', 'mutate-to-padding-top', 'padding-bottom', 'mutate-to-no-padding-top', 'mutate-to-non-border-bottom' , "#{document.id}"], 'li', '', true)
            - else
              = render_item(document, 'level2', ['padding-top', 'padding-bottom','mutate-to-border-top', document.id.to_s], 'li', '', false)