section.b-rubric.b-rubric_another-from-part.no-print{pondicherry-shark}
  .b-rubric__inner
    .b-rubric__title = link_to @part.title, part_path(@part.slug)
    - if @documents.count < 4
      p Для вывода шаблона необходимо 4 докумета
    - else
      .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col
        /расстановка корректных классов для элемента осуществляется при помощи javascript (pondicherry_shark)
        ul
          - @documents.each_with_index do |document, index|
            = render_item(document, 'level2', ['padding-top', 'padding-bottom', 'border-top', document.id.to_s], 'li', '', false)