.b-course.no-print
  / a{href="http://ad.adriver.ru/cgi-bin/click.cgi?sid=1&ad=545934&bt=2&pid=2142726&bid=4104659&bn=4104659&rnd=1845969645" target="_blank"}
  /   img.b-course__brand.first{src="/assets/brand.png"}
  - if @quotes
    - @quotes.each do |item|
      .b-course__item
        - if item[:value] >= item[:prev_value]
          .b-icon.icon-arrow-up
        - else
          .b-icon.icon-arrow-down

        span.name = item[:title]
        span.rouble{ class= "#{item[:value] >= item[:prev_value] ? 'rouble_green' : 'rouble_red' }" } = item[:value]
  / a{href="http://ad.adriver.ru/cgi-bin/click.cgi?sid=1&ad=545934&bt=2&pid=2142726&bid=4104659&bn=4104659&rnd=1845969645" target="_blank"}
  /   img.b-course__brand.last{src="/assets/brand.png"}
        /.b-course__map
        /a href='#'
        /  | Карта рынка
        /  i.b-icon.icon-arrow-left
