section.b-rubric.b-rubric_photo.no-print{glyphis-garricki-shark}
  .b-rubric__inner
    .b-rubric__title = link_to 'Фото', part_path('galleries')

    - if @documents.count < 4
      p Для вывода шаблона необходимо 4 докумета
    - else
      .b-rubric__4col-inner.b-rubric__4col-inner_mutate-to-3col
        ul
          - @documents.each_with_index do |document, index|
            - if [0,1].include?(index)
              = render_item(document, 'level2', ['no-padding-top', 'mutate-to-padding-top', 'padding-bottom', "#{document.id}"], 'li', 'medium_no_banner', true)
            - else
              = render_item(document, 'level2', ['no-padding-top', 'mutate-to-padding-top', 'padding-bottom', "#{document.id}"], 'li','medium_no_banner', false)
