- positions = [[0, 3, 6], [1, 4, 7], [2, 5, 8]]
section.b-rubric.b-rubric_popular.no-print#popular
  .b-rubric__title.b-rubric__title_red
    = link_for @popular24
  - if @popular24.documents.count < 9
    p Для формирования рубрики необходимо минимум 9 документов

  - else
    .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col
      ul
        - positions.each do |row|
          - row.each do |position|
            - item_classes = []
            - item_classes << 'no-border-top' if positions.first.include?(position)
            - item_classes << 'hide_on_medium_screen' if (6..8).include?(position)
            = render 'common/items/popular',
                document: @popular24.documents[position],
                index: position + 1,
                item_class: item_classes.join(' ')

    = render_banner Settings.banners.dblclick.popular_banner, 300, 250
    = render_banner Settings.banners.dblclick.popular_banner2, 300, 100
