.b-story__wrapper
  section.b-story
    = link_to relative_link(story.url) ,class: 'b-story__inner'
      .rubric = 'Сюжет'
      .title = story.title
      - if story.has_subtitle?
        .subtitle== story.subtitle

    .b-rubric__4col-inner.b-rubric__3col-inner_mutate-to-3col
      ul
        - for document in documents
          - if document.video? || document.gallery?
            = render_item(document, 'level3', ['padding-top', 'padding-bottom', 'media'], 'li', 'story', false)
          - else
            = render_item(document, 'level3', ['padding-top', 'padding-bottom'], 'li', 'story', false)
    = link_to relative_link(story.url), class: 'b-story__bg' do
      - if story.has_slider? && story.slider.has_version?(:original)
        = image_with_dimension(story.slider, :original, alt: '', image_class: nil)
