- news = @main_top.documents.map { |n| { title: n.title, url: n.url } }
- popular = @popular24.documents.map { |n| { title: n.title, url: n.url } }

.b-tabs{ved-tabs}
  ul.b-tabs__headers
    li.b-tabs__header{ng-click="correct_array('b-tabs__news'); current_tab = 0" ng-class="{active: current_tab == 0}"}
      | Главное
    li.b-tabs__header{ng-click="correct_array('b-tabs__popular'); current_tab = 1" ng-class="{active: current_tab == 1}"}
      | Популярное

  .b-tabs__bodies{ng-class="{'b-tabs__bodies_load': true == load}"}
    .b-tabs__body.b-tabs__news {ng-show = '0 == current_tab'}
      ul
        - news.each do |item|
          li.b-tabs__item
            = link_to  item[:title], "//#{item[:url]}"
    .b-tabs__body.b-tabs__popular { ng-show = '1 == current_tab'}
      ul
        - popular.each_with_index do |item, index|
          li.b-tabs__item
            span = "#{index + 1}."
            = link_to  item[:title], "//#{item[:url]}"

