.b-ad-block.no-print
  .b-ad-block__title
    | Сообщения компаний

  .b-ad-block__inner
    ul
      - @press_releases.each_with_index do |press_release|
        li.b-ad-block__item
          = link_to relative_link(press_release.url) do
            span.date = press_release.published_at.strftime('%d.%m.%Y')
            - if press_release.has_company?
              span.company = press_release.company.title
            .message
              = press_release.title
      - if @press_releases.length < 4
        li.b-ad-block__item

  .b-ad-block__companies
    = link_to '/companies' do
      = 'Справочник компаний'
      i.b-icon.icon-more
