
.b-auth__wrapper{ved-user-profile off-click = "user_profile.close()"}
  - if @user.nil?
    = link_to "#{Settings.hosts.lago}/sign_in", target: '_self', class: 'b-auth' do
      /i.b-icon.icon-auth
      | Войти
      .b-icon.b-icon--svg.b-icon--login
  - else
    .b-auth.b-auth_profile
      .b-auth__inner{ng-click = 'toggle_memu()'}
        .b-auth__name = "#{@user.first_name}"
        .b-auth__icon
          - if @user.subscription_duration.blank?
            = image_tag 'svg/sub_lock.svg', :height => 22
          - elsif !@user.renewal_date.blank?  || @user.subscription_duration>=8
            = image_tag 'svg/sub_ok.svg', :height => 22
          - else
            = image_tag 'svg/sub_end.svg', :height => 22
        i.b-icon.icon-sort-by-triangle
      .b-auth__menu{ng-show = 'true == visibility' class='hidden'}
        .username = "#{@user.first_name} #{@user.last_name}"
        - if !@user.subscription_duration.blank?
          .b-auth-warn
            | У вас #{Russian.p(@user.subscription_duration, 'остался', 'осталось', 'осталось')} #{@user.subscription_duration} #{Russian.p(@user.subscription_duration, 'день', 'дня', 'дней')} подписки
        - else
          .b-auth-warn
            | У вас нет активной подписки
        - unless @user.renewal_date.blank?
          .b-auth-warn.b-auth-warn--autopay
            | Действует услуга «автоплатеж», подписка продлится #{@user.renewal_date.strftime('%d.%m.%Y')}
        - if @user.subscription_duration.blank?
          .b-buy-button
            a.b-button.b-button--buy {href="//#{Settings.hosts.metynnis}" } = 'Подписаться'
        - elsif @user.subscription_duration <=7 && @user.renewal_date.blank?
          .b-buy-button
            a.b-button.b-button--buy {href="//#{Settings.hosts.metynnis}" } = 'Продлить подписку'
        hr.b-auth-divider
        = link_to "#{Settings.hosts.lago}/user/profile", target: '_self', class: 'profile' do
          i.b-icon.b-icon--svg.b-icon--profile
          | Личный кабинет
        = link_to "#{Settings.hosts.lago}/sign_out", target: '_self', class: 'exit' do
          i.b-icon.b-icon--svg.b-icon--exit
          | Выйти
  | <!--
     == #{@user && @user.to_json}
     == #{@user && @user.access_token}
    -->

.b-header__divider

= link_to "http://#{Settings.hosts.metynnis}", class: 'b-subscribe' do
  - if @user.nil?
    .b-button.b-button--buy {href="//#{Settings.hosts.metynnis}" } = 'Подписаться'
  - else
    i.b-icon.icon-subscribe
    - if !@user.subscription_duration.blank? && @user.subscription_duration >= 7 || !@user.renewal_date.blank?
      | Подписка
    - else
      | Подписаться


- if @user.nil?
  javascript:
    var auth_hash = null;
    var auth_hash_reg = null;
    var user_options = {
      "status": "guest"
    };
- else
  javascript:
    var auth_hash = '#{@user.auth_hash}';
    var auth_hash_reg = '#{@user.auth_hash(force: true)}';
    var user_options = #{{@user.for_user_options}};
    var user_mailing = #{{@user.for_mailing}};
