// Place all the styles related to the material controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.b-all-news-page

  +clearfix
  margin: 0 auto
  position: relative
  width: 31 * $col + $banner-gatter + px
  min-width: 31 * $col + px

  +breakpoint(0 $medium)
    width: 12 * $col + 11 * $gatter + px
    position: relative
    left: 0

  +breakpoint($large)
    width: 16 * $col + 15 * $gatter + px
    position: relative
    left: 0

.b-button__news__button-wrapper
  text-align: center