.city-tabs__headers
  list-style: none

  .city-tabs__header
    opacity: .5
    position: relative
    background: white
    margin: 0
    padding: 45px 35px 0 60px
    width: 520px
    height: 300px
    cursor: pointer
    +font($black, $font4, 17)

    +transition(opacity $time ease-in-out)
    +breakpoint(0 $medium)
      width: 460px

    &:after
      +transition(opacity $time ease-in-out)
      opacity: 0
      content: ""
      position: absolute
      right: -23px
      transform: translateY(-50%)
      top: 50%
      width: 0
      height: 0
      border-style: solid
      border-width: 30px 0 30px 33px
      border-color: transparent transparent transparent #ffffff

    &.active
      opacity: 1
      cursor: auto
      box-shadow: 7px 0px 27px -8px rgba(0, 0, 0, 0.3)
      &:after
        opacity: 1
      &:before
        content: ""
        background: transparent
        right: -22px
        position: absolute
        width: 2px
        z-index: 0
        height: 7px
        top: 50%
        margin-top: -2px
        box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.3)
    
    h1.title
      +font($black, $font2, 21, 24)
    .address
      margin-bottom: 15px
    a
      color: $ved_green
.b-map
  width: 1200 - 520 + px
  float: right
  height: 600px
  background-color: rgba(255,255,255, 0.7)
  +breakpoint(0 $medium)
    width: 900 - 460 + px