.b-feedback
  input[type="text"], textarea
    background: #fff
    border: 1px solid #e3d1c7

    &:focus
      border-width: 1px
      padding-left: 16px
      padding-top: 12px

  .b-feedback__title
    font-family: Fedra Sans Demi, Arial, sans-serif
    font-size: 48px
    font-weight: normal
    margin-bottom: -5px

  .b-feedback__caption
    font-family: Fedra Sans Demi, Arial, sans-serif
    font-size: 15px
    margin-top: 10px

  .b-feedback__button
    width: 100%
    height: 45px
    line-height: 45px

  .b-feedback__success
    padding-left: 0