.b-form-page
  width: 100%

  .title
    +font($black, $font2, 30)
  .subtitle
    +font($black, $font4, 20)

  p
    +font($black, $font5, 12)
    margin: 10px 0
    padding: 0

  label
    display: block
    +font($black, $font1, 15)
    margin-top: 7px

  label[for='user_email']
    margin-top: 20px


  label[for='user_rules']
    line-height: 40px


  input[type='text'],
  input[type='password']
    +inline-block
    +font($black, $font5, 15, normal, normal)
    width: 520px
    height: 37px
    line-height: 37px
    border: 1px solid $tan
    +border-radius(3)
    padding: 0 10px


  .b-rules__wrapper
    width: 15 * $col + px

    #user_rules
      +inline-block
      float: left
      line-height: 20px
      position: relative
      margin-top: 20px
      margin-right: 10px

    margin-top: 20px
    +inline-block


  a
    text-decoration: underline
