.b-magazine
  +clearfix
  background: $tan
  width: 100%
  position: relative

.b-magazine__header
  height: 88px
  width: 23 * $col +px

.b-magazine__inner
  width: 9999px

  .title
    +font($additional_text2, $font1, 15)
    position: absolute
    top: 18px
    left: 2 * $col + px

  .date
    +font($additional_text, $font1, 21)
    position: absolute
    top: 40px
    left: 2 * $col + px


.b-magazine__counter
  text-align: center




