// Place all the styles related to the material controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.b-subrubric
  +clearfix
  margin: 0 auto
  position: relative
  width: 31 * $col + $banner-gatter + px
  min-width: 31 * $col + px

  +breakpoint(0 $medium)
    width: 12 * $col + 11 * $gatter + px
    position: relative
    min-width: 12 * $col + 11 * $gatter + px
    left: 0

  +breakpoint($large)
    width: 16 * $col + 15 * $gatter + px
    position: relative
    min-width: 16 * $col + 15 * $gatter + px
    left: 0

.b-subrubric__left
  width: 22 * $col + px
  margin-right: $col + px
  float: left
  +breakpoint(0 $medium)
    width: 8 * $col + 7 * $gatter + px
  +breakpoint($large)
    width: 12 * $col + 12 * $gatter + px