.b-multimedia
  background-color: $multimedia
  margin-bottom: 30px
  padding-top: 30px
  padding-bottom: 50px

  .b-rubric
    background: none

  .b-rubric__title
    border-bottom-color: #857871
    a,
    a:hover
      +font($white_original, $font3, 30, 34)

  .b-article__title
    a
      +font($white_original, $font2, 22, 24)

  .b-article__rubric
    display: none

  .b-colored-article
    border-bottom: none

  .b-lifestyle.b-lifestyle_border-bottom
    border-bottom-color: #857871

  .b-article.b-article_border-top,
  .b-article.b-article_mutate-to-border-top
    border-top-color: #857871

  .b-article__subtitle,
  .b-colored-article__subtitle,
  .b-lifestyle__subtitle
    strong,
    b
      font: 17px $font2
      font-style: normal
      vertical-align: baseline
    a
      +font($white_original, $font6, 17, 21)
