#banner1

  javascript:
    //Вертикальные баннеры
    googletag.cmd.push(function () {
        googletag.defineSlot('/136502702/Banner_300x600_servicepage', [300, 600], 'div-gpt-ad-1481729022138-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });


  .b-banner.b-banner_vertical
    #div-gpt-ad-1481729022138-0
  javascript:
    googletag.cmd.push(function () {
        googletag.display('div-gpt-ad-1481729022138-0');
    });
