#banner1
  = render_banner Settings.banners.dblclick.banner1, 300, 600
#banner2
  = render_block '/includes/top_right'
#banner3{ved-banner-scroll}
  = render_banner Settings.banners.dblclick.banner2, 300, 600
  = render_banner Settings.banners.dblclick.banner6, 300, 600
