@import variables
@import vedomosti_mixins
@import mixins

@import compass/utilities
@import compass/css3
@import compass/layout/sticky-footer
@import breakpoint

@import bootstrap/normalize

@import blocks/**/*
@import ../blocks/b-social-buttons


html, button, input, select, textarea
  color: #222

body, html
  height: 100%

body
  font-size: 1em
  line-height: 1.4
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: Georgia, serif
  color: $color2
  -webkit-overflow-scrolling: touch

+sticky-footer(45px)

a
  color: #332f2e
  text-decoration: none

img
  vertical-align: middle

fieldset
  border: 0
  margin: 0
  padding: 0

textarea
  resize: vertical



.clearfix
  clear: both

.hidden
  display: none

.date, .source a
  color: $color4
  font-family: $font2
  font-size: 12px

.time
  color: $color4
  margin-right: 0.5em

.title, .label
  font-family: $font1

.title
  font-family: 'Roboto Condensed Regular Bold'
  color: black

.label
  a
    color: $color1

.addition
  font-family: $font2

.image-credits
  padding: 10px
  font-family: $font1
  font-size: 15px
  .credits
    margin-top: 5px
    color: $color4

.menu-icon
  position: absolute
  right: 20px
  top: 19px
  cursor: pointer

.search-icon
  position: absolute
  left: 20px
  top: 17px
  cursor: pointer

.no-scrolling
  overflow: hidden

.fixed-header
  position: relative
  z-index: 1
  box-shadow: 0px 2px 11px 0px rgba(94, 86, 81, 0.35)
  -webkit-overflow-scrolling: touch
  +transition(top .3s ease-in-out)

  &.is-active
    top: 0
    position: fixed
    width: 100%
    z-index: 214748361
    overflow: auto

  &.is-opened
    bottom: 0


img[title^="LiveInternet"]
  display: none

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important
