- render_title(strip_tags(@ampersand_release.title), 'Ведомости& - ')
.b-document.b-document--ampersand
  h1.b-ampersand-release__title = raw @ampersand_release.title
  hr.b-ampersand-release__line
  .b-document__left.b-ampersand-release__left
    .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col
      = render_lifestyle(@documents[0], ['padding-bottom'], 'div', '')
      .b-rubric__1col-inner.hide-on-medium-screen
        ul
          - if false == @documents[1].nil?
            = render_item(@documents[1], 'level2', ['padding-bottom'], 'li', '', false)
    .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col
      ul
        - if false == @documents[1].nil?
          = render_item(@documents[1], 'level2', ['padding-bottom', 'padding-top', 'show-on-medium-screen'], 'li', '', false)
        - if false == @documents[2].nil?
          = render_item(@documents[2], 'level2', ['padding-bottom', 'padding-top'], 'li', '', false)
        - if false == @documents[3].nil?
          = render_item(@documents[3], 'level2', ['padding-bottom', 'padding-top', 'mutate-to-border-top'], 'li', '', false)
        - if false == @documents[4].nil?
          = render_item(@documents[4], 'level2', ['padding-bottom', 'padding-top', 'mutate-to-border-top'], 'li', '', false)
            /= @documents
  .b-document__right.b-ampersand-release__right
    #banner1
      /!
        300х600 1
      .b-banner.b-banner_vertical
        #div-gpt-ad-1449148456337-0

      javascript:
        //Вертикальные баннеры
        googletag.cmd.push(function () {
          googletag.defineSlot('/136502702/Banner-300x600', [[300, 600], [1, 1]], 'div-gpt-ad-1449148456337-0').addService(googletag.pubads())
        });

  = render 'partner/blocks/release_bottomline', {release: @ampersand_release}