/= @documents.to_json
- render_title('Ведомости&', '')
.b-document.b-document--ampersand.b-document--ampersand-list
  - @documents.each do |document|
    - if document.has_image?
        .b-ampersand-release
          a.b-ampersand-release__shadow {href="#{relative_link(document.url)}"}
            = image_tag image_absolute_url(document.image.default.url)
          .b-ampersand-release__header {class="#{document.substrate ? 'b-ampersand-release__header--inverse' : ''}"}
            - if document.has_partner_logo?
              .b-partner-logo.b-partner-logo--big
                = responsive_image_tag document.partner_logo, [{type: :small, size: '1x'}, {type: :big, size: '2x'}]
            .b-release-info
              div = "Номер #{document.release_number} от #{Russian::strftime(document.published_at, '%d %B %Y')}"
              div = "Партнер проекта «#{document.partner_name}»"

          a.b-ampersand-release__title {href="#{relative_link(document.url)}"} = raw document.title
          .b-ampersand-release__info
            .b-ampersand-documents
              .b-rubric__4col-inner.b-rubric__4col-inner_mutate-to-3col
                ul
                  - document.bound_documents.each_with_index do |article, index|
                    li.b-article.b-article_level3 {class="#{index==3 ? 'hide-on-medium-screen' : ''}"}
                      .b-article__left-inner
                        .b-article__title
                          a {href="#{relative_link(article.url)}"} = article.title




            = render 'partner/blocks/release_bottomline', {release: document, modificator: 'release-top'}
