/шаблон документа
- document_template = 'advert_article'
/формирование title для страницы
- if 'gallery' == document_template
  - render_title("ФOTO - #{@document.title}", 'ВЕДОМОСТИ&')
- elsif 'video' == document_template
  - render_title("ВИДЕО - #{@document.title}", 'ВЕДОМОСТИ&')
- else
  - render_title(@document.title, 'ВЕДОМОСТИ& - ')

/стиль для выкусывая элемента в также в рубрике
= render_exclude_css(@document)

/документ
.b-document{class="b-document_#{document_template}"}

  /левая часть
  .b-document__left
    article.js-mediator-article
      = render "document/left/#{document_template}"

    - if @document.gallery? || @document.video? || @document.test?
      - if @document.has_story?
        = render_block "/includes/also_in_story_media/#{@document.story.slug}"
      - else
        = render_block "/includes/another_from_part/#{@document.part.slug}"


      - if !(@document.gallery? || @document.video?)
        = render_banner Settings.banners.dblclick.nativeroll, 300, 600

    - if @document.links.key?(:reference)
      = render 'document/also_read', documents: @document.links[:reference], document_template: document_template
  /правая часть
  aside.b-document__right.no-print
  - if @document && @document.has_links? && @document.links[:ampersand]
    = render 'partner/blocks/release_bottomline', release: @document
= render 'chunks/mediator', {isMobile:false}

/реклама

/= render 'document/ad/ad_advert_article'

/кнопка редактирования документа(только в девелопменте и на стейджинге)
= render 'common/buttons/editor', url: @document.url