.b-banner.b-banner_topline.no-print
  .b-banner__inner
    #div-gpt-ad-1463129220254-0 style='margin: auto; vertical-align: top; text-align: center;'

javascript:
  googletag.cmd.push(function () {
    googletag.defineSlot('/136502702/Mob_version_5th_Banner_main', [[320, 50], [1, 1]], 'div-gpt-ad-1463129220254-0').addService(googletag.pubads());
  });

