.b-banner.b-banner_topline.no-print
  .b-banner__inner
    #div-gpt-ad-1463129104477-0 style='margin: auto; vertical-align: top; text-align:center;'

javascript:
  googletag.cmd.push(function () {
    googletag.defineSlot('/136502702/Mob_version_3d_Banner', [[1, 1], [320, 50]], 'div-gpt-ad-1463129104477-0').addService(googletag.pubads());
  });
