.b-banner.b-banner_bottomline.no-print
  .b-banner__inner
    #div-gpt-ad-1463401052083-0 style='margin: auto; vertical-align: top; text-align:center;'
/id Этого баннера зашит в agima2!!!


javascript:
  //(function (a, b, c, d, e, f, g, h) {
  //  g = b.createElement(c);
  //  g.src = d;
  //  g.type = "application/javascript";
  //  g.async = !0;
  //  h = b.getElementsByTagName(c)[0];
  //  h.parentNode.insertBefore(g, h);
  //  a[f] = [];
  //  a[e] = function () {
  //    a[f].push(Array.prototype.slice.apply(arguments));
  //  }
  //})(window, document, "script", (document.location.protocol === "https:"
  //                ? "https:" : "http:") + "//seedr.com/js/seedr-player.min.js", "SeedrPlayer",
  //        "seedrInit");

  //var tag = "#{story_targeting_params}";
  //SeedrPlayer(
  //        document.getElementsByClassName('b-native-roll')[0],
  //        20,
  //        {
  //          gid: "56c71cfa64225d38788b456b",
  //#{story_targeting_params.present? ? %{tags:[tag],} : '' }
  //onError: function (e) {
  //  console.log(e);
  //  console.log('Error loading nativeRoll. Loading banner.');
  //  googletag.cmd.push(function () {
  //    googletag.defineSlot('/136502702/Mob_version_Materials_2nd_Banner', [[1, 1], [300, 300]], 'div-gpt-ad-1463401052083-0').addService(googletag.pubads());
  //    googletag.pubads().enableSingleRequest();
  //    googletag.enableServices();
  //    googletag.pubads().addEventListener('slotRenderEnded', function (event) {
  //      if (event.slot.getSlotElementId() == 'div-gpt-ad-1463401052083-0') {
  //        console.log('Banner loaded');
  //      }
  //      if (event.isEmpty && event.slot.getSlotElementId() == 'div-gpt-ad-1463401052083-0') {
  //        console.log('Banner is empty');
  //
  //      }
  //    });
  //  });
  //}
  //}
  //)
  //;


javascript:





