.b-banner.b-banner_fullscreen.no-print
  .b-banner__inner
    #div-gpt-ad-1458565341775-0 style='height:0; width:0; position: absolute;'

javascript:
  if (document.referrer.indexOf('news.yandex') == -1 &&
          document.referrer.indexOf('news.google') == -1 &&
          document.referrer.indexOf('news.rambler') == -1 &&
          document.referrer.indexOf('go.mail') == -1 &&
          document.referrer.indexOf('nova.rambler') == -1 &&
          document.referrer.indexOf('news.mail') == -1
  ) {
    googletag.cmd.push(function () {
      googletag.defineSlot('/136502702/ivengo-fullscreen', [[320, 480], [1, 1]], 'div-gpt-ad-1458565341775-0').addService(googletag.pubads());
    });
  }
