.b-banner.b-banner_topline.no-print
  .b-banner__inner
    #div-gpt-ad-1455967389015-0 style='margin: auto; vertical-align: top;'

javascript:
  googletag.cmd.push(function () {
    googletag.defineSlot('/136502702/Mob_version_opinion_lifestyle_2nd_Banner', [1, 1], 'div-gpt-ad-1455967389015-0').addService(googletag.pubads());
  });
