.b-banner.b-banner_topline.no-print
  .b-banner__inner
    #div-gpt-ad-1449233334715-0 style='margin: auto; vertical-align: top;'
    /ОЧЕНЬ ВАЖНО! Этот ID зашит в ivengo2.html.slim для инициализации показа баннеров. Баннеры не будут показываться, если этого файла не будет.
javascript:
  googletag.cmd.push(function () {
    googletag.defineSlot('/136502702/Mob-version-Materials-1st-Banner', [1, 1], 'div-gpt-ad-1449233334715-0').addService(googletag.pubads());
  });