.b-paywall
  h1.title Уважаемый читатель!
  p.warning
    | Спасибо за регистрацию.
    br
    br
    | На указанный Вами адрес электронной почты отправлено письмо со ссылкой активации.
    br
    br
    | Пожалуйста, пройдите по ссылке, указанной в письме и Вы сможете продолжить чтение.
