<div class="b-banner b-banner_horisontal b-banner_tgb no-print">
  <div class="b-banner__inner">
    <div class="anews-web-widget" data-theme="vedomosti" data-source="posts" data-region="5009"></div>
  </div>
</div>
<script>
  ;(function(d, s, id){
    if(d.getElementById(id))return;s=d.createElement(s);
    s.type="text/javascript";s.async=true;s.src="//www.anews.com/s/js/widget.js";
    s.id=id;s.charset="utf-8";d.head.appendChild(s);
  })(document, "script", "anewsWidgetSDK");
</script>
