/!
  absolut 100%/100%
.b-banner__background
  #div-gpt-ad-1449569221094-0

javascript:
  //Вертикальные баннеры
  googletag.cmd.push(function () {
    googletag.defineSlot('/136502702/Banner_background', [[2000, 1000], [2000, 1080]], 'div-gpt-ad-1449569221094-0').addService(googletag.pubads());
  });

