<!--  AdRiver code START -->
<script language="javascript" type="text/javascript">
    (function(){
        var rnd = Math.round(Math.random() * 1000000000),
                tail = escape(document.referrer) || 'unknown';
        document.write(
                '<div class="b-banner b-banner_horisontal no-print for-bmf"><div class="b-banner__inner"><iframe src="http://pano.ria.ru/adriver/ria_na_vedomosti4.html?rnd=' + rnd + '&tail256=' + tail
                + '" frameborder=0 vspace=0 hspace=0 width=100% height=132 marginwidth=0'
                + ' marginheight=0 scrolling=no></iframe></div></div>');
    })();
</script>
<!--  AdRiver code END  -->

<!--<div class="b-banner b-banner_horisontal no-print for-classifieds_195x120">-->
  <!--<div class="b-banner__inner">-->
    <!--<div id="classifieds_195x120"></div>-->
  <!--</div>-->
<!--</div>-->