.b-banner.b-banner_horisontal.b-banner_tgb.no-print
  .b-banner__inner
    #unit_85312
      a {href="http://net.finam.ru/"} Новости net.finam.ru
javascript:
  (function() {
    var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
    sc.src = '//news.net.finam.ru/data/js/85312.js'; sc.charset = 'utf-8';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
  }());