/!
  Фуллскрин
#div-gpt-ad-1449498361709-0

javascript:
  if (document.referrer.indexOf('news.yandex') == -1 &&
      document.referrer.indexOf('news.google') == -1 &&
      document.referrer.indexOf('news.rambler') == -1 &&
      document.referrer.indexOf('go.mail') == -1 &&
      document.referrer.indexOf('nova.rambler') == -1 &&
      document.referrer.indexOf('news.mail') == -1
  ) {
    googletag.cmd.push(function () { 
      googletag
        .defineOutOfPageSlot('/136502702/Banner_fullscreen', 'div-gpt-ad-1449498361709-0')
        .addService(googletag.pubads()); 
    });
  }

