/!
  Лидерборд Тех

.b-banner.b-banner_horisontal.no-print
  /.b-banner__inner TODO временно закомментировал для того, чтобы избвавиться от паддингов
  #div-gpt-ad-1455606823974-0 {show-on-scroll style='margin: auto; vertical-align: top;' data-unit-path="/136502702/Banner_100_percent_line1_effective" data-sizes="[[970, 250], [970, 90], [970, 120]]" }
