/!
  Line

.b-banner.b-banner_horisontal.no-print
  .b-banner__inner
    #div-gpt-ad-1449494029088-0 style='margin: auto; vertical-align: top;'

javascript:
  googletag.cmd.push(function () {
    googletag.defineSlot('/136502702/Banner_100_percent_line1', [[970, 120], [970, 250], [970, 90], [1, 1]], 'div-gpt-ad-1449494029088-0').addService(googletag.pubads());
  });
