/!
  300х250
.b-banner.b-banner_media
  #div-gpt-ad-1449501515440-0 style='margin: auto; vertical-align: top;'

javascript:
  googletag.cmd.push(function () {googletag.defineSlot('/136502702/Banner_300x250_media', [300, 250], 'div-gpt-ad-1449501515440-0').addService(googletag.pubads());});