.b-native-roll.no-print

javascript:
  (function (a, b, c, d, e, f, g, h) {
    g = b.createElement(c);
    g.src = d;
    g.type = "application/javascript";
    g.async = !0;
    h = b.getElementsByTagName(c)[0];
    h.parentNode.insertBefore(g, h);
    a[f] = [];
    a[e] = function () {
      a[f].push(Array.prototype.slice.apply(arguments));
    }
  })(window, document, "script", (document.location.protocol === "https:" ? "https:" : "http:") + "//cdn01.nativeroll.tv/js/seedr-player.min.js", "SeedrPlayer", "seedrInit");
 // console.log('nativeroll+1')

  //SeedrPlayer( document.getElementsByClassName('b-native-roll')[0], 20, {gid: "56c71cfa64225d38788b456b", debug: false, onError: function (e) {console.log(e);}});