.b-banner.b-banner_newsline
  .b-banner__inner
    #div-gpt-ad-1449831843784-0 style='margin: auto; vertical-align: top;'

javascript:
  googletag.cmd.push(function () { googletag.defineSlot('/136502702/Banner_400x90_news', [1, 1], 'div-gpt-ad-1449831843784-0').addService(googletag.pubads()); });
