.b-banner.b-banner_newsrelease
  = image_tag 'mail_type_newsrelease.png', class: 'logo'

  .text
    b Подпишитесь на рассылку «Свежий номер»
    br
    | и получайте «Ведомости» каждое утро

  i.b-icon.icon-mail-type-exit

  .message.error
    .message_inner
      | Внимание! Введен некорректный e-mail. #{link_to 'Вернуться' , '#'}

  form name='mail_type_form' ng-submit='submit()' ng-controller='mailTypeController'
    input#mail_type_form_email{type='text' placeholder='Введите свой e-mail…'}
    i.b-icon.icon-mail-type-newsrelease-mail
    label[for='mail_type_form_email']
    button.b-button.b-button_mailtype-newsrelease type='submit'
      | OK

