/!
  300х250 редакционные проекты

.b-banner.b-banner_popular
  #div-gpt-ad-1449496022422-0 style='margin: auto; vertical-align: top;'

javascript:
  googletag.cmd.push(function() {googletag.defineSlot('/136502702/Banner_300x250_spec', [300, 250], 'div-gpt-ad-1449496022422-0').addService(googletag.pubads())});
