/!
  300х100
.b-banner.b-banner_popular2
  #div-gpt-ad-1451374609895-0 style='height:100px; width:300px;'

javascript:
  googletag.cmd.push(function() { googletag.defineSlot('/136502702/Banner_300x100_vibor', [300, 100], 'div-gpt-ad-1451374609895-0').addService(googletag.pubads()); });
