<div id="smi2adblock_80684"><a href="http://smi2.net/">Ќовости —ћ»2</a></div>
<script type="text/javascript" charset="utf-8">
    (function() {
        var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
        sc.src = 'http://news.smi2.ru/data/js/80684.js'; sc.charset = 'utf-8';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
    }());
</script>