<div class="b-banner b-banner_horisontal b-banner_tgb no-print">
  <div class="b-banner__inner">
    <div id="unit_86775"><a href="http://smi2.ru/">Новости smi2.ru</a></div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  (function() {
    var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
    sc.src = '//smi2.ru/data/js/86775.js'; sc.charset = 'utf-8';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
  }());
</script>