.b-banner.b-banner_horisontal.b-banner_spec-leaderboard.no-print
  #div-gpt-ad-1453823448857-0 style='margin: auto; vertical-align: top;'
javascript:
  googletag.cmd.push(function() {googletag.defineSlot('/136502702/Banner_970x120_story1', [[970, 90], [970, 250], [970, 120]], 'div-gpt-ad-1453823448857-0').addService(googletag.pubads())});