/!
  Топлайн
.b-banner.b-banner_topline.no-print
  .b-banner__inner
    #div-gpt-ad-1449233334715-0 style='margin: auto; vertical-align: top;'

javascript:
  googletag.cmd.push(function() { googletag.defineSlot('/136502702/Banner_100_percent_head', [[1260, 250], [970, 120], [1, 1], [970, 250], [970, 90]], 'div-gpt-ad-1449233334715-0').addService(googletag.pubads());});
