/!
  300х600

.b-banner.b-banner_vertical
  #div-gpt-ad-1449493289827-0 style='margin: auto; vertical-align: top;'

javascript:
  googletag.cmd.push(function () { googletag.defineSlot('/136502702/Banner_300x600_3', [300, 600], 'div-gpt-ad-1449493289827-0').addService(googletag.pubads()); });
