/!
  Баннер 300х600,240х400
#vbanner_5
  #div-gpt-ad-1449575342036-0 style='margin: auto; vertical-align: top;'

javascript:
  googletag.cmd.push(function() {googletag.defineSlot('/136502702/Banner-300x600', [[300, 600], [1, 1]], 'div-gpt-ad-1449575342036-0').addService(googletag.pubads()); });
