/!
  300х600 2

.b-banner.b-banner_vertical
  #div-gpt-ad-1453890663766-0 style='margin: auto; vertical-align: top;'

javascript:
  googletag.cmd.push(function () { googletag.defineSlot('/136502702/Banner_300x600_2', [[240, 400], [300, 600]], 'div-gpt-ad-1453890663766-0').addService(googletag.pubads()); });