/!
  300х600 Менеджмент
.b-banner.b-banner_vertical
  #div-gpt-ad-1449493626323-0 style='margin: auto; vertical-align: top;'

javascript:
  googletag.cmd.push(function () { googletag.defineSlot('/136502702/Banner_300x600_4', [300, 600], 'div-gpt-ad-1449493626323-0').addService(googletag.pubads()); });

