/!
  300х600 1
.b-banner.b-banner_vertical
  #div-gpt-ad-1449148456337-0

javascript:
  //Вертикальные баннеры
  googletag.cmd.push(function (){googletag.defineSlot('/136502702/Banner-300x600', [[300, 600], [1, 1]], 'div-gpt-ad-1449148456337-0').addService(googletag.pubads());});
