/статья списочная страница
li.b-article.b-article_list
  /картинка
  - if document.has_image? && document.image.has_version?(:small)
    = link_to relative_link(document.url), class: 'b-article__image'
      /тень
      - if document.gallery? || document.video? || document.online?
        .b-article__image-shadow
      /иконка
      - if document.gallery?
        i.b-icon.icon-photo2-medium
      - elsif document.video?
        i.b-icon.icon-video2-medium
      - elsif document.online?
        i.b-icon.icon-broadcast-medium
      = image_with_dimension(document.image, :small, alt: nil, image_class: nil)

  = content_tag 'div', class:["b-article__left-inner", ('whole_width' if not document.has_image?)].compact.join(' ') do
    - if defined?(newspaper)
      /заголовок
      - if document.has_newspaper_title?
        .b-article__title
          = link_to relative_link(document.url) do
            = document.newspaper_title
            - if document.pay_required?
              span.b-icon.b-icon--svg.b-icon--grey-lock
              span.b-icon.b-icon--svg.b-icon--grey-unlock


      /подзаголовок
      - if document.has_newspaper_subtitle?
        .b-article__subtitle
          a{href="#{relative_link(document.url)}"}== document.newspaper_subtitle
    - else
      /заголовок
      - if document.has_title?
        .b-article__title
          = link_to relative_link(document.url) do
            = document.title
            - if document.pay_required?
              span.b-icon.b-icon--svg.b-icon--grey-lock
              span.b-icon.b-icon--svg.b-icon--grey-unlock
      /подзаголовок
      - if document.has_subtitle?
        .b-article__subtitle
          a{href="#{relative_link(document.url)}"}== document.subtitle

    /дата публикации
    - if document.has_published_at? && defined?(newspaper)
      = render 'common/comment', document: document
    - else
      = render 'common/published_at', document: document
