/блог профессионала, списочная страница
li.b-blog.b-blog_list
  .b-blog__inner
    - if document.has_author?
      = link_to relative_link(document.url), :class => 'b-blog__portrait' do
        - if document.author.has_portrait?
          /верстка элемента зависит от порядкового номера
          - if document.author.portrait.has_version?(:type2)
            = image_with_dimension(document.author.portrait, :type2, alt: nil, image_class: nil)

  .b-blog__quote__wrapper
    .b-blog__title = link_to relative_link(document.url) do
      = document.title
      - if document.pay_required?
        span.b-icon.b-icon--svg.b-icon--grey-lock
        span.b-icon.b-icon--svg.b-icon--grey-unlock
    .b-blog__subtitle== link_to raw(document.subtitle), relative_link(document.url)

    /дата публикации
    - if  document.has_published_at?
      = render 'common/published_at', document: document
