/действующее лицо, списочная страница
li.b-character.b-character_list
  /картинка
  .b-character__inner
    - if document.has_portrait? && document.portrait.has_version?(:type2)
      .b-character__portrait
        = image_with_dimension(document.portrait, :type2, alt: nil, image_class: nil)
    - else
      .b-character__portrait
        img.placeholder-image{width="100" height="100" src='/assets/placeholder-level2.png'}

  .b-character__quote__wrapper { class = (document.has_portrait? ? '' : 'full-width') }
    /заголовок
    .b-character__title = link_to document.title, relative_link(document.url)
    /подзаголовок
    - if document.has_subtitle?
      .b-character__subtitle
        a{href="#{relative_link(document.url)}"}
          == document.subtitle

    /дата публикации
    - if  document.has_published_at?
      = render 'common/published_at', document: document
