li.b-column.b-column_list
  /автор
  .b-column__inner
    - if document.has_author?
      = link_to relative_link(document.url), :class => 'b-column__portrait' do
        - if document.author.has_portrait? && document.author.portrait.has_version?(:type1)
          /верстка элемента зависит от порядкового номера
          - if document.author.portrait.has_version?(:type2)
            = image_with_dimension(document.author.portrait, :type2, alt: nil, image_class: nil)

  .b-column__quote__wrapper
    /заголовок
    .b-column__title = link_to relative_link(document.url) do
      = document.title
      - if document.pay_required?
        span.b-icon.b-icon--svg.b-icon--grey-lock
        span.b-icon.b-icon--svg.b-icon--grey-unlock
    /подзаголовок
    .b-column__subtitle== link_to document.subtitle, relative_link(document.url)

    /дата публикации
    - if  document.has_published_at?
      = render 'common/published_at', document: document
