li.b-quote.b-quote_list
  .b-quote__inner
    /автор
    - if document.has_quote_author?
      .b-quote__portrait
        /верстка элемента зависит от порядкового номера
        - if document.portrait.has_version?(:type2)
          = image_with_dimension(document.portrait, :type2, alt: nil, image_class: nil)

  .b-quote__quote__wrapper
    .b-quote__title = link_to document.title, relative_link(document.url)
    - if document.has_subtitle?
      .b-quote__subtitle == link_to document.subtitle, relative_link(document.url)

    /дата публикации
    - if  document.has_published_at?
      = render 'common/published_at', document: document
