- render_title "Подкаст. #{@podcast.title}"


= render 'm/blocks/caption_and_menu'

/формирование title для страницы
- render_title('@newsrelease.title')

.b-document
  .body
    .b-podcast
      .b-podcast__header = "#{@podcast.title} от #{@podcast.published_at.strftime('%d.%m.%Y')}"

      .b-podcast__player
        /тег аудио
        audio#podcast
          source {src="#{cdn_url(@podcast.url)}" type="audio/ogg; codecs=vorbis" }
          source {src="#{cdn_url(@podcast.url)}" type="audio/mpeg"}
          | Тег audio не поддерживается вашим браузером.
          = link_to 'Скачайте подкаст', "#{cdn_url(@podcast.url)}"

        #player
          button#play

          #timer
            span#timer1 = ""
            | /
            span#timer2 = ""

          #timeline_bg
            #timeline_bg_inner
              #timeline

        = link_to 'RSS', "#{rss_podcast_url}", class: 'b-podcast__rss'
        = link_to "Скачать подкаст #{(@podcast[:size] / (1024 ** 2)).round(2)} mb", "#{cdn_url(@podcast.url)}", class: 'b-podcast__download'

      .b-podcast__other
        .title
          | Другие подкасты
        - @podcasts.each do |podcast|
          li.item
            = link_to "Подкаст. #{podcast.title} от #{podcast.published_at.strftime('%d.%m.%Y')}", podcast_url(podcast.published_at)

= javascript_include_tag 'podcast', debug: true, defer:true