-if @comment
  .b-comment-block__wrapper.no-print
    .b-comment-block__header
      = link_to "/comments#{relative_link(@document.url)}",rel:'nofollow', class: 'b-comment-block__header__inner' do
        | Комментарии &nbsp;
        | (
        span.counter {data={'xid' => @document.id}}
        | )

    a.b-comment-block(href="/comments#{relative_link(@document.url)}#hcm=#{@comment.id}" rel='nofollow')
      i.b-icon.icon-avatar
      .nick
        = @comment.nick
      .time
        /= Date.parse(@comment.time)
        = Russian::strftime(Time.parse(@comment.time), "%H:%M %d.%m.%Y")
      .text
        = @comment.text

      .b-document-block__votes
        i.b-icon.icon-vote_up
        span.counter = @comment.vote_up
        i.b-icon.icon-vote_down
        span.counter = @comment.vote_dn

      .b-button.b-button_comment
        | Комментировать
-else
  .b-comment-block__wrapper.no-print
    .b-comment-block__header
      = link_to "/comments#{relative_link(@document.url)}",rel:'nofollow', class: 'b-comment-block__header__inner' do
        | Комментарии &nbsp;
        | (
        span.counter {data={'xid' => @document.id}}
        | )

    .b-comment-block.no-comments
      .text
        | Пока никто не прокомментировал этот материал. Вы можете стать первым и начать дискуссию.

      = link_to "/comments#{relative_link(@document.url)}",rel:'nofollow', class: 'b-button b-button_comment' do
        | Комментировать
