.b-search__form.b-company-form {ng-class='{"b-search__form--focused" : focus}'}
  form { action="/people/index/search" name='search'}
    input { type='text' id="search_field" name="q" value="#{params[:q]}" ng-focus='focus = true' ng-blur='focus=false'}
    button.b-button.b-button_search {type='submit'}
      .b-icon.icon-loupe
