- render_title('Справочник компаний')


.b-document.b-document_company-list
  .b-document__left
    h1.b-company-column__title
      a {href='/people/index'} = 'Справочник персон'
    = render 'people/form'
    .b-company-column__info
      .sort_by
        | Фильтровать:
        a = 'По алфавиту'

      / .total = "Всего #{@people[:stat][:total]} #{Russian.p(@people[:stat][:total], "персона", "персоны", "персон")}"
    .b-company-index
      = render 'alphabetical_index'

    .b-companies
      .b-companies__group.b-companies__group--letter = params[:slug]
      .b-company-layout
        - split_array(@items[:found]).each do |column|
          .b-company-column
            - column.each do |person|
              .b-person
                = link_to "#{person[:last_name]}, #{person[:first_name]}", relative_link(person[:url])

    - if @groups.length > 1
      .b-person-index.b-person-index__groups
        - @groups.each do |group|
          - if @group == group
            b = @group
          - else
            = link_to group, "/people/#{params[:filter]}/#{params[:slug]}/groups/#{group}"
        
  .b-document__right
    = render 'document/right/default'
