- render_title('Справочник компаний')


.b-document.b-document_company-list
  .b-document__left
    h1.b-company-column__title
      | Справочник персон
    = render 'people/form'
    .b-company-column__info
      .sort_by
        | Фильтровать:
        a = 'По алфавиту'

    /.total = "Всего #{@items[:total]} #{Russian.p(@items[:total], "персона", "персоны", "персон")}"
    .b-company-index
      = render 'alphabetical_index'


    .b-companies
      - @items.each do |items|
        .b-companies__group.b-companies__group--letter = items.keys[0]
        .b-company-layout.b-company-layout--people
          - split_array(items.values[0]).each_with_index do |column, i|
            .b-company-column
              - column.each do |person|
                .b-person
                  = link_to "#{person[:last_name]}, #{person[:first_name]}", relative_link(person[:url])
        - if items[:total] > 5
          a.b-company-column__item.b-company-column__item--button {href = "/people/index/#{items.keys[0]}"}
            .b-company-column__container
              .b-company-column__item__title
                = "Еще #{items[:total]-5} #{Russian.p(items[:total]-5, "персона", "персоны", "персон")}"
                .b-dots
                  .b-dot
                  .b-dot
                  .b-dot



  .b-document__right
    = render 'document/right/default'