- render_title('Справочник персон')


.b-document.b-document_company-list
  .b-document__left
    h1.b-company-column__title
      a {href='/people/index'} = 'Справочник персон'
    = render 'people/form'
    .b-company-column__info
      .sort_by
        | Фильтровать:
        a = 'По алфавиту'

      .total = "Найдено: #{@items[:stat].try(:[], :total).to_i} #{Russian.p(@items[:stat].try(:[], :total).to_i, "персона", "персоны", "персон")}"
    .b-company-index
      = render 'alphabetical_index'

    .b-companies.b-companies--top-offset
      .b-company-layout
        - split_array(@items[:found]).each do |column|
          .b-company-column
            - column.each do |person|
              .b-person
                = link_to "#{person[:last_name]}, #{person[:first_name]}", relative_link(person[:url])

  .b-document__right
    = render 'document/right/default'

