/формирование title для страницы

- render_title(@person.title)

.b-document.b-document_company
  .b-document__left
    
    - if @person.has_image? && @person.image.has_version?(:type1)
      = image @person.image.type1.url, '', 'b-person-image'

    
    = render 'people/header'

    .b-person-biography
      | Биография
      
    br
    
    - if @person.has_biography?
      div{replace-newlines} == @person.biography

    - if !@person.boxes.nil?
      - @person.boxes.each do |box|
        - if 'paragraph' == box.type
          p == box.body
        - else
          = render_if_exist "/boxes/#{box.type}", box: box


    /блок материалов компании
    = render_block "/includes/#{relative_link(@person.url)}/materials"

  .b-document__right.no-print
    = render 'document/right/default'


/кнопка редактирования документа(только в девелопменте и на стейджинге)
= render 'common/buttons/editor', url: @person.url