/формирование title для страницы
- render_title('Поиск')

.b-document.b-document_search
  .b-document__left
    div{stegostoma-shark}

    /результаты поиска
    .b-search__results{somniosus-shark}

  .b-document__right.no-print
    = render 'document/right/part'
