.b-document--ampersand
  .b-character__quote
    a
      font-family: $font6
  &.b-document--ampersand-list
    padding: 81px 30px 107px

  overflow: hidden
  margin: auto
  padding-bottom: 0
  +breakpoint(0 $medium)
    width: 960px
  .b-article_level3 .b-article__left-inner
    padding: 28px 0 31px 45px
  .b-lifestyle.b-lifestyle_padding-bottom
    height: 399px
  .b-article_level2
    border-color: $ved_green2
  .b-article.b-article_level2.b-article_padding-top
    padding-top: 20px
  .b-lifestyle__title
    +font(white, $font13, 30, 30)
  .b-article_level3
    .b-article__title
      +font(black, $font5, 21, 25)
  .b-article_level2
    .b-article__title
      +font(black, $font6, 21, 24)
  .b-article_level1
    .b-article__title
      +font(black, $font5, 21, 25)
  .b-lifestyle__subtitle
    +font(white, $font12, 17, 21)
  .b-article__subtitle

    a
      +font($additional_text2, $font12, 17, 21)
      color: $additional_text2
  .b-character
    .b-character__name
      margin-top: 18px
      padding-left: 3px
      .name
        +font($primary_text, $font12, 15, 19, normal, bold)
    .job
      +font($additional_text, $font12, 15, 19)

    .b-character__quote
      background: white
      border: none
      &:before
        display: none
      &:after
        border-left-color: white
  .b-rubric__3col-inner:first-child
    border-bottom: 1px dotted $ved_green2
  .b-ampersand-release__left
    overflow: hidden
    margin-bottom: 40px

  .b-ampersand-release__title
    +font($primary_text, $font13, 46, 48)
    text-align: center
    width: 700px
    margin: 32px auto 36px

  .b-ampersand-release__line
    border: none
    border-top: 4px solid $ved_green
    margin: 0 0 30px

.b-ampersand-bottomline
  clear: both
  height: 75px
  border-top: 1px solid $ved_green2
  &.b-ampersand-bottomline--release-top
    padding-left: 45px
    height: 80px
    a.b-ampersand-nav
      margin-top: 26px
    .b-ampersand-sharing
      margin-top: 18px
      padding-right: 17px
      .b-ampersand-sharing__icons
        margin-right: 0
  a.b-ampersand-nav
    float: left
    +font($ved_green, $font5, 17, 21)
    margin-top: 23px
    .b-ampersand-nav__icon
      width: 27px
      height: 27px
      border: 2px
      overflow: hidden
      border: 2px solid $ved_green
      border-radius: 15px
      display: inline-block
      vertical-align: middle
      margin-right: 10px

    .b-ampersand-nav__text
      display: inline-block
      vertical-align: middle
    &.b-ampersand-nav--next
      .b-ampersand-nav__icon
        margin-left: 10px
  a.b-ampersand-download
    float: right
    margin-top: 23px
    +font($ved_green, $font5, 15, 21)

    .b-ampersand-download__text,
    .b-ampersand-download__pdf-icon,
    .b-ampersand-download__download-icon
      display: inline-block
      vertical-align: middle
    .b-ampersand-download__pdf-icon
      margin-right: 6px
    .b-ampersand-download__download-icon
      padding-top: 2px

  .b-ampersand-sharing
    float: right
    height: 45px
    border-left: 1px solid $ved_green2
    margin-left: 30px
    padding-left: 29px
    white-space: nowrap
    margin-top: 15px

    .b-ampersand-sharing__text
      display: inline-block
      vertical-align: middle
      color: $additional_text2
      margin-right: 6px
    .b-ampersand-sharing__icons
      display: inline-block
      white-space: nowrap
      vertical-align: middle
      padding: 12px 0
      margin-right: -20px
      .b-sharing-facebook,
      .b-sharing-twitter,
      .b-sharing-vk
        display: inline-block
        vertical-align: middle
        margin: 0 22px




.b-ampersand-release
  position: relative
  width: 1200px
  height: 650px
  overflow: hidden
  margin-bottom: 40px
  +breakpoint(0 $medium)
    width: 900px
    .b-ampersand-documents
      padding-top: 20px
      padding-bottom: 21px
    li.b-article.b-article_level3
      width: 100%
      display: block

      .b-article__left-inner
        width: 100%
        display: block
        padding: 8px 40px 9px

  .b-ampersand-release__header
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 100px
    background: rgba(255,255,255,0.8)
    &.b-ampersand-release__header--inverse
      background: rgba(0, 0, 0, 0.4)
      .b-release-info
        color: white


    .b-partner-logo.b-partner-logo--big
      position: absolute
      top: 15px
      left: 55px
      height: 70px
      width: 250px
      line-height: 70px

      img
        max-width: 100%
        max-height: 100%
        width: 100%

    .b-release-info
      position: absolute
      right: 50px
      top: 34px
      text-align: right
      +font($additional_text2, $font5, 15, 20)

  .b-ampersand-release__title
    position: absolute
    top: 50%
    margin: 0
    margin-top: -65px
    left: 45px
    text-align: left
    transform: translate(0, -50%)
    +font(white, $font13, 41, 45)
    +breakpoint(0 $medium)
      margin-top: -107px
  .b-ampersand-release__shadow
    background: $release_shadow
    display: block
    img
      opacity: .5
  .b-ampersand-release__info
    position: absolute
    bottom: 0
    right: 0
    left: 0
    background: rgba(255,255,255,0.8)


.b-document.b-document_advert_article
  .b-social__layout-mutation
    h2
      padding-left: 0