header.b-header

  &.b-header--ampersand
    padding-bottom: 0
    padding-top: 28px
  &.b-header--main
    width: 100%
    background: image-url('ampersand.jpg')
    background-position: center 100%
    background-size: cover
    .b-header__line
      height: 122px
      top: -29px
    .b-feedback, .b-ved-link
      color: white
      position: relative
      z-index: 10
    .b-header__line
      border: none
  .b-header__container
    width: 1200px
    margin: auto
    +breakpoint(0 $medium)
      width: 900px
  .b-header__line
    clear: both
    height: 100px
    line-height: 100px
    margin-top: 6px
    border-bottom: 1px solid $ved_green2
    border-top: 1px solid $line
    position: relative
    .b-partner-logo
      position: absolute
      left: 0
      img
        height: 45px
    .b-release-info
      position: absolute
      right: 0
      top: 29px
      text-align: right
      +font($additional_text2, $font5, 15, 21)
  .b-feedback
    float: right
    +font(#857871, $font5, 14, 17, normal, bold)
    margin-bottom: 6px

  .b-ved-link
    float: left
    +font(#857871, $font5, 14, 17, normal, bold)
    margin-bottom: 6px

    .b-ved-link__icon
      display: inline-block
      vertical-align: bottom
      margin-right: 7px

  .b-16-plus
    display: inline-block
    vertical-align: middle
    margin-left: 24px
    opacity: .5
  &.b-header--fixed
    position: fixed
    top: 0
    left: 0
    right: 0
    width: auto
    padding-top: 0
    border-bottom: 3px solid $ved_green
    z-index: 310
    .b-header__line
      margin-top: 0
      border: none


.b-course.b-course--hidden
  height: 0
  overflow: hidden
  border: none
  position: relative
  top: -56px