.b-document__header

  /газетный заголовок
  = render 'document/subrubric_newspaper'

  /заголовок
  h1.title{class="#{@owl_status == 'ok' ? '' :'noselect'}"}
    = @document.title
  /подзаголовок
  - if @document.has_newspaper_subtitle? && !@document.has_rubrics?
    .subtitle{class="#{@owl_status == 'ok' ? '' :'noselect'}"}== @document.newspaper_subtitle
  - if @document.has_subtitle?
    .subtitle{class="#{@owl_status == 'ok' ? '' :'noselect'}"}== @document.subtitle

  /время-источник
  .b-document__data

    time.pubdate{datetime='#{@document.published_at}' pubdate='#{@document.published_at}' class="#{ @document.has_authors? ? '' : 'pubdate--no-border'}"}
      - if @document.pay_required?
        .pubdate__lock
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
      - if @document.has_published_at?
        = link_to @document.published_at.strftime('/archive/%Y/%m/%d')
          span.b-published_at_time #{Russian::strftime(@document.published_at, "%d %B").strip}
          - if  @document.published_at.strftime('%Y') != Time.now.strftime('%Y')
            = @document.published_at.strftime(' %Y ')
          b
            = Russian::strftime(@document.published_at, " %H:%M")
      - if @document.has_datetime_and_flag?
        - if @document.datetime_and_flag!=''
          br
          span.b-published_at_time
            = render 'common/edit_date'

    /список авторов
    - if @document.has_authors?
      = render 'document/breadcrumbs', authors: @document.authors

  - if @owl_status == 'ok'
    = render 'common/social_icons', freeeze: false

  - if !@document.editorial?
    /картинка
    = render 'document/image'

.b-document__body.b-social__layout-mutation
  = render 'document/paywall_boxes'
