.b-document__header.b-document__header_blog
  .b-document__blog__quote

    = render 'document/subrubric_newspaper'
    /заголовок
    h1.title{class="#{@owl_status == 'ok' ? '' :'noselect'}"} = @document.title

    - if @document.has_subtitle?
      .subtitle{class="#{@owl_status == 'ok' ? '' :'noselect'}"}== @document.subtitle

  .b-document__blog__inner
    - if @document.has_author? && @document.author.has_portrait? && @document.author.portrait.has_version?(:type3)
      .portrait
        = image_with_dimension(@document.author.portrait, :type3, alt: nil, image_class: nil)
    - else
      .portrait
        img.placeholder-image{width='70' height='70' src='/assets/placeholder-level1.png'}

    .b-document__blog__name
    - if @document.has_author?
      .name
        = "#{[@document.author.first_name, @document.author.last_name].join(' ')}#{ ', ' if @document.author.has_appointment?}"
        span.job = @document.author.appointment

  .b-document__data
    time.pubdate.pubdate--no-border{datetime='#{@document.published_at}' pubdate='#{@document.published_at}' }
      - if @document.pay_required?
        .pubdate__lock
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
      - if @document.has_published_at?
        = link_to @document.published_at.strftime('%d.%m.%Y'), "#{@document.published_at.strftime('/archive/%Y/%m/%d')}"
      = link_to @document.source_title, @document.source_url, class: 'link'

  - if @owl_status == 'ok'
    = render 'common/social_icons', freeeze: false

.b-document__body.b-social__layout-mutation
  = render 'document/paywall_boxes'
