/действующее лицо
.b-document__header

  = render 'document/subrubric_newspaper'

  /заголовок
  h1.title{class="#{@owl_status == 'ok' ? '' :'noselect'}"} = @document.title

  - if @document.has_subtitle?
    .subtitle{class="#{@owl_status == 'ok' ? '' :'noselect'}"} == @document.subtitle

  .b-document__data
    time.pubdate{datetime='#{@document.published_at}' pubdate='#{@document.published_at}' class="#{ @document.has_authors? ? '' : 'pubdate--no-border'}"}
      - if @document.pay_required?
        .pubdate__lock
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
      - if @document.has_published_at?
        = link_to @document.published_at.strftime('%d.%m.%Y'), "#{@document.published_at.strftime('/archive/%Y/%m/%d')}"
      = link_to @document.source_title, @document.source_url, class: 'link'

    - if @document.has_authors?
      = render 'document/breadcrumbs', authors: @document.authors

  - if @owl_status == 'ok'
    = render 'common/social_icons', freeeze: false
  /картинка
  = render 'document/image'

.b-document__body.b-social__layout-mutation
  = render 'document/paywall_boxes'
