/колонка
.b-document__header.b-document__header_column
  .b-document__header__left.b-document__header__left_column
    = render 'document/subrubric_newspaper'

    /заголовок
    h1.title{class="#{@owl_status == 'ok' ? '' :'noselect'}"} = @document.title

    - if @document.has_subtitle?
      .subtitle{class="#{@owl_status == 'ok' ? '' :'noselect'}"} == @document.subtitle

    /= render 'common/addthis'

    / я понимаю, что тут даты не должно быть по дизайну, но она тут нужна. надо режить с дизайнером.
    .b-document__data
      time.pubdate.pubdate--no-border{datetime='#{@document.published_at}' pubdate='#{@document.published_at}'}
        - if @document.pay_required?
          .pubdate__lock
            span.b-icon.b-icon--svg.b-icon--grey-lock
            span.b-icon.b-icon--svg.b-icon--grey-unlock
        - if @document.has_published_at?
          = link_to @document.published_at.strftime('%d.%m.%Y'), "#{@document.published_at.strftime('/archive/%Y/%m/%d')}"

  .b-document__header__right.b-document__header__right_column
    - if @document.has_author? && @document.author.has_first_name? && @document.author.has_last_name?
      - if @document.author.has_portrait?
        .b-face
          = image_with_dimension(@document.author.portrait, :type1, alt: nil, image_class: nil)
          .b-face__name = "#{@document.author.first_name} #{@document.author.last_name}"
      - else
        .b-face
          img.placeholder-image{width='150' height='150' src='/assets/placeholder-level1.png'}
          .b-face__name = "#{@document.author.first_name} #{@document.author.last_name}"

  - if @owl_status == 'ok'
    = render 'common/social_icons', freeeze: false

.b-document__body.b-social__layout-mutation
  = render 'document/paywall_boxes'
