- document_template = name_for_document(@document)
.b-news-item__wrapper
  article.b-news-item.b-news-item_one

    /заголовок
    .b-news-item__title.b-news-item__title_one
      h1 = @document.title

    .b-news-item_one__params
      time.pubdate{datetime='#{@document.published_at}' pubdate='#{@document.published_at}' }
        - if @document.pay_required?
          .pubdate__lock
            span.b-icon.b-icon--svg.b-icon--grey-lock
            span.b-icon.b-icon--svg.b-icon--grey-unlock
        - if @document.has_published_at?
          = link_to @document.published_at.strftime('/archive/%Y/%m/%d')
            span.b-published_at_time #{Russian::strftime(@document.published_at, "%d %B").strip} 
            - if  @document.published_at.strftime('%Y') != Time.now.strftime('%Y')
              = @document.published_at.strftime(' %Y ')
            b
              = Russian::strftime(@document.published_at, " %H:%M")
          - if @document.has_datetime_and_flag?
            - if @document.datetime_and_flag!=''
              span.b-published_at_time
                = render 'common/edit_date'

          - if @document.has_source_title?
            - if !@document.source_url.index('vedomosti').nil?
              = link_to @document.source_title, @document.source_url, class: 'link b-document__authority'
            - else
              = link_to @document.source_title, @document.source_url, rel: 'nofollow', class: 'link b-document__authority'

      = render 'common/social_icons'

    .b-news-item__text.b-news-item__text_one
      = render 'document/paywall_boxes'

    - if @document.links.key?(:reference)
      = render 'document/also_read', documents: @document.links[:reference], document_template: document_template
