.b-document__header.b-document__header_quote

  = render 'document/subrubric_newspaper'

  /заголовок
  h1.title{class="#{@owl_status == 'ok' ? '' :'noselect'}"} = @document.title

  - if @document.has_subtitle?
    .subtitle{class="#{@owl_status == 'ok' ? '' :'noselect'}"} == @document.subtitle

  - if @owl_status == 'ok'
    = render 'common/social_icons'

  .b-document__data
    time.pubdate{datetime='#{@document.published_at}' pubdate='#{@document.published_at}'  class="#{ @document.has_authors? ? '' : 'pubdate--no-border'}"}
      - if @document.pay_required?
        .pubdate__lock
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
      - if @document.has_published_at?
        = link_to @document.published_at.strftime('%d.%m.%Y'), "#{@document.published_at.strftime('/archive/%Y/%m/%d')}"
      = link_to @document.source_title, @document.source_url, class: 'link'

    - if @document.has_authors?
      = render 'document/breadcrumbs', authors: @document.authors

  .b-document__quote
    - if @document.has_quote_author? && @document.has_quote_job? && @document.has_quote_body?
      .b-document__quote__body
        div = @document.quote_body

      .b-document__quote__inner
        - if @document.has_portrait?
          .portrait
            = image_with_dimension(@document.portrait, :type3, alt: nil, image_class: nil)
        - else
          .portrait
            img.placeholder-image{width='70' height='70' src='/assets/placeholder-level3.png'}
        .b-document__quote__name
          | #{ [@document.quote_author, (', ' if @document.has_quote_job?)].join('') }
          span.job = @document.quote_job

.b-document__body
  = render 'document/paywall_boxes'
