- render_title(strip_tags(@ampersand_release.title), 'Ведомости& - ')
.b-document.b-document--ampersand
  h1.b-ampersand-release__title = raw @ampersand_release.title
  ul.b-list
    - @documents.each_with_index do |document, index|
      - rubric_template = 'main'
      = render "m/blocks/types/#{name_for_item(document)}", document: document, index: 0, rubric_template: rubric_template

  = render 'partner/blocks/release_bottomline', {release: @ampersand_release}