- document_template = 'advert_article'
- image_alt = @document.has_image_alt? ? @document.image_alt : ''
.b-document.b-document_article.js-mediator-article#document{ ng-controller = "boxesController" class="b-document_#{document_template}"}
  .body
    .title= @document.title
    - if @document.has_subtitle?
      h2.subtitle== @document.subtitle
    - if @document.has_author?
      .info
        - if @document.author.has_portrait? && @document.author.portrait.has_version?(:type3)
          = image_tag image_url(@document.author.portrait.type3.url), class: 'avatar'
        .info-holder
          .name
            = @document.author.title
            - if @document.author.has_appointment?
              |,
              span.job= @document.author.appointment

    - if @document.has_quote_author? && @document.has_quote_job? && @document.has_quote_body?
      .quote
        .info
          - if @document.has_portrait? && @document.portrait.has_version?(:type3)
            = image_tag image_url(@document.portrait.type3.url), class: 'avatar'
          .info-holder
            .name
              = @document.quote_author
              - if @document.has_quote_job?
                |,
                span.job= @document.quote_job
        .message.green.bottom
          = @document.quote_body

    /- if !@document.video? && @document.has_image?
      - if @document.gallery?
        = render 'm/document/boxes/gallery'
      - elsif @document.image.has_version?(:mobile_high)
        = image @document.image.mobile_high.url, image_alt, 'b-main-image'
      - elsif @document.image.has_version?(:normal)
        = image @document.image.normal.url, image_alt, 'b-main-image'
      - elsif @document.image.has_version?(:default)
        = image @document.image.default.url, image_alt, 'b-main-image'

      .image-credits
        .alt= image_alt

        - if @document.has_image_source? || @document.has_image_author?
          .credits
            - text = [@document.image_author.strip, @document.image_source.strip].reject(&:empty?).join(' / ')
            | Фото: #{text}

          - unless @document.gallery?
  .body
    = render 'm/document/boxes_free'

      = render 'm/banners/bottom'
- if @document && @document.has_links? && @document.links[:ampersand]
  = render 'partner/blocks/release_bottomline', release: @document