= stub_error
doctype html
html{amp}
  head
    meta {charset="utf-8"}
    title = "#{@document.title}"
    link {rel="canonical" href="http://www.#{@document.url}"}
    meta {name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"}
    link {href="https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic" rel="stylesheet"}
    = render 'amp/common/json_ld', document:@document
    = render 'amp/common/style'
    - if @document.has_box_type?('gallery') || @document.has_box_type?('inset_document')
      |
        <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

    - if @document.has_box_type?('text')
      |
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    |
      <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
      <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
      <script async src="https://cdn.ampproject.org/v0.js"></script>
  body
    = render 'chunks/amp_ga'
    #root
      = yield
    /amp-ad {width=640 height=200 type= "doubleclick" data-slot= "/136502702/Mob_version_amp" layout='responsive'}
    = render_block '/includes/popular24.mobile'
      #root_footer
