/= @document.to_json
- image_alt = @document.has_image_alt? ? @document.image_alt : ''
header
  a.logo{href="http://www.vedomosti.ru" }
    amp-img {src="http://cdn.vedomosti.ru/image/2016/logo1.png" width="273" height="60" layout='responsive'}
  - if @document.has_rubric?
    .rubric
      a.back-icon {href="#{rubric_url(@document.rubric.slug)}"}
      =  @document.rubric.title

article
  .document-head
    h1.title = "#{@document.title}"
    - if @document.has_subtitle?
      h2.subtitle = @document.subtitle.html_safe
      - if @document.has_author?
        .info
          - if @document.author.has_portrait? && @document.author.portrait.has_version?(:type3)
            = image_tag image_url(@document.author.portrait.type3.url), class: 'avatar'
          .info-holder
            .name
              = @document.author.title
              - if @document.author.has_appointment?
                |,
                span.job= @document.author.appointment
    .date
      = l @document.published_at, format: :date_only
      - if @document.links[:authors].present?
        span.authors= @document.links[:authors].map { |author| author.bound_document.title }.join(', ')

  .social-share
    = render 'amp/common/sharings', url: @document.url
  - if @document.has_image? && @document.image.has_version?('normal')
    - image = @document.image
    amp-img {src="#{image_absolute_url(@document.image.normal.url)}" width="#{@document.image.normal.width}" height="#{@document.image.normal.height}" layout="responsive"
    srcset="#{image_srcset(image)}"}
    .image-credits
      .alt= image_alt

      - if @document.has_image_source? || @document.has_image_author?
        .credits
          - text = [@document.image_author.strip, @document.image_source.strip].reject(&:empty?).join(' / ')
          | Фото: #{text}
  .document-body
    - if @document.boxes.present?
      - boxes_with_links(@document).each do |box|
        = render_if_exist "amp/documents/boxes/#{box.type}", box: box, fail_template: 'amp/documents/not_implemented'
