- lang = ('A'..'Z').to_a.include?(params[:slug]) ? 'eng' : 'rus'
.b-nav-wrapper.b-nav-wrapper--person {ved-sticky='b-nav-wrapper--fixed' ved-sticky-offset='65' ng-init='lang="#{lang}"' ved-sticky-until='footer'}
  .b-navigator {ng-show='lang == "rus"' class="#{lang=='rus' ? '' : 'ng-cloak'}"}
    .b-company-letters
      /.b-navigator__label {ng-click = 'lang = "eng"'}
        .b-icon.b-icon--rus
      - ('А'..'Я').to_a.each do |page|
        - if !@index.index(page).nil?
          - if params[:slug] == page
            span.b-company-letters__letter.b-company-letters__letter--active = page
          - else
            a.b-company-letters__letter{href="/people/#{params[:filter]}/#{page}"} = page
  /.b-navigator {ng-show='lang == "eng"' class="#{lang=='eng' ? '' : 'ng-cloak'}"}
    .b-company-letters
      .b-navigator__label {ng-click = 'lang = "rus"'}
        .b-icon.b-icon--eng
      - ('A'..'Z').to_a.each do |page, i|
        - if !@index.index(page).nil?
          - if params[:slug] == page
            span.b-company-letters__letter.b-company-letters__letter--active = page
          - else
            a.b-company-letters__letter {href="/people/#{params[:filter]}/#{page}"}= page