- render_title('Справочник персон')

= render 'm/blocks/caption_and_menu'

.b-document.b-document_company-list
  .body
    h1.b-company-column__title.b-person__title
      | Справочник персон

    = render 'people/form'


    = render 'alphabetical_index'

    .b-company-column.b-company-column--main
      .b-company-column__item.b-company-column__item--letter = params[:slug]
      .b-person-list
        - @items[:found].each do |person|
          div
            = link_to "#{person[:last_name]}, #{person[:first_name]}", relative_link(person[:url])
      
    - if @groups.length > 1
      .b-person-index.b-person-index__groups
        select.b-person__select{select-box ng-model="group" ng-change="change(group)"}
          - @groups.each do |group|
            - if @group == group
              option{ng-value="'/people/#{params[:filter]}/#{params[:slug]}/groups/#{group}'" ng-selected="true"}= group
            - else
              option{ng-value="'/people/#{params[:filter]}/#{params[:slug]}/groups/#{group}'"}= group
