- render_title('Справочник персон')

= render 'm/blocks/caption_and_menu'

.b-document.b-document_company-list
  .body
    h1.b-company-column__title
      | Справочник персон

    = render 'people/form'


    = render 'alphabetical_index'
    .b-company-column.b-company-column--main
      - @items.each do |item|
        .b-company-column__item.b-company-column__item--letter = item.keys[0]
        .b-person-list
          - item.values[0].each do |person|
            div
              = link_to "#{person[:last_name]}, #{person[:first_name]}", relative_link(person[:url])
