- render_title('Справочник персон')

= render 'm/blocks/caption_and_menu'

.b-document.b-document_company-list.b-document_company-list--search
  .body
    h1.b-company-column__title.b-person__title
      = link_to 'Справочник персон', '/people'

    = render 'people/form'

    .b-company-label = "Найдено: #{@items[:stat].try(:[], :total).to_i} #{Russian.p(@items[:stat].try(:[], :total).to_i, "персона", "персоны", "персон")}"

    .b-person-list
      - (@items[:found] || []).each do |person|
        div
          = link_to "#{person[:last_name]}, #{person[:first_name]}", relative_link(person[:url])
