/формирование title для страницы

- render_title(@person.title)

= render 'm/blocks/caption_and_menu'

.b-document.b-document_person.js-mediator-article#document
  .body
  
    = render 'm/people/header'
    / = @person.inspect
    .b-person-biography
      | Биография
      
    br
    
    - if @person.has_image? && @person.image.has_version?(:mobile_high)
      = image @person.image.mobile_high.url, '', 'b-person__image'
    
    - if @person.has_biography?
      div{replace-newlines} == @person.biography

    - if !@person.boxes.nil?
      - @person.boxes.each do |box|
        - if 'paragraph' == box.type
          p == box.body
        - else
          = render_if_exist "m/document/boxes/#{box.type}", box: box

    /блок материалов компании
    = render_block "/includes/#{relative_link(@person.url)}/materials"
