- render_title('Вход на сайт')
- paywall = false if defined?(paywall).nil?

.b-part
  | Вход на сайт
  = link_to '', root_path, class: 'back'

.b-form.b-form_login
  = form_for @sign_in_form, url: '/sign_in_with_password' do |f|
    .group
      = f.label :email, 'E-mail'
      = f.text_field :email
      - if @sign_in_form.errors[:email].present?
        .error= @sign_in_form.errors[:email].first

    .group
      = f.label :password, 'Пароль'
      = f.password_field :password
      - if @sign_in_form.errors[:password].present?
        .error= @sign_in_form.errors[:password].first

    .actions
      = f.submit 'Войти'

  .restore-password= link_to 'Восстановить пароль', password_reset_email_form_path

  - unless paywall
    .more
      = link_to 'Регистрация', '/sign_up', class: 'button'

= render template: 'm/register/oauth_links'
