li.b-slider__item
  - if document.categories.parts.slug == 'quotes'
    = link_to relative_link(document.url), class: 'b-huhu b-huhu_quote' do
      /цитата
      .b-quote__inner
        - if document.has_quote_author? && document.has_quote_job?
          /автор
          - if document.has_portrait?
            .b-quote__portrait
              = image_with_dimension(document.portrait, :type1, alt: nil, image_class: nil)
          - else
            .b-quote__portrait
              img.medium_circle.placeholder-image{src='/assets/placeholder-level1.png'}
          /имя автора цитаты
          .b-quote__name
            = "#{[ document.quote_author, (", " if document.has_quote_job?) ].join("")}"
            - if document.has_quote_job?
              span.job = document.quote_job

      .b-quote__quote__wrapper
        - if document.quote_body.chars.length > 200
          .b-quote__quote.b-quote__quote_long = document.quote_body
        - elsif document.quote_body.chars.length <= 200 && document.quote_body.chars.length > 100
          .b-quote__quote.b-quote__quote_normal = document.quote_body
        - elsif document.quote_body.chars.length <= 100
          .b-quote__quote.b-quote__quote_short = document.quote_body

  - else
    = link_to relative_link(document.url), class: 'b-huhu'
      .b-huhu__header
        .title = document.title
        .subtitle== document.subtitle

      .b-huhu__image
        - if document.has_image? && document.image.has_version?(:normal)
          = image_with_dimension(document.image, :normal, alt: nil, image_class: nil)
