= content_tag element_tag, class: "b-article__image b-lifestyle #{element_class}" do
  = link_to relative_link(document.url), class: 'b-lifestyle__bg' do
    /тень на картинку
    .shadow
    /картинка
    /иконка видео или фото
    - if document.categories.parts.slug == 'galleries'
      i.b-icon.icon-photo2-big
    - if document.categories.parts.slug == 'video'
      i.b-icon.icon-video2-big
    - if document.has_image? && document.image.has_version?(:mobile_high)
      = image_with_dimension(document.image, :mobile_high, alt: nil, image_class: nil)

  .b-lifestyle__inner
    /сслыка-подложка
    = link_to '', relative_link(document.url), class: 'b-lifestyle__inner__link'
    /рубрика
    = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'lifestyle'
    = link_to relative_link(document.url) do
      /заголовок
      .b-lifestyle__title = document.title
      /подзаголовок
      .b-lifestyle__subtitle== document.subtitle
    /блок комментариев
    = render 'common/comment', document: document
