= content_tag element_tag, class: "b-article__image b-lifestyle #{element_class}" do
  = link_to relative_link(document.url), class: 'b-lifestyle__bg' do
    .shadow
    - if document.categories.parts.slug == 'galleries'
      i.b-icon.icon-photo2-big
    - if document.categories.parts.slug == 'video'
      i.b-icon.icon-video2-big
    - if document.has_image? && document.image.has_version?(:normal)
      = image_with_dimension(document.image, :normal, alt: nil, image_class: nil)

  .b-lifestyle__inner
    /сслыка-подложка
    = link_to '', relative_link(document.url), class: 'b-lifestyle__inner__link'
    = link_to relative_link(document.url) do
      .b-lifestyle__title = document.title
      .b-lifestyle__subtitle== document.subtitle
    = render 'common/comment', document: document
