- relative_url = relative_link(item.url)
li{newsline data-text_body = "#{!body.nil? && !body.empty?}" data-url="#{relative_url}" data-title="#{item.title}" data-id="#{item.id}" id="#{item.id}" target="#{item.id}" smooth-scroll offset='70' }
  /якорь новости
  a{class="b-news-item__name" name="#{relative_url}"}

  /дата, если другой день
  - if item.published_at.day!=@published || index == 0
    - @published = item.published_at.day
    time.b-news-date{datetime='#{item.published_at}'} = Russian::strftime(item.published_at, '%A %d.%m.%Y')

  /новость
  .b-news-item__wrapper
    article.b-news-item
      /заголовок
      .b-news-item__title {ng-class = '{active: open}'}
        time.b-news-item__time{datetime='#{item.published_at}' pubdate='#{item.published_at}' } = item.published_at.strftime('%H:%M')
        - if params[:top]
          a{href="/newsline/top#{relative_url}" ng-click='toggle_tab($event);add_body(item.id);' } = item.title
          a{href="/newsline/top#{relative_url}" class='b-news-item__arrow-down' ng-click='toggle_tab($event);add_body(item.id)'}
            i.b-icon.icon-arrow-down-tan
        - elsif params[:story_slug]
          a{href="/newsline/story/#{params[:story_slug]}#{relative_url}" ng-click='toggle_tab($event);add_body(item.id)' } = item.title
        -else
          a{href="/newsline#{relative_url}" ng-click='toggle_tab($event);add_body(item.id)' } = item.title
          a{href="/newsline#{relative_url}" class='b-news-item__arrow-down' ng-click='toggle_tab($event);add_body(item.id)'}
            i.b-icon.icon-arrow-down-tan

        i.b-icon.icon-arrow-up-tan {ng-click='toggle_tab($event);add_body(item.id)'}
        = link_to "//#{Settings.hosts.shark}#{relative_url}", target: '_blank', title: 'Открыть в новом окне' do
          i.b-icon.icon-fast-news-links

      /тело новости
      .b-news-item__text {ng-class = '{opened: open}' class = (body.present? ? 'showme' : '')} 
        - if item.has_source_title?
          .b-news-item__source
            a{href="#{item.source_url}" rel='nofollow'} = item.source_title
        - if body.present?
          = body
          = render 'common/social_icons', no_comments: true, no_printer: true
          = render 'common/banners/newsline', id: item.id
