/страница бумажной газеты на сайте
.b-newspaper__title
  = page.title

ul.b-newspaper__items
  - page.documents.each_with_index do |document, index|
    = render 'common/items/list/article', document: document, index: index, newspaper: true