= content_tag 'div', class: "b-photo" do
  .b-photo__bg
    .shadow
    img {src='http://placehold.it/580x380'}
  .b-photo__inner
    .b-photo__rubric
      | somerubric

    .b-photo__title
      | sometitle
    .b-photo__subtitle
      | somesubtitle
    /= render 'common/comment2'