= document.title
li.b-popular{class= item_class }
  .b-popular__left-inner
    .b-popular__number = index
    = render 'common/rubric_title', document: document, rubric_template: 'main', type: 'popular'
    .b-popular__title
      = link_to document.title, relative_link(document.url)
