li.b-theme-item
  - if document.has_image? && document.image.has_version?(:small)
    = link_to relative_link(document.url), :class => 'b-subrubric-item__image'
      = image_with_dimension(document.image, :small, alt: nil, image_class: nil)

  .b-theme-item__inner
    .b-theme-item__title = link_to document.title, relative_link(document.url)
    .subtitle== document.subtitle
    .b-theme-item__date
      .date = Russian.strftime(document.published_at, "%d %B, %Y")
      = render 'common/comment', document: document
