/*----- B-ARTICLE  -----*/
.b-article
  +clearfix
  +inline-block
  +base-mods('b-article')
  +base-mods('b-test')
  +base-transforms('b-article')

  //списочные страницы
  &.b-article_list
    text-align: left
    border-top: 1px dotted $line
    padding: 14px 0 14px
    width: 100%

    &:first-child
      border-top: 0

  &.b-article_level3
    .b-story &
      padding: 27px 0 13px 0

  &.b-article_slider
    width: 3 * $col + 2 * $gatter + px
    margin-right: $gatter + px

/*----- B-ARTICLE  -----*/


/*----- B-ARTICLE__IMAGE  -----*/
.b-article__image
  position: relative
  display: block

  img
    &.show-on-medium-screen
      display: none
      +breakpoint(0 $medium)
        display: block

    &.hide-on-medium-screen
      display: block
      +breakpoint(0 $medium)
        display: none

  .b-article_no-image &
    display: none

  //уровень 1
  .b-article_level1 &
    margin-right: $gatter + px
    width: 4 * $col + 3 * $gatter + px
    float: left
    margin-bottom: 10px

  .b-article_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      float: none
      width: 3 * $col + 2 * $gatter + px
      margin-bottom: 11px

  //уровень 2
  .b-article_level2 &
    margin-bottom: 11px
    .b-rubric_small-no-banner &
      position: absolute
      left: 0
      // +breakpoint(0 $medium)
      //   left: $padding + px

  .b-article_slider &
    margin-bottom: 11px

  .b-article_level2_mutate-to-level1 &
    float: left
    +breakpoint(0 $medium)
      width: 4 * $col + 3 * $gatter + px
      margin-right: $gatter + px
      margin-bottom: 10px

  .b-article_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: none

  //уровень 3
  .b-article_level3 &
    +breakpoint(0 $medium)
      display: none

    .b-rubric_media &,
    .b-rubric_media2 &
      display: block

  .b-rubric_lifestyle_small &
    width: 4 * $col + 3 * $gatter + px
    float: left
    margin-right: $gatter + px

  //списочные страницы
  .b-article_list &
    float: right
/*----- B-ARTICLE__IMAGE -----*/

/*----- B-ARTICLE__IMAGE-SHADOW -----*/
.b-article__image-shadow
  +single-transition(opacity, $time2, ease-in-out)
  opacity: 1
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: rgba(0,0,0,0.3)

  .b-article__image:hover &,
  .b-article__image.hover &
    opacity: 0
/*----- B-ARTICLE__IMAGE-SHADOW -----*/


/*----- B-ARTICLE__LEFT-INNER -----*/
.b-article__left-inner
  .b-story li:first-child &,
  .b-story li.b-article_list_first-child &
    width: 240px

  //уровень1
  .b-article_level1 &
    +inline-block
    width: 5 * $col + 4 * $gatter + px


  //уровень2
  .b-article_level2 &
    +inline-block
    width: 3 * $col + 2 * $gatter + px

    .b-rubric_books &,
    .b-rubric_small-no-banner &
      width: 15 * $col + px

  //материал для слайдер
  .b-article_slider
    +inline-block
    width: 3 * $col + 2 * $gatter + px

  //уровень3
  .b-article_level3 &
    +inline-block
    width: 3 * $col + 2 * $gatter + px

  //TODO внести эти модификаторы в уровень
  .b-article_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      float: left
      width: 5 * $col + 4 * $gatter + px

  .b-article_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      width: 3 * $col + 2 * $gatter + px

  .b-article_level2_mutate-to-level2-2 &
    +breakpoint(0 $medium)
      width: 8 * $col + 7 * $gatter + px

  .b-rubric_criticism &
    +breakpoint(0 $medium)
      width: 7 * $col + 6 * $gatter + px

    +breakpoint($large)
      width: 10 * $col + 9 * $gatter + px

  //списочные страницы
  .b-article_list &
    float: left
    max-width: 870 - 168 - $gatter + px
    +breakpoint(0 $medium)
      max-width: 570 - 168 - $gatter + px

  .b-article_list &.whole_width
    max-width: 100%!important

  //сюжет страница фото или видео
  .b-article_level3.b-article_media &
    position: relative
    padding-left: 30px
/*----- B-ARTICLE__LEFT-INNER -----*/


/*----- B-ARTICLE__RUBRIC  -----*/
.b-article__rubric
  display: block
  a
    +font($ved_green, $font1, 17, 21)
    +transition(color $time ease-in-out)

    &:hover,
    &:focus
      outline: none
      text-decoration: none
      +font($primary_text, $font1, 17, 21)

  .b-article_level2 &,
  .b-article_level3 &,
  .b-article_no-image &
    margin-top: 0

  .b-article_level2_mutate-to-level1 &,
  .b-article_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      margin-top: 0

  &.b-article__rubric_from-editors
    position: relative
    vertical-align: bottom
    a
      +font($ved_red, $font1, 17)

  .b-rubric_lifestyle_small &
    +breakpoint(0 $medium)
      display: none

  .b-rubric_criticism &
    display: none

  .b-article_level2_mutate-to-level2-2 &
    +breakpoint(0 $medium)
      display: none
/*----- B-ARTICLE__RUBRIC  -----*/


/*----- B-ARTICLE__TITLE  -----*/
.b-article__title
  +inline-block
  width: 100%
  // +user-select(none)

  a
    color: $primary_text
    text-decoration: none
    padding: 2px 0

    &:hover,
    &.hover
      outline: none
      color: $ved_green

  .b-article_level1 &
    +font($primary_text, $font2, 38, 38)
    margin: 6px 0 0
    padding: 0

  .b-article_level2 &,
  .b-article_slider &
    +font($primary_text, $font2, 22, 24)
    margin: 4px 0 0
    padding: 1px
    +breakpoint(0 $medium)
      margin-right: $gatter + px

  .b-article_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      +font($primary_text, $font2, 38, 38)
      margin: 6px 0 0
      padding: 0

  .b-article_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      +font($primary_text, $font2, 22, 24)
      margin: 4px 0 0
      padding: 0

  .b-article_level3 &
    margin: 5px 0 0
    padding: 0
    +font($primary_text, $font2, 22, 24)
    +breakpoint(0 $medium)
      margin-right: $gatter + px


  .b-article_level4 &
    width: 3 * $col + 2 * $gatter + px
    margin-top: 0
    +font($primary_text, $font2, 17, 18)

  .b-rubric_lifestyle_small &
    +breakpoint(0 $medium)
      a
        +font($primary_text, $font2, 38, 38)

  .b-rubric_criticism &
    +font($primary_text, $font2, 38, 38)
    width: 100%
    margin-top: 0

  .b-rubric_books .b-article_level2 &,
  .b-rubric_small-no-banner .b-article_level2 &
    +font($additional_text, $font2, 38, 38)
    width: 100%

  .b-article_level2_mutate-to-level2-2 &
    +breakpoint(0 $medium)
      +font($additional_text, $font2, 38, 38)
      width: 100%

  //списочные страницы
  .b-article_list &
    +font($primary_text, $font6, 22, 24)

  //материалы слайдера
  .b-article_slider &
    a, a:hover
      color: $white_original!important
/*----- B-ARTICLE__TITLE  -----*/


/*----- B-ARTICLE__SUBTITLE  -----*/
.b-article__subtitle
  width: 100%
  margin-bottom: 5px
  a, a:hover
    +font($additional_text, $font5, 17, 21)
    padding: 2px 0

  .b-article_level1 &
    +inline-block
    margin: 6px 0 0


  .b-article_level2 &
    +inline-block
    color: $additional_text
    margin: 6px 0 0
    +breakpoint(0 $medium)
      margin-right: $gatter + px

  .b-article_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      margin: 6px 0 0

  .b-article_no-subtitle &
    display: none

  .b-rubric_criticism &
    width: 100%

  .b-article_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: none

  //списочные страницы
  .b-article_list &
    +font($additional_text2, $font4, 15, 18)
    margin-top: 6px
    
  strong,
  b
    font: 17px $font2
    font-style: normal
    vertical-align: baseline
/*----- B-ARTICLE__SUBTITLE  -----*/
