.b-announce
  position: relative

  .avatar
    border-radius: 50%
    float: left
    margin-right: 10px
    width: 70px
    height: 70px

  .info
    margin-bottom: 10px
    overflow: hidden

  .info-holder
    overflow: hidden
    padding-top: 37px
    position: relative

  .label
    position: absolute
    top: 18px
    left: 0

  .name
    font-family: $font4
    font-weight: bold
    font-size: 17px

  .job
    font-family: $font1
    font-size: 17px
    line-height: 1.2em

  .title
    font-family: $font4
    font-weight: bold


  // Цитата
  .message
    position: relative
    font: italic 21px Georgia, Arial, sans-serif
    line-height: 24px
    margin-bottom: 15px
    background: transparent
    border: 1px solid $color3
    text-align: left
    color: $color7
    padding: 15px 10px 18px 10px

    &:after, &:before
      content: ''
      position: absolute
      bottom: -10px
      left: 20px
      width: 0
      height: 0
      border-style: solid
      border-width: 10px 20px 0 0
      border-color: $color0 transparent transparent transparent

    &:after
      border-color: $color0 transparent transparent transparent

    &:before
      left: 19px
      bottom: -12px
      border-width: 12px 22px 0 0
      border-color: $color3 transparent transparent transparent


    // Цитата без рамок
    &.no-border
      border: none
      padding: 0
      font-size: 21px
      line-height: 24px

      &:after, &:before
        display: none


    // Цитата с зеленым фоном
    &.green
      background: #97C1C1
      font-family: $font1
      text-align: center
      font-style: normal
      border: none

      &:after
        border-color: #97C1C1 transparent transparent transparent

      &:before
        display: none


    // Цитата снизу
    &.bottom
      padding: 10px

      &:after, &:before
        bottom: 100%
        border-width: 10px 0 0 20px

      &:after
        top: -8px
        border-color: transparent transparent transparent $color0

      &:before
        border-color: transparent transparent transparent $color3
