.b-banner
  font-size: 0
  line-height: 0
  img
    width: 100%
    display: block
#gallery + .b-banner_topline
  margin-top: 50px

.b-banner_bottomline
  margin-top: 25px

.b-close__banner
  line-height: 1.4
  position: fixed
  z-index: 99999
  font-size: 14px
  right: 20px
  background: image-url('m/cross_new.svg') no-repeat right 6px
  padding-right: 12px
  color: #867b77
  top: 10px
#b-banner__timer
  line-height: 1.4
  color: #867B77
  position: fixed
  top: 10px
  z-index: 99999
  font-size: 14px
  left: 20px


.b-native-roll
  transform: translateZ(0)