//@import "vedomosti_mixins"
//@import 'variables'
.b-button__wrapper
  text-align: center

.b-button
  border: none
  background: none
  outline: none
  padding: 0
  margin: 0
  &.b-button_default
    +default_button()
    line-height: 45px
    padding: 0 35px

  box-sizing: border-box


.b-button__social__wrapper
  position: relative
  font-size: 0

  ul
    width: 45px
    height: 45px
    position: absolute
    right: 0
    z-index: 998
    li
      +inline-block

  height: 45px
  margin-bottom: 15px

  ul
    left: 0
    right: auto
    width: auto
    padding: 0
    li
      margin-right: 1px

  &.b-button__social__wrapper_horizontal
    margin: 14px 0 0
    ul
      position: static
      width: auto
      li
        +inline-block
        margin-left: 1px
  ul.scrolled
    position: fixed
    top: 46 + 30px
    left: 50%
    margin-left: -455px
    top: 46px
    width: 570px
    background-color: rgba(255,246,241,0.7)

.b-buttons__social__item
  margin-top: 1px
  position: relative

.b-button--social__counter
  position: absolute
  right: 2px
  bottom: -6px
  opacity: 1
  transition: opacity linear $time
  +font($white_original ,$font11, 10)
  &.ng-hide
    opacity: 0
