.broadcast
  margin: 0
  padding: 15px 10px 20px 10px
  background-color: #ffffff
  border-top: 1px solid #e3d1c7
  position: relative
  overflow: hidden

  a
    word-break: break-word

  img
    max-width: 100%

  .broadcast-info
    .broadcast-created-date
      font: bold 15px/18px $font4
      color: #332f2e
    .broadcasts-authors
      display: inline-block
      border-left: 1px solid #e3d1c7
      margin: 0 0 10px 15px
      padding-left: 20px
      li
        display: inline
        color: #2e6f6f
        font: 15px/18px Arial

  p,
  blockquote
    width: auto !important
    padding-right: 0
    margin: 0 !important
    font: 17px/21px Georgia
    overflow: hidden
    text-overflow: ellipsis
    &.Caption
      padding-left: 0
    a
      color: #2e6f6f
      text-decoration: underline
  
  .b-inset-media-box
    .Caption,
    figcaption
      font-family: Arial, sans-serif
      font-style: normal
      line-height: 18px
      font-weight: inherit
      font-size: 13px
      color: #544b48
      margin-top: 15px
  
  .b-inset-media-box > div > span,
  .b-inset-media-box > div > div > span
    color: $color2 !important
    font: 17px/21px Georgia !important

  .broadcast-image
    margin: 20px -10px
    text-align: center

  .inset-image
    width: 100%
    height: auto

  .b-inset_quote
    position: relative
    width: auto
    margin: 0
    padding: 0
    .inner
      position: absolute
      right: 0
      bottom: 0
      width: auto
      overflow: visible
      .person
        display: none
    .name
      position: relative
      left: 0
      top: 0
      overflow: visible
      &:before
        content: '—'
        display: block
        position: absolute
        left: -20px
        top: 0
    .name,
    .name .job
      color: #857871
      font: 15px/21px $font1 !important
    .text,
    .quote
      width: auto !important
      background: inline-image('icon/quote.png') no-repeat top left
      background-size: 35px 32px
      padding: 0 0 45px 55px !important
      margin: 0
      font: italic 18px/21px Georgia 
      color: #332f2e
      border: none
      &:before,
      &:after
        display: none

  blockquote
    width: auto !important
    background: inline-image('icon/quote.png') no-repeat 0 15px
    background-size: 35px 32px
    padding: 10px 0 0 55px !important
    border-top: 1px solid #dddddd
    margin: 0 0 10px 0 !important
    font: italic 18px/21px Georgia 
    color: #332f2e
    border: none
    min-height: 40px
    &:before,
    &:after
      display: none
    & + div
      position: absolute
      right: 10px
      bottom: 10px
      color: #857871
      font: 15px/21px Arial, sans-serif
      &:before
        content: '—'
        display: block
        position: absolute
        left: -20px
        top: 0

  .youtube-post
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  .b-broadcast__description
    font-family: Arial, sans-serif
    font-style: normal
    line-height: 18px
    font-weight: inherit
    font-size: 13px
    color: #544b48
    margin-top: 10px !important


.b-social-post
  margin-top: 15px
  text-align: left
  .b-social-post__post
    text-align: center
    margin: 30px 0


.vk-post
  border: 1px solid #a7a7a7
  border-radius: 5px
  padding: 20px

  .b-ved-vk__header div
    vertical-align: middle
    display: inline-block

  .b-ved-vk__header
    text-align: left
    margin-bottom: 20px

    .b-vk-profile-pic
      width: 50px
      height: 50px
      border-radius: 25px
      overflow: hidden
      margin-right: 15px
      img
        min-width: 100%

  .b-vk-image img
    min-width: 100%
    border-radius: 3px

  .b-vk-text
    padding-top: 20px
    text-align: left

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe
  max-width: 300px