.b-document
  .body
    padding: 10px

  .label
    margin-top: 10px
    font-size: 17px
    line-height: 17px

    &.editorial a
      color: #b55757
      vertical-align: top

  .tabel, .title, .subtitle, .date
    margin-top: 13px

  &.b-document_advert_article
    .title, .subtitle, .date
      text-align: center
    .date
      margin-bottom: 0
  .title
    font-family: $font1
    font-size: 27px
    line-height: 30px

  .subtitle
    font-style: italic
    color: black
    font-size: 21px
    line-height: 24px
    font-weight: inherit
    margin-bottom: 0
    .b-document_advert_article &
      text-align: center
    strong,
    b
      font: 21px $font6
      font-style: normal
      vertical-align: baseline

  p
    font-size: 17px
    line-height: 22px
    color: #423e3d
    margin-bottom: 15px
    margin-top: 15px

  h1
    font-size: 21px
    line-height: 21px
    font-family: $font4
    font-weight: bold
    margin: 15px 0

  p:first-child
    margin-top: 0

  .b-social-buttons
    margin-bottom: 0

  .date
    font-family: $font1
    font-size: 15px
    margin-top: 16px
    .pubdate__lock
      display: inline-block
      font-size: 0
      line-height: 0
      position: relative
      height: 18px
      padding: 2px 16px 0 0
      border-right: 1px solid #e3d1c7
      vertical-align: top
      margin-right: 14px
      span
        display: block
        width: 12px
        height: 15px

  .b-published_at_time
    margin-right: 10px

  .authors
    font-family: $font1
    color: $color1
    font-size: 15px
    margin-top: 11px

  .source
    display: block
    margin-top: 10px
    margin-bottom: 5px
    a
      font-family: $font1
      font-size: 15px
      line-height: 15px

  .inset-image
    width: 100%

  .image-holder
    position: relative
    display: block

  .fullscreen
    position: absolute
    cursor: pointer
    +inline-block
    background: image-url('m/fullscreen.png') no-repeat center center
    width: image-width('m/fullscreen.png')
    height: image-height('m/fullscreen.png')
    left: 50%
    top: 50%
    margin-left: - image-width('m/fullscreen.png')/2
    margin-top: - image-height('m/fullscreen.png')/2

  // Автор
  .info
    position: relative
    margin-top: 15px

    .avatar
      border-radius: 50%

    .info-holder
      position: absolute
      left: 85px
      top: 50%
      +transform(translateY(-50%))
      font: 17px/21px $font4

    .job
      font-family: $font1

  // Цитата
  .message
    position: relative
    font: italic 21px Georgia, Arial, sans-serif
    line-height: 27px
    background: transparent
    border: 1px solid $color3
    text-align: left
    color: $color7
    padding: 15px 10px 18px 10px

    &:after, &:before
      content: ''
      position: absolute
      bottom: -10px
      left: 23px
      width: 0
      height: 0
      border-style: solid
      border-width: 10px 20px 0 0
      border-color: $color0 transparent transparent transparent

    &:after
      border-color: $color0 transparent transparent transparent

    &:before
      left: 22px
      bottom: -12px
      border-width: 12px 25px 0 0
      border-color: $color3 transparent transparent transparent

    // Цитата с зеленым фоном
    &.green
      background: #97C1C1
      border: none

      &:after
        border-color: #97C1C1 transparent transparent transparent

      &:before
        display: none


    // Цитата снизу
    &.bottom
      padding: 10px
      margin-top: 10px

      &:after, &:before
        bottom: 100%
        border-width: 10px 0 0 20px

      &:after
        top: -8px
        border-color: transparent transparent transparent #97C1C1

      &:before
        border-color: transparent transparent transparent #97C1C1


.b-document_news
  p
    font-family: $font2

.b-page_inverse
  .b-document
    .title, .subtitle
      color: $color0

.b-document_story
  .body
    .subtitle
      margin-top: 20px
      margin-bottom: 20px
    .b-social-buttons
      position: static
      margin-bottom: 10px

.b-document_user-block
  padding: 0 10px

//advert_article
.b-disclaimer
  margin: 0 -10px
  padding: 10px
  border-bottom: 1px solid $line
  +font($additional_text2, $font9, 17, '', normal, bold)
  text-align: center
  text-transform: uppercase