.b-form_login

  .restore-password
    text-align: center
    margin-top: 15px
    a
      color: #847871
      font-size: 15px

  .socials
    margin-bottom: 30px
    text-align: center
    h3
      font-family: $font1

  .btn
    width: 55px
    height: 55px
    +inline-block
    margin-right: 30px
    cursor: pointer

  .btn:last-child
    margin-right: 0

  .btn_fb
    background: image-url('m/fb.png') no-repeat left top

  .btn_tw
    background: image-url('m/tw.png') no-repeat left top    

  .btn_vk
    background: image-url('m/vk.png') no-repeat left top    
