.b-form
  padding: 10px
  font-family: $font1
  font-size: 18px
  line-height: 24px
  margin-bottom: 15px

  .b-subscription &.loading
    opacity: 0.1


  .group
    margin-bottom: 15px

  input
    font-family: $font1

  *
    outline: none

  label
    color: $color4
    font-size: 18px

  input[type=text], input[type=password], textarea
    border: 1px solid $color6
    padding: 9px
    width: 100%
    +box-sizing(border-box)
    font-size: 18px
    color: $color7

    &:focus
      border-color: $color7 !important
      color: $color7 !important

  .error
    font-size: 15px
    line-height: 21px
    color: #b95a57
    margin-top: 5px

  .field_with_errors
    label
      color: #b95a57
    input[type=text], input[type=password], textarea
      border-color: #b95a57
      color: #b95a57

  .b-rules__wrapper
    .field_with_errors
      display: inline-block

  .help
    margin-bottom: 15px

  input[type=submit], .button
    display: block
    +box-sizing(border-box)
    width: 100%
    border: 0
    line-height: 35px
    font-size: 18px
    background-color: #256e6f
    border-bottom: 5px solid #1e5859
    color: white
    text-align: center
    margin-bottom: 15px
    margin-top: 15px
    &:active
      background-color: #1e5859
      border: 0
      border-top: 5px solid #256e6f
    .b-paywall &
      +default_button(200, $font1, $ved_red2)
      width: 100%
  input[type=checkbox]
    margin-right: 10px

