.b-footer
  font-family: $font2
  text-align: center
  font-size: 12px
  line-height: 45px
  +box-sizing(border-box)

  a
    text-decoration: underline

  .b-footer-fullversion
    font: 14px $font1
    color: $color4
    display: block
    height: 53px
    line-height: 53px
    border: 1px solid #e3d1c7
    margin: 30px 20px

  .b-footer-inner
    color: $color4
    background: $color7
    padding: 15px 10px 30px 10px

  .b-footer-social
    border-bottom: 1px solid $color2
    padding-bottom: 15px
    line-height: 21px

    span
      margin-right: 20px
      font: 14px $font1
      vertical-align: middle

  .b-footer-copyright
    width: 295px
    position: relative
    margin: 0 auto

    p
      margin-top: 18px
      font: 14px/18px $font1
      text-align: left
      width: 210px

    i
      position: absolute
      right: 0
      top: 0
      margin-right: 0


.b-page_inverse
  .b-footer
    border: 0
    a
      color: $color0
