.b-gallery
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: $color7
  z-index: 1000
  padding-bottom: 23.5vw
  box-sizing: border-box
  &.b-gallery--no-padding
    padding-bottom: 0
  &.b-gallery--wrapper
    position: relative
    height: auto
    margin: 0 -10px
    width: auto
    padding-bottom: 0
    .b-document_gallery &
      margin: 0
    .b-main-image
    .image-credits
      padding: 6px 10px 10px

  .b-banner.b-banner--line
    position: absolute
    bottom: 0
    right: 0
    left: 0
    z-index: 10
  .b-gallery__credits
    position: absolute
    bottom: 0
    +font(white, $font10, 15, 19)
    left: 0
    right: 0
    padding: 10px
  .b-gallery__arrow
    position: absolute
    top: 50%
    margin-top: -20px
    &.b-gallery__arrow--next
      right: 10px
    &.b-gallery__arrow--prev
      left: 10px
  .counter
    position: absolute
    right: 0
    top: 0

  .credits
    position: relative
    margin-bottom: 5px
    padding-right: 40px
  a
    color: #ffffff
    text-decoration: none
    border-bottom: 1px white dotted

  .scroll
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

  .image-credits
    color: $color0

  .alt 
    margin-right: 33px

  .frame
    img
      margin-top: 110px

  .header
    position: absolute
    width: 100%
    left: 0
    top: 0
    text-align: center
    padding: 5px 0
    font-family: 'Roboto Condensed Regular Bold'
    font-size: 22px
    color: $color0
    z-index: 1002
    background-color: #322e2e

    .back
      cursor: pointer
      position: absolute
      left: 10px
      top: 10px
      display: block
      background: image-url('m/close.png') no-repeat left top
      width: image-width('m/close.png')
      height: image-height('m/close.png')
      z-index: 1001

  @media all and (orientation: landscape)
    padding: 0
    .b-banner.b-banner--line
      display: none
    .header
      opacity: .6

    .frame
      img
        margin-top: 0px

  
.b-gallery_fullscreen
  .header
    display: none

  .image-credits
    display: none

/* START ANGULAR CAROUSEL */

//colors
$black: black
$color_storm_dust_approx: #666
$white: white
$color_provincial_pink_approx: #fff6f1
$color_celeste_approx: #ccc
$yellow: yellow

//fonts
$font_0: Roboto Condensed Regular
$font_1: Helvetica Neue
$font_2: sans-serif

input[type=range] 
  width: 300px

.gallery-wrapper
  position: relative
  &:after
    @include filter-gradient(rgba(51,47,46,0), #332f2e, vertical)
    $experimental-support-for-svg: true
    @include background-image(linear-gradient(top,  rgba(51,47,46,0) 0%,rgba(51,47,46,0.88) 51%,rgba(51,47,46,1) 87%,rgba(51,47,46,1) 99%))
    content: ""
    z-index: 10
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: 30px

ul[cycle-gallery-holder]
  padding: 0
  white-space: nowrap
  position: relative
  width: 100%
  height: 100%
  margin: 0 auto
  > li 
    color: $black
    //If you use compass, instead of the line below you could use + backface-visibility($visibility)
    backface-visibility: hidden
    overflow: scroll
    vertical-align: top
    left: 0
    right: 0
    white-space: normal
    padding: 0
    margin: 0
    list-style-type: none
    width: 100%
    height: 100%
    display: inline-block
  &.noscroll
    li
      overflow: hidden

ul[rn-carousel-transition="hexagon"] 
  overflow: visible

.rn-carousel-control 
  //If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: opacity 0.2s ease-out
  font-size: 2rem
  position: absolute
  top: 40%
  opacity: 0.75
  cursor: pointer
  &:hover 
    opacity: 1

  &.rn-carousel-control-prev 
    left: 0.5em
    &:before 
      content: "<"


  &.rn-carousel-control-next 
    right: 0.5em
    &:before 
      content: " >"



.bgimage 
  font-family: $font_0, $font_1, $font_2
  font-size: 15px
  color: $color_provincial_pink_approx
  padding-top: 40px
  .bgimage__img
    position: relative
  .bgimage__credits
    position: absolute
    bottom: 0
    padding: 10px

.carousel-demo 
  margin-top: 20px
  display: inline-block
  ul[rn-carousel-transition="hexagon"] 
    margin-left: 100px


.carousel-demo-fullscreen 
  width: 100%
  height: 100%
  ul[cycle-gallery-holder]
    width: 100%
    height: 100%
ul[cycle-gallery-holder]

  .image-credits
    padding: 10px 10px 40px



ul[rn-carousel-buffered] > li
  display: none

div.rn-carousel-indicator span
  cursor: pointer
  color: $color_storm_dust_approx
  &.active 
    color: $white


.carousel5 li 
  width: 100%
  height: 100%
  font-size: 30px
  background-color: $color_celeste_approx

input.tiny 
  width: 50px

.custom-indicator span 
  //If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease-in
  &.active 
    color: $yellow !important

.gallery-wrapper
  z-index: 1
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden
  margin: 0 auto
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.gallery-slider
  position: relative
  z-index: 1
  width: 100%
  height: auto
  white-space: nowrap

.gallery-item
  position: relative
  display: inline-block
  width: 100%
  height: 150px
  background-position: top center
  -webkit-background-size: cover
  background-size: cover
/* END ANGULAR CAROUSEL */


