.b-header
  height: 55px
  line-height: 55px
  vertical-align: middle
  background: $color0
  z-index: 1
  position: relative
  text-align: center


  .b-header-search-icon, .b-header-menu-icon, .b-header-auth-icon
    position: absolute
    width: 55px
    height: 55px
    top: 0

  .b-header-menu-icon
    left: 0

  .b-header-search-icon
    right: 45px
    background-image: inline-image("m/search.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: 21px 21px
    +breakpoint(0 350px)
      right: 0

  .b-header-menu-icon
    background-image: inline-image("m/menu.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: 24px 17px

  .b-header-auth-icon
    right: 0
    background: inline_image("m/no-person.png") no-repeat center center
    background-size: 25px 25px
    +breakpoint(0 350px)
      display: none

.b-header-logo-icon
  display: inline-block
  width: 174px
  height: 32px
  background-image: inline-image("m/logo.svg")
  background-repeat: no-repeat
  background-position: center center
  background-size: 100% 100%
  vertical-align: middle
  margin-left: 0
