.b-inset_text
  border-bottom: 1px dotted $color3
  border-top: 1px dotted $color3
  padding: 10px
  margin-left: -10px
  margin-right: -10px
  overflow: hidden

  img
    width: 100%
    height: auto

  .image-wrapper
    margin: 0 -10px

  p:last-child
    margin-top: 5px
    margin-bottom: 0
    font-family: $font2
    font-size: 14px

  .title
    font-family: $font4
    font-size: 16px
    margin-top: 10px
    color: $color7
    overflow: hidden
