.b-inset-link
  padding: 10px 0
  border-top: 1px dotted #e3d1c7
  border-bottom: 1px dotted #e3d1c7
  overflow: hidden

  a
    font: bold 21px/24px $font4
    color: $color7

  img
    float: right
    margin-left: 20px
    margin: 5px 0 5px 20px
