.b-inset_chronology
  border-bottom: 1px dotted $color3
  border-top: 1px dotted $color3
  padding: 15px 10px
  margin: 0 -10px

  .b-inset_chronology-avatar
    border-radius: 50%
    margin: 0 0 5px 0

  .b-inset_chronology-description
    position: relative
    margin-bottom: 0
    padding: 0
    overflow: hidden

  .title
    margin-top: 0
    margin-bottom: 5px
    font-family: $font4
    font-weight: bold
    font-size: 21px
    line-height: 24px
    color: $color7
    overflow: hidden

  .subtitle
    font-family: $font1
    font-size: 15px
    line-height: 18px
    font-style: normal
    overflow: hidden
    margin-top: 0
    color: $color4

  ul
    list-style-type: none
    padding-left: 0
    margin-bottom: 0
    margin-top: 10px

    li:last-child
      margin-bottom: 0

    .time
      float: left
      width: 50px
      margin-right: 0
      font-family: $font1
      font-size: 15px
      line-height: 18px

    .body
      padding: 0
      overflow: hidden
      font-family: $font1
      font-size: 15px
      line-height: 18px
      color: $color4

    .b-chronology__item
      margin-bottom: 15px
