.b-icon
  display: inline-block
  width: 45px
  height: 45px
  text-align: center
  border: none
  margin-right: 10px
  background-repeat: no-repeat
  background-position: center center
  background-size: 60% 60%

  &.small
    width: 21px
    height: 21px
    border: none !important
    background-size: 100%
    vertical-align: middle
    margin-right: 15px
    &.newspaper-lock-icon
      background-image: inline-image("m/lock-icon.png")
      margin-left: 5px
      top: -2px
      position: relative
      width: 20px
      height: 20px
      vertical-align: text-bottom
    &.facebook
      background-image: inline-image("m/facebook-small.svg")
      background-color: transparent

    &.twitter
      background-color: transparent
      background-image: inline-image("m/twitter-small.svg")

    &.vkontakte
      background-color: transparent
      background-image: inline-image("m/vkontakte-small.svg")
      margin-right: 0

  &.facebook
    background-image: inline-image("m/oauth/facebook.svg")
    background-color: #3b5998
    border-bottom-color: #30477a

  &.twitter
    background-image: inline-image("m/oauth/twitter.svg")
    background-color: #33ccff
    border-bottom-color: #29a4cc

  &.vkontakte
    background-image: inline-image("m/oauth/vk.svg")
    background-color: #45668e
    border-bottom-color: #385272

  &.icon-plus16
    width: 45px
    height: 45px
    background: inline-image("m/16plus.svg")
    background-size: 100%
    border-bottom: none

  &.editorial
    width: 18px
    height: 18px
    background: inline-image("m/editorial.png")
    border: none
    background-size: 100%
    margin-right: 3px

  &.b-icon-next
    background: inline-image("m/arrow-right.png")
    width: 27px
    height: 27px
    vertical-align: middle
    margin-left: 10px

  &.b-icon-pinch
    background-image: inline-image("m/hand-pinch.svg")
    width: 53px
    height: 60px
    background-size: 100%


  &.b-icon-swipe
    background-image: inline-image("m/hand-swipe.svg")
    width: 49px
    height: 58px
    background-size: 100%

  &.b-icon-arrow-white
    background-image: inline-image("m/arrow-white.svg")
    width: 19px
    height: 19px
    background-size: 100%

  &.cross-white
    background: inline-image("m/cross-white.svg") no-repeat
    width: 11px
    height: 11px
    height: 11px
    
  &.b-icon--green_search
    background: inline-image("m/search-green.svg")
    height: 25px
    width: 25px
    background-repeat: no-repeat
    margin: 0
    display: block
    border: none

  &.b-icon--rus
    background: inline-image("m/rus.svg")
    height: 21px
    width: 30px
    background-repeat: no-repeat
    margin: 0
    display: block
    border: none
    border: 2px solid $line
  &.b-icon--eng
    @extend .b-icon--rus
    background: inline-image("m/eng.svg")

  &.gallery-next
    background: inline-image("svg/next.svg") no-repeat
    width: 23px
    height: 40px
    background-size: contain
  &.gallery-prev
    background: inline-image("svg/prev.svg") no-repeat
    width: 23px
    height: 40px
    background-size: contain