.b-inset-container-attachments
  padding: 10px 0
  border-top: 1px dotted $line
  border-bottom: 1px dotted $line
  overflow: hidden

.b-inset-container-attachments__file__title
  a
    font: bold 21px/24px $font4
    color: $color7