.b-inset-dulton-media
  position: relative

.b-inset-dulton-media
  & > div
    padding-bottom: 56.25%
    overflow: hidden
    width: 100%

  .eagleplayer-container
    position: absolute!important
    top: 0

    //div
    //  width: inherit!important
    //  height: inherit!important
    //  position: inherit!important
    //  top: inherit!important
  video
    position: absolute
    top: 0!important