.b-inset-media-box
  ol
    counter-reset: li
    list-style: none

  ol > li:before
    counter-increment: li
    content: counters(li,".") ". "

  li > a
    text-decoration: underline!important
    color: $ved_green

  li
    margin: 15px 0