.b-inset_quote
  padding: 10px
  margin: 20px -10px 20px -10px

  .inner
    overflow: hidden
    position: relative

  .text
    position: relative
    font: italic 21px $font5
    line-height: 27px
    margin-bottom: 15px
    background: #97C1C1
    text-align: left
    color: $color7
    padding: 10px

    &:after, &:before
      content: ''
      position: absolute
      bottom: -10px
      left: 20px
      width: 0
      height: 0
      border-style: solid
      border-width: 10px 20px 0 0
      border-color: #97c1c1 transparent transparent transparent

    &.transparent
      text-align: left
      font-family: Georgia, Arial, sans-serif
      font-style: italic
      font-weight: normal
      background: transparent
      border: 1px solid $color3


      &:after
        border-color: $color0 transparent transparent transparent

      &:before
        left: 19px
        bottom: -12px
        border-width: 12px 22px 0 0
        border-color: $color3 transparent transparent transparent

  .person
    float: left
    margin-right: 10px

    img
      border-radius: 50%

  .name
    position: absolute
    top: 50%
    left: 80px
    transform: translateY(-50%)
    overflow: hidden
    color: $color7
    font-size: 15px
    font-family: $font2

  .fullname, .job
    font-size: 17px
    line-height: 21px
    font-family: $font4

  .job
    font-family: $font1
