.b-inset_image
  margin: 20px -10px 0 -10px

  .image-description
    padding: 10px
    font-family: $font2
    font-size: 12px

  .image-title
    color: $color2

  .image-author, .image-copyright
    color: $color4

