.b-list
  list-style: none
  padding: 0
  margin: 0

  .header
    line-height: 56px
    padding-top: 18px

    a, > span
      font-size: 24px
      line-height: 34px
      padding-left: 10px
      padding-right: 10px
      border-bottom: 1px solid $color1
      font-family: $font3
      color: $color1
      display: block
      //position: relative
      span
        position: absolute
        right: 10px
        top: 10px
        display: block
        background: inline-image('m/left-arrow.svg') no-repeat left top
        +transform(rotate(180deg))
        width: 11px
        height: 19px

  .title
    font-size: 20px
    line-height: 20px
    margin-bottom: 10px
    color: $color2
    a
      color: $color2
    &:last-child
      margin-bottom: 0

  a.title
    display: inline-block

  .subtitle,
  .boxes
    font-size: 16px
    line-height: 21px
  h2.subtitle
    font-weight: inherit
    margin-bottom: 0

  .main-image
    width: 100%
    margin-bottom: -10px

  .body
    margin: 0 10px
    padding: 15px 0
    border-bottom: 1px dotted $color3

  li:last-child
    .body
      border-bottom: none

  .label
    font-size: 17px
    line-height: 17px
    margin-bottom: 13px

  .subtitle
    strong,
    b
      font: 16px $font6
      font-style: normal
      vertical-align: baseline
