.b-message
  padding: 10px
  border: 1px solid $color6
  margin: 10px
  text-align: center
  font-size: 18px
  font-family: $font1

  h1
    font-size: 30px
    font-family: $font3
    margin: 0
    margin-bottom: 25px
    margin-top: 15px

  .text
    margin-bottom: 15px
    margin-left: 15px
    margin-right: 15px

  .back
    border-top: 1px solid $color6
    padding-top: 10px
    a
      color: $color1
      text-decoration: underline
