.b-map-wrapper
  display: inline-block
  position: relative
  width: 100%
  max-width: 740px
  font-size: 0
  path
    stroke: white
    stroke-width: 0.3px
  .b-map-box
    margin: 0 -10px
  div.tooltip
    position: fixed
    text-align: left
    top: 0 !important
    bottom: 0 !important
    left: 0 !important
    right: 0 !important
    display: none
    z-index: 9999999
    background: rgba(0, 0, 0, .6)

    & > div
      position: absolute
      background: white
      left: 15px
      right: 15px
      font-size: 15px
      top: 50%
      +transform(translateY(-50%))
      padding: 15px 20px

    .tooltip__bottomline
      +font($primary_text, $font5, 15)
      margin-top: 16px
      padding-top: 16px
      border-top: 1px solid $line
    em
      font-style: normal
      color: $red_text
    .tooltip__title
      +font($primary_text, $font1, 21)
      margin-bottom: 10px
    .tooltip__close
      width: 40px
      height: 60px
      background: image-url('m/cross_new.svg') no-repeat center center
      position: absolute
      top: 0px
      right: 0px
    .after
      display: none

  .b-map
    background: #fff
    display: inline-block
    overflow: hidden
    width: 100%

  .b-map-buttons
    z-index: 100
    position: absolute
    bottom: 20px
    right: 10px

  .b-map-buttons__button
    border: 1px solid black
    background-color: rgba(255,255,255,.5)
    color: black
    font-weight: 900
    padding: 10px 20px
    cursor: pointer
  .b-map__title
    +font($primary_text, $font4, 18)
    padding: 20px
  .map__info
    background: rgba(255, 255, 255, 0.7)
    padding: 20px
    bottom: 0
    margin: 1px -10px 0
    .lenend__title
      +font($primary_text, $font5, 15, 21)

    .lenend__source
      +font($primary_text, $font2, 14)
      opacity: .5
      margin-top: 20px
    .legend-blocks
      white-space: nowrap
      margin-top: 15px
      .legend
        display: inline-block
        margin-right: 10px
        +font($primary_text, $font2, 12)
        div
          width: 10px
          height: 10px
          display: inline-block
          vertical-align: baseline
          margin-right: 5px

  g
    transform-origin: center