.b-menu
  background-color: #8a7e76
  list-style: none
  padding: 0
  margin: 0
  font-family: $font1
  font-size: 18px
  max-height: 0
  position: absolute
  overflow-y: scroll
  width: 100%
  top: 56px
  bottom: 0
  z-index: 1000
  +transition(max-height .5s ease-out)

  li
    border-bottom: 1px solid #ac9e97
    line-height: 40px
    height: 40px
  li.b-menu__last-but-one
    padding-bottom: 95px
  li:last-child
    display: none
    border-top: 1px solid #ac9e97
    background-color: #5E5651
    width: 100%
    position: fixed
    bottom: 0
    height: auto
    padding: 10px 0
    a
      padding-left: 40px
      margin-left: 30px
      border-left-color: transparent

  li:last-child
    border-bottom: 0
  a
    display: block
    color: #fff6f0
    padding: 0 25px
    border-left: 5px solid #8a7e76
    &:hover
      border-left: 5px solid #993533

  .active
    a
      border-left: 5px solid #993533

  .login
    float: left
    background: inline_image("m/login.svg") no-repeat left center

  .register
    overflow: hidden
    background: inline_image("m/user.svg") no-repeat left center

  .subscribe
    background: inline_image("m/subscribe.svg") no-repeat left center

  .user
    background: inline_image("m/user.svg") no-repeat left center
    line-height: 20px
    padding: 7px 0 10px 0

  &.opened
    border-bottom: 5px solid #564c4b
    max-height: 100%
    +transition(max-height .5s ease-in)

    li:last-child
      display: block
