.b-mobile-warning
  background-color: white
  font-family: $font2
  text-align: center
  padding: 10px
  border-top: 4px solid $color3
  border-bottom: 4px solid $color3
  font-size: 12px

  a
    text-decoration: underline
