.b-news-list
  line-height: 21px
  list-style: none
  padding: 10px
  margin: 0
  font-family: $font2

  li
    border-bottom: 1px dotted $color3
    padding-top: 10px
    padding-bottom: 9px
    &:last-child
      border-bottom: none

.b-news-list_main
  font-size: 0.9em
  padding: 15px 10px 0 10px

  .time
    font-size: 0.85em