/*----- B-PODCAST -----*/
.b-podcast
/*----- B-PODCAST -----*/


/*----- B-PODCAST __HEADER -----*/
.b-podcast__header
  font: 24px/23px $font3
  color: $ved_green
  width: 100%
  margin-top: 19px
  border-bottom: 1px solid $line
  padding-bottom: 5px
/*----- B-PODCAST __HEADER -----*/


/*----- B-PODCAST__PLAYER -----*/
.b-podcast__player
  margin-top: 22px

  audio
    display: block
    width: 100%
    margin-bottom: 15px
///*----- B-PODCAST__PLAYER -----*/
//
//
/*----- B-PODCAST__OTHER -----*/
.b-podcast__other
  .title
    padding-bottom: 7px
    font: 22px/21px $font6
    color: $black_original
    border-bottom: 1px solid $line
  ul
    padding: 0
    margin: 0


  .item
    margin: 11px 0
    list-style: none
    border-bottom: 1px dotted $line
  a
    +inline-block
    padding-left: 30px
    background-image: inline-image("m/podcast.svg")
    background-repeat: no-repeat
    background-position: 0 0
    background-size: 21px 21px
    padding-bottom: 7px
    font: 18px/21px $font6
    color: $primary_text
/*----- B-PODCAST__OTHER -----*/

.b-podcast__download
  +inline-block
  vertical-align: top
  background-image: inline-image("m/download.svg")
  background-repeat: no-repeat
  background-position: 100% 0
  background-size: 21px 21px
  font: 18px/21px $font6
  color: $primary_text
  padding-right: 27px
  margin-top: 17px


.b-podcast__rss
  padding-top: 2px
  +inline-block
  vertical-align: top
  background-image: inline-image("m/rss.svg")
  background-repeat: no-repeat
  background-position: 0 0
  background-size: 21px 21px
  font: 18px/21px $font6
  color: $primary_text
  padding-left: 27px
  margin-right: 10px
  margin-top: 15px
/*----- B-PODCAST -----*/
.b-podcast
/*----- B-PODCAST -----*/


/*----- B-PODCAST__PLAYER -----*/
.b-podcast__player
  height: 130px
  margin-top: 22px

  audio

  #player
    width: 100%
    background-color: $player
    height: 60px
    position: relative

  #play
    +inline-block
    position: relative
    z-index: 40
    font-size: 0
    background: inline-image("m/play.svg") no-repeat 50% 50%
    border: none
    height: 60px
    width: 45px
    padding: 0
    margin: 0
    outline: none

  #play.play
    background: inline-image("m/pause.svg") no-repeat 50% 50%

  #timeline_bg
    display: block
    vertical-align: top
    position: relative
    top: -34px
    height: 8px
    margin-left: 40px
    margin-right: 80px
    padding-top: 1px


  #timeline_bg_inner
    overflow: hidden
    position: relative
    height: 4px
    margin-top: 2px
    background: $white_original

  #timeline
    vertical-align: top
    left: 0
    top: 0
    height: 10px
    background: $ved_red
    width: 10px
    position: absolute

  #timer
    width: 78px
    float: right
    text-align: center
    +inline-block
    +font($primary_text, $font6, 14, 60)
/*----- B-PODCAST__PLAYER -----*/
