.b-paywall
  position: relative
  border-top: 1px solid $color3
  padding-top: 18px
  margin-top: 20px
  box-shadow: 0px -42px 90px 53px #fff6f1
  .sign-in
    +font($primary_text, $font16, 18)
    text-align: center
    margin-top: 16px
    text-align: center
    margin-top: 16px
    a
      color: $ved_green
      text-decoration: underline

  &.b-paywall--desktop
    display: none
  .header
    +font($primary_text, $font6, 24, 21)
    position: relative
    padding-left: 41px
    .header__icon
      position: absolute
      top: -4px
      left: 5px
      .b-icon--lock
        background-size: contain
        width: 24px
        height: 24px
  .b-paywall__inner
    margin-top: 20px
    padding-top: 20px
    border-top: 1px solid $color3

    .b-autopayment
      color: $color4
      margin-bottom: 10px

      .b-autopayment__bubble
        padding: 10px
        background: white
        margin: 10px 0
        border-radius: 4px

  &.id-form
    border-bottom: 1px dotted $color3
    border-top: 1px dotted $color3
    padding: 22px 10px 12px

  .title
    margin: 0 0 10px 0
    font: 21px/24px $font4

  .warning
    margin: 0
    font: 18px/21px $font1
    +font($primary_text, $font16, 19, 24)
    margin-top: 17px
    margin-left: -1px

  .radios

    .radio
      margin-bottom: 30px
      position: relative

      &:last-child
        margin-bottom: 0

      input
        vertical-align: top
        //margin: 3px 10px 0 0
        display: inline-block

      label
        display: inline-block
        cursor: pointer
        color: $color4
        font: 18px/21px $font1

  .b-form
    padding: 0
    margin: 0

  .form-registration, .back
    display: none

  .b-part
    border: none
    text-align: left


  &.b-paywall_newspaper
    text-align: center
    font-family: $font1
    margin: 0
    padding: 10px 10px 0px
    border-top: none
    .b-paywall__inner
      padding: 0
      margin: 0
      border: none
    .b-paywall_newspaper__inner
      span
        vertical-align: middle
        display: inline-block

    .b-form
      margin-bottom: 0

    .b-autopayment__bubble
      margin: 10px
    .b-conditions
      text-align: center
      .left
        display: inline-block
        margin-bottom: 15px
        input[type='checkbox']
          margin-right: 5px
          position: relative
          top: 1px
      .link
        position: relative
        color: #857871
        text-decoration: none
        border-bottom: 1px dotted #857871
    .b-button
      border: none
      background: none
      outline: none
      padding: 0
      margin: 0
      +default_button(150, $font1, $ved_green)

      &.b-button_auth
        +inline-block

        a
          +inline-block
          line-height: 32px!important
          vertical-align: top
          +font($additional_text, $font5, 12, 15)
          text-decoration: none
          margin: 30px 0
          border: none
          background: none
          padding: 0
          opacity: 0.75

      &.b-button_newspaper-paywall-auth
        line-height: 45px
        margin: 15px
        vertical-align: middle

      &.b-button_submit
        +default_button(150, $font1, $ved_red2)

    .id-socials-wrapper
      .id-socials
        min-width: 180px
        padding-top: 10px

    .btn
      width: 51px
      display: inline-block
      height: 56px
      cursor: pointer
      margin-right: 5px
      &.icon-fb-id
        background-image: inline-image("m/fb-id.png")
        background-color: transparent

      &.icon-tw-id
        background-color: transparent
        background-image: inline-image("m/tw-id.png")

      &.icon-vk-id
        background-color: transparent
        background-image: inline-image("m/vk-id.png")
        margin-right: 0


.b-paywall-subscription
  font-size: 0

  .col1
    width: 37%

  .col2
    width: 60%

  .col1, .col2
    vertical-align: top
    display: inline-block

  .title
    margin-top: 0
    font: 21px $font2

  .warning
    padding: 0
    width: auto
    font: 15px/21px $font1
    color: #857871
    margin-bottom: 10px

  .warning-agreement
    margin-bottom: 15px

  .warning-agreement-checkbox
    margin-right: 10px

  .green-link
    color: #2e6f6f
    text-decoration: underline

  .dotted-link
    position: relative
    color: #857871
    text-decoration: none
    border-bottom: 1px dotted #857871



  .radios
    height: 200px
    font-size: 0


    input
      position: relative
      top: 135px
      margin: 0

    input:checked + label
      background: #fff
      padding: 38px 0 46px 0
      margin-top: -10px
      .price, .currency
        color: #b55757

    .radio
      position: relative
      text-align: center
      display: inline-block
      width: 50%

      &.radio__with-crossedprice
        label
          padding-top: 38px
          .fullprice
            margin-bottom: 10px
        input:checked + label
          padding-top: 48px



      label
        cursor: pointer
        display: block
        margin: 0 15px
        border-radius: 15px
        border: 1px solid #e3d1c7
        background: #f7ebe4
        padding: 28px 0 36px 0
        +transition (all .35s ease-in-out)
        +breakpoint(0 400px)
          margin: 0 7px


    .price
      font: 32px/30px $font7
      color: #332f2e
      text-transform: uppercase

    .currency
      color: #332f2e
      font: 18px/21px $font1

    .period
      font: 18px/21px $font1
      color: #857871

    .fullprice
      margin-bottom: 20px

    .crossedprice
      font: 22px/30px $font1
      color: #332f2e
      margin-right: 10px
      text-decoration: line-through
      top: 32px
      position: absolute
      left: 50%
      +transform(translateX(-50%))
      +transition(opacity .2s ease-in-out)

  .actions
    input
      width: 174px
      height: 45px
      line-height: 40px

    input[disabled]
      opacity: .3

  .tooltip
    z-index: 9999
    position: absolute
    margin-top: 50px
    margin-left: 5px

    .tooltip-inner
      width: 270px
      border-radius: 5px
      padding: 15px

    & .tooltip-arrow
      position: absolute
      left: 0
      top: 20px
      width: 0
      height: 0
      border-color: transparent
      border-style: solid

    strong
      display: inline-block
      margin-bottom: 5px
.b-price
  font-family: $font6
  margin-top: 9px
  text-align: center
  .b-price__number
    font-size: 60px
    display: inline-block
    vertical-align: middle
    margin-right: 7px
  .b-price__text
    font-size: 24px
    display: inline-block
    vertical-align: middle
    text-align: left
    position: relative
    top: -3px
    div
      line-height: 26px
