.b-part
  text-align: center
  padding: 5px 0
  font-family: 'Roboto Condensed Regular Bold'
  font-size: 22px
  line-height: 45px
  position: relative
  background: $color0
  word-wrap: normal
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  .back
    position: absolute
    left: 10px
    top: 50%
    +transform(translateY(-50%))
    display: block
    background: inline-image('m/left-arrow.svg') no-repeat left top
    width: 11px
    height: 19px

  .b-part-menu-icon
    position: absolute
    width: 55px
    height: 55px
    top: 0
    right: 0
    background-image: inline-image("m/menu.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: 24px 17px

.b-page_inverse

  .b-part
    background: $color7
    border-bottom-color: $color7

    a
      color: $color0
