
.b-paywall
  font-family: $font16
  margin: 20px -10px 0
  padding: 18px 15px 0
  .b-newspaper &
    margin-top: 0
    border: none
  a
    color: #2e6f6f
    text-decoration: underline
    &:hover
      color: black
  .b-header
    font-size: 0
    text-align: center
    padding: 19px 0 14px
    border-bottom: 1px rgba($primary_text, 0.25) solid
    .b-header__16plus
      position: absolute
      top: 23px
      right: 15px
    .logo
      display: inline-block
      img
        width: 175px
        display: block
  .b-disclaimer
    font-size: 24px
    text-transform: none
    padding: 0
    color: $primary_text
    border: none
    white-space: normal
    vertical-align: middle
    display: inline-block
    margin-left: 13px

  .b-content
    .b-description
      clear: both
      margin-top: 16px
      +font($primary_text, $font16, 18, 24)
      & + .b-description
        margin-top: 14px
      &.b-description--small
        font-size: 18px
        line-height: 21px
      &.b-description--month
        margin-top: 21px

    .b-form
      margin-top: 19px
      .b-form__element

        &.b-form__element--submit

          padding: 15px 15px 0
        &.b-form__element--phone, &.b-form__element--code
          margin: 0 0 15px
          font-family: $font16
          padding-left: 0
          display: block
          border-bottom: 1px rgba($primary_text, 0.25) solid
          white-space: nowrap
          font-size: 24px
          padding-bottom: 11px
          &.no-focus
            color: $additional_text
          span
            vertical-align: baseline
            padding-right: 4px
            display: inline-block
            margin-right: 4px
        &.b-form__element--checkbox
          margin-top: 24px
          font-size: 15px
          text-align: center
          input [type='checkbox']
            margin-right: 8px
        &.b-form__element--select
          position: relative
          display: block
          margin-bottom: 26px
          .b-selected
            font-size: 36px
            text-align: center
            display: block
            border-bottom: 2px solid rgba($primary_text, 0.25)
            position: relative
            +font($primary_text, $font16, 24)
            padding-bottom: 11px
            &:after
              content: ""
              right: 0
              top: 20px
              position: absolute
              width: 0
              height: 0
              border-style: solid
              border-width: 6px 5px 0 5px
              border-color: $primary_text transparent transparent transparent
          select
            top: 0
            left: 0
            right: 0
            bottom: 0
            position: absolute
            outline: none
            opacity: 0
        &.b-form__element--code
          padding-left: 0
        .b-input
          -webkit-appearance: none
          -moz-appearance: none
          display: block
          border: none
          outline: none
          width: 100%
          font-family: $font16
          &.b-input--phone, &.b-input--code
            display: inline
            width: 100%
            background: transparent
            color: $primary_text
            padding-left: 0
            font-size: 24px
            text-align: center
          &.b-input--code [type='email']
            font-size: 24px
          &.b-input--code
            text-align: center
            width: 100%
            display: block

          &.b-input--submit
            text-align: center
            font-size: 21px
            height: 45px
            background: $ved_green
            color: white
            border-radius: 2px
            padding-top: 3px
            box-sizing: border-box
            text-decoration: none
            &:disabled
              opacity: .5
          &.b-input--select
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            z-index: 10
            opacity: 0
        a.b-input.b-input--submit
          line-height: 43px
        &.b-form__element--error
          border-color: $ved_red
          color: $ved_red
          .b-input
            color: $ved_red
    &.b-content--landing
      .b-form
        margin-top: 14px
        .b-form__element
          padding-top: 0
      .b-description
        margin-top: 11px
    &.b-content--code
      .b-form
        .b-form__element
          .b-input--submit
            background-color: $additional_text
    &.b-content--result
      .b-form
        .b-form__element
          padding-top: 50px
    .b-form-button
      text-decoration: none
      color: $primary_text
      height: 45px
      border: 1px solid rgba($primary_text, 0.25)
      line-height: 45px
      display: block
      width: 130px
      border-radius: 2px
      text-align: center
      font-size: 15px
      margin: 25px auto 0

  .b-disclaimer
    overflow: hidden
    margin-top: 10px
    white-space: nowrap
    margin-left: 0
    & + .b-description
      margin-top: 10px
    .b-lock
      display: inline-block
      vertical-align: middle
    .b-disclaimer__text
      font-size: 21px
      font-weight: bold
      white-space: normal
      vertical-align: middle
      display: inline-block
      margin-left: 10px
  .b-price
    margin-top: 6px
    text-align: center
    .b-price__number
      font-size: 60px
      line-height: 60px
      font-weight: bold
      display: inline-block
      vertical-align: middle
    .b-price__text
      font-size: 24px
      font-weight: bold
      display: inline-block
      vertical-align: middle
      text-align: left
      position: relative
      top: -3px
      div
        line-height: 22px
        &:last-child
          position: relative
          top: 5px
  &.b-paywall--mobile
    background: $body_bg
    .b-lock
      img
        display: block
    .b-header
      padding: 18px 0 14px
    .b-disclaimer
      margin-top: 0px
      overflow: visible
      .b-disclaimer__text
        margin-left: 0px
        font-size: 24px
        font-family: $font6
        font-weight: normal
      .b-lock
        margin-left: 8px
    .b-description
      &.b-description--small
        font-family: $font16
        font-size: 18px
        line-height: 24px
        margin-top: 9px
.b-log-in
  margin-top: 25px
  font-size: 16px
  line-height: 21px
  text-align: center
  &.b-log-in--bold
    font-weight: 900
    font-size: 21px
    border-top: 1px solid rgba($primary_text, 0.25)
    padding-top: 17px
  .b-content--landing &
    margin-top: 18px
.b-error
  color: $ved_red
  text-align: center
.b-waiting
  position: absolute
  top: 50%
  left: 15px
  right: 15px
  margin-top: -68px
  .b-waiting__text
    font-size: 24px
    margin-bottom: 13px
  .b-waiting__loader
    height: 125px
    .uil-spin-css
      margin: auto
      transform-origin: top

.b-paywall
  .container.container--prices
    margin: 21px -15px 0
    border-top: 1px solid #ccc4c0
    padding: 0 14px 19px
    border-bottom: 1px solid #ccc4c0
    overflow: hidden
    box-sizing: border-box
    -webkit-transition: 0.2s ease-out all
    -moz-transition: 0.2s ease-out all
    transition: 0.2s ease-out all
    &.container--opened
      border-color: #a8b7b6
      background: #cfe4e4
      .b-triangle
        -moz-transform: rotate(90deg)
        -webkit-transform: rotate(90deg)
        transform: rotate(90deg)
    & + .container
      margin-top: 0
      border-top: none
    .b-container__wrapper
      overflow: hidden
    .b-container__title
      user-select: none
      font-family: $font16
      font-size: 24px
      line-height: 21px
      padding-left: 27px
      small
        display: block
        font-size: 18px
        margin-top: 2px
    .b-container__header
      padding: 20px 0 12px
      position: relative
    .b-triangle
      -webkit-transition: 0.2s ease-out transform
      -moz-transition: 0.2s ease-out transform
      transition: 0.2s ease-out transform
      display: block
      position: absolute
      width: 6px
      height: 11px
      background: inline-image('svg/triangle.svg')
      background-size: contain
      background-repeat: no-repeat
      top: 23px
      left: 2px

    .b-container__button
      .b-form
        margin-top: 6px
        .b-form__element--submit
          padding: 0
          font-family: $font16
    ul.b-perks
      list-style: none
      padding: 0
      margin: 13px 0
      li.perks__perk
        background-repeat: no-repeat
        font-size: 18px
        line-height: 24px
        padding: 3px 0 3px 26px
        background-position-y: 9px
        font-family: $font16
    .b-container__price
      font-size: 18px
      position: absolute
      right: 0
      bottom: 12px
      user-select: none
      font-family: $font16
      line-height: 21px
      span
        font-family: $font6
        font-size: 24px
        margin-right: 2px

.b-container-description
  white-space: nowrap
  padding-bottom: 9px
  margin-top: 16px

  .b-container-description__logo
    display: inline-block
    vertical-align: middle
    margin-left: 2px
    img
      vertical-align: baseline
  .b-container-description__text
    display: inline-block
    vertical-align: middle
    font-size: 15px
    line-height: 18px
    margin-left: 8px
    padding-bottom: 5px
    opacity: .75
    white-space: normal

ul.b-perks
  li.perks__perk
    background: inline-image('svg/done.svg')
