.b-popular24
  ul
    padding: 0
    margin: 0

  .header
    color: $color5
    font-family: $font3
    font-size: 24px
    padding: 10px 10px
    line-height: 1
    border-bottom: 1px solid $color5

  .body
    padding: 0 10px

  li
    position: relative
    padding: 10px 0 10px 30px
    border-bottom: 1px dotted $color3

  .index
    position: absolute
    left: 0
    top: 10px
    font-size: 30px
    line-height: 1
    font-family: $font1
    color: #bbaca6

  .title
    font-size: 20px
    line-height: 23.5px

  .label
    a
      color: $color5

.b-page_video, .b-page_gallery
