.b-part-icon
  display: block
  position: absolute
  left: 50%
  top: 50%
  +transform(translate(-50%, -50%))
  width: 122px
  height: 122px
  background-size: 100% 100%
  background-repeat: no-repeat

.b-part-icon_small
  width: 61px
  height: 61px

.b-part-icon_video
  background-image: inline-image('m/video.svg')

.b-part-icon_test, .b-part-icon_small_test
  background-image: inline-image('m/test.svg')
  opacity: .8

.b-part-icon_gallery,
.b-part-icon_galleries
  background-image: inline-image('m/photo.svg')

.b-part-icon_online
  background-image: inline-image('m/online.svg')
  opacity: .8

.b-part-icon_small_video
  background-image: inline-image('m/video.svg')

.b-part-icon_small_gallery
  background-image: inline-image('m/photo.svg')

.b-part-icon_test
  width: 150px
  height: 150px
.b-part-icon_small_test
  width: 90px
  height: 90px
  opacity: .8
.b-part-icon_small_online
  background-image: inline-image('m/online.svg')