.b-redline
  margin: 0
  position: relative
  background: $redline
  padding: 0 10px 14px
  z-index: 10
  .b-redline__time
    display: block
    +font(white, $font10, 15, 15)
    padding: 13px 0 8px

  .b-redline__word
    +font(white, $font10, 27, 30)
  
  .b-redline__title
    @extend .b-redline__word
  a.b-redline__title
    color: $primary_text
  .b-redline__close
    position: absolute
    top: 10px
    right: 6px
    cursor: pointer
    padding: 5px
  &.b-redline--announce
    background: $ved_green
    height: 45px
    line-height: 46px
    padding: 0
    text-align: center
    .b-redline__title

      padding: 0
      +font(white, $font16, 18, 46)
      span
        opacity: .5
    .b-redline__close
      top: 12px
      opacity: .5


.b-person-announce-wrapper
a.b-person-announce#per-announce
  height: 45px
  display: block
  margin-bottom: 10px
  background: image-url('m/Lewis.jpg')
  background-size: cover
  background-position: center
  position: relative
  .b-person-announce__title
    +font(white, $font16, 21)
    padding-top: 10px
    padding-left: 10px
  .b-announce-button
    position: absolute
    height: 25px
    top: 10px
    right: 10px
    border: 1px solid white
    overflow: hidden
    padding-right: 10px
    padding-left: 10px
    box-sizing: border-box
    .b-announce-button__text
      height: 23px
      //border-right: 1px solid white
      text-align: center
      +font(white, $font16, 15, 25)
    .b-announce-button__checker
      position: absolute
      top: 6px
      right: 5px
