.b-search-bar
  background: #8a7e76
  max-height: 0
  width: 100%
  +transition(max-height .3s ease-out)
  overflow: hidden

  &.opened
    max-height: 100px
    +transition(max-height .3s ease-in)

  &.show
    max-height: 60px

  form
    position: relative

  input
    display: block
    margin: 10px auto
    padding: 10px
    +box-sizing(border-box)
    width: calc(100% - 20px)
    height: 40px
    line-height: 40px
    border-radius: 5px
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2)
    border: 0
    font: 18px $font1
    outline: none

  .clear-query
    display: none
    cursor: pointer
    position: absolute
    right: 20px
    top: 50%
    +transform(translateY(-50%))
    width: 20px
    font-size: 0

    svg
      width: 100%
