.b-subscription
  position: relative
  &.loading
    opacity: 0.1

  .title
    font-size: 21px

  .warning
    font-size: 18px
    color: $color4

  .green-link
    color: $color1
    text-decoration: underline

  .dotted-link
    position: relative
    color: $color4
    text-decoration: none
    border-bottom: 1px dotted $color4

    &:after
      position: absolute
      line-height: 0
      right: -18px
      bottom: 5px
      content: "\25be"
      display: block
      width: 12px
      height: 6px
      color: $color4

    &.opened
      &:after
        bottom: 7px
        +rotate(180deg)

  .autopay
    background: #fff
    padding: 10px

    .title
      font-size: 18px
      line-height: 24px
      margin: 0 0 5px 0

    .warning
      color: $color7
      margin: 0

  .radios
    font-size: 0
    margin-bottom: 30px
    margin-top: 30px

    input
      position: relative
      z-index: 1
      top: 130px
      +translateX(-50%)

    input:checked + label
      background: #e5e9e5

      .price, .currency
        color: #b75459

    .radio
      text-align: center
      display: inline-block
      width: 48%
      vertical-align: top
      position: relative

      label
        height: 120px
        display: block
        border-radius: 15px
        background: #f7ebe4
        padding: 10px 0
        +transition (all .35s ease-in-out)

      &:last-child
        margin-left: 4%

    .crossedprice
      position: absolute
      color: #35312e
      text-decoration: line-through
      +translateX(-50%)

    .price
      font: 36px/30px $font3
      color: #35312e
      text-transform: uppercase

    .currency
      color: #35312e
      font: 18px/21px $font4

    .period
      font: 18px/21px $font1
      color: $color4

    .fullprice
      margin-top: 30px
      margin-bottom: 5px

  .actions
    input[disabled]
      opacity: .3
