.b-story
  position: relative
  padding-top: 25px

  .image
    width: 100%
    height: auto
    z-index: 1

  .sponsor
    top: 10px
    left: 10px
    position: absolute
    z-index: 2
    color: #fff
    font-size: 14px
    font-family: Arial, sans-serif

  .logo
    position: absolute
    right: 0
    top: 0
    width: 180px
    height: 46px
    z-index: 2

  .text
    bottom: 20px
    left: 10px
    right: 10px
    position: absolute
    z-index: 2

    .category
      color: #fff
      font: 16px $font1
      margin-bottom: 5px

    .title
      position: relative
      color: #fff
      font: bold 24px/26px $font3
      padding-right: 35px

      &:after
        content: ''
        position: absolute
        bottom: 1px
        right: 0
        width: 27px
        height: 27px
        background: inline-image("m/arrow-right.png") no-repeat 0 0
