.b-small-preview
  +float-right
  +inline-block
  width: 110px
  height: 73px
  position: relative
  margin-left: 10px
  margin-top: -27px

  img
    width: 100%
    height: auto

.multimedia
  .b-small-preview
    margin-top: 0
