/*----- TABLE -----*/
table
  width: 100%
  border: 1px solid $line
  th, td
    border: 1px solid $line
    +font($primary_text, $font2, 15, 21)
    padding: 5px

  th
    font-weight: bold
/*----- TABLE -----*/


/*----- B-TABLE -----*/
.b-table
/*----- B-TABLE -----*/


/*----- B-TABLE__HEADER -----*/
.b-table__header
  font-size: 21px
  line-height: 21px
  font-family: $font4
  font-weight: bold
  margin: 15px 0
/*----- B-TABLE__HEADER -----*/


/*----- B-TABLE__FOOTER -----*/
.b-table__footer
  margin-top: 10px
/*----- B-TABLE__FOOTER -----*/


/*----- B-TABLE__FOOTER__DESCRIPTION -----*/
.b-table__footer__description
  font-size: 14px
  line-height: 17px
  font-family: $font2
/*----- B-TABLE__FOOTER__DESCRIPTION -----*/


/*----- B-TABLE__FOOTER__SOURCE -----*/
.b-table__footer__source
  font-size: 14px
  line-height: 17px
  font-family: $font2
/*----- B-TABLE__FOOTER__SOURCE -----*/



.b-inset-table
  .b-inset-table-inner
    display: none
    position: fixed
    overflow: auto
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 10000
    background-color: white

    .table-content
      width: 100%
      height: 100%
      overflow: auto
      -webkit-overflow-scrolling: touch

      th
        opacity: 0

    .component
      line-height: 1.5em
      margin: 0 auto
      padding: 2em 0 3em
      width: 90%
      max-width: 1000px
      overflow: hidden

    .filler
      color: lightgrey

    table
      border-collapse: collapse
      width: 100%
      margin-bottom: 0
      transform-origin: 0 0
      background-color: $body_bg

      td, th
        padding: 12px 22px
        text-align: left
        .err
          background-color: $line
          color: white
          font-size: 0.75em
          text-align: center
          line-height: 1

        th
          background-color: $line
          +font($primary_text, $font4, 17, 21)
          white-space: nowrap
          &.sub-header
            color: #857871

        tr
          background-color: #fff6f1

        td
          color: #857871

    .sticky-wrap
      overflow-x: auto
      overflow-y: auto
      height: 100%
      position: relative
      width: 100%

      .sticky-col__wrapper, .sticky-intersect
        opacity: 1
        position: absolute
        top: 0
        left: 0
        overflow: hidden
        z-index: 50
        width: auto

      .sticky-col__wrapper
        overflow: visible
        width: 0

      .sticky-thead__wrapper
        opacity: 1
        position: absolute
        top: 0
        left: 0
        z-index: 50
        width: auto
        z-index: 100
        will-change: top
        width: 100%
        height: 0

      .sticky-col__wrapper
        height: 100%

      .sticky-intersect
        opacity: 1
        z-index: 150
        background-color: transparent

      th
        background-color: #f8ede6

      td, th
        box-sizing: border-box

  .b-open-button
    margin: 0 30px 10px 0
    height: 100px
    background-color: rgb(237, 227, 220)
    position: relative

    .b-open-button__icon
      background-image: inline-image("m/open_icon.svg")
      width: 40px
      height: 40px
      position: absolute
      left: 12px
      top: 50%
      transform: translateY(-50%)
      background-position: center
      background-size: contain
      background-repeat: no-repeat

    &:before
      background-image: inline-image("m/bg-d.svg")
      background-repeat: no-repeat
      background-size: contain
      content: ""
      position: absolute
      right: -30px
      height: 100%
      width: 40px
    .b-open-button__text
      text-decoration: underline
      padding: 18px 61px

  .zoom-controls
    position: fixed
    bottom: 10px
    width: 100%
    text-align: center
    z-index: 55555

    div
      display: inline-block
      margin: 0 15px 0 0

    .zoom-in, .zoom-out, .close-table
      width: 50px
      height: 50px

    .zoom-in
      background-image: inline-image("m/table_zoom_in.png")
    .zoom-out
      background-image: inline-image("m/table_zoom_out.png")
    .close-table
      background-image: inline-image("m/table_close.png")

  .b-help-message
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0, 0, 0, 0.65)
    display: none
    z-index: 1000000
    &.b-help-message--show
      display: block
    .b-help-icon
      position: absolute
      top: 20px
      left: 0
      right: 0
      .b-help-icon__pinch
        position: absolute
        left: 20px
        top: 0
      .b-help-icon__swipe
        position: absolute
        right: 20px
        top: 0

    .b-help-message__info
      position: absolute
      bottom: 20px
      left: 0
      right: 0
      text-align: center
      +font(#fff, $font10, 18)
      .b-help-text
        color: white
        text-align: center
        padding: 0 30px 15px
    .b-button__skip
      box-sizing: content-box
      text-align: center
      border-radius: 5px
      margin-top: -2px
