.b-text-box
  border-bottom: 1px dotted $color3
  border-top: 1px dotted $color3
  padding: 10px
  margin-left: -10px
  margin-right: -10px
  position: relative

  &.opened
    padding-bottom: 40px

  &.collapsed
    height: 230px
    padding-bottom: 10px
    overflow: hidden

  .b-text-box-show, .b-text-box-hide
    display: none
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    background: $color0
    color: $color1
    font: 15px $font1
    padding: 10px
    box-shadow: 0 -20px 30px $color0
    text-decoration: dotted

    span
      border-bottom: 1px dotted $color1

    &:after
      position: absolute
      line-height: 0
      left: 130px
      bottom: 15px
      content: "\25be"
      display: block
      width: 12px
      height: 6px
      color: $color1

  .b-text-box-hide
    box-shadow: none

    &:after
      left: 70px
      bottom: 17px
      +transform(rotate(180deg))

  p
    font-size: 15px
    line-height: 18px
    font-family: $font1
    color: $color4
    margin-bottom: 0
    margin-top: 10px

  .header
    font-family: $font4
    font-size: 21px
    line-height: 24px
    color: $color7
