.b-to-news
  +inline-block
  background-color: $color1
  color: $color0
  font-family: $font1
  +border-radius(5px)
  margin-left: 10px
  padding: 8px 44px 12px 15px
  margin-bottom: 20px
  margin-top: 15px
  position: relative

  span
    display: block
    position: absolute
    right: 14px
    top: 14px
    background: inline-image('m/right.png') no-repeat left top
    width: image-width('m/right.png')
    height: image-height('m/right.png')
