//@import "vedomosti_mixins"
//@import "variables"
@import "../../icon"
@import "../../blocks/button"

.b-document_test

  .body
    padding: 10px 0
    .b-popular24
      padding: 0 10px
  .b-test__header
    +font($primary_text, $font4, 15, 18,'', normal)
    padding-right: 40px
    margin: 0 0 10px 10px
    position: relative
    &.result
      padding-right: 120px

.b-tests

  position: relative
  *
    box-sizing: border-box
.b-test__button-next
  width: 49px
  height: 49px
  background: url("test_next_large.png") 0 0 no-repeat
  position: absolute
  bottom: 15px
  left: 50%
  margin-left: -25px
  z-index: 103



.b-test__counter
  position: absolute
  +font($primary_text, $font1, 15, 15,'', normal)
  right: 0
  top: 50%
  +transform(translateY(-50%))
  padding: 0 10px
  background: $body_bg

.b-test__image
  width: 100%
  display: block
.b-test__main-wrapper
  position: relative

.b-test__image-wrapper
  position: relative
  min-height: 213px
.b-test__image-mask
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 100
  background: rgba(0,0,0,0.25)

.b-test__image-answer-mask
  top: 10px
  right: 10px
  bottom: 10px
  left: 10px
  opacity: 0.5
  position: absolute
  z-index: 101
  &.wrong
    background-color: #b55757
  &.right
    background-color: #2e6f6f
.b-test__info-wrapper
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  &.result
    bottom: 55px
  .b-test__info-layout
    position: absolute
    z-index: 102
    top: 50%
    +transform(translateY(-50%))
    padding: $gatter + px
    width: 100%
    text-align: center

.b-test__title,
.b-test__curent-step,
.b-test__wrongtext,
.b-test__righttext
  +font(white, $font10, 18, '', '', bold)
  +inline-block
  padding: 0 10px

.b-test__choices-list
  margin: 10px 0 0 0
  padding: 0

  .images &
    list-style: none
    display: table
    border-collapse: collapse
    width: 100%
.b-test__choices-wrapper
  padding: 0 10px
.b-test__choices-item
  +font($primary_text, $font10, 18)
  padding: 10px
  margin-bottom: 10px
  background-color: $tan5

  &.active
    background-color: $tan - 20
    .voted &
      background-color: $tan - 20
      &.right
        background-color: #97c1c1
      &.wrong
        background-color: #d6a29e

  .images &
    padding: 0
    display: table-row
    border-bottom: 10px solid #fff6f1

    .b-test__choice-image
      display: block
      width: 100px
      height: 100px
      float: left
    .b-test__choice-image__wrapper
      display: table-cell
      vertical-align: middle
      width: 100px
    .b-test__choice__text-wrapper
      padding: 0 20px
      display: table-cell
      vertical-align: middle

.grid, .images
  +clearfix

.b-test__choice-image
  display: none

.b-test-result__info-layout
  position: absolute
  z-index: 102
  width: 100%
  text-align: center
  top: 50%
  +transform(translateY(-50%))
.b-test__resultCounter
  position: absolute
  +font($primary_text, $font10, 15, 15, '', normal)
  right: 0
  top: 50%
  +transform(translateY(-50%))
  padding: 0 10px
  background: $body_bg

.b-test__sharing-wrapper
  border: 1px solid $tan
  position: relative
  padding: 30px 50px
  text-align: center
  margin: 25px 40px

.b-sharing__title-wrapper
  width: 100%
  position: absolute
  top: -9px
  +font($primary_text, $font10, 15, 15)

  left: 0
  text-align: center

.b-sharing__title
  +inline-block
  padding: 0 12px
  background-color: #FFF6F1
  +font($primary_text, $font10, 15, 15)

.b-button__wrapper
  margin-bottom: 10px
  .b-button
    font-family: $font10

.title.result
  padding-right: 145px
.b-button__social
  margin-right: 1px
  vertical-align: top
.b-test__sharing
  font-size: 0
.b-icon.icon-social
  border: 0 none
.b-test__copyright
  padding: 10px
  +font($additional_text, $font10, 13, 15)


.b-test__sharing-image
  width: 1px
  height: 1px
  overflow: hidden
  opacity: 0