/*----- B-COMPANY-COLUMN -----*/
.b-company-column
  margin-right: $gatter + px
/*----- B-COMPANY-COLUMN -----*/

/*----- B-COMPANY-LIST -----*/
.b-company-list
  min-height: 100vh
/*----- B-COMPANY-LIST -----*/


/*----- B-COMPANY-COLUMN__WRAPPER -----*/
.b-company-column__wrapper
  font-size: 0
  width: 9 * $col + 9 * $gatter + px
  +breakpoint(0 $medium)
    width: 6 * $col + 6 * $gatter + px

  margin-left: 0
  +clearfix

  &.b-company-column__wrapper_english
    border-top: 1px dotted $line
    margin-top: 13px
    padding-top: 18px
/*----- B-COMPANY-COLUMN__WRAPPER -----*/


/*----- B-COMPANY-COLUMN__ITEM -----*/
.b-company-column__item
  padding: 10px 10px 12px
  margin-left: -10px
  margin-right: 15px
  .b-document_company-list--search &
    margin: 0

  &.b-company-column__item--letter
    text-transform: lowercase
    +border-radius(3px)
    +font($additional_text2, $font4, 21, 30)
    padding: 0
    margin: 15px 0 14px 0
    border: 1px solid $line
    width: 34px
    height: 34px
    text-align: center
    margin-bottom: 6px

  &.b-company-column__item--industry
    +font($additional_text2, $font4, 18, 22)
    display: inline-block
    border: 1px solid $line
    padding: 5px 10px
    margin: 13px 0 18px 0

  &.b-company-column__item_paid
    background: rgb(255,255,255)
    padding: 10px
    margin-bottom: 15px
  .b-company-column__item__title
    a
      +font($primary_text, $font4, 18)
      text-decoration: none !important
      margin: 0
/*----- B-COMPANY-COLUMN__ITEM -----*/


/*----- B-COMPANY-COLUMN__TITLE -----*/
h1.b-company-column__title
  +font($primary_text, $font5, 24)
  margin: 0
/*----- B-COMPANY-COLUMN__TITLE -----*/


/*----- B-COMPANY-COLUMN__ITEM__TITLE -----*/
.b-company-column__item__title
  a
    +font($black, $font11, 18, 17, inherit, bold)

/*----- B-COMPANY-COLUMN__ITEM__TITLE -----*/


/*----- B-COMPANY-COLUMN__ITEM__SUBTITLE -----*/
.b-company-column__item__subtitle
  +font($additional_text2, $font11, 15, 17, inherit, bold)
  &:first-letter
    text-transform: uppercase
/*----- B-COMPANY-COLUMN__ITEM__SUBTITLE -----*/


/*----- B-COMPANY-COLUMN__INFO -----*/
.b-company-column__info
  +clearfix
  padding: 15px 0
  .total
    float: right
  border-bottom: 1px solid $line

  .sort_by
    white-space: nowrap
    +font($primary_text, $font11, 13)
    a
      width: 50%
      margin: 0
      border: 1px solid $line
      +font($additional_text, $font11, 13, 23, inherit, bold)
      position: relative
      +inline-block
      padding: 0 10px
      box-sizing: border-box
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px
      text-align: center
      height: 25px
      &:first-child
        border-radius: 3px
        border-top-right-radius: 0
        border-bottom-right-radius: 0
      &.active
        +font($white, $font11, 13, 21, inherit, bold)
        background: $ved_green
        border-color: $ved_green
/*----- B-COMPANY-COLUMN__INFO -----*/

.b-nav-wrapper
  margin: 15px -10px
  border-top: 1px solid $line
  border-bottom: 1px solid $line
  font-size: 0
  background: white

  .b-navigator
    box-sizing: border-box
    overflow: hidden
    width: 100%

  .b-company-letters
    width: 100%
    overflow: auto
    white-space: nowrap
    padding: 15px 10px
    box-sizing: border-box

    .b-company-letters__letter
      +font($primary_text, $font11, 13, 24)
      height: 24px
      width: 24px
      text-align: center
      border-radius: 12px
      display: inline-block
      vertical-align: middle
      margin-right: 5px

      &.b-company-letters__letter--active
        background-color: $navigator_letter_active
        color: white