.b-material-list
  width: 100%

.b-material-list__title
  +font($ved_red2, $font11, 21, inherit, inherit, bold)
  margin-bottom: 17px
  padding-bottom: 8px
  border-bottom: 1px solid $line
  width: 100%
  margin-top: 50px


.b-material-list__list
  list-style: none
  padding: 0
  margin: 0
  
.b-article__title
  font: 21px/21px $font6
  margin-bottom: 5px
