.b-paginator-wrapper
  width: 100%
  +clearfix

.b-paginator
  margin: 41px auto 47px
  text-align: center
  padding: 0

  &.disabled
    display: none

  li
    padding: 6px 12px
    +inline-block
    +border-radius(3px)
    +clearfix

    &.active
      background: $ved_red2
      border: none

    &.active a
      +font($white, $font8, 13, inherit, normal, bold)
      color: $white!important

    &.previous_page,
    &.next_page
      border: none

    a
      transition: none
      +inline-block
      width: 100%
      text-align: center
      +font($primary_text, $font8, 13, inherit, normal, bold)
      &:hover
        color: $ved_green

.b-paginator > li:first-child,
.b-paginator > li:last-child,
.b-paginator > li:nth-last-child(-n+2),
.b-paginator > li:nth-child(2)
  & a
    font-size: 20px
    line-height: 28px
  height: 32px
  padding: 0 12px
  &.disabled
    opacity: 0.5
    a
      color: $primary_text!important
