.b-press-releases
  margin-bottom: 45px

.b-press-releases__title
  margin-bottom: 17px
  //padding-bottom: 8px
  border-bottom: 1px solid $line
  width: 100%
  +font($ved_red2, $font11, 21, inherit, inherit, bold)
  margin-top: 50px
  a, a:hover
    +font($ved_red2, $font11, 21, inherit, inherit, bold)

.b-press-releases__more
  +font($ved_red2, $font11, 17, 21)
  +inline-block
  margin-top: 5px
  position: relative
  text-decoration: underline!important
  margin-left: 10px
  &:before
    content: '•'
    position: absolute
    left: -10px

  &:hover
    +font($ved_red2, $font11, 17, 21)
    text-decoration: none!important

.b-press-releases__year
  +inline-block
  margin-right: 30px
  text-align: center
  width: 60px
  height: 36px
  +border-radius(3px)
  a
    +font($red_text, $font11, 21, 36)
    text-decoration: underline
    &:link
      text-decoration: underline
    &:hover
      text-decoration: none
  &.b-press-releases__year_current
    background: $ved_red2
    +font($white, $font11, 21)
    a
      +font($white, $font11, 21)
      text-decoration: none
