- render_title('Газета')
= render 'm/blocks/caption_and_menu', label: @newsrelease.title, url: root_path
= render_block '/includes/redline'
- if !Rails.env.development?
  == '<!--# set var="OWL_SMART" value="$owl_status/$owl_reason/$owl_state" --><!-- OWL_SMART: "<!--# echo var="OWL_SMART" -->" -->'

= render_block "/includes/owl_smart/$OWL_SMART/newspaper/#{@newsrelease.published_at.strftime('%Y/%m/%d')}/issue"
