- if @owl_status == 'ok' && @owl_reason != 'not_subscriber'
  - banner_list = { 1 => 'banner2',
          3 => 'banner3',
          6 => 'banner4',
          9 =>  'banner5'}
  - @pages.each_with_index do |list, i|
    - if banner_list[i]
      - if i == 0
        div{style="display: none;"}
          = render "m/banners/#{banner_list[i]}"
      - else
        = render "m/banners/#{banner_list[i]}"
    = render 'm/blocks/list', list: list
- else
  // TODO
  div
    = render 'm/paywall/newspaper'
