- render_title('Аккаунт заблокирован')

= render 'm/blocks/caption_and_menu'

.b-document.b-document_user-block
  h1 К сожалению, Ваш аккаунт заблокирован
  p
    |Вы были заблокированы, так как не активировали учетную запись. Вам на почту
    br
    |отправлено  письмо со ссылкой для активации аккаунта.

  .redirect-block
    | Через &nbsp;
    span#timer
      | 10
    | &nbsp;секунд вы попадёте на &nbsp;
    = link_to 'vedomosti.ru', root_path

  javascript:
    var interval = window.setInterval(function() {
      var timeLeft = document.getElementById('timer').innerHTML;
      if(timeLeft * 1 == 0){
        window.clearInterval(interval)
        window.location = ("#{root_path}");
      }
      else
      {
        document.getElementById('timer').innerHTML = timeLeft * 1 - 1;
      }
    }, 1000);
