/формирование title для страницы
- render_title('Вход на сайт')

.b-sign-in-container
  .b-subscription-form-box

    .b-subscription-form-fieldset.b-subscription-form-fieldset_left
      = form_for @sign_in_form, url: '/sign_in_with_password', html: { class: 'b-form' } do |f|
        .b-subscription-form-field_social__header Вход на сайт

        .b-subscription-form-field.b-subscription-form-field_sign-in
          span.b-subscription-form-field__icon
            i.b-icon.icon-input-email
          = f.text_field :email, class: 'b-subscription-form__text b-subscription-form__text_login', placeholder: 'E-mail'
          - if @sign_in_form.errors[:email].present?
            .error= @sign_in_form.errors[:email].first

        .b-subscription-form-field.b-subscription-form-field_sign-in
          span.b-subscription-form-field__icon
            i.b-icon.icon-input-pass
          = f.password_field :password, class: 'b-subscription-form__text b-subscription-form__text_password', placeholder: 'Пароль'
          - if @sign_in_form.errors[:password].present?
            .error= @sign_in_form.errors[:password].first

        .b-subscription-form-field.b-subscription-form-field_sign-in
          = link_to 'Забыли пароль?', password_reset_email_form_path, class: 'restore_password'

        .b-subscription-form-field.b-subscription-form-field_sign-in
          button.b-subscription-button.b-subscription-button_long.b-subscription-button_small{type='submit'} Войти

      .b-subscription-form-field
        .sign-up
          i.b-icon.icon-key
          | Нет аккаунта на vedomosti.ru? #{link_to 'Зарегистрируйтесь', '/sign_up'}

    div.b-form-divider
    - if !defined?(hide_social_auth)
      .b-subscription-form-fieldset.b-subscription-form-fieldset_right
        = render 'register/oauth_links'
