.b-document.b-document_user-block
  h1 Слишком много открытых сессий.

  .redirect-block
    | Через &nbsp;
    span#timer
      | 10
    | &nbsp;секунд вы попадёте на &nbsp;
    = link_to 'vedomosti.ru', root_path

  javascript:
    var interval = window.setInterval(function() {
      var timeLeft = document.getElementById('timer').innerHTML;
      if(timeLeft * 1 == 0){
        window.clearInterval(interval)
        window.location = ("#{root_path}");
      }
      else
      {
        document.getElementById('timer').innerHTML = timeLeft * 1 - 1;
      }
    }, 1000);
