.b-article.b-article_level2
  a.b-article__image {href='#'}
    .b-image.b-image_level2
      i.b-icon.icon-infographic
      img src='http://lorempixel.com/300/198/city/2/'
  .b-article__left-inner
    .b-article__rubric
      a {href='#'} Финансы
    h2.b-article__title
      a {href='#'} Китайские компании стали крупнейшими заемщиками в мире
    /= render '/main/common/comment'