- unless @documents.empty?
  .b-material-list
    .b-material-list__title = "Материалы о персоне"

    ul.b-material-list__list
      - @documents.each_with_index do |document, index|
        = render_list_item(document, index)

    = link_to 'Все материалы о персоне', "/search?q=#{@person.first_name}+#{@person.last_name}&exclude=press_releases,companies,authors,people", class: 'b-press-releases__more'
