- unless @documents.empty?
  .b-material-list
    .b-material-list__title = "Материалы о компании"

    ul.b-material-list__list
      - @documents.each_with_index do |document, index|
        = render_list_item(document, index)

      = link_to 'Все материалы о компании', "/search?q=#{@company.title}&exclude=press_releases,companies,authors,people", class: 'b-press-releases__more'
