- if @popular24.present?
  .b-popular24
    .header= @popular24.header
    ul.body
      - @popular24.documents.each_with_index do |document, index|
        li
          .index= index + 1
          .label= label_link(document, 'main', :index)
          .title= link_to document.title, relative_link(document.url), :target => '_self'
