- if @redline_active
  .b-redline-wrapper
    .b-redline#redline{style='display: none;'}
      time.b-redline__time= Time.parse(@redline_active[:created_at]).strftime('%H:%M')
      .b-redline__close {onclick='closeRedline()'}
        .b-icon.b-icon--svg.b-icon--close
      - if @redline_active[:url] && @redline_active[:url] != ''
        span.b-redline__link
          span.b-redline__word
            = @redline_active[:label]
            |:&nbsp;
          a.b-redline__title{href="#{@redline_active[:url]}"}
            = @redline_active[:title]
      - else
        span.b-redline__link
          span.b-redline__word
            = @redline_active[:label]
            |:&nbsp;
          span.b-redline__title
            = @redline_active[:title]
  javascript:
    if (document.cookie.indexOf('redlineClosed') == -1) {
      document.getElementById('redline').style.display = 'block'
    }
    function closeRedline() {
      document.getElementById('redline').style.display = 'none'
      var expires = new Date(Date.now()+1*1000*60*60*24);
      document.cookie = 'redlineClosed=true;expires='+expires.toGMTString()+';path=/';
    }
