- if @user.nil?
  javascript:
    var user_options = { "status": "guest" };
  = link_to 'Вход', "#{Settings.hosts.lago}/sign_in", class: 'login'
  = link_to 'Регистрация', "#{Settings.hosts.lago}/sign_up", class: 'register'
  = link_to 'Подписаться', 'javascript:Mobile.goSubscribeMenu()', class: 'subscribe'
- else
  javascript:
    //параметры адривера
    var user_options = #{{@user.for_user_options}};

  = link_to "#{Settings.hosts.lago}", class: 'user' do
    = @user.first_name
    | &nbsp;
    = @user.last_name
  = link_to 'Подписаться', 'javascript:Mobile.goSubscribeMenu()', class: 'subscribe'