- if @rubric.nil?
  - render_title('новости бизнеса и финансов, аналитика, смарт-версия газеты')
- else
  - render_title("#{@rubric.title} - Новости")

= render 'm/blocks/caption_and_menu'

= render_block '/includes/redline'

= render 'm/blocks/list', list: @top, banner: true

= render 'm/blocks/news'

- banner_list = { 0 => 'banner2',
        3 => 'banner3',
        6 => 'banner4',
        9 => 'banner5' }


- if !params[:rubric_slug].nil?
  - banner_list = {0 => 'banner2',
          3 => 'banner3'}


- @lists.each_with_index do |list, i|

  - if banner_list[i]

    = render "m/banners/#{banner_list[i]}"

  - if story = /^story-/.match(list.slug)
    = render 'blocks/story', story: Document.new(list.as_json.merge(categories:{})), documents: list.documents
  - elsif 'multimedia-top' == list.slug
    .multimedia.multimedia-top
      = render 'm/blocks/multimedia_top', list: list, header: list.header
  - else

    = render 'm/blocks/list', list: list
