- render_title("Мультимедия")

= render 'm/blocks/caption_and_menu'

.multimedia
  = render_block '/includes/redline'
  = render 'm/blocks/multimedia_top', list: @lists.first

  - @lists[1..@lists.length].each do |list|
    = render 'm/blocks/list', list: list

sass:
  .b-page
    background-color: #544b48
