- render_title("Профиль пользователя")

= form_for @form, url: users_update_path, html: { class: 'b-profile-form' } do |f|
  .holder
    .wrap
      .name Профиль
      table
        tr
          td.avatar
            .b-icon.icon-profile
          td.left
            .group
              = f.label :first_name, 'Имя'
              = f.text_field :first_name
            
            .group
              = f.label :email, 'E-mail'
              = f.text_field :email
            
            / - if @user.autopay
            /   .group.clearfix
            /     label
            /       = f.check_box :autopay, style: 'width: auto'
            /       span &nbsp;&nbsp;автопролонгация подписки
          
          td.right
            .group
              = f.label :last_name, 'Фамилия'
              = f.text_field :last_name
            
            .group
              = f.label :phone, 'Телефон'
              = f.text_field :phone
              .hint Запишите телефон в формате +7 (495) 123 45 67
  
  .holder
    .wrap
      .name Смена пароля
      table
        tr
          td.avatar
          td.left
            .group
              = f.label :password, 'Новый пароль'
              = f.password_field :password
          
          td.right
            .group
              = f.label :password_confirmation, 'Подтверждение'
              = f.password_field :password_confirmation
              - unless @form.valid?
                .error= @form.errors[:password_confirmation].first
      .actions = f.submit 'Сохранить', class: 'b-subscription-button'
  
  
  - if @form.access_rights.present?
    .holder.subscriptions
      .wrap
        .name Подписка
        
        table
          tr
            th №
            th Начало
            th Окончание
            th Стоимость, руб
            th Продукт
            th Период
          - @form.access_rights.each do |access_right|
            - if access_right.start_date.present? && access_right.end_date.present?
              - order = access_right.order
              tr
                td= access_right.order.id if access_right.order.present?
                td= l Time.parse(access_right.start_date), format: :date_only
                td= l Time.parse(access_right.end_date), format: :date_only
                
                td= order.price.value if access_right.order.present? && access_right.order.price.present?
                td= order.price.product if access_right.order.present? && access_right.order.price.present?
                td= order.price.period if access_right.order.present? && access_right.order.price.present?
        
        .hint По всем вопросам связанным с подпиской обращайтесь: +7 (495) 232 17 53, <a href="mailto:podpiska@vedomosti.ru">podpiska@vedomosti.ru</a>
