- render_title('Обратная связь')
= render 'm/blocks/caption_and_menu', label: 'Новости', url: root_path

.b-document.b-document_info{ng-init='current_tab=0'}
  .b-text-content
    .b-select-element
      .b-label = 'Адрес редакции '
      .b-select
        .b-select__text
          span{ng-if='current_tab==0'} = 'в Москве'
          span{ng-if='current_tab==1'} = 'в Санкт-Петербурге'
        select{ ng-model='current_tab'}
          option{value='0'}= 'в Москве'
          option{value='1' }= 'в Санкт-Петербурге'
    .b-info{ng-if='current_tab==0'}
      p
        = '127018, г. Москва,'
        br
        = 'ул. Полковая, д. 3, стр. 1'
      p
        = 'Телефон редакции:'
        br
        = '+7 (495) 956–34–58'
        br
        = 'Телефон коммерческих служб:'
        br
        = '+7 (495) 232–32–00'

      p
        = 'Факс: +7 (495) 956–07–16'
        br
        span
          | E-mail:
          a.b-subscription-contacts-mail {href='mailto:info@vedomosti.ru' } = 'info@vedomosti.ru'
    .b-info.ng-cloak{ng-if='current_tab==1'}
      p
        = 'г. Санкт-Петербург, '
        br
        = 'ул. Боровая, д.32, БЦ «Stels», офис 601'
      p
        = 'Телефон редакции:'
        br
        = '+7 (812) 325–60–80'

  #map.b-map{ whale-shark="" no-auto-init='false' points="[[55.79829227699888,37.60463649999993], [59.917993757993926,30.34630299999998]]"  active-point = "{{current_tab}}" }

