- render_title('Обратная связь')

= render 'm/blocks/caption_and_menu', label: 'Новости', url: root_path

.b-form.b-feedback

    h1.b-feedback__title
      | Обратная связь

    - if @success
      p.b-feedback__success Ваше сообщение отправлено!
    - else
      = form_for @feedback_form, url: info_feedback_path do |f|
        = f.hidden_field :type, value: 'feedback'

        .b-feedback__field
          = f.text_field :username, class: 'b-feedback__input', 'placeholder' => 'Имя и фамилия *'
          - if @feedback_form.errors[:username].present?
            .error= @feedback_form.errors[:username].first


        .b-feedback__field
          = f.text_field :email, class: 'b-feedback__input', 'placeholder' => 'E-Mail*'
          - if @feedback_form.errors[:email].present?
            .error= @feedback_form.errors[:email].first

        .b-feedback__field
          = f.text_field :phone, class: 'b-feedback__input', 'placeholder' => 'Телефон*'
          - if @feedback_form.errors[:phone].present?
            .error= @feedback_form.errors[:phone].first

        .b-feedback__field
          = f.text_area :message, class: 'b-feedback__textarea', 'placeholder' => 'Ваш вопрос*'
          - if @feedback_form.errors[:message].present?
            .error= @feedback_form.errors[:message].first

        = f.submit 'Отправить', class: 'b-feedback__button'

        .b-feedback__caption * Обязательные для заполнения поля
