- render_title(@document.title)
= render 'm/blocks/caption_and_menu'
.b-document.b-document_info#document
  .body
    .title = @document.title

    .body= render 'm/document/boxes_free'

= render 'm/document/gallery' if @document.gallery?
