.b-inset.b-inset_chronology
  - if box.has_image?
    = image_with_dimension(box.image, :default, alt: nil, image_class: nil)
  .title = box.title
  .subtitle== box.body
  ul = render partial: 'boxes/chronology_item', collection: box.children
