/файл
.b-inset.b-inset_container_attachments
  ul
    - box.children.select(&:has_file?).each do |file|
      li.b-file
        .b-file__title{class = "#{['.doc', '.ppt','.pptx', '.pdf'].include?(File.extname(file.file[:original][:url])) ? '' : 'no-icon'}"}
          = link_to "https://#{Settings.hosts.agami}#{file.file[:original][:url]}", :target => '_blank', :download => '#{file.title}' do
            - case File.extname(file.file[:original][:url])
              - when '.pdf'
                i.b-icon.icon-pdf_file
              - when '.ppt'
                i.b-icon.icon-ppt_file
              - when '.pptx'
                i.b-icon.icon-ppt_file
              - when '.doc'
                i.b-icon.icon-doc_file

            = file.title
            i.b-icon.icon-download
            i.b-icon.icon-download-green

        .b-file__description
          = link_to file.description, "https://#{Settings.hosts.agami}#{file.file[:original][:url]}", :target => '_blank', :download => '#{file.title}'
