/подключение dulton media
.b-inset-media-wrapper.no-print
  .b-inset-dulton-media
    .b-inset-dulton-media__inner
      .eagleplayer { data-id = "#{box.dulton_id}" data-width='100%' data-height='100%' }
  / .inset-media-title TODO: dulton media title
  / .inset-media-info TODO: Видео / Ведомости

- if @document.online?
  - if box.has_description?
    p.b-broadcast__description== box.description
    
