- images.each_with_index do |image, index|
  .b-gallery__item {ng-show = "#{index + 1} == current_item"}
      = image image.image.large1440.url
      .b-gallery__item__descr
        = image.description
        .author = image.author
