/встроенное видео или галерея
- if box.bound_document.gallery?
  = render_gallery(box.bound_document.id, box.bound_document.gallery.children, 'default')
- elsif box.bound_document.video?
  - if 'dulton_media' == box.bound_document.video.type
    .b-inset-dulton-media.no-print
      .b-inset-dulton-media__inner
        .eagleplayer{data-id = box.bound_document.video.dulton_id data-width='100%' data-height='100%'}
  - if 'inset_media' == box.bound_document.video.type
    .b-embed.no-print
      == box.bound_document.video.body
