/картинка
- if @document && @document.has_part? && @document.part.slug == 'news'
  .b-inset-image.b-inset-image_fast-news
    - if box.has_image?
      = image box.image.tiny.url, ''
      .b-inset-image__descr
        - if box.has_title?
          .title = box.title
        - if box.has_author? && box.has_copyright?
          .author-source = "#{box.author} / #{box.copyright}"
        - elsif box.has_author?
          .author-source = box.author
        - elsif box.has_copyright?
          .author-source = box.copyright
- else
  .b-inset-image.b-inset-image_document
    = render_gallery(box.id, box, 'image')