- if 'left' == box.align
  .b-inset.no-print
    /исключаем циклы у них нет part.slug
    - if box.has_bound_document? && box.bound_document.categories.has_parts?
      - if box.has_alternative_title? && box.has_alternative_subtitle?
        = render_item(box.bound_document, 'level2', ['padding-bottom'], 'div', '', false, '_blank', box.alternative_title, box.alternative_subtitle)
      - elsif box.has_alternative_title?
        = render_item(box.bound_document, 'level2', ['padding-bottom'], 'div', '', false, '_blank', box.alternative_title)
      - else
        = render_item(box.bound_document, 'level2', ['padding-bottom'], 'div', '', false, '_blank')

- elsif 'center' == box.align
  .b-big-green-link.no-print
    - if box.has_bound_document?
      i.b-icon.icon-green-arrow-right.no-print
      = link_to box.has_alternative_title? ? box.alternative_title : box.bound_document.title, relative_link(box.bound_document.url), target: '_blank'
