.b-map-wrapper
  .b-map-buttons
    .b-map-buttons__button.b-map-buttons__button--plus { id="plus-#{box.id}" } = '+'
    .b-map-buttons__button.b-map-buttons__button--minus {id="minus-#{box.id}"} = '-'
  = render '/common/map_box_script', {box: box, mobile: false}