.b-inset_quote
  .inner
    .person
      -if box.has_image?
        = image box.image.default.url, ''
      -else
        | нет фото
    .name
      = box.name
      span.job = box.job
  .text = box.body
