.b-social-post
  - if box.has_title?
    .b-social-post__title
      = box.title
  - if box.has_url?
    .b-social-post__post
      - case get_post_network(box.url)
        - when 'facebook'
          .fb-post {data-href="#{box.url}" data-width='430'}
        - when 'twitter'

          .twitter-post {id="#{box.id}"}
          javascript:
            twttr.ready (function(){
              twttr.widgets.createTweet(
                "#{get_tweet_id(box.url)}",
                document.getElementById("#{box.id}"),
                {
                  align: 'center'
                });
            });
        - when 'instagram'
          blockquote.instagram-media {data-instgrm-captioned="" data-instgrm-version="7" style='background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0),0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);' }
           div style="padding:8px;"
             div {style='background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;'}
               div {style=' background:url(data:image/png;base64),iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;'}
             p {style=' margin:8px 0 0 0; padding:0 4px;"'}
               a {href="#{box.url}" style='color:#000; font-family:Arial),sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank'}
        - when 'vk'
          .vk-post {ved-vk-post="#{box.url}"}
        - else
          = box.url
          =  get_post_network(box.url)
  - if box.has_body?
    .b-social-post__body
      = box.body