- json = Oj.load(box.json)

.b-inset-table{inset-table json="#{box.json}"}
  h2.b-inset-table__header= json[:title]
  table
    thead
      - json[:renderData].each_with_index do |row, row_index|
        - if json[:rows][row_index][:title]
          tr
            - row.each_with_index do |col, col_index|
              - if col && ((col_index + 1) < row.length)
                th{
                  colspan="#{col[:colspan]}" 
                  rowspan="#{col[:rowspan]}" 
                  class="#{col[:align]}"
                  data-colindex="#{col[:colIndex]}"}
                  - if col[:colspan] == '1'
                    span== col[:value]
                  - else
                    == col[:value]
    tbody
      - json[:renderData].each_with_index do |row, row_index|
        - if !json[:rows][row_index][:title]
          - if json[:rows][row_index][:expand]
            tr.expand{ng-click="toggleExpandedContent($event)" class="#{'highlight-color' if json[:rows][row_index][:highlightColor]} #{'highlight-bold' if json[:rows][row_index][:highlightBold]}"}
              - row.each_with_index do |col, col_index|
                - if col && col_index != (row.length - 1)
                  td{
                    colspan="#{col[:colspan]}" 
                    rowspan="#{col[:rowspan]}" 
                    class="#{col[:align]}" 
                    data-colindex="#{col[:colIndex]}"
                    class="#{'highlight-column' if json[:columns][col_index][:highlight]}"}
                    .expand-label== col[:value]
                - elsif col_index == (row.length - 1)
                  td.expand-html{
                    class="#{col[:align]}"
                    data-colindex="#{col[:colIndex]}"}== col[:value]
          - else
            tr{class="#{'highlight-color' if json[:rows][row_index][:highlightColor]} #{'highlight-bold' if json[:rows][row_index][:highlightBold]}"}
              - row.each_with_index do |col, col_index|
                - if col
                  td{
                    colspan="#{col[:colspan]}" 
                    rowspan="#{col[:rowspan]}" 
                    class="#{col[:align]}"
                    data-colindex="#{col[:colIndex]}"
                    class="#{'highlight-column' if json[:columns][col_index][:highlight]}"}== col[:value]
  span.b-inset-table__reset{ng-click="resetSorting()" ng-show="isSortingEnabled"} Сбросить сортировку
  .b-inset-table__description
    - if json[:description]
      == json[:description][:'0']
  .b-inset-table__description
    - if json[:description]
      == json[:description][:'1']
  .b-inset-table__description
    - if json[:description]
      == json[:description][:'2']
  .b-inset-table__source= json[:source]
