/текст (если очень длинный - то с кнопкой свернуть/развернуть)
- if box.body.length > 1200
  .b-inset.b-inset_text.b-inset_text_long-text.no-print{ved-accordion ng-attr-boxid="#{box.id}"}
    - if box.has_image?
      = image box.image.default.url , box.title
    .title = box.title
    p {ng-class='{open: is_open}'}
      == box.body
      span.shadow{ng-show='!is_open'}

    .b-button.b-button_hide-text{ ng-click='toggle()' }
      span{ng-show='is_open'}
        | Свернуть
      span{ng-show='!is_open'}
        | Прочитать полный текст
      i.b-icon.icon-green-arrow-down{ng-show='!is_open'}
      i.b-icon.icon-green-arrow-up{ng-show='is_open'}
- else
  = render 'boxes/inset_text', box: box
