- @document = @story
- render_title(@document.title)

= render 'm/blocks/caption_and_menu', label: label_link(@document, 'main', :index), url: root_path

= render_block '/includes/redline'
.b-document.b-document_story
  .body
    .title= @document.title
    .subtitle== @document.subtitle
    = render 'stories/social_icons'

= render 'm/blocks/list', list: @documents[0..9]

- if @news_exists
  = link_to "/story/#{params[:slug]}/news", class: 'b-to-news' do
    | Новости сюжета
    span

- if @documents.length > 10
  ul.b-list
    li.header
      span
        | Ранее в сюжете
        span

  = render 'm/blocks/list', list: @documents[10..@documents.length]

= render_block '/includes/popular24'
