.b-ved-picker
  input.b-ved-picker__head {type='text' ng-focus='datePickerShow=true' ng-blur='validate()' ng-value='dateValue' ng-keypress='preventTyping($event)' readonly='readonly'}
  .b-ved-picker__body{ng-show='datePickerShow==true' }


    div{pickadate disabled-dates='disabledDates' ng-model='dateValue' week-starts-on="1" ng-change='chooseDate()' min-date='minDate' max-date='maxDate'}