.b-news.b-news__include {ng-if="fastNews"}
  .title = 'Другие новости'
  ul.b-document
    li{ng-repeat="item in fastNews | filter: excludeNewsline(newslineId)"}
      .b-news-item__wrapper
        article.b-news-item
          /заголовок
          .b-news-item__title
            time.b-news-item__time = '{{ item.published_at | date: "HH:mm"}}'
            a{ ng-href="{{item.url | relativeLink}}" target="_blank" } = '{{item.title}}'

  .b-news__more
    a {href= '/newsline/top'  target='_self'}
      | Все новости
      i.b-icon.icon-more