.b-fullscreen__wrapper { ng-show='true == visibility' }
  .b-fullscreen.b-fullscreen_gallery { ng-show="'gallery' == mode" }
    .b-fullscreen__inner.b-fullscreen__inner_gallery{ng-style="{'height': height + 'px'}" }
      .b-fullscreen__left{ng-style="{'width': width - 315 + 'px'}"}
        .b-preloader{ng-show='preloader_visibility'} = image_tag 'preloader.gif'

        .b-button.b-button_fullscreen-prev { ng-click='prev()' ng-if ='items.length > 1'}
          i.b-icon.icon-gallery-arrow-left

        .b-button.b-button_fullscreen-next { ng-click='next()' ng-if ='items.length > 1'}
          i.b-icon.icon-gallery-arrow-right

        img { ng-src='{{agami_url + items[current_item].image.fullscreen.url}}' ng-style="{ 'max-width': image.max_width + 'px', 'max-height': image.max_height + 'px'}" imageonload ='load_image()' ng-show='image.visibility'}

    .b-fullscreen__right
      button.b-button.b-button_fullscreen-tiles {ng-if ="items.length > 1 && title != ''" ng-click="toggle_mode()" }
        i.b-icon.icon-fullscreen-tiles
      button.b-button.b-button_fullscreen-close { ng-click='close()' }
        i.b-icon.icon-fullscreen-exit

      ul
        li { ng-repeat='item in items track by $index' ng-show='$index == current_item' ng-click='mode = tiles' }
          .b-fullsceen__share

          .b-fullsceen__description

            .author{ng-if='item.credits && item.author'} = "{{item.author}} / {{item.credits}}"
            .author{ng-if='item.author && !item.credits'} = "{{item.author}}"
            .author{ng-if='item.credits && !item.author'} = "{{item.credits}}"

            .author{ng-if='item.image_author && item.image_source'} = "{{item.image_author}} / {{item.image_source}}"
            .author{ng-if='item.image_author && !item.image_source'} = "{{item.image_author}}"
            .author{ng-if='item.image_source && !item.image_author'} = "{{item.image_source}}"

            .description { ng-bind-html = "item.description | unsafe" }
            .description { ng-bind-html = "item.image_alt | unsafe" }
            .counter{ng-if ='items.length > 1'} = "{{$index + 1}}/{{items.length}}"
      .b-banner.b-banner--gallery-fullscreen
        #div-gpt-ad-1476267676419-0

  .b-fullscreen.b-fullscreen_tiles { ng-show="'tiles' == mode" ng-if = "items.length > 1 && title != ''"}
    button.b-button.b-button_fullscreen-close { ng-click='close()' }
      i.b-icon.icon-fullscreen-exit

    .b-fullscreen__inner.b-fullscreen__inner_tiles
      .title = '{{title}}'
      .subtitle = '{{subtitle}}'

      ul
        li { ng-repeat='item in items track by $index' ng-click='goto($index)'}
          img { ng-src='{{agami_url + items[$index].image.thumbnail_low.url}}' }
