button.b-button.b-button_fullscreen { ng-click = "fullscreen_open(current_item)" ng-show="buttons_visibility" ng-mouseenter="show_buttons()" ng-mouseleave="hide_buttons()" }
  i.b-icon.icon-fullscreen

.b-gallery2__inner {ng-show="buttons_visibility" ng-mouseenter="show_buttons()" ng-mouseleave="hide_buttons()"}

  .b-gallery2__thumbs__wrapper {ng-class='{open: thumbs.open}'}
    button.b-button.b-button_hide-thumbs {ng-click='thumbs.toggle()' ng-class='{open: thumbs.open}'}
      i.b-icon.icon-hide-thumbs

    /кнопки назад-вперед в галерее превьюшек
    .b-gallery2__thumbs__next {ng-click = 'thumbs.next()'}
      i.b-icon.icon-thumbs-arrow-next

    .b-gallery2__thumbs__prev {ng-click = 'thumbs.prev()'}
      i.b-icon.icon-thumbs-arrow-prev

    .b-gallery2__thumbs
      ul.b-gallery2__thumbs__inner {ng-style ='{left: thumbs.left + "px"}'}
        li.b-gallery2__thumbs__item {ng-repeat="item in gallery" ng-class = '{active: $index + 1 == current_item}'  ng-click = 'goto($index + 1)'}
          img {ng-src="{{agami_url}}{{item.image.default_thumbnail.url}}"}

.b-gallery2__counter
  | {{counter}}

/кнопки назад-вперед
div {ng-if="image_resolution == 'medium' " class="b-gallery2__next" ng-click = 'next()' ng-hide='current_item == length' ng-mouseenter="show_buttons()" ng-mouseleave="hide_buttons()" onClick='ar_reload_click(banner3)'}
  i.b-icon.icon-gallery-arrow-next

div {ng-if="image_resolution == 'large'" class="b-gallery2__next" ng-click = 'next()' ng-hide='current_item == length' onClick='ar_reload_click(banner3)' }
  i.b-icon.icon-gallery-arrow-next

div { ng-if="image_resolution == 'medium'" class="b-gallery2__prev" ng-click = 'prev()' ng-hide='current_item == 1' ng-mouseenter="show_buttons()" ng-mouseleave="hide_buttons()" onClick='ar_reload_click(banner3)' }
  i.b-icon.icon-gallery-arrow-prev

div { ng-if="image_resolution == 'large'" class="b-gallery2__prev" ng-click = 'prev()' ng-hide='current_item == 1' onClick='ar_reload_click(banner3)'}
  i.b-icon.icon-gallery-arrow-prev

/изображение
.b-gallery2__item {ng-show= 'opacity == 1' ng-mouseenter="show_buttons()" ng-mouseleave="hide_buttons()"}
  img {ng-src="{{url}}"}
  .b-gallery2__item__descr
    .text{ng-bind-html="gallery[current_item - 1].description | unsafe"}
    .source
      | {{source}}

