/прелоадер
.b-search__preloader{ ng-show = 'somniosus.disable' }
  = image_tag("search_preloader.gif")
ul{ng-class='{disabled: somniosus.disable}'}
  li.b-search-result{ ng-class="{disabled: somniosus.stat.total > 0}" }
    .b-search-result__inner{ng-hide='somniosus.disable'} = 'Поиск результатов не дал'

  li.b-search-result{ng-repeat="item in somniosus.results"}
    .b-search-result__inner{ng-class="{whole_width: item.source.image == nil}"}
      .b-search-result__title
        a {ng-href="//www.{{item.source.url | replaceHttp}}" target="_blank" }
          | {{item.source.title}}
      .b-search-result__text
        p {ng-repeat= 'text in item.highlight.boxes | limitTo:1' ng-bind-html="text | unsafe"}
      .b-search-result__data
        | {{item.source.published_at | date}}
        a {ng-href='{{ item.source.source_url }}' }
          | {{item.source.source_title}}

    a{ class='b-search-result__image' ng-href="http://{{ item.source.url | replaceHttp }}" ng-if='item.source.image.small.url'}
      i.b-icon.icon-photo-small{ ng-if = "item.source.categories.parts.slug == 'galleries'" }
      i.b-icon.icon-video-small{ ng-if = "item.source.categories.parts.slug == 'video'" }
      img {ng-src="{{somniosus.agami_url}}{{item.source.image.small.url}}" }

ul.b-paginator{ ng-class="{disabled: somniosus.stat.total <= 20 || somniosus.stat.total == undefined}" pagination first-text='«' last-text='»' next-text='›' previous-text='‹' total-items='somniosus.stat.total' items-per-page='20' ng-model='somniosus.from' max-size='5' ng-change='somniosus.to_page()' boundary-links='true' rotate='false'}

