
.b-search__form
  form { ng-controller='extendedSearchController' }
    input { type='text' id='search_field' ng-model='extendedSearch.query' ng-class='{"b-search_field__expanded": (advanced_options_visible)}'}
    input.b-button.b-button_search3 { value='искать' ng-click='submit()' type='submit' ng-if='!advanced_options_visible'}

    div { class='b-search__advanced-options' ng-show='advanced_options_visible'}
      .b-search__period
        .b-search__advanced-options__title Период
        .b-search__advanced-options__inner{ng-class='{error: true == extendedSearch.data_error }'}
          ul
            li
              input { type='radio' name='period' id='all' ng-model='extendedSearch.period' value='all' ng-click = 'clear_custom_period("all")' }
              label { for='all' } Все время
            li
              input { type='radio' name='period' id='month' ng-model='extendedSearch.period' value='month' ng-click = 'clear_custom_period("month")' }
              label { for='month' } За месяц
            li
              input { type='radio' name='period' id='year' ng-model='extendedSearch.period' value='year' ng-click = 'clear_custom_period("year")' }
              label { for='year' } За год
            li
              input { type='radio' name='period' id='custom' ng-model='extendedSearch.period' value='custom' ng-click = 'focus_day()' }
              label { for='custom' } Период

          .b-search__period-datapicker

            | От &nbsp;
            ved-date-picker{date-value='extendedSearch.date_from' max-date='extendedSearch.date_to' }
            /input { type='text' ng-model='extendedSearch.from.day' placeholder='ДД' size='2' maxlength='2' id='custom_period' ng-focus='set_custom_period()' }
            /| ·
            /input { type='text' ng-model='extendedSearch.from.month' placeholder='ММ' size='2' maxlength='2' ng-focus='set_custom_period()' }
            /| ·
            /input { type='text' ng-model='extendedSearch.from.year' placeholder='ГГГГ'  size='4' maxlength='4' ng-focus='set_custom_period()' }
          | &nbsp;
          .b-search__period-datapicker
            | До &nbsp;
            ved-date-picker{date-value='extendedSearch.date_to' min-date='extendedSearch.date_from' max-date='today_string'}
            /input { type='text' ng-model='extendedSearch.to.day' placeholder = 'ДД' size='2' maxlength='2' ng-focus='set_custom_period()' }
            /| ·
            /input { type='text' ng-model='extendedSearch.to.month' placeholder = 'ММ' size='2' maxlength='2' ng-focus='set_custom_period()' }
            /| ·
            /input { type='text' ng-model='extendedSearch.to.year' placeholder = 'ГГГГ'  size='4' maxlength='4' ng-focus='set_custom_period()' }

      .b-search__source
        .b-search__advanced-options__title Источник <br> поиска
        .b-search__advanced-options__inner
          ul
            li
              input{ type='checkbox' id="site" ng-model='extendedSearch.source.site' ng-disabled='check_source("site")'}
              label{ for='site' } Сайт

            li
              input{ type='checkbox' id="paper" ng-model='extendedSearch.source.paper' ng-disabled='check_source("paper")'}
              label { for='paper' } Газета

      .b-search__types
        .b-search__advanced-options__title Тип <br> материала
        .b-search__advanced-options__inner
          ul
            li
              input { type='checkbox' id='news' name='news' ng-model='extendedSearch.documents.news' ng-disabled='check_documents("news")' }
              label { for = 'news' } Новости
            li
              input { type='checkbox' id='articles' name='articles' ng-model='extendedSearch.documents.articles' ng-disabled='check_documents("articles")' }
              label { for = 'articles' } Статьи
            li
              input { type='checkbox' id='galleries' name='galleries' ng-model='extendedSearch.documents.galleries' ng-disabled='check_documents("galleries")' }
              label { for = 'galleries' } Галереи
            li
              input { type='checkbox' id='video' name='video' ng-model='extendedSearch.documents.video' ng-disabled='check_documents("video")'}
              label { for = "video" } Видео

      input{value='Искать' type='button' class='b-button b-button_search-ok' ng-click='submit()' }

    button{class='b-button b-button_advanced-options' type='button' ng-class='{bottom: advanced_options_visible}' ng-click='toggle_advanced_options()'}
      span {ng-hide='advanced_options_visible'}
        | Параметры поиска
        i.b-icon.icon-options
      span{ng-show='advanced_options_visible'}
        | Скрыть параметры поиска
        i.b-icon.icon-advanced-option-arrow

/вывод количества результатов поиска
.b-search-info{ ng-hide = 'results.length == 0'}
  .b-search-info__sort-by
    .title
      | Сортировать:
    ul
      li.b-search-info__sort-by__item{ ng-click="set_sort('weight')" ng-class='{active: "weight" == search.sort}'}
        | По релевантности
      li.b-search-info__sort-by__item{ ng-click="set_sort('date')" ng-class='{active: "date" == search.sort}'}
        | По дате
        /.b-icon.icon-sort-by-triangle

  .total = "Найдено: {{ total | num2str:['материал', 'материала', 'материалов'] }}"