.subscription-detail-modal
  span.subscription-detail-modal__close {ng-click="closeModal()"}
    | Закрыть окно
    i.b-icon.icon-subscription-modal-close
  table {class="subscription-detail-table"}
    thead
      tr
        th.subscription-detail-table__title
          | Пакеты и опции
        th
          | Онлайн
        th
          | Газета+онлайн
        th
          | Газета
    tbody
      tr
        td.subscription-detail-table__title
          | Свежий номер газеты на&nbsp;vedomosti.ru в&nbsp;4&nbsp;утра
        td
          i.b-icon.icon-subscription-modal-check
        td
          i.b-icon.icon-subscription-modal-check
        td

      tr
        td.subscription-detail-table__title
          | Неограниченный доступ к&nbsp;новостным статьям vedomosti.ru
        td
          i.b-icon.icon-subscription-modal-check
        td
          i.b-icon.icon-subscription-modal-check
        td

      tr
        td.subscription-detail-table__title
          | Электронный архив с&nbsp;1999&nbsp;г.
        td
          i.b-icon.icon-subscription-modal-check
        td
          i.b-icon.icon-subscription-modal-check
        td

      tr
        td.subscription-detail-table__title
          | Доступ через мобильное приложение «Ведомостей» для iOS, Android
        td
          i.b-icon.icon-subscription-modal-check
        td
          i.b-icon.icon-subscription-modal-check
        td
      tr
        td.subscription-detail-table__title
          | Газета «Ведомости» на Вашем рабочем столе до 9 утра
        td

        td
          i.b-icon.icon-subscription-modal-check
        td
          i.b-icon.icon-subscription-modal-check
