
.b-test__main-wrapper
  .b-test__image-wrapper
    .b-test__image-mask
    .b-test__image-answer-mask {ng-class="colorize(step)"}
    img.b-test__image ng-src="{{test_img_url}}"
  .b-test-result__info-layout{ng-show="ResultIsShown"}
    .b-test__resultCounter{}{{ 'Ваш результат ' + correctAnsversCounter  + ' из ' + steps}}
    .b-test__title{}{{test_title}}

  .b-test__sharing-wrapper{ng-show="ResultIsShown"}
    .b-sharing__title-wrapper
      .b-sharing__title Поделиться результатом


    .b-test__sharing
      a{href="{{fbLinkParams}}" ng-click="share(fbLinkParams, $event)"}
        .b-button.b-button__social.b-button__social_fb
          .b-icon.icon-social.icon-social-fb

      a{href="{{vkLinkParams}}" ng-click="share(vkLinkParams, $event)"}
        .b-button.b-button__social.b-button__social_vk
          .b-icon.icon-social.icon-social-vk

      a{href="{{twitterLinkParams}}" ng-click="share(twitterLinkParams, $event)"}
        .b-button.b-button__social.b-button__social_twitter
          .b-icon.icon-social.icon-social-twitter

  .b-test__info-layout{ng-show="!ResultIsShown" }

    .b-test__title{ng-show="!answerResultIsShow"}{{test_title}}
    .b-test__wrongtext{ng-show="answerResultIsShow && colorize(step) !== 'right'"}{{wrongText}}
    .b-test__righttext{ng-show="answerResultIsShow && colorize(step) == 'right'"}{{rightText}}

    .b-test__description
  .b-icon.icon-test_next_large{ng-show="answerResultIsShow" ng-click="submite()"}

.b-test__choices-wrapper {ng-class="testStyle"}
  ul.b-test__choices-list {ng-class="{'voted' :  voted}"}
    li.b-test__choices-item {ng-repeat="item in choices track by $index" ng-click = 'vote($index, $event)' ng-class="colorize(step, $index) + ' ' + colorize(step) "}
      .b-test__choice-image__wrapper ng-if='item.image.versions'
        img.b-test__choice-image ng-src="{{'//#{Settings.hosts.agami}' + item.image.versions.default.url}}"
        /img.b-test__choice-image src="{{'http://127.0.0.1:9045' + item.image}}"
      .b-test__choice__text-wrapper

        span
          | {{item.text}}


.b-test__stats
  .b-test__steps
    span {ng-repeat="item in questions track by $index"}
      .b-test__step{ng-class="colorize($index, undefined, true)"}

  .b-button__next {ng-class="{disabled: disabled, }" ng-click="submite()" ng-show="!ResultIsShown"}
    span.b-button__next-icon

  .b-button__reload { ng-click="reloadTest()" ng-show="ResultIsShown"}
    span.b-button__result-icon

.b-test__sharing-image {ng-if='ResultIsShown'}
  img {ng-src='{{sharingImage}}'  width='1' height='1'}