/статья, 1 уровень анонсирования
= content_tag element_tag, class: "b-article b-article_level1 #{element_class}" do
  /картинка
  - if document.has_image? && document.image.has_version?(:level1)
    = link_to relative_link(document.url), class: 'b-article__image'
      /тень
      - if document.gallery? || document.video? || document.online?
        .b-article__image-shadow
      /иконка фото-видео
      - if document.gallery?
        i.b-icon.icon-photo2
      - elsif document.video?
        i.b-icon.icon-video2
      - elsif document.online?
        i.b-icon.icon-broadcast
      / загрузка 2-х картинок в зависимости от мутации элемента
      - if double_image == true && document.image.has_version?(:level2)
        = image_with_dimension document.image, :level1, image_class: 'hide-on-medium-screen'  
        = image_with_dimension document.image, :level2, image_class: 'show-on-medium-screen'  
      - else
        = image_with_dimension document.image, :level1  

  .b-article__left-inner
    /рубрика
    - if name_for_document(document) == 'map'
      .b-article__rubric = link_to 'Карты', relative_link(document.url)
    - else
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'article'
    /заголовок
    .b-article__title
      = link_to relative_link(document.url) do
        = document.title
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
    /подзаголовок
    - if document.has_subtitle?
      .b-article__subtitle
        a{href="#{relative_link(document.url)}"}== document.subtitle
    /блок комментариев
    = render 'common/comment', document: document
