/блог профессионала, 1 уровень анонсирования
= content_tag element_tag, class: "b-blog b-blog_level1 #{element_class}" do
  .b-blog__quote__wrapper
    /цитата профессионала
    - if document.has_blog_quote?
      .b-blog__quote = link_to relative_link(document.url) do
        = document.blog_quote
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
    - else
      p нет цитаты
    /комментарии
    = render 'common/comment', document: document

  .b-blog__inner
    /картинка
    - if document.has_author?

      - if document.author.has_portrait? && document.author.portrait.has_version?(:type1)
        = link_to relative_link(document.url), :class => 'b-blog__portrait' do
          - if double_image == true && document.author.portrait.has_version?(:type3)
            = image_with_dimension(document.author.portrait, :type1, alt: nil, image_class: 'hide-on-medium-screen')
            = image_with_dimension(document.author.portrait, :type3, alt: nil, image_class: 'show-on-medium-screen')
          - else
            = image_with_dimension(document.author.portrait, :type1, alt: nil, image_class: nil)
      - else
        = link_to relative_link(document.url), :class => 'b-blog__portrait'
          img.placeholder-image{width='70' height='70' src='/assets/placeholder-level1.png'}

      /рубрика
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'blog'
      /имя
      .b-blog__name
        = link_to "#{document.author.first_name} #{document.author.last_name}", relative_link(document.url)
        br
        = link_to document.author.appointment, relative_link(document.url), class: 'job'
      /комментарии
      = render 'common/comment', document: document

    - else
      p нет автора цитаты
