/колонка, 1 уровень анонсирования
= content_tag element_tag, class: "b-column b-column_level1 #{element_class}" do

  .b-column__inner
    /автор
    -if document.has_author?
      = link_to relative_link(document.url), :class => 'b-column__portrait' do

        - if document.author.has_portrait? && document.author.portrait.has_version?(:type1)
          - if double_image == true && document.author.portrait.has_version?(:type2)
            = image_with_dimension(document.author.portrait, :type1, alt: nil, image_class: 'hide-on-medium-screen')
            = image_with_dimension(document.author.portrait, :type2, alt: nil, image_class: 'show-on-medium-screen')
          - else
            = image_with_dimension(document.author.portrait, :type1, alt: nil, image_class: nil)
        - else
            img.placeholder-image{width='70' height='70' src='/assets/placeholder-level1.png'}

      /рубрика
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'column'
      .b-column__name = link_to "#{document.author.first_name} #{document.author.last_name}", relative_link(document.url)
    - else
      p не указан автор цитаты

  .b-column__quote__wrapper
    /цитата
    .b-column__quote = link_to relative_link(document.url) do
      = document.quote_body
      - if document.pay_required?
        span.b-icon.b-icon--svg.b-icon--grey-lock
        span.b-icon.b-icon--svg.b-icon--grey-unlock

    = render 'common/comment', document: document
