/цитата, 1 уровень анонсирования
= content_tag element_tag, class: "b-quote b-quote_level1 #{element_class}" do

  .b-quote__quote__wrapper
    /цитата
    - if document.has_quote_body?
      .b-quote__quote = link_to relative_link(document.url) do
        = document.quote_body
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
    - else
      p нет цитаты
    /комментарии
    = render 'common/comment', document: document

  .b-quote__inner
    /картинка
    - if document.has_quote_author? && document.has_quote_job?

      - if document.has_portrait? && document.portrait.has_version?(:type3)
        = link_to relative_link(document.url), :class => 'b-quote__portrait' do
          = image_with_dimension(document.portrait, :type3, alt: nil, image_class: 'medium_circle')
      - else
        = link_to relative_link(document.url), :class => 'b-quote__portrait'
          img.medium_circle.placeholder-image{width='70' height='70' src='/assets/placeholder-level1.png'}

      /рубрика
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'quote'

      .b-quote__name
        = link_to document.quote_author, relative_link(document.url), class: 'name'
        br
        = link_to document.quote_job, relative_link(document.url), class: 'job'
    - else
      p нет автора цитаты

  /комментарии
  = render 'common/comment', document: document
