/формирование title для страницы
- render_title('Библиотека')

= render 'm/blocks/banner', id: Settings.adverts.mobile.top, condition: 'm/document' == params[:controller] && 'show' == params[:action]

= render 'm/blocks/caption_and_menu', label: 'Библиотека', url: root_path
= render_block '/includes/redline'
- if @libraries
  ul
    - @libraries.each do |library|
      li.b-big-green-link = link_to library[:title], library_path(slug: library[:slug])

= render 'm/blocks/banner', id: Settings.adverts.mobile.bottom
