/формирование title для страницы
- render_title(@library.title)

= render 'm/blocks/banner', id: Settings.adverts.mobile.top, condition: 'm/document' == params[:controller] && 'show' == params[:action]

= render 'm/blocks/caption_and_menu', label: @library.title, url: root_path
= render_block '/includes/redline'
= render 'm/blocks/list', list: @documents

= render 'm/blocks/banner', id: Settings.adverts.mobile.bottom
