/формирование title для страницы
- render_title(@library.title)
/формирование description
- render_description(@library.title)

.b-document.b-document_subrubric
  .b-document__left
    = render_block '/includes/redline'
    h1.b-subrubric__title = @library.title
    ul.b-subrubric__items
      - @documents.each_with_index do |document, index|
        = render_list_item(document, index)

    div{ved-more}

  aside.b-document__right.no-print
    = render 'document/right/part'

vd-statistic{ page="subrubric" block="popular24" }
  = render_block '/includes/popular24'