- render_title('Результаты поиска')

= render 'm/blocks/caption_and_menu', label: 'Поиск', url: root_path, hide_search: true
= render "m/blocks/searchbar", class_name: 'show'

.search
  p.search-title Результаты поиска:
  .search-results
