li.b-slider__item{ ng-click = 'goto(#{i-1})' ng-class='{active : current_item == #{i-1}}' }
  .b-colored-article.b-colored-article_424
    .b-colored-article__bg
      .shadow
      img src='http://lorempixel.com/1116/424/city/#{i+4}/'
    .b-colored-article__inner
      h2.b-colored-article__title
        a href='#' Сердце Будапешта — базилика Св. Иштвана
