li.b-slider__item{ ng-click = 'goto(#{i-1})' ng-class='{active : current_item == #{i-1}}' }
  .b-colored-article.b-colored-article_424
    .b-colored-article__bg
      .shadow
      img src='http://lorempixel.com/1307/424/transport/#{i}/'
    .b-colored-article__inner
      .b-colored-article__rubric
        a href='#' Финансы

      h2.b-colored-article__title
        a href='#' Женевский автосалон
      .b-colored-article__subtitle
        | Бывший гендиректор ООО «Мира» Динара Билялова получила четыре года колонии; СКР не советует ждать такого же «мягкого приговора» другим фигурантам дела