li.b-slider__item{ ng-click = 'goto(#{i})' ng-class='{active : current_item == #{i}}' }
  .b-colored-article.b-colored-article_424
    .b-colored-article__bg
      .shadow
      img src='http://lorempixel.com/1116/424/people/#{i}/'
    .b-colored-article__inner
      .b-colored-article__rubric
        a href='#' Вильям Ламберти,
        |  ресторатор


      h2.b-colored-article__title
        a href='#' Последние пять лет я наблюдаю в Москве настоящую гастрономическую перестройку
      .b-colored-article__subtitle
        | Итальянский ресторатор о гастрономической перестройке и возвращении русской буржуазной кухни

      /= render 'main/common/comment2'
