li.b-popular
  .b-popular__left-inner
    .b-popular__number
      | 4
    a.b-popular__rubric href='#'
      = 'Финансы'
    h3.b-popular__title
      = link_to 'Котировки АФК «Система» рухнули на 11% ', root_url
