.b-rightcol-article
  a.b-rightcol-article__image {href='#'}
    .b-image.b-image_rightcol-article
      img src='http://lorempixel.com/252/169/city/5/'
  .b-rightcol-article__left-inner
    .b-rightcol-article__rubric
      a {href='#'} Финансы
    h2.b-rightcol-article__title
      a {href='#'} Китайские компании стали крупнейшими заемщиками в мире
    .b-rightcol-article__subtitle
      | По итогам прошлого года корпоративная задолженность в Китае превысила $14 трлн, он обогнал по этому показателю США
    = render '/main/common/comment'