/*main styles*/
.b-subscription
  +gs-container
  +font($primary_text, $font1, 15, inherit, inherit, normal)

  &.b-subscription_final
    min-height: 335px
    position: relative

.b-subscription__link
  color: $ved_green
  border-bottom: 1px solid $ved_green
  position: relative

  &:hover
    color: $ved_green
    border-bottom-color: transparent !important
    cursor: pointer

  &:focus
    text-decoration: none

  &.b-subscription__link_dotted
    border-bottom-style: dotted

  &.b-subscription__link_dotted_icon
    border-bottom-style: none

    span
      border-bottom: 1px dotted $ved_green
    &:hover
      span
        border-bottom-color: transparent

  &.b-subscription__link_red
    +inline-block
    +font($ved_red, $font1, 15, 15, '', normal)
    border-bottom: 1px dotted $ved_red

  &.b-subscription__link_small
    +font($tan, $font1, 15, 18, '', normal)

  &.b-subscription__link_add
    color: $additional_text2
    border-color: $additional_text2

    &:hover
      color: $additional_text2
  &.b-subscription__link_icon
    line-height: 15px

.b-subscription-section
  margin-top: 40px

  &:first-child
    margin-top: 30px

.b-subscription-section__header
  position: relative

  &:after
    display: block
    content: ''
    clear: both
    +clearfix

.b-subscription-section__header_border
  padding-bottom: 20px
  border-bottom: 1px solid $line

.b-subscription-title
  margin: 0
  +font($primary_text, $font7, 36, 42, '')
  //font:
  //  weight: 300
  //  family: $font3
  //  size: 36px
  //line-height: 42px

  &.b-subscription-title_col4
    +gs-col(4)

.b-subscription-section__header-img
  float: right
  margin-left: 20px
  margin-bottom: -20px

  & + .b-subscription-title
    padding-top: 25px

.b-subscription-more
  position: absolute
  right: 0
  bottom: 1px

.b-subscription-section__body
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both
  margin-top: 20px

  &:after
    display: block
    content: ''
    clear: both
    +clearfix

.b-subscription-sub-title
  font-size: 18px
  line-height: 21px

.b-subscription-question-head
  +font($primary_text, $font2, 21,21, inherit, normal)
  margin: 0 0 15px 0

.b-subscription-sub-section
  margin: 20px 0 30px 0

.b-subscription-p
  margin: 6px 0
  a
    color: $ved_green
    text-decoration: underline

  &.b-subscription-p_big
    margin: 10px 0
    +font($primary_text, $font1, 18, 22, '', normal)

.b-subscription-p_head
  +font($primary_text, $font2, 18, 22, '', normal)

.b-subscription-stage
  float: right

.b-subscription-stage-list
  +clearfix

.b-subscription-stage-list__item
  float: left
  width: 30px
  height: 30px
  margin-left: 20px
  line-height: 28px
  text-align: center

.b-subscription-stage__num
  +inline-block(middle)
  width: 24px
  height: 24px
  line-height: 21px
  border: 2px solid $line
  color: $line
  border-radius: 50%
  font:
    weight: bold
    family: $font3
    size: 15px

  //&:hover
  //  color: $additional_text
  //  border-color: $additional_text

  .b-subscription-stage-list__item_active &
    width: 30px
    height: 30px
    line-height: 29px
    border: 0
    background: $ved_red
    cursor: default
    &:hover
      color: $line

/* аккордион */
.b-subscription-accordion
  margin-bottom: 12px

  .b-subscription-accordion__title
    +font($ved_red2, $font1, 18, 24)
    line-height: 24px
    padding-left: 22px
    position: relative

    //&:before
      content: ""
      @extend .b-icon
      @extend .icon-accordion-plus
      position: absolute
      top: 0
      left: 0

      .b-subscription-accordion_active &
        @extend .b-icon
        @extend .icon-accordion-minus

    a
      +font($ved_red2, $font2, 18, 24)
      border-bottom: 1px dotted $ved_red2
      &:hover
        border-bottom-color: transparent

  .b-subscription-accordion__description
    //margin-top: 20px
    padding-left: 22px
    overflow: hidden
    max-height: 0
    +single-transition(all,0.3s, linear, 0)
    //display: none

  &.b-subscription-accordion_active
    .b-subscription-accordion__title
      a
        color: $additional_text2
        border-bottom: 1px dotted $additional_text2
        &:hover
          border-bottom-color: transparent

    .b-subscription-accordion__description
      //padding-top: 20px
      max-height: 1000px
      //display: block

/* список (чеклист) */
.b-subscription-checklist
  &.b-subscription-checklist_big
    +font($primary_text, $font1, 18, 22, '', normal)

.b-subscription-checklist__item
  line-height: 15px
  padding: 5px 0 5px 30px
  position: relative

  //&:before
    content: ""
    @extend .b-icon
    @extend .icon-check
    position: absolute
    top: 1px
    left: 0

  .b-subscription-checklist_bordered &
    line-height: 18px
    & + .b-subscription-checklist__item
      border-top: 1px dotted $line



/* формы */
.b-subscription-section_form
  margin-top: 20px
  border-top: 1px solid $line
  padding-top: 30px

.b-subscription-choose__attention
  color: $additional_text2
  font-size: 15px
  line-height: 18px
  +single-transition(all, 0.3s, linear, 0)

  &.ng-hide-add
    max-height: 1000px

  &.ng-hide-add.ng-hide-add-active
    max-height: 0

  &.ng-hide-remove
    max-height: 0

  &.ng-hide-remove.ng-hide-remove-active
    max-height: 1000px



.b-subscription-choose__attention__link
  color: $additional_text2
  text-decoration: underline
  &:hover
    text-decoration: none

//TODO перенести, если будет, где переопределить стили бутстрапа
.tooltip-inner
  width: 350px
  max-width: 350px
  background-color: #ffffff
  @include box-shadow(0px 6px 15px rgba(0,0,0,.4))
  padding: 10px 12px
  text-align: left
  +font($black, $font1, 15, 18)

.tooltip.in
  opacity: 1
  filter: alpha(opacity=100)

.tooltip.left
  padding: 0 9px
  margin-left: -5px

  & .tooltip-arrow
    border-left-color: #ffffff
    border-width: 9px 0 9px 9px
    margin-top: -9px

.tooltip.right
  padding: 0 9px
  margin-right: -5px

  & .tooltip-arrow
    border-right-color: #ffffff
    border-width: 9px 9px 9px 0
    margin-top: -9px

//corporate page
.b-subscription-corporate-benefit__list
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

.b-subscription-corporate-benefit__item
  position: relative
  width: 216px
  float: left

  & + &
    margin-left: 36px
  .b-subscription__link
    +inline-block
    margin-top: 25px

.b-subscription-corporate-benefit__icon
  display: block
  height: 180px
  padding: 60px 0 40px
  text-align: center

.b-subscription-corporate-benefit__title
  +font($primary_text, $font1, 30, 32, '', normal)
  height: 32px
  margin: 4px 0 15px

.b-subscription-corporate-benefit__description
  +font($primary_text, $font1, 18, 21, '', normal)

.b-subscription-form-box_corporate
  height: 414px
  position: relative

  .b-subscription-form-response__head
    margin-top: 110px

  .b-subscription-form-response
    margin: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 0 180px
    border: 1px solid $line

  .b-subscription-p
    text-align: center
    color: $primary_text



//gift
.b-subscription-section_pack-gift
  .b-subscription-title
    padding-top: 65px

.b-subscription-form-box_gift
  height: 294px
  position: relative

  .b-subscription-form-response__head
    margin-top: 60px

  .b-subscription-form-response
    margin: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 0 180px
    border: 1px solid $line

  .b-subscription-p
    text-align: center
    color: $primary_text

.b-subscription__divider
  clear: both
  float: none
