/*----- B-BLOG  -----*/
.b-blog
  +clearfix
  +inline-block
  +base-mods('b-blog')
  +base-transforms('b-blog')
  +font($primary_text, $font5, 15)
  position: relative

  // списочная страница
  &.b-blog_list
    text-align: left
    width: 100%
    padding: 14px 0 9px
    border-top: 1px dotted $line

    &:first-child
      border-top: 0


  &.b-blog_level3
    .b-story &
      padding: 27px 0 13px 0
/*----- B-BLOG  -----*/


/*----- B-BLOG__INNER -----*/
.b-blog__inner

  .b-blog_level1 &
    float: left
    width: 2 * $col + 1 * $gatter + px

  .b-blog_level2 &
    +inline-block
    margin-top: 16px

  .b-blog_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      width: 100%
      margin-top: 16px

  .b-blog_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      width: 2 * $col + 2 * $gatter + px
      margin-top: 0

  .b-column_level3 &
    min-height: 48px

  // списочная страница
  .b-blog_list &
    float: right
/*----- B-BLOG__INNER -----*/


/*----- B-BLOG__RUBRIC  -----*/
.b-blog__rubric

  width: 100%
  float: left

  a
    +font($ved_green, $font1, 17)
    +transition(color $time ease-in-out)

    &:hover
      color: $black

  .b-blog_level1 &
    margin-top: 12px
    float: none
    padding-left: 0

  .b-blog_level2 &
    margin-top: 12px
    position: relative
    width: 185px

  .b-blog_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      width: 185px
      margin-top: 12px
      padding-left: 0
      float: left

  .b-blog_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      width: 212px
      margin-top: 0
      padding-left: 0

  .b-blog_level3 &
    width: 212px
    margin-top: 0
    padding-left: 15px
/*----- B-BLOG__RUBRIC  -----*/


/*----- B-BLOG__PORTRAIT  -----*/
.b-blog__portrait
  +inline-block
  +clearfix
  float: left

  img
    &.show-on-medium-screen
      display: none
      +border-radius(70px)
      +breakpoint(0 $medium)
        display: block

    &.hide-on-medium-screen
      +border-radius(150px)
      display: block
      +breakpoint(0 $medium)
        display: none

    &.medium_circle
      display: block
      .b-blog_level2_mutate-to-level3 &
        +breakpoint(0 $medium)
          display: none

    &.small_circle
      width: 48px
      height: 48px
      display: none
      +border-radius(48px)
      .b-blog_level2_mutate-to-level3 &
        +breakpoint(0 $medium)
          display: block

      .b-blog_level3 &
        display: block

    .b-blog_level1 &
      +border-radius(150px)

    .b-blog_level2 &
      +border-radius(70px)

  .b-blog_level1 &
    float: none
    margin-top: 0
    padding-left: 0

  .b-blog_level2 &
    margin-right: 15px
    float: left

  .b-blog_level3 &
    margin-top: 0

  .b-blog_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      float: left
      margin-right: 15px

  .b-blog_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      margin-top: 0

  .b-blog_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      margin-right: 10px
      min-height: 48px

  .b-blog_list &
    img
      +border-radius(100px)
      display: block
  .b-blog_list:first-child &
    img
      +border-radius(150px)

/*----- B-BLOG__PORTRAIT  -----*/


/*----- B-BLOG__NAME  -----*/
.b-blog__name
  width: 100%
  +font($primary_text, $font2, 18, 21)
  float: left
  padding-left: 15px
  margin-top: 2px
  a
    display: inline
    +font($primary_text, $font2, 18, 21)
    color: $primary_text
    padding: 2px 0

  a.name:after
    content: ","

  a.job
    font-family: $font1

  .b-blog_level1 &
    padding-left: 0
    margin-top: 4px

  .b-blog_level2 &
    padding-left: 0
    width: 185px
    margin-top: 0
    line-height: 20px

  .b-blog_level3 &
    width: 212px
    margin-top: 0
    line-height: 20px

  .b-story li:first-child.b-blog_level3 &
    width: 190px

  .b-blog_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      float: left
      width: 185px
      margin-top: 0
      padding-left: 0

  .b-blog_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      width: 212px
      margin-top: 0
      padding-left: 0
/*----- B-BLOG__NAME  -----*/


/*----- B-BLOG__TITLE -----*/
.b-blog__title
  +inline-block
  a
    +transition(color $time ease-in-out)
    &:hover,
    &.hover
      color: $ved_green

  .b-blog_level2 &
    +font($primary_text, $font2, 22, 24)
    float: none
    clear: both
    padding: 10px 0 0
    display: none

  .b-blog_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: block

  .b-blog_level3 &
    +font($primary_text, $font2, 22, 24)
    display: inline-block
    float: none
    clear: both
    margin: 5px 0 0
    padding: 0

  .b-blog_list &
    a
      +font($primary_text, $font2, 22, 24)
    a:hover
      +font($ved_green, $font2, 22, 24)
/*----- B-BLOG__TITLE -----*/


/*----- B-BLOG_SUBTITLE -----*/
.b-blog__subtitle
  +font($additional_text2, $font4, 15, 18)

  .b-blog_list &
    +font($additional_text, $font4, 17, 21)
    margin-top: 6px
/*----- B-BLOG_SUBTITLE -----*/


/*----- B-BLOG__QUOTE__WRAPPER -----*/
.b-blog__quote__wrapper
  .b-blog_level1 &
    float: right
    width: 7 * $col + 7 * $gatter + px

  .b-blog_level2 &
    width: 100%

  .b-blog_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      float: none
      width: 100%

  .b-blog_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      float: right
      width: 7 * $col + 7 * $gatter + px

  .b-blog_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: none

  .b-blog_level3 &
    display: none

  .b-blog_list &
    float: left
    max-width: 870 - 100 - $gatter + px
    +breakpoint(0 $medium)
      max-width: 570 - 150 - $gatter + px
/*----- B-BLOG__QUOTE__WRAPPER -----*/


/*----- B-BLOG__QUOTE -----*/
.b-blog__quote
  position: relative
  border: 1px solid $tan
  min-height: 68px
  a
    +font($black, $font4, 21, 27, italic)
    display: block
    padding: 13px 15px

  a:hover
    color: $ved_green

  .b-blog_level1 &
    width: 100%
    a
      +font($black, $font4, 27, 33, italic)

  .b-blog_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      a
        padding: 13px 30px

  .b-blog_level1 &:before
    +corner('left',$tan, -12, 21)

  .b-blog_level1 &:after
    +corner('left', $body_bg, -10, 22)

  .b-blog_level2 &:before
    +corner('bottom', $tan, 23, -12)

  .b-blog_level2 &:after
    +corner('bottom', $body_bg, 24, -10)

  .b-blog_level1_mutate-to-level2 &:before
    +breakpoint(0 $medium)
      top: inherit
      +corner('bottom', $tan, 23, -12)

  .b-blog_level1_mutate-to-level2 &:after
    +breakpoint(0 $medium)
      top: inherit
      +corner('bottom', $body_bg, 24, -10)

  .b-blog_level2_mutate-to-level1 &:before
    +breakpoint(0 $medium)
      +corner('left', $tan, -12, 21)

  .b-blog_level2_mutate-to-level1 &:after
    +breakpoint(0 $medium)
      +corner('left', $body_bg, -10, 22)
/*----- B-BLOG__QUOTE  -----*/

