.broadcast
  padding: 30px 30px 60px 70px
  background-color: #ffffff
  border-top: 1px solid #e3d1c7
  font: 17px/21px Georgia !important
  margin-right: 60px
  position: relative

  img
    max-width: 100%
    
  a:hover
    color: $ved_green

  .broadcast-info
    margin-bottom: 7px
    .broadcast-created-date
      font: bold 12px/18px Arial
      color: #332f2e
    .broadcasts-authors
      display: inline-block
      border-left: 1px solid #e3d1c7
      margin-left: 15px
      padding-left: 15px
      li
        display: inline
        color: #2e6f6f
        font: 12px/18px Arial

  p,
  blockquote
    width: auto !important
    padding-right: 0 !important
    padding-left: 0 !important
    font: 19px/22px Georgia
    margin: 0
    padding: 0
    &.Caption
      padding-left: 0

  li
    list-style-type: disc

  .b-inset_quote
    float: none
    position: relative
    width: auto
    min-height: 100px
    .inner
      position: absolute
      right: 0
      bottom: 0
      width: auto
      .person
        display: none
    .name
      position: relative
      &:before
        content: '—'
        display: block
        position: absolute
        left: -20px
        top: 0
    .name,
    .name .job
      color: #857871
      font: 15px/21px Arial, sans-serif
    .text,
    .quote
      width: auto !important
      background: inline-image('icon/quote.png') no-repeat 0 30px
      padding: 30px 30px 50px 100px !important
      border-top: 1px solid #dddddd
      margin: 0px 30px 0px 0 !important
      font: italic 21px/24px Georgia 
      color: #332f2e
      border: none
      &:before,
      &:after
        display: none

  blockquote
    width: auto !important
    background: inline-image('icon/quote.png') no-repeat 0 30px
    padding: 30px 0 0 100px !important
    border-top: 1px solid #dddddd
    margin: 0px 0 0px 0 !important
    font: italic 21px/24px Georgia 
    color: #332f2e
    border: none
    min-height: 100px
    &:before,
    &:after
      display: none
    & + div
      position: absolute
      right: 30px
      color: #857871
      font: 15px/21px Arial, sans-serif
      &:before
        content: '—'
        display: block
        position: absolute
        left: -20px
        top: 0

  .youtube-post
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  .b-embed  
    padding-right: 0 !important
    p.Caption
      text-align: left
    .Caption,
    figcaption
      font-family: Arial, sans-serif
      font-style: normal
      line-height: 18px
      font-weight: inherit
      font-size: 13px
      color: #544b48
      margin-top: 15px
      text-align: center
    img
      margin: 0 auto
      display: block

  .b-embed,
  .b-embed > div > span,
  .b-embed > div > div > span
    color: $primary_text !important
    font: 17px/21px Georgia !important

  .b-button.b-button_fullscreen
    opacity: 0 !important

  .b-inset-dulton-media__inner
    width: 100% !important



  .b-gallery__item
    margin-left: -285px
  .b-gallery__item__image-wrapper
    margin-bottom: 20px

  .b-broadcast__description
    font-family: Arial, sans-serif
    font-style: normal
    line-height: 18px
    font-weight: inherit
    font-size: 13px
    color: #544b48
    padding-top: 0 !important
  
  .LinkTitle
    font-family: $font1
    margin-bottom: 10px
  
  +breakpoint($medium)
    .b-gallery
      width: 670px
      overflow: visible
    .b-button.b-button_gallery-next
      right: -30px
    .b-button.b-button_gallery-prev
      left: -30px
    
  +breakpoint(0 $medium)
    margin-right: 0
    .b-gallery
      margin-left: -70px
    .b-gallery__item__inner 
      padding: 0 30px
      .author,
      .description
        width: auto
      .counter
        right: 70px

.broadcast-paginator
  width: 800px
  margin: 50px 0 0 0
  
  +breakpoint(0 $medium)
    width: 570px

.b-social-post
  margin-top: 30px
  .b-social-post__post
    text-align: center
    margin: 30px 0


.vk-post
  border: 1px solid #a7a7a7
  border-radius: 5px
  padding: 20px

  .b-ved-vk__header div
    vertical-align: middle
    display: inline-block

  .b-ved-vk__header
    text-align: left
    margin-bottom: 20px

    .b-vk-profile-pic
      width: 50px
      height: 50px
      border-radius: 25px
      overflow: hidden
      margin-right: 15px
      img
        min-width: 100%

  .b-vk-image img
    min-width: 100%
    border-radius: 3px

  .b-vk-text
    padding-top: 20px
    text-align: left