/*----- B-CHARACTER  -----*/
.b-character
  +clearfix
  +inline-block
  +base-mods('b-character')
  +base-transforms('b-character')
  position: relative

  // списочная страница
  &.b-character_list
    text-align: left
    width: 100%
    padding: 14px 0 14px
    border-top: 1px dotted $line

    &:first-child
      border-top: 0

  &.b-character_level3
    .b-story &
      padding: 27px 0 13px 0
/*----- B-CHARACTER  -----*/


/*----- B-CHARACTER__INNER -----*/
.b-character__inner
  +clearfix

  .b-character_level1 &
    float: left
    width: 2 * $col + 1 * $gatter + px

  .b-character_level2 &
    +inline-block
    margin-bottom: 10px

  .b-column_level3 &
    min-height: 48px

  .b-character_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      float: none
      width: 100%
      margin-bottom: 10px

  .b-character_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      float: left
      width: 2 * $col + 1 * $gatter + px
      margin-bottom: 0

  // списочная страница
  .b-character_list &
    float: right
/*----- B-CHARACTER__INNER -----*/


/*----- B-CHARACTER__RUBRIC  -----*/
.b-character__rubric
  width: 100%
  float: left

  a
    +font($ved_green, $font1, 17, 21)
    +transition(color $time ease-in-out)

    &:hover
      color: $black

  .b-character_level1 &
    margin-top: 12px
    padding-left: 0
    float: none

  .b-character_level2 &
    position: relative
    width: 155px
    margin: 25px 0 5px 0


  .b-character_level3 &
    width: 212px
    margin-top: 4px

  .b-character_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      float: left
      width: 155px
      margin: 12px 0 5px 0

  .b-character_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      width: 212px
      margin-top: 0
      padding-left: 0
/*----- B-CHARACTER__RUBRIC  -----*/


/*----- b-character__NAME  -----*/
.b-character__name
  width: 100%
  float: left
  a
    display: inline
    +font($primary_text, $font2, 18, 21)
    padding: 2px 0

  a.name:after
    content: ","

  .b-character_level1 &
    padding-left: 0
    margin-top: 4px

  .b-character_level2 &
    padding-left: 0
    width: 155px
    margin-top: 0
    //line-height: 20px

  .b-character_level3 &
    width: 212px
    margin-top: 0
    //line-height: 20px

  .b-character_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      float: left
      width: 155px
      margin-top: 0

  .b-character_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      width: 212px
      margin-top: 0
      padding-left: 0

  .job
    +font($primary_text, $font1, 18, 21)
    display: inline
    margin-bottom: 10px

  .b-character_level2_mutate-to-level3 &
    margin-bottom: 0

  .b-story li:first-child.b-character_level3 &
    width: 180px

/*----- B-CHARACTER__NAME  -----*/


/*----- B-CHARACTER__PORTRAIT  -----*/
.b-character__portrait
  +inline-block
  +clearfix
  float: left

  img
    display: block

    &.medium_circle
      width: 100px
      height: 100px
      display: block
      .b-character_level2_mutate-to-level3 &
        +breakpoint(0 $medium)
          display: none

    &.small_circle
      display: none
      .b-character_level2_mutate-to-level3 &
        +breakpoint(0 $medium)
          display: block

      .b-character_level3 &
        display: block

    &.show-on-medium-screen
      display: none
      +breakpoint(0 $medium)
        display: block

    &.hide-on-medium-screen
      display: block
      +breakpoint(0 $medium)
        display: none


  .b-character_level1 &
    +border-radius(150px)
    float: none
    margin-top: 0
    padding-left: 0

  .b-character_level2 &
    +border-radius(100px)
    margin-top: 0
    margin-right: 15px
    float: left

  .b-character_level3 &
    +border-radius(48px)
    margin-top: 0
    margin-right: 10px

  .b-character_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      +border-radius(100px)
      float: left
      margin-right: 15px

  .b-character_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      +border-radius(150px)
      margin-top: 0

  .b-character_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      margin-top: 0
      margin-right: 10px
      min-height: 48px

  .b-character_list &
    img
      +border-radius(100px)
/*----- B-CHARACTER__PORTRAIT -----*/


/*----- B-CHARACTER__TITLE -----*/
.b-character__title
  +inline-block
  +user-select(none)
  a
    +transition(color $time ease-in-out)
    &:hover,
    &.hover
      color: $ved_green

  .b-character_level2 &
    +font($primary_text, $font2, 22, 24)
    float: none
    clear: both
    margin: 5px 0 0
    padding: 0
    display: none

  .b-character_level3 &
    +font($primary_text, $font2, 22, 24)
    display: block
    float: none
    clear: both
    margin: 10px 0 0
    padding: 0

  .b-character_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: block

  .b-character_list &
    a
      +font($primary_text, $font2, 22, 24)
    a:hover
      +font($ved_green, $font2, 22, 24)
/*----- b-character__TITLE -----*/


/*----- B-CHARACTER__SUBTITLE -----*/
.b-character__subtitle
  .b-character_list &
    margin-top: 2px
    a
      +font($additional_text, $font4, 18, 21)
  strong,
  b
    font: 18px/21px $font2
    font-style: normal
    vertical-align: baseline
/*----- B-CHARACTER__SUBTITLE -----*/


/*----- b-character__QUOTE__WRAPPER -----*/
.b-character__quote__wrapper
  .b-character_level1 &
    margin-top: 24px
    float: left
    width: 7 * $col + 7 * $gatter + px

  .b-character_level2 &
    width: 100%
    margin-top: 0

  .b-character_level3 &
    display: none

  .b-character_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      float: left
      width: 100%

  .b-character_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      float: left
      width: 7 * $col + 7 * $gatter + px

  .b-character_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: none

  .b-character_list &
    float: left
    max-width: 870 - 150 - $gatter + px
    +breakpoint(0 $medium)
      max-width: 570 - 150 - $gatter + px

    &.full-width
      max-width: 100%!important

/*----- b-character__QUOTE__WRAPPER -----*/


/*----- B-CHARACTER__QUOTE -----*/
.b-character__quote
  position: relative
  border: 1px solid $tan
  min-height: 68px
  a
    +font($black, $font4, 23, 27, italic)
    display: block
    padding: 13px 15px

  .b-character_level1 &
    width: 100%
    a
      +font($black, $font4, 27, 33, italic)

  .b-character_level1 &:before
    +corner('left',$tan, -12, 21)

  .b-character_level1 &:after
    +corner('left', $body_bg, -10, 22)

  .b-character_level2 &:before
    +corner('top', $tan, 19, -12)

  .b-character_level2 &:after
    +corner('top', $body_bg, 20, -10)

  .b-character_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      a
        +font($black, $font4, 23, 27, italic)
        display: block
        padding: 13px 15px

  .b-character_level1_mutate-to-level2 &:before
    +breakpoint(0 $medium)
      +corner('top', $tan, 19, -12)

  .b-character_level1_mutate-to-level2 &:after
    +breakpoint(0 $medium)
      +corner('top', $body_bg, 20, -10)

  .b-character_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      a
        padding: 13px 30px

  .b-character_level2_mutate-to-level1 &:before
    +breakpoint(0 $medium)
      +corner('left', $tan, -12, 21)

  .b-character_level2_mutate-to-level1 &:after
    +breakpoint(0 $medium)
      +corner('left', $body_bg, -10, 22)
/*----- B-CHARACTER__QUOTE  -----*/
