/*----- b-chronology__ITEM  -----*/
.b-chronology__item
  @include clearfix
  width: 3 * $col + 2 * $gatter + px
  margin-top: 10px
  &:first-child
    margin-top: 0
    border-bottom: none

  .time
    +font($news-tabs_brown, $font5, 12, 15)
    width: 40px
    float: left
    position: relative
    margin-top: 4px

  .body
    width: 3 * $col + 2 * $gatter - 40 + px
    display: inline-block
    +font($additional_text, $font5, 15,18)

    +breakpoint(0 $medium)
      width: 2 * $col + 2 * $gatter + px
      margin-left: 0
/*----- b-chronology__ITEM -----*/


/*----- b-chronology__MORE -----*/
.b-chronology__more
  text-align: right
  a
    +font($ved_green, $font5, 13, 38, '', bold)
    text-decoration: none
    +transition(color $time ease-in-out)

  &:hover
    +font($black, $font5, 13, 38, '', bold)
/*----- b-chronology__MORE -----*/