.b-citation
  +inline-block
  padding-top: 17px
  padding-bottom: 12px


  &.b-citation_level2
    width: 7 * $col + px
    position: relative
    +breakpoint(0 $medium)
      float: left
      width: 4 * $col + 3 * $gatter + px
      margin-right: $col + px

.b-citation__rubric
  +font($ved_green, $font1, 17)
  position: absolute
  left: 123px
  top: 41px
  a
    +font($ved_green, $font1, 18)
    color: $ved_green
    +transition(color $time ease-in-out)

  a:hover
    +font($black, $font1, 18)

.b-citation__person
  +inline-block
  float: left
  width: 3 * $col + px
  height: 3 * $col + px
  @include border-radius( 3 * $col + px)


.b-citation__name
  +font($black, $font2, 18, 21)
  width: 4 * $col + px
  margin-top: 52px
  float: left
  padding-left: 15px
  a:after
    content: ","

.b-citation__job
  display: block
  +font($black, $font1, 18, 21)

.b-citation__text-wrapper
  @include  inline-block

.b-citation__text
  margin-top: 14px
  border: 1px solid $tan
  position: relative

  a
    +inline-block
    +font($black, $font4, 23, 27, italic)
    padding: 13px 15px


  &:after
    content: ""
    width: 0
    height: 0
    position: absolute
    top: -12px
    left: 23px
    z-index: 19
    border-style: solid
    border-width: 0 24px 12px 0px
    border-color: transparent transparent $tan transparent

  &:before
    position: absolute
    content: ""
    width: 0
    height: 0
    top: -10px
    left: 24px
    z-index: 20
    border-style: solid
    border-width: 0 24px 12px 0px
    border-color: transparent transparent $white transparent
