/*----- B-COLORED-ARTICLE  -----*/
.b-colored-article
  +clearfix
  position: relative
  width: 1200px
  border-bottom: 1px dotted $tan
  +breakpoint(0 $medium)
    width: 910px

  &.b-colored-article_198
    //17 px - это padding-bottom
    height: 198 + 17 + px

  &.b-colored-article_380
    height: 380px

  .b-rubric_test-drive &
    paddin: 0
/*----- B-COLORED-ARTICLE  -----*/


/*----- B-COLORED-ARTICLE__BG -----*/
.b-colored-article__bg
  width: 100%
  position: absolute
  top: 0
  left: 0
  overflow: hidden

  .b-colored-article_198 &
    height: 198 + px

  .b-colored-article_380 &
    height: 380px


  +breakpoint(0 $medium)
    width: 910px

  .shadow
    background: rgba(0,0,0,0.4)
    position: absolute
    z-index: 2
    top: 0
    left: 0
    width: 1200px

    .b-colored-article_198 &
      height: 198 + 17 + px

    .b-colored-article_380 &
      height: 380px

  img
    top: 0
    left: 0
    position: absolute
    z-index: 1

    .b-colored-article_198 &
      height: 198 + 17 + px

    .b-colored-article_380 &
      height: 380px


/*----- B-COLORED-ARTICLE__BG -----*/


/*----- B-COLORED-ARTICLE__TITLE -----*/
.b-colored-article__title
  +font($white, $font2, 40, 44)
  margin: 6px 0 0
  padding: 0
/*----- B-COLORED-ARTICLE__TITLE -----*/

/*----- B-COLORED-ARTICLE__SUBTITLE -----*/
.b-colored-article__subtitle
  +font($white, $font4, 17, 21)
  margin: 10px 0 0
/*----- B-COLORED-ARTICLE__SUBTITLE -----*/

.b-colored-article__inner
  width: 6 * $col + 5 * $gatter + px
  +inline-block
  margin-left: $col + $gatter + px
  position: absolute
  z-index: 100
  bottom: 25px


/*----- B-COLORED-ARTICLE__QUOTE -----*/
.b-colored-article__quote
  +font($white, $font4, 38, 38, italic)
  display: block
  &:before
    content: "«"
    position: absolute
    left: -20px
  &:after
    content: "»"
/*----- B-COLORED-ARTICLE__QUOTE -----*/