/*----- B-COLUMN  -----*/
.b-column
  +inline-block
  +base-mods('b-column')
  +base-transforms('b-column')
  position: relative

  //списочная страница
  &.b-column_list
    text-align: left
    width: 100%
    padding: 14px 0 9px
    border-top: 1px dotted $line

    &:first-child
      border-top: 0

  &.b-column_level3
    .b-story &
      padding: 27px 0 13px 0
/*----- B-COLUMN  -----*/


/*----- B-COLUMN__INNER -----*/
.b-column__inner
  +font($font5, $black, 15, 17)
  .b-column_level1 &
    float: left
    width: 2 * $col + $gatter + px

  .b-column_level2 &
    min-height: 117px

  .b-column_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      float: left
      width: 2 * $col + $gatter + px

  .b-column_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      width: 100%
      min-height: 117px

  .b-column_level3 &
    min-height: 48px

  .b-column_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      min-height: 48px

  .b-column_list &
    width: 100px
    float: right
/*----- B-COLUMN__INNER -----*/


/*----- B-COLUMN__RUBRIC -----*/
.b-column__rubric
  +font($ved_green, $font1, 17, 21)
  +inline-block
  width: 100%

  a
    +transition(color $time ease-in-out)
    color: $ved_green
    &:hover
      color: $black

  .b-rubric_medium-no-banner &
    top: 49px - 17px

  .b-column_level2 &
    width: 150px
    margin-top: 32px

  .b-column_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      width: 150px
      margin-top: 32px

  .b-column_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      margin-top: 0
      width: 100%

  .b-column_level3 &
    width: 212px

  .b-column_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      width: 212px
      margin-top: 0
/*----- B-COLUMN__RUBRIC -----*/


/*----- B-COLUMN__NAME -----*/
.b-column__name
  +inline-block
  +font($primary_text, $font2, 18, 21, 'normal')
  margin-top: 7px

  a:hover
    color: $primary_text

  .b-column_level1 &
    width: 100%

  .b-column_level2 &
    width: 150px

  .b-column_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      width: 150px

  .b-column_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      width: 100%

  .b-column_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      width: 212px

  .b-column_level3 &
    width: 212px

  .b-story li:first-child.b-column_level3 &
    width: 180px
/*----- B-COLUMN__NAME -----*/


/*----- B-COLUMN__PORTRAIT -----*/
.b-column__portrait
  +inline-block

  img
    background: $tan
    display: block
    &.show-on-medium-screen
      display: none
      +breakpoint(0 $medium)
        display: block
    &.hide-on-medium-screen
      display: block
      +breakpoint(0 $medium)
        display: none

    .b-column_level1 &
      +border-radius(150px)

    .b-column_level2 &
      +border-radius(100px)

    .b-column_level3 &
      +border-radius(48px)

    .b-column_list &
      +border-radius(100px)

    &.medium_circle
      display: block
      .b-column_level2_mutate-to-level3 &
        +breakpoint(0 $medium)
          display: none

    &.small_circle
      display: none
      .b-column_level2_mutate-to-level3 &
        +breakpoint(0 $medium)
          display: block

  .b-column_level1 &
    float: none
    margin-right: 20px
    margin-bottom: 13px

  .b-column_level2 &
    float: left
    margin-right: 20px

  .b-column_level3 &
    float: left
    margin-right: 10px

  .b-column_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      float: left

  .b-column_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      margin-bottom: 13px

  .b-column_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      float: left
      margin-right: 10px
/*----- B-COLUMN__PORTRAIT -----*/


/*----- B-COLUMN__QUOTE__WRAPPER -----*/
.b-column__quote__wrapper
  .b-column_level1 &
    float: right
    width: 7 * $col + 6 * $gatter + px

  .b-column_level2 &
    width: 100%

  .b-column_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      width: 100%

  .b-column_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      float: right
      width: 9 * $col + 8 * $gatter + px

  .b-column_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      width: 7 * $col + 6 * $gatter + px

  .b-column_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: none

  .b-column_level3 &
    display: none

  .b-column_list &
    float: left
    max-width: 870 - 100 - $gatter + px
    +breakpoint(0 $medium)
      max-width: 570 - 150 - $gatter + px
/*----- B-COLUMN__QUOTE__WRAPPER -----*/


/*----- B-COLUMN__QUOTE -----*/
.b-column__quote
  position: relative

  a
    color: $primary_text
    &:hover
      color: $ved_green

  .b-column_level1 &
    margin-top: 15px
    +font($additional_text, $font3, 27,33)
    position: relative

  .b-column_level2 &
    +font($primary_text, $font3, 18, 24)

  .b-column_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      margin-top: 0
      +font($primary_text, $font3, 18, 24)
      & a:before
        left: -15px

  .b-column_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      margin-top: 15px
      +font($additional_text, $font3, 27,33)
      position: relative
/*----- B-COLUMN__QUOTE -----*/


/*----- B-COLUMN__TITLE -----*/
.b-column__title
  +inline-block
  a
    +font($primary_text, $font2, 22, 24)
    +transition(color $time ease-in-out)
    &:hover,
    &.hover
      color: $ved_green

  .b-column_level2 &
    float: none
    clear: both
    margin: 5px 0 0
    padding: 0
    display: none

  .b-column_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: block

  .b-column_level3 &
    display: block
    float: none
    clear: both
    margin: 5px 0 0
    padding: 0
/*----- B-COLUMN__TITLE -----*/


/*----- B-COLUMN__SUBTITLE -----*/
//используется в списочной странице
.b-column__subtitle
  +font($additional_text2, $font4, 15, 18)

  .b-column_list &
    a, a:hover
      +font($additional_text2, $font4, 18, 21)

    margin-top: 6px

/*----- B-COLUMN__SUBTITLE -----*/
