/*----- B-COMPANY -----*/
.b-company
  +font($additional_text, $font5, 16, 21)
  +breakpoint(0 $medium)
    +font($additional_text, $font5, 15, 18)

.b-company__name
  margin-bottom: 10px

.b-company__image
  margin-bottom: 12px

  img
    width: 100%

  +breakpoint(0 $medium)
    width: 3 * $col + 2 * $gatter + px

.b-company_descr


.b-company__name
  +font($black, $font2, 22, 24)

.b-company__params
  li
    margin-top: 10px
/*----- B-COMPANY -----*/

.b-company-label
  text-align: right
  border-bottom: $line 1px solid
  padding-bottom: 10px
  margin-bottom: 15px
  +font($primary_text,$font5, 14)