/*----- B-FILE -----*/
.b-file
  &:first-child
    margin-top: 0
  position: relative
  margin-top: 21px
/*----- B-FILE -----*/


/*----- B-FILE_TITLE -----*/
.b-file__title
  +font($black, $font2, 22, 24)
  position: relative
  padding-left: 42px
  margin-bottom: 9px
  padding-top: 2px

  &.no-icon
    padding-left: 0

  a
    padding: 1px 0
    +font($black, $font2, 22, 24)
  a:hover, a.hover
    +font($ved_green, $font2, 22, 24)
/*----- B-FILE_TITLE -----*/


/*----- B-FILE_DESCRIPTION -----*/
.b-file__description
  margin-top: 10px

  a, a:hover
    padding: 1px 0
    +font($additional_text, $font5, 15, 18)
/*----- B-FILE_DESCRIPTION -----*/