/*----- B-HUHU -----*/
.b-huhu
  background: $ved_green
  +inline-block
  width: 1200px
  height: 380px
  position: relative
  +breakpoint(0 $medium)
    width: 900px

  .title
    +font($white_original, $font2, 40, 44)
    +breakpoint(0 $medium)
      +font($white_original, $font2, 32, 36)

  .subtitle
    +font($white_original, $font4, 17, 21)
    margin-top: 10px
/*----- B-HUHU -----*/


/*----- B-HUHU__HEADER -----*/
.b-huhu__header
  +inline-block
  width: 6 * $col + 5 * $gatter + px
  margin-left: $gatter + px
  position: absolute
  z-index: 100
  bottom: 25px

  +breakpoint(0 $medium)
    padding-left: 0
    width: 3 * $col + 3 * $gatter + px
/*----- B-HUHU__HEADER -----*/


/*----- B-HUHU__IMAGE -----*/
.b-huhu__image
  width: 570px
  height: 380px
  position: absolute
  right: 0
  bottom: 0
/*----- B-HUHU__IMAGE -----*/


/*----- B-HUHU__IMAGE -----*/
.b-huhu__published-at
  +font($additional_text2, $font4, 13, 18, italic)
  display: none
  margin-top: 15px
/*----- B-HUHU__IMAGE -----*/

