.b-info

  &.b-info_list
    text-align: left
    border-top: 1px dotted $line
    padding: 14px 0 14px
    width: 100%

    &:first-child
      border-top: 0

    a
      +font($primary_text, $font2, 22, 24)
      text-decoration: none
      padding: 2px 0

      &:hover,
      &.hover
        outline: none
        color: $ved_green
