/*----- B-INSET_QUOTE -----*/
.b-inset_quote
  +clearfix
  +inline-block
  margin: 25px 0
  width: 9 * $col + 8 * $gatter + px
  float: left
  +breakpoint(0 $medium)
    width: 6 * $col + 5 * $gatter + px

  .inner
    width: 3 * $col + 2 * $gatter + px
    float: right
    +breakpoint(0 $medium)
      width: 2 * $col + 1 * $gatter + px

    .b-social__layout-mutation &
      margin-right: 70px

  .person
    +clearfix
    +border-radius(70px)
    width: 70px
    height: 70px
    margin-bottom: 12px


  .name
    +font($black, $font2, 17)

  .job
    +font($black, $font1, 17)
    &:before
      content: ', '

  .text
    +font($black, $font4, 23, 27, italic)
    float: left
    width: 6 * $col + 5 * $gatter + px
    border: 1px solid $tan
    position: relative
    padding: 13px 15px

    +breakpoint(0 $medium)
      width: 4 * $col + 3 * $gatter + px

    &:before
      +corner(right, $tan, -12, 23)
    &:after
      +corner(right, #FFF6F1, -10, 24)

    .b-social__layout-mutation &
      width: 5 * $col + 5 * $gatter + px
/*----- B-INSET_QUOTE -----*/