.b-inset-dulton-media
  text-align: left
  margin: 25px 0 11px 100px
  clear: both
  +breakpoint(0 $medium)
    margin-left: 0

  .b-social__layout-mutation &
    margin-left: 0

  .b-document__body_video &
    margin-left: 0

  .b-document_info &
    margin: 13px 100px 26px 0
    +breakpoint(0 $medium)
      margin-right: 0

  .b-document_company &,
  .b-document_press-release &
    margin: 25px 100px 11px 0
    +breakpoint(0 $medium)
      margin-right: 0

.b-inset-dulton-media__inner
  width: 771px
  height: 432px


  .b-social__layout-mutation &
    width: 800px
    height: 450px
    +breakpoint(0 $medium)
      width: 570px
      height: 321px

  .b-document__body_video &
    width: 869px
    height: 489px

  +breakpoint(0 $medium)
    width: 570px
    height: 321px

    .b-document__body_video &
      width: 570px
      height: 321px


  //.b-document__body_video &
  //  padding-bottom: 56.25%
  //  position: relative
  //  height: 0
  //
  //& > div
  //  display: inline-block
//TODO раскомментировать, когда появятся новые поля
//.inset-media-info,
//.inset-media-title
//  +font($font5, $additional_text2, 14, 15)
//  margin: 7px 0
//
//
//.inset-media-title
//  margin-top: 10px
//  color: #332f2e
