.b-inset-table
  margin-top: 10px
  margin-bottom: 25px

  .b-inset-table__header,
  h2.b-inset-table__header
    font-size: 21px
    padding-left: 0

  .b-inset-table__description
    font-family: Arial, sans-serif
    font-style: normal
    line-height: 15px
    font-weight: inherit
    font-size: 12px
    color: #332f2e
    margin: 0
    margin-bottom: 8px

  .b-inset-table__source
    font-family: Arial, sans-serif
    font-style: normal
    line-height: 15px
    font-weight: inherit
    font-size: 12px
    color: #857871

  .b-inset-table__reset
    float: right
    color: #857871
    font: 15px $font1
    border-bottom: 1px dotted #857871
    cursor: pointer

  .b-social__layout-mutation &
    width: 9 * $col + 8 * $gatter + px
    padding: 0 $col + px 0 0
    +breakpoint(0 $medium)
      width: auto
      padding: 0

  table
    border-spacing: 0

  th, td
    padding: 5px 15px
    empty-cells: hide

  td.sorted
    color: #b55757
    background: #fff

  td.highlight-column
    font-family: $font2
    color: #332f2e

  td:last-child
    padding: 0

  // th:first-child,
  // td:first-child
  //   padding-left: 8px

  th.header
    cursor: pointer
    position: relative
    span
      color: #857871
      border-bottom: 1px dotted #857871
    &.headerSortUp,
    &.headerSortDown
      background: #fff
      span:after
        content: ''
        position: absolute
        right: 5px
        top: 50%
        transform: translateY(-50%)
        width: 0
        height: 0
    &.headerSortUp
      span:after
        border-style: solid
        border-width: 0 4.5px 6px 4.5px
        border-color: transparent transparent #857871 transparent
    &.headerSortDown
      span:after
        border-style: solid
        border-width: 6px 4.5px 0 4.5px
        border-color: #857871 transparent transparent transparent

  th.disabled-header
    pointer-events: none

  tbody
    tr.highlight-color
      td
        background: #f5e2de
      &:hover
        td,
        td.sorted
          background: #f5e2de
    tr.highlight-bold
      td
        font-family: $font2
        color: #332f2e
    tr.expand
      cursor: pointer
      td:first-child
        &:before
          content: ''
          display: block
          position: absolute
          left: -23px
          top: 50%
          +transform(translate(0, -50%))
          width: 13px
          height: 14px
      td:first-child
        &:before
          background: inline-image('icon/plus-circle.png')
          background-repeat: no-repeat
      &.opened
        background: #fff
        td
          background: #fff
        td:first-child
          &:before
            background: inline-image('icon/minus-circle.png')
            background-repeat: no-repeat
      td
        position: relative
        border-right: none
    tr:hover
      background: #faece7
      td.sorted
        background: #faf5f5
    ul, ol
      padding: 0
      margin: 5px 20px 5px 0
      width: 45%
      display: block
      li
        font: 15px/18px $font1
        color: #857871
        list-style-type: none
        border-bottom: 1px dotted #857871
        margin-left: 20px
        padding: 10px 0
        overflow: hidden
        &:last-child
          border: none

  .expand-html
    display: none

  .expand-placeholder
    &:hover
      td
        background: #fff
    td
      padding: 20px 30px
      background: #fff
      strong
        font-family: $font2
        font-weight: normal !important
        color: #332f2e

  .htCenter
    text-align: center

  .htLeft
    text-align: left

  .htRight
    text-align: right

  .htMiddle
    vertical-align: middle

  .htTop
    vertical-align: top

  .htBottom
    vertical-align: bottom
