/*----- B-INSET-IMAGE -----*/
.b-inset-image
  padding-top: 25px
  text-align: center
  .b-document_advert_article &
    padding-top: 0
  img
    +inline-block
    vertical-align: middle

  .title
    +font($additional_text, $font5, 12, 15)
    margin-bottom: 5px
    text-align: left

  .author-source
    +font($additional_text2, $font5, 12, 15)
    text-align: left

  &.b-inset-image_fast-news
    +clearfix
    text-align: left
    padding-left: $col + px
    img
      float: left

  .b-document_news &
    padding-left: $col + $gatter + px
    +breakpoint(0 $medium)
      padding-left: $col + px

  .b-document_press-release &,
  .b-document_info &,
  .b-document_company &
    padding-top: 12px
/*----- B-INSET-IMAGE -----*/


/*----- B-INSET-IMAGE__DESCR -----*/
.b-inset-image__descr
  +inline-block
  width: 570px
  margin-top: 13px

  .b-inset-image_fast-news &
    width: 300px
    margin-left: 30px
    margin-top: 0
    +breakpoint(0 $medium)
      width: 100%
      margin-left: 0
      margin-top: 13px
/*----- B-INSET-IMAGE__DESCR -----*/
