/*----- B-INSET -----*/
.b-inset
  +inline-block
  border-top: 1px dotted $tan
  border-bottom: 1px dotted $tan
  padding: 17px 0 4px 0
  margin: 23px 0
  width: 3 * $col + 2 * $gatter + px
  margin-right: $gatter + px
  float: left
  clear: both

  //текст
  &.b-inset_text
    padding-bottom: 17px

    .title
      +font($black, $font2, 22, 24)
      padding: 0
      margin: 0

      .b-document_info &
        margin-top: 4px

    p
      width: 100%
      margin: 10px 0 0
      padding: 0
      +font($additional_text, $font5, 15, 18)
      .b-document_info &
        margin-top: 6px
      .b-document_advert_article &
        color: $additional_text2


    img
      margin-bottom: 10px

    .b-document_info &
      border: 0
      padding: 6px 0
      margin-top: 0
      margin-bottom: 0


  &.b-inset_text.b-inset_text_long-text
    width: 100%
    float: none

  .b-social__layout-mutation &.b-inset_text_long-text
    width: 800px
    +breakpoint(0 $medium)
      width: 100%

  &.b-inset_text.b-inset_text_long-text p
    height: 71px
    overflow: hidden
    position: relative

  &.b-inset_text.b-inset_text_long-text .shadow
    +inline-block
    width: 100%
    height: 15px
    position: absolute
    bottom: 0
    left: 0
    background: image-url("shadow.png")

  &.b-inset_text.b-inset_text_long-text .open
    height: inherit
    overflow: visible

  //хронология
  &.b-inset_chronology
    img
      display: block
      +border-radius(70px)
      +clearfix
      margin-bottom: 10px
    ul
      padding: 0
      margin: 10px 0 0
      list-style: none

    .title
      +font($black, $font2, 22, 24)
      display: inline-block
      margin: 0

    .subtitle
      +font($additional_text, $font5, 15, 18)
      margin: 7px 0 0 0

  &.b-inset_container_attachments
    position: relative
    ul
      list-style: none
/*----- B-INSET -----*/
