/*----- B-LIFESTYLE -----*/
.b-lifestyle
  +inline-block
  +clearfix
  +base-mods('b-lifestyle')
  width: 570px
  height: 380px
  margin-right: $gatter + px
  float: left
  position: relative
  z-index: 20
  
  .b-document_story &
    float: left

  &.b-lifestyle_padding-bottom
    height: 395px
    padding-bottom: 0
/*----- B-LIFESTYLE -----*/

/*----- B-LIFESTYLE__BG -----*/
.b-lifestyle__bg
  +inline-block
  position: absolute
  left: 0
  top: 0
  width: 6 * $col + 5 * $gatter + px
  height: 380px
  overflow: hidden
  .shadow
    background: rgba(0,0,0,0.4)
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 380px

  img
    top: 0
    left: 0
    position: absolute
    z-index: -2
    width: 100%
    height: auto
/*----- B-LIFESTYLE__BG -----*/


/*----- B-LIFESTYLE__INNER -----*/
.b-lifestyle__inner
  +inline-block
  width: 6 * $col + 3 * $gatter + px
  position: absolute
  bottom: 30px
  left: $gatter + px
  padding-right: $gatter + px

/*----- B-LIFESTYLE__INNER -----*/


/*----- MAIN LIFESTYLE -----*/
.b-rubric_lifestyle-main
  .b-lifestyle
    width: 870px
    +breakpoint(0 $medium)
      width: 910px

  .b-lifestyle__bg
    z-index: 0
    width: 9 * $col + 8 * $gatter + px
    overflow: hidden
    +breakpoint(0 $medium)
      width: 9 * $col + 10 * $gatter + px

    .shadow
      background: rgba(0,0,0,0.4)

  .b-banner
    +breakpoint(0 $medium)
      margin-top: 410px !important
      right: 30px !important

  .b-lifestyle__inner
    width: initial

  .b-lifestyle__title
    +font($white, $font2, 40, 44)

  .b-rubric__2col-inner
    width: 6 * $col + 5 * $gatter + px

  .b-rubric__2col-inner_underbanner
    +breakpoint(0 $medium)
      margin-left: 300px

  .b-rubric__2col-inner_mutate-to-1col
    +breakpoint(0 $medium)
      margin-right: 0 !important
/*----- MAIN LIFESTYLE -----*/


/*----- B-LIFESTYLE__TITLE -----*/
.b-lifestyle__title
  display: block
  position: relative
  margin: 6px 0 0
  padding: 0
  width: 100%
  +font($white, $font1, 38, 38, 700)
  z-index: 9
  +user-select(none)
/*----- B-LIFESTYLE__TITLE -----*/


/*----- B-ARTICLE__RUBRIC -----*/
.b-lifestyle__rubric
  +inline-block
  position: relative
  z-index: 20
  a
    +inline-block
    +font($white, $font1, 17)

/*----- B-ARTICLE__RUBRIC -----*/


/*----- B-LIFESTYLE__SUBTITLE -----*/
.b-lifestyle__subtitle
  display: block
  +font($white, $font4, 17,21)
  width: 100%
  margin: 10px 0 0
  position: relative
  z-index: 8
/*----- B-LIFESTYLE__SUBTITLE -----*/


/*----- LIFESTYLE__INNER__LINK -----*/
.b-lifestyle__inner__link
  z-index: 10
  position: absolute
  width: 100%
  height: 100%
/*----- LIFESTYLE__INNER__LINK -----*/
