.b-multimedia-top__inner
  +clearfix
  background: $multimedia
  width: 1200px
  padding: 15px
  +breakpoint(0 $medium)
    width: 910px

.b-multimedia-top.b-rubric_slider
  overflow: hidden
  +base-width(12)
  padding-bottom: 25px
  background: $body_bg
  border-bottom: none

  .b-slider__wrapper
    width: 1170px
    height: auto
    min-height: initial
    +breakpoint(0 $medium)
      width: 870px

  .b-multimedia-top__title
    +font($white_original, $font3, 30)
    margin: 0 0 15px 15px
    a
      +font($white_original, $font3, 30)
