.b-news-item__name
  position: absolute
  margin-top: -160px

.b-news-item__wrapper
  position: relative

.b-news-item
  position: relative
  border-bottom: 1px dotted $line
  &.b-news-item_one
    border-bottom: 0

.b-news-item__time
  +inline-block
  +font($additional_text2, $font5, 13, inherit, inherit, normal)
  width: $col + px
  position: absolute
  padding-left: 5px
  left: 0

  &.b-news-item__time_one
    +inline-block
    position: relative
    width: inherit
    margin-right: 15px
    padding-left: 0
    a, a:hover
      +font($additional_text2, $font5, 12)

.b-news-item__source
  +inline-block
  padding: 0 $col + $gatter + px 10px $col + px
  a, a:hover
    font-family: $font5!important
    font-size: 12px!important
    color: $additional_text2!important
    font-weight: bold!important
    text-decoration: none!important
    //+font($additional_text2, $font5, 12, inherit, inherit, bold)

  &.b-news-item__source_one
    display: block
    padding-left: 0
    float: none
    +font($additional_text2, $font5, 12, inherit, inherit, bold)

.b-news-date
  padding: 13px 0
  +font($additional_text2, $font5, 13)
  border-bottom: 1px dotted $tan
  &:first-letter
    text-transform: uppercase


  &.b-news-date_one
    +inline-block
    +font($additional_text2, $font5, 12)


/*----- B-NEWS-ITEM__TITLE -----*/
.b-news-item__title
  +inline-block
  width: 100%
  position: relative
  +font($black, $font5, 17, 24, inherit, normal)
  padding: 13px $col + $gatter + px 8px $col + px

  & > a
    +font($black, $font5, 17, 24, inherit, normal)
    +single-transition(color, $time3, ease-in-out)

  &.active
    span
      color: $black!important

  & > a:hover
    cursor: pointer
    color: $additional_text2

  .b-news-page &
    border-top: 0
    padding-top: 0

.b-news-item__title.b-news-item__title_one
  padding: 0
  h1
    +font($primary_text, $font5, 30, 36)
/*----- B-NEWS-ITEM__TITLE -----*/


/*----- B-NEWS-ITEM_ONE__PARAMS -----*/
.b-news-item_one__params
  margin: 0 0 25px 40px
  line-height: 17px
  +breakpoint(0 $medium)
    margin-left: -30px
  .b-button__social__wrapper_horizontal
    margin-left: 30px
/*----- B-NEWS-ITEM_ONE__PARAMS -----*/


/*----- B-NEWS-ITEM__TEXT -----*/
.b-news-item__text
  +inline-block
  position: relative
  float: none
  &.opened
    padding-bottom: 30px
  &:not(.opened)
    display: none
  &.showme
    display: block!important

  p
    +font($additional_text, $font5, 15, 20)
    padding: 0 $col + $gatter + px 10px $col + px

  a
    text-decoration: underline
    +font($ved_green, $font5, 15, 20)
    //+single-transition(color, $time, ease-in-out)

    //&.block-link
    //  display: block
    //  &:after
    //    content: ' →'

  a:hover
    +font($ved_green, $font5, 15, 20)
    text-decoration: underline

  .b-news-item_one &
    +font($additional_text, $font5, 16, 21)

    p
      +font($additional_text, $font5, 15, 20)
      padding: 0 $col + px 10px
      +breakpoint(0 $medium)
        padding: 0 0 10px

  &.b-news-item__text_one
    width: 100%
    display: block
    padding-bottom: 30px
/*-----   B-NEWS-ITEM__TEXT   -----*/


/*-----   B-NEWS-ITEM__IMAGE   -----*/
.b-news-item__image
  margin-top: 30px
  width: 18 * $col + px
  +breakpoint(0 $medium)
    width: 7 * $col + 6 * $gatter + px

  +clearfix
  img
    float: left
    width: 11 * $col + px

    +breakpoint(0 $medium)
      width: 5 * $col + 4 * $gatter + px
/*----- B-NEWS-ITEM__IMAGE -----*/


/*----- B-NEWS-ITEM__IMAGE__DESCR -----*/
.b-news-item__image__descr
  +inline-block
  float: right
  width: 6 * $col + px
  padding-right: $col + px

  +breakpoint(0 $medium)
    padding-right: 0
    width: 2 * $col + $gatter + px

  .title
    +font($news_item_black, $font5, 12)
  .author
    +font($news_item_tan, $font5, 12)

/*----- B-NEWS-ITEM__IMAGE__DESCR -----*/


/*----- B-NEWS-ITEM__LINK -----*/
.b-news-item__link
  +inline-block
  background: $news-item_white
  +box-shadow($news-item_shadow 3px 3px 25px)
  top: -50px
  right: 30px
  height: 50px
  position: absolute
  z-index: 20
  border: 1px solid $tan
  padding: 0 12px

  &.hidden
    display: none

  &:after
    position: absolute
    right: 11px
    z-index: 20
    top: 48px
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 12px 12px 0 12px
    border-color: $tan transparent transparent transparent

  &:before
    right: 11px
    top: 47px
    z-index: 21
    content: ''
    position: absolute
    width: 0
    height: 0
    border-style: solid
    border-width: 12px 12px 0 12px
    border-color: $news-item_white transparent transparent transparent

  span
    +inline-block
    +font($additional_text, $font1, 17)
    margin: 15px 12px 0 0

  a
    +inline-block
    +font($additional_text, $font1, 15, 31)
    +border-radius(3px)
    margin: 11px 0 0 0
    width: 150px
    overflow: hidden
    height: 31px
    border: none
    outline: none
    padding: 0 10px
    background: $news-item_light-green
/*----- B-NEWS-ITEM__LINK -----*/


/*----- B-NEWS-ITEM__ARROW-DOWN -----*/
.b-news-item__arrow-down
  +inline-block
  width: 20px
  height: 20px
  position: absolute
  top: 50%
  right: 12px
  margin-top: -11px
  z-index: 100

  .b-news-item__title &
    opacity: 0
    +single-transition(opacity, $time3, ease-in-out)

  .b-news-item__title:hover &
    opacity: 1

  .b-news-item__title.active &
    display: none
/*----- B-NEWS-ITEM__ARROW-DOWN -----*/
