/*----- B-NEWSPAPER-ITEM -----*/
.b-newspaper-item
  +clearfix
  display: block
  border-top: 1px dotted $line
  padding: 14px 0 9px
  width: 100%

  img
    +inline-block
    float: right

  .subtitle
    +font($additional_text2, $font4, 15,18)
    margin-top: 10px

  &.first
    border-top: 0
    margin-right: 20px
    +breakpoint(0 $medium)
      border-bottom: 1px dotted $line
      margin-bottom: 59px

    .subtitle
      +font($additional_text2, $font4, 17,21)
      margin-top: 6px

  &:first-child
    +breakpoint(0 $medium)
      border-top: none
/*----- B-NEWSPAPER-ITEM -----*/


/*----- B-NEWSPAPER-ITEM__TITLE -----*/
.b-newspaper-item__title
  a
    +font($primary_text, $font2, 18,18)
  a:hover,
  a.hover
    +font($ved_green, $font2, 18,18)

  .b-newspaper-item.first &
    a
      +font($primary_text, $font2, 36,36)
    a:hover,
    a.hover
      +font($ved_green, $font2, 36,36)
/*----- B-NEWSPAPER-ITEM__TITLE -----*/


/*----- B-NEWSPAPER-ITEM__INNER -----*/
.b-newspaper-item__inner
  .b-newspaper-item.first
    float: left

/*----- B-NEWSPAPER-ITEM__INNER -----*/


/*----- B-NEWSPAPER-ITEM__IMAGE -----*/
.b-newspaper-item__image
  +inline-block
  float: right
  margin-right: 20px
  .b-newspaper-item.first &
    float: left
    margin-right: 20px
    display: inline-block
/*----- B-NEWSPAPER-ITEM__IMAGE -----*/



