.b-person__image
  width: 85px
  height: 85px
  +border-radius(85px)
  +clearfix

.b-person__name
  +font($black, $font2, 21,21)
  margin-top: 10px

.b-person__job
  +font($additional_text, $font5, 16, 21)
  margin-top: 9px
  +breakpoint(0 $medium)
    +font($additional_text, $font5, 15,18)

.b-person__job__items
  margin-top: 10px

.b-person__job__item
  position: relative
  min-height: 32px
  .date
    width: 1 * $col + px
    +font($additional_text2, $font5, 12,15)
    position: absolute
    top: 4px
    left: 0
    +breakpoint(0 $medium)
      width: $col + px
  .descr
    padding-left: $col + 11 + px
    +font($additional_text, $font5, 16,21)
    +breakpoint(0 $medium)
      +font($additional_text, $font5, 15,18)
      padding-left: $col + px