/*----- B-PHOTO -----*/
.b-photo
  +inline-block
  +clearfix
  width: 570px
  height: 380px
  margin-right: $gatter + px
  display: block
  float: left
  position: relative
  z-index: 20
  +breakpoint(0 $medium)
    width: 420px
    height: 280px
/*----- B-PHOTO -----*/


/*----- B-PHOTO__BG -----*/
.b-photo__bg
  +inline-block
  position: absolute
  left: 0
  top: 0
  width: 570px
  height: 380px
  +breakpoint(0 $medium)
    width: 420px
    height: 280px


  .shadow
    +background-image(linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)))
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 570px
    height: 380px
    +breakpoint(0 $medium)
      width: 420px
      height: 280px
  img
    top: 0
    left: 0
    position: absolute
    z-index: -2
    width: 100%
/*----- B-PHOTO__BG -----*/


/*----- B-PHOTO__TITLE -----*/
.b-photo__title
  margin: 6px 0 0
  padding: 0
  width: 100%
  +font($white, $font1, 36, 36, 700)
/*----- B-PHOTO__TITLE -----*/


/*----- B-ARTICLE__RUBRIC -----*/
.b-photo__rubric
  color: $white
  font: bold 17px $font1
  display: block
/*----- B-ARTICLE__RUBRIC -----*/


/*----- B-PHOTO__SUBTITLE -----*/
.b-photo__subtitle
  +font($white, $font4, 17,21)
  width: 100%
  margin: 10px 0 0
/*----- B-PHOTO__SUBTITLE -----*/


/*----- B-PHOTO__INNER -----*/
.b-photo__inner
  width: 510px
  position: absolute
  bottom: 30px
  left: 30px

  +breakpoint(0 $medium)
    width: 350px
/*----- B-PHOTO__INNER -----*/