/*----- B-POPULAR -----*/
.b-popular
  +clearfix
  +inline-block
  position: relative
  padding: 10px 0 8px 0
  width: 3 * $col + 2 * $gatter + px
  margin-right: $gatter + px
  padding-left: $gatter + px
  border-top: 1px dotted $line
  &.no-border-top
    border-top: 0px!important

  &.hide_on_medium_screen
    +breakpoint(0 $medium)
      display: none
/*----- B-POPULAR -----*/


/*----- B-POPULAR__RUBRIC -----*/
.b-popular__rubric
  a
    +font($ved_red, $font1, 17)
    display: block

    &:hover
      text-decoration: none
      color: $ved_red
/*----- B-POPULAR__RUBRIC -----*/


/*----- B-POPULAR__TITLE -----*/
.b-popular__title
  +inline-block
  width: 100%
  margin: 5px 0 0
  padding: 0
  a
    +font($primary_text, $font2, 22, 24)
/*----- B-POPULAR__TITLE -----*/


/*----- B-POPULAR__NUMBER -----*/
.b-popular__number
  position: absolute
  left: 0
  top: 7px
  font: normal 36px $font1
  color: $tan2
/*----- B-POPULAR__NUMBER -----*/


