.b-press-release
  &.b-press-release_list
    text-align: left
    padding: 15px 0
    border-top: 1px dotted $tan

    &:first-child
      border-top: none
      padding-top: 0

.b-press-release__title
  .b-press-release_list &
    a
      +font($primary_text, $font4, 21,24)
    a:hover
      +font($additional_text2, $font4, 21,24)

.b-press-release__data
  .b-press-release_list &
    margin-top: 8px
    +font($additional_text2, $font5, 12, 18)

