/*----- B-QUOTE  -----*/
.b-quote
  +inline-block
  +base-mods('b-quote')
  +base-transforms('b-quote')
  position: relative


  // списочная страница
  &.b-quote_list
    text-align: left
    width: 100%
    padding: 14px 0 9px
    border-top: 1px dotted $line

    &:first-child
      border-top: 0

  &.b-quote_level3
    .b-story &
      padding: 27px 0 13px 0
/*----- B-QUOTE  -----*/


/*----- B-QUOTE__INNER -----*/
.b-quote__inner
  +clearfix

  .b-quote_level1 &
    float: left
    width: 2 * $col + 1 * $gatter + px

  .b-quote_level2 &
    +inline-block
    width: 3 * $col + 2 * $gatter + px

  .b-quote_level3
    min-height: 48px

  .b-quote_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      width: 2 * $col + 2 * $gatter + px

  .b-quote_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      width: 100%
      float: none

  //слайдер ху-ху недели
  .b-huhu_quote &
    position: absolute
    bottom: 25px
    left: 30px
    line-height: normal
    width: 170px

  .b-quote_list &
    float: right
/*----- B-QUOTE__INNER -----*/


/*----- B-QUOTE__RUBRIC  -----*/
.b-quote__rubric
  width: 100%
  float: left

  a
    +font($ved_green, $font1, 17)
    +transition(color $time ease-in-out)

    &:hover
      color: $black

  .b-quote_level2 &
    position: relative
    width: 185px
    margin-top: 15px
    padding-left: 0

  .b-quote_level1 &
    maring-top: 12px
    float: none
    padding-left: 0

  .b-quote_level3 &
    width: 212px
    margin-top: 0

  .b-quote_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
    margin-top: 15px

  .b-quote_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      margin-top: 0
/*----- B-QUOTE__RUBRIC -----*/


/*----- B-QUOTE__PORTRAIT -----*/
.b-quote__portrait
  +clearfix
  +inline-block

  img
    display: block

    .b-quote_level1 &
      +border-radius(70px)

    .b-quote_level2 &
      +border-radius(70px)

    &.medium_circle
      width: 70px
      height: 70px
      .b-quote_level2_mutate-to-level3 &
        +breakpoint(0 $medium)
          display: none

    .b-quote_level1 &
      width: 70px
      height: 70px

  .b-quote_level1 &
    float: none
    margin-top: 0
    padding-left: 0

  .b-quote_level2 &
    margin-top: 17px
    margin-right: 15px
    float: left

  .b-quote_level3 &
    +border-radius(48px)
    margin-top: 0
    margin-right: 10px

  .b-quote_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      margin-top: 15px
      margin-right: 15px
      float: left

  .b-quote_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      margin-top: 0

  .b-quote_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: none


  //слайдер ху-ху недели
  .b-huhu_quote &
    +border-radius(150px)
    width: 150px
    height: 150px
    margin-bottom: 25px

  .b-quote_list &
    img
      +border-radius(100px)
/*----- B-QUOTE__PORTRAIT  -----*/


/*----- B-QUOTE__NAME  -----*/
.b-quote__name
  +font($primary_text, $font2, 17, 21)
  float: left

  a
    +font($primary_text, $font2, 17, 21)
    display: inline
    padding: 2px 0

  a.job
    +font($primary_text, $font2, 17, 21)
    font-family: $font1

  a.name:after
    content: ","

  .b-quote_level1 &
    width: 100%
    padding-left: 0
    margin-top: 4px

  .b-quote_level2 &
    width: 185px
    margin-top: 2px

  .b-quote_level3 &
    width: 212px
    margin-top: 0
    line-height: 20px

  .b-quote_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      width: 185px
      margin-top: 2px

  .b-quote_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      width: 100%
      padding-left: 0
      margin-top: 4px


  .b-quote_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: none

  //  слайдер ху-ху недели
  .b-huhu_quote &
    font-style: italic
    +font($white_original, $font4, 17, 21)
    font-weight: bold
    display: block
    float: none
    .job
      +font($white_original, $font4, 17, 21)
      display: inline
      font-weight: normal
      font-style: italic
/*----- B-QUOTE__NAME  -----*/


/*----- B-QUOTE__TITLE -----*/
.b-quote__title
  +inline-block
  a
    +transition(color $time ease-in-out)
    &:hover,
    &.hover
      color: $ved_green

  .b-quote_level2 &
    +font($primary_text, $font2, 21, 24)
    float: none
    clear: both
    margin: 5px 0 0
    padding: 0
    display: none

  .b-quote_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: block

  .b-quote_level3 &
    +font($primary_text, $font2, 21, 24)
    display: block
    float: none
    clear: both
    margin: 5px 0 0
    padding: 0

  .b-quote_list &
    a
      +font($primary_text, $font2, 21, 24)

    a:hover
      +font($ved_green, $font2, 21, 24)

  .b-story .b-quote_level3 &
    margin-top: 0

/*----- B-QUOTE__TITLE -----*/


/*----- B-QUOTE_SUBTITLE -----*/
.b-quote__subtitle
  +font($additional_text2, $font4, 15, 18)

  .b-quote_level2 &
    display: none

  .b-quote_level2_mutate-to-level3 &
    display: none
    +breakpoint(0 $medium)
      display: block
  .b-quote_level3 &
    a,
    a:hover
      +font($primary_text, $font4, 15, 18)

/*----- B-QUOTE_SUBTITLE -----*/


/*----- B-QUOTE__QUOTE__WRAPPER -----*/
.b-quote__quote__wrapper
  .b-quote_level1 &
    float: right
    width: 7 * $col + 7 * $gatter + px

  .b-quote_level2 &
    width: 100%

  .b-quote_level1_mutate-to-level2 &
    +breakpoint(0 $medium)
      width: 100%
      float: none

  .b-quote_level2_mutate-to-level1 &
    +breakpoint(0 $medium)
      float: right
      width: 7 * $col + 7 * $gatter + px

  .b-quote_level2_mutate-to-level3 &
    +breakpoint(0 $medium)
      display: none

  .b-quote_level3 &
    display: none

  .b-quote_list &
    float: left
    max-width: 870 - 100 - $gatter + px
    +breakpoint(0 $medium)
      max-width: 570 - 150 - $gatter + px
/*----- B-QUOTE__QUOTE__WRAPPER -----*/


/*----- B-QUOTE__QUOTE -----*/
.b-quote__quote
  border: none
  background: $ved_green2
  text-align: center
  position: relative
  a
    +font($black, $font2, 24, 27)
    display: block
    padding: 15px 30px

  .b-quote_level1 &
    width: 100%
    a
      padding: 17px 30px
      +font($black, $font2, 36, 39)

  .b-quote_level1 &:before,
  .b-document__header_quote-of-the-week &:before
    +corner('left', $ved_green2, -12, 21)

  .b-quote_level2 &:before
    +corner('bottom', $ved_green2, 23, -12)

  .b-quote_level2_mutate-to-level1 &:before
    +breakpoint(0 $medium)
      +corner('left', $ved_green2, -12, 21)

  .b-quote_level1_mutate-to-level2 &:before
    +breakpoint(0 $medium)
      +corner('bottom', $ved_green2, 23, -12)
      top: inherit!important

  //слайдер ху-ху недели
  .b-huhu_quote &
    +inline-block
    +font($primary_text, $font2, 40, 44)
    text-align: left
    position: absolute
    bottom: 25px
    right: $gatter + px
    padding: 27px 32px 20px 32px
    background: $ved_green2
    width: 9 * $col + 8 * $gatter + px
    +breakpoint(0 $medium)
      width: 6 * $col + 5 * $gatter + px
      +font($primary_text, $font2, 32, 36)

  .b-huhu_quote &:before
    content: ""
    position: absolute
    width: 0
    height: 0
    left: -30px
    top: 30px
    border-style: solid
    border-width: 0 30px 50px 0
    border-color: transparent $ved_green2 transparent transparent
/*----- B-QUOTE__QUOTE  -----*/