.b-redline, .b-announce
  width: 900px
  padding: 12px 50px 12px 55px
  position: relative
  margin: 0px 0 28px
  background: $redline
  +breakpoint(0 $medium)
    width: 100%
  .b-document &
    width: 870px
    +breakpoint(0 $medium)
      width: 100%
  .b-redline__time
    +font(white, $font5, 12,12)
    color: white
    position: absolute
    left: 12px
    top: 32px

  .b-redline__label
    +font(white, $font2, 38, 38)
    text-decoration: none

  
  .b-redline__title
    @extend .b-redline__label

  a.b-redline__title
    color: $primary_text
    &:hover
      color: white
      transition: none

  .b-redline__close, .b-announce__close
    position: absolute
    top: 14px
    right: 16px
    cursor: pointer
    padding: 5px

  .b-rubric_main-huhu &
    width: auto
    margin-right: 30px
    margin-top: 0
  .b-rubric_lifestyle-main &
    width: auto
    margin-top: 0
  .b-document_story &
    width: 100%
    margin-bottom: 21px
  .b-document_part &, .b-document_list &, .b-document_subrubric &,
  .b-document_theme &, .b-document_referencies &, .b-document_newsline &,
  .b-document_newspaper &
    margin-top: 0
    text-align: left
  .b-multimedia &
    margin: auto
    width: 1200px
    margin-top: -10px
    margin-bottom: 20px
    +breakpoint(0 $medium)
      width: 910px



.b-announce
  padding: 0
  text-align: center !important
  height: 45px
  line-height: 46px
  background: $ved_green
  .b-announce__text
    +font(white, $font1, 24)
    span
      opacity: .5

  .b-announce__close
    top: 13px
    opacity: .5
    &:hover
      opacity: .9