/*----- B-RIGHTCOL-ARTICLE -----*/
.b-rightcol-article
  @include clearfix
  +inline-block


  width: 7*$col + px
  float: left
  margin-right: $col + px

  +breakpoint(0 $medium)
    float: left
    width: 4 * $col + 3 * $gatter + px
    margin-right: $col + px
/*----- B-RIGHTCOL-ARTICLE  -----*/

/*----- B-RIGHTCOL-ARTICLE__LEFT-INNER -----*/
.b-rightcol-article__left-inner
  +inline-block
  width: 7*$col + px

  +breakpoint(0 $medium)
    width: 3 * $col + 2 * $gatter + px
/*----- B-RIGHTCOL-ARTICLE__LEFT-INNER -----*/


/*----- B-RIGHTCOL-ARTICLE__RUBRIC  -----*/
.b-rightcol-article__rubric
  display: block
  margin-top: 11px
  a
    +font($ved_green, $font1, 17)
    +transition(color $time ease-in-out)

    &:hover
      text-decoration: none
      +font($black, $font1, 17)

/*----- B-RIGHTCOL-ARTICLE__RUBRIC  -----*/


/*----- B-RIGHTCOL-ARTICLE__TITLE  -----*/
.b-rightcol-article__title
  +inline-block

  a
    +transition(color $time ease-in-out)
    &:hover
      color: $ved_green

  width: 7*$col + px
  margin: 5px 0 0
  padding: 0
  font: 21px/24px $font1
  +breakpoint(0 $medium)
    width: 3 * $col + 2 * $gatter + px
/*----- B-RIGHTCOL-ARTICLE__TITLE  -----*/


/*----- B-RIGHTCOL-ARTICLE__SUBTITLE  -----*/
.b-rightcol-article__subtitle
  +inline-block
  width: 7 * $col + px
  +font($additional_text, $font4, 17,21)
  margin: 7px 0 0
  +breakpoint(0 $medium)
    width: 3 * $col + 2 * $gatter + px
    +font($additional_text, $font4, 16,18)
/*----- B-RIGHTCOL-ARTICLE__SUBTITLE  -----*/


