/*----- B-SEARCH-RESULT -----*/
.b-search-result
  +clearfix
  +inline-block
  border-top: 1px dotted $line
  padding: 14px 0 9px
  width: 100%

  &.disabled
    display: none
/*----- B-SEARCH-RESULT -----*/


/*----- B-SEARCH-RESULT__IMAGE -----*/
.b-search-result__image
  display: block
  position: relative
  float: right
/*----- B-SEARCH-RESULT__IMAGE -----*/


/*----- B-SEARCH-RESULT__INNER -----*/
.b-search-result__inner
  float: left
  max-width: 870 - 168 - $gatter + px
  +breakpoint(0 $medium)
    max-width: 570 - 168 - $gatter + px
  &.whole_width
    max-width: 100%!important
/*----- B-SEARCH-RESULT__INNER -----*/


/*----- B-SEARCH-RESULT__TITLE -----*/
.b-search-result__title
  +inline-block
  width: 100%
  margin-bottom: 8px

  a
    +font($primary_text, $font2, 22, 24)
    &:hover,
    &.hover
      outline: none
      color: $ved_green
/*----- B-SEARCH-RESULT__TITLE -----*/


/*----- B-SEARCH-RESULT__DATA -----*/
.b-search-result__data
  +inline-block
  margin-top: 8px
  +font($additional_text2, $font5, 12, 18)

  a
    +font($additional_text2, $font5, 12, 18, '',bold)
    margin-left: 10px

  a:hover
    color: $primary_text
/*----- B-SEARCH-RESULT__DATA -----*/


/*----- B-SEARCH-RESULT__TEXT -----*/
.b-search-result__text
  p
    margin: 0
    width: 100%
    +font($additional_text, $font4, 17,21)
    padding: 2px 0
  p:before,
  p:after
    content: "…"

  em
    +font($additional_text, $font4, 17,21)
    background: $tan
    padding: 0 3px
/*----- B-SEARCH-RESULT__TEXT -----*/


