/*----- B-SLIDER -----*/
.b-slider
  +inline-block
  +clearfix
  width: 300px
  position: relative

  .b-rubric_popular &
    +not-working

  .b-rubric_media &
    position: absolute
    width: 9999px
    //высота слайдера должна определяться автоматически
    min-height: 340px
    +transition(left $time2 ease-in-out)

  .b-rubric_slider &,
  .b-rubric_huhu &
    height: 380px
    width: 99999px
    +transition(left $time2 ease-in-out)
    &.no-animation
      transition: none!important

  .b-rubric_popular &
    position: absolute
    right: 0
    +breakpoint(0 $medium)
      right: $padding + px

  .b-multimedia-top &
    height: auto
/*----- B-SLIDER -----*/


/*----- B-SLIDER__WRAPPER -----*/
.b-slider__wrapper
  overflow: hidden
  position: relative
  width: 1200px

  .b-rubric_media &
    +breakpoint(0 $medium)
      width: 910px

  .b-rubric_slider &,
  .b-rubric_huhu &
    height: 380px
    width: 1200px
    +breakpoint(0 $medium)
      width: 910px

/*----- B-SLIDER__WRAPPER -----*/


/*----- B-SLIDER__ITEMS -----*/
.b-slider__items
  width: 9999px
  position: absolute
  left: 0
  +transition(left $time2 ease-in-out)
/*----- B-SLIDER__ITEMS -----*/


/*----- B-SLIDER__ITEMS__WRAPPER -----*/
.b-slider__items__wrapper
  position: relative
  height: 250px

  .b-rubric_test-drive &,
  .b-rubric_slider &,
  .b-rubric_interview &
    height: 600 + 17px
/*----- B-SLIDER__ITEMS__WRAPPER -----*/


/*----- B-SLIDER__ITEM -----*/
.b-slider__item
  float: left
/*----- B-SLIDER__ITEM -----*/


/*----- B-SLIDER__PAGINATOR-----*/
.b-slider__paginator
  +inline-block
  +clearfix
  text-align: center
  margin: 0 auto
  height: 20px
  top: 86px
  z-index: 200
  position: absolute
  right: 56px


  ul
    font-size: 0

  .b-multimedia_slider &
    top: 26px

  .b-multimedia-top &
    top: 26px

  &.b-slider__paginator_huhu
    width: 1200px
    position: relative
    height: inherit
    top: 0
    right: 0
    +breakpoint(0 $medium)
      width: 910px
/*----- B-SLIDER__PAGINATOR -----*/


/*----- B-SLIDER__PAGINATOR__ITEM -----*/
.b-slider__paginator__item
  +inline-block
  cursor: pointer
  padding: 5px 2px
  margin: auto 2px
  position: relative

  .dot
    width: 9px
    height: 9px
    background: $tan3
    border-radius: 9px
    vertical-align: top

  &.active
    .dot
      background: $ved_red

  .b-rubric_media &,
  .b-rubric_slider &,
  .b-rubric_huhu &
    margin-top:  -2px

    .dot
      width: 14px
      height: 14px
      background: $additional_text2
      border-radius: 14px
    &.active
      .dot
        background: $white

  .b-slider__paginator_huhu &
    background: $huhu_slider
    float: left
    line-height: 60px
    +font($black, $font2, 22, 60)
    width: 240px
    padding: 0
    margin: 0
    cursor: pointer
    +breakpoint(0 $medium)
      width: 180px

    &.active
      background: $ved_green
      color: $white
/*----- B-SLIDER__PAGINATOR__ITEM -----*/


/*----- B-SLIDER__CONTROLS__PREV -----*/
.b-slider__controls__prev
  +inline-block
  cursor: pointer
  position: absolute
  top: 170px
  left: $gatter + px
  z-index: 140

  button
    background: none
    border: none
    padding: 0
    margin: 0

  .b-multimedia-top &
    left: -15px
    top: 70px
/*----- B-SLIDER__CONTROLS__PREV -----*/

/*----- B-SLIDER__CONTROLS__NEXT -----*/
.b-slider__controls__next
  +inline-block
  cursor: pointer
  position: absolute
  top: 170px
  right: $gatter + px
  z-index: 140

  button
    background: none
    border: none
    padding: 0
    margin: 0

  .b-multimedia-top &
    right: -15px
    top: 70px
/*----- B-SLIDER__CONTROLS__NEXT -----*/
