/*----- B-SUBRUBRIC-ITEM -----*/
.b-subrubric-item
  +clearfix
  display: block
  border-top: 1px dotted $line
  padding: 14px 0 9px
  width: 100%

  img
    +inline-block
    float: right

  .subtitle
    +font($additional_text2, $font4, 15,18)
    margin-top: 10px

  &.first
    border-top: 0
    margin-right: 20px
    width: 9 * $col + 9 * $gatter + px!important
    +breakpoint(0 $medium)
      border-bottom: 1px dotted $line
      margin-bottom: 59px

    .subtitle
      +font($additional_text2, $font4, 17,21)
      margin-top: 6px

  &:first-child
    +breakpoint(0 $medium)
      border-top: none
/*----- B-SUBRUBRIC-ITEM -----*/


/*----- B-SUBRUBRIC-ITEM__TITLE -----*/
.b-subrubric-item__title
  a
    +font($primary_text, $font2, 18,18)
  a:hover,
  a.hover
    +font($ved_green, $font2, 18,18)

  .b-subrubric-item.first &
    a
      +font($primary_text, $font2, 36,36)
    a:hover,
    a.hover
      +font($ved_green, $font2, 36,36)
/*----- B-SUBRUBRIC-ITEM__TITLE -----*/


/*----- b-subrubric-item__inner -----*/
.b-subrubric-item__inner
  .b-subrubric-item.first
    float: left
/*----- b-subrubric-item__inner -----*/


/*----- b-subrubric-item__image -----*/
.b-subrubric-item__image
  +inline-block
  float: right
  margin-right: 20px
  .b-subrubric-item.first &
    float: left
    margin-right: 20px
    display: inline-block

/*----- b-subrubric-item__image -----*/


/*----- b-subrubric-item__date -----*/
.b-subrubric-item__date
  margin-top: 2px
  vertical-align: top
  .date
    +inline-block
    height: 32px
    vertical-align: top
    +font($additional_text2, $font5, 12,35)

  .b-subrubric-item.first
    float: left

/*----- B-SUBRUBRIC-ITEM__DATE -----*/


