/*----- B-TABS -----*/
.b-tabs
  max-height: 700px
  overflow-y: hidden
  background: $body_bg
  +transition(all $time2 ease-in-out)
  width: 300px
  opacity: 1
  top: 0
  position: absolute

  &.ng-hide-remove
    z-index: 100
    opacity: 0

  &.ng-hide-add
    z-index: 50

  &.ng-hide-remove-active
    opacity: 1

  &.ng-hide-add-active
    opacity: 0

  &.ng-show
    opacity: 1
    top: 0
/*----- B-TABS -----*/


/*----- B-TABS__HEADERS -----*/
.b-tabs__headers
  border-bottom: 1px solid $tan
  +clearfix
  vertical-align: bottom

.b-tabs__header
  background: #f1e3dc
  width: auto
  +inline-block
  float: left
  text-align: center
  color: $black
  font: 21px $font2
  padding: 10px 15px 4px 15px
  vertical-align: bottom
  margin-top: 3px
  margin-right: 1px
  height: 44px
  cursor: pointer

  &.active
    height: 47px
    margin-top: 0
    background: $tan
    padding-top: 13px
    padding-bottom: 8px
    cursor: default
    
  &.active:hover
    background: $tan

  &:hover
    background: #f8ede6

/*----- B-TABS__HEADERS -----*/


.b-tabs__bodies
  &.b-tabs__bodies_load
    opacity: 0.5



/*----- B-TABS__ITEM -----*/
.b-tabs__item
  border-top: 1px dotted $line
  &:first-child
    border-top: none
  a
    +transition(all $time2 ease-in-out)
    +font($primary_text, $font2, 17, 21)
    display: block
    padding: 15px 0 13px 0
    &:hover
      color: $ved_green

/*----- B-TABS__ITEM -----*/

.b-tabs__popular
  span
    font: 18px $font2
    color: #e3d1c7
    float: left
    margin-top: 14px
  a
    margin-left: 25px
