@mixin clearfix()
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both

.b-tests
  max-width: 7 * $col + 8 * $gatter + px
.b-test__main-wrapper
  position: relative
.b-test__image-wrapper
  overflow: hidden
  width: 100%
  height: 484px
  +breakpoint(0 $medium)
    height: 380px


.b-test__image-mask
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 100
  background: rgba(0,0,0,0.25)
.b-test__image
  width: 100%

.b-test__info-layout
  position: absolute
  z-index: 102
  top: 50%
  +transform(translateY(-50%))
  padding: $gatter + px
  width: 100%
  text-align: center

.b-test-result__info-layout
  position: absolute
  z-index: 102
  width: 100%
  text-align: center
  top: 0
  bottom: 0
  padding: 0 $gatter + px

  .b-test__title, .b-test__curent-step
    position: absolute
    width: 100%
    left: 0
    top: 50%
    transform: translateY(-50%)
.b-test__title, .b-test__curent-step, .b-test__wrongtext, .b-test__righttext
  font-size: 36px
  line-height: 39px
  font-family: "Fedra Sans Demi", serif
  padding: 0 30px
  +inline-block
  color: #fff
  +breakpoint(0 $medium)
    font-size: 30px
    line-height: 33px

.b-test__description
  font-size: 19px
  font-family: Georgia, Arial, sans-serif
  +breakpoint(0 $medium)
    font-size: 17px

.b-list__style-alpha
  color: $ved_green

.b-test__choices-wrapper
  margin-top: 10px

.b-test__choices-wrapper_vertical
  padding: 0 80px
  span
    display: block

.b-test__choices-wrapper_vertical
  .b-test__choice-image__wrapper
    height: 112px

.b-test__choices-item
  font-size: 17px
  font-family: "Fedra Sans Medium", serif
  color: $black
  padding: 14px 0 14px 24px
  margin-bottom: 10px
  background-color: $tan5
  cursor: pointer
  &:hover
    background-color: $tan
    .voted &
      cursor: default
      background-color: $tan5
  &.active
    background-color: $tan - 20
    .voted &
      background-color: $tan - 20
      &.right
        background-color: #97c1c1
      &.wrong
        background-color: #d6a29e

  .grid &, .images &
    width: $col * 4 - 1/2 * $col - 5  + $gatter * 4 + px
    float: left
    +breakpoint(0 $medium)
      width: $col * 3 + $gatter * 2 + 10 + px
    &:nth-child(even)
      margin-left: 10px
  .grid &:nth-child(2n+1)
    clear: left

  .images &
    padding: 0
    .b-test__choice-image
      display: block
      width: 100px
      height: 100px
      float: left
    .b-test__choice__text-wrapper
      width: $col * 4 - 1/2 * $col - 5  + $gatter * 4 - 100 + px
      padding: 0 20px
      float: left
      position: relative
      height: 100px
      overflow: hidden
      +breakpoint(0 $medium)
        width: 170px
      span
        position: absolute
        display: block
        top: 50%
        left: 20px
        max-height: 100px
        +transform(translateY(-50%))
.grid, .images
  +clearfix()

.b-test__choice-image
  display: none
  .b-test__choices-wrapper_vertical &
    display: block
    width: 100%
    max-height: 112px
    text-align: center

.b-test__choice__text-wrapper
  .b-test__choices-wrapper_vertical &
    min-height: 152px
    padding: 16px 0
    text-align: center

.b-test__stats
  +clearfix
.b-test__counter
  float: left
  width: 65px
  +font($primary_text, $font2, 18, 18)
  margin-top: 16px

.b-button__next
  float: right
  width: 27px
  height: 27px
  background: url("/assets/test_button_next_active.png") no-repeat 0 0 transparent
  cursor: pointer
  margin-top: 10px
  &.disabled
    background: url("/assets/test_button_next_disabled.png") no-repeat 0 0 transparent
    cursor: default

.b-button__reload
  float: right
  width: 27px
  height: 27px
  background: url("/assets/test_button_reload.png") no-repeat 0 0 transparent
  cursor: pointer
  margin-top: 10px

.b-button__next-icon
  +inline-block
  line-height: 24px

.b-test__steps
  width: 675px
  text-align: justify
  float: left
  height: 10px
  margin-top: 20px
  +breakpoint(0 $medium)
    width: 520px

.b-test__steps:after
  width: 100%
  content: ''
  display: inline-block
.b-test__step
  vertical-align: top
  display: inline-block
  width: 10px
  height: 10px
  border: 2px solid #E3D1C7
  border-radius: 10px
  &.right
    border: 0 none
    background: $ved_green
  &.wrong
    border: 0 none
    background: #993333

.b-test__image-answer-mask
  opacity: 0.5
  position: absolute
  z-index: 101
  top: $gatter + px
  left: $gatter + px
  right: $gatter + px
  bottom: $gatter + px
  &.wrong
    background-color: #b55757
  &.right
    background-color: #2e6f6f

.b-test__resultCounter
  +font(#fff, $font4, 18, '', italic)
  padding: 30px 0 30px 0
  border-bottom: 1px solid rgba(255, 255, 255, 0.6)

.b-test__sharing-wrapper
  position: absolute
  z-index: 103
  bottom: 20px
  width: 100%
  text-align: center

  .b-button
    vertical-align: bottom

.b-sharing__title
  +font(#fff, $font1, 18, 18)
  margin-bottom: 20px

.b-test__sharing
  font-size: 0

.b-button__social
  margin-right: 1px

.b-test-social
  margin-bottom: 30px

.b-test__copyright
  +font($additional_text2, $font5, 13, 15)
  margin-top: 22px
.b-test__sharing-image
  width: 1px
  height: 1px
  overflow: hidden
  opacity: 0