/*----- B-THEME-ITEM -----*/
.b-theme-item
  +clearfix
  display: block
  border-top: 1px dotted $line
  padding: 14px 0 9px
  width: 100%

  img
    +inline-block
    float: right

  .subtitle
    +font($additional_text2, $font4, 15,18)
    margin-top: 10px
/*----- B-THEME-ITEM -----*/


/*----- B-THEME-ITEM__TITLE -----*/
.b-theme-item__title
  a
    +font($ved_green, $font2, 18,18)
    +transition(color $time ease-in-out)

    &:hover
      +font($black, $font2, 18, 18)
/*----- B-THEME-ITEM__TITLE -----*/


/*----- B-THEME-ITEM__INNER -----*/
.b-theme-item__inner
  .b-theme-item.first
    float: left
/*----- B-THEME-ITEM__INNER -----*/


/*----- B-THEME-ITEM__I  MAGE -----*/
.b-theme-item__image
  +inline-block
  float: right
  margin-right: 20px
  .b-theme-item.first &
    float: left
    margin-right: 20px
    display: inline-block
/*----- B-THEME-ITEM__IMAGE -----*/


/*----- B-THEME-ITEM__DATE -----*/
.b-theme-item__date
  margin-top: 2px
  vertical-align: top
  .date
    +inline-block
    height: 32px
    vertical-align: top
    +font($additional_text2, $font5, 12,35)

  .b-theme-item.first
    float: left
/*----- B-THEME-ITEM__DATE -----*/


