- if @company_messages.present?
  .b-press-releases
    .b-press-releases__title
      = link_to 'Информация для абонентов', "#{relative_link(@company.url)}/press_releases"
    ul.b-material-list__list
      - @company_messages.each do |message|
        li.b-press-release.b-press-release_list.b-article.b-article_list
          .b-press-release__title.b-article__title
            = link_to message.title, relative_link(message.url)
          .b-press-release__data.b-published-at
            span.time= Russian.strftime(message.published_at, "%d %B %Y")
            span.b-press-release__location
              = message.themes

    = link_to 'Все сообщения', "#{relative_link(@company.url)}/company_messages", class: 'b-press-releases__more'
