.b-search__form.b-company-form
  form { action="/companies/search" }
    button.b-button.b-button_search {type='submit'}
      .b-icon.b-icon--green_search
    .b-search__form-wrapper
      input { type='text' id="search_field" name="q" value="#{params[:q]}" }