
.b-navigator.b-navigator--industries
  select.b-company__select.b-company__select-wide{select-box ng-model="pageEn" ng-change="change(pageEn)"}
    - @index.each do |page|
      - if !@index.index(page).nil?
        - if params[:slug] == page
          option{ng-value="'/companies/#{params[:filter]}/#{page}'" ng-selected="true"}= page
        - else
          option{ng-value="'/companies/#{params[:filter]}/#{page}'"}= page