- render_title("#{@company.title} пресс-релизы")

= render 'm/blocks/caption_and_menu', label: @company.title,  url: '/companies'
.b-document.b-document_press-release

  .body
    /= render 'companies/header'
    /= render 'companies/pr_tabs'
    .b-company
      .breadcrumbs.b-company__breadcrumbs
        = link_to 'Справочник компаний', '/companies'
      .b-company__title = @company.title
      - if @company.has_subtitle?
        .b-company__industry = @company.subtitle
      select.b-company__select.b-company__select-tabs{ng-change ='change(page)' ng-model='page' select-box }
        - @tab_names.each do |value|
          - if !@tabs[value.slug].nil?
            - if value.slug == @tab_slug
              option{ng-value="'/companies/#{params[:slug]}/#{value.slug}'" ng-selected='true'} = value.tab_name
            - else
              option{ng-value="'/companies/#{params[:slug]}/#{value.slug}'"} = value.tab_name
      .b-company-tab
        .b-company-tab__title = 'Сообщения компании'

        - if @company_messages.present?
          ul.b-material-list__list
            - @company_messages.each do |message|
              li.b-press-release.b-press-release_list.b-article.b-article_list
                .b-press-release__title.b-article__title
                  = link_to message.title, relative_link(message.url)
                .b-press-release__data.b-published-at
                  span.time= Russian.strftime(message.published_at, "%d %B %Y")
                  span.b-press-release__location
                    = message.themes

          - if @page == 1 and @limit == @company_messages.size
            .b-pagination
              .b-pagionation__item.b-pagionation__item_left
                = link_to "‹ предыдущие",  "#{relative_link(@company.url)}/company_messages/#{@year}/#{@page + 1}", class: "b-pagionation__link"


            - if @page > 1 and @limit == @company_messages.size
              .b-pagination
                .b-pagionation__item.b-pagionation__item_left
                  = link_to "‹ предыдущие",  "#{relative_link(@company.url)}/company_messages/#{@year}/#{@page + 1}", class: "b-pagionation__link"
                .b-pagionation__item.b-pagionation__item_right
                  = link_to "следующие ›",  "#{relative_link(@company.url)}/company_messages/#{@year}/#{@page - 1}", class: "b-pagionation__link"

              - if @page > 1 and @limit > @company_messages.size
                .b-pagination
                  .b-pagionation__item.b-pagionation__item_right
                    = link_to "следующие ›",  "#{relative_link(@company.url)}/company_messages/#{@year}/#{@page - 1}", class: "b-pagionation__link"



                - if @years.present?
                  .b-press-releases__title
                    = link_to 'Архив', "#{relative_link(@company.url)}/company_messages"

                  ul
                    - @years.each do |year|
                      - if @year.present? && year.to_s == @year
                        li.b-press-releases__year.b-press-releases__year_current
                          = link_to year, "#{relative_link(@company.url)}/company_messages/#{year}"
                      - else
                        li.b-press-releases__year
                          = link_to year, "#{relative_link(@company.url)}/company_messages/#{year}"

