- render_title('Справочник компаний')

= render 'm/blocks/caption_and_menu'

.b-document.b-document_company-list
  .body
    h1.b-company-column__title
      | Справочник компаний

    = render 'companies/form'

    .b-company-column__info
      .sort_by
        = link_to 'По алфавиту', '/companies/index', class: params[:filter] == 'index' ? 'active' : ''
        = link_to 'По отраслям', '/companies/industries', class: params[:filter] == 'industries' ? 'active' : ''

    /.total = "Всего #{@people[:stat][:total]} #{Russian.p(@people[:stat][:total], "персона", "персоны", "персон")}"
    - if params[:filter] == 'index'
      .b-company-index
        = render 'index_navigator'
    - else
      div = render 'industries_navigator'


    .b-company-column.b-company-column--main
      - @items.each do |item|
        - if params[:filter] == 'index'
          .b-company-column__item.b-company-column__item--letter = item.keys[0]
        - else
          .b-company-column__item.b-company-column__item--industry = item.keys[0]
        .b-company-column__list
          - item.values[0].each do |company|
            - if company[:commercial] == true
              .b-company-column__item.b-company-column__item--paid
                  .b-company-column__container
                    .b-company-column__item__title = link_to company[:title], relative_link(company[:url])
                    .b-company-column__item__subtitle = company[:industry]
            - else
              .b-company-column__item
                .b-company-column__container
                  .b-company-column__item__title = link_to company[:title], relative_link(company[:url])
                  .b-company-column__item__subtitle = company[:industry]
