- render_title(@press_release.title)
= render 'm/blocks/caption_and_menu', label: @company.title, url:relative_link(@company.url)

.b-document.b-document_press-release
  .body
    .b-company
      /название компании
      .breadcrumbs.b-company__breadcrumbs
        = link_to 'Справочник компаний', '/companies'
        | &nbsp;/&nbsp;
        = link_to @company.title, relative_link(@company.url)
        | &nbsp;/&nbsp;
        = link_to 'Пресс-релизы', relative_link(@company.url)


      /заголовок
      h1.title = @press_release.title

      /время-ссылки
      .pubdate
        - if @press_release.has_published_at?
          = Russian.strftime(@press_release.published_at, "%d %B %Y")

      /подзаголовок
      - if @press_release.has_subtitle?
        .subtitle== @press_release.subtitle

      .b-document__body.b-document__body_press-release
        - @press_release.boxes.each do |box|
          - if 'paragraph' == box.type
            p == box.body
          - else
            = render_if_exist "/boxes/#{box.type}", box: box

        /контактная информация
        = render(:partial => 'common/press_releases_contact', :formats=> [:html])

      /пресс-релизы компании
      = render 'press_releases_block'

