- render_title("#{@company.title} пресс-релизы")
= render 'm/blocks/caption_and_menu', label: @company.title, url: '/companies'

.b-document.b-document_press-release
  .body
    .b-company
      .breadcrumbs.b-company__breadcrumbs
        = link_to 'Справочник компаний', '/companies'
      .b-company__title = @company.title
      - if @company.has_subtitle?
        .b-company__industry = @company.subtitle
      select.b-company__select.b-company__select-tabs{ng-change ='change(page)' ng-model='page' select-box }
        - @tab_names.each do |value|
          - if !@tabs[value.slug].nil?
            - if value.slug == @tab_slug
              option{ng-value="'/companies/#{params[:slug]}/#{value.slug}'" ng-selected='true'} = value.tab_name
            - else
              option{ng-value="'/companies/#{params[:slug]}/#{value.slug}'"} = value.tab_name
      .b-company-tab
        .b-company-tab__title = 'Пресс-релизы'
        - unless @press_releases.empty?
          ul.b-material-list__list
            - @press_releases.each do |press_release|
              li.b-press-release.b-press-release_list.b-article.b-article_list
                .b-press-release__title.b-article__title
                  = link_to press_release.title, relative_link(press_release.url)
                .b-press-release__data.b-published-at
                  time = Russian.strftime(press_release.published_at, "%d %B %Y")

          - unless @years.empty?
            .b-press-releases__title
              = link_to 'Архив пресс-релизов за все годы', "#{relative_link(@company.url)}/press_releases"

            ul.b-material-list__list
              - @years.each do |year|
                - if @year.present? && year.to_s == @year
                  li.b-press-releases__year.b-press-releases__year_current
                    = link_to year, "#{relative_link(@company.url)}/press_releases/#{year}"
                - else
                  li.b-press-releases__year
                    = link_to year, "#{relative_link(@company.url)}/press_releases/#{year}"
