- render_title('Справочник компаний')

= render 'm/blocks/caption_and_menu'

.b-document.b-document_company-list.b-document_company-list--search
  .body

    h1.b-company-column__title
      = link_to 'Справочник компаний', '/companies'



    = render 'companies/form'


    .b-company-label = "Найдено: #{@items[:stat].try(:[], :total).to_i} #{Russian.p(@items[:stat].try(:[], :total).to_i, "компания", "компании", "компаний")}"


    .b-person-list
      - (@items[:found]|| []).each do |company|
        - if company[:commercial] == true
          .b-company-column__item.b-company-column__item_paid
            .b-company-column__container
              .b-company-column__item__title
                = link_to company[:title], relative_link(company[:url])
              .b-company-column__item__subtitle = company[:industry]
        - else
          .b-company-column__item
            .b-company-column__container
              .b-company-column__item__title = link_to company[:title], relative_link(company[:url])
              .b-company-column__item__subtitle = company[:industry]
