/формирование title для страницы

- render_title(@company.title)
= render 'm/blocks/caption_and_menu', label: 'Справочник компаний', url:'/companies'
.b-document.b-document_company

  .body
    /= render 'companies/header'
    /= render 'companies/pr_tabs'
    .b-company
      .breadcrumbs.b-company__breadcrumbs
        = link_to 'Справочник компаний', '/companies'
      .b-company__title = @company.title
      - if @company.has_subtitle?
        .b-company__industry = @company.subtitle
      select.b-company__select.b-company__select-tabs{ng-change ='change(page)' ng-model='page' select-box }
        - @tab_names.each do |value|
          - if !@tabs[value.slug].nil?
            - if value.slug == @tab_slug
              option{ng-value="'/companies/#{params[:slug]}/#{value.slug}'" ng-selected='true'} = value.tab_name
            - else
              option{ng-value="'/companies/#{params[:slug]}/#{value.slug}'"} = value.tab_name
      .b-company-tab
        .b-company-tab__title
          = @tabs[@tab_slug].title

        - if !@tabs[@tab_slug].nil?
          - @tabs[@tab_slug].boxes.each do |box|
              - if 'paragraph' == box.type
                p == box.body
              - else
                = render_if_exist "document/boxes/#{box.type}", box: box


    /блок материалов компании
    = render_block "/includes/#{relative_link(@company.url)}/materials"


