- render_title('Новости')

= render 'blocks/caption_and_menu', label: 'Новости', url: root_path
= render_block '/includes/redline'
ul.b-news-list
  - @news.each_with_index do |item, index|
    - if (index % 5 == 0)
      - if index == 0
        div{style="display: none;"}
          =render partial: "m/banners/news", locals: {index: index}
      - else
        =render partial: "m/banners/news", locals: {index: index}

    li
      span.time= l item.published_at, format: :time_only
      = link_to item.title, relative_link(item.url)
