.b-auth__wrapper
  +inline-block
  position: relative


.b-auth
  +inline-block
  +font($additional_text, $font5, 12, 32, '', bold)
  +transition(opacity $time ease-in-out)
  vertical-align: top
  margin: 30px 0
  opacity: 0.75

  &:hover,
  &:active,
  &:focus
    +font($additional_text, $font5, 12, 32, '', bold)
    opacity: 1
    text-decoration: none

  &.b-auth_profile
    opacity: 1!important
    +inline-block
    +font($additional_text, $font5, 12, 32)
    vertical-align: top
    margin: 30px 0

  &.hidden
    display: none
  .b-auth__icon
    display: inline-block
    vertical-align: top
    height: 32px
    min-width: 32px
    text-align: center
    position: relative
    top: -3px
.b-auth__inner
  cursor: pointer
  white-space: nowrap
  .b-auth__name

    display: inline-block
    +font($additional_text, $font5, 12, 18, inherit, bold)
    opacity: .7
    padding-right: 10px

.b-auth__menu
  +inline-block
  +box-shadow($news-item_shadow 3px 3px 25px)
  text-align: left
  position: absolute
  background: $news-item_white
  z-index: 1500
  width: 285px
  right: -10px
  top: 68px
  border: 1px solid $tan

  &:after
    position: absolute
    right: 11px
    z-index: 20
    top: -12px
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 0 12px 12px 12px
    border-color: transparent transparent $tan transparent

  &:before
    right: 11px
    top: -11px
    z-index: 21
    content: ''
    position: absolute
    width: 0
    height: 0
    border-style: solid
    border-width: 0 12px 12px 12px
    border-color: transparent transparent $news-item_white transparent

  .username
    cursor: default !important
    +font($additional_text, $font5, 14, 18, inherit, bold)
    padding: 11px 19px 10px
  .b-auth-warn
    +font($additional_text2, $font5, 13, 16)
    padding: 0 19px
  .profile
    +font($additional_text, $font5, 15, 27)
    +transition(background $time ease-in-out)
    display: block
    //border-top: 1px solid $line
    margin: 0 0 0
    padding: 8px 19px 11px
    &:hover
      background: $header_light-green
  .b-buy-button
    margin: 12px 19px 0
    height: 32px
  .exit
    +font($additional_text, $font5, 15, 27)
    +transition(background $time ease-in-out)
    display: block
    margin: 0 0 0
    padding: 8px 19px 11px
    &:hover
      background: $header_light-green
  .b-auth-divider
    margin: 17px 19px 7px
    border-color: $line