/*----- B-COURSE -----*/
.b-course
  +clearfix
  display: block
  text-align: left
  //margin-bottom: 21px
  height: 32px
  border-bottom: 1px solid $line

  .rouble
    margin: 0 10px 0 10px
    color: $additional_text

    &.rouble_red
      color: $ved_red

    &.rouble_green
      color: $ved_green

  .b-header_multimedia &
    border-bottom: 0
/*----- B-COURSE -----*/

/*----- B-COURSE__ITEM -----*/
.b-course__item
  display: inline-block
  +font($primary_text, $font1, 13)
  padding: 7px 0 6px
  margin: 0 35px 0 0
  +breakpoint(0 $medium)
    margin: 0
/*----- B-COURSE__ITEM -----*/

/*----- B-COURSE__MAP -----*/
.b-course__map
  float: right
  a
    +inline-block
    +font($additional_text2, $font1, 13)
    padding: 7px 0 6px

    &:hover
      +font($additional_text2, $font1, 13)

.b-course__brand.first
  float: left

.b-course__brand.last
  float: right
/*----- B-COURSE__MAP -----*/
