.b-date

  padding: 32px 0
  display: table
  color: $additional_text
  float: left


.b-date__time
  +font($additional_text, $font5, 12, 12, '', bold)
  display: table-row
  line-height: 1.2em
  text-align: left


.b-date__day
  +transition(opacity $time ease-in-out)
  display: table-row
  line-height: 1em
  opacity: 0.75
  a, a:hover
    +font($additional_text, $font5, 12, 15, '', '')
  &:hover
    opacity: 1

