.b-gazeta
  +inline-block
  +font($additional_text - 5, $font5, 12, 32, '', bold)
  +transition(opacity $time ease-in-out)
  vertical-align: top
  text-decoration: none
  margin: 30px 0
  opacity: 0.75

  a
    +font($additional_text - 5, $font5, 12, 32, '', bold)

  &:hover
    +font($additional_text - 5, $font5, 12, 32, '', bold)
    opacity: 1
    text-decoration: none


