/*----- HEADER  -----*/
header
  background: $body_bg
  padding-bottom: 28px
  vertical-align: top
  text-align: center
  +base-width(12)
  z-index: 200

  &.b-header_multimedia
    padding-bottom: 0

  &.b-header_podcast
    width: 800px
    +breakpoint(0 $medium)
      width: 800px
    padding: 38px 0 27px
  &.b-header_advert_article
    padding-bottom: 0
/*----- HEADER  -----*/


/*----- B-HEADER__DIVIDER  -----*/
.b-header__divider
  border-left: 1px solid $line
  +inline-block
  width: 1px
  height: 30px
  margin: 30px 10px 1px 10px
  vertical-align: top

  &.b-header__divider_nav
    margin: 7px 0px 1px 2px
    border-left: 1px solid $line
    height: 31px

  &.b-header__divider_nav2
    margin: 7px 3px 1px 0px
    border-left: 1px solid $line
    height: 31px

  &.b-header__divider_course
    margin: -3px 7px 1px 7px
    border-left: 1px solid $line
    width: 1px
    height: 20px
/*----- B-HEADER__DIVIDER  -----*/

.b-header__container_left
  float: left
  font-size: 0

.b-header__container_right
  float: right
.b-sixteen-plus
  +inline-block
  padding: 40px 0
  +font($additional_text, $font5, 12, 12)
  float: none
  font-size: 12px
  opacity: 0.75
  &:hover
    +font($additional_text, $font5, 12, 12)
    opacity: 1
    text-decoration: none
  & a
    color: $additional_text
.b-person-announce-wrapper
  position: relative
  padding-top: 15px
  margin-bottom: -13px
.b-person-announce
  position: relative
  height: 60px

  background: image-url('Lewis.jpg')
  background-size: cover
  background-position: center
  padding-top: 13px
  padding-left: 20px
  .b-person-announce__title
    +font(white, $font1,34, 34)
    text-align: left

  .b-announce-button
    position: absolute
    right: 10px
    top: 10px
    height: 40px
    border: 1px solid white
    padding-right: 20px
    padding-left: 20px
    padding-top: 0
    overflow: hidden
    .b-announce-button__text
      padding-top: 6px
      height: 58px

      +font(white, $font1, 21)
    .b-announce-button__checker
      position: absolute
      top: 12px
      right: 3px
  .b-announce-close
    opacity: .7
    right: 10px
    position: absolute
    top: 10px
    cursor: pointer

.b-changes-announce
  position: absolute
  top: -32px
  height: 32px
  background: $ved_green
  padding: 0 13px
  +font(white, $font1, 18, 32)
  right: 0
  &:hover
    color: white