/*----- HEADER-FIXED -----*/
.header-fixed
  z-index: 999
  position: fixed
  top: 0
  vertical-align: top
  text-align: center
  margin: 0 auto
  left: 50%
  width: 12 * $col + 11 * $gatter + $banner-gatter + px
  margin-left: -(12 * $col + 11 * $gatter + $banner-gatter)/2 + px
  background: $tan4

  &.hidden
    display: none

  +breakpoint(0 $medium)
    width: 910px
    margin-left: -455px
/*----- HEADER-FIXED -----*/



