/*----- B-HEADER-MENU -----*/
.b-header-menu
  position: absolute
  z-index: 200
  left: 50%
  margin-left: -600px
  margin-top: -63px

  &.hidden
    display: none

  &.no-course
    margin-top: -24px

  .header-fixed &
    margin-top: 0

  +breakpoint(0 $medium)
    margin-left: -455px

  .b-header_multimedia + &
    margin-top: -125px
/*----- B-HEADER-MENU -----*/


/*----- B-HEADER-MENU-NAV -----*/
.b-header-menu__nav
  +box-shadow($header_shadow 2px 3px 7px)
  background: $white_original
  border: 1px solid $tan
  width: 200px
/*----- B-HEADER-MENU-NAV -----*/


/*----- B-HEADER-MENU-ITEM -----*/
.b-header-menu__nav__item
  a
    +font($additional_text, $font1, 15, 36)
    display: block
    text-align: left
    padding-left: 35px
    +transition(background $time ease-in-out)

    &:hover
      background: $header_light-green
/*----- B-HEADER-MENU-ITEM -----*/


.b-header-menu__list
  border-top: 1px solid $tan


/*----- B-HEADER-MENU-ITEM2 -----*/
.b-header-menu__nav__item2
  a
    +font($additional_text2, $font1, 15, 36)
    text-align: left
    padding-left: 8px
    display: block

    &:hover
      color: $additional_text2

  i
    margin-right: 1px
/*----- B-HEADER-MENU-ITEM2 -----*/
