nav
  display: block
  float: none
  clear: both
  border-top: 1px solid $line
  border-bottom: 3px solid $black_original
  .header-fixed &
    border-top: 0

  ul
    margin: 0
    padding: 0
    font-size: 0
    text-align: center
    line-height: 0
    white-space: nowrap

.b-nav__item
  +inline-block

  &.b-nav__item_first

    margin: 0
    padding: 0
    float: left

  &.b-nav__item_home
    float: left
    a
      padding: 12px 5px 0 12px

  &.b-nav__item_last
    float: right
    padding: 0
    width: 59px

.b-nav__item a
  +inline-block
  text-align: center
  +font($primary_text, $font1, 18, 46)
  +transition(color $time ease-in-out)
  height: 44px
  text-decoration: none
  padding: 0 17px
  +breakpoint(0 $medium)
    font-size: 15px
    padding: 0 7px


  &:hover
    color: $ved_green

.b-nav__item.active a
  position: relative
  border-bottom: 3px solid $line
  margin-bottom: -3px
  height: 47px
