.b-search

  +single-transition(width, $time3, ease-in-out)
  position: absolute
  margin-top: -48px
  right: 86px
  min-height: 45px
  width: 0
  overflow-x: hidden

  +breakpoint(0 $medium)
    right: 87px

  .header-fixed &
    margin-top: -45px

  &.active
    opacity: 1
    width: 1088px
    +breakpoint(0 $medium)
      width: 797px
.b-search__inner
  +inline-block
  background: $white_original
  border: 1px solid $tan
  width: 1088px
  height: 45px
  margin: 0
  right: 0
  text-align: left
  position: relative
  +breakpoint(0 $medium)
    width: 797px

  .b-search.focus &
    border: 1px solid $ved_green2

  input
    +inline-block
    +font($primary_text, $font5, 17, 27)
    height: 26px
    margin-top: 7px
    width: 988px
    border: none
    margin-left: 24px
    +breakpoint(0 $medium)
      width: 695px


.b-search__result
  +inline-block
  +box-shadow( 3px 3px 5px)
  background: $white_original
  border: 1px solid $ved_green2
  border-top: 0
  width: 1088px
  z-index: 200
  +breakpoint(0 $medium)
    width: 788px


  text-align: left
  position: relative

.b-search__result__item
  a
    +inline-block
    +font($primary_text, $font5, 13)
    padding: 10px 0 10px 24px
    text-align: left
    width: 100%
    margin: 0
    .counter
      +inline-block
      +font($header_gray, $font5, 12, 44)
      float: right
      margin-right: 15px

    &:hover
      background: $ved_blue
