.b-subscribe
  +inline-block
  +font($additional_text2, $font5, 12, 15, '', bold)


  line-height: 32px!important
  vertical-align: top
  text-decoration: none
  margin: 30px 0
  &:hover
    +font($additional_text2, $font5, 12, 15, '', bold)
  i
    opacity: .75
    +transition(opacity $time ease-in-out)
    &:hover
      opacity: 1

