li.b-article.b-article_slider
  /картинка
  - if document.has_image? && document.image.has_version?(:level2)
    = link_to relative_link(document.url), class: 'b-article__image' do
      /тень
      - if document.gallery? || document.video? || document.test? || document.online?
        .b-article__image-shadow
      /иконка
      - if document.gallery?
        i.b-icon.icon-photo2
      - elsif document.video?
        i.b-icon.icon-video2
      - elsif document.online?
        i.b-icon.icon-broadcast
      - elsif document.test?
        i.b-icon.icon-test-big
      = image_with_dimension document.image, :level2, alt: document.image_alt

  .b-article__left-inner
    .b-article__title
      = link_to document.title, relative_link(document.url)
