/статья в слайдере
.b-colored-article.b-colored-article_380
  = link_to relative_link(document.url), class: 'b-colored-article__bg' do
    /тень
    - if document.gallery? || document.video? || document.online?
    /иконка
    - if document.gallery?
      i.b-icon.icon-photo2-biggest
    - elsif document.video?
      i.b-icon.icon-video2-biggest
    - elsif document.online?
      i.b-icon.icon-broadcast-biggest
    - elsif document.test?
      i.b-icon.icon-test-biggest


    /тенюшка
    .shadow
    /фоновая картинка
    - if document.has_slider? && document.slider.has_version?(:default)
      = image_with_dimension(document.slider, :default, alt: nil, image_class: nil)

  .b-colored-article__inner
    = link_to relative_link(document.url) do
      /заголовок
      .b-colored-article__title = document.title
      /подзаголовок
      .b-colored-article__subtitle == document.subtitle

    /комментарии
    = render 'common/comment', document: document
