.breadcrumbs
  = link_to 'Справочник компаний', '/companies'

  /- if @company.has_juridical_title?
    = " / "
    = link_to @company.juridical_title, relative_link(@company.url)
    - case @tab_slug
      - when 'about'
        = ' / '
        = link_to 'О компании', "#{relative_link(@company.url)}/about"
      - when 'press_releases'
        = ' / '
        = link_to 'Пресс-релизы', "#{relative_link(@company.url)}/press_releases"
      - when 'kso'
        = ' / '
        = link_to 'Политика КСО', "#{relative_link(@company.url)}/kso"
      - when 'policy'
        = ' / '
        = link_to 'Кадровая политика', "#{relative_link(@company.url)}/policy"

