.b-document__header.b-document__header_company
  /картинка компании
  - if @company.has_image? && @company.image.has_version?(:default)
    = image_with_dimension(@company.image, :default, alt: nil, image_class: nil)

  = render 'companies/breadcrumbs'

  br
  br
  /Название компании
  h1.title = @company.title
  br
  br
  /подзаголовок
  - if @company.has_subtitle?
    .subtitle== @company.subtitle
