.b-navigator
  - ('А'..'Я').to_a.each do |page|
    - if params[:slug] == page
      b.b-alphabet__link = page
    - elsif !@index.index(page).nil?
      a.b-alphabet__link {href = "/companies/#{params[:filter]}/#{page}"} = "#{page}"
    - else
      a.b-alphabet__link.b-alphabet__link-grey = "#{page}"
.b-navigator
  - ('A'..'Z').to_a.each do |page|
    - if params[:slug] == page
      b.b-alphabet__link = page
    - elsif !@index.index(page).nil?
      a.b-alphabet__link {href = "/companies/#{params[:filter]}/#{page}"} = "#{page}"
    - else
      a.b-alphabet__link.b-alphabet__link-grey = "#{page}"
