.b-company-tabs
  ul {resize-tabs}
    - @tab_names.each do |item|
      li class= ( if @tab_slug == item.slug then 'active' elsif @tabs[item.slug].nil? then 'disabled' end )
        - if  @tabs[item.slug].nil?
          div = item.tab_name
        - else    
          = link_to item.tab_name, "#{relative_link(@company.url)}/#{item.slug}"
          