- render_title(@company_message.title)
.b-document.b-document_press-release
  .b-document__left
    .b-document__header.b-document__header_press-release
      /название компании
      .breadcrumbs
        = link_to 'Справочник компаний', '/companies'
        | &nbsp;/&nbsp;
        = link_to @company.title, relative_link(@company.url)
        | &nbsp;/&nbsp;
        = link_to 'Информация для абонентов', relative_link(@company.url)


      /заголовок
      h1.title = @company_message.title

      /время-ссылки
      .pubdate
        - if @company_message.has_published_at?
          = Russian.strftime(@company_message.published_at, "%d %B %Y")
          span.b-press-release__location
            = @company_message.themes

      /подзаголовок
      - if @company_message.has_subtitle?
        h2.subtitle== @company_message.subtitle

      .b-document__body.b-document__body_press-release
        - @company_message.boxes.each do |box|
          - if 'paragraph' == box.type
            p == box.body
          - else
          = render_if_exist "/boxes/#{box.type}", box: box

        .b-press-release-info
          = link_to 'Источник', @company_message.original_url, :class => 'b-press-release-info__original'

      /пресс-релизы компании
      = render 'common/company_messages_block'

  .b-document__right.no-print
    = render 'document/right/default'
