- render_title("#{@company.title} пресс-релизы")

.b-document.b-document_press-release
  .b-document__left
    = render 'companies/header', page: 'press_releases'
    = render 'companies/pr_tabs', page: 'press_releases'

    .title = 'Информация для абонентов'
    - if @company_messages.present?
      ul
        - @company_messages.each do |message|
          li.b-press-release.b-press-release_list
            .b-press-release__title
              = link_to message.title, relative_link(message.url)
            .b-press-release__data
              = Russian.strftime(message.published_at, "%d %B %Y")
              span.b-press-release__location
                = message.themes

    - if @page == 1 and @limit == @company_messages.size
      .b-pagination
        .b-pagionation__item.b-pagionation__item_left
          = link_to "‹ предыдущие",  "#{relative_link(@company.url)}/company_messages/#{@year}/#{@page + 1}", class: "b-pagionation__link"


    - if @page > 1 and @limit == @company_messages.size
      .b-pagination
        .b-pagionation__item.b-pagionation__item_left
          = link_to "‹ предыдущие",  "#{relative_link(@company.url)}/company_messages/#{@year}/#{@page + 1}", class: "b-pagionation__link"
        .b-pagionation__item.b-pagionation__item_right
          = link_to "следующие ›",  "#{relative_link(@company.url)}/company_messages/#{@year}/#{@page - 1}", class: "b-pagionation__link"

    - if @page > 1 and @limit > @company_messages.size
      .b-pagination
        .b-pagionation__item.b-pagionation__item_right
          = link_to "следующие ›",  "#{relative_link(@company.url)}/company_messages/#{@year}/#{@page - 1}", class: "b-pagionation__link"



    - if @years.present?
      .b-press-releases__title
        = link_to 'Архив', "#{relative_link(@company.url)}/company_messages"

      ul
        - @years.each do |year|
          - if @year.present? && year.to_s == @year
            li.b-press-releases__year.b-press-releases__year_current
              = link_to year, "#{relative_link(@company.url)}/company_messages/#{year}"
          - else
            li.b-press-releases__year
              = link_to year, "#{relative_link(@company.url)}/company_messages/#{year}"




  .b-document__right.no-print
    = render 'document/right/default'
