- render_title('Справочник компаний')


.b-document.b-document_company-list

  .b-document__left

    h1.b-company-column__title
      a {href='/companies/index'} = 'Справочник компаний'

    = render 'companies/form'

    .b-company-column__info
      .sort_by
        | Фильтровать:
        = link_to 'По алфавиту', '/companies/index', class: params[:filter] == 'index' ? 'active' : ''
        = link_to 'По отраслям', '/companies/industries', class: params[:filter] == 'industries' ? 'active' : ''

    / .total = "Всего #{@people[:stat][:total]} #{Russian.p(@people[:stat][:total], "персона", "персоны", "персон")}"
    .b-company-index
      - if params[:filter] == 'index'
        = render 'index_navigator'
      - else
        = render 'industries_navigator'

    .b-companies {class="#{params[:filter] == 'index' ? 'b-companies--main' : 'b-companies--top-offset'}"}
      - if params[:filter] == 'index'
        .b-companies__group.b-companies__group--letter = params[:slug]

      .b-company-layout
        - split_array(@items[:found]).each do |items|
          .b-company-column
            - items.each do |company|
              - if company[:commercial] == true
                .b-company-column__item.b-company-column__item--paid
                  .b-company-column__container
                    .b-company-column__item__title
                      = link_to company[:title], relative_link(company[:url])
                    .b-company-column__item__subtitle = company[:industry]
              -else
                .b-company-column__item
                  .b-company-column__container
                    .b-company-column__item__title = link_to company[:title], relative_link(company[:url])
                    .b-company-column__item__subtitle = company[:industry]

    .b-person-index.b-person-index__groups
      - if @groups.length > 1
        - @groups.each do |group|
          - if @group == group
            b = @group
          - else
            = link_to group, "/companies/#{params[:filter]}/#{params[:slug]}/groups/#{group}"

  .b-document__right
    = render 'document/right/default'