- render_title('Справочник компаний')

/список компаний
.b-document.b-document_company-list
  h1.b-company-column__title
    a {href='/people/index'} = 'Справочник компаний

  .b-company-column__info
    .sort_by
      | Сортировать:
      = link_to 'По алфавиту', '/companies'
      = link_to 'По отраслям', '/companies/industries', class: 'active'

    .total = "Всего #{@companies.count} #{Russian.p(@companies.count, "компания", "компании", "компаний")}"

  .b-document__left
    .b-company-column__wrapper
      - for column in @columns do
        ul.b-company-column
          - for item in column
            li.b-company-column__item.b-company-column__item_industry
              = item.industry.title

            - for company in item.companies
              - if company.has_commercial? && true == company.commercial
                li.b-company-column__item.b-company-column__item_paid
                  .b-company-column__item__title
                    = link_to relative_link(company.url)
                      i.b-icon.icon-star
                      | #{company.title}
                  .b-company-column__item__subtitle = "подзаголовок компании"
              - else
                li.b-company-column__item
                  .b-company-column__item__title
                    = link_to company.title, relative_link(company.url)
                  - if company.has_subtitle?
                    .b-company-column__item__subtitle== company.subtitle
  .b-document__right.no-print
    = render 'document/right/default'
