- render_title('Справочник компаний')


.b-document.b-document_company-list

  .b-document__left

    h1.b-company-column__title
      | Справочник компаний

    = render 'companies/form'

    .b-company-column__info
      .sort_by
        | Фильтровать:
        = link_to 'По алфавиту', '/companies/index', class: params[:filter] == 'index' ? 'active' : ''
        = link_to 'По отраслям', '/companies/industries', class: params[:filter] == 'industries' ? 'active' : ''

    / .total = "Всего #{@people[:stat][:total]} #{Russian.p(@people[:stat][:total], "персона", "персоны", "персон")}"
    .b-company-index
      - if params[:filter] == 'index'
        = render 'index_navigator'
      - else
        = render 'industries_navigator'

    .b-companies.b-companies--main
      - @items.each do |item|
        - if params[:filter] == 'index'
          .b-companies__group.b-companies__group--letter = item.keys[0]
        - else
          .b-companies__group.b-companies__group--industry = item.keys[0]
        .b-company-layout
          - split_array(item.values[0]).each_with_index do |column, i|
            .b-company-column
              - column.each do |company|
                - if company[:commercial] == true
                  .b-company-column__item.b-company-column__item--paid
                    .b-company-column__container
                      .b-company-column__item__title = link_to company[:title], relative_link(company[:url])
                      .b-company-column__item__subtitle = company[:industry]
                - else
                  .b-company-column__item
                    .b-company-column__container
                      .b-company-column__item__title = link_to company[:title], relative_link(company[:url])
                      .b-company-column__item__subtitle = company[:industry]
          - if item[:total] > 5
            a.b-company-column__item.b-company-column__item--button {href = "/companies/#{params[:filter]}/#{item.keys[0]}"}
              .b-company-column__container
                .b-company-column__item__title
                  = "Еще #{item[:total]-5} #{Russian.p(item[:total]-5, "компания", "компании", "компаний")}"
                  .b-dots
                    .b-dot
                    .b-dot
                    .b-dot


  .b-document__right
    = render 'document/right/default'
