- render_title("#{@company.title} пресс-релизы")

.b-document.b-document_press-release
  .b-document__left
    = render 'companies/header', page: 'press_releases'
    = render 'companies/pr_tabs', page: 'press_releases'

    .title = 'Пресс-релизы'
    - unless @press_releases.empty?
      ul
        - @press_releases.each do |press_release|
          li.b-press-release.b-press-release_list
            .b-press-release__title
              = link_to press_release.title, relative_link(press_release.url)
            .b-press-release__data
              = Russian.strftime(press_release.published_at, "%d %B %Y")

    - unless @years.empty?
      .b-press-releases__title
        = link_to 'Архив пресс-релизов за все годы', "#{relative_link(@company.url)}/press_releases"

      ul
        - @years.each do |year|
          - if @year.present? && year.to_s == @year
            li.b-press-releases__year.b-press-releases__year_current
              = link_to year, "#{relative_link(@company.url)}/press_releases/#{year}"
          - else
            li.b-press-releases__year
              = link_to year, "#{relative_link(@company.url)}/press_releases/#{year}"

  .b-document__right.no-print
    = render 'document/right/default'
