- render_title(@press_release.title)
.b-document.b-document_press-release
  .b-document__left
    .b-document__header.b-document__header_press-release
      /название компании
      .breadcrumbs
        = link_to 'Справочник компаний', '/companies'
        | &nbsp;/&nbsp;
        = link_to @company.title, relative_link(@company.url)
        | &nbsp;/&nbsp;
        = link_to 'Пресс-релизы', relative_link(@company.url)


      /заголовок
      h1.title = @press_release.title

      /время-ссылки
      .pubdate
        - if @press_release.has_published_at?
          = Russian.strftime(@press_release.published_at, "%d %B %Y")

      /подзаголовок
      - if @press_release.has_subtitle?
        .subtitle== @press_release.subtitle

      .b-document__body.b-document__body_press-release
        - @press_release.boxes.each do |box|
          - if 'paragraph' == box.type
            p == box.body
          - else
            = render_if_exist "/boxes/#{box.type}", box: box

        /контактная информация
        = render 'common/press_releases_contact'

      /пресс-релизы компании
      = render 'common/press_releases_block'

  .b-document__right.no-print
    = render 'document/right/default'
