- render_title('Справочник компаний')

.b-document.b-document_company-list

  .b-document__left
    .b-document__header.b-document__header_press-release
      h1.b-company-column__title
        a {href='/companies/index'} = 'Справочник компаний'
    = render 'companies/form'


    .b-company-label = "Найдено: #{@items[:stat].try(:[], :total).to_i} #{Russian.p(@items[:stat].try(:[], :total).to_i, "компания", "компании", "компаний")}"

    - if (@items[:found].length>0)
      .b-company-layout
        - split_array(@items[:found]).each do |items|
          .b-company-column
            - items.each do |company|
              - if company[:commercial] == true
                .b-company-column__item.b-company-column__item--paid
                  .b-company-column__container
                    .b-company-column__item__title
                      = link_to company[:title], relative_link(company[:url])
                    .b-company-column__item__subtitle = company[:industry]
              - else
                .b-company-column__item
                  .b-company-column__container
                    .b-company-column__item__title = link_to company[:title], relative_link(company[:url])
                    .b-company-column__item__subtitle = company[:industry]


  .b-document__right
    = render 'document/right/default'

