/формирование title для страницы

- render_title(@company.title)

.b-document.b-document_company
  .b-document__left
    = render 'companies/header'
    = render 'companies/pr_tabs'

    .title
      = @tabs[@tab_slug].title

    - if !@tabs[@tab_slug].nil?
      - @tabs[@tab_slug].boxes.each do |box|
        - if 'paragraph' == box.type
          p == box.body
        - else
          = render_if_exist "/boxes/#{box.type}", box: box


    /блок материалов компании
    = render_block "/includes/#{relative_link(@company.url)}/materials"

  .b-document__right.no-print
    = render 'document/right/default'

/кнопка редактирования документа(только в девелопменте и на стейджинге)
= render 'common/buttons/editor', url: @company.url