section.b-subscription.b-subscription_final{ng-controller='cardResponseController' ng-init="check_order('#{@url}')"}
  .b-subscription-preloader{ng-show='wait == true'}
    = image_tag("subscription/preloader_spinner2.gif")


  .b-subscription-success-window{ng-show='status == "success"'}
    .b-subscription-suceess-window__header
      | Здравствуйте, {{order.user_name}}!


    .b-subscription-success-window__message{ng-if='order.product == "profi"'}
      | Ваш заказ #{@order[:id]} оплачен.
      br
      | Подписка на пакет «Онлайн + Газета» действует до #{Time.parse(@order[:end_date]).strftime('%d.%m.%Y')}.
      br
      |В ближайшее время с Вами свяжется менеджер для уточнения адреса доставки газеты.

      br
      br
      | С уважением, «Ведомости»

    .b-subscription-success-window__message{ng-if='order.product=="online"'}
      | Ваш заказ #{@order[:id]} оплачен.
      br
      | Подписка на пакет «Онлайн» действует до #{Time.parse(@order[:end_date]).strftime('%d.%m.%Y')}.
      br
      | Вы можете уточнить детали заказа в #{link_to 'личном кабинете', users_show_path},
      br
      | по телефону +7(495) 232–17–53 и эл. почте podpiska@vedomosti.ru.
      br
      br
      | С уважением, «Ведомости»

    .b-subscription-success-window__message{ng-if='order.product=="conf_translation"'}
      | Благодарим Вас за оформление заказа на сайте Vedomosti.ru.
      br
      | Оплата прошла успешно.
      br
      | Номер Вашего заказа №#{@order[:id]}.
      br
      | Детали заказа и сроки оказания услуг Вы можете уточнить по телефону +7 (495) 232-17-53
      br
      | и электронной почте podpiska@vedomosti.ru.
      br
      br
      | Спасибо, что выбираете «Ведомости»


  .b-subscription-error-window{ng-show='status == "error"'}
    .b-subscription-error-window__header
      | Произошла ошибка.
    .b-subscription-p
      | Для завершения заказа, пожалуйста, обратитесь в отдел подписки:
      br
      = "+7 (495) 232 17 53, "
      = mail_to "podpiska@vedomosti"
    .b-subscription-p С уважением, Ведомости.