.b-subscription {ng-controller='subscriptionController'}

  section.b-subscription-section

    .b-subscription-section__header.b-subscription-section__header_border
      h1.b-subscription-title Подписка на&nbsp;&laquo;Ведомости&raquo; для компаний

    .b-subscription-section__body
      p.b-subscription-p.b-subscription-p_big Для корпоративных подписчиков действуют специальные предложения и&nbsp;скидки. Количество экземпляров печатной газеты и&nbsp;онлайн-доступов для одного клиента может отличаться и&nbsp;зависит только от&nbsp;потребностей Вашей компании.
      p.b-subscription-p.b-subscription-p_big Для того чтобы мы&nbsp;могли понять Ваши потребности и&nbsp;сформировать оптимальный информационный пакет для Вашей компании, пожалуйста, заполните заявку.

      .b-subscription-corporate-benefit
        ul.b-subscription-corporate-benefit__list
          li.b-subscription-corporate-benefit__item
            .b-subscription-corporate-benefit__icon
              i.b-icon.icon-subscribe-pack.icon-subscribe-pack_online
            h3.b-subscription-corporate-benefit__title Онлайн
            .b-subscription-corporate-benefit__description Неограниченый доступ к&nbsp;материалам сайта vedomosti.ru и&nbsp;приложения для iOS, Android
            span.b-subscription__link.b-subscription__link_add.b-subscription__link_icon.b-subscription__link_dotted{ng-click="openSubscriptionDetail('online', true)"}
              | Подробнее
              i.b-icon.icon-link-more
          li.b-subscription-corporate-benefit__item
            .b-subscription-corporate-benefit__icon
              i.b-icon.icon-subscribe-pack.icon-subscribe-pack_paper
            h3.b-subscription-corporate-benefit__title Газета
            .b-subscription-corporate-benefit__description Свежий номер газеты &laquo;Ведомости&raquo; и&nbsp;печатные приложения каждое утро на&nbsp;вашем столе
            span.b-subscription__link.b-subscription__link_add.b-subscription__link_icon.b-subscription__link_dotted{ng-click="openSubscriptionDetail('paper', true)"}
              | Подробнее
              i.b-icon.icon-link-more
          li.b-subscription-corporate-benefit__item
            .b-subscription-corporate-benefit__icon
              i.b-icon.icon-subscribe-pack.icon-subscribe-pack_profi
            h3.b-subscription-corporate-benefit__title Онлайн+Газета
            .b-subscription-corporate-benefit__description Максимальные опции подписки: неограниченый доступ к&nbsp;материалам сайта, мобильные приложения, а&nbsp;также свежий печатный номер &laquo;Ведомостей&raquo; в&nbsp;вашем почтовом ящике
            span.b-subscription__link.b-subscription__link_add.b-subscription__link_icon.b-subscription__link_dotted{ng-click="openSubscriptionDetail('plus', true)"}
              | Подробнее
              i.b-icon.icon-link-more
          li.b-subscription-corporate-benefit__item
            .b-subscription-corporate-benefit__icon
              i.b-icon.icon-subscribe-ip
            h3.b-subscription-corporate-benefit__title Доступ по IP
            .b-subscription-corporate-benefit__description Свежий номер газеты &laquo;Ведомости&raquo; и&nbsp;печатные приложения каждое утро на&nbsp;вашем столе
            span.b-subscription__link.b-subscription__link_add.b-subscription__link_icon.b-subscription__link_dotted{ng-click="openSubscriptionDetail('ip', true)"}
              | Подробнее
              i.b-icon.icon-link-more

  section.b-subscription-section.b-subscription-section_form {ng-controller='orderFormController'}

    .b-subscription-form-box.b-subscription-form-box_corporate
      = form_for :user, url: '', format: :json, class: 'b-subscription-form', html: {'name' => 'orderForm', 'data-ng-submit' => 'submit()', 'ng-hide' => 'isOrderResponse', 'novalidate'=>'true'} do
        .b-subscription-form__head Заполните заявку и наш менеджер свяжется с вами в ближайшее время для уточнения деталей

        fieldset.b-subscription-form-fieldset.b-subscription-form-fieldset_left
          .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[orderForm.$submit && orderForm.name.$invalid]"}
            input.b-subscription-form__text {type='text' name='name' ng-model='name' placeholder='Имя и фамилия *' ng-minlength='3' ng-maxlength='100' required}
            div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.name.$error.required'} Это поле нужно заполнить
            div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.name.$error.minlength'} Слишком короткое значение
            div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.name.$error.maxlength'} Слишком длинное значение

          .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[orderForm.$submit && orderForm.companyName.$invalid]"}
            input.b-subscription-form__text {type='text' name='companyName' ng-model='companyName' placeholder='Название компании *' ng-maxlength='100' required}
            div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.companyName.$error.required'} Это поле нужно заполнить
            div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.companyName.$error.maxlength'} Слишком длинное значение

          .b-subscription-form-field.b-subscription-form__custom-select {ng-class="{true: 'b-subscription-form__error-bg'}[orderForm.$submit && orderForm.package.$invalid]"}
            select.b-subscription-form__select.b-subscription-form__select_big {ng-class="{'placeholder': !package}" name='package' ng-model='package' required}
              option {value='' disabled='disabled' selected='selected'} Подписной пакет *
              option Пакет
              option Пакет 2
              option Пакет 3
            div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.package.$error.required'} Это поле нужно заполнить

          .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[orderForm.$submit && orderForm.tel.$invalid]"}
            input.b-subscription-form__text {type='text' name='tel' ng-model='tel' placeholder='+7 (495) 232-17-53 *' ng-minlength='6' ng-maxlength='20' phone-typing='' required}
            div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.tel.$error.required'} Это поле нужно заполнить
            div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.tel.$error.minlength'} Слишком короткое значение
            div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.tel.$error.maxlength'} Слишком длинное значение

          .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[orderForm.$submit && orderForm.email.$invalid]"}
            input.b-subscription-form__text {type='email' name='email' ng-model='email' placeholder='Email *' required}
            div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.email.$error.required'} Это поле нужно заполнить
            div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.email.$error.email'} Некорректные данные

          .b-subscription-form-field
            button.b-subscription-button.b-subscription-button_long.b-subscription-button_small type='submit' Отправить

      .b-subscription-form-response.b-subscription-form-response_feedback {ng-show='isOrderResponse'}
        .b-subscription-form-response__head Добро пожаловать в Ведомости!
        .b-subscription-p Ваш заявка принята,  в ближайшее время с вами свяжется наш менеджер для уточнения деталей по вашему заказу.
        .b-subscription-p С уважением, команда Ведомостей

  = render 'common/subscription/faq'

  = render 'common/subscription/feedback'

  = render 'common/subscription/otherpack'
