section.b-subscription.b-subscription_final
  .b-subscription-success-window
    .b-subscription-error-window__header
      | Сервис временно не работает
    .b-subscription-p
      | На сервере ведутся работы. По вопросам, связанным с подпиской, обращайтесь по телефону
      br
      | +7 (495) 232-17-53 или эл. почте #{mail_to "podpiska@vedomosti.ru"}
    .b-subscription-p
      | С уважением, команда Ведомостей.