.b-subscription {ng-controller = 'subscriptionController'}

  section.b-subscription-section.b-subscription-section_pack-gift

    .b-subscription-section__header.b-subscription-section__header_border
      img.b-subscription-section__header-img src='/assets/subscription/subscription-gift_main.png'
      h1.b-subscription-title Ищете достойный подарок для клиентов, партнеров или друзей?

    .b-subscription-section__body
      p.b-subscription-p.b-subscription-p_head Закажите подарочную карту:
      ul.b-subscription-checklist.b-subscription-checklist_big
        li.b-subscription-checklist__item 
          | Три вида подписки на&nbsp;выбор: 
          span.b-subscription__link.b-subscription__link_add.b-subscription__link_dotted ng-click="openSubscriptionDetail('online')" &laquo;Онлайн&raquo;
          |,&nbsp;
          span.b-subscription__link.b-subscription__link_add.b-subscription__link_dotted ng-click="openSubscriptionDetail('paper')" &laquo;Газета&raquo; 
          | или полный пакет 
          span.b-subscription__link.b-subscription__link_add.b-subscription__link_dotted ng-click="openSubscriptionDetail('professional')" &laquo;Газета+онлайн&raquo;
        li.b-subscription-checklist__item Наш курьер доставит карту Вам в&nbsp;офис или сразу адресату
        li.b-subscription-checklist__item Возможно отправить электронную карту в&nbsp;любую точку мира
        li.b-subscription-checklist__item Укрепление имиджа Вашей компании, сотрудничество с&nbsp;ведущим деловым изданием

  = render 'common/subscription/orderForm'

  = render 'common/subscription/faq'

  = render 'common/subscription/feedback'

  = render 'common/subscription/otherpack'
