.b-subscription

  section.b-subscription-section

    .b-subscription-section__header.b-subscription-section__header_border
      img.b-subscription-section__header-img src='/assets/subscription/subscription-pred_main.png'
      h1.b-subscription-title Более 300 крупнейших компаний участвуют в&nbsp;программе &laquo;Представительское распространение&raquo;. Присоединяйтесь!
      

    .b-subscription-section__body
      p.b-subscription-p.b-subscription-p_big Создавайте дополнительную ценность вашего сервиса, повышайте лояльность ваших клиентов и&nbsp;укрепляйте имидж компании вместе с&nbsp;ведущим деловым изданием &laquo;Ведомости&raquo;.
      p.b-subscription-p.b-subscription-p_head Программа включает:
      ul.b-subscription-checklist.b-subscription-checklist_big
        li.b-subscription-checklist__item Доставку тиража газет до&nbsp;8&nbsp;утра курьером
        li.b-subscription-checklist__item Предоставление фирменных стоек для выкладки газет
        li.b-subscription-checklist__item Изготовление фирменного штампа с&nbsp;логотипом компании
        li.b-subscription-checklist__item 
          | Размещение информации о&nbsp;компании на&nbsp;
          a.b-subscription__link href='#' карте представительского распространения

  = render 'common/subscription/orderForm'
        
  section.b-subscription-section.b-subscription-partners
  
    .b-subscription-section__header.b-subscription-section__header_border
      h2.b-subscription-title В программе уже участвуют
    
    .b-subscription-section__body
      img src='/assets/subscription/mock-partners.jpg'

  = render 'common/subscription/faq'

  = render 'common/subscription/feedback'

  = render 'common/subscription/otherpack'
