.b-subscription
  section.b-subscription-section.b-subscription-steps
    /.b-subscription-section__header.b-subscription-section__header_border
    /  h1.b-subscription-title Ваш заказ оплачен
      
    /Оплачен
    .b-subscription-section__body.b-subscription-step_response
      .b-subscription-form-response
        .b-subscription-form-response__head 
          | Добро пожаловать 
          br
          | на Ведомости!
        .b-subscription-p 
          | Ваш заказ №1024 оплачен, Вам доступна подписка до 25.05.15
          br
          | Детальную информацию о подписке можно узнать в 
          a.b-subscription__link href='#' личном кабинете
          br
          |  или по телефону +7 (495) 232-1753
            
        .b-subscription-p С уважением, команда Ведомостей

    /Курьераская доставка
    .b-subscription-section__body.b-subscription-step_response
      .b-subscription-form-response
        .b-subscription-form-response__head
          | Добро пожаловать 
          br
          | на Ведомости!
        .b-subscription-p
          | Ваш заказ №1024 принят,  в ближайшее время с вами свяжется наш менеджер 
          br
          | для уточнения деталей по вашему заказу!
                
        .b-subscription-p С уважением, команда Ведомостей
        
    .b-subscription-section__body.b-subscription-step_response
      .b-subscription-form-response
        .b-subscription-form-response__head.b-subscription-form-response__head_border
          | В Вашем регионе вы можете
          br
          | оформить подписку на газету Ведомости
          br
          | на почте по индексам:
        .b-subscription-catalog
          .b-subscription-catalog__list
            .b-subscription-catalog__item
              img src='/assets/subscription/subscription-catalog01.jpg' width='68' height='95'
              .b-subscription-catalog__title  
                | Каталог 
                br
                | российской прессы
                br
                | «Почта России»
              .b-subscription-catalog__description  
                .b-subscription-catalog__p 11840 (подписка на полугодие)
                
            .b-subscription-catalog__item
              img src='/assets/subscription/subscription-catalog02.jpg' width='68' height='95'
              .b-subscription-catalog__title  
                | Каталог Агентства
                br
                | «Роспечать»
              .b-subscription-catalog__description  
                .b-subscription-catalog__p 33275 (подписка на полугодие)
                .b-subscription-catalog__p 35568 (годовая подписка)
                
            .b-subscription-catalog__item
              img src='/assets/subscription/subscription-catalog03.jpg' width='68' height='95'
              .b-subscription-catalog__title  
                | Объединенный каталог
                br
                | «Пресса России»
              .b-subscription-catalog__description  
                .b-subscription-catalog__p 33275 (подписка на полугодие)
                .b-subscription-catalog__p 35568 (годовая подписка)

          .b-subscription-p Обратите внимание, оплата подписки через каталоги производится в почтовых отделениях, где Вы сможете уточнить тарифы
                  
        .b-subscription-p 
          i.b-icon.icon-subscribe-pack.icon-subscribe-pack_online 
          | Вы можете оформить подписку на пакет «Онлайн»
