.b-subscription
  section.b-subscription-section.b-subscription-steps
    .b-subscription-section__header.b-subscription-section__header_border
      .b-subscription-stage
        ul.b-subscription-stage-list
          li.b-subscription-stage-list__item
            span.b-subscription-stage__num 1
          li.b-subscription-stage-list__item
            .b-subscription-stage__num 2
          li.b-subscription-stage-list__item.b-subscription-stage-list__item_active
            .b-subscription-stage__num 3
      h2.b-subscription-title
        | Способ оплаты

    .b-subscription-section__body.b-subscription-step_3.b-subscription-form-box.b-subscription-form-box_gift
      = form_for :user, url: '', format: :json, class: 'b-subscription-form', html: {'name' => 'step3Form', 'ng-submit' => 'submit()', 'novalidate'=>'true', 'ng-controller' => 'subscriptionStep3FormController', 'name' => 'step3Form', 'novalidate' => 'true' } do

        ul.b-subscription-step__radios
          li.b-subscription-step__radio.b-subscription-step__radio_inline
            radio {name='paymentType' ng-model='paymentType' value='card' is-checked='true' label='Банковская карта'}
          /li.b-subscription-step__radio.b-subscription-step__radio_inline
            radio {name='paymentType' ng-model='paymentType' value='yandex' label='Яндекс Деньги'}
          /li.b-subscription-step__radio.b-subscription-step__radio_inline
            radio {name='paymentType' ng-model='paymentType' value='cash' label='Наличными курьеру'}

        .b-subscription-choice__price
          .b-subscription-choice__price-row
            | Стоимость вашего заказа «{{order.name}}»:
            span.b-subscription-choice__price-num
              | {{order.price | int}}
            |{{order.unit}}

          .b-subscription__autopayment{ng-hide='autopayment_hide'}
            | ( Подписка включает услугу
            span.b-subscription__link{tooltip-placement="right" data-tooltip-html-unsafe="{{renewal}}"} = ' «Автоплатеж» '
            | )


        fieldset.b-subscription-form-fieldset
          .b-subscription-form-field
            label.b-subscription-form__checkbox
              input.b-subscription-form__checkbox-input {type='checkbox' name='step3Checkbox' ng-model='step3Form.step3Checkbox' checkbox='' ng-checked='acceptRules' required}
              span.b-subscription-form__checkbox-text.b-subscription-form__checkbox-text_dark{ng-hide='autopayment_hide'}
                | Оплачивая заказ, Вы соглашаетесь с условиями&nbsp;
                a.b-subscription__link href='/info/subscribe_rules' оформления заказа
                | &nbsp;и&nbsp;
                a.b-subscription__link href='/info/rules_renewal' публичной оферты
                | &nbsp;о проведении регулярных операций

              span.b-subscription-form__checkbox-text.b-subscription-form__checkbox-text_dark{ng-show='autopayment_hide'}
                | Оплачивая заказ, Вы соглашаетесь с условиями&nbsp;
                a.b-subscription__link href='/info/subscribe_rules' оформления заказа

              span.b-subscription-form__error.b-subscription-form__error_thin {ng-show='step3Form.$submit && step3Form.step3Checkbox.$error.required'} Согласитесь с условиями
  
        .b-subscription-step__button
          button.b-subscription-button{type='submit'}
            | {{ paymentType == 'cash' ? 'Отправить заявку' : 'Оплатить' }}

        .b-subscription-preloader{ng-show='wait == true'}
          = image_tag("subscription/preloader_spinner2.gif")


        .b-subscription-form-response.b-subscription-form-response_feedback { ng-show='true == order_error' }
          .b-subscription-form-response__head
            | Произошла ошибка.
          .b-subscription-p
            | Для завершения заказа, пожалуйста, обратитесь в отдел подписки:
            br
            = "+7 (495) 232 17 53, "
            = mail_to "podpiska@vedomosti"
            br
            = "или воспользуйтесь "
            = link_to 'формой обратной связи', '/info/feedback'
          .b-subscription-p С уважением, Ведомости.


        .b-subscription-form-response.b-subscription-form-response_feedback {ng-show='isOrderResponse'}
          .b-subscription-form-response__head
            | {{order.user_name}}, спасибо!
          .b-subscription-p Ваш заказ принят. В ближайшее время с Вами свяжется менеджер отдела подписки.
          .b-subscription-p Вы можете уточнить детали заказа в #{link_to 'личном кабинете', '/user/profile'}, по телефону +7 (495) 232–17–53 и электронной почте podpiska@vedomosti.ru.
          .b-subscription-p С уважением, «Ведомости»
