.b-subscription {ng-controller = 'subscriptionController'}
  section.b-subscription-section.b-subscription-choose
    .b-subscription-section__header
      h2.b-subscription-title.b-subscription-title_col4 Выберите оптимальный для вас подписной пакет
      .b-subscription-more
        span.b-subscription__link.b-subscription__link_dotted_icon {ng-click="openSubscriptionDetail()"}
          i.b-icon.icon-question
          span.name Подробнее о пакетах подписки

    form{ng-controller = 'subscriptionStep1FormController' ng-submit="submit(step1)"}
      .b-subscription-section__body
        ul.b-subscription-choose__list
          li.b-subscription-col.b-subscription-choose__item {ng-repeat="(subscriptionPackAlias, subscriptionPack) in subscription" ng-class="'b-subscription-choose__item_' + subscriptionPackAlias" ng-click='select_item(subscriptionPack.product)'}
            .b-subscription-choose__body{ ng-class="{hover: hoverEdit}" ng-mouseover="hoverEdit = true" ng-mouseout="hoverEdit = false" }

              div.b-subscription-choose__title
                input {type= 'radio' id='{{subscriptionPack.product}}_radio' value='{{subscriptionPack.product}}' name='type' ng-model='step1.type'}
                label{for='{{subscriptionPack.product}}_radio'}
                  | {{ subscriptionPack.name }}
              .b-subscription-choose__description
                p
                  | {{ subscriptionPack.description }}
                span.b-subscription__link.b-subscription__link_red.b-subscription__link_dotted{tooltip-placement="right" data-tooltip-html-unsafe="{{subscriptionPack.feature_template}}"}
                  | Подробнее
                  i.b-icon.icon-arrow-right-red
              .b-subscription-choose__price
                span.b-subscription-choose__old-price-num{ng-if = 'subscriptionPack.selectedOption.crossPrice != 0'}
                  strike
                    | {{subscriptionPack.selectedOption.crossPrice}}

                span.b-subscription-choose__price-num
                  | {{subscriptionPack.selectedOption.price | int}}
                span.b-subscription-choose__price-more
                  | руб

      .b-subscription-section__period
        .b-subscription-section__period__inner
          | Период подписки:

          input{ type='radio' name='period' value='for_6months' id='for_6months' ng-model='step1.period' ng-change='update_prices()' }
          label{ for='for_6months' } 6 месяцев

          input{ type='radio' name='period' value='for_year' id='for_year' ng-model='step1.period' ng-change='update_prices()' }
          label{ for='for_year' } Год

          /input{ type='radio' name='period' value='for_month' id='for_month' ng-model='step1.period' ng-change='update_prices()' }
          /label{ for='for_month' } Месяц


        button.b-subscription-button.b-subscription-button_big.b-subscription-button_red Оформить подписку
    .b-subscription__divider
