.b-subscription {ng-controller = 'subscriptionController'}
  section.b-subscription-section.b-subscription-steps
    .b-subscription-section__header.b-subscription-section__header_border
      .b-subscription-stage
        ul.b-subscription-stage-list
          li.b-subscription-stage-list__item
            span.b-subscription-stage__num 1
          li.b-subscription-stage-list__item.b-subscription-stage-list__item_active
            .b-subscription-stage__num 2
          li.b-subscription-stage-list__item
            .b-subscription-stage__num 3
      h2.b-subscription-title
        | {{ registeredUser == 'unregistered' ? 'Регистрация' : 'Авторизация' }}

    .b-subscription-section__body.b-subscription-step_2{ng-show="userAuth == true"}
      .b-subscription-authuser
        .b-subscription-p.b-subscription-p_big
          | Вы авторизованы как
          span.b-subscription-user
            span.b-subscription-user__pic
              i.b-icon.icon-no-person
            /span.span.b-subscription-user__pic
            /  img.b-subscription-user__img src='/assets/subscription/mock-user-avatar.jpeg' width='30' height='30'
            a.b-subscription__link.b-subscription__link_add href='#'
              | {{user.first_name}} {{user.last_name}}

      form.b-subscription-form{ng-hide='showBanner'}
        fieldset.b-subscription-form-fieldset.b-subscription-form-fieldset_left
          /.b-subscription-form-field
          /  button.b-subscription-button.b-subscription-button_long.b-subscription-button_small {ng-click="userAuth = false"}
          /    | Войти под другим именем
          .b-subscription-form-field
            a.b-subscription-button.b-subscription-button_long.b-subscription-button_small {href="/subscription/step3"}
              | Далее
          .b-subscription-form-field
            | Войти через соц. сети
          .b-subscription-form-field.b-subscription-form-field_social
            button.b-subscription-button.b-subscription-button_small.b-subscription-button_facebook type='button' onClick='window.location.href="/auth/facebook"' Facebook
            button.b-subscription-button.b-subscription-button_small.b-subscription-button_twitter type='button' onClick='window.location.href="/auth/twitter"' Twitter
            button.b-subscription-button.b-subscription-button_small.b-subscription-button_vkontakte type='button' onClick='window.location.href="/auth/vkontakte"' Вконтакте

      .b-subscription-form-field.b-subscription-form-field__show-banner{ng-show='showBanner'}
        .b-subscription__banner
          p.header Данное предложение является ознакомительной подпиской и доступно только для новых пользователей.
          p
            |Для подписчиков действуют специальные
            br
            | условия на продление подписки.
          = link_to 'Узнать больше', '/subscription', class: 'more'
          = image_tag 'subscription_banner.jpg', class: 'image'

    /выбор авторизован-не авторизован
    .b-subscription-section__body.b-subscription-step_2{ng-show="userAuth != true"}
      ul.b-subscription-step__radios{ng-show="userAuth == false"}
        li.b-subscription-step__radio.b-subscription-step__radio_inline
          radio {name='registeredUser' ng-model='registeredUser' value='registered' label='Я зарегистрирован на vedomosti.ru' is-checked='true'}
        li.b-subscription-step__radio.b-subscription-step__radio_inline
          radio {name='registeredUser' ng-model='registeredUser' value='unregistered' label='Я не зарегистрирован на vedomosti.ru'}

      .b-subscription-form-box
        /форма авторизации
        = form_for :user, url: '', format: :json, html: {class: 'b-subscription-form', 'ng-controller' => 'loginFormController', 'ng-show' => "registeredUser == 'registered'", 'novalidate'=>'true', 'name' => 'loginForm', 'data-ng-submit' => 'submit()', 'novalidate'=>'true' } do
          fieldset.b-subscription-form-fieldset.b-subscription-form-fieldset_left{ng-hide='showBanner'}

            .b-subscription-form-field{ng-class="{true: 'b-subscription-form__error-bg'}[loginForm.$submit && loginForm.loginEmail.$invalid]"}
              span.b-subscription-form-field__icon
                i.b-icon.icon-input-email
              = email_field_tag :email, nil, class: 'b-subscription-form__text b-subscription-form__text_login', 'ng-model'=> 'loginEmail', 'name'=>'loginEmail', 'required' => true, 'placeholder' => 'E-mail'
              div.b-subscription-form__error {ng-show='loginForm.$submit && loginForm.loginEmail.$error.required'} Это поле нужно заполнить
              div.b-subscription-form__error {ng-show='loginForm.$submit && loginForm.loginEmail.$error.email'} Некорректные данные
              div.b-subscription-form__error {ng-show='loginForm.$submit && loginForm.loginEmail.$error.minlength'} Слишком короткое значение
              div.b-subscription-form__error {ng-show='loginForm.$submit && loginForm.loginEmail.$error.maxlength'} Слишком длинное значение

            .b-subscription-form-field{ng-class="{true: 'b-subscription-form__error-bg'}[loginForm.$submit && loginForm.loginPassword.$invalid]"}
              span.b-subscription-form-field__icon
                i.b-icon.icon-input-pass
              = password_field_tag :password, nil, class: 'b-subscription-form__text b-subscription-form__text_password', 'ng-model'=> 'loginPassword', 'placeholder' => 'Пароль', 'required' => true, 'name'=>'loginPassword'
              div.b-subscription-form__error {ng-show='loginForm.$submit && loginForm.loginPassword.$error.required'} Это поле нужно заполнить
              div.b-subscription-form__error {ng-show='loginForm.$submit && loginForm.loginPassword.$error.minlength'} Слишком короткое значение
              div.b-subscription-form__error {ng-show='loginForm.$submit && loginForm.loginPassword.$error.maxlength'} Слишком длинное значение

            .b-subscription-form-field
              button.b-subscription-button.b-subscription-button_long.b-subscription-button_small{type='submit'} Войти


            .b-subscription-form-field
              | Войти через соц. сети
            .b-subscription-form-field.b-subscription-form-field_social
              button.b-subscription-button.b-subscription-button_small.b-subscription-button_facebook type='button' onClick='window.location.href="/auth/facebook"' Facebook
              button.b-subscription-button.b-subscription-button_small.b-subscription-button_twitter type='button' onClick='window.location.href="/auth/twitter"' Twitter
              button.b-subscription-button.b-subscription-button_small.b-subscription-button_vkontakte type='button' onClick='window.location.href="/auth/vkontakte"' Вконтакте

        /форма регистрации
        = form_for(:user, url: '', html: {'class' =>'b-subscription-form', 'ng-controller' => 'registrationFormController', 'ng-show' => "registeredUser == 'unregistered'",'data-ng-submit' => 'submit()', 'name' =>'registrationForm  ', 'novalidate' => 'true'}) do

          fieldset.b-subscription-form-fieldset.b-subscription-form-fieldset_left{ng-hide='showBanner'}
            div.b-subscription-form__error.b-subscription-form__error_same-user {ng-show='same_user'} Пользователь с такими данными уже зарегистрирован

            .b-subscription-form-field{ng-class="{true: 'b-subscription-form__error-bg'}[registrationForm.$submit && registrationForm.registrationEmail.$invalid]"}
              = email_field_tag :email, nil, class: 'b-subscription-form__text', 'name' => 'registrationEmail', 'ng-model' => 'registrationEmail', 'placeholder' => 'E-mail *', 'required' => 'true'
              div.b-subscription-form__error {ng-show='registrationForm.$submit && registrationForm.registrationEmail.$error.required'} Это поле нужно заполнить
              div.b-subscription-form__error {ng-show='registrationForm.$submit && registrationForm.registrationEmail.$error.email'} Некорректные данные

            .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[registrationForm.$submit && registrationForm.registrationPass.$invalid]"}
              = password_field_tag :password, nil, class: 'b-subscription-form__text', 'name' => 'registrationPass', 'ng-model' => 'registrationPass', 'placeholder' => 'Пароль *', 'placeholder' => 'Пароль', 'required' => 'true'
              div.b-subscription-form__error {ng-show='registrationForm.$submit && registrationForm.registrationPass.$error.required'} Это поле нужно заполнить

            .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[registrationForm.$submit && registrationForm.registrationPassCheck.$invalid]"}
              = password_field_tag :password, nil, class: 'b-subscription-form__text', 'name' => 'registrationPassCheck', 'ng-model' => 'registrationPassCheck', 'placeholder' => 'Повтор пароля', 'check-password' => 'registrationPass', 'required' => true
              div.b-subscription-form__error {ng-show='registrationForm.$submit && registrationForm.registrationPassCheck.$error.required'} Это поле нужно заполнить
              div.b-subscription-form__error {ng-show='registrationForm.$submit && registrationForm.registrationPassCheck.$error.repeat && !registrationForm.registrationPassCheck.$error.required && !registrationForm.registrationPassCheck.$error.maxlength && !registrationForm.registrationPassCheck.$error.minlength'} Пароли не совпадают


            .b-subscription-form-field{ng-class="{true: 'b-subscription-form__error-bg'}[registrationForm.$submit && registrationForm.registrationName.$invalid]"}
              = text_field_tag :first_name, nil, class: 'b-subscription-form__text','name' => 'registrationName', 'ng-model' => 'registrationName', 'placeholder' => 'Имя *', 'required' => 'true'
              div.b-subscription-form__error {ng-show='registrationForm.$submit && registrationForm.registrationName.$error.required'} Это поле нужно заполнить


            .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[registrationForm.$submit && registrationForm.registrationSecondName.$invalid]"}
              = text_field_tag :last_name,nil, class: 'b-subscription-form__text', 'name'=>'registrationSecondName', 'ng-model' => 'registrationSecondName', 'placeholder' => 'Фамилия *', 'required' => 'true'
              div.b-subscription-form__error {ng-show='registrationForm.$submit && registrationForm.registrationSecondName.$error.required'} Это поле нужно заполнить

            .b-subscription-form-field{ng-class="{true: 'b-subscription-form__error-bg'}[registrationForm.$submit && registrationForm.registrationNickName.$invalid]"}
              = text_field_tag :nickname, nil, class: 'b-subscription-form__text','name'=>'registrationNickName', 'ng-model' => 'registrationNickName', 'placeholder' => 'Ник'

            .b-subscription-form-field{ng-class="{true: 'b-subscription-form__error-bg'}[registrationForm.$submit && registrationForm.registrationTel.$invalid]"}
              = text_field_tag :phone, nil, class: 'b-subscription-form__text', 'name' => 'registrationTel', 'ng-model' => 'registrationTel', 'placeholder' => 'Телефон *', 'ng-minlength' => '6', 'ng-maxlength' => '20', 'phone-typing' => '', 'required' => true
              | В формате 7–495–2321750
              div.b-subscription-form__error {ng-show='registrationForm.$submit && registrationForm.registrationTel.$error.required'} Это поле нужно заполнить
              div.b-subscription-form__error {ng-show='registrationForm.$submit && registrationForm.registrationTel.$error.minlength'} Слишком короткое значение
              div.b-subscription-form__error {ng-show='registrationForm.$submit && registrationForm.registrationTel.$error.maxlength'} Слишком длинное значение

            .b-subscription-form-field
              label.b-subscription-form__checkbox
                input.b-subscription-form__checkbox-input {type='checkbox' name='registrationCheckbox' ng-model='registrationCheckbox' checkbox='' ng-checked='acceptRules' required}
                span.b-subscription-form__checkbox-text.b-subscription-form__checkbox-text_dark
                  | Я согласен с &nbsp;
                  a.b-subscription__link href="/info/privacy" правилами регистрации и конфиденциальности
              div.b-subscription-form__error.b-subscription-form__error_thin {ng-show='registrationForm.$submit && registrationForm.registrationCheckbox.$error.required'} Согласитесь с правилами

            .b-subscription-form-field
              button.b-subscription-button.b-subscription-button_long.b-subscription-button_small{type='submit'} Зарегистрироваться

            .b-subscription-form-field
              | Войти через соц. сети
            .b-subscription-form-field.b-subscription-form-field_social
              button.b-subscription-button.b-subscription-button_small.b-subscription-button_facebook type='button' onClick='window.location.href="/auth/facebook"' Facebook
              button.b-subscription-button.b-subscription-button_small.b-subscription-button_twitter type='button' onClick='window.location.href="/auth/twitter"' Twitter
              button.b-subscription-button.b-subscription-button_small.b-subscription-button_vkontakte type='button' onClick='window.location.href="/auth/vkontakte"' Вконтакте

      = render_banner Settings.banners.dblclick.subscription.step2, 300, 250
