.b-subscription

  section.b-subscription-section
    h2.b-subscription-head Выберите оптимальный для вас подписной пакет

    h2.b-subscription-head.b-subscription-head_border Выберите оптимальный для вас подписной пакет

    h3.b-subscription-sub-head Ваша подписка будет включать следующие опции:

    ul.b-subscription-checklist
      li.b-subscription-checklist__item Полное содержание выпусков газеты «Ведомости»

    dl.b-subscription-accordion.b-subscription-accordion_active {accordion=''}
      dt.b-subscription-accordion__title
        a href='#' Бесплатный доступ
      dt.b-subscription-accordion__description
        .b-subscription-sub-section
          .b-subscription-question-head Я не хочу платить за подписку, могу ли я читать «Ведомости» в электронном виде бесплатно?
          p.b-subscription-p Если Вы не имеете
        .b-subscription-sub-section
          .b-subscription-question-head Я не хочу платить за подписку, могу ли я читать «Ведомости» в электронном виде бесплатно?
          p.b-subscription-p Если Вы не имеете онлайн-подписки, Вы все равно сможете пользоваться сайтом vedomosti.ru и некоторыми из мобильных приложений, но с ограничениями. Во-первых, Вы сможете читать лишь определенное количество статей в месяц. Во-вторых, Вам будут недоступны:

    dl.b-subscription-accordion {accordion=''}
      dt.b-subscription-accordion__title
        a href='#' Регистрация
      dt.b-subscription-accordion__description
        .b-subscription-sub-section
          .b-subscription-question-head Я не хочу платить за подписку, могу ли я читать «Ведомости» в электронном виде бесплатно?
          p.b-subscription-p Если Вы не имеете онлайн-подписки, Вы все равно сможете пользоваться сайтом vedomosti.ru и некоторыми из мобильных приложений, но с ограничениями. Во-первых, Вы сможете читать лишь определенное количество статей в месяц. Во-вторых, Вам будут недоступны:

    dl.b-subscription-accordion {accordion=''}
      dt.b-subscription-accordion__title
        a href='#' Подписка
      dt.b-subscription-accordion__description
        .b-subscription-sub-section
          .b-subscription-question-head Я не хочу платить за подписку, могу ли я читать «Ведомости» в электронном виде бесплатно?
          p.b-subscription-p Если Вы не имеете онлайн-подписки, Вы все равно сможете пользоваться сайтом vedomosti.ru и некоторыми из мобильных приложений, но с ограничениями. Во-первых, Вы сможете читать лишь определенное количество статей в месяц. Во-вторых, Вам будут недоступны:

    ul.b-subscription-checklist
      li.b-subscription-checklist__item Полное содержание выпусков газеты «Ведомости»
      li.b-subscription-checklist__item Электронный архив издания
      li.b-subscription-checklist__item Специализированные сервисы «Ведомостей»

    ul.b-subscription-checklist.b-subscription-checklist_bordered
      li.b-subscription-checklist__item Полное содержание выпусков газеты «Ведомости»
      li.b-subscription-checklist__item Электронный архив издания
      li.b-subscription-checklist__item Специализированные сервисы «Ведомостей»

    p.b-subscription-p
      | Если Вы 
      a.b-subscription__link href='#' не имеете
      | онлайн-подписки, Вы все равно сможете пользоваться сайтом vedomosti.ru и некоторыми из мобильных приложений, но с ограничениями. Во-первых, Вы сможете читать лишь определенное количество статей в месяц. Во-вторых, Вам будут недоступны:

    p.b-subscription-p
      | Если Вы не имеете онлайн-подписки, Вы все
      a.b-subscription__link.b-subscription__link_dotted href='#' равно сможете пользоваться
      | сайтом vedomosti.ru и некоторыми из мобильных приложений, но с ограничениями. Во-первых, Вы сможете читать лишь определенное количество статей в месяц. Во-вторых, Вам будут недоступны:

    ul.b-subscription-stage-list
      li.b-subscription-stage-list__item.b-subscription-stage-list__item_active
        span.b-subscription-stage__num 1
      li.b-subscription-stage-list__item
        .b-subscription-stage__num 2
      li.b-subscription-stage-list__item
        .b-subscription-stage__num 3

    form.b-subscription-form
      .b-subscription-form-field
        input.b-subscription-form__text type='text' name='someName' placeholder='Имя и фамилия'
      .b-subscription-form-field
        textarea.b-subscription-form__textarea name='someTextarea' placeholder='Ваш вопрос'
      .b-subscription-form-field
        button.b-subscription-form__button type='submit' Далее
      .b-subscription-form-field
        button.b-subscription-form__button.b-subscription-form__button_small type='submit' Далее
      .b-subscription-form-field
        label.b-subscription-form__checkbox
          input.b-subscription-form__checkbox-input {type='checkbox' name='checkbox' checkbox=''}
          span.b-subscription-form__checkbox-text Заказать обратный звонок
      .b-subscription-form-field
        label.b-subscription-form__checkbox
          input.b-subscription-form__checkbox-input {type='checkbox' name='checkbox' checkbox='' ng-checked='true'}
          span.b-subscription-form__checkbox-text Заказать обратный звонок
          
      .b-subscription-form-field
        radio {name='radio' ng-model='radio' value='radio1' label='radio label' is-checked='true'}
      .b-subscription-form-field
        radio {name='radio' ng-model='radio' value='radio2' label='radio label 2'}
      .b-subscription-form-field
        radio {name='anotherRadio' ng-model='anotherRadio' value='radio3' label='anotherRadio label 1'}
      .b-subscription-form-field
        radio {name='anotherRadio' ng-model='anotherRadio' value='radio4' label='anotherRadio label 2'}

    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
