.b-button__social__wrapper.b-button__social__wrapper_right.b-button__social__wrapper_horizontal
  ul
    li.b-buttons__social__item
      a href="#{sharing_facebook_link(@document)}" onclick="window.open('#{sharing_facebook_link(@document)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "
        .b-button.b-button__social_fb
          .b-icon.icon-social-fb
    li.b-buttons__social__item
      a href="#{sharing_vk_link(@document)}" onclick="window.open('#{sharing_vk_link(@document)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "
        .b-button.b-button__social_vk
          .b-icon.icon-social-vk
    li.b-buttons__social__item
      a href="#{sharing_twitter_link(@document)}" onclick="window.open('#{sharing_twitter_link(@document)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "
        .b-button.b-button__social_twitter
          .b-icon.icon-social-twitter
