/формирование title для страницы
- @document = @story
- render_title(@document.title)
= render_banner Settings.banners.dblclick.spec_topline, 1200, 120

.b-document.b-document_story
  = render_block '/includes/redline'
  .b-document__header.b-document__header_story
    = render 'stories/social_icons'

    h1.title = @document.title
    - if @document.has_subtitle?
      h2.subtitle== @document.subtitle


  /если есть блок новостей
  - if @documents.length > 0
    /если есть блок новостей
    - if @news.count >= 3
      .b-rubric__4col-inner.b-rubric__4col-inner_mutate-to-3col
        = render_lifestyle(@documents[0], ['border-bottom', 'padding-bottom'], 'div', '')
        .b-rubric__2col-inner.b-rubric__2col-inner_mutate-to-1col
          ul
            - if false == @documents[1].nil?
              = render_item(@documents[1], 'level2', ['padding-bottom'], 'li', '', false)
            - if false == @documents[2].nil?
              = render_item(@documents[2], 'level2', ['padding-bottom', 'hide-on-medium-screen'], 'li', '', false)

        .b-news{ved-news data-elements ='.news-height'}
          = link_to 'Новости', "/newsline/story/#{@document.story.slug}", class: 'title'
          ul = render partial: 'main/lists/main_news_item', collection: @news
          .b-news__more
            = link_to "/newsline/story/#{@document.story.slug}" do
              | Все новости cюжета
              i.b-icon.icon-more

        .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col.news-height
          ul
            - if false == @documents[2].nil?
              = render_item(@documents[2], 'level2', ['padding-top', 'padding-bottom', 'show-on-medium-screen'], 'li', '', false)
              - @documents[3..8].each_with_index do |document, index|
                - if 0 == index
                  = render_item(document, 'level2', ['padding-bottom', 'padding-top', 'mutate-to-border-top'], 'li', '', false)
                - else
                  = render_item(document, 'level2', ['padding-bottom', 'border-top', 'padding-top'], 'li', '', false)
    /если нет блока новостей
    - elsif @news.count < 3
      .b-rubric__4col-inner.b-rubric__4col-inner_mutate-to-3col
        = render_lifestyle(@documents[0], ['border-bottom', 'padding-bottom'], 'div', '')
        .b-rubric__2col-inner.b-rubric__2col-inner_mutate-to-1col
          ul
            - if false == @documents[1].nil?
              = render_item(@documents[1], 'level2', ['padding-bottom'], 'li', '', false)
            - if false == @documents[2].nil?
              = render_item(@documents[2], 'level2', ['padding-bottom', 'hide-on-medium-screen'], 'li', '', false)

        .b-rubric__4col-inner.b-rubric__4col-inner_mutate-to-3col
          ul
            - if false == @documents[2].nil?
              = render_item(@documents[2], 'level2', ['padding-top', 'padding-bottom', 'show-on-medium-screen'], 'li', '', false)
              - @documents[3..10].each_with_index do | document, index |
                - if 0 == index
                  = render_item(document, 'level2', ['padding-bottom', 'padding-top'], 'li', '', false)
                - elsif 1 == index
                  = render_item(document, 'level2', ['padding-bottom', 'padding-top', 'mutate-to-border-top'], 'li', '', false)
                - else
                  = render_item(document, 'level2', ['padding-bottom', 'border-top', 'padding-top'], 'li', '', false)
  - else
    = 'Нет документов'

  = render_banner Settings.banners.dblclick.spec_leaderboard, 1200, 120

  - if @documents.length > 9 && @news.count >= 3
    section.b-rubric.b-rubric_story
      .b-rubric__title = "Ранее в этом сюжете"
      .b-rubric__4col-inner.b-rubric__4col-inner_mutate-to-3col
        ul
          - @documents[9..@documents.length].each_with_index do |document, index|
            - if (0..2).include? index
              = render_item(document, 'level3', ['padding-bottom'], 'li', '', false)
            - elsif index == 3
              = render_item(document, 'level3', ['mutate-to-padding-top', 'mutate-to-border-top'], 'li', '', false)
            - else
              = render_item(document, 'level3', ['border-top', 'padding-top', 'padding-bottom'], 'li', '', false)

  - elsif @documents.length > 11
    section.b-rubric.b-rubric_story
      .b-rubric__title = "Ранее в этом сюжете"
      .b-rubric__4col-inner.b-rubric__4col-inner_mutate-to-3col
        ul
          - @documents[11..@documents.length].each_with_index do |document, index|
            - if (0..2).include? index
              = render_item(document, 'level3', ['padding-bottom'], 'li', '', false)
            - elsif index == 3
              = render_item(document, 'level3', ['mutate-to-padding-top', 'mutate-to-border-top'], 'li', '', false)
            - else
              = render_item(document, 'level3', ['border-top', 'padding-top', 'padding-bottom'], 'li', '', false)

  = render_block '/includes/popular24'

= render_banner Settings.banners.dblclick.tgb1, 970, 50
