li
  = announce_image(document) if 0 == index
  .body

    - if label_data(document, rubric_template, @page_type)
      - if name_for_document(document) == 'map'
        .label = link_to 'Карты', relative_link(document.url)
      - else
        .label= label_link(document, rubric_template, @page_type)

    - if index > 0 && document_with_icon?(document) && document.has_image? && document.image.has_version?(:small)
      .holder
        = link_to relative_link(document.url), class: 'b-small-preview' do
          span.b-part-icon{class="b-part-icon_small b-part-icon_small_#{part_for_document(document)}"}
          = image_tag image_url(document.image.small.url)
        .title= link_to relative_link(document.url) do
          = document.title
          - if document.pay_required?
            span.b-icon.b-icon--svg.b-icon--grey-lock
              | &nbsp;
            span.b-icon.b-icon--svg.b-icon--grey-unlock
              | &nbsp;
        .clearfix
    - else
      .title= link_to relative_link(document.url) do
        = document.title
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
            | &nbsp;
          span.b-icon.b-icon--svg.b-icon--grey-unlock
            | &nbsp;

    - if 0 == index
      h2.subtitle== document.subtitle
