li.b-announce
  .body

    - if 0 == index && document.has_blog_quote?
      .message
        | «
        = document.blog_quote
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
            | &nbsp;
          span.b-icon.b-icon--svg.b-icon--grey-unlock
            | &nbsp;
        | »

    .info
      - if document.has_author? && document.author.has_portrait? && document.author.portrait.has_version?(:type2)
        = image_tag image_url(document.author.portrait.type2.url), class: 'avatar'
      .info-holder
        .label= label_link(document, 'main', :index)

        - if document.author.has_title?
          .name= document.author.title

        - if document.author.has_appointment?
          .job= document.author.appointment

    - if index > 0
      = link_to relative_link(document.url), class: 'title' do
        = document.title
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
            | &nbsp;
          span.b-icon.b-icon--svg.b-icon--grey-unlock
            | &nbsp;

      - if document.has_subtitle?
        h2.subtitle== document.subtitle
