li.b-announce
  .body
    .info
      - if document.portrait.has_version?(:type2)
       a{href="#{relative_link(document.url)}"} = image_tag image_url(document.portrait.type2.url), class: 'avatar'
      .info-holder
        .label= label_link(document, 'main', :index)

        - if document.has_character_name?
          .name
            a{href="#{relative_link(document.url)}"}= document.character_name

        - if document.has_character_job?
          .job
            a{href="#{relative_link(document.url)}"}= document.character_job

    - if 0 == index && document.has_character_quote?
      .message.bottom= link_to relative_link(document.url) do
        = document.character_quote
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
            | &nbsp;
          span.b-icon.b-icon--svg.b-icon--grey-unlock
            | &nbsp;

    - if index > 0
      = link_to relative_link(document.url), class: 'title' do
        = document.title
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
            | &nbsp;
          span.b-icon.b-icon--svg.b-icon--grey-unlock
            | &nbsp;

      - if document.has_subtitle?
        .subtitle== document.subtitle
