li.b-announce
  .body
    .info
      - if document.author.portrait.has_version?(:type2)
        = image_tag image_url(document.author.portrait.type2.url), class: 'avatar'
      .info-holder
        .label= label_link(document, 'main', :index)
        .name= document.author.title

    - if 0 == index && document.has_quote_body?
      .message.no-border
        = document.quote_body
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
            | &nbsp;
          span.b-icon.b-icon--svg.b-icon--grey-unlock
            | &nbsp;
    - if index > 0
      = link_to relative_link(document.url), class: 'title' do
        = document.title
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
            | &nbsp;
          span.b-icon.b-icon--svg.b-icon--grey-unlock
            | &nbsp;

      - if document.has_subtitle?
        .subtitle== document.subtitle
