li.b-announce
  .body

    - if 0 == index && document.has_quote_body?
      .message.green
        | «
        = document.quote_body
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
            | &nbsp;
          span.b-icon.b-icon--svg.b-icon--grey-unlock
            | &nbsp;
        | »

    .info
      - if document.portrait.has_version?(:type2)
        = image_tag image_url(document.portrait.type2.url), class: 'avatar'
      .info-holder
        .label= label_link(document, 'main', :index)

        - if document.has_quote_author?
          .name= document.quote_author

        - if document.has_quote_job?
          .job= document.quote_job

    - if index > 0
      = link_to relative_link(document.url), class: 'title' do
        = document.title
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
            | &nbsp;
          span.b-icon.b-icon--svg.b-icon--grey-unlock
            | &nbsp;

      - if document.has_subtitle?
        .subtitle== document.subtitle
