li
  = announce_image(document) if 0 == index
  .body
    /- if label_data(document, rubric_template, @page_type)
    - if document.has_categories? && document.categories.has_parts?
      .label
        = link_to document.categories.parts.title, "#{part_path(document.categories.parts.slug)}"

    - if index > 0  && document.has_image? && document.image.has_version?(:small)
      .holder
        = link_to relative_link(document.url), class: 'b-small-preview' do
          span.b-part-icon{class="b-part-icon_small b-part-icon_small_#{part_for_document(document)}"}
          = image_tag image_url(document.image.small.url)
        .title= link_to document.title, relative_link(document.url)
        .clearfix
    - else
      .title= link_to document.title, relative_link(document.url)

      - if 0 == index
        h2.subtitle== document.subtitle
