.b-fullscreen-controls
  ul
    li.b-fullscreen__control
      a {href='#'}
        | ← Ctrl →

        .b-popup.b-popup_fullscreen-clue
          .title
            | Примечание
          .text
            i.b-icon.icon-how-to
            br
            | Используйте стрелки «лево» и
              «право» c зажатой клавишей Ctrl,
              чтобы просматривать
              фотографии

    li.b-fullscreen__control
      a {href='#'}
        i.b-icon.icon-share-tan

    li.b-fullscreen__control { ng-click='carcharodon.toggle_mode()' }
      a {href='#'}
        i.b-icon.icon-tiles-tan