- gallery = @document.boxes.find {|box| box.type == 'gallery' }

.b-fullscreen__wrapper{carcharodon-shark class='hidden' ng-show='carcharodon.visible'}
  /.b-fullscreen
  /  .b-fullscreen__inner
  /    button.b-button.b-button_fullscreen-exit {ng-click = 'carcharodon.close()'}
  /      i.b-icon.icon-exit-tan
  /      br
  /      | Закрыть
  /
  /    .b-fullscreen-tiles{ng-show = 'carcharodon.mode == "tiles"'}
  /
  /      .b-fullscreen-tiles__title
  /        = @document.title
  /
  /      .b-fullscreen-tiles__subtitle
  /        = gallery.body
  /      .b-fullscreen-tiles__author
  /        | Фотографии: Максим Товкайло, Мария Дранишникова
  /
  /      ul
  /        - gallery.children.each.with_index do |image, index|
  /          li.b-fullscreen-tiles__tile{ng-click = "carcharodon.goto(#{index + 1})" ng-class="{active: #{index + 1} == carcharodon.current_item}"}
  /            = image image.image.fullscreen_thumbnail.url
  /
  /      .b-fullscreen-tiles__button-wrapper
  /        button.b-button.b-button_fullscreen-tile
  /          i.b-icon.icon-share-tan
  /
  /        button.b-button.b-button_fullscreen-tile{ng-click = 'carcharodon.toggle_mode()'}
  /          i.b-icon.icon-tiles-tan
  /
  /
  /
  /    .b-gallery{negaprion-shark ng-show = 'carcharodon.mode == "gallery"'}
  /      .b-gallery__counter
  /        | {{counter}}
  /
  /      .b-gallery__next{ng-click = 'carcharodon.next()' ng-hide="carcharodon.current_item == carcharodon.length"}
  /        i.b-icon.icon-gallery-arrow-next2
  /      .b-gallery__prev{ng-click = 'carcharodon.prev()' ng-hide="carcharodon.current_item == 1"}
  /        i.b-icon.icon-gallery-arrow-prev2
  /
  /      ul
  /        - gallery.children.each.with_index do |image, index|
  /          li.b-gallery__item {ng-show = '#{index + 1} == carcharodon.current_item'}
  /            = image image.image.fullscreen1440.url
  /            .b-gallery__item__descr
  /              .author
  /                = image.author
  /              = image.description
  /            = render 'common/fullscreen/controls'
