section.b-rubric.b-rubric_big-banner
  - if list.documents.count <= 5
    p Мало документов
  - else
    .b-rubric__inner
      .b-rubric__title = link_for list
      = render_item(list.documents.first, 'level1', ['border-bottom', 'padding-bottom'], 'li', list.template, false)
      .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col
        ul
          - list.documents[1..2].each do |document|
            = render_item(document, 'level2', ['padding-top', 'padding-bottom'], 'li', list.template, false)

          = render_item(list.documents[3], 'level2', ['padding-top','padding-bottom','hide-on-medium-screen'],'li', list.template, false )
      = render_banner banner_template, 300, 600

      - if list.documents.count >=7
        .b-rubric__4col-inner.b-rubric__4col-inner_mutate-to-2col
          ul
            = render_item(list.documents[3], 'level3', ['padding-top', 'padding-bottom', 'border-top','padding-bottom','show-on-medium-screen'], 'li', list.template, false)
            - list.documents[4..7].each do |document|
              = render_item(document, 'level3', ['padding-top', 'padding-bottom', 'border-top'], 'li', list.template, false)

    = render 'common/rubric/more', url: list.relative_url
