section.b-rubric.b-rubric_thematic-materials
  .b-rubric__inner
    .b-rubric__title
  .b-rubric__4col-inner
    ul
      - list.documents.each do |document|
        li.b-serial
          .title
            = link_to document.title, relative_link(document.url)
          .b-serial__image
            - if document.has_image? && document.image.has_version?(:medium) && document.image.has_version?(:small)
              = link_to relative_link(document.url) do
                = image_with_dimension(document.image, :medium, alt: nil, image_class: 'hide_on_medium_screen')
                = image_with_dimension(document.image, :small, alt: nil, image_class: 'show_on_medium_screen')
          .description== link_to document.subtitle, relative_link(document.url)
