section.b-rubric.b-rubric_serials
  .b-rubric__4col-inner
    ul
      - list.documents.each do |document|
        li.b-serial2
          = link_to relative_link(document.url) do
            .title = document.title
            - if document.has_author?
              - if document.author.has_portrait? && document.author.portrait.has_version?(:type2)
                = image_with_dimension(document.author.portrait, :type2, alt: nil, image_class: 'author')
              - else
                img.author.placeholder-image{width='100' height='100' src='/assets/placeholder-level1.png'}
            - if document.has_second_author?
              - if document.second_author.has_portrait? && document.second_author.portrait.has_version?(:type2)
                = image_with_dimension(document.second_author.portrait, :type2, alt: nil, image_class: 'second_author')
              - else
                img.second_author.placeholder-image{width='100' height='100' src='/assets/placeholder-level1.png'}
          .description== link_to document.subtitle, relative_link(document.url)
