section.b-rubric.b-rubric_huhu {ved-slider data-current_item='#{list.documents.index(freshest(list.documents))}' data-autoplay='off'}
  .b-rubric__title
    = link_for list

  - if list.documents.count >= 5
    .b-slider__paginator
      ul
        li.b-slider__paginator__item{ ng-click = 'goto(0)' ng-class='{active : current_item == 0}' }
          .dot
        li.b-slider__paginator__item{ ng-click = 'goto(1)' ng-class='{active : current_item == 1}' }
          .dot
        li.b-slider__paginator__item{ ng-click = 'goto(2)' ng-class='{active : current_item == 2}' }
          .dot
        li.b-slider__paginator__item{ ng-click = 'goto(3)' ng-class='{active : current_item == 3}' }
          .dot
        li.b-slider__paginator__item{ ng-click = 'goto(4)' ng-class='{active : current_item == 4}' }
          .dot


    .b-slider__wrapper
      ul.b-slider { ng-style="{left: - (current_item + 1) * width + 'px'}" ng-class='class'}

        li.b-slider__item { class='b-slider__item_cloned' }
          = render 'common/items/slider_inner/detail', document: list.documents[list.documents.length-1]
        - list.documents.each do |document|
          li.b-slider__item
            = render 'common/items/slider_inner/detail', document: document
        li.b-slider__item { class='b-slider__item_cloned' }
          = render 'common/items/slider_inner/detail', document: list.documents[0]

    .b-slider__paginator.b-slider__paginator_huhu
      ul
        - list.documents.each_with_index do |document, index|

          li.b-slider__paginator__item{ ng-click = "goto(#{index})" ng-class="{active : current_item == #{index}}" }
            | #{document.subrubric.sections.title}

    = render 'common/rubric/more', url: list.relative_url
  - else
    / p Материалов должно быть больше 5