= defined?(page)

section.b-rubric.b-rubric_lifestyle_big-banner
  .b-rubric__inner
    - if list.documents.count < 4
      / p Мало документов
    - else
      .b-rubric__title = link_for list

      .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col
        ul
          = render_lifestyle(list.documents.first, ['border-bottom', 'padding-bottom'], 'li', rubric_template)
          = render_item(list.documents[1], 'level2', ['mutate-to-padding-top', 'mutate-to-no-border-top', 'padding-bottom'], 'li', rubric_template, false)
          = render_item(list.documents[2], 'level2', ['padding-top','mutate-to-no-border-top', 'padding-bottom'], 'li', rubric_template, false)
          = render_item(list.documents[3], 'level2', ['padding-top','mutate-to-border-top', 'padding-bottom'], 'li', rubric_template, false)
          = render_item(list.documents[4], 'level2', ['padding-top','border-top', 'padding-bottom'], 'li', rubric_template, false)

      = render_banner banner_template, 300, 600

  = render 'common/rubric/more', url: list.relative_url, list: list