section.b-rubric.b-rubric_lifestyle-small
  .b-rubric__inner
    .b-rubric__title = link_for list
    - if list.documents.count < 3
      / p Мало документов
    - else
      .b-rubric__4col-inner.b-rubric__4col-inner_mutate-to-3col
        ul
          = render_lifestyle(list.documents[0], ['padding-bottom'], 'li', list.template)
          = render_item(list.documents[1], 'level2', ['no-padding-top', 'mutate-to-padding-top'], 'li', list.template, false)
          = render_item(list.documents[2], 'level2', ['no-padding-top', 'mutate-to-padding-top', 'level2_mutate-to-level1','mutate-to-border-top'], 'li', list.template, true)

  = render 'common/rubric/more', url: list.relative_url
