section.b-rubric.b-rubric_lifestyle-main
  - if @top.count < 4
    / p Мало документов
  - else

    vd-statistic{ page="#{page}" block="#{page}-top" }
      .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col
        = render_block '/includes/redline'
        = render_lifestyle(@top.first, ['border-bottom', 'padding-bottom'], 'div', rubric_template)

        .b-news{ved-news data-elements ='.b-rubric_lifestyle-main .b-rubric__2col-inner'}
          = link_to 'Новости', "/newsline/#{news_slug}", class: 'title'
          ul = render partial: 'main/lists/main_news_item', collection: @news
          .b-news__more
            = link_to "/newsline/#{news_slug}" do
              | Все новости
              i.b-icon.icon-more
        .b-rubric__2col-inner.b-rubric__2col-inner_mutate-to-1col
          ul
            = render_item(@top[1], 'level2', ['padding-top', 'mutate-to-no-border-top', 'padding-bottom'], 'li', rubric_template, false)
            = render_item(@top[2], 'level2', ['padding-top', 'padding-bottom'], 'li', rubric_template, false)

        .b-rubric__2col-inner.b-rubric__2col-inner_underbanner
          ul
            = render_item(@top[3], 'level2', ['padding-top', 'border-top', 'mutate-to-non-border-top', 'padding-bottom'], 'li', rubric_template, false)
            = render_item(@top[4], 'level2', ['padding-top', 'border-top', 'mutate-to-non-border-top', 'padding-bottom'], 'li', rubric_template, false)

      = render_banner banner_template, 300, 600
