section.b-rubric.b-rubric_main-huhu
  - if @top.count < 4
    / p Мало документов
  - else
      .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col
        = render_block '/includes/redline'
        /, :locals => {:type => 'opinion'}
        vd-statistic{ page="#{page}" block="#{page}-top" }
          = render_item(@top[0], 'level1', ['border-bottom','padding-bottom', 'level1_mutate-to-level2', 'mutate-to-non-border-bottom'], 'div', rubric_template, true)
          = render_item(@top[1], 'level2', ['padding-top','padding-bottom','mutate-to-no-padding-top', 'left'], 'div', rubric_template, false)

          .b-rubric__2col-inner
            ul
              = render_item(@top[2], 'level2', ['padding-top', 'padding-bottom', 'mutate-to-border-top'], 'li', rubric_template, false)
              = render_item(@top[3], 'level2', ['padding-top', 'padding-bottom', 'mutate-to-border-top'], 'li', rubric_template, false)

      = render_banner banner_template, 300, 600
