section.b-rubric.b-rubric_main

  - if @top.count >= 5
    vd-statistic{ page="#{page}" block="#{page}-top" }
      .b-rubric_wrapper
        = render_block '/includes/redline'
        = render_item(@top.first, 'level1', ['padding-bottom','border-bottom'], 'div', rubric_template, false)

    = render 'main/lists/main_news', news_slug: news_slug, page: page

    vd-statistic{ page="#{page}" block="#{page}-top" }
      .b-rubric__2col-inner.b-rubric__2col-inner_mutate-to-1col
        .b-rubric__2col-inner.b-rubric__2col-inner_mutate-to-1col
          ul
            = render_item(@top[1], 'level2', ['padding-top', 'padding-bottom'], 'li', rubric_template, false)
            = render_item(@top[2], 'level2', ['padding-top','padding-bottom','mutate-to-border-top'], 'li', rubric_template, false)

        .b-rubric__2col-inner
          ul
            - @top[3..4].each do |document|
              = render_item(document, 'level2', ['padding-top','padding-bottom','border-top','level2_mutate-to-level3'], 'li', rubric_template, false)
    = render_banner banner_template, 300, 600

    vd-statistic{ page="#{page}" block="#{page}-top" }
      .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col
        ul
          - if @top.count >= 7
            - @top[5..6].each do |document|
              = render_item(document, 'level3',['border-top', 'padding-top','padding-bottom'], 'li', rubric_template, false)
            = render_item(@top[7], 'level3',['border-top', 'padding-top', 'padding-bottom'], 'li', rubric_template, false)
  - else
    / p Для вывода шаблона необходимо минимум 5 докуметов
