section.b-rubric.b-rubric_medium-no-banner
  .b-rubric__inner
    .b-rubric__title = link_for list
    - if list.documents.count < 4
      / p Недостаточно материалов
    - else
      = render_item(list.documents.first, 'level2', ['level2_mutate-to-level1', 'padding-bottom', 'mutate-to-border-bottom'], 'div', list.template, true)
      .b-rubric__3col-inner
        ul
          - list.documents[1..3].each do |document|
            = render_item(document, 'level2', ['mutate-to-padding-top', 'padding-bottom'], 'li', list.template, false)

  = render 'common/rubric/more', url: list.relative_url, list: list
