section.b-rubric.b-rubric_medium-banner
  .b-rubric__inner
    .b-rubric__title = link_for list
    - if list.documents.count < 4
      / p Мало документов
    - else
        .b-rubric__3col-inner.b-rubric__3col-inner_mutate-to-2col
          = render_item(list.documents[0], 'level1', ['border-bottom', 'padding-bottom', 'level1_mutate-to-level2', 'mutate-to-non-border-bottom'], 'div', list.template, true)

          = render_item(list.documents[1], 'level2', ['padding-top', 'padding-bottom', 'mutate-to-no-padding-top', 'left'], 'div', list.template)

          .b-rubric__2col-inner
            ul
              = render_item(list.documents[2], 'level2', ['padding-top', 'padding-bottom', 'mutate-to-border-top'], 'li', list.template)
              = render_item(list.documents[3], 'level2', ['padding-top', 'padding-bottom', 'mutate-to-border-top'], 'li', list.template)
        = render_banner banner_template, 300, 600
        - if @banner_shown.nil?
          = render_banner Settings.banners.dblclick.banner6, 300, 600
          - @banner_shown = true

  = render 'common/rubric/more', url: list.relative_url
