.b-more
  /= link_to (svg_tag 'more', 27, 27, ''), url
  = link_to url do
    - if defined?(list.slug) && ['multimedia-top', 'parts-galleries-top', 'parts-video-top', 'parts-video-tvrain-top', 'parts-video-animation-top', 'parts-test-top'].include?(list.slug) || defined?(@multimedia) && @multimedia
      i.b-icon.icon-more-white
    - else
      i.b-icon.icon-more
