section{class='b-rubric_slider b-multimedia-top' ved-slider2 data-autoscroll='off'}
  .b-multimedia-top__inner
    .b-multimedia-top__title
      a{href="#{list.relative_url}"} = list.header

    - if list.documents.count >= 5
      .b-slider__paginator
        ul
          li.b-slider__paginator__item{ng-repeat='dot in dot_array' ng-click="goto(dot)" ng-class='{active : current_step ==  dot }' }
            .dot

      .b-slider__wrapper
        .b-slider__controls__next
          button { ng-click='next()' }
            i.b-icon.icon-gallery-arrow-right
        .b-slider__controls__prev
          button { ng-click='prev()' }
            i.b-icon.icon-gallery-arrow-left

        ul.b-slider { ng-style ='{left: -current_step * items_in_step * width + derivation * width + "px"}' }
          - list.documents.each do |document|
            .b-slider__item
              = render 'common/items/slider_inner/article', document: document

    - else
      / p Для вывода шаблона необходимо 5 и более документов

