section.b-rubric.b-rubric_slider{ ved-slider data-autoplay='on' }
  .b-rubric__title
    = link_for list
  - if list.documents.count > 2
    .b-slider__paginator
      ul
        - (0..list.documents.count - 1).to_a.each do |index|
          li.b-slider__paginator__item { ng-click = 'goto(#{index})' ng-class='{ active : current_item == #{index} }' }
            .dot

    .b-slider__wrapper { ng-mouseenter='timer_stop()' ng-mouseleave='timer_start()' }
      .b-slider__controls__next
        button { ng-click='next()' }
          i.b-icon.icon-gallery-arrow-right
      .b-slider__controls__prev
        button { ng-click='prev()' }
          i.b-icon.icon-gallery-arrow-left

      ul.b-slider { ng-style="{left: - (current_item + 1) * width + 'px'}" ng-class='class' }
        li.b-slider__item { class='b-slider__item_cloned' }
          = render 'common/items/slider_inner/colored_article', document: list.documents[list.documents.length-1]

        - list.documents.each do |document|
          li.b-slider__item
            = render 'common/items/slider_inner/colored_article', document: document

        li.b-slider__item { class='b-slider__item_cloned' }
          = render 'common/items/slider_inner/colored_article', document: list.documents[0]

    = render 'common/rubric/more', url: list.relative_url
  - else
    / p Для вывода шаблона необходимо 2 и более документов