section.b-rubric.b-rubric_slider.b-multimedia_slider{ ved-slider data-autoplay='on'}
  .b-slider__paginator
    ul
      - list.documents.each_with_index do |document, index|
        li.b-slider__paginator__item { ng-click = 'goto(#{index})' ng-class='{ active : current_item == #{index} }' }
          .dot
  .b-slider__wrapper { ng-mouseenter='timer_stop()' ng-mouseleave='timer_start()' }
    .b-slider__controls__prev { ng-click='prev()' }
      button
        i.b-icon.icon-gallery-arrow-left
    .b-slider__controls__next{ ng-click='next()' }
      button
        i.b-icon.icon-gallery-arrow-right

    ul.b-slider { ng-style="{left: - (current_item + 1) * width + 'px'}" ng-class='class' }
      li.b-slider__item { class='b-slider__item_cloned' }
        = render 'common/items/slider_inner/colored_article', document: list.documents[list.documents.length-1]

      - list.documents.each_with_index do |document, index|
        li.b-slider__item { ng-click = 'goto(#{index})' ng-class='{ active : current_item == #{index} }' }
          = render 'common/items/slider_inner/colored_article', document: document

      li.b-slider__item { class='b-slider__item_cloned' }
        = render 'common/items/slider_inner/colored_article', document: list.documents[0]
