section.b-rubric.b-rubric_small-no-banner
  .b-rubric__inner
    .b-rubric__title = link_for list
    - if list.documents.count < 3
      / p Мало документов
    - else
      = render_item(list.documents[0], 'level1', ['mutate-to-border-bottom', 'mutate-to-padding-bottom'], 'div', list.template, false)
      .b-rubric__1col-inner.b-rubric__1col-inner_mutate-to-3col
        ul
          = render_item(list.documents[1], 'level3', ['padding-bottom', 'mutate-to-padding-top', 'mutate-to-no-padding-bottom'], 'list', list.template, false)
          = render_item(list.documents[2], 'level3', ['border-top', 'padding-top','mutate-to-non-border-top'], 'list', list.template, false)

  = render 'common/rubric/more', url: list.relative_url
