.b-navigator
  display: inline-block
  &.b-navigator--industries
    margin-top: 15px
.b-company__select
  @extend .b-person__select
  vertical-align: middle
  .b-person-index__groups &
    width: 100%
    -ms-text-overflow: ellipsis
    text-overflow: ellipsis
  &.b-company__select-wide
    width: 100%
.b-navigator__label
  display: inline-block
  vertical-align: middle
  margin-right: 12px
.b-company
  .b-company__breadcrumbs
    +font($red_text, $font11, 15, '', '', 900)
    a
      @extend .b-company__breadcrumbs
  .b-company__title
    +font($primary_text, $font5, 36)
    margin: 10px 0
  .b-company__industry
    +font($additional_text2, $font11, 18)

  .b-company__select-tabs
    width: 100%
    margin: 10px 0
  .b-company-tab
    .b-company-tab__title
      +font($red_text, $font11, 21, '', '', 900)
    .b-inset-media-box
      overflow: auto

    .b-spark-logo
      text-align: right
      margin-bottom: 15px

    ul
      list-style: none

      .press-release

.b-company-label
  text-align: right
  border-bottom: $line 1px solid
  padding: 5px 0
  margin-bottom: 15px
  +font($primary_text,$font11, 15)


.b-search__form.b-company-form
  min-height: 40px
  margin: 14px 0 0
  padding: 0
  position: relative
  background-color: transparent
  &.b-company-form--person
    padding-bottom: 14px
    border-bottom: 1px solid $line

  .b-document_company-list--search &
    border: none
    padding: 0
  .b-button_search
    position: absolute
    width: auto
    height: auto
    right: 15px
    top: 10px

  #search_field
    height: 45px
    border: 1px solid $line
    outline: none
    font-weight: bold
    padding-right: 15px
    &:focused
      border-color: $ved_green
  .b-document_company-list &
    padding-right: 0
    padding-left: 0

  label
    font: 15px/21px Arial, sans-serif
    margin-bottom: 10px
    display: inline-block
