.b-document.b-document_info
  .b-text-content
    padding: 20px 15px
  a
    color: $ved_green
.b-select-element
  margin-bottom: 20px
  .b-label
    +font($black, $font6, 20)
    display: inline-block
    vertical-align: middle

  .b-select
    vertical-align: middle
    display: inline-block
    position: relative
    overflow: hidden
    select
      -webkit-appearance: none
      -moz-appearance: none
      -o-appearance: none
      -ms-appearance: none
      appearance: none
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      opacity: 0
  .b-select__text

    display: inline-block
    background: none
    border: none
    border-bottom: $ved_green 1px dotted
    +font($ved_green, $font6, 20)
    outline: none
    &:focus
      outline: none


.b-map
  height: 250px