.b-error
  margin: 21px auto 0
  width: 90%
  text-align: left
  h1
    margin: 0
    -webkit-font-smoothing: antialiased
    padding: 0
    +font($color7, $font7, 32, 32)
    text-align: left
    width: 100%
  p
    margin-top: 50px
    +font($color2, $font5, 17, 21)

  ul
    list-style-type: disc!important
    padding-left: 0
    margin-top: 0

  li
    list-style-position: inside
    +font($color2 ,$font5, 17,21)
    margin-bottom: 10px
    padding-left: 0
  h2
    +font($color2 ,$font6, 22)
    margin : 24px 0 0
    padding: 0

  a, a:hover
    +font($color1 ,$font5, 17,21)
    text-decoration: underline

.b-error__logo
  text-align: center
  margin-top: 28px
  border-bottom: 1px solid $color6
  padding-bottom: 22px
  .logo
    display: inline-block
    width: 278px
    height: 50px
    background-image: inline-image("m/logo.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: 100% 100%
