.b-feedback
  input[type="text"], textarea
    background: #fff
    padding: 9px
    border: 1px solid #e3d1c7

    &:focus
      border: 1px solid $color7

  textarea
    height: 165px

  .b-feedback__title
    font-family: "Roboto Condensed Regular", Helvetica Neue, sans-serif
    font-size: 48px
    font-weight: normal
    line-height: 48px

  .b-feedback__caption
    font-family: "Roboto Condensed Regular", Helvetica Neue, sans-serif
    font-size: 15px
    margin-top: 10px

  .b-feedback__button
    width: 100%
    height: 45px
    line-height: 45px

  .b-feedback__field
    margin-bottom: 15px

  .b-feedback__success
    padding-left: 0
