.multimedia
  .b-list

    .header
      a
        color: #fff
        border-bottom-color: #857871
        span
          display: none

    .title
      a
        color: #fff

    .subtitle
      color: #fff6f1


  .label a
    color: #e3d1c7

  .frame-image
    position: relative

  .image-credits
    font: 21px/24px $font4
    color: #fff

  .scroll
    .dragend-page
      height: auto !important

  .nav
    position: absolute
    top: 10px
    right: 10px
    z-index: 10
    margin: 0

    li
      margin-left: 4px
      width: 13px
      height: 13px
      background: $color4
      display: inline-block
      border-radius: 50%

      &.active
        background-color: #fff6f1

  .scroll-wrapper
    position: relative

.multimedia-top
  background: #544b48
  margin-top: 15px

  .multimedia-top-header
    color: #fff
    font: 24px $font3
    padding: 10px
