.b-person-index
  overflow: hidden
  a,
  b
    display: inline-block
    font: bold 13px/21px Arial, sans-serif
    padding: 0 7px
    border: 1px solid #e3d1c7
    border-radius: 3px
    margin-right: 5px
    text-transform: lowercase
    &:hover
      color: inherit
    
  b
    border: none
    color: #fff
    background: $ved_green
    &:hover
      color: #fff
  
  &.b-person-index__groups
    a, b
      text-transform: none

.b-person-list

  &.with-columns
    -webkit-columns: 3
    -moz-columns: 3
    columns: 3
    +breakpoint(0 $medium)
      -webkit-columns: 2
      -moz-columns: 2
      columns: 2
    
  a
    font: 18px/24px Georgia, Arial, sans-serif
    color: $ved_green
    cursor: pointer
    text-decoration: underline !important

.b-person-letter
  color: #332f2e !important

.b-person-label
  font: 15px/21px Arial, sans-serif

.b-search__form.b-person-form
  min-height: 40px
  padding: 20px 10px
  background-color: transparent
  .b-document_company-list &
    padding-right: 0
    padding-left: 0

  label
    font: 15px/21px Arial, sans-serif
    margin-bottom: 10px
    display: inline-block

.b-person-biography
  font: 18px/30px Arial, sans-serif
  color: #857871
  
.b-document__header.b-document__header_company.b-person-header
  min-height: 70px

.b-person__title
  font: 30px/31px $font5 !important
  color: #312c28
  
.b-person__select
  background: inline-image('m/select-arrow.png') no-repeat right top #fff
  font: bold 21px/45px Arial, sans-serif
  text-transform: lowercase
  width: auto
  height: 45px
  border-color: #e3d1c7
  padding-left: 12px
  padding-right: 45px

.b-person__image
  width: auto
  float: right
  margin: 15px 0 15px 15px

.b-document__header_company
  position: relative
  min-height: 110px
  line-height: 10px

  img
    float: right
    margin-left: 10px

  .breadcrumbs
    display: inline
    +font($ved_red, $font11, 15, 18, inherit, bold)
    a
      +single-transition(color, $time, ease-in-out)
      +font($ved_red, $font11, 15, 18, inherit, bold)
    a:hover
      +font($additional_text2, $font11, 15, 18, inherit, bold)

  .catalog
    +font($black, $font1, 45)

  .title
    display: inline
    +font($black, $font5, 36, 30)

  .subtitle
    display: inline
    +font($additional_text, $font5, 21, 30)
    margin-top: -5px
    padding-bottom: 3px

