.profile

  .profile-title
    text-align: center
    font: 21px/24px $font4

  .profile-avatar
    text-align: center

    img
      margin: 10px 0

  .profile-logout
    margin: 10px auto
    background: #b55757
    border-bottom-color: #934645

  .profile-subscriptions
    margin-top: 30px

    .profile-title
      padding: 20px 0
      border-top: 1px dotted #e3d1c7

    table
      width: 100%

    tr
      border-top: 1px dotted #e3d1c7

      &:last-child
        border-bottom: 1px dotted #e3d1c7

    td, th
      text-align: left
      padding: 5px
      color: $color4
      font: 15px/21px $font1

    th
      color: $color7

  .profile-hint
    margin-top: 30px
    color: $color7
    font-size: 18px

    a
      color: $color1
      text-decoration: underline
