.search

  .search-title
    text-align: center
    padding: 0 10px
    font: bold 22px $font1

  .search-results
    em
      font-style: normal
      background: yellow

  .body
    .label
      span:last-child
        display: none

  .url
    word-break: break-all
