.b-ampersand-bottomline
  border-top: 1px solid $ved_green2
  padding: 25px 0 27px
  margin: 0 20px
  &.b-ampersand-bottomline--release-top
    margin: 0
    .b-ampersand-sharing
      float: none
  .b-ampersand-sharing
    float: right
  .b-ampersand-sharing__icons
    .b-sharing-vk
      display: inline-block
      vertical-align: middle
    .b-sharing-facebook
      @extend .b-sharing-vk
      margin: 0 40px 0 26px
    .b-sharing-twitter
      @extend .b-sharing-vk
      margin: 0 33px 0 0
  .b-ampersand-nav
    margin-right: 0
    display: block
    margin-top: -2px
    .b-ampersand-nav__icon
      width: 23px
      height: 23px
      border: 2px solid $ved_green
      border-radius: 15px
    &.b-ampersand-nav--next
      float: right
      margin: 0 21px 0 0
