.b-ampersand-release
  background: white
  margin: 10px
  .b-ampersand-release__header
    padding: 20px
    .b-release-info
      +font($additional_text2, $font9, 12, 15)
  a.b-ampersand-release__shadow
    width: 100%
    overflow: hidden
    background: #322f2e
    position: relative
    display: block
    .b-ampersand-release__image
      height: 230px
      opacity: .5
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    img
      min-width: 100%
      height: 230px
      opacity: .5

  .b-ampersand-release__title
    position: absolute
    bottom: 13px
    left: 20px
    right: 20px
    color:  white
    +font(white, $font15, 23, 25)

.b-partner-logo
  &.b-partner-logo--big
    margin-bottom: 17px
    img
      max-width: 180px
      max-height: 55px


.b-release-info
  font-size: 15px


.b-ampersand-documents
  ul
    margin: 0
    padding: 20px
    list-style: none
    +font(black, $font13, 17, 25, normal, bold)

    .b-article.b-article_level3
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0

.b-document.b-document--ampersand
  .b-ampersand-release__title
    +font($primary_text, $font15, 23, 25, normal, normal)
    text-align: center
    margin: 27px
  .b-list
    li
      margin: 0 15px 0
      .body
        margin: 0 0 15px
        padding: 0 0 11px
        border-color: $ved_green2
        .title
          +font($primary_text, $font15, 21, 24)
        .subtitle
          +font($primary_text, $font13, 17, 21, normal)
          margin-top: 0
      &.b-announce
        .body
          padding: 0
        .avatar
          width: 100px
          height: 100px
        .info-holder
          left: 115px
      &:first-child
        position: relative
        margin-bottom: 15px
        .body
          position: absolute
          bottom: 0
          margin: 0 10px
          border-bottom: none
          .title
            +font(white, $font15, 23, 25)
            a
              color: white
          .subtitle
            +font(white, $font13, 17, 21, normal)
        .b-main-image
          background: $primary-text
          height: 380px
          overflow: hidden
          img
            width: auto
            min-width: 100%
            min-height: 380px
            opacity: 0.5

  .message.bottom
    background: white
    border: none
    margin-top: 25px
    &:after, &:before
      border-color: transparent transparent transparent white