.b-page--ampersand
  .b-announce .label
    display: none
  .b-announce .info-holder
    padding-top: 0
  .info .job
    +font($additional_text, $font9, 12, 15)
.b-document_article.b-document_advert_article
  .title
    +font($primary_text, $font13, 24, 25, normal, bold)
  .subtitle
    margin-top: 10px
    margin-bottom: 3px
    +font($primary_text, $font15, 19, 23, italic, normal)
  .title, .subtitle
    text-align: left
  .b-button__social__wrapper
    display: none

  &.b-document.b-document_advert_article
    p
      +font($primary_text, $font13, 17, 21)
      &.question
        font-weight: bold
