.b-header.b-header--ampersand
  height: auto
  +transition(top $time ease-in-out)
  .b-header__container
    height: 95px
    border-bottom: 1px solid $line
  &.b-header--main
    .b-header__container
      background: image-url('ampersand.jpg')
      background-size: cover
      border-bottom: none
    .b-header__line
      border-bottom: none
  .b-ampersand-logo
    padding: 22px 0 0 15px
    display: block
  .b-header__line
    margin: 0 10px
    border-bottom: 1px solid $ved_green
    overflow: hidden
  .b-release-info
    text-align: right
    float: right
    font-family: $font9
    line-height: 15px
    font-size: 12px
    margin-top: 20px
  .b-partner-logo
    text-align: left
    margin: 18px 0 16px
    img
      max-width: 180px
      display: block

  &.is-active
    top: 0
    position: fixed
    width: 100%
    z-index: 214748361
    overflow: auto