- render_title('Восстановление пароля')

- if @success
  .b-message
    h1
      | Проверьте
      br
      | Вашу почту
    .text Вам отправлено письмо. Для восстановления пароля, пройдите по ссылке в письме и введите новый пароль. Убедитесь, что письмо не попало в спам и проверьте, что адрес noreply@vedomosti.ru не заблокирован.

    .back= link_to 'Вернуться на vedomosti.ru', root_path
- else
  .b-part
    | Восстановление пароля
    = link_to '', root_path, class: 'back'

  .b-form
    .help Укажите Вашу почту и мы отправим Вам ссылку для сброса пароля

    = form_for @email_form, url: '/password_reset' do |f|
      .group
        = f.label :email, 'E-mail*'
        = f.text_field :email
        - if @email_form.errors[:email].present?
          .error= @email_form.errors[:email].first

      .actions
        = f.submit 'Отправить'
