.b-oauth-links
  .title Быстрый вход через соц. сети
  .links
    button.b-icon.facebook type='button' onClick='window.location.href="/auth/facebook"'
    button.b-icon.twitter type='button' onClick='window.location.href="/auth/twitter"'
    button.b-icon.vkontakte type='button' onClick='window.location.href="/auth/vkontakte"'
