- render_title('Изменение пароля')

- if @check_token_success
  - if @success
    .b-message
      h1
        | Пароль
        br
        | изменен
      .text Пароль успешно обновлён. Вы можете войти в систему используя новые данные.

      .back= link_to 'Вернуться на vedomosti.ru', root_path
  - else
    .b-part
      | Изменение пароля
      = link_to '', root_path, class: 'back'

    .b-form
      .help Введите новый пароль и повторите его еще раз.

      = form_for @password_form, url: password_send_path do |f|
        .group
          = f.label :password, 'Пароль*'
          = f.password_field :password
          - if @password_form.errors[:password].present?
            .error= @password_form.errors[:password].first

        .group
          = f.label :password_confirmation, 'Повторите пароль*'
          = f.password_field :password_confirmation
          - if @password_form.errors[:password_confirmation].present?
            .error= @password_form.errors[:password_confirmation].first

        .actions
          = f.submit 'Сменить пароль'
- else
    .b-part
      | Изменение пароля
      = link_to '', root_path, class: 'back'

    .b-form
      .help Неправильный токен сброса пароля.
