- render_title('Регистрация')

.b-part
  | Регистрация
  = link_to '', root_path, class: 'back'

.b-form

  = form_for @registration_form, url: sign_up_with_password_path do |f|
    .group
      = f.label :email, 'E-mail*'
      = f.text_field :email
      - if @registration_form.errors[:email].present?
        .error= @registration_form.errors[:email].first

    .group
      = f.label :password, 'Пароль*'
      = f.password_field :password
      - if @registration_form.errors[:password].present?
        .error= @registration_form.errors[:password].first

    .group
      = f.label :password_confirmation, 'Повторите пароль*'
      = f.password_field :password_confirmation
      - if @registration_form.errors[:password_confirmation].present?
        .error= @registration_form.errors[:password_confirmation].first

    .group
      = f.label :first_name, 'Фамилия*'
      = f.text_field :last_name
      - if @registration_form.errors[:last_name].present?
        .error= @registration_form.errors[:last_name].first

    .group
      = f.label :last_name, 'Имя*'
      = f.text_field :first_name
      - if @registration_form.errors[:first_name].present?
        .error= @registration_form.errors[:first_name].first

    .group
      = f.label :nickname, 'Ник'
      = f.text_field :nickname
      - if @registration_form.errors[:nickname].present?
        .error= @registration_form.errors[:nickname].first

    .group
      = f.label :phone, 'Телефон*'
      = f.text_field :phone
      - if @registration_form.errors[:phone].present?
        .error= @registration_form.errors[:phone].first

    = f.hidden_field :rules, value: '1'

    .actions
      = f.submit 'Зарегистрироваться'
