- unless Rails.env.development?
= render 'chunks/gtm'
= render 'chunks/boom'
= render 'chunks/yandex'
= render 'chunks/ga'
= render 'chunks/tns'
= render 'chunks/rambler_top_100'
= render 'chunks/rating_mailru'

