javascript:
  var params = [],
      docId = #{@document.present? && @document.id.present? ? @document.id : 'null' },
      authors = #{authors_for_tags};

  if ( cookie.get('new_visitor') === '1' ) params.push({ first_visit: true });

  if (docId) params.push({ doc_id: docId });
  params.push({ pay_required: #{@document.present? && @document.pay_required?} });

  if (authors.length) params.push(authors);

  //определение adblock
  if (window.canRunAds === undefined) {
    params.push({adblock: true})
  }
  params.push({
    owl_state: window.owl_state
  });
  params.push({
    owl_status: window.owl_status
  });
  params.push({
    owl_reason: window.owl_reason
  });
  privatModeClass.subscribe(function(is_private){
    if (is_private) {
      params.push({ incognito: true });
    } 
    fire_event(params);
  });
