/ Adriver fullscreen
- if Settings.adverts.enabled && ( defined?(condition).nil? || ( !defined?(condition).nil? && condition ) )
  - if id == 23
    - onScroll = true
  - else
    - onScroll = false
  .b-banner.adriverBanner{id="b#{id}"}
    
  javascript:
    if (document.referrer.indexOf('news.yandex') == -1 &&
      document.referrer.indexOf('news.google') == -1 &&
      document.referrer.indexOf('go.mail') == -1 &&
      document.referrer.indexOf('nova.rambler') == -1 &&
      document.referrer.indexOf('news.rambler') == -1 &&
      document.referrer.indexOf('news.mail') == -1) {
        new adriver('b#{id}', {
          sid:203445,
          bt: 52,
          bn: #{id},
          custom: adriver_custom,
          onScroll: #{onScroll}
        });
      }
