<% if current_page?(root_path) %>
  <!-- tns-counter.ru -->
  <script type="text/javascript">
    (function(win, doc, cb){
      (win[cb] = win[cb] || []).push(function() {
        try {
          tnsCounterImbusiness_ru = new TNS.TnsCounter({
          'account':'imbusiness_ru',
          'tmsec': 'vedomosti_title'
          });
        } catch(e){}
      });

      var tnsscript = doc.createElement('script');
      tnsscript.type = 'text/javascript';
      tnsscript.async = true;
      tnsscript.src = ('https:' == doc.location.protocol ? 'https:' : 'http:') + 
        '//www.tns-counter.ru/tcounter.js';
      var s = doc.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(tnsscript, s);
    })(window, this.document,'tnscounter_callback');
  </script>
  <noscript>
    <img src="//www.tns-counter.ru/V13a****imbusiness_ru/ru/UTF-8/tmsec=vedomosti_title/" width="0" height="0" alt="" />
  </noscript>
  <!--/ tns-counter.ru -->
<% else %>
  <!-- tns-counter.ru -->
  <script type="text/javascript">
    (function(win, doc, cb){
      (win[cb] = win[cb] || []).push(function() {
        try {
          tnsCounterImbusiness_ru = new TNS.TnsCounter({
          'account':'imbusiness_ru',
          'tmsec': 'vedomosti_other'
          });
        } catch(e){}
      });

      var tnsscript = doc.createElement('script');
      tnsscript.type = 'text/javascript';
      tnsscript.async = true;
      tnsscript.src = ('https:' == doc.location.protocol ? 'https:' : 'http:') + 
        '//www.tns-counter.ru/tcounter.js';
      var s = doc.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(tnsscript, s);
    })(window, this.document,'tnscounter_callback');
  </script>
  <noscript>
    <img src="//www.tns-counter.ru/V13a****imbusiness_ru/ru/UTF-8/tmsec=vedomosti_other/" width="0" height="0" alt="" />
  </noscript>
  <!--/ tns-counter.ru -->
<% end %>
