= render_banner Settings.banners.dblclick.leaderboard_tech, 970, 150
= render_banner Settings.banners.dblclick.leaderboard_tech_2, 970, 150
= render_block "/includes/big_photo"
- if @document.has_rubric?
  = render_exclude_css(@document)
  - if @document.has_story?
    = render_block "/includes/also_in_story/#{@document.story.slug}"
  -else
    = render_block "/includes/also_in_rubric/#{@document.rubric.slug}"
= render_banner Settings.banners.dblclick.line, 970, 150
= render_banner Settings.banners.dblclick.tgb4, 970, 50
= render_banner Settings.banners.dblclick.smi2, 970, 50
/= render_banner Settings.banners.dblclick.smi2_2, 970, 50
= render_banner Settings.banners.dblclick.media_metrics, 970, 50
= render_banner Settings.banners.dblclick.anews, 970, 50
/= render_banner Settings.banners.dblclick.interfax, 970, 50
= render_banner Settings.banners.dblclick.tgb1, 970, 50