/= render_block '/includes/popular24'
= render_block "/includes/big_photo"
/= render_banner Settings.banners.dblclick.line, 970, 150
/= render_banner Settings.banners.dblclick.tgb4, 970, 50
/= render_banner Settings.banners.dblclick.smi2, 970, 50
= render_banner Settings.banners.dblclick.smi2_2, 970, 50
/= render_banner Settings.banners.dblclick.finam, 970, 50
= render_banner Settings.banners.dblclick.interfax, 970, 50
/= render_banner Settings.banners.dblclick.tgb1, 970, 50
= render_banner Settings.banners.dblclick.media_metrics_news, 970, 50