- if Settings.adverts.enabled && ( defined?(condition).nil? || ( !defined?(condition).nil? && condition ) )
  - if id == 23
    - onScroll = true
  - else
    - onScroll = false
  .b-banner.adriverBanner{id="b#{id}"}
  javascript:
    new adriver('b#{id}', { sid:203445, bt: 52, bn: #{id}, custom: adriver_custom, onScroll: #{onScroll} });
