.fixed-header
  - if defined?(url) && label.present?
    .b-part
      == label
      = link_to '', url, class: 'back', :target => '_self'
      span#menuToggler.b-part-menu-icon
  - else
    .b-header
      span#menuToggler.b-header-menu-icon
      = link_to '', root_path, class: 'b-header-logo-icon', :target => '_self'
      span#searchToggler.b-header-search-icon
      = link_to '', "#{Settings.hosts.lago}/", class: 'b-header-auth-icon'
  = render 'm/blocks/menu'

  - if !defined?(hide_search)
    = render 'm/blocks/searchbar'
