= 'Обновлено '
- if Time.parse(@document.datetime_and_flag).strftime('%Y%m%d') != @document.published_at.strftime('%Y%m%d')
  = Russian::strftime(Time.parse(@document.datetime_and_flag), "%d %B").strip
  - if  Time.parse(@document.datetime_and_flag).strftime('%Y') != Time.now.strftime('%Y') || Time.parse(@document.datetime_and_flag).strftime('%Y') != @document.published_at.strftime('%Y')
    = Time.parse(@document.datetime_and_flag).strftime(' %Y ')
- else
  = Time.parse(@document.datetime_and_flag).strftime(' в %H:%M')