-if @subrubric
  - render_title("#{@subrubric.title} - Новости")
  = render 'm/blocks/caption_and_menu'
  = render_block '/includes/redline'
- if defined?(banner).nil? then banner = false
ul.b-list
  - documents = list.kind_of?(Array) ? list : list.documents

  - if !list.kind_of?(Array) && list.has_header?
    li.header
      - if list.has_relative_url?
        = link_to list.relative_url do
          = list.header
          span
      - else
        a= list.header
  - documents.each_with_index do |document, index|
    - if defined?(list.template)
      - rubric_template = list.template
    - else
      - rubric_template = 'main'
    = render_if_exist "m/blocks/types/#{name_for_item(document)}", document: document, index: index, rubric_template: rubric_template 
