ul.b-menu#menu
  li{class=('active' if current_page?(root_path))}=link_to 'Главное', root_path, :target => '_self'
  li{class=('active' if current_page?('/newsline'))}=link_to 'Новости', '/newsline', :target => '_self'
  li{class=('active' if current_page?('/rubrics/business'))}=link_to 'Бизнес', '/rubrics/business', :target => '_self'
  li{class=('active' if current_page?('/rubrics/economics'))}=link_to 'Экономика', '/rubrics/economics', :target => '_self'
  li{class=('active' if current_page?('/rubrics/finance'))}=link_to 'Финансы', '/rubrics/finance', :target => '_self'
  li{class=('active' if current_page?('/rubrics/opinion'))}=link_to 'Мнения', '/rubrics/opinion', :target => '_self'
  li{class=('active' if current_page?('/library/characters'))}=link_to 'Действующие лица', '/library/characters', :target => '_self'
  li{class=('active' if current_page?('/library/investigations'))}=link_to 'Расследования', '/library/investigations', :target => '_self'
  li{class=('active' if current_page?('/rubrics/politics'))}=link_to 'Политика', '/rubrics/politics', :target => '_self'
  li{class=('active' if current_page?('/rubrics/technology'))}=link_to 'Технологии', '/rubrics/technology', :target => '_self'
  li{class=('active' if current_page?('/rubrics/realty'))}=link_to 'Недвижимость', '/rubrics/realty', :target => '_self'
  li{class=('active' if current_page?('/rubrics/auto'))}=link_to 'Авто', '/rubrics/auto', :target => '_self'
  li{class=('active' if current_page?('/rubrics/management'))}=link_to 'Менеджмент', '/rubrics/management', :target => '_self'
  li{class=('active' if current_page?('/rubrics/lifestyle'))}=link_to 'Стиль жизни', '/rubrics/lifestyle', :target => '_self'
  li{class=('active' if current_page?('/companies'))}=link_to 'Справочник компаний', '/companies', :target => '_self'
  // li{class=('active' if current_page?('/people'))}=link_to 'Справочник персон', '/people', :target => '_self'
  li= link_to 'Конференции', 'http://info.vedomosti.ru/events/'
  li
    b{class=('active' if current_page?('/parts/galleries'))}=link_to 'Фото', '/parts/galleries', :target => '_self'
  li
    b{class=('active' if current_page?('/parts/video'))}=link_to 'Видео', '/parts/video', :target => '_self'
  li
    b{class=('active' if current_page?('/parts/test'))}=link_to 'Тесты', '/parts/test', :target => '_self'
  li
    b{class=('active' if current_page?('/newspaper/last'))}
      a{ href='/newspaper/last' targer='_self'}
        | Газета
        .b-icon.small.newspaper-lock-icon.ng-cloak{ng-hide="paywall_options.owl_reason != 'not_subscriber'"}
  li{class=('active' if current_page?('/partner'))}=link_to ' Ведомости&', '/partner', :target => '_self'
  li.b-menu__last-but-one = link_to 'Мобильная подписка', '/mobile/', :target => '_self'

  li
    = render_block "/includes/long_cache/user_profile/$owl_state/$cookie_access_token"

