- if defined?(header)
  .multimedia-top-header= header

.scroll-wrapper

  ul.nav
    - list.documents.size.times do |index|
      - index = index + 1
      li{data-page="#{index}" class=("active" if index == 1)}

  .scroll#multimediaTop{data-gallery-id="#{if defined?(gallery_box.id) then gallery_box.id else 1}"}
    - list.documents.each_with_index do |frame, index|
      a.frame.dragend-page{href="//#{frame.url}"}
        - if frame.has_image? && frame.image.has_version?(:mobile_high)
          .frame-image
            = image frame.image.mobile_high.url, frame.title, 'b-main-image'
            span.b-part-icon{class="b-part-icon_#{frame.categories.parts.slug}"}
        .image-credits= frame.title  
