ul.b-list
  li.header
    = link_to "Новости", "/newsline/#{params[:rubric_slug]}"

ul.b-news-list.b-news-list_main
  - @news.take(3).each_with_index do |item, index|
    li
      span.time= l item.published_at, format: :time_only
      = link_to item.title, relative_link(item.url)

= link_to "/newsline/#{params[:rubric_slug]}", class: 'b-to-news' do
  | Все новости
  span