-if (defined?(freeeze)).nil?
  - freeeze = true
  - horisontal_class = 'b-button__social__wrapper_horizontal'
- else
  - horisontal_class = ''
.b-button__social__wrapper.no-print {class="#{horisontal_class}"}
  - no_socials = defined?(no_socials).nil? ? false : no_socials

  ul{social-counters='' social-counters-url="#{@document.url ? @document.url : ''}" social-counters-id="#{@document.id ? @document.id : ''}"}
    li.b-buttons__social__item
      a href="#{sharing_facebook_link(@document)}" onclick="window.open('#{sharing_facebook_link(@document)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "
        .b-button.b-button__social_fb
          .b-icon.icon-social-fb
            span.b-button--social__counter.ng-show.ng-cloak = '{{fb}}'
    li.b-buttons__social__item
      a href="#{sharing_vk_link(@document)}" onclick="window.open('#{sharing_vk_link(@document)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "
        .b-button.b-button__social_vk
          .b-icon.icon-social-vk
            span.b-button--social__counter.ng-show.ng-cloak = '{{vk}}'
    li.b-buttons__social__item
      a href="#{sharing_twitter_link(@document)}" onclick="window.open('#{sharing_twitter_link(@document)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "
        .b-button.b-button__social_twitter
          .b-icon.icon-social-twitter
            span.b-button--social__counter.ng-show.ng-cloak = '{{twitter}}'
