.b-story
  a{href="//#{story.url}"}
    - if defined?(story.image.mobile_low)
      = image_tag 'https://' + Settings.hosts.agami + story.image.mobile_low.url, class: 'image'
    .text
      p.category Сюжет
      span.title #{story.title}
