.b-document__header

  /газетный заголовок
  = render 'document/subrubric_newspaper'

  /заголовок
  h1.title = @document.title

  /подзаголовок
  - if @document.has_newspaper_subtitle? && !@document.has_rubrics?
    .subtitle== @document.newspaper_subtitle


  /время-источник
  .b-document__data

    time.pubdate.pubdate--no-border{datetime='#{@document.published_at}' pubdate='#{@document.published_at}' }
      - if @document.has_published_at?
        span.b-published_at_time #{Russian::strftime(@document.published_at, "%d %B").strip}
        - if  @document.published_at.strftime('%Y') < Time.now.strftime('%Y')
          = @document.published_at.strftime(' %Y ')
        b
          = Russian::strftime(@document.published_at, " %H:%M")
  - if @document.has_subtitle?
    .subtitle== @document.subtitle

  - if @owl_status == 'ok'
    = render 'common/social_icons', freeeze: false

  - if !@document.editorial?
    /картинка
    = render 'document/image'

.b-document__body.b-social__layout-mutation
  = render partial: 'document/box', collection: boxes_with_links(@document)
