.b-document__header.b-document__header_gallery
  = render 'document/subrubric'

  /заголовок
  h1.title = @document.title

  - if @document.has_subtitle?
    .subtitle== @document.subtitle

  time.time{datetime='#{@document.published_at}' pubdate='#{@document.published_at}' }
    - if @document.has_published_at?
      = link_to @document.published_at.strftime('/archive/%Y/%m/%d')
        = Russian::strftime(@document.published_at, "%d %B").strip
        - if  @document.published_at.strftime('%Y') != Time.now.strftime('%Y')
          = @document.published_at.strftime(' %Y ')
        b
          = Russian::strftime(@document.published_at, " %H:%M")
    - if @document.has_datetime_and_flag?
      - if @document.datetime_and_flag!=''
        span
          = render 'common/edit_date'

  = render 'common/social_icons'

  - if @document.has_announce?
    .announce
      = @document.announce

- @document.boxes.each do |box|
  - if 'gallery' == box.type
    = render_gallery(box.id, box.children, 'thumbs')
