.b-document__header
  /газетный заголовок
  - if @document.has_categories? && @document.categories.has_parts?
    .b-document__header__subrubric
      = link_to @document.categories.parts.title, "#{part_path(@document.categories.parts.slug)}", :target => '_self'
  /заголовок
  h1.title = @document.title

  /подзаголовок
  - if @document.has_subtitle?
    .subtitle== @document.subtitle

  /время-источник
  .b-document__data

    time.pubdate{datetime='#{@document.published_at}' pubdate='#{@document.published_at}'  class="#{ @document.has_authors? ? '' : 'pubdate--no-border'}"}
      - if @document.has_published_at?
        = link_to @document.published_at.strftime('%d.%m.%Y'), "#{@document.published_at.strftime('/archive/%Y/%m/%d')}", :target => '_self'
        - if @document.has_source_title?
          = link_to @document.source_title, @document.source_url, class: 'link', :target => '_self'

    /список авторов
    - if @document.has_authors?
      = render 'document/breadcrumbs', authors: @document.authors
  .b-test-social#sharingButtons
    = render 'common/social_icons', no_comments: true, no_printer: true
javascript:
  if (window.location.href.indexOf('/r1') > -1)
    document.getElementById('sharingButtons').style.display = 'none';
  preview = "#{@preview.nil? ? false : true}";
  id = "#{@document.id}";
  var testObj = #{@test_json.to_json.html_safe} ;

  var documentUrl = "#{@document.url}";
  testObj.step = "#{@step}";
  testObj.id = "#{@document.id}";
  testObj.testUrl = documentUrl.replace("vedomosti.ru","");
  if ((preview == 'true')&&(testObj.testUrl.indexOf('preview/tests')==-1))
  {
    console.log(testObj.testUrl)
   testObj.testUrl = '/preview/tests/' + id;
  }
- if @document.has_image? && @document.image.has_version?(:default)
  javascript:

    testObj.mainImg = "//#{Settings.hosts.agami}"+ "#{@document.image.default.url}";

.b-document__body
  .b-tests {tests tests-title="#{@document.title}"}
  - if @document.has_copyright?
    .b-test__copyright = @document.copyright