.b-document__header.b-document__header_video

  = render 'document/subrubric'

  /заголовок
  h1.title = @document.title

  - if @document.has_subtitle?
    h2.subtitle== @document.subtitle

  = render 'common/social_icons'

  .time
    = link_to @document.published_at.strftime('%d.%m.%y'), "#{@document.published_at.strftime('/archive/%Y/%m/%d')}"

.b-document__body.b-document__body_video
  = render partial: 'document/box', collection: @document.boxes
