# Инициализируем приложение Sea
# ![море](https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Warrenpoint_red_sky.jpg/350px-Warrenpoint_red_sky.jpg)
if true == window.html5mode || window.testObj?
  Sea = angular.module 'Sea', ['ngRoute', 'ngAnimate', 'shared', 'ui', 'formControllers', 'settings', 'templates', 'LocalStorageModule', 'ngCookies', 'ui.bootstrap', 'placeholderShim', 'pickadate', 'offClick', 'angularSmoothscroll', 'angular-md5']

  Sea.config ($routeProvider, $locationProvider, seaSettings) ->
    #включает html5mode для newsline
    $locationProvider.html5Mode(true)
else
  Sea = angular.module 'Sea', ['ngAnimate', 'shared', 'ui', 'formControllers', 'settings', 'templates', 'LocalStorageModule', 'ngCookies', 'ui.bootstrap', 'placeholderShim', 'pickadate', 'offClick', 'angularSmoothscroll', 'angular-md5']

# инициализируем контроллер приложения
Sea.controller 'seaController',($scope, $rootScope, $location, $http, $compile, $window, $timeout)->
  #пользовательские данные
  $scope.user_options = $window.user_options
  #информация от bubo
  $scope.paywall_options = paywall_options;
  #меню авторизации
  $scope.user_profile =
    close: ->
      $scope.$emit 'user_profile.close'

  # фактически - контроллер nesline
  if window.location.toString().indexOf('newsline') > -1
#    $scope.newsline_load_button_visibility = true

    $rootScope.$on 'blueShark.load', ->
      current_newsline = $('.b-document_newsline').data('current')
      $('.b-rubric_news li').each ->
        if $(@).data('id') == current_newsline
          $scope.$emit 'newsline.open', current_newsline
          $(@).trigger('click')
          #$scope.$emit 'blueShark.jump_to', Math.max 0, $(@).offset().top - 200
          return false
Sea.service 'Ga', ->
  (params, command = ['send', 'event']) ->
    if window.ga?
      ga command..., params...
      true
    else
      false
Sea.filter 'slice', ->
  return (arr, start, end) ->
    return (arr || []).slice(start, end)
Sea.filter 'uri', ->
  return (url) ->
    expression = /^(.*:)\/\/([a-z\-.]+)(:[0-9]+)?(.*)$/
    #спасибо парням за ужасный формат ссылок!!
    return expression.exec("http://#{url}")[4]
Sea.filter 'relativeLink', ->
  return (url) ->
    if url.indexOf('vedomosti.ru')==0
      url.replace(/(http:\/\/(www.)?)?vedomosti.ru/, '')
Sea.filter 'reverse', ->
  return (items) ->
    return items.slice().reverse()

Sea.filter 'unsafe', ($sce) ->
  return (data) ->
    return $sce.trustAsHtml(data)

Sea.filter 'num2str', ()->
  return (n, text_forms)->
    n2 = Math.abs(n) % 100
    n1 = n % 10
    if (n2 > 10 && n2 < 20)
      return "#{n} #{text_forms[2]}"
    if (n1 > 1 && n1 < 5)
      return "#{n} #{text_forms[1]}"
    if (n1 == 1)
      return "#{n} #{text_forms[0]}"
    return "#{n} #{text_forms[2]}"

#привет из того времени когда некоторые старые ссылки приходили с http
Sea.filter 'replaceHttp', ()->
    return (url) -> url.replace('http://', '')

if true == window.render_document || window.location.toString().indexOf('newspaper') > -1
  Sea.run ($rootScope, $location, $timeout, $sce, seaSettings) ->

    $rootScope.hosts =
      metynnis : seaSettings.metynnis_url

    if window.paywall && window.paywall.length > 0
      $rootScope.paywall = window.paywall
      #кладем куку, связанную с последним шагом подписки
      now = new Date()
      time = now.getTime()
      time += 3600 * 1000
      now.setTime(time)
      cookie.set('buy_return_to', window.location.href, { expires: now.toUTCString(), path: '/', 'domain':  "<%= Settings.cookie_domain %>" })

      $rootScope.state =
        loading: false
        #автоплатеж
        buyAutopayment:
          enabled: true
          message: ''
          update: (product)->
            if product.texts.autopayment != ''
              @.enabled = true
              @.message = $sce.trustAsHtml(product.texts.autopayment)
            else
              @.enabled = false
              @.message = ''
        #переключалки пейвола
        buyPaywall:
          enabled: true
          product: 'product1'
          setProduct: (product)->
            @.product = product

        buyError:
          enabled: false

        #отправка подписки
        buySubmit:
          checkbox:
            enabled: false
          button:
            enabled: false
          cash_text:
            enabled: false
          checkEnabled: ->
            @.button.enabled = !!($rootScope.state.buyProduct.message.visibility == false && @.checkbox.enabled == true)
          clear: ->
            @.button.enabled = false
            @.checkbox.enabled = false

        buyPayment:
          current: {}

        buyProduct:
          message:
            visibility: false

      if $rootScope.paywall
          $rootScope.state.buyAutopayment.message = $sce.trustAsHtml($rootScope.paywall[0].texts.autopayment)
          $rootScope.state.buyPayment.current = 'card'
          $rootScope.paymentKit = $rootScope.paywall[0]
      else
        $rootScope.state.buyAutopayment.message = ''
        $rootScope.state.buyPayment.current = ''
        $rootScope.paymentKit = {}


