$(document).ready ->
#  проставляет куку для последнего шага подписки
  now = new Date()
  time = now.getTime()
  time += 3600 * 1000
  now.setTime(time)

  $("a[href='http://<%= Settings.hosts.metynnis %>']").click ->
    cookie.set 'buy_return_to', window.location.href, { expires: now.toUTCString(), path: '/', 'domain':  "<%= Settings.cookie_domain %>" }