// настройки приложения
angular.module('settings',[])
.constant('seaSettings',{
            medium: 1279,
            time2: 500,
            agami_url: "//<%= Settings.hosts.agami %>",
            shark_url: "//<%= Settings.hosts.shark %>",
            hawk_url: "<%= Settings.hosts.hawk %>",
            lago: "<%= Settings.hosts.lago %>",
            regulus_url: '//www.vedomosti.ru/api/v1/search/documents/published',
            user_check_url: '//<%= Settings.hosts.shark %>/check_ed.txt',
            comments_widget_id: <%= Settings.comments.widget_id %>,
            metynnis_url: "//<%= Settings.hosts.metynnis %>",
            puffin_url: "<%= Settings.hosts.puffin%>",
            prefix: '!',
            materials: ['article', 'quote', 'column', 'blog', 'character'],
            media_banner: '/136502702/Banner-300x600',
            fullscreen_banner: '/136502702/Banner_300x600_galleriesfullpage',
            announce_banner: '/136502702/Banner_300x250_media',
            list_banner: '/136502702/Banner_300x600_2'
        }
);

//transition
//$time: 0.15s
//$time2: 0.5s
//$time3: 0.3s
//transition
