header.b-header.b-header--ampersand {class="#{!defined?(partner) ? 'b-header--main' : ''} #{defined?(fixed) ? 'b-header--fixed ng-cloak' : ''}" ved-header-fixed = defined?(fixed) ng-show=('header_fixed.visible' if defined?(fixed)) ved-sticky=defined?(partner) }
  .b-header__logo
    .b-svg.b-svg--logo

  .b-header__container
    - if defined?(partner)
      a.b-ampersand-logo.b-ampersand-logo--black {href='/partner'}
        .b-svg.b-svg--logo-black
    - else
      .b-ampersand-logo.b-ampersand-logo
        .b-svg.b-svg--logo-white
  .b-header__line
    - if defined?(partner) && partner.has_partner_logo?
      .b-release-info
        div = "Номер #{partner.release_number}"
        div = "#{Russian::strftime(partner.published_at, '%d %B %Y')}"
      .b-partner-logo
        = responsive_image_tag partner.partner_logo, [{type: :small, size: '1x'}, {type: :big, size: '2x'}]
  - if defined?(partner) && !defined?(fixed)
  .b-course.b-course--hidden