.b-ampersand-bottomline {class="#{defined?(modificator) ? 'b-ampersand-bottomline--'+modificator : ''}"}

  - if defined?(modificator) && modificator=='release-top'
    a.b-ampersand-nav.b-ampersand-nav--next {href="#{relative_link(release.url)}"}
      .b-ampersand-nav__icon
        .b-svg.b-svg--next
  .b-ampersand-sharing
    .b-ampersand-sharing__icons
      a.b-sharing-facebook {href="#{sharing_facebook_link(release)}" onclick="window.open('#{sharing_facebook_link(release)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "}
        .b-svg.b-svg--facebook
      a.b-sharing-twitter {href="#{sharing_twitter_link(release)}" onclick="window.open('#{sharing_twitter_link(release)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "}
        .b-svg.b-svg--twitter
      a.b-sharing-vk {href="#{sharing_vk_link(release)}" onclick="window.open('#{sharing_vk_link(release)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "}
        .b-svg.b-svg--vk

  - if !(defined?(modificator) && modificator=='release-top')

    a.b-ampersand-nav {href="#{release.has_links? && !release.links[:ampersand].empty? ?  relative_link(release.links[:ampersand][0].bound_document.url) : '/partner'}"}
      .b-ampersand-nav__icon
        .b-svg.b-svg--prev