ul.b-paginator.broadcast-paginator

  - pages_count = @document.boxes.count / @PER_PAGE
  - is_first_page = @current_page <= 1
  - is_last_page = (@current_page > (pages_count) && (@document.boxes.count % @PER_PAGE != 0)) || (@current_page >= (pages_count) && (@document.boxes.count % @PER_PAGE == 0))
  - url = relative_link(@document.url)
  - visible_pagination_items = 3
  - first_brief = true
  
  li{class="#{is_first_page ? 'disabled' : ''}"}
    - if (@current_page - 1) == 0
      a.b-broadcast-pagination-link{href="#"} «
    - else
      a.b-broadcast-pagination-link{href="#{url}/p1"} «
    
  li{class="#{is_first_page ? 'disabled' : ''}"}
    - if (@current_page - 1) == 0
      a.b-broadcast-pagination-link{href="#"} ‹
    - else
      a.b-broadcast-pagination-link{href="#{url}/p#{@current_page - 1}"} ‹
    
  - for i in (1..pages_count)
    - if (@current_page - visible_pagination_items >= i) 
      - if first_brief
        li
          a.b-broadcast-pagination-link{href="#{url}/p#{@current_page - visible_pagination_items}"} ...
        - first_brief = false  
      - next
      
    - if (@current_page + visible_pagination_items == i) 
      li
        a.b-broadcast-pagination-link{href="#{url}/p#{@current_page + visible_pagination_items}"} ...
        - break
    
    li{class="#{i == @current_page ? 'active' : ''}"}
      a.b-broadcast-pagination-link{href="#{url}/p#{i}"}= "#{i}"
        
    - if i == pages_count && @document.boxes.count % @PER_PAGE != 0 
      li{class="#{is_last_page ? 'active' : ''}"}
        a.b-broadcast-pagination-link{href="#{url}/p#{1 + pages_count}"} 
          = "#{1 + pages_count}"

  li{class="#{is_last_page ? 'disabled' : ''}"}
    - if is_last_page
      a.b-broadcast-pagination-link{href="#"} ›
    - else
      a.b-broadcast-pagination-link{href="#{url}/p#{@current_page + 1}"} ›
    
  li{class="#{is_last_page ? 'disabled' : ''}"}
    - if is_last_page
      a.b-broadcast-pagination-link{href="#"} »
    - else
      - if @document.boxes.count % @PER_PAGE != 0
        a.b-broadcast-pagination-link{href="#{url}/p#{1 + pages_count}"} »
      - else 
        a.b-broadcast-pagination-link{href="#{url}/p#{pages_count}"} »
