/шаблон документа
- document_template = name_for_document(@document)
/формирование title для страницы
- if 'gallery' == document_template
  - render_title("ФOTO - #{@document.title}")
- elsif 'video' == document_template
  - render_title("ВИДЕО - #{@document.title}")
- else
  - render_title(@document.title)

/стиль для выкусывая элемента в также в рубрике
= render_exclude_css(@document)

/документ
.b-document{class="b-document_#{document_template}"}

  /левая часть
  .b-document__left

    .b-document__header
      /газетный заголовок
      = render 'document/subrubric_newspaper'

      /заголовок
      h1.title = @document.title

      /подзаголовок
      - if @document.has_newspaper_subtitle? && !@document.has_rubrics?
        h2.subtitle== @document.newspaper_subtitle
      - if @document.has_subtitle?
        h2.subtitle== @document.subtitle

      /= render 'common/addthis'
       /время-источник
      .b-document__data

        time.pubdate.pubdate--no-border{datetime='#{@document.published_at}' pubdate='#{@document.published_at}' }
          - if @document.has_published_at?
            = link_to "#{@document.published_at.strftime('/archive/%Y/%m/%d')}"
              span.b-published_at_time #{Russian::strftime(@document.published_at, "%d %B").strip}
              - if  @document.published_at.strftime('%Y') < Time.now.strftime('%Y')
                = @document.published_at.strftime(' %Y ')
            b
              = Russian::strftime(@document.published_at, " %H:%M")
            - if @document.has_datetime_and_flag?
              - if @document.datetime_and_flag!=''
                br
                i.b-published_at_time
                  = 'Обновлено '
                  - if Time.parse(@document.datetime_and_flag).strftime('%Y%m%d') != Time.now.strftime('%Y%m%d')
                    = Russian::strftime(Time.parse(@document.datetime_and_flag), "%d %B").strip
                    - if  Time.parse(@document.datetime_and_flag).strftime('%Y') < Time.now.strftime('%Y')
                      = Time.parse(@document.datetime_and_flag).strftime(' %Y ')
                    = Time.parse(@document.datetime_and_flag).strftime(' в %H:%M')

      = render 'common/social_icons', freeeze: false

      / - if !@document.editorial?
      /   /картинка
      /   = render 'document/image'

    .b-document__body.b-social__layout-mutation{style="margin-top: 26px;"}
      input#scribbleCheckTime{type="hidden" value="#{@document.boxes[0].try(:created_at)}"}
      = render partial: 'document/box', collection: boxes_with_links(@document, @range), locals: {authors: @document.authors}
      
      - if @document.has_boxes?
        = render 'broadcastings/pagination'
        
    /читайте также
    - if @document.links.key?(:reference) && 'news' != document_template
      = render 'document/also_read', documents: @document.links[:reference], document_template: document_template

    /популярный комментарий
    - if Settings.comments.enable && 'news' != document_template
      = render_block "/includes/long_cache/popular_comment/#{@document.id}"

    = render_banner Settings.banners.dblclick.nativeroll, 300, 600
    - if @document.gallery? || @document.video?
      - if @document.has_story?
        = render_block "/includes/also_in_story_media/#{@document.story.slug}"
      - else
        = render_block "/includes/another_from_part/#{@document.part.slug}"

  /правая часть
  aside.b-document__right.no-print
    - if 'news' == document_template
      = render 'document/right/news'
    - else
      = render 'document/right/default'

/реклама
- if 'news' == document_template
  = render 'document/ad/ad_news'
- elsif ['gallery', 'video'].include? document_template
  = render 'document/ad/ad_media'
- else
  = render 'document/ad/ad'

/кнопка редактирования документа(только в девелопменте и на стейджинге)
= render 'common/buttons/editor', url: @document.url
