/*----- B-AD-BLOCK2 -----*/
.b-ad-block2
  +base-width(12)
  margin: 60px auto
  ul
    +inline-block
    width: 100%
    font-size: 0
    text-align: center

  .company
    +font($additional_text2, $font5, 15, 18,'',bold)
    margin-top: 15px

  .message
    margin-top: 5px
    +font($additional_text2, $font5, 15, 18)

.b-ad-block2__title
  +font($additional_text2, $font5, 16)
  position: absolute
  top: -10px
  left: 10px
  background: $tan4
  padding: 0 10px
  +breakpoint(0 $medium)
    left: $padding + 10 + px
/*----- B-AD-BLOCK2 -----*/


/*----- B-AD-BLOCK2__INNER -----*/
.b-ad-block2__inner

  +not-working

  +clearfix
  width: 12 * $col + 11 * $gatter + $banner-gatter + px
  outline: 1px solid $line
  +breakpoint(0 $medium)
    width: 9 * $col + 9 * $gatter + px
/*----- B-AD-BLOCK2__INNER -----*/


/*----- B-AD-BLOCK2__ITEM -----*/
.b-ad-block2__item
  +inline-block
  +font($additional_text2, $font5, 16, 21)
  padding: 18px 0 12px 0
  width: 262px
  margin: 0 10px

  a
    +inline-block
    +clearfix
    text-align: left

  +breakpoint(0 $medium)
    width: 199px
/*----- B-AD-BLOCK2__ITEM -----*/