.b-ad-block
  +base-width(12)
  background: $body-bg
  margin: 0 auto
  padding: 60px 0
  +breakpoint(0 $medium)
    padding: 60px 0

  ul
    +inline-block
    font-size: 0
    width: 100%
    text-align: center

  .date
    +font($additional_text2, $font5, 13, 21)

  .company
    margin-left: 5px
    +font($additional_text2, $font5, 16, 21,'',bold)

  .message
    margin-top: 5px
    +font($additional_text2, $font5, 16, 21)

.b-ad-block__title
  position: absolute
  top: 50px
  left: 40px
  background: $tan4
  padding: 0 10px
  +font($additional_text2, $font5, 16)
  +breakpoint(0 $medium)
    left: 20px

.b-ad-block__inner
  +clearfix
  width: 12 * $col + 11 * $gatter + $banner-gatter + px
  outline: 1px solid $line
  margin: 0 auto
  +breakpoint(0 $medium)
    width: 9 * $col + 9 * $gatter + px



.b-ad-block__item
  +inline-block
  +font($additional_text2, $font5, 16, 21)
  padding: 25px 0
  margin:  0 10px
  width: 262px

  a
    +inline-block
    text-align: left

  +breakpoint(0 $medium)
    width: 199px

.b-ad-block__companies
  text-align: right
  width: 1200px
  margin: 10px auto 0
  +breakpoint(0 $medium)
    width: 900px

  a
    +inline-block
    text-decoration: underline!important
    +font($ved_green, $font5, 16, 27)
    margin-top: 0

  a:hover
    text-decoration: none!important