.adriver-button
  opacity: 0.7
  position: absolute
  top: 40px
  right: 80px
  width: 15px
  height: 15px
  background: rgb(235,235,235)
  +border-radius(15px)
  +single-box-shadow(1px,1px,0px, 0px)
  z-index: 200
  cursor: pointer
  &:after
    +font($primary_text, $font5, 10, 13)
    content: "Реклама(вкл)"
    position: relative
    width: 100px
    display: block
    margin-top: 16px
    margin-left: -18px

  &.adriver-button_on
    background: rgb(0,255,0)
    &:after
      +font($primary_text, $font5, 10, 13)
      content: "Реклама(выкл)"
      position: relative