.b-alert
  border: 1px solid $tan
  width: 1200px
  text-align: center
  padding: 25px 0
  margin: 0 auto
  margin-bottom: 21px
  +breakpoint(0 $medium)
    width: 900px

.b-alert__inner
  +font($additional_text2, $font1, 18,21)
  text-transform: uppercase
  letter-spacing: 2px
