/*----- B-ALSO-READ -----*/
.b-also-read
  margin: 48px 0 0

  .b-document &
    margin-left: $col + $gatter + px
    +breakpoint(0 $medium)
      margin-left: $col + px
  &.b-social__layout-mutation
    margin-left: $col + px

  .b-document_gallery &,
  .b-document_video &
    margin-left: 0
  .b-document_test &
    margin-left: 0
/*----- B-ALSO-READ -----*/


/*----- B-ALSO-READ__TITLE -----*/
.b-also-read__title
  border-bottom: 1px solid $line
  .inner
    +inline-block
    +font($black, $font2, 22)
    padding: 0 0 3px 0
    +clearfix
/*----- B-ALSO-READ__TITLE -----*/


/*----- B-ALSO-READ__LINKS -----*/
.b-also-read__links
  li
    padding: 11px 0
    border-top: 1px dotted $line
    &:first-child
      border-top: 0
    &:last-child
      padding-bottom: 0

  a
    +font($black, $font2, 18, 21)
  a:hover
    +font($ved_green, $font2, 18, 21)
/*----- B-ALSO-READ__LINKS -----*/
