.b-autopayment
  position: relative
  +inline-block
  +font($additional_text2, $font1, 15, 18)

.b-autopayment__bubble
  left: 200px
  top: -8px
  position: absolute
  background: rgb(255,255,255)
  padding: 10px 20px
  font-size: 15px
  line-height: 18px
  border: 1px solid rgb(227,209,199)
  border-radius: 5px
  box-shadow: 0 3px 5px 0 rgba(0,0,0, .1)
  color: $black

  width: 250px
  z-index: 200

  &:after
    position: absolute
    left: 0
    top: 10px
    margin-left: -9px
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 10px 10px 10px 0
    border-color: transparent rgb(255,255,255) transparent transparent
    z-index: 20

  &:before
    position: absolute
    top: 10px
    left: 0
    margin-left: -10px
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 10px 10px 10px 0
    border-color: transparent rgb(227,209,199) transparent transparent
    z-index: 10
