.b-archive-calendar
  table
    border-top: 0px!important

  .otherMonth
    visibility: hidden

  .calendar
    width: 270px
    margin-bottom: 20px

    a
      text-decoration: underline

    .day
      padding: 5px
      position: relative
      border-bottom: 0!important

    .active
      background-color: $ved_red
      color: $white
      position: absolute
      top: 0
      line-height: 31px
      left: 0
      +font($white, $font1, 15, 31)
      text-decoration: none
      border-radius: 3px
      width: 100%
      height: 100%
      &:hover
        +font($white, $font1, 15, 31)

    .today
      background-color: $ved_red
      border-radius: 3px
      a
        color: $white!important
        text-decoration: none

    tbody:before
      line-height: 1em
      content: "-"
      color: white /* to hide text */
      display: block
      height: 8px

  .year
    +clearfix
    font-size: 0
    padding-top: 15px
    width: 9 * $col + 10 * $gatter + px
    +breakpoint(0 $medium)
      width: 6 * $col + 6 * $gatter + px

    li
      +inline-block
      margin-right: 30px

  .years
    padding-top: 10px
    li
      margin-bottom: 20px
      +inline-block
      margin-right: 45px
      width: 64px
      text-align: center
      +font($additional_text, $font3, 24)
      a
        +font($additional_text, $font3, 24)
        text-decoration: underline
      a:hover
        +font($ved_green, $font3, 24)
        text-decoration: none

    .active
      background: $ved_red
      border-radius: 5px
      text-decoration: none
      +font($white, $font3, 24)
      text-decoration: none
      a
        +font($white, $font3, 24)
        text-decoration: none


  .month_names
    text-align: center
    font-weight: normal
    +font($additional_text, $font1, 21)

    margin-bottom: 5px

  th
    font-size: 21px!important
    border: 0!important
    font-weight: normal
    text-align: center
    padding: 2px 0 7px

  th.current
    padding-top: 0
    padding-bottom: 0

  .day_names
    text-align: center
    border-bottom: 1px solid $line
    padding-bottom: 3px
    abbr
      border-bottom: 0
      +font($additional_text2, $font1, 15)

    th
      border-bottom: 1px dotted $line!important


  .day
    text-align: center
    +font($additional_text, $font1, 15)
    a
      +font($additional_text, $font1, 15)

    a:hover
      +font($ved_green, $font1, 15)
      text-decoration: none


/*----- B-ARCHIVE-CALENDAR__TITLE -----*/
.b-archive-calendar__title
  font-weight: normal
  border-bottom: 1px solid $line
  +font($ved_green, $font3, 30)
  +transition(color $time ease-in-out)
  a
    +font($ved_green, $font3, 30)
    +transition(color $time ease-in-out)
  a:hover
    +font($ved_green, $font3, 30)

  .b-document_year &,
  .b-document_years &
    margin-top: 0
    margin-bottom: 20px
/*----- B-ARCHIVE-CALENDAR__TITLE -----*/

/*----- B-ARCHIVE-CALENDAR__NO-DOCUMENT -----*/
.b-archive-calendar__no-documents
  text-align: center
  height: 200px
  border: 1px solid $line
  +font($additional_text, $font1, 18, 200)


/*----- B-ARCHIVE-CALENDAR__NO-DOCUMENT -----*/
