.b-form
  .error
    font-size: 15px
    line-height: 21px
    color: #b95a57
    margin-top: 5px

  .field_with_errors
    label
      color: #b95a57
    input[type=text], input[type=password], textarea
      border: 1px solid #b95a57
      color: #b95a57
