.b-profile-form
  margin-top: -15px
  width: 1200px
  margin: 0 auto
  margin-bottom: 40px
  +breakpoint(0 $medium)
    min-width: 900px
    width: 900px

  .error
    color: red

  .icon-profile
    width: 100px
    height: 100px

  .wrap
    width: 900px
    margin: 0 auto

  .holder
    // border-bottom: 1px dotted #E2D1C8
    &:last-child
      border: 0
    
  .name
    font-family: $font1
    font-size: 21px
    margin: 15px 0
    
  .hint
    color: #857871
    font-family: $font1
    font-size: 15px
    margin-top: 5px
    
  table
    width: 100%
    td
      vertical-align: top
      padding: 13px
      &:last-child
        padding-right: 0
      &:first-child
        padding-left: 0
      
    .left, .right
      width: 45%
      
    .avatar
      width: 13%
      text-align: left
      
      .b-icon
        margin-top: 3px
      
  label
    display: block
    font-family: $font1
    font-size: 18px
    color: #857871
    margin-bottom: 5px
  
  table
    input
      line-height: 45px
      height: 45px
      border: 1px solid #E2D1C8
      padding: 0 0 0 15px
      width: 100%
      font-family: $font1
      color: #332f2e
      font-size: 18px

  .group
    margin-bottom: 30px
    
  .actions  
    text-align: right
    padding-bottom: 40px
    
    input
      line-height: 45px
      height: 45px

  .subscriptions

    .hint
      font-size: 18px
      margin-top: 20px
      a
        color: #2e6f6f
        text-decoration: underline

    .name
      margin-top: 20px
      
    table
      td, th
        font-family: $font1
        text-align: left
        border-bottom: 1px dotted #E2D1C8 
        padding: 0
        padding: 5px
        
      th
        font-family: $font2
        color: #857871
        border-top: 1px dotted #E2D1C8
        color: #332f2e
      
      td
        color: #857871
