.b-paywall-subscription
  font-size: 0
  margin-top: 51px
  .col1
    width: 37%

  .col2
    width: 60%
    margin-left: 3%

  .col1, .col2
    vertical-align: top
    display: inline-block

  .title
    margin-top: 0
    font: 21px $font2

  .warning
    padding: 0
    width: auto
    font: 15px/21px $font1
    color: #857871
    margin-bottom: 10px

  .warning-agreement
    margin-bottom: 15px

  .warning-agreement-checkbox
    margin-right: 10px

  .green-link
    color: #2e6f6f
    text-decoration: underline

  .dotted-link
    position: relative
    color: #857871
    text-decoration: none
    border-bottom: 1px dotted #857871

    &:hover
      color: #857871

  .radios
    font-size: 0
    white-space: nowrap

    input
      position: relative
      top: 125px

    input:checked + label
      background: #fff
      padding: 38px 0 60px 0
      margin-top: -10px

      .price, .currency
        color: #b55757

    .radio
      position: relative
      text-align: center
      display: inline-block
      width: 360px
      height: 250px
      background: red
      padding: 3px
      background: inline-image('svg/pattern_green_line.svg')
      background-repeat: repeat
      +breakpoint(0 $medium)
        width: 275px
      &.radio--main
        background: inline-image('svg/pattern_red_line.svg')
      .radio__background
        border-width: 0
        position: absolute
        top: 3px
        left: 3px
        right: 3px
        bottom: 3px
        background: #fff6f1
        +transition (all .2s ease-in-out)
      &:hover
        .radio__background
          top: 10px
          left: 10px
          right: 10px
          bottom: 10px

      label
        position: absolute
        top: 28px
        left: 28px
        right: 28px
        bottom: 28px
        z-index: 1111
        cursor: pointer
        display: block
        border-radius: 0
        background: transparent
        +transition (all .35s ease-in-out)
        .offer
          background: #fff6f1
      &:last-child
        margin-left: 80px
        +breakpoint(0 $medium)
          margin-left: 20px
      &.radio__no-margin
        margin: 0
    .price
      +font($primary_text, $font1, 60)
      text-transform: uppercase

    .currency
      +font($primary_text, $font1, 30)
      position: relative
      top: -10px
      right: -3px

    .period
      +font($primary_text, $font1, 30)

    .fullprice
      margin-top: 4px

    .crossedprice
      position: relative
      top: -9px
      +font($additional_text2, $font1, 30)
      margin-right: 10px
      text-decoration: line-through

  .actions
    input
      width: 174px
      height: 45px
      line-height: 40px

    input[disabled]
      opacity: .3

  .tooltip
    z-index: 9999
    position: absolute
    margin-top: 50px
    margin-left: 5px

    .tooltip-inner
      width: 270px
      border-radius: 5px
      padding: 15px

    & .tooltip-arrow
      position: absolute
      left: 0
      top: 20px
      width: 0
      height: 0
      border-color: transparent
      border-style: solid

    strong
      display: inline-block
      margin-bottom: 5px
