.b-social-buttons
  +clearfix
  margin-bottom: 20px
  padding-top: 21px

  .b-news-item__text &
    margin: 8px 0 10px $col + px

  .counter
    font-size: 12px
    line-height: 20px
    +inline-block
    +float-left

  .b-icon
    margin-right: 5px
    +float-left
    height: 20px
    cursor: pointer

  .icon-print-new
    width: 22px

  .icon-comments-new
    width: 21px

  .b-addthis
    +inline-block
    overflow: hidden !important
    width: 75px !important
    height: 20px !important
    +float-left

  .at-share-btn
    margin: 0 !important
    margin-right: 5px !important

.b-document_video, .b-document_gallery, .b-document_column, .b-document_blog
  .b-social-buttons
    margin-top: 20px

.b-document_column, .b-document_blog
  p:first-child, p:first-of-type
    padding-top: 0 !important
.b-document_story
  .b-social-buttons
    position: absolute
    top: 10px
    right: -5px

.b-document_blog
  .b-social-buttons
    margin-bottom: 0

