/*----- B-BANNER -----*/
.b-banner
  +inline-block
  position: relative

  &.b-banner--gallery-fullscreen
    margin: 30px -20px
  &.b-banner_media
    text-align: center

  &.b-banner_topline
    text-align: center
    width: 100%
    max-width: 1260px
    margin: auto
    border: none
    z-index: 500
    display: block
    line-height: 0

  &.b-banner_horisontal
    width: 100%
    text-align: center
    display: block
    font-size: 0

    ////в теле документа
    //.b-document + div + &
    //  padding-top: 0

  &.b-banner_tgb
    padding: 0

  &.b-banner_vertical
    margin-top: 0

    text-align: center

    & > div
      +inline-block

    .b-subrubric &,
    .b-rubric &
      margin-top: 17px

      +breakpoint(0 $medium)
        float: right
        margin-top: 17px

    .b-rubric_big-banner &
      margin-top: 0
      +breakpoint(0 $medium)
        margin-top: 17px

    .b-rubric_lifestyle-small &
      margin-top: 17px
      +breakpoint(0 $medium)
        margin-top: 0

    .b-rubric_medium-banner &,
    .b-rubric_main-huhu &,
    .b-rubric_lifestyle_big-banner &
      margin-top: 0

    .b-rubric_lifestyle-main &
      position: absolute
      right: 30px
      top: 0
      margin-top: 0

      +breakpoint(0 $medium)
        right: $padding + px

  &.b-banner_popular
    width: 300px
    height: 250px
    float: right
    margin-top: 17px

  &.b-banner_popular2
    width: 300px
    height: 100px
    float: right
    margin-top: 30px

  &.b-banner_auth
    width: 100%
    text-align: center
    margin: 30px 0 0
    padding: 0 40px 0 100px
    +breakpoint(0 $medium)
      padding: inherit

  &.b-banner_spec-leaderboard
    margin: 20px 0

  &.b-banner_newsline
    width: 100%
    padding-left: 70px
    padding-top: 20px
    +breakpoint(0 $medium)
      padding-left: 70px

  &.b-banner_newsrelease
    +clearfix
    position: fixed
    width: 1200px
    left: 50%
    margin-left: -600px
    background: $ved_yellow
    bottom: 0
    z-index: 100500
    height: 85px

    .logo
      +inline-block
      float: left

    +breakpoint(0 $medium)
      width: 900px
      margin-left: -450px

    form
      position: relative
      float: right
      margin-top: 25px
      margin-right: 20px

    .text
      padding: 10px 15px
      +inline-block
      text-align: center
      +font(rgb(0,0,0), $font9, 24)
      text-transform: uppercase
      b
        +font(rgb(0,0,0), $font8, 24)

    .message
      +font($additional_text2, $font10, 15)
      position: absolute
      right: 20px
      top: 0
      height: 85px
      line-height: 85px

      a, a:hover
        +font($additional_text2, $font10, 15, 85)
        text-decoration: underline

      &.success
        +font($ved_green, $font10, 15, 85)
        a, a:hover
          +font($ved_green, $font10, 15)


      &.error
        +font($ved_red2, $font10, 15, 85)
        a, a:hover
          +font($ved_red2, $font10, 15)

    .message_inner
      line-height: inherit

    input[type='text']
      width: 300px
      vertical-align: top
      background: rgb(255,255,255)
      border: 1px solid rgb(227, 209, 199)
      border-right: 0
      height: 40px
      +font($additional_text2, $font10, 15, 40)
      padding: 0 18px 0 55px
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1) inset
      box-sizing: border-box

    input[type='text']:focus
      background: rgb(248, 237, 230)
      color: rgb(0,0,0)
/*----- B-BANNER -----*/


/*----- B-BANNER__WRAPPER -----*/
.b-banner__wrapper
  .b-document &
    +transition(all, $time2, ease-in-out)
    top: 0

    position: absolute

    &.ng-hide-remove
      z-index: 100
      opacity: 0

    &.ng-hide-add
      z-index: 50

    &.ng-hide-remove-active
      opacity: 1

    &.ng-hide-add-active
      opacity: 0

    &.ng-show
      opacity: 1
      top: 0
/*----- B-BANNER__WRAPPER -----*/


/*----- B-BANNER__INNER -----*/
.b-banner__inner
  +inline-block
  width: 1200 + 2 * $margin + px !important
  background: $body-bg

  +breakpoint(0 $medium)
    width: 970px!important

  .b-banner_970x90 &
    width: 970px

  .b-banner_adfox &,
  .for-classifieds_195x120_main &,
  .for-classifieds_195x120 &,
  .for-classifieds_195x120_three &
    position: relative

  .adriverBanner
    margin: 0 auto

  .b-banner_auth &
    +inline-block
    width: 570px!important

  .b-banner_horisontal &
    padding: 40px 0 50px 0

  .for-classifieds_195x120_three &
    padding: 0 0 36px
  .b-document + div + .b-banner_horisontal &
    padding-top: 0

  .b-banner_topline & div div
    padding: 15px 0
    box-sizing: content-box

  .b-banner_topline &
    background: none

    table,
    table tr,
    table td
      border-bottom: 0!important

  .b-banner_spec-topline &
    position: relative
    padding: 0

  .b-banner_spec-leaderboard &
    padding: 40px 0 50px 0!important

  .b-banner_tgb &
    padding: 0 30px
    +breakpoint(0 $medium)
      padding: 0 15px

  .b-banner_newsline &
    overflow-x: hidden
    +inline-block
    width: 700px!important
    +breakpoint(0 $medium)
      width: 400px!important
/*----- B-BANNER__INNER -----*/

.b-banner__background
  position: fixed
  z-index: 0
  top: 0
  bottom: 0
  left: 50%
  transform: translate(-50%, 0)

  & iframe
    display: block
    margin: 0 auto


.b-native-roll
  transform: translateZ(0)
