/*----- B-BIG-GREEN-LINK -----*/
.b-big-green-link
  position: relative
  padding-left: $col + $gatter + px
  margin-top: 14px
  margin-left: 0

  .b-social__layout-mutation &
    margin-left: 0
    padding-left: ($col + $gatter) + px
    width: 8 * $col + 8 * $gatter + px
    +breakpoint(0 $medium)
      padding-left: $col + px
      width: 5 * $col + 5 * $gatter + px
  .b-news-item &
    padding: 0 100px 10px 70px
    margin: 0
    +breakpoint(0 $medium)
      padding-left: 0

  a
    +font($ved_green, $font4, 19, 22)
    text-decoration: underline!important
  a:hover
    color: $ved_green
    text-decoration: none!important
/*----- B-BIG-GREEN-LINK -----*/
