.b-button
  border: none
  background: none
  outline: none
  padding: 0
  margin: 0
  &.b-button--buy
    +default_button(auto, $font5, $ved_green, 32)
  &.b-button--buy-red
    +default_button(auto, $font5, $ved_red2, 32)
  &.b-button--buy-red, &.b-button--buy
    font-size: 13px
    font-weight: bold
    line-height: 32px
    border-radius: 3px
    border-width: 2px !important
    padding-right: 12px
    padding-left: 12px
    box-shadow: none
    &:active
      border-width: 2px !important

    .b-subscribe &
      margin-left: 5px


  &.b-button_auth
    +inline-block
    a
      +inline-block
      line-height: 32px!important
      vertical-align: top
      +font($additional_text, $font5, 12, 15)
      text-decoration: none
      margin: 30px 0
      border: none
      background: none
      padding: 0
      opacity: 0.75
      +transition(opacity $time ease-in-out)

      &:hover
        opacity: 1
        +font($additional_text, $font5, 12, 15)

  &.b-button_menu
    display: inline-block
    height: 44px
    cursor: pointer
    padding: 0 4px 0 11px

  &.b-button_search
    +inline-block
    height: 44px
    cursor: pointer
    width: 53px
    padding: 0

  &.b-button_search2
    +inline-block
    height: 44px
    position: absolute
    right: 11px
    cursor: pointer
    z-index: 20
    padding-left: 5px

  &.b-button_menu-red
    left: 0
    position: absolute
    top: -45px
    display: inline-block
    height: 46px
    cursor: pointer
    padding: 5px 8px 0 10px
    background: $white_original
    border: 1px solid $tan
    border-bottom: 1px solid $white_original
    z-index: 20

  &.b-button_load-more
    +inline-block
    +border-radius(3px)
    background: $news-item_button-more-black
    +font($news-item_white,$font5, 13, inherit, inherit, bold)
    text-transform: uppercase
    padding: 7px 15px
    cursor: pointer
    margin: 60px 0 0
    +single-transition(background, $time3, ease-in-out)
    &:hover
      background: $ved_green

  &.b-button_comment
    cursor: pointer
    +inline-block
    +border-radius(3px)
    +font($black, $font5, 13, inherit, inherit, bold)
    background: $tan
    text-transform: uppercase
    padding: 9px 15px
    margin: 18px 0
    +single-transition(all, $time3, ease-in-out)
    &:hover
      background: $tan5

  &.b-button_hide-thumbs
    +single-transition(opacity, $time3, ease-in-out)
    position: absolute
    right: 150px
    top: 310px
    z-index: 300
    width: 70px
    height: 70px
    background: rgba(0,0,0, 0.45)
    +breakpoint(0 $medium)
      right: 0

    &.ng-hide
      opacity: 0

    .visible
      display: block!important

  &.b-button_hide-thumbs:hover,
  &.b-button_hide-thumbs.open
    background: rgba(0,0,0, 0.75)

  &.b-button_fullscreen
    +single-transition(opacity, $time3, ease-in-out)
    opacity: 1
    position: absolute
    width: 70px
    height: 70px
    right: 150px
    top: 0
    z-index: 300
    cursor: pointer
    background: rgba(0,0,0, 0.45)
    .b-social__layout-mutation &
      right: 185px
      +breakpoint(0 $medium)
        right: 0
    .b-gallery_title-image &
      right: 300px

    +breakpoint(0 $medium)
      right: 0

      .b-gallery_title-image &
        right: 0

    &.ng-hide
      opacity: 0

  &.b-button_fullscreen:hover
    background: rgba(0,0,0, 0.75)

  &.b-button_fullscreen-exit
    top: 40px
    position: absolute
    right: 0
    +inline-block
    +font($fullscreen_controls,$font5, 12, 15)

  &.b-button_external-link
    z-index: 100500
    position: fixed
    bottom: 10px
    right: 50px

  &.b-button_calendar
    .b-magazine__header &
      position: absolute
      top: 28px
      left: 23px

  &.b-button_fullscreen-exit
    position: absolute
    top: 21px
    right: -40px
    +breakpoint(0 $medium)
      right: -63px

  &.b-button_fullscreen-tile
    +single-transition(opacity, $time3, ease-in-out)
    position: absolute
    top: 65px
    left: 50%
    margin-left: -388px
    opacity: 0.4
    &:hover
      opacity: 1

    &.ng-hide-add
      display: none
      z-index: -100

  &.b-button_fullscreen-controls
    +single-transition(opacity, $time3, ease-in-out)
    position: absolute
    top: 60px
    left: 50%
    margin-left: -390px
    opacity: 0.4
    &:hover
      opacity: 1

    &.ng-hide-add
      display: none
      z-index: -100

  &.b-button_fullscreen-share
    +single-transition(opacity, $time3, ease-in-out)
    position: absolute
    top: 65px
    left: 50%
    opacity: 0.4
    margin-left: -295px
    &:hover
      opacity: 1
    &.ng-hide-add
      display: none
      z-index: -100

  &.b-button_search3
    border-bottom-right-radius: 3px
    border-top-right-radius: 3px
    +inline-block
    background: $news-item_button-more-black
    +font($news-item_white, $font5, 13, inherit, inherit, bold)
    text-transform: uppercase
    height: 37px
    border: none
    line-height: 37px
    width: 90px
    text-align: center
    cursor: pointer
    +single-transition(background, $time3, ease-in-out)
    &:hover
      background: $ved_green
    &[disabled]
      opacity: .5
      &:hover
        background-color: $news-item_button-more-black


  &.b-button_search-ok
    +inline-block
    +single-transition(background, $time3, ease-in-out)
    +font($news-item_white, $font5, 13, inherit, inherit, bold)
    +border-radius(3px)
    float: right
    background: $news-item_button-more-black
    text-transform: uppercase
    height: 37px
    border: none
    line-height: 37px
    padding: 0 18px
    cursor: pointer
    &:hover
      background: $ved_green

  &.b-button_search-ok
    position: relative
    top: 22px
    left: 720px
    float: none
    clear: both
    +breakpoint(0 $medium)
      left: 420px

  &.b-button_advanced-options
    opacity: 0.7
    +font($additional_text, $font1, 15, 28)
    position: absolute
    bottom: 21px
    left: 30px
    +single-transition(opacity, $time2, ease-in-out)
    &.bottom
      bottom: 40px

    &:hover
      opacity: 1

  &.b-button.b-button-calendar2
    width: 30px
    +border-radius(0 3px 3px 0)
    height: 30px

  &.b-button.b-button_hide-text
    position: relative
    +font($ved_green, $font1, 15)
    +border-radius(0 3px 3px 0)
    height: 30px
    margin-top: 20px
    cursor: pointer

    span
      border-bottom: 1px dotted $ved_green

  &.b-button_gallery-prev
    position: absolute
    top: 172px
    left: 30px
    z-index: 100
    cursor: pointer
    +breakpoint(0 $medium)
      left: 15px

  &.b-button_gallery-next
    position: absolute
    top: 172px
    right: 30px
    z-index: 100
    cursor: pointer
    +breakpoint(0 $medium)
      right: 15px
  .b-document__body &.b-button_gallery-prev
    left: 0
    +breakpoint(0 $medium)
      left: 15px
  .b-document__body &.b-button_gallery-next
    right: 70px
    +breakpoint(0 $medium)
      right: 15px
  .b-document_advert_article &.b-button_gallery-prev
    left: 37px
  .b-document_advert_article &.b-button_gallery-next
    right: 37px
  &.b-button_fullscreen-next
    cursor: pointer
    position: absolute
    top: 50%
    margin-top: -20px
    right: 75px
    z-index: 100

  &.b-button_fullscreen-prev
    cursor: pointer
    position: absolute
    left: 75px
    top: 50%
    margin-top: -20px
    z-index: 101

  &.b-button_fullscreen-close
    position: absolute
    top: 30px
    right: 30px

  &.b-button_fullscreen-tiles
    position: absolute
    top: 30px
    left: 30px

  &.b-button_newspaper-paywall-auth
    +default_button(150, $font1, $ved_green)
    margin-right: 15px
    line-height: 45px

  &.b-button_newspaper-paywall-register
    +default_button(150, $font1, $additional_text2)
    line-height: 45px

  &.b-button_twitter
    +default_button(45, $font1, $twitter_color)
    margin-left: 10px
    vertical-align: top
    line-height: 45px

  &.b-button_fb
    +default_button(45, $font1, $fb_color)
    line-height: 45px
    vertical-align: top
    margin-left: 10px

  &.b-button_vk
    +default_button(45, $font1, $vk_color)
    line-height: 45px
    vertical-align: top
    margin-left: 10px

  &.b-button_scroll_top
    +default_button(150, $font1, $ved_green)
    +single-transition(opacity, $time3, ease-in-out)
    text-align: left!important
    padding: 0 0 0 31px
    z-index: 9998
    position: fixed
    left: 50%
    line-height: 45px
    bottom: 0
    margin-left: 460px
    width: 140px
    +breakpoint(0 $medium)
      margin-left: 345px
    &.ng-hide
      opacity: 0

  &.b-button_scroll-popular
    +default_button(182, $font1, $ved_green)
    line-height: 45px

  &.b-button_submit
    +default_button(180, $font1, $ved_green)
    line-height: 45px
    margin-top: 23px
    height: 45px
    .b-paywall-subscription &
      width: 200px
      margin-top: 13px

    &.disabled
      opacity: 0.5!important
      background-color: $ved_green
      border-top: 0!important
      border-bottom: 5px solid $button-border
      cursor: auto

  &.b-button_more
    margin-top: 28px
    +default_button(260, $font1, $ved_green)
    &.loading
      opacity: 0

  &.b-button_feedback
    +default_button(470, $font1, $ved_green)
    margin: -4px 0 10px
    position: relative
    color: $white_original!important

  &.b-button_subscribe-popup
    +default_button(50, $font1, $ved_green, 40)
    +font(rgb(255, 255, 255), $font8, 18)

  &.b-button__social_fb
    +default_button(45, $font1, #385492, 45)

  &.b-button__social_vk
    +default_button(45, $font1, #344e70, 45)

  &.b-button__social_twitter
    +default_button(45, $font1, #43a7d3, 45)

  &.b-button__social_comments
    +default_button(45, $font1, $ved_green, 45)

  &.b-button__social_print
    +default_button(45, $font1, $ved_green, 45)

  &.b-button__arrow_circle
    +default_button(45, $font1, $ved_green, 45)
    position: relative
    .b-icon
      width: 24px
      height: 24px
      vertical-align: middle
      margin: 0
  &.b-button--paywall
    display: block
    width: 260px
    text-decoration: none
    margin: auto
    height: 45px
    text-align: center
    outline: none
    background: $ved_green
    +font(white, $font6, 24, 45)
    border-radius: 3px
.b-button-count
  background: #ff4848
  font: 10px/16px Arial
  border-radius: 2px
  padding: 0 3px
  position: absolute
  right: 3px
  bottom: 0
