.b-company-tabs
  padding-top: 33px
  ul
    height: 44px
    font-size: 0
    vertical-align: bottom
    border-bottom: 1px solid $line

  li
    +inline-block
    position: relative
    vertical-align: bottom
    margin-left: 1px

    &.active,
    &.active + li
      margin-left: 0

  li:first-child
    margin-left: 0

  a
    +inline-block
    +font($additional_text, $font5, 15, 18, inherit, bold)
    background: $form-input_bg
    padding: 10px
    &:first-child
      border-left: 0

    &:hover
      background: $line


  div
    +inline-block
    +font($additional_text, $font5, 15, 18, inherit, bold)
    background: $form-input_bg
    padding: 10px
    &:first-child
      border-left: 0

  li.active a
    margin: 0
    background: $body_bg
    padding: 14px 10px 10px
    border: 1px solid $line
    border-bottom: 1px solid $body_bg
    background: $body_bg
    cursor: default

  li.disabled a,
  li.disabled div
    opacity: .5!important
    cursor: default
    background: $line!important

  li:first-child.active a
    border-left: 0px!important