/*----- B-COMMENTS -----*/
.b-comments
  margin-left: -6px
  position: relative
  max-height: 22px

  a
    +inline-block
    margin-top: 5px

  a:empty
    margin-top: 0

  .b-lifestyle &
    +inline-block
    z-index: 21

  .b-news-item &
    +inline-block
    line-height: 26px
    margin-top: -1px
    margin-left: 1px

  .b-subrubric-item &
    +inline-block
    margin-left: 9px

  .b-column_level1 &,
  .b-column_level2 &,
  .b-column_level3 &,
  .b-blog_level1 &,
  .b-blog_level2 &,
  .b-quote_level2 &,
  .b-quote_level3 &,
  .b-quote_level1 &
    display: block
    float: left
    clear: both

  .b-column_level3 &
    display: block
    float: none
    clear: both

  .b-blog_level1 .b-blog__inner &,
  .b-character_level1 .b-character__inner &,
  .b-blog_level2 .b-blog__quote__wrapper &,
  .b-quote_level2 .b-quote__quote__wrapper &,
  .b-quote_level1 > &
    display: none

  .b-blog_level2_mutate-to-level1 .b-blog__quote__wrapper &,
  .b-quote_level1_mutate-to-level2 > &,
  .b-blog_level1_mutate-to-level2 .b-blog__inner &
    +breakpoint(0 $medium)
      display: block!important

  .b-blog_level2_mutate-to-level1 .b-blog__inner &,
  .b-blog_level1_mutate-to-level2 .b-blog__quote__wrapper &,
  .b-quote_level1_mutate-to-level2 .b-quote__quote__wrapper &
    +breakpoint(0 $medium)
      display: none!important

  .b-published-at &
    +inline-block

/*----- B-COMMENTS -----*/


/*----- B-COMMENTS__COUNTER -----*/
.b-comments__counter
  +inline-block
  +transition(opacity $time ease-in-out)
  +font($ved_green, $font5, 12,24)
  position: relative
  //top: 1px
  left: -1px

  a:hover &
    color: $black

  .b-lifestyle &,
  .b-colored-article &,
  .b-multimedia &
    color: $white!important
/*----- B-COMMENTS__COUNTER -----*/


