
@mixin clearfix()
  &:before,
  &:after
    content: " " // 1
    display: table // 2

  &:after
    clear: both


@mixin italic
  font-style: italic
  font-size: 15px

@mixin table_font
  font-family: Arial, sans-serif
  color: #332f2e

.b-spark__logo
  text-align: right

.b-spark__data-presents
  +italic
  +table_font

.b-spark__logo-image
  margin-top: 6px
.b-about-table
  font-family: Arial, sans-serif
  font-size: 13px
  th
    font-weight: bold
    padding-right: 10px
    +table_font
  td
    padding-right: 10px
    +table_font

.b-about-table__header
  +clearfix

.b-about-table__title-text
  font-size: 18px
  font-weight: bold
  float: left

.b-about-table__title-meta
  +italic
  float: right

.b-about-table__footer
  text-align: right

.b-about-table__footer-text
  +italic
  font-family: Arial, sans-serif

.b-align_right
  text-align: right
.b-align_center
  text-align: center

