.b-comment-block__wrapper
  margin: 54px 0 0
  .b-document &
    width: 8 * $col + 7 * $gatter + px
    margin-left: $col + $gatter + px
    +breakpoint(0 $medium)
      margin-left: $col + px
      width: 5 * $col + 5 * $gatter + px
  .b-document_info &
    margin-left: 0

  .b-document_gallery &,
  .b-document_video &
    width: inherit
    margin-left: 0
    +breakpoint(0 $medium)
      width: inherit
      margin-left: 0

/*----- B-COMMENT-BLOCK__HEADER -----*/
.b-comment-block__header
  border-bottom: 1px solid $line
/*----- B-COMMENT-BLOCK__HEADER -----*/


/*----- B-COMMENT-BLOCK__HEADER__INNER -----*/
.b-comment-block__header__inner
  +inline-block
  +font($black, $font2, 22)
  padding: 8px 20px 7px 20px
  background: $tan
  +clearfix
  +single-transition(background, $time2, ease-in-out)
  &:hover
    background: $tan5
    color: #332f2e
/*----- B-COMMENT-BLOCK__HEADER__INNER -----*/

/*----- B-COMMENT-BLOCK -----*/
.b-comment-block
  display: block
  border-bottom: 1px dotted $line
  position: relative
  padding-left: 50px

  &.no-comments
    padding-left: 0
    
    .text
      margin-top: 20px

  .time
    +font($additional_text, $font5, 12, 18)
    +inline-block
    margin-top: 18px

  .text
    +font($black, $font5, 15, 18)
    margin-top: 12px

  .nick
    +inline-block
    margin: 18px 10px 0 0
    +font($black, $font5, 15, 15, inherit, bold)
/*----- B-COMMENT-BLOCK -----*/


/*----- B-DOCUMENT-BLOCK__VOTES -----*/
.b-document-block__votes
  margin: 18px 0
  +font($additional_text, $font5, 12, 30)
  float: right

  .counter
    color: $ved_green
  .counter + i + .counter
    color: $ved_red
/*----- B-DOCUMENT-BLOCK__VOTES -----*/
