.b-companies
  padding-right: 30px
  &.b-companies--top-offset
    margin-top: 30px
  &.b-companies--main
    margin-top: -20px
  .b-companies__group
    text-transform: lowercase
    +border-radius(3px)
    +font($primary_text, $font5, 21, 36, inherit, bold)
    display: inline-block
    padding: 0
    overflow: hidden
    margin: 38px 0 22px 0
    border: 1px solid $line

    text-align: center
    &.b-companies__group--letter
      width: 36px
      height: 36px
    &.b-companies__group--industry
      +font($additional_text2, $font4, 18, 22)
      padding: 5px 10px
      margin: 13px 0 18px 0

.b-company-layout
  white-space: nowrap
  width: 100%
  &.b-company-layout--people
    margin-bottom: 23px
  .b-company-column
    display: inline-block
    vertical-align: top
    width: 50%
    margin-right: 20px

.b-company-column__item


/*----- B-COMPANY-COLUMN__ITEM -----*/

.b-company-column__item
  margin-bottom: 15px
  .b-company-column__container
    padding: 7px 8px

  &.b-company-column__item--industry
    display: inline-block
    width: auto
    height: auto
    padding: 0 12px

  &.b-company-column__item_industry
    +font($additional_text2, $font4, 18, 22)
    border: 1px solid $line
    padding: 5px 10px
    margin: 13px 0 18px 0
    width: auto

  &.b-company-column__item--button
    display: block
    width: 190px
    height: 36px
    border: 1px solid $line
    cursor: pointer
    margin-left: 236px
    margin-top: 6px
    border-radius: 2px
    +breakpoint (0 $medium)
      margin-left: 150px
    .b-company-column__container
      padding: 0
      text-align: center
    .b-dots
      display: inline-block
      margin-left: 10px
      font-size: 0
      vertical-align: top
      white-space: nowrap
      .b-dot
        width: 6px
        height: 6px
        border-radius: 3px
        background: $line
        display: inline-block
        vertical-align: middle
        margin-right: 2px
    .b-company-column__item__title
      +font($additional_text, $font5, 15, 36, normal, bold)
    &:hover
      border-color: $ved_green
      .b-company-column__item__title
        color: $ved_green
      .b-dot
        background: $ved_green
  &.b-company-column__item--paid


    .b-company-column__container

      background: rgb(255,255,255)

/*----- B-COMPANY-COLUMN__ITEM -----*/


/*----- B-COMPANY-COLUMN__TITLE -----*/
.b-company-column__title
  +font($black, $font4, 36)
  margin: 0
  a:hover
    color: $black
/*----- B-COMPANY-COLUMN__TITLE -----*/


/*----- B-COMPANY-COLUMN__ITEM__TITLE -----*/
.b-company-column__item__title
  a
    +font($black, $font5, 18, 17, inherit, bold)
  a:hover
    +font($ved_red, $font5, 18, 17, inherit, bold)
/*----- B-COMPANY-COLUMN__ITEM__TITLE -----*/


/*----- B-COMPANY-COLUMN__ITEM__SUBTITLE -----*/
.b-company-column__item__subtitle
  +font($additional_text2, $font5, 15, 17, inherit, bold)
  &:first-letter
    text-transform: uppercase
  &:hover
    color: $additional_text2
/*----- B-COMPANY-COLUMN__ITEM__SUBTITLE -----*/


/*----- B-COMPANY-COLUMN__INFO -----*/
.b-company-column__info
  +clearfix
  padding: 20px 0 7px
  margin-bottom: 30px
  .total
    float: right
  border-bottom: 1px solid $line

  .sort_by
    float: left

  a
    +font($additional_text, $font5, 13, 21, inherit, bold)
    position: relative
    +inline-block
    +border-radius(3px)
    padding: 2px 10px
    margin: -2px 0 0 0

    &:first-child
      margin-left: 18px

  a.active
    +font($white, $font5, 13, 21, inherit, bold)
    +border-radius(3px)
    background: $ved_green
/*----- B-COMPANY-COLUMN__INFO -----*/


/*----- B-CONPANY-INDEX -----*/

.b-navigator
  margin-bottom: 8px
  .b-alphabet__link
    width: 21px
    height: 21px
    display: inline-block
    +font($primary_text, $font5, 13, 18, inherit, 900)
    border: 1px solid $tan
    border-radius: 3px
    margin-right: 6px
    margin-bottom: 6px
    text-transform: lowercase
    text-align: center
    &.b-alphabet__link-grey
      color: #e3d1c7
  b.b-alphabet__link
    background-color: $ved_green
    color: white

  .b-industry__link
    @extend .b-alphabet__link
    width: auto
    height: auto
    padding: 6px 10px


.b-search__form.b-company-form
  min-height: 40px
  padding: 0
  background-color: white
  height: 45px
  border: 1px solid $line
  margin: 17px 0 11px 0

  &.b-search__form--focused
    border-color: $ved_green
  #search_field
    border: none
    +font($primary_text, $font5, 17, 21, inherit, 900)
    margin-top: 2px
    padding: 0 15px
  .b-document_company-list &
    padding-right: 0
    padding-left: 0

  .b-button_search
    position: absolute
    right: 0
    &:before
      content: ''
      position: absolute
      left: 0
      border-left: 1px solid $line
      top: 5px
      bottom: 5px
    .icon-loupe
      margin: 0 5px
      top: 0

  label
    font: 15px/21px Arial, sans-serif
    margin-bottom: 10px
    display: inline-block
