@mixin clearfix_bootstrap
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both



/*----- B-DOCUMENT -----*/
.b-document
  +clearfix
  background: $body-bg
  +base-width(12)
  padding-bottom: 60px

  +breakpoint(0 $medium)
    left: 0

  &.b-social__layout-mutation
    p
      width: 8 * $col + 8 * $gatter + px
      padding: 14px 0 0 $col + px
      +breakpoint(0 $medium)
        width: 6 * $col + 5 * $gatter + px
  &.b-document_advert_article
    .b-header--ampersand ~ &
      padding-bottom: 0
      .b-document__left
        margin-bottom: 60px
        .b-also-read__title
          .inner
            +font($primary_text, $font12, 15, 21, normal, bold)
            text-transform: uppercase
        .b-also-read__links
          a
            +font($primary_text, $font6, 18, 21)
        p
          +font($primary_text, $font12, 17, 21)

    .b-advert-disclaimer
      text-align: center
      text-transform: uppercase
      +font($additional_text2, $font5, 17, '', '', bold)
      padding: 15px 0
      border-bottom: 1px solid $line
      margin-bottom: 30px

    .b-social__layout-mutation
      p
        +font($black, $font5, 17)
        width: auto
        padding: 14px 0 0
        +breakpoint(0 $medium)
          padding: 14px 0px 0
        &.quote
          font-weight: 900
          font-size: 19px

  p
    a
      color: $ved_green
      text-decoration: underline!important
    a[entry]
      color: inherit
      text-decoration: none !important
      &:hover
        color: inherit

    a:hover
      color: $ved_green
      text-decoration: none!important

    +font($material-text_black ,$font4, 19,24)
    // 40 - правки от дизайнера
    width: 8 * $col + 8 * $gatter - 5 + px
    padding: 14px 0 0 ($col + $gatter) + px
    margin: 0

    &.first
      padding-top: 21px
      +breakpoint(0 $medium)
      padding-left: $col + $gatter + px

    +breakpoint(0 $medium)
      padding-left: $col + px
      width: 6 * $col + 5 * $gatter + px
      +font($material-text_black, $font4, 17, 22)

    .b-document__gallery &
      margin: 20px 0 25px
      width: 9 * $col + 8 * $gatter + px
      +font($material-text_black ,$font4, 21, 24)
      +breakpoint(0 $medium)
        +font($material-text_black, $font4, 18, 21)
        width: 6 * $col + 5 * $gatter + px

    &.quote
      +font($primary_text, $font2, 20, 24)
      margin-bottom: -5px
      +breakpoint(0 $medium)
        +font($primary_text, $font2, 18, 21)

  h2
    margin: 0 0 -5px 0
    +font($black, $font2, 27, 27)
    padding: 24px 0 12px ($col + $gatter) + px
    +breakpoint(0 $medium)
      +font($black, $font2, 21, 24)
      padding-left: $col + px

  .b-social__layout-mutation
    h2
      padding: 24px 0 12px ($col + $gatter) + px
      +breakpoint(0 $medium)
        padding-left: $col + px

  &.b-document_info
    padding-bottom: 50px
    h1
      +font($primary_text, $font1, 48, 48)
      padding: 7px 0 15px
      margin: 0
    h2
      +font($primary_text, $font2, 24, inherit)
      padding: 0 0 12px 0
      margin-top: -4px
    p
      padding-top: 0
      padding-bottom: 12px
      padding-left: 0
      width: 100%
      +font($primary_text, $font4, 19, 22)

    p > a,
    p > a:hover
      text-decoration: underline!important
      +font($ved_green, $font4, 19, 22)

    ul
      +inline-block
      list-style: disc
      margin-top: 22px
      padding-left: 32px
    li
      +font($primary_text, $font4, 19, 24)
      margin-bottom: 16px

    li > a,
    li > a:hover
      text-decoration: underline!important
      +font($ved_green, $font4, 19, 22)

    ol
      counter-reset: li
      list-style: none

    ol > li:before
      counter-increment: li
      content: counters(li,".") ". "
    ul#social-counters
      margin: 0
      padding: 0
  &.b-document_from-editor
    padding: 36px 0 40px 0
    a, a:hover
      +font($black ,$font4, 19,24)

    h2
      width: 768px
      margin: 0 0 -10px 0
      padding: 0
      +font($black, $font1, 51, 51)
      +breakpoint(0 $medium)
        width: 560px
    p
      width: 768px
      +font($black ,$font4, 19,24)
      margin: 0 0 -5px 0
      padding: 20px 0 0 0
      +breakpoint(0 $medium)
        width: 560px

    .editor
      position: absolute
      right: 30px
      top: 40px
      width: 270px
      height: 100px

    .name,
    .job
      +font($black ,$font2, 17,21)

    .name
      margin-top: 20px

    .job, .job a
      +font($black ,$font1, 17,21)

  &.b-document_password-reset,
  &.b-document_password-reset2,
  &.b-document_user-block
    width: 970px
    text-align: center


  &.b-document_company,
  &.b-document_press-release
    p
      padding-left: 0

  &.b-document_company
    p
      width: 100%

    .b-document__left > .title
      +font($ved_red2, $font5, 21, inherit, inherit, bold)
      margin-bottom: 17px
      padding-bottom: 8px
      border-bottom: 1px solid $line
      width: 100%
      margin-top: 50px

  &.b-document_press-release
    p
      width: 100%

    .b-document__left > .title
      +font($ved_red2, $font5, 21, inherit, inherit, bold)
      margin-bottom: 17px
      padding-bottom: 8px
      border-bottom: 1px solid $line
      width: 100%
      margin-top: 50px

  &.b-document_error
    margin-bottom: 70px
    h1
      +font($black, $font7, 48, 48)
      +inline-block
      width: 100%
      text-align: center
      margin: 37px 0 50px
    p
      padding: 0
      width: 100%
      +font($additional_text, $font4, 17, 21)

    ul
      list-style-type: disc!important

    li
      list-style-position: inside
      +font($additional_text ,$font4, 17,21)
      margin-bottom: 10px
    h2
      +font($black ,$font2, 21,36)
      margin : 24px 0 0
      padding: 0

    a, a:hover
      +font($ved_green ,$font4, 17,21)
      text-decoration: underline

  &.b-document_news
    margin-bottom: 0

  &.b-document_online
    margin-top: 21px

  &.b-document_user-block
    border: 1px solid $line
    border-top: 0

    h1
      +font($black, $font7, 36, 42)
      margin: 55px 0 15px 0
      width: 100%
    p
      +font($black ,$font1, 18,24)
      width: 100%
      padding: 0 20px 50px 20px
    .redirect-block
      margin: 0 30px
      padding: 25px 0
      border-top: 1px solid $line
      +font($additional_text2 ,$font1, 15,24)

    a, a:hover
      +font($ved_green, $font1, 15, 24)
      text-decoration: underline

  &.b-document_story
    margin-bottom: 0

  &.b-document_feedback
    h1
      +font($primary_text, $font1, 48, 48)
      margin: 35px 0 20px

    input, textarea
      width: 100%
      border: 1px solid rgb(227, 209, 199)
      height: 43px
      line-height: 43px
      padding: 0 18px
      font-size: 18px
      margin-bottom: 15px
      color: rgb(0, 0, 0)
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1) inset
      font-family: "Roboto Condensed Regular", sans-serif
      box-sizing: border-box
      &:focus
        outline: none
        border: 2px solid rgb(227, 209, 199)
        padding-left: 17px

    textarea
      height: 167px
      line-height: inherit
      padding-top: 8px
      &:focus
        padding-top: 7px


    .field_with_errors input,
    .field_with_errors textarea
      margin-bottom: 5px
      border: 2px solid rgb(220, 138, 138)
      padding-left: 17px

    .error
      font-size: 18px
      font-family: "Roboto Condensed Regular", sans-serif
      margin-bottom: 10px
      color: rgb(181, 87, 87)

    form
      width: 470px

    .caption
      width: 470px
      padding: 0
      +font($additional_text, $font1, 16)
      margin-bottom: 42px



/*----- B-DOCUMENT -----*/


/*----- b-document__left -----*/
.b-document__left
  width: 9 * $col + 8 * $gatter + px
  margin-right: $gatter + px
  float: left

  +breakpoint(0 $medium)
    width:  6 * $col + 5 * $gatter + px

  .b-document_advert_article &
    float: none
  .b-document_part &,
  .b-document_subrubric &
    text-align: center

  .b-document_advert_article &
    width: 100%
    max-width: 1005px
    margin: auto
    article
      width: 800px
      margin: auto

/*----- b-document__left -----*/


/*----- b-document__right -----*/
.b-document__right
  width: 300px
  float: right

  #banner2
    height: 600px

  #banner1,
  #banner2,
  #banner3

    position: relative
    margin-bottom: 30px
  #banner4
    margin-bottom: 30px


  #banner3
    &.fixed
      position: fixed
      top: 70px

    &.scrolled
      position: absolute
      bottom: 70px
      margin-bottom: 0

  .b-document_search &
    #banner1
      margin-top: 0
/*----- b-document__right -----*/


/*----- B-DOCUMENT__HEADER -----*/
.b-document__header
  .title
    +font($black, $font1, 51, 51)
    margin-top: 7px
    margin-bottom: 0
  .b-document_advert_article &
    .subtitle
      text-align: center
      +font($black, $font5, 24, 27, normal, inherit)
    .title
      +font($black, $font4, 36, 48)
      text-align: center
    .b-header--ampersand ~ &
      .subtitle
        +font($primary_text, $font12, 21, 30, normal, bold)
      .b-document__data
        display: none
      .title
        margin-top: 37px
        +font($primary_text, $font13, 36, 40)

  .subtitle
    +font($black, $font4, 24, 27, italic, inherit)
    margin: 9px 0 0 0
    //margin-top: 9px
    padding: 0
    //padding-bottom: 21px

    strong,
    b
      font: 24px $font2
      font-style: normal
      vertical-align: baseline
  //.table
  //  display: table-cell
  //.row
  //  display: table-row

  &.b-document__header_gallery
    .time
      margin-top: 19px
      a, a:hover
        +font($additional_text2, $font5, 12, 24)
      span
        +font($additional_text2, $font5, 12, 24)
        margin-left: $gatter + px

    .title
      +font($black, $font1, 36, 39)
      margin-top: 4px

    .subtitle
      +font($black, $font4, 21, 24, italic, inherit)
      margin-top: 9px
      padding-bottom: 0

    .announce
      margin-top: 17px
      +font($primary_text, $font4, 17, 21)

  &.b-document__header_video
    .time
      margin-top: 19px
      a, a:hover
        +font($additional_text2, $font5, 12, 24)

    .title
      +font($black, $font1, 36, 39)
      margin-top: 4px

    .subtitle
      +font($black, $font4, 21, 24, italic, inherit)
      margin-top: 9px
      padding-bottom: 0


  &.b-document__header_column
    +clearfix_bootstrap
    .time
      +font($additional_text2, $font5, 12, 24)

    .title
      +font($black, $font1, 51, 51)
      margin-top: 7px
      +breakpoint(0 $medium)
        +font($black, $font1, 36, 39)


    .subtitle
      padding-bottom: 0
      +font($black, $font4, 24, 27, italic)
      +breakpoint(0 $medium)
        +font($black, $font4,  21, 24, italic)

  &.b-document__header_blog
    .title
      +font($black, $font1, 51, 51)
      margin-top: 7px
      +breakpoint(0 $medium)
        +font($black, $font1, 36, 39)

    .subtitle
      padding-bottom: 0
      +font($black, $font4, 24, 27, italic)
      +breakpoint(0 $medium)
        +font($black, $font4,  21, 24, italic)

  &.b-document__header_company
    position: relative
    min-height: 110px
    line-height: 10px

    img
      float: right
      margin-left: 10px

    .breadcrumbs
      display: inline
      +font($ved_red, $font5, 15, 18, inherit, bold)
      a
        +single-transition(color, $time, ease-in-out)
        +font($ved_red, $font5, 15, 18, inherit, bold)
      a:hover
        +font($additional_text2, $font5, 15, 18, inherit, bold)

    .catalog
      +font($black, $font1, 45)

    .title
      display: inline
      +font($black, $font4, 36, 30)

    .subtitle
      display: inline
      +font($additional_text, $font5, 21, 30)
      margin-top: -5px
      padding-bottom: 3px

  &.b-document__header_press-release
    .title
      +font($black, $font4, 36, 36)
      margin: 0

    .pubdate
      margin: 20px 0
      +font($additional_text, $font5, 12)

    .subtitle
      margin-top: 0
      padding-bottom: 5px
      +font($primary_text, $font5, 18, 24)


    .breadcrumbs
      margin-bottom: 10px
      +single-transition(color, $time, ease-in-out)
      +font($ved_red, $font5, 15, 18, inherit, bold)
      a
        +font($ved_red, $font5, 15, 18, inherit, bold)
      a:hover
        +font($additional_text2, $font5, 15, 18, inherit, bold)

  &.b-document__header_press-releases
    .title
      +font($black, $font4, 36, 36)
      margin: 0 0 20px 0

    .breadcrumbs
      margin-bottom: 10px
      +single-transition(color, $time, ease-in-out)
      +font($ved_red, $font5, 15, 18, inherit, bold)
      a
        +font($ved_red, $font5, 15, 18, inherit, bold)
      a:hover
        +font($additional_text2, $font5, 15, 18, inherit, bold)

  &.b-document__header_story
    position: relative
    border-bottom: 1px dotted $line
    margin-bottom: 14px
    padding: 0 150px 30px 0
    .title
      margin-top: 0
      +font($black, $font3, 36, 48, inherit, bold)
    .subtitle
      margin-top: 3px
      +font($additional_text, $font4, 17, 21, italic)
/*----- B-DOCUMENT__HEADER -----*/


/*----- B-DOCUMENT__HEADER__NEWSPAPER-TITLE -----*/
.b-document__header__newspaper-title
  //position: relative
  //display: table-cell
  position: relative
  padding-left: 34px
  padding-top: 4px
  +font($additional_text2, $font5, 12,16)
/*----- B-DOCUMENT__HEADER__NEWSPAPER-TITLE -----*/


/*----- B-DOCUMENT__HEADER__SUBRUBRIC -----*/
.b-document__header__subrubric
  //vertical-align: top
  //display: table-cell
  padding-left: 1px
  padding-right: 11px
  +font($ved_green, $font1, 17)
  a
    +font($ved_green, $font1, 17)
    display: inline-block

    &:hover
      color: $primary_text

.b-document__header__subrubric.b-document__header__subrubric_from-editors
  a
    +font($ved_red, $font1, 17)
    +inline-block

  &:hover
    color: $primary_text
/*----- B-DOCUMENT__HEADER__SUBRUBRIC -----*/


/*----- b-document__header__left -----*/
.b-document__header__left
  &.b-document__header__left_column
    +inline-block
    width: 6 * $col + 6 * $gatter + px
    +breakpoint(0 $medium)
      width: 4 * $col + 4 * $gatter + px
/*----- b-document__header__left -----*/


/*----- b-document__header__right -----*/
.b-document__header__right
  &.b-document__header__right_column
    +inline-block
    text-align: center
    float: right
    width: 150px
    margin-right: $col + px
    +breakpoint(0 $medium)
      width: 2 * $col + $gatter + px
      margin-right: 0
/*----- b-document__header__right -----*/


/*----- b-document_data -----*/
.b-document__data
  padding-top: 20px
  +clearfix
  margin-bottom: 25px

  .b-document_advert_article &
    text-align: center
    margin-bottom: 0

  .pubdate
    padding-right: $gatter/2 + px
    border-right: 1px solid #e3d1c7
    +inline-block
    +font($additional_text2, $font5, 12, 18)
    .pubdate__lock
      display: inline-block
      font-size: 0
      line-height: 0
      position: relative
      height: 20px
      padding: 2px 16px 0 0
      border-right: 1px solid #e3d1c7
      vertical-align: top
      margin-right: 14px
      span
        width: 12px
        height: 15px
        padding: 0
        display: block

    &.pubdate--no-border
      border: none
    & a
      +font($additional_text2, $font5, 12, 18, inherit, normal)
      +inline-block
    & .link
      margin-left: 30px
    & a.b-document__authority

      +font($additional_text2, $font5, 12, 18, inherit, bold)
      margin-left: $gatter + px

  .b-document__header_blog &
    clear: both
    float: none

  .b-document_press-release &
    margin-bottom: 5px
    .pubdate
      div
        +font($additional_text2, $font5, 12, 18, inherit, bold)
/*----- b-document_data -----*/

.b-news-item_one__params
  margin-top: 20px
  +clearfix
  margin-bottom: 25px

  .pubdate
    +inline-block
    +font($additional_text2, $font5, 12, 18)

    & a
      +font($additional_text2, $font5, 12, 18, inherit, normal)
      +inline-block

    & a.b-document__authority

      +font($additional_text2, $font5, 12, 18, inherit, bold)
      margin-left: $gatter + px

  .b-published_at_time
    margin-left: $gatter + px

  .b-document__header_blog &
    clear: both
    float: none

  .b-document_press-release &
    margin-bottom: 5px
    .pubdate
      div
        +font($additional_text2, $font5, 12, 18, inherit, bold)

.b-document__authority
  +font($additional_text2, $font5, 12, 18, inherit, bold)

/*----- B-DOCUMENT_AUTHORS -----*/
.b-document__authors
  +inline-block
  padding-left: $gatter/2 + px

  ul
    +inline-block
    +clearfix
    font-size: 0


  li
    +inline-block
    +font($ved_green, $font5, 12, 18)
    margin-right: 3px

  .b-document_press-release &
    li
      +font($ved_green, $font5, 12, 18)
      text-transform: uppercase

/*----- B-DOCUMENT_AUTHORS -----*/


/*----- b-document__quote -----*/
.b-document__quote
  +clearfix
  position: relative
  padding-left: $col + $gatter + px

  +breakpoint(0 $medium)
    padding-left: 0
/*----- b-document__quote -----*/


/*----- b-document__quote__body -----*/
.b-document__quote__body
  +font($black, $font2, 36, 48)
  position: relative
  background: $ved_green2
  width: 528px
  text-align: center
  padding: 30px
  float: left
  div
    width: 528 - 60px
  &:before
    +corner('right', $ved_green2, -12, 24)

  +breakpoint(0 $medium)
    width: 399px
    +font($black, $font2, 30, 36)
    div
      width: 399 - 60px
/*----- b-document__quote__body -----*/


/*----- b-document__quote__name -----*/
.b-document__quote__name
  +font($primary_text, $font2, 17)
  .job
    font-family: $font1
/*----- b-document__quote__name -----*/


/*----- b-document__quote__inner -----*/
.b-document__quote__inner
  width: 215px
  float: right

  .portrait
    +border-radius(70px)
    width: 70px
    height: 70px
    overflow: hidden
    margin-bottom: 10px

  +breakpoint(0 $medium)
    width: 140px
/*----- b-document__quote__inner -----*/


/*----- b-document__image -----*/
.b-document__image
  +clearfix
  position: relative
  padding-left: $col + $gatter + px
  margin-bottom: 13px

  +breakpoint(0 $medium)
    padding-left: 0


  .title
    +font($primary_text, $font5, 12, 15)
    margin: 0
    margin-bottom: 8px

  .author-source
    +font($additional_text2, $font5, 12 ,15)

  img
    float: left
    margin-right: $gatter + px
    +breakpoint(0 $medium)
      float: none
/*----- b-document__image -----*/


/*----- b-document__image__data -----*/
.b-document__image__data
  width: 2 * $col + 10 + px
  float: left

  +breakpoint(0 $medium)
    margin: 13px 0 12px 0
    width: 100%
    float: none
    clear: both
/*----- b-document__image__data -----*/


/*----- b-document__body -----*/
.b-document__body
  position: relative
  min-height: 190px
  +clearfix_bootstrap

  &.b-document__body_video
    margin-bottom: 60px

    iframe,
    object
      width: 100%!important
      height: 100%!important
      position: absolute
      top: 0
      left: 0

  &.b-document__body_company,
  &.b-document__body_press-release
    min-height: inherit
    margin-bottom: 45px

  &.b-document__body_company
    width: 100%
/*----- b-document__body -----*/


/*----- b-document__comments -----*/
.b-document__comment

  margin: 0 auto
  position: relative
  width: 100%

.b-document__comment__inner
  width: 100%

/*----- b-document__comments -----*/


/*----- b-document__comments2 -----*/
.b-document__comment2
  background: rgba(255,0,0,0.1)
  margin: 70px auto 100px
  position: relative
  width: 12 * $col + 12 * $gatter + px
  padding-left: $col + $gatter + px

  +breakpoint(0 $medium)
    width: 9 * $col + 9 * $gatter + px
    padding-left: 0
/*----- b-document__comments2 -----*/

/*----- b-document__blog -----*/
.b-document__blog
  overflow: inherit
/*----- b-document__blog -----*/


/*----- b-document__blog__quote -----*/
.b-document__blog__quote
  float: left
  position: relative
  width: 630px
  margin-bottom: 20px

  +breakpoint(0 $medium)
    width: 380px

/*----- b-document__blog__quote -----*/


/*----- b-document__blog__inner -----*/
.b-document__blog__inner
  float: right
  width: 220px
  margin-top: 40px

  +breakpoint(0 $medium)
    width: 170px

  .portrait
    +border-radius(70px)
    +clearfix
    width: 70px
    height: 70px
    display: block

  .name
    margin-top: 9px
    +font($primary_text, $font2, 17, 21)
  .job
    +font($primary_text, $font1, 17, 21)
/*----- B-DOCUMENT__BLOG__INNER -----*/


.b-document__comment
  .messages
    font-family: $font4
    font-size: 17px
    padding-left: 50px
    padding-bottom: 25px
    position: relative

    .b-icon
      left: 0
      top: -5px
      position: absolute

    a
      color: #2e6f6f
      text-decoration: underline

    a.red-link
      color: #B65E5A

  .forum_rules,
  .material_return
    +font($ved_green, $font4, 17)
    text-decoration: underline

  .material_return
    margin-right: 20px

  .b-icon.icon-green-arrow-left
    left: 0


.b-document__comments
  .b-document__data
    margin-top: 25px
    margin-bottom: 20px

.b-button__social__wrapper
  position: relative
  font-size: 0

  ul
    width: 45px
    height: 45px
    position: absolute
    right: 0
    z-index: 998
    +breakpoint(0 $medium)
      li
        +inline-block

  +breakpoint(0 $medium)
    height: 45px
    margin-bottom: 30px

    ul
      left: 0
      right: auto
      width: auto
      li
        margin-right: 1px

  &.b-button__social__wrapper_horizontal
    margin: 25px 0 0
    .b-document_info &
      margin: 0 0 30px
    ul
      position: static
      width: auto
      li
        +inline-block
        margin-left: 1px
        +breakpoint(0 $medium)
          +inline-block

  &.b-button__social__wrapper_right
    position: absolute
    right: 0
    top: -17px

  ul.scrolled
    position: fixed
    top: 46 + 30px
    left: 50%
    margin-left: 225px
    +breakpoint(0 $medium)
      margin-left: -450px
      top: 46px
      width: 570px
      background-color: rgba(255,246,241,0.7)

.b-buttons__social__item
  position: relative
  margin-top: 1px

.b-button--social__counter
  position: absolute
  right: 2px
  bottom: -6px
  opacity: 1
  transition: opacity linear $time
  +font($white_original ,$font5, 10)
  &.ng-hide
    opacity: 0

.noselect
  +user-select(none)
