.b-document-footer


  +not-working

  padding-top: 17px
  margin: 0 auto
  position: relative
  width: 12 * $col + 12 * $gatter + px
  margin-bottom: 60px
  +breakpoint(0 $medium)
    width: 9 * $col + 9 * $gatter + px


.b-document-footer__inner
  width: 9 * $col + 8 * $gatter + px
  padding-left: $col + $gatter + px
  +breakpoint(0 $medium)
    padding-left: $col + px
    width: 6 * $col + 5 * $gatter + px


.b-document-footer__paginator
  +font($ved_green, $font4, 21, 24)
  text-decoration: underline
  padding-right: 20px
  position: relative

.b-document-footer__source
  +font($material_footer_gray, $font4, 15, 24, italic)
  margin-top: 27px

.b-document-footer__amends
  color: $material_footer_gray
  margin-top: 34px
  .title
    +font($material_footer_gray, $font4,15,18, '', bold)
  .descr
    margin-top: 13px
    margin-bottom: 10px
    +font($material_footer_gray, $font4,15,18, italic, '')

.b-document-footer__amends__amend
  +font($material_footer_gray, $font4,15,18)
  &:before
    content: "–"

.sorry
  margin-top: 10px
  +font($material_footer_gray, $font4, bold, 15,18)


