.b-dropdown
  background: $white_original
  +font($primary_text, $font1, 15)
  width: 185px
  position: relative
  z-index: 200
  cursor: pointer
  padding: 5px 0 4px
  border-radius: 3px

  .b-magazine__header &
    left: 10 * $col + px
    top: 26px

.b-dropdown > div
  padding: 0 18px

.b-dropdown__item a
  +inline-block
  width: 185px
  padding: 5px 18px

  &:hover
    background: rgb(0,0,0)



