.b-embed
  margin-top: 25px
  .b-social__layout-mutation &
    padding-right: 70px
    +breakpoint(0 $medium)
      padding-right: 0

  .b-document_info &
    position: static
    height: auto
    overflow: auto
    margin-left: 0
    ul,
    ol
      padding: 20px 0
      margin: 0
      padding-left: 32px