footer
  a[href^="/info/age"]
    +inline-block


  +clearfix
  background: $primary_text
  position: relative

.b-footer__inner
  position: relative
  margin: 29px auto 0
  width: 12 * $col + 11 * $gatter + $banner-gatter + px
  +breakpoint(0 $medium)
    width: 9 * $col + 9 * $gatter + px

.b-footer
  .title
    +font($additional_text2, $font1, 17, 21)
    margin-bottom: 5px

  ul
    +clearfix
    display: block
    font-size: 0

  li
    vertical-align: top
    //outline: 1px solid red
    +inline-block
    a, a:hover
      +inline-block
      +font($white_original, $font1, 17, 21)

  &.b-footer_about,
  &.b-footer_ad,
  &.b-footer_conference
    +inline-block
    width: 7 * $col + 7 * $gatter + px
    margin-top: 25px
    +breakpoint(0 $medium)
      width: 5 * $col + 5 * $gatter + px

  &.b-footer_service,
  &.b-footer_conference,
  &.b-footer_subscribe
    +inline-block
    width: 3 * $col +3 * $gatter + px
    margin-top: 25px

  &.b-footer_ad,
  &.b-footer_subscribe
    margin-top: 0

  &.b-footer_ad,
  &.b-footer_about
    float: right

  &.b-footer_about
    ul
      margin-top: 4px

  &.b-footer_other
    +inline-block
    margin-top: 13px
    width: 350px
    a, a:hover
      +font($additional_text2, $font1, 17, 21)
      text-decoration: underline

  &.b-footer__text
    border-top: 1px solid $line

  &.b-footer_socials
    text-align: right
    float: right
    +inline-block
    margin-top: 13px
    width: 500px
    +font($additional_text2, $font1, 17, 25)

    ul
      +inline-block
    li
      margin-left: 15px
      +inline-block
      +font($additional_text2, $font1, 17, 25)

    a
      +inline-block
      line-height: 25px!important
      color: $white


.b-footer__col
  margin-right: 50px
  +inline-block
  width: 444px
  +breakpoint(0 $medium)
    width: 365px
    margin-right: 28px
  p
    +font($additional_text2, $font5, 13, 15)

  &.b-footer__col_2
    margin-right: 0
    width: 150px
    +breakpoint(0 $medium)
      width: 100px

.b-footer_text
  padding-top: 15px
  border-top: 1px solid $news-tabs_brown



