/*------ B-FORM ------*/
.b-form
  &.b-form_reset-password,
  &.b-form_reset-password2
    text-align: left
/*------ B-FORM ------*/


/*------ B-FORM__WRAPPER ------*/
.b-form__wrapper
  .b-document_feedback &
    margin-bottom: 115px
/*------ B-FORM__WRAPPER ------*/


/*------ B-FORM__HEADER ------*/
.b-form__header
  +font($additional_text, $font1, 48, 48)
  margin-top: 37px
  margin-bottom: 4px

  .b-form_reset-password &,
  .b-form_reset-password2 &
    +font($additional_text, $font1, 21, 36)
/*------ B-FORM__HEADER ------*/


/*------ B-FORM__FIELD ------*/
.b-form__field
  position: relative
  .b-form_feedback &,
  .b-form_reset-password &,
  .b-form_reset-password2 &
    width: 5 * $col + 4 * $gatter + px
/*------ B-FORM__FIELD ------*/


/*------ B-FORM__FIELD__LABEL ------*/
.b-form__field__label
  margin-top: 15px
  +font($additional_text, $font1, 18, 24)

  .b-form_reset-password &,
  .b-form_reset-password2 &
    width: 5 * $col + 4 * $gatter + px
/*------ B-FORM__FIELD__LABEL ------*/


/*------ B-FORM__FIELD__TEXT ------*/
.b-form__field__text
  +inline-block
  margin-top: 15px
  position: relative
  border: 1px solid $form-input_border
  text-indent: 1px
  width: 100%
  height: 45px
  +font($additional_text, $font1, 18, 18)
  padding: 12px 16px 9px

  +form-placeholder
    color: $additional_text2
    line-height: normal

  &:focus
    border: 1px solid $form-input_border

  .lt-ie9 &
    text-indent: 0

  &.ng-pristine
    background: $white_original!important

  &.ng-invalid
    background: $form-input_bg-error

  .b-form_reset-password &,
  .b-form_reset-password2 &
    margin-top: 0

  .field_with_errors &
    background: $form-input_bg-error
/*------ B-FORM__FIELD__TEXT ------*/


/*------ B-FORM__FIELD__TEXTAREA ------*/
.b-form__field__textarea
  margin-top: 15px
  +inline-block
  text-indent: 1px
  border: 1px solid $form-input_border
  width: 100%
  height: 165px
  resize: none
  +font($additional_text, $font1, 18, 22)
  padding: 12px 12px 9px
  +form-placeholder
    color: $additional_text2
    line-height: normal

  .lt-ie9 &
    text-indent: 0

  &.ng-pristine
    background: $white_original!important

  &.ng-invalid
    background: $form-input_bg-error
/*------ B-FORM__FIELD__TEXTAREA ------*/


/*------ B-FORM__BUTTON ------*/
.b-form__button
  margin-top: 15px
  +inline-block
  text-align: center
  background: $ved_green
  +font($white_original, $font1, 18, 45, '', normal)
  height: 45px
  line-height: 45px
  padding: 0 40px
  border: none
  border-bottom: 5px solid
  border-color: $button-border
  border-radius: 0

  &:hover
    background-color: $button-hover
    border-bottom-color: $button-border_hover
    color: $white_original

  &:active
    border-bottom-width: 0
    border-top: 5px solid $button-border_active

  .b-form_reset-password &,
  .b-form_reset-password2 &
    width: 100%
/*------ B-FORM__BUTTON ------*/


/*------ B-FORM__REQUIRED ------*/
.b-form__required
  margin-top: 15px
  +font($additional_text2, $font1, 15, 18)
/*------ B-FORM__REQUIRED ------*/

/*------ B-FORM__ERROR ------*/
.b-form__error
  +font($ved_red2, $font1, 15)
  position: absolute
  top: 15px
  line-height: 45px
  width: 5 * $col + 4 * $gatter + px
  .b-form_feedback &
    margin-left: 5 * $col + 5 * $gatter + px

  .b-form_reset-password &,
  .b-form_reset-password2 &
    margin-left: 5 * $col + 5 * $gatter + px
    top: 0
/*------ B-FORM__ERROR ------*/


/*------ B-FORM__SUCCESS ------*/
.b-form__success
  text-align: center
  width: 100%
  margin-top: -1px
  position: relative
  border: 1px solid $tan
  padding: 55px 0
/*------ B-FORM__SUCCESS ------*/


/*------ B-FORM__SUCCESS__HEADER ------*/
.b-form__success__header
  text-align: center
  +font($additional_text, $font7, 36, 42)
  margin-bottom: 28px
/*------ B-FORM__SUCCESS__HEADER ------*/


/*------ B-FORM__SUCCESS__HEADER ------*/
.b-form__success__text
  +font($additional_text, $font2, 18, 24)

  a, a:hover
    color: $ved_green
/*------ B-FORM__SUCCESS__HEADER ------*/