.b-fullscreen-controls
  color: $fullscreen_controls
  width: 240px
  float: right
  display: block
  margin-top: 47px
  position: relative
  ul
    +inline-block
    height: 40px

  li:first-child
    width: 65px
    line-height: 32px


.b-fullscreen__control
  +inline-block
  height: 40px
  float: left
  min-width: 40px
  margin-right: 20px
  a
    +inline-block
    width: 100%
    position: relative
    height: 40px
