/*----- b-fullscreen-tiles -----*/
.b-fullscreen-tiles
  +clearfix
  +inline-block
  width: 12 * $col + 11 * $gatter + px
  text-align: left

  ul
    +clearfix

    width: 12 * $col + 12 * $gatter + px
    padding: 31px 0 0 0px

  +breakpoint(0 $medium)
    width: 9 * $col + 8 * $gatter + px
    ul
      width: 9 * $col + 9 * $gatter + px
      padding-left: $col + px
/*----- B-FULLSCREEN-TILES -----*/


/*----- B-FULLSCREEN-TILES__TILE -----*/
.b-fullscreen-tiles__tile
  +single-transition(opacity, $time3, ease-in-out)
  float: left
  text-align: center
  margin-right: $gatter + px
  margin-bottom: 30px
  width: 170px
  height: 113px
  cursor: pointer
  img
    +inline-block
    position: relative
    margin: 0
    border: 0

  &.fade
    opacity: 0.6
/*----- B-FULLSCREEN-TILES__TILE -----*/


/*----- B-FULLSCREEN-TILES__TITLE -----*/
.b-fullscreen-tiles__title
  +font($tan, $font1, 36,36)
  margin-top: 58px
  +breakpoint(0 $medium)
    padding: 0 $col + px
/*----- B-FULLSCREEN-TILES__TITLE -----*/

/*----- B-FULLSCREEN-TILES__SUBTITLE -----*/
.b-fullscreen-tiles__subtitle
  +font($tan, $font4, 18,21, italic)
  margin-top: 12px
  +breakpoint(0 $medium)
    padding: 0 $col + px
/*----- B-FULLSCREEN-TILES__SUBTITLE -----*/


/*----- B-FULLSCREEN-TILES__AUTHOR -----*/
.b-fullscreen-tiles__author
  margin-top: 16px
  margin-bottom: 25px
  +font($fullscreen_controls, $font5, 12,18)
  +breakpoint(0 $medium)
    padding: 0 $col + px
/*----- B-FULLSCREEN-TILES__AUTHOR -----*/
