/*----- B-FULLSCREEN__WRAPPER -----*/
.b-fullscreen__wrapper
  background-color: $fullscreen_bg2
  +single-transition(opacity, $time2, ease-in-out)
  position: absolute
  width: 100%
  min-width: 1001px
  height: 100%
  overflow-x: auto
  top: 0
  left: 0
  z-index: 99999

  &.ng-hide-remove
    z-index: 9999
    opacity: 0

  &.ng-hide-add
    z-index: 9999

  &.ng-hide-remove-active
    opacity: 1

  &.ng-hide-add-active
    opacity: 0

  &.ng-show
    opacity: 1
    top: 0

  &.active
    height: 100%
/*----- B-FULLSCREEN__WRAPPER -----*/


/*----- B-FULLSCREEN -----*/
.b-fullscreen
  background-color: $fullscreen_black_bg
  +clearfix
  +transition(all, $time2, ease-in-out)
  overflow-y: auto
  left: 0
  top: 0
  background-repeat: repeat-y
  background-position: 100% 0
  //background-color: $fullscreen_bg2
  text-align: center
  height: 100%

  ul
    +clearfix

  &.b-fullscreen_tiles
    background-image: none

  &.ng-hide-remove
    opacity: 0

  &.ng-hide-add
    position: absolute
    opacity: 0

  &.ng-hide-remove-active
    opacity: 1

  &.ng-hide-add-active
    opacity: 0

  &.ng-show
    opacity: 1

/*----- B-FULLSCREEN -----*/

/*----- B-FULLSCREEN__INNER -----*/
.b-fullscreen__inner
  +clearfix
  width: 100%
  display: table
  position: relative
  min-height: 100%

  &.b-fullscreen__inner_gallery
    padding: 0 340px 0 0

  &.b-fullscreen__inner_tiles
    text-align: left
    margin: 80px auto 80px
    width: 1050px
    +breakpoint(0 $medium)
      width: 720px

    .title
      +font($white, $font1, 36, 39)

    .subtitle
      margin-top: 10px
      +font($white, $font4, 21, 24, italic)

    ul
      +clearfix
      width: (180 + 30) * 5 + px
      padding-top: 25px
      +breakpoint(0 $medium)
        width: (180 + 30) * 4 + px

    li
      cursor: pointer
      background: $black
      float: left
      width: 180px
      height: 120px
      line-height: 120px
      margin-right: 30px
      margin-top: 30px
      text-align: center
    img
      +inline-block
      position: relative
      z-index: 21
      vertical-align: middle
/*----- B-FULLSCREEN__INNER -----*/


/*----- B-FULLSCREEN__LEFT -----*/
.b-fullscreen__left
  display: table-cell
  vertical-align: middle
  //padding-right: 315 + px
  position: relative
  background: $fullscreen_bg2
  img
    +inline-block
    position: relative
    z-index: 40
    opacity: 1
    padding: 0 15px
/*----- B-FULLSCREEN__LEFT -----*/


/*----- B-FULLSCREEN__RIGHT -----*/
.b-fullscreen__right
  width: 340px
  padding: 0 30px

  position: absolute
  top: 0
  right: 0
  bottom: 0
  overflow: auto
/*----- B-FULLSCREEN__RIGHT -----*/


/*----- B-FULLSCEEN__DESCRIPTION -----*/
.b-fullsceen__description
  padding-top: 100px
  a:link, a:active
    text-decoration: underline
  a:hover
    text-decoration: none
    color: $white
  .description
    margin-top: 10px
    +font($white, $font5, 15, 21)
    text-align: left

  .author
    margin-top: 10px
    +font($news-tabs_brown, $font5, 13, 15)
    text-align: left

  .counter
    margin-top: 20px
    +font($news-tabs_brown, $font5, 13, 15)
    text-align: left
/*----- B-FULLSCEEN__DESCRIPTION -----*/
