/*----- B-GALLERY2  -----*/
.b-gallery2
  text-align: center
  width: 9 * $col + 8 * $gatter + px
  position: relative
  margin-top: 25px

  +breakpoint(0 $medium)
    width: 570px

  .b-gallery2__counter
    display: none
    //+font($additional_text2, $font5, 15, 18)
    //position: absolute
    //top: 456px
    //right: 100px
    //
    //+breakpoint(0 $medium)
    //  top: 388px
    //  right: 0
/*----- B-GALLERY2 -----*/


/*----- B-GALLERY2__ITEM -----*/
.b-gallery2__item
  +single-transition(opacity, $time2, ease-in-out)
  +inline-block
  display: inline-block!important
  width: 669px
  top: 0
  img
    +inline-block


  +breakpoint(0 $medium)
    width: 570px
  &.ng-hide-remove
    opacity: 0

  &.ng-hide-add
    opacity: 0

  &.ng-hide-remove-active
    opacity: 1

  &.ng-hide-add-active
    opacity: 0

  &.ng-show
    opacity: 1


.b-gallery2__item__descr
  text-align: left
  margin-top: 13px
  +font($black, $font5, 15, 18)

  .source
    margin-top: 4px
    +font($additional_text2, $font5, 12)
    display: block

  .text
    +font($additional_text, $font5, 12, 15)
/*----- B-GALLERY2__ITEM -----*/


/*----- B-GALLERY2__NEXT -----*/
.b-gallery2__next
  position: absolute
  top: 206px
  right: -8px
  z-index: 300
  cursor: pointer
  +breakpoint(0 $medium)
    top: 175px
    right: 40px
/*----- B-GALLERY2__NEXT -----*/


/*----- B-GALLERY2__PREV -----*/
.b-gallery2__prev
  position: absolute
  top: 206px
  left: -3px
  z-index: 300
  cursor: pointer
  +breakpoint(0 $medium)
    top: 175px
    left: 40px
/*----- B-GALLERY2__PREV -----*/


/*----- B-GALLERY2__INNER -----*/
.b-gallery2__inner
  +single-transition(opacity, $time3, ease-in-out)
  opacity: 1
  top: 283px
  position: absolute
  width: 669px
  height: 163px
  left: 50%
  margin-left: -334px
  overflow: hidden
  +breakpoint(0 $medium)
    width: 570px
    top: 217px
    margin-left: -285px

  &.ng-hide
    opacity: 0
/*----- B-GALLERY2__INNER -----*/


/*----- B-GALLERY2__THUMBS__WRAPPER -----*/
.b-gallery2__thumbs__wrapper
  +single-transition(bottom, $time3, ease-in-out)
  position: absolute
  bottom: -88px
  width: 669px
  height: 88px
  left: 50%
  margin-left: -335px
  z-index: 200
  background: $gallery2-thumbs_background
  text-align: center
  +breakpoint(0 $medium)
    width: 570px
    margin-left: -285px

.b-gallery2__thumbs__wrapper.open
  bottom: 0

/*----- B-GALLERY2__THUMBS__WRAPPER -----*/


/*----- B-GALLERY2__THUMBS__INNER -----*/
.b-gallery2__thumbs__inner
  +inline-block
  position: relative
  top: 0
  width: 99999px
  height: 88px
  text-align: left
  +single-transition(left, $time3, ease-in-out)

  ul
    margin-left: 20px
/*----- B-GALLERY2__THUMBS__INNER -----*/


/*----- B-GALLERY2__THUMBS -----*/
.b-gallery2__thumbs
  +clearfix
  position: absolute
  top: 0
  //24 - ширина кнопки назад/вперед
  width: 670 - 70 * 2 + px
  height: 88px
  margin-left: 70px
  z-index: 400
  +breakpoint(0 $medium)
    width: 570 - 70 * 2 + 10 + px
    margin-left: 65px


/*----- B-GALLERY2__THUMBS -----*/


/*----- B-GALLERY2__THUMB__ITEM -----*/
.b-gallery2__thumbs__item
  +clearfix
  +single-transition(opacity, $time3, ease-in-out)
  opacity: 0.6
  width: 75px
  height: 50px
  float: left
  margin: 20px 16px 0 0
  position: relative
  cursor: pointer
  text-align: center
  img
    +inline-block

  &:hover,
  &.active
    opacity: 1
/*----- B-GALLERY2__THUMB__ITEM -----*/


.b-gallery2__thumbs__next
  position: absolute
  right: 0
  width: 70px
  height: 88px
  top: 0
  z-index: 400
  cursor: pointer


.b-gallery2__thumbs__prev
  position: absolute
  left: 0
  width: 70px
  height: 88px
  top: 0
  z-index: 400
  cursor: pointer