/*----- B-GALLERY -----*/
.b-gallery
  +clearfix
  position: relative
  width: 9 * $col + 8 * $gatter + px
  margin: 31px 0 0 0

  .b-document_info &
    margin-top: 26px
    margin-bottom: 21px

  .b-document_press-release &,
  .b-document_company &
    margin-top: 26px
    margin-bottom: 21px

  +breakpoint(0 $medium)
    width: 6 * $col + 5 * $gatter + px

  &.loaded
    max-height: 390px
  //opacity: 0.5
    //overflow: hidden

  &.b-gallery_title-image
    width: 100%
    margin: 0
    .b-document_advert_article &
      margin: 25px 0 0 0

  .b-document_advert_article &
    width: 100%
    button.b-button.b-button_fullscreen
      right: 0
/*----- B-GALLERY -----*/

/*----- B-GALLERY__ITEM -----*/
.b-gallery__item
  +single-transition(opacity, $time2, ease-in-out)
  width: 570px
  position: relative
  left: 50%
  margin-left: -285px

  &.ng-hide-remove
    opacity: 0

  &.ng-hide-add
    position: absolute
    opacity: 0

  &.ng-hide-remove-active
    opacity: 1

  &.ng-hide-add-active
    opacity: 0

  &.ng-show
    opacity: 1

  .b-gallery_title-image &
    left: 0
    margin-left: 0
    width: 100%
    +breakpoint(0 $medium)
      left: 0


  .b-social__layout-mutation &
    margin-left: -320px
    +breakpoint(0 $medium)
      margin-left: -285px

  .b-document_advert_article &
    margin: 0
    left: 0
    width: 100%

/*----- B-GALLERY__ITEM -----*/


/*----- B-GALLERY__ITEM__WRAPPER -----*/
.b-gallery__item__image-wrapper
  text-align: center
  background: $gallery
  width: 570px
  min-height: 380px
  vertical-align: middle
  line-height: 379px
  margin-bottom: 27px
  font-size: 0
  img
    +inline-block
    max-width: 100%
    vertical-align: middle
    .b-gallery.loaded &
      opacity: 0
    
  .b-gallery_title-image &
    float: left
    margin-right: 30px
    margin-bottom: 13px
    +breakpoint(0 $medium)
      float: none

  .b-document_info &
    margin-bottom: 15px

  .b-document_advert_article &
    width: 100%
    //line-height: normal
    img
      max-width: 100%

/*----- B-GALLERY__ITEM__WRAPPER -----*/


/*----- B-GALLERY__ITEM__INNER -----*/
.b-gallery__item__inner
  width: 570px
  text-align: left
  position: relative
  a:link, a:active
    text-decoration: underline
  a:hover
    text-decoration: none
    color: $additional_text
  .author
    width: 520px
    +font($additional_text2, $font5, 13, 15)
    margin-bottom: 15px

    .b-gallery_title-image &
      +font($additional_text2, $font5, 12 ,15)
      width: 100%
  .description
    width: 520px
    +font($additional_text, $font5, 13, 18)

    .b-gallery_title-image &
      +font($primary_text, $font5, 12, 15)
      margin: 0
      margin-bottom: 8px
      width: 2 * $col + 2 * $gatter + px
      +breakpoint(0 $medium)
        width: 570px

  .counter
    +font($additional_text2, $font5, 13, 15)
    position: absolute
    right: 0
    top: 0

  .b-gallery_title-image &
    width: 170px
    float: left
    +breakpoint(0 $medium)
      width: 570px
  .b-document_advert_article &
    margin: auto
    width: 100%
/*----- B-GALLERY__ITEM__INNER -----*/

/*----- B-GALLERY__THUMBS__WRAPPER -----*/
.b-gallery__thumbs__wrapper
  .b-gallery.loaded &
    opacity: 0
  +clearfix
  +single-transition(opacity, $time3, ease-in-out)
  position: absolute
  top: 310px
  width: 500px
  left: 50%
  margin-left: -285px
  z-index: 200
  background: $gallery2-thumbs_background
  text-align: center
  height: 70px

  &.ng-hide
    opacity: 0

  .b-gallery_title-image &
    width: 100%

/*----- B-GALLERY__THUMBS__WRAPPER -----*/


/*----- B-GALLERY__THUMBS__INNER -----*/
.b-gallery__thumbs__inner
  +single-transition(left, $time3, ease-in-out)
  +inline-block
  position: relative
  top: 0
  width: 99999px
  height: 70px
  text-align: left

  ul
    margin-left: 20px
/*----- B-GALLERY__THUMBS__INNER -----*/


/*----- B-GALLERY__THUMBS -----*/
.b-gallery__thumbs
  +clearfix
  width: 440px
  position: absolute
  top: 0
  height: 70px
  margin-left: 30px
  z-index: 400
/*----- B-GALLERY2__THUMBS -----*/


/*----- B-GALLERY2__THUMB__ITEM -----*/
.b-gallery__thumbs__item
  +clearfix
  +single-transition(opacity, $time3, ease-in-out)
  opacity: 0.6
  width: 75px
  height: 50px
  float: left
  margin: 10px 16px 0 0
  position: relative
  cursor: pointer
  text-align: center
  img
    +inline-block

  &:hover,
  &.active
    opacity: 1
/*----- B-GALLERY2__THUMB__ITEM -----*/

/*----- B-GALLERY__THUMBS__NEXT -----*/
.b-gallery__thumbs__next
  position: absolute
  right: 0
  width: 30px
  height: 70px
  top: 0
  z-index: 400
  cursor: pointer
/*----- B-GALLERY__THUMBS__NEXT -----*/


/*----- B-GALLERY__THUMBS__PREV -----*/
.b-gallery__thumbs__prev
  position: absolute
  left: 0
  width: 30px
  height: 70px
  top: 0
  z-index: 400
  cursor: pointer
/*----- B-GALLERY__THUMBS__PREV -----*/
