._b-links
  width: 21 * $col + px
  +breakpoint(0 $medium)
    width: 7 * $col + 6 * $gatter + px

  .b-news-item &
    border-top: 1px dotted $tan
    margin-top: 30px


  ul
    border: 0
    list-style: disc
    list-style-position: outside

.b-links__title
  width: 17 * $col + px
  +font($black, $font2, 21, 21)
  margin-top: 15px
  +breakpoint(0 $medium)
    width: 7 * $col + 6 * $gatter + px

.b-links__item
  margin: 7px 0
  margin-left: 15px
  +font($ved_green, $font5, 16, 21)

  &:hover
    color: $black

