.b-logo
  +inline-block
  text-align: center
  vertical-align: top
  .b-logo__image
    height: image-height('logo.png')
    width: image-width('logo.png')
    +inline-block
    &.b-logo__image-print
      display: none
  &.b-logo_rubric
    margin-bottom: 10px
    +clearfix
    h1
      position: relative
      +inline-block
      +font($additional_text, $font1, 17)
      background: $body-bg
      padding: 0 10px
      margin: 0
      z-index: 100
      text-transform: uppercase
    .b-logo__image-medium
      height: image-height('logo_medium.png')
      width: image-width('logo_medium.png')
    .b-logo__image
      height: image-height('logo.png')
      width: image-width('logo.png')
.b-logo__inner
  .b-logo_rubric &
    position: relative

.b-logo__inner:after,
.b-logo__inner:before
  .b-logo_rubric &
    content: ''
    border-top: 1px solid $line
    position: absolute
    top: 10px
    width: 100%
    z-index: 10

.b-logo__inner:before
  .b-logo_rubric &
    left: 0