.b-map-wrapper
  display: inline-block
  position: relative
  width: 100%
  max-width: 800px
  margin: 30px 0
  font-size: 0
  &:first-child
    margin-top: 0
  path
    stroke: white
    stroke-width: 0.3px

  div.tooltip
    z-index: 999999
    background: #fff
    position: absolute
    text-align: left
    +font($primary_text, $font4, 16)
    border: 1px
    border-radius: 2px
    pointer-events: none
    width: 290px
    text-align: left
    padding: 20px
    height: auto
    +transform(translateX(-50%))
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2)
    .tooltip__bottomline
      +font($primary_text, $font5, 15)
      margin-top: 16px
      padding-top: 16px
      border-top: 1px solid $line
    em
      font-style: normal
      color: $red_text
    .tooltip__title
      +font($primary_text, $font1, 21)
      margin-bottom: 10px
    .after
      position: absolute
      content: ""
      left: 50%
      bottom: -11px
      margin-left: -9px
      width: 0
      height: 0
      border-style: solid
      border-width: 12px 9px 0 9px
      border-color: #ffffff transparent transparent transparent

  .b-map-box
    position: relative
  .b-map
    background: #fff
    display: inline-block
    width: 100%
    overflow: hidden
    float: none
    height: 500px
    .b-map__title
      +font($primary_text, $font2, 21)
      position: absolute
      top: 25px
      left: 25px
  .b-map-buttons
    z-index: 100
    position: absolute
    top: 400px
    right: 20px

  .b-map-buttons__button
    border: 1px solid black
    background-color: rgba(255, 255, 255, 0.7)
    color: black
    font-weight: 400
    cursor: pointer
    font-size: 16px
    font-family: arial
    height: 32px
    width: 32px
    text-align: center
    line-height: 32px
    border-radius: 20px
    margin-top: 8px
    opacity: .5
    &:hover
      opacity: .8

  g
    transform-origin: center

  .map__info
    background: rgba(255, 255, 255, 0.7)
    padding: 20px
    font-size: 12px
    margin-top: 1px
    .lenend__title
      +font($primary_text, $font4, 15, 21)

    .lenend__source
      +font($primary_text, $font5, 15)
      opacity: .5
      margin-top: 17px
      margin-right: 10px
      text-align: right
      +breakpoint(0 $medium)
        text-align: left
    .legend-blocks
      white-space: nowrap
      margin-top: 20px
      float: left
      +breakpoint(0 $medium)
        float: none
      .legend
        display: inline-block
        margin-right: 15px
        div
          width: 20px
          height: 20px
          display: inline-block
          vertical-align: middle
          margin-right: 5px