/*----- B-NEWSPAPER -----*/
.b-newspaper
/*----- B-NEWSPAPER -----*/


.b-newspaper__flash
  height: 600px
  +breakpoint(0 $medium)
    height: 490px

  &.visible
    display: block!important


/*----- B-NEWSPAPER__HEADER -----*/
.b-newspaper__header
  margin-top: 4px
  +font($ved_green, $font3, 30)
  +transition(color $time ease-in-out)
  width: 100%
  border-bottom: 1px solid $line
/*----- B-NEWSPAPER__HEADER -----*/


/*----- B-NEWSPAPER__TITLE -----*/
.b-newspaper__title
  border-bottom: 1px solid $line
  margin-top: 24px
  +font($ved_green, $font3, 30)
  +transition(color $time ease-in-out)
  width: 9 * $col + 8 * $gatter + px
  +breakpoint(0 $medium)
    width: 9 * $col + 9 * $gatter + px
/*----- B-NEWSPAPER__TITLE -----*/

/*----- B-NEWSPAPER__ITEMS -----*/
.b-newspaper__items
/*----- B-NEWSPAPER__ITEMS -----*/

.b-newspaper__epub.b-file__title
  padding-left: 0

  a
    font: 22px $font2
    color: #332f2e
  i
    vertical-align: middle
    position: static !important

.b-file__title__link
  margin-right: 28px