.b-pagination
  font-size: 0
  margin-top: 43px

.b-pagionation__item
  +inline-block
  margin-right: 15px
  text-align: center
  height: 36px
  line-height: 36px
  +border-radius(3px)

  background: $tan6
  padding: 0 12px
  &:hover
    background: $tan


.b-pagionation__item_left

.b-pagionation__item_right

.b-pagionation__link
  line-height: 36px
  +font($black, $font5, 15, '','', bold)
  &:hover, &:active, &:visited, &:focus
    +font($black, $font5, 15, '','', bold)
