/*----- B-PARAMS -----*/
.b-params

  &.b-params_show
    display: block!important

  position: absolute
  top: 0
  left: 0
  width: 47px

  .b-document__image &,
  .b-document__quote &,
  .b-news-item_one &
    +breakpoint(0 $medium)
      display: none

  .b-document__body &
    display: none
    margin-top:  14px
    +breakpoint(0 $medium)
      display: block

  li
    text-align: center
    +clearfix
    border-bottom: 1px dotted $tan
    padding: 5px 0

    .counter
      +inline-block
      +font($additional_text2, $font5, 13, 18)
      width: 47px
      margin-bottom: 2px
      text-align: center

    &:first-child
      border-top: 1px dotted $tan

    //&:nth-child(2)
    //  +not-working
/*----- B-PARAMS -----*/


/*----- B-PARAMS__ICONS -----*/
.b-params__icons
  +clearfix
  position: relative
/*----- B-PARAMS__ICONS -----*/


