.b-paywall
  z-index: 200
  width: 100%
  position: relative
  box-shadow: 0px -68px 63px -4px #fff6f1
  background-color: #fff6f1
  clear: both
  a
    color: $ved_green
  &.b-paywall_buy-subscription
    margin-bottom: 0

  .b-options
    margin-bottom: 10px
  .b-features
    margin-top: 26px
  .header, .b-features__header
    +font($primary_text, $font2, 24, 21)
  .header
    padding-left: 40px
    position: relative
    margin-top: 6px
    min-height: 26px
  .sign-in__icon, .header__icon
    display: inline-block
    vertical-align: middle
  .sign-in__icon
    margin-right: 11px
    position: relative
    top: -2px
  .header__icon
    margin-right: 8px
    position: absolute
    top: -5px
    left: 0
  .b-features__list
    margin: 0
    padding: 0
    margin-top: 15px
    .b-feature
      +font($primary_text, $font1, 18, 21)
      margin: 0
      padding: 0
      background: inline-image('svg/green_option.svg') no-repeat
      background-position-x: 0
      background-position-y: 10px
      padding: 8px 0 7px 36px
  .description
    +font($additional_text, $font5, 17, 24)
    margin-bottom: 30 - 10px //10 - высота радиокнопки
    margin-top: 5px

  .message
    +font($additional_text, $font4, 24, 27)
    position: absolute
    top: 203px
    right: 0
    width: 540px
    +breakpoint(0 $medium)
      width: 300px
  .sign-in
    float: right
    +font($ved_green, $font1, 16, 21)
    margin-right: 0
    margin-top: 3px
    margin-top: 9px
    position: relative
    z-index: 55
    a
      text-decoration: underline
  .b-other-options
    @extend .sign-in
    float: none
    margin-top: 28px
    text-align: right
  &.b-paywall_newspaper
    float: none
    box-shadow: none
    z-index: 170


  .b-subscription-form-field_social__header
    position: absolute
    left: 0
    padding-right: 30px
    +breakpoint(0 $medium)
      width: 170px

  .b-paywall__social-auth
    margin-top: 30px
    padding: 30px 0
    position: relative
    border-top: 1px dotted #e3d1c7
    border-bottom: 1px dotted #e3d1c7

    .b-subscription-form-field_social__header
      line-height: 21px

    .b-subscription-form-fieldset_right
      display: none

    .b-subscription-form-field
      text-align: right
      width: 100%
      margin: 0


  .b-sign-in-container

    .b-subscription-form-field_social__header
      line-height: 21px
      top: 15px
      left: -330px
      +breakpoint(0 $medium)
        left: -170px

    .b-subscription-form-fieldset.b-subscription-form-fieldset_left
      margin: 15px 0 0 0
      float: right
      width: 400px

    .b-subscription-button
      float: right
      width: 180px
      margin-top: -20px

    .b-subscription-form-field_sign-in
      .b-subscription-button
        width: 120px
        margin-top: -30px



.b-paywall__inner
  border-top: 1px solid $tan
  margin: 30px 0 0
  padding-top: 47px
  width: 800px
  &.loading
    opacity: 0.1

  +breakpoint(0 $medium)
    width: auto
    padding-left: 0

  .b-document_newspaper &
    border: 1px solid $tan
    border-top: 0
    margin-top: 0
    text-align: left
    padding-bottom: 38px
    margin-bottom: 28px
    padding-left: inherit
    width: 100%
    padding-top: 21px

    p
      padding-left: 0
      width: inherit

    p
      +font($additional_text, $font7, 36, 42)

    p + p
      +font($additional_text, $font1, 18, 24)
      margin-top: 20px

.b-paywall__switcher
  margin-left: 1px
  margin-top: 24px
  li
    +inline-block

    &:first-child
      margin-right: 36px

  label
    +font($additional_text, $font2, 17, 21)

  input[type=radio]
    margin-right: 10px
    +inline-block

.b-paywall-body__header
  +font($additional_text, $font1, 21, 36)
  margin-top: 46px

.b-paywall__image
  position: relative
  left: -28px

.b-paywall__banner
  text-align: center
  padding-top: 30px

.b-paywall__left
  .b-paywall_newspaper &
    float: left

.b-paywall__right
  .b-paywall_newspaper &
    +font($additional_text2, $font1, 15, 18)
    float: right
    text-align: right

  span
    display: block
    margin-top: 10px

.b-paywall_newspaper
  +font($primary_text, $font1, 19)

  .b-paywall__inner
    border: none

  .b-paywall_newspaper__inner
    padding: $margin + px 0
    text-align: center
    border-bottom: 1px solid $tan

    span
      vertical-align: middle
      display: inline-block
    .b-button_newspaper-paywall-auth
      margin-left: 25px
      width: 100px
      vertical-align: middle

  .id-socials-wrapper
    padding-top: $padding + px
    .id-socials
      min-width: 180px

    .btn
      width: 51px
      display: inline-block
      height: 56px
      cursor: pointer
      margin-right: 5px

    .btn:last-child
      margin-right: 0

  .b-conditions
    .left
      display: inline-block
