.b-person-index
  margin-top: 30px
  a,
  b
    display: inline-block
    font: bold 13px/21px Arial, sans-serif
    padding: 0 7px
    border: 1px solid #e3d1c7
    border-radius: 3px
    margin-right: 5px
    margin-bottom: 6px
    text-transform: lowercase
    &:hover
      color: inherit
    
  b
    border: none
    color: #fff
    background: $ved_green
    &:hover
      color: #fff
  &.b-person-index__groups
    a, b
      text-transform: none



.b-person-biography
  font: 18px/30px Arial, sans-serif
  color: #857871
  
.b-document__header.b-document__header_company.b-person-header
  min-height: 70px

.b-person-image
  width: auto
  float: right
  margin: 15px 0 15px 15px
  
  +breakpoint(0 $medium)
    display: none 

.b-person
  a
    font: 18px/24px Georgia, Arial, sans-serif
    color: $ved_green
    cursor: pointer
    text-decoration: underline !important