/*----- B-PODCAST -----*/
.b-podcast
  width: 800px
  margin: 0 auto
  +breakpoint(0 $medium)
    width: 800px
/*----- B-PODCAST -----*/


/*----- B-PODCAST __HEADER -----*/
.b-podcast__header
  +font($ved_green, $font3, 30)
  +transition(color $time ease-in-out)
  width: 100%
  border-bottom: 1px solid $line
/*----- B-PODCAST __HEADER -----*/


/*----- B-PODCAST__PLAYER -----*/
.b-podcast__player
  height: 145px
  margin-top: 43px

  audio

  #player
    width: 100%
    background-color: $player
    height: 60px

  #play
    position: relative
    font-size: 0
    +inline-block
    background: none
    border: none
    outline: none
    height: 60px
    width: 45px
    padding: 0
    margin: 0

  #timeline_bg
    cursor: pointer
    +inline-block
    margin-top: 25px
    width: 600px
    position: relative
    height: 8px

  #timeline_bg_inner
    overflow: hidden
    position: relative
    height: 4px
    margin-top: 2px
    background: $white_original

  #timeline
    left: 0
    top: 0
    height: 10px
    background: $ved_red
    width: 10px
    position: absolute

  #volume_bg
    width: 33px
    height: 60px
    position: relative
    background: black
    +inline-block
    overflow: hidden

  #volume_wrapper
    float: right
    width: 60px

  #volume
    position: absolute
    height: 60px
    left: 0
    width: 33px
    z-index: 10
    top: 0
    background: $white_original

  #volume_area
    position: absolute
    height: 60px
    left: 0
    width: 33px
    z-index: 40

  #timer
    width: 78px
    text-align: center
    +inline-block
    +font($primary_text, $font2, 14, 60)
/*----- B-PODCAST__PLAYER -----*/


/*----- B-PODCAST__OTHER -----*/
.b-podcast__other
  .title
    +font($primary_text, $font2, 22, 38)
    border-bottom: 1px solid $line
  .item
    height: 45px
    line-height: 45px
    border-bottom: 1px dotted $line
  a
    +font($primary_text, $font2, 18, 45)
/*----- B-PODCAST__OTHER -----*/

.b-podcast__download
  +inline-block
  +font($primary_text, $font2, 22, 58)
  color: $primary_text!important
.b-podcast__rss
  +inline-block
  +font($primary_text, $font2, 22, 58)
  margin-right: 20px
  color: $primary_text!important

