.b-popup
  position: absolute
  z-index: 400


  &.b-popup_fullscreen-clue
    display: none
    margin-top: -230px
    margin-left: -13px
    width: 230px
    background: $fullscreen-clue_bg
    padding: 10px 20px 20px
    border: 1px solid $tan

    .b-fullscreen__control a:hover &
      display: block


    .text
      +font($fullscreen-clue_text, $font5, 12, 17)

    .title
      +font($fullscreen-clue_text, $font1, 17, inherit)

    &:before
      right: 175px
      top: 172px
      z-index: 21
      content: ""
      position: absolute
      width: 0
      height: 0
      border-style: solid
      border-width: 12px 12px 0 12px
      border-color: white transparent transparent transparent

    &:after
      position: absolute
      right: 175px
      top: 173px
      z-index: 20
      content: ""
      width: 0
      height: 0
      border-style: solid
      border-width: 12px 12px 0 12px
      border-color: $fullscreen-clue_bg transparent transparent transparent
