/*----- B-PRESS-RELEASE -----*/
.b-press-release
/*----- B-PRESS-RELEASE -----*/


/*----- B-PRESS-RELEASE__INFO -----*/
.b-press-release-info
  border-top: 1px dotted $line
  +font($primary_text, $font4, 15, 21)
  margin: 25px 0 0 0
  padding: 25px 0 0 0
/*----- B-PRESS-RELEASE__INFO -----*/


/*----- B-PRESS-RELEASE-INFO__CONTACT -----*/
.b-press-release-info__contact
/*----- B-PRESS-RELEASE-INFO__CONTACT -----*/


/*----- B-PRESS-RELEASE-INFO__EMAIL -----*/
.b-press-release-info__email
  a
    +font($ved_red2,$font4, 15, 21)
    text-decoration: underline!important
  a:hover
    +font($ved_red2,$font4, 15, 21)
    text-decoration: none!important
/*----- B-PRESS-RELEASE-INFO__EMAIL -----*/


/*----- B-PRESS-RELEASE-INFO__ORIGINAL -----*/
.b-press-release-info__original
  +font($ved_red2,$font4, 15, 21)
  text-decoration: underline!important
  &:hover
    +font($ved_red2,$font4, 15, 21)
    text-decoration: none!important
/*----- B-PRESS-RELEASE-INFO__ORIGINAL -----*/

.b-press-release__location
  font-weight: bold
  margin-left: 10px
