/*----- B-SEARCH -----*/
.b-search
/*----- B-SEARCH -----*/


/*----- B-SEARCH__PRELOADER -----*/
.b-search__preloader
  position: absolute
  top: 200px
  left: 50%
  margin-left: -20px
/*----- B-SEARCH__PRELOADER -----*/


/*----- B-SEARCH__RESULTS -----*/
.b-search__results
  position: relative

  & > ul.disabled
    opacity: 0.5
/*----- B-SEARCH__RESULTS -----*/


/*----- B-SEARCH__FORM -----*/
.b-search__form
  position: relative
  min-height: 145px
  background: $ved_red3
  padding: 35px $gatter + px 50px
  +breakpoint(0 $medium)
    width: 570px

  //строка поиска
  #search_field
    border-bottom-left-radius: 3px
    border-top-left-radius: 3px
    +inline-block
    width: 720px
    height: 37px
    line-height: 37px
    +transition (none)
    border: 1px solid $tan
    will-change: width
    +border-radius(3)
    padding: 0 10px

    +breakpoint(0 $medium)
      width: 420px

    &.b-search_field__expanded
      width: 100%

/*----- B-SEARCH__FORM -----*/


/*----- B-SEARCH__ADVANCED-OPTIONS__TITLE -----*/
.b-search__advanced-options__title
  +inline-block
  width: 125px
  +font($primary_text, $font2, 18)
/*----- B-SEARCH__ADVANCED-OPTIONS__TITLE -----*/


/*----- B-SEARCH__ADVANCED-OPTIONS__INNER -----*/
.b-search__advanced-options__inner
  +inline-block

  .b-search__period &,
  .b-search__source &,
  .b-search__types &
    +font($primary_text, $font1, 15, 21)
    width: 680px
    +breakpoint(0 $medium)
      width: 380px

  &.error
    input
      border: 1px solid $ved_red2

/*----- B-SEARCH__ADVANCED-OPTIONS__INNER -----*/


/*----- B-SEARCH__SOURCE -----*/
.b-search__source
  padding: 15px 0
  border-top: 1px dotted $black
  border-bottom: 1px dotted $black
  line-height: 21px

  ul
    +clearfix
    &:after
      content: ''
      +inline-block
      width: 100%

  li
    +inline-block
    position: relative
    margin-right: 30px

  input
    margin-right: 5px
/*----- B-SEARCH__SOURCE -----*/


/*----- B-SEARCH__TYPES -----*/
.b-search__types
  line-height: 21px
  padding-top: 15px
  ul
    +clearfix
    &:after
      content: ''
      +inline-block
      width: 100%

  li
    +inline-block
    position: relative
    margin-right: 30px

  input
    margin-right: 5px
/*----- B-SEARCH__TYPES -----*/


/*----- B-SEARCH__PERIOD -----*/
.b-search__period
  margin-top: 22px
  line-height: 30px
  padding-bottom: 20px
  li
    float: left
    line-height: 30px
  input[type='radio']
    margin-right: 5px
  label
    margin-right: 25px

  label[for='period']
    margin-right: 17px
/*----- B-SEARCH__PERIOD -----*/


/*----- B-SEARCH__PERIOD-DATAPICKER -----*/
.b-search__period-datapicker
  +inline-block
  line-height: 30px
  input
    height: 30px
    width: 30px
    text-align: center
    line-height: 30px
    margin: 0 3px
  input[placeholder='ГГГГ']
    width: 40px

/*----- B-SEARCH__PERIOD-DATAPICKER -----*/


/*----- B-SEARCH__PERIOD__INNER -----*/
.b-search__period__inner
  position: relative
  +inline-block
/*----- B-SEARCH__PERIOD__INNER -----*/


/*----- B-SEARCH-INFO -----*/
.b-search-info
  +clearfix
  margin-top: 37px
  margin-bottom: 7px

  .total
    float: right

  &.hidden
    display: none
/*----- B-SEARCH-INFO -----*/


/*----- B-SEARCH-INFO__SORT-BY -----*/
.b-search-info__sort-by
  float: left

  .title
    +inline-block
    +font($additional_text, $font5, 15, 21)
    margin: 0 10px 0 0

  ul
    +inline-block
/*----- B-SEARCH-INFO__SORT-BY -----*/


/*----- B-SEARCH-INFO__SORT-BY__ITEM -----*/
.b-search-info__sort-by__item
  +inline-block
  +font($additional_text, $font5, 13, 21, inherit, bold)
  padding: 1px 10px
  margin: 0 3px
  cursor: pointer

  &.active
    +border-radius(3px)
    background: $ved_green
    color: $white
/*----- B-SEARCH-INFO__SORT-BY__ITEM -----*/
