.b-serial
  +inline-block
  margin-top: 6px
  width: 3 * $col + 2 * $gatter + px
  margin-right: $gatter + px
  +breakpoint(0 $medium)
    width: 2 * $col +  2 * $gatter + px

  .title a
    +font($ved_green, $font1, 21, 24)
    +single-transition(color $time2 ease-in-out)

  .title a:hover
    +font($black, $font1, 21, 24)
  .b-serial__image
    .hide_on_medium_screen
      +breakpoint(0 $medium)
        display: none
    .show_on_medium_screen
      display: none
      +breakpoint(0 $medium)
        display: block

  .description
    margin-top: 12px
    a, a:hover
      padding: 2px 0
      display: inline
      +font($primary_text, $font4, 17, 21)


