.b-serial2
  +inline-block
  border-top: 1px dotted $line
  margin-top: 13px
  width: 3 * $col + 2 * $gatter + px
  margin-right: $gatter + px
  +breakpoint(0 $medium)
    width: 2 * $col + 2 * $gatter + px

  .title
    +font($ved_green, $font1, 21, 24)
    margin-top: 17px

  .author
    +border-radius(100px)

  .second_author
    +border-radius(100px)
    border: 5px solid $body_bg
    position: absolute
    margin-top: -5px
    margin-left:  -5px
    z-index: 20


  .description
    margin-top: 4px
    a, a:hover
      +font($primary_text, $font4, 17, 21)


.b-serial2__author
  +font($primary_text, $font2, 17, 21)


