/*----- B-SOCIALS ----*/
.b-socials
  +not-working

  border-top: 1px dotted $tan
  border-bottom: 1px dotted $tan
  margin-top: 21px

/*----- B-SOCIALS ----*/


/*----- B-SOCIALS__ITEM -----*/
.b-socials__item
  margin-right: 37px
  padding: 7px 0
  +inline-block

  .counter
    +inline-block
    +font($additional_text2, $font5, 13, 26)
    float: none
    margin-left: 5px

  &:first-child
    margin-left: 10px
/*----- B-SOCIALS__ITEM -----*/