.b-subrubric

/*----- B-SUBRUBRIC__TITLE  -----*/
.b-subrubric__title
  text-align: left
  border-bottom: 1px solid $line
  +font($ved_green, $font3, 30)
  +transition(color $time ease-in-out)
  margin: 0

  .b-document_newsline &
    margin-top: 0
    margin-bottom: 0
/*----- B-SUBRUBRIC__TITLE  -----*/


/*----- B-SUBRUBRIC__ITEMS -----*/
.b-subrubric__items
  width: 9 * $col + 8 * $gatter + px
  +breakpoint(0 $medium)
    float: left
    width: 6 * $col + 5 * $gatter + px
/*----- B-SUBRUBRIC__ITEMS -----*/