.b-submit
  margin: 8px 0 11px 0
  +clearfix
  .left
    +font($additional_text2, $font1, 15, 21)
    position: relative
    padding-left: 20px

  a
    color: $ved_green
    text-decoration: underline!important

  input[type='checkbox']
    position: absolute
    left: 1px
    top: 5px

  .right
    width: 231px
