
.b-subscribe-popup


.b-subscribe-popup__layout
  position: fixed
  z-index: 9999
  width: $width-regular + px
  bottom: 0
  left: 50%
  margin-left: -$width-regular/2 + px
  background: #ffde00
  padding: 20px 20px 16px 31px
  display: none
  +breakpoint(0 $medium)
    width: $width-medium + px
    margin-left: -$width-medium / 2 + px
    padding: 20px 20px 20px 30px



.b-subscribe-popup__layout_visible
  display: block

.b-subscribe-popup__form
  position: absolute
  right: 20px
  top: 50%
  margin-top: -20px

.b-subscribe-popup__form__layout
  font-size: 0

.b-subscribe-popup__image


.b-subscribe-popup__input
  +inline-block
  width: 100%
  border: 1px solid #e3d1c7
  height: 40px
  padding: 0 18px 0 55px
  +box-shadow(0 3px 3px 0 rgba(0,0,0,0.1) inset)
  +font (rgb(0,0,0), $font10, 18, 40)
  box-sizing: border-box

  &:focus
    background: #f8ede6

.b-subscribe-popup__input-layout
  position: relative
  +inline-block
  width: 299px
  +breakpoint(0 $medium)
    width: 255px

.b-subscribe-popup__image__layput
.b-subscribe-popup__image__layput_large-screen
  +breakpoint(0 $medium)
    display: none
.b-subscribe-popup__image__layput_small-screen
  display: none
  +breakpoint(0 $medium)
    display: block



$main-block-height: 91px // высота .b-subscribe-popup, взял из devtool chrome
.b-subscribe-popup__message
  position: absolute
  right: 19px
  top: -26px
  height: $main-block-height
  width: 330px
  display: table
  +breakpoint(0 $medium)
    width: 285px
.b-subscribe-popup__text
  display: table-cell
  vertical-align: middle
  font-family: $font10
  font-size: 15px

.b-subscribe-popup__message_inactive
  display: none
.b-subscribe-popup__message_success
  display: table
  color: #168483
.b-subscribe-popup__message_error
  display: table
  color: #b45757
.b-subscribe-popup__message_warning
  display: table
  color: #857771
.b-subscribe-popup__text_back
  text-decoration: underline
  cursor: pointer