.svg__wrapper
  .b-params__icons &
    position: relative
    z-index: 19
    cursor: pointer
    left: 50%
    margin-left: -12px

    &.hover
      +single-transition(opacity, $time3, ease-in-out)
      opacity: 0
      position: absolute
      z-index: 20

    &.hover:hover
      opacity: 1

.svg__inner
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 200

