/*----- table -----*/
table
  border-top: 1px dotted $line
  width: 100%
  margin-bottom: 13px
  border-collapse: separate!important
  border-spacing: 1px 0

  th
    border-bottom: 1px dotted $line
    +font($primary_text, $font2, 15, 21)
    padding: 5px 0
    text-align: left

    .b-table_info &
      border-bottom: 1px dotted $line
      +font($additional_text, $font2, 19, 24)
      padding: 5px 0
      text-align: left

    .b-table_info &:nth-child(2) a
      color: $ved_green

  td
    border-bottom: 1px dotted $line
    +font($additional_text2, $font1, 15, 21)
    font-weight: normal!important
    padding: 5px 0
    text-align: left

    .b-table_info &
      +font($additional_text2, $font4, 19, 24)
      border-bottom: 1px dotted $line

    .b-table_info &:nth-child(2) a
    .b-table_info &:nth-child(2) a
      color: $ved_green
/*----- table -----*/


/*----- B-TABLE -----*/
.b-table
  padding: 21px 0 8px 100px
  +breakpoint(0 $medium)
    padding-left: 70px

  .b-document_info &
    padding: 12px 0 30px 0
  .b-social__layout-mutation &
    padding-left: 70px
/*----- B-TABLE -----*/


/*----- B-TABLE__HEADER -----*/
.b-table__header
  +font($black, $font2, 21,27)
  text-align: left
  margin-bottom: 10px
/*----- B-TABLE__HEADER -----*/


/*----- B-TABLE__FOOTER -----*/
.b-table__footer
/*----- B-TABLE__FOOTER -----*/


/*----- B-TABLE__FOOTER__DESCRIPTION -----*/
.b-table__footer__description
  +font($black, $font5, 12,15)
  text-align: left
/*----- B-TABLE__FOOTER__DESCRIPTION -----*/


/*----- B-TABLE__FOOTER__SOURCE -----*/
.b-table__footer__source
  +font($additional_text2, $font5, 12,15)
  text-align: left
  margin-top: 5px
/*----- B-TABLE__FOOTER__SOURCE -----*/
