.b-targeting
  padding: 9px 14px
  margin-bottom: 14px
  background-color: #f7f7f9
  border: 1px solid #e1e1e8
  border-radius: 4px
  position: fixed
  bottom: 0
  width: $medium
  left: 50%
  margin-left: -$medium / 2
  z-index: 9999


.b-targeting__badge
  display: inline-block
  min-width: 10px
  padding: 3px 7px
  font-size: 12px
  font-weight: 700
  line-height: 1
  color: #fff
  text-align: center
  white-space: nowrap
  vertical-align: middle
  background-color: #777
  border-radius: 10px
  margin-right: 20px
  margin-top: 10px
