._b-theme

/*----- B-THEME__TITLE  -----*/
.b-theme__title
  +font($ved_green, $font3, 30)
  +transition(color $time ease-in-out)
  width: 9 * $col + 8 * $gatter + px
  +breakpoint(0 $medium)
    width: 9 * $col + 9 * $gatter + px
/*----- B-THEME__TITLE  -----*/


/*----- B-THEME__ITEMS -----*/
.b-theme__items
  width: 9 * $col + 8 * $gatter + px
  +breakpoint(0 $medium)
    float: left
    width: 6 * $col + 5 * $gatter + px
/*----- B-THEME__ITEMS -----*/