.b-youtube
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  margin: 25px 0 11px 100px
  +breakpoint(0 $medium)
    margin-left: 0

  .b-social__layout-mutation &
    margin-left: 0
  .b-document__body_video &
    margin-left: 0

  .b-document_info &
    margin: 13px 100px 26px 0
    +breakpoint(0 $medium)
      margin-right: 0

  .b-document_company &,
  .b-document_press-release &
    margin: 25px 100px 11px 0
    +breakpoint(0 $medium)
      margin-right: 0


  & iframe,
  & object,
  & embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%