.b-calendar
  margin: 15px 0 30px
  select
    margin-right: 10px

/*----- B-CALENDAR__HEADER -----*/
.b-calendar__header
  +clearfix
  border-bottom: 1px solid $tan
/*----- B-CALENDAR__HEADER -----*/


/*----- B-CALENDAR__HEADER__INNER -----*/
.b-calendar__header__inner
  background: $tan
  padding: 8px 0
  width: 50%
  vertical-align: top
  text-align: center
  +font($primary_text, $font1, 21)
/*----- B-CALENDAR__HEADER__INNER -----*/
.b-ved-picker
  display: inline-block
  position: relative
  .b-ved-picker__head
    width: 125px
    text-align: left
    padding-left: 5px
  .b-ved-picker__body
    position: absolute
    z-index: 200
    background: white
    padding: 16px
    left: 50%
    transform: translateX(-50%)
    border-radius: 2px
    margin-top: 10px
    box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.2)
    &:before
      content: ""
      position: absolute
      width: 0
      height: 0
      border-style: solid
      border-width: 0 10px 10px 10px
      border-color: transparent transparent #ffffff transparent
      top: -8px
      left: 50%
      margin-left: -10px

    select
      margin-right: 15px
  .pickadate-main
    height: auto

  .pickadate-controls
    display: block
    position: relative
    margin: 0