.b-list

/*----- b-list__TITLE  -----*/
.b-list__title
  border-bottom: 1px solid $line
  +font($ved_green, $font3, 30)
  +transition(color $time ease-in-out)
/*----- b-list__TITLE  -----*/


/*----- b-list__ITEMS -----*/
.b-list__items
  width: 9 * $col + 8 * $gatter + px
  +breakpoint(0 $medium)
    float: left
    width: 6 * $col + 5 * $gatter + px
/*----- b-list__ITEMS -----*/