.b-preloader
  .b-fullscreen__left &
    position: absolute
    z-index: 20
    top: 50%
    left: 50%
    margin-top: -20px
    margin-left: -20px

  .b-gallery.loaded &
    display: block
    position: absolute
    z-index: 20
    top: 50%
    left: 50%
    margin-top: -20px
    margin-left: -20px
  .b-gallery &
    display: none

  .b-paywall &
    position: absolute
    top: 50%
    left: 50%
    margin-top: -20px
    margin-left: -20px
    z-index: 100500

  &.b-preloader_more
    margin-top: 28px
    margin-bottom: 5px

