/*----- B-STORY -----*/
.b-story__wrapper
  +base-width(12)
  padding: 25px 30px 50px
  position: relative
  background: $body-bg
  +breakpoint(0 $medium)
    padding-right: 0
/*----- B-STORY -----*/
.b-story
  +clearfix
  background: $body-bg
  position: relative
  width: 1200px
  height: 380px
  overflow: hidden
  +breakpoint(0 $medium)
    width: 900px
/*----- B-STORY -----*/


/*----- B-STORY__INNER -----*/
.b-story__inner
  display: block
  position: absolute
  z-index: 10
  width: 830px
  top: 20px
  +breakpoint(0 $medium)
    width: 530px

  .rubric
    width: 100%
    padding: 0 $gatter + px 0
    +font($white, $font1, 17, 21)

  .title
    +font($white, $font3, 36, 38, inherit, bold)
    width: 100%
    padding: 0 $gatter + px 0

  .subtitle
    width: 100%
    padding: 5px $gatter + px 0
    +font($white, $font4, 17, 21, italic)
/*----- B-STORY__INNER -----*/

/*----- B-STORY__BG -----*/
.b-story__bg
  display: block
  width: 1200px
  height: 380px
  margin-right: 30px
  +breakpoint(0 $medium)
    margin-right: 0
    width: 900px
  img
    z-index: 9
    position: absolute
    right: 0
    top: 0
/*----- B-STORY__BG -----*/
