javascript:
  cookie.set('access_token', '', {
    'path':    '/',
    'domain':  '#{Settings.cookie_domain}',
    'expires': 'Thu, 01 Jan 1970 00:00:00 GMT'
  });
  
  cookie.set('new_visitor', 1, {
    'path':   '/',
    'domain': '#{Settings.cookie_domain}'
  });
