.b-paywall
  .b-paywall__inner
    div.header
      | Пожалуйста, подтвердите регистрацию!
    div.description
      br
      | На адрес электронной почты, указанный при регистрации, отправлено письмо для подтверждения. Чтобы продолжить чтение перейдите по ссылке из письма.
      br
      | Убедитесь, что письмо не попало в спам.
      br
      br
      | С уважением, «Ведомости»
      br
      | +7 (495) 232-17-53, <a href='mailto:podpiska@vedomosti.ru'>podpiska@vedomosti.ru</a>
