.b-svg
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  &.b-svg--ved-small
    background-image: inline-image('svg/vedomosti_red_square.svg')
    height: 18px
    width: 18px
  &.b-svg--ved-small-white
    background-image: inline-image('svg/ved-square-white.svg')
    height: 18px
    width: 18px
  &.b-svg--logo-black
    background-image: inline-image('svg/ved_and_black.svg')
    width: 204px
    height: 53px
  &.b-svg--logo-white
    background-image: inline-image('svg/ved_and_white.svg')
    width: 422px
    height: 111px

  &.b-svg--prev
    background: inline-image('svg/green_arrow_left.svg')
    width: 23px
    height: 23px
    background-repeat: no-repeat
    background-position: center
  &.b-svg--next
    background: inline-image('svg/green_arrow_right.svg')
    width: 23px
    height: 23px
    background-repeat: no-repeat
    background-position: center

  &.b-svg--pdf
    background-image: inline-image('svg/pdf.svg')
    width: 29px
    height: 33px

  &.b-svg--download
    background-image: inline-image('svg/download.svg')
    width: 20px
    height: 17px

  &.b-svg--facebook
    background-image: inline-image('svg/fb.svg')
    width: 21px
    height: 21px
  &.b-svg--twitter
    background-image: inline-image('svg/tw.svg')
    width: 26px
    height: 21px
  &.b-svg--vk
    background-image: inline-image('svg/vk.svg')
    width: 31px
    height: 20px

  &.b-svg--16plus
    background-image: inline-image('svg/16+.svg')
    width: 23px
    height: 23px
