@import variables
@import vedomosti_mixins
@import mixins

@import bootstrap/variables
@import bootstrap/normalize
@import bootstrap/mixins
@import bootstrap/scaffolding
@import bootstrap/grid
@import bootstrap/utilities
@import bootstrap/responsive-utilities
@import bootstrap/component-animations

@import compass/utilities
@import compass/css3
@import compass/layout/sticky-footer
@import compass/utilities/print

@import breakpoint
@import icon
//@import fonts
@import print

@import vendors/angular-pickadate

@import blocks/**/*

html
  margin: 0
  padding: 0
  min-height: 100%
  &.overflow
    overflow-y: hidden

body
  min-width: 1001px
  background: $body_bg
  min-height: 100%
  height: 100%
  position: relative
  overflow-y: scroll

  &.low_height
    overflow: hidden

  +font-smoothing
ul
  margin: 0
  padding: 0
  list-style: none

li
  margin: 0
  padding: 0

a
  color: inherit
  +single-transition(color, $time2, ease-in-out)
  &:visited,
  &:hover,
  &:link,
  &:active
    text-decoration: none

*
  outline: none

.hidden
  display: none

time, article
  display: block

.row
  margin: 0


label[for='password_registration_form_rules']
  font-family: "Roboto Condensed"
  a
    color: $ved_green
    text-decoration: underline


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

.b-icon.b-icon--svg
  &.b-icon--grey-lock, &.b-icon--grey-unlock, &.b-icon--white-lock, &.b-icon--white-unlock
    line-height: 0
    font-size: 0
    vertical-align: baseline
    padding: 21px 21px 0 0
    background-position: right bottom