@import variables
@import breakpoint

.hc
  border-top: 1px solid #e2d1c8 !important
  margin-top: 15px !important
  padding-top: 25px !important
  position: relative !important

  .hc_menu_active, .hc_menu_active:hover, .hc_menu:hover
    border-color: #B35859 !important

  .hc_quote
    background-color: transparent !important

  .hc_reply_textarea
    border-color: #E2D1C8 !important
    color: #857871

  .hc_message
    border-color: #E2D1C8 !important

  .hc_messages > .hc_message
    &:last-child
      border-bottom: 1px solid #e2d1c8 !important

  a.hc_reply_link, a.hc_select_link
    color: #2e6f6f !important
    &:hover
      color: #2e6f6f !important

  .hc_reply_button
    background-color: #E2D1C8 !important
    color: #332f2e !important
    font-weight: bold !important
    font-size: 14px !important
    padding: 5px 10px !important
    &:hover
      background-color: #E2D1C8 !important

  .hc_comments_nick
    color: #332f2e !important

  .hc_moderate_box
    background-color: #E2D1C8 !important

  .hc_text
    font-size: 15px !important
    margin-top: 10px !important

  .hc_comments_nick
    font-size: 15px !important

  .hc_comments_time, .hc_footer_link
    font-size: 12px !important

  .hc_footer_link
    margin-top: 15px !important

  .hc_name_nick
    color: #332f2e !important

  .hc_pagination
    text-align: right!important
    .hc_page
      background: #E2D1C8 !important
      color: #332f2e !important
      font-weight: bold !important
      border: 0 !important
      padding: 7px 12px !important
      font-size: 13px !important
      display: inline-block
      box-shadow: none !important
      border-radius: 0px !important
      text-shadow: inherit !important
      text-decoration: none !important
      &:hover
        background: #f8ede6 !important

    .hc_page_active
      background: #B1585A !important
      color: white !important
      &:hover
        background: #B1585A !important

  .hc_pagin_top
    position: absolute !important
    right: 0 !important
    top: -34px !important
    +breakpoint(0 $medium)
      position: static !important
      margin-bottom: 20px !important

  .hc_must_login
    position: absolute !important
    visibility: hidden!important

  .hc_menu_options
    display: none!important

  .hc_pagin_more
    line-height: 30px !important
    margin-top: 10px !important

  .hc_reply_form
    border-bottom: 1px solid #e3d1c7 !important
    padding-bottom: 20px !important
    margin-bottom: 0 !important
    
  .hc_messages
    .hc_reply_form
      border-bottom: none

  .hc_footer_rss
    display: none !important

  ::-webkit-input-placeholder
    color: #857871
    font-weight: bold
    font-size: 15px

  ::-moz-placeholder
    color: #857871
    font-weight: bold
    font-size: 15px

  :-ms-input-placeholder 
    color: #857871 
    font-weight: bold
    font-size: 15px
