//настройки спрайта
@import "compass/utilities/sprites"
$icon-layout: smart
@import "icon/*.png"
+all-icon-sprites


$names: gazeta, logo, subscribe, auth, menu, loupe, search-close, arrow-down, arrow-up, arrow-left, plus16, comment, comment-black, comment-white, more, more-white, from-editors, arrow-slider, arrow-slider2, infographic, video, photo, comment-red, star-red, printer-red, eye-red, share-red, photo-small, video-small, fb-red, vk-red, odnoklassniki-red, twitter-red, right-arrow-green, photo-tan, video-tan, audio-tan, infograph-tan, arrow-down-tan, arrow-up-tan, link, gallery-arrow-left, gallery-arrow-right, thumbs-arrow-next, thumbs-arrow-prev, hide-thumbs, fullscreen, tiles-tan, tiles-white, share-tan, share-white, exit-tan, how-to, no-person, dropdown-arrow, calendar, home, fullscreen-controls, fb-default, vk-default, odnoklassniki-default, twitter-default, paginator-left, paginator-right, checkbox2, checkbox_checked2, plus, advanced-option-arrow, calendar2, hyphen, sort-by-triangle, gazeta2, green-arrow-up, green-arrow-down, green-arrow-left, green-arrow-right, fast-news-links, printer-black, comment-black2, share-black, sub-calend, sub-ip, sub-online, sub-paper, sub-plus, sub-profi, subscription-modal-check, subscription-modal-close, accordion-plus, accordion-minus, add2link-arrow-right, check-black, check-red, editorial, icon-email, icon-pass, logo_medium, question-green, tan-arrow-down, tan-arrow-up, tanlink-arrow-right,icon-link-more, key, arrow-right-red, modal-check2, options, vote_up, vote_down, avatar, star, exit-small, fullscreen-exit, fullscreen-tiles, online, online-small, video2, photo2, video-small-round, photo-small-round, photo2-medium, video2-medium, doc_file, pdf_file, ppt_file, download, download-green, arrow-down-white, arrow-up-white, attach, video2-biggest, photo2-biggest, divider2, fb-big, vk-big, twitter-big, podcast, podcast-play, podcast-normal, podcast-stop, rss, podcast-pause, podcast-volume-line, podcast-mute, subscribe-close, subscribe-email, podcast2, test_next_large, test-biggest, test-big, test, test-medium, newspaper_closed, newspaper_opened, broadcast, broadcast-biggest, broadcast-medium, test_small

.b-icon
  width: 32px
  height: 32px
  +inline-block
  vertical-align: top
  line-height: 32px
  margin-right: 5px

  @each $name in $names
    &.icon-#{$name}
      +icon-sprite(#{$name}, true)


  &.icon-newspaper
    width: image_width('icon/newspaper_closed.png')
  &.icon-fb-big,
  &.icon-twitter-big,
  &.icon-vk-big
    margin-right: 25px
    width: 45px

  &.icon-logo
    -webkit-print-color-adjust: exact
    margin: 0

    &.b-logo
      +inline-block

  &.icon-subscribe
    margin-right: 2px

  &.icon-loupe
    top: 4px
    left: 2px
    position: relative

    .b-search__inner &
      top: 5px

    .b-button_search2 &
      top: 0

  &.icon-search-close
    top: 4px
    left: 4px
    position: relative

  &.icon-arrow-down
    .b-course &
      margin-right: 3px
      margin-top: 2px

  &.icon-arrow-up
    .b-course &
      margin-right: 3px
      margin-top: 2px

  &.icon-arrow-left
    margin-right: 0
    margin-top: 1px

  &.icon-comment
    margin-right: 0
    float: left


  &.icon-comment-black,
  &.icon-comment-black2
    position: absolute
    left: 0
    opacity: 0
    z-index: 10
    +transition(all $time ease-in-out)

    .b-comments a:hover &
      opacity: 1

  &.icon-comment-white
    margin-right: 0
    float: left

  &.icon-arrow-slider
    margin: 0
  &.icon-arrow-slider2
    margin: 0

  &.icon-photo,
  &.icon-video,
  &.icon-online,
  &.icon-broadcast
    .b-article__image &
      position: absolute

  &.icon-comment-red,
  &.icon-comment-black2
    margin-right: 0

  &.icon-star-red
    margin-right: 0

  &.icon-printer-red,
  &.icon-printer-black

    margin-right: 0

  &.icon-eye-red
    margin-right: 0

  &.icon-share-red,
  &.icon-share-black
    margin-right: 0

  &.icon-test_small,
  &.icon-photo-small,
  &.icon-video-small,
  &.icon-photo-small-round,
  &.icon-video-small-round,
  &.icon-online-small
    .b-rubric_main &
      margin-bottom: 5px
      display: block
      float: left

    .b-article_list &,
    .b-search-result__image &
      position: absolute
      left: 0
      top: 0

    .b-also-read__links &
      margin-right: 10px

  &.icon-test_small,
  &.icon-photo-small-round,
  &.icon-video-small-round
    .b-story &
      position: absolute
      top: 0
      left: 1px



  &.icon-fb-red
    margin-right: 0
  &.icon-vk-red
    margin-right: 0
  &.icon-odnoklassniki-red
    margin-right: 0
  &.icon-twitter-red
    margin-right: 0

  &.icon-arrow-up-tan
    .b-news-item__title &
      position: absolute
      top: 50%
      right: 5px
      margin-top: -11px
      opacity: 0

    &:hover
      cursor: pointer

    .b-news-item__title.active &
      opacity: 1

  &.icon-link
    .b-news-item__title &
      +single-transition(opacity, $time3, ease-in-out)
      margin-right: 0
      position: absolute
      top: 50%
      right: 35px
      margin-top: -7px
      opacity: 0

    .b-news-item__title:hover &,
    .b-news-item__title.active &
      opacity: 0.4

    &.active
      opacity: 1!important

    &:hover
      cursor: pointer
      opacity: 1!important

  &.icon-fast-news-links
    cursor: pointer
    .b-news-item__title &
      +single-transition(opacity, $time3, ease-in-out)
      margin-right: 0
      position: absolute
      top: 50%
      right: 37px
      margin-top: -17px
      opacity: 0

    .b-news-item__title:hover &,
    .b-news-item__title.active &
      opacity: 1

  &.icon-hide-thumbs
    margin: 0

  &.icon-fullscreen
    margin: 0

  &.icon-tiles-tan
    .b-button_fullscreen-tile &
      margin: 0

  &.icon-tiles-white
    .b-button_fullscreen-tile &
      margin: 0

  &.icon-share-tan
    .b-button_fullscreen-tile &
      margin: 0

  &.icon-share-white
    .b-button_fullscreen-tile &
      margin: 0

  &.icon-how-to
    margin-top: 5px

  &.icon-dropdown-arrow
    position: absolute
    right: 5px
    top: 5px

    .b-search__divider &
      position: relative
      top: 3px
      right: inherit
      left: inherit
      margin-right: 0

  &.icon-fullscreen-controls
    margin: 0

  &.icon-fb,
  &.icon-vk,
  &.icon-twitter
    width: 23px
    height: 23px
    margin: 0 7px

  &.icon-paginator-left
    margin: 0

  &.icon-paginator-right
    margin: 0

  &.icon-checkbox2,
  &.icon-checkbox_checked2
    margin-right: 10px

  &.icon-plus
    position: relative
    margin-left: 10px
    margin-top: 3px

  &.icon-advanced-option-arrow
    position: relative
    margin-top: 5px
    margin-left: 10px

  &.icon-sort-by-triangle
    position: relative
    margin-top: 6px
    margin-left: 5px

    .b-auth__wrapper &
      margin: 10px 3px 10px 0px
      cursor: pointer

  &.icon-gazeta2
    position: absolute
    left: 0
    top: -2px

  &.icon-green-arrow-up
    position: absolute
    top: 0

  &.icon-green-arrow-down
    position: absolute
    top: 0

  &.icon-green-arrow-right

  &.icon-green-arrow-left
    position: relative
    top: 2px
    left: 5px

  &.icon-check
    +icon-sprite(check-red, true)

  &.icon-checkbox
    +icon-sprite(check-black, true)

  &.icon-link-more
    +icon-sprite(tanlink-arrow-right, true)

    .b-subscription__link_add &
      +icon-sprite(add2link-arrow-right, true)
    .b-subscription__link &
      width: 9px
      margin-right: 0

  &.icon-question
    +icon-sprite(question-green, true)

  &.icon-subscribe-pack
    vertical-align: middle
    &.icon-subscribe-pack_online
      +icon-sprite(sub-online, true)

    &.icon-subscribe-pack_profi
      +icon-sprite(sub-profi, true)

    &.icon-subscribe-pack_paper
      +icon-sprite(sub-paper, true)

    &.icon-subscribe-pack_calendar
      +icon-sprite(sub-calend, true)

  &.icon-subscribe-ip
    vertical-align: middle
    +icon-sprite(sub-ip, true)

  &.icon-subscribe-plus
    +icon-sprite(sub-plus, true)
    vertical-align: middle
    margin-lefT: -5px

  &.icon-subscription-modal-check
    +icon-sprite(subscription-modal-check, true)

  &.icon-subscription-modal-close
    vertical-align: middle
    margin-right: -7px
    +icon-sprite(subscription-modal-close, true)

  &.icon-input-pass
    +icon-sprite(icon-pass, true)

  &.icon-input-email
    +icon-sprite(icon-email, true)

  &.icon-editorial
    position: relative
    margin-top: 11px
    margin-right: 14px

  &.icon-key
    +inline-block
    margin-right: 16px

  &.icon-arrow-right-red
    position: relative
    top: 2px
    left: 4px

  &.icon-modal-check2
    position: absolute
    left: 0

  &.icon-no-person
    margin-right: 0

  &.icon-logo_medium
    position: relative
    left: 9px
    .b-logo_rubric &
      left: 0
      margin-right: 0

  &.icon-vote_down,
  &.icon-vote_up
    margin-right: 0

  &.icon-vote_down
    margin-left: 10px

  &.icon-avatar
    position: absolute
    top: 20px
    left: 0

  &.icon-star
    margin-left: 0

  &.icon-exit-small,
  &.icon-profile-small
    margin-right: 10px

  &.icon-more
    .b-ad-block &
    margin-left: 5px
    margin-right: 0

  &.icon-thumbs-arrow-prev,
  &.icon-thumbs-arrow-next
    margin-right: 0

  &.icon-gallery-arrow-right,
  &.icon-gallery-arrow-left
    margin-right: 0


  &.icon-gallery-arrow-right
    .b-multimedia-top &
      margin-right: 30px

  &.icon-gallery-arrow-left
    .b-multimedia-top &
      margin-left: 30px


  &.icon-fullscreen-tiles
    margin-right: 0
  &.icon-fullscreen-exit
    margin-right: 0

  &.icon-photo2,
  &.icon-video2,
  &.icon-broadcast,
  &.icon-test
    +single-transition(opacity, $time2, ease-in-out)
    position: absolute
    left: 50%
    top: 50%
    margin-left: -50px
    margin-top: -50px

    .b-article__image:hover &,
    .b-article__image.hover &
      opacity: 0

  &.icon-photo2-medium,
  &.icon-test-medium,
  &.icon-video2-medium,
  &.icon-broadcast-medium
    +single-transition(opacity, $time2, ease-in-out)
    position: absolute
    left: 50%
    top: 50%
    margin-left: -35px
    margin-top: -35px

    .b-article__image:hover &,
    .b-article__image.hover &
      opacity: 0

  &.icon-video2-biggest,
  &.icon-test-biggest,
  &.icon-photo2-biggest,
  &.icon-broadcast-biggest
    +single-transition(opacity, $time2, ease-in-out)
    position: absolute
    z-index: 400
    left: 50%
    top: 50%
    margin-left: -125px
    margin-top: -125px
    .b-colored-article:hover &,
    .b-colored-article.hover &
      opacity: 0

  &.icon-broadcast,
  &.icon-broadcast-medium,
  &.icon-broadcast-biggest
    opacity: .8

  &.icon-plus16
    //margin-top: 39px
    margin-bottom: -2px

  &.icon-download
    margin-left: 5px
    .b-podcast__download &
      margin-top: 16px

  &.icon-download-green
    +single-transition(opacity, $time2, ease-in-out)
    position: absolute
    margin-left: -28px
    opacity: 0

    .b-file__title a:hover &,
    .b-file__title a.hover &,
    &:hover
      opacity: 1

  &.icon-pdf_file,
  &.icon-ppt_file,
  &.icon-doc_file
    position: absolute
    left: 0
    top: -10px

  &.icon-photo2-big,
  &.icon-test-big,
  &.icon-video2-big
    +single-transition(opacity, $time2, ease-in-out)
    position: absolute
    left: 50%
    top: 50%
    margin-left: -100px
    margin-top: -100px
    width: 201px
    height: 201px



    .b-article__image:hover &,
    .b-article__image.hover &
      opacity: 0

  &.icon-arrow-down-white
    .b-button_scroll-popular &
      margin: 11px 0 0 19px

  &.icon-arrow-up-white
    .b-button_scroll_top &
      margin: 11px 0 0 19px

  &.icon-attach
    width: 50px
    height: 50px
    margin-right: 15px

  &.icon-podcast2
    width: 50px
    height: 50px
    margin-right: 15px

  &.icon-divider2
    margin: 0 4px

  &.icon-podcast
    +inline-block
    margin-top: 11px
    margin-right: 10px

  &.icon-podcast-play
    position: absolute
    top: 14px
    left: 10px
    margin-right: 0
    #play.play &
      display: none

  &.icon-podcast-pause
    position: absolute
    top: 14px
    left: 10px
    display: none
    #play.play &
      display: block

  &.icon-podcast-volume-line
    height: 62px
    margin-right: 0
    position: relative
    top: -1px
    left: 0
    z-index: 20

  &.icon-podcast-normal
    cursor: pointer
    height: 60px
    +inline-block
    margin-right: 0
    #volume_wrapper.mute &
      display: none


  &.icon-podcast-mute
    margin-right: 0
    height: 60px
    display: none
    #volume_wrapper.mute &
      +inline-block

  &.icon-rss
    position: relative
    top: 15px
    margin-right: 10px
    vertical-align: top

  &.icon-subscribe-close
    width: 9px
    height: 9px
    position: absolute
    right: 22px
    top: 7px
    margin: 0
    cursor: pointer
  &.icon-subscribe-email
    width: 35px
    height: 16px
    position: absolute
    left: 11px
    top: 12px

  &.icon-social-fb, &.icon-social-vk, &.icon-social-twitter, &.icon-social-comments, &.icon-social-comments, &.icon-social-print
    width: 45px
    height: 45px
  &.icon-test_next_large
    position: absolute
    bottom: 60px
    left: 50%
    z-index: 103
    margin-left: -25px
    cursor: pointer

  &.b-icon--svg
    display: block
    line-height: 0
    margin-right: 0
    &.b-icon--close
      background: inline_image('svg/cross-white.svg') no-repeat
      height: 11px
      width: 11px
    &.b-icon--face
      background: inline_image('svg/green_face.svg') no-repeat
      width: 20px
      height: 17px
    &.b-icon--lock
      background: inline_image('svg/circle_lock.svg') no-repeat
      width: 32px
      height: 32px
    &.b-icon--grey-lock
      background: inline-image('svg/material_lock.svg') no-repeat
    &.b-icon--grey-unlock
      background: inline-image('svg/material_unlocked.svg') no-repeat
    &.b-icon--white-lock
      background: inline-image('svg/material_lock_white.svg') no-repeat
    &.b-icon--white-unlock
      background: inline-image('svg/material_unlocked_white.svg') no-repeat
    &.b-icon--grey-lock, &.b-icon--grey-unlock, &.b-icon--white-lock, &.b-icon--white-unlock
      display: inline
      padding: 4px 15px 0 0
      vertical-align: middle
      background-position: right center
      &:after
        content: ''
      .pubdate__lock &
        padding: 0
    &.b-icon--login
      background: inline-image('svg/user_icon_login.svg') no-repeat
      background-size: 24px
      display: inline-block
      width: 24px
      line-height: 32px
      background-position: center
      margin-left: 6px

    &.b-icon--profile
      background: inline-image('svg/user_menu_user.svg') no-repeat
      background-size: 22px
      margin-left: 4px
      margin-right: 14px
      width: 22px
    &.b-icon--exit
      background: inline-image('svg/user_menu_logout.svg') no-repeat
      background-size: 30px
      width: 31px
      margin-right: 10px
    &.b-icon--exit, &.b-icon--profile
      display: inline-block
      vertical-align: middle
      height: 22px

    &.b-icon--grey-lock, &.b-icon--white-lock
      .subscriber &
        display: none

    &.b-icon--white-unlock, &.b-icon--grey-unlock
      .non-subscriber &
        display: none
    &.b-icon--check


      background: inline-image('svg/check_new.svg') no-repeat
      width: 28px
      height: 20px
    &.b-icon--check-mobile
      background: inline-image('m/check.svg') no-repeat
      width: 15px
      height: 11px

