/*----- @MIXINS  -----*/
//примеси shark

//ширина рубрики
@mixin base-width($width)
  margin: 0 auto
  position: relative
  width: $width * $col + ($width - 1) * $gatter + $banner-gatter + 2 * $margin + px
  padding-left: $margin + px
  padding-right: $margin + px
  +breakpoint(0 $medium)
    width: 7 * $col + 15 * $gatter + $padding * 2 + px
    //padding-left: $padding + px
    //padding-right: $padding + px
    left: 0

//сглаживание шрифта
@mixin font-smoothing ($value: antialiased)
  @if $value == antialiased
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

  @else
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: auto

// модификаторы статей
@mixin base-mods($class)
  //модификаторы окна браузера
  &.#{$class}_hide-on-medium-screen
    +inline-block
    +breakpoint(0 $medium)
      display: none!important

  &.#{$class}_show-on-medium-screen
    display: none!important
    +breakpoint(0 $medium)
      display: inline-block!important

  //модификаторы отступов и границ
  //паддинги
  &.#{$class}_padding-top
    padding-top: 15px
    &.#{$class}_level3
      padding-top: 10px

    &.#{$class}_level2_mutate-to-level3
      +breakpoint(0 $medium)
        padding-top: 10px

  &.#{$class}_padding-bottom
    padding-bottom: 13px


  //подчеркивание
  &.#{$class}_border-top
    border-top: 1px dotted $tan

  &.#{$class}_border-bottom
    border-bottom: 1px dotted $tan

  //мутации
  // паддинги
  &.#{$class}_mutate-to-padding-top
    +breakpoint(0 $medium)
      padding-top: 15px

  &.#{$class}_mutate-to-no-padding-top
    +breakpoint(0 $medium)
      padding-top: 0

  &.#{$class}_mutate-to-padding-bottom
    +breakpoint(0 $medium)
      padding-bottom: 5px

  &.#{$class}_mutate-no-padding-bottom
    +breakpoint(0 $medium)
      padding-bottom: 0
  // подчеркивание
  &.#{$class}_mutate-to-border-top
    +breakpoint(0 $medium)
      border-top: 1px dotted $line

  &.#{$class}_mutate-to-non-border-top
    +breakpoint(0 $medium)
      border-top: none

  &.#{$class}_mutate-to-border-bottom
    +breakpoint(0 $medium)
      border-bottom: 1px dotted $line

  &.#{$class}_mutate-to-non-border-bottom
    +breakpoint(0 $medium)
      border-bottom: 0

  &.#{$class}_left
    float: left

  &.#{$class}_mutate-to-non-float
    +breakpoint(0 $medium)
      float: none

// модификаторы уровней
@mixin base-transforms($class)
  .b-rubric_lifestyle-main .b-lifestyle + &,
  .b-rubric_lifestyle_big-banner .b-lifestyle + &
    min-height: 380 + 15px
    +breakpoint(0 $medium)
      min-height: inherit

  // уровень 1
  &.#{$class}_level1
    +clearfix
    position: relative
    float: left
    width: 9 * $col + 8 * $gatter + px
    margin-right: $gatter + px

    .b-rubric_main &
      float: right
      margin-right: 0
      width: 9 * $col + 9 * $gatter + px
      +breakpoint(0 $medium)
        float: left

    .b-rubric_big-banner &
      +breakpoint(0 $medium)
        width: 9 * $col + 9 * $gatter + px

    &.#{$class}_level1_mutate-to-level2
      +inline-block
      +breakpoint(0 $medium)
        width: 3 * $col + 2 * $gatter + px
        margin-right: $gatter + px

  // уровень 2, 3
  &.#{$class}_level2,
  &.#{$class}_level3
    +inline-block
    width: 3 * $col + 2 * $gatter + px
    margin-right: $gatter + px

    .b-rubric_lifestyle-main &,
    .b-rubric_lifestyle_big-banner &
      float: left
      +breakpoint(0 $medium)
        float: none

    //.b-rubric_small-no-banner &
    //  width: 23 * $col + px
    //  float: left
    //  min-height: 216px
    //  padding-left: 8 * $col + px
    //  +breakpoint(0 $medium)
    //    width: 12 * $col + 11 * $gatter + px
    //    padding-left: 4 * $col + 4 * $gatter + px

    &.#{$class}_level2_mutate-to-level1
      +breakpoint(0 $medium)
        width: 9 * $col + 9 * $gatter + px
//Примечание
//1. на любом уровне возможны модификаторы, связанные с конкретной рубрикой
//2. элементы могут трансформироваться (например, менять свой уровень, убирать/добавлять линии и тд )
//такие преобразования называются мутациями и записываются в соответсвующих модификаторах.
//Например, _mutate_to_level1, _mutate_to_no-border-top и тд


//уголок
@mixin corner($type, $color , $x, $y)
  content: ""
  position: absolute
  width: 0
  height: 0
  @if $type == 'left'
    left: $x + px
    top: $y + px
    border-style: solid
    border-width: 0 12px 24px 0
    border-color: transparent $color transparent transparent
  @else if $type == 'bottom'
    left: $x + px
    bottom: $y + px
    border-style: solid
    border-width: 12px 24px 0 0
    border-color: $color transparent $color transparent

  @else if $type == 'right'
    top: $y + px
    right: $x + px
    border-style: solid
    border-width: 24px 12px 0 0
    border-color: $color transparent transparent transparent

  @else if $type == 'top'
    top: $y + px
    left: $x + px
    border-style: solid
    border-width: 12px 0 0 24px
    border-color: transparent transparent transparent $color

//placeholder
@mixin form-placeholder
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input"
  @each $placeholder in $placeholders
    &:#{$placeholder}-placeholder
      @content
/*----- @MIXINS  -----*/

@mixin clearfix_bootstrap
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both
