//версия для печати
//здесь содержатся небольшие правки кода
//элементы, которые не должны быть выведены на печать помечаются классом .no-print или noprint
@media print
  +print-utilities

  html,
  body
    height: 100%!important
    overflow: visible!important

  .no-print
    display: none!important

  iframe
    display: none!important

  header
    margin: 0 0 40px
    width: 100%!important
    background: none!important

  body,
  .b-document,
  .b-gallery__item__image-wrapper
    background: #fff!important
    -webkit-print-color-adjust: exact

  .for-classifieds_195x120,
  .for-classifieds_195x120_three,
  .for-classifieds_195x120_main,
  .b-banner_tgb,
  .b-inset.b-inset_text.b-inset_text_long-text .shadow,
  .b-button.b-button.b-button_hide-text,
  .b-button_gallery-prev,
  .b-button_gallery-next
    display: none!important


  .b-document,
  .b-document__left,
  .b-document p
    width: 100%!important
    padding-left: 0!important
    padding-right: 0!important

  .b-document__authors
    float: none !important

  .b-document p
    orphans: 2
    widows: 2

  .b-inset.b-inset_text.b-inset_text_long-text p
    height: auto !important

  .b-gallery
    margin: 30px auto 0 auto !important

  h1.title,
  .b-document__header__subrubric a
    font-family: Arial, sans-serif!important

  .b-logo
    .b-logo__image
      display: none!important
      &.b-logo__image-print
        display: block!important