- render_title("Профиль пользователя")

= render 'm/blocks/caption_and_menu', label: 'Личный кабинет', url: root_path

= form_for @form, url: users_update_path, html: { class: 'b-form profile' } do |f|

  .profile-avatar
    img{src="/assets/m/avatar.png"}
  a.button.profile-logout{href='/sign_out'}
    | Выйти

  .group
    = f.label :first_name, 'Имя'
    = f.text_field :first_name
  .group
    = f.label :last_name, 'Фамилия'
    = f.text_field :last_name
  .group
    = f.label :phone, 'Телефон'
    = f.text_field :phone
  .group
    = f.label :email, 'Эл. почта'
    = f.text_field :email
  .group
    = f.label :password, 'Новый пароль'
    = f.password_field :password
  .group
    = f.label :password_confirmation, 'Подтверждение'
    = f.password_field :password_confirmation
    - unless @form.valid?
      .error= @form.errors[:password_confirmation].first
  .group
    = f.submit 'Сохранить', class: 'profile-save'


  - if @form.access_rights.present?
    .profile-subscriptions

      .profile-title Подписка

      table
        tr
          th Дата заявки
          th Дата окончания
          th Продукт
        - @form.access_rights.each do |access_right|
          - if access_right.start_date.present? && access_right.end_date.present?
            - order = access_right.order
            tr
              td= l Time.parse(access_right.start_date), format: :date_only
              td= l Time.parse(access_right.end_date), format: :date_only
              td= order.price.product if access_right.order.present? && access_right.order.price.present?

      .profile-hint
        | +7 (495) 232-17-53
        br
        a{href="mailto:podpiska@vedomosti.ru"}
          | podpiska@vedomosti.ru
