
- st_class = %w(article video news).include?(document_template) ? 'b-social__layout-mutation' : ''
- text = "#{!document_template.nil? && document_template == 'advert_article' ? 'Читайте также' : 'Выбор редактора'}"
div class="b-also-read no-print #{st_class}"
  .b-also-read__title
    .inner = text

  ul.b-also-read__links
    - documents.each do |link|
      li
        = link_to relative_link(link.bound_document.url), target: '_self' do
          - if link.bound_document.gallery?
            i.b-icon.icon-photo-small-round
          - elsif link.bound_document.video?
            i.b-icon.icon-video-small-round
          - elsif link.bound_document.test?
            i.b-icon.icon-test_small
          = link.bound_document.title