.b-document__authors
  ul
    - authors.each_with_index do |author, index|
      li
        - if index != authors.length - 1
          | #{author.bound_document.first_name} #{author.bound_document.last_name},
        - else
          | #{author.bound_document.first_name} #{author.bound_document.last_name}

    - if @document.has_source_title?
      li.b-document__authority
        span.b-document__authority
         = '/ '
        = link_to @document.source_title, @document.source_url, class: 'link b-document__authority'