.b-document-footer
  .b-banner.b-banner_300x150

  .b-document-footer__inner

    .b-document-footer__amends
      .title
        | Поправки
      .descr
        | В материале были обнаружены и исправлены следующие ошибки:
      ul
        li.b-document-footer__amends__amend
          | В тексте указано, что героя зовут Разбойник Бармалей, в действительности его имя — Моряк Робинзон.
        li.b-document-footer__amends__amend
          | В тексте указано, что звери подарили доктору Айболиту крокодила, в действительности доктору Айболиту был подарен Тяни-Толкай.
        li.b-document-footer__amends__amend
          | В тексте указано, что корабль пиратов был разрушен уткой Кикой и собакой Аввой, в действительности он утонул из-за образовавшейся пробоины и течи.
      .sorry
        | Редакция сайта vedomosti.ru приносит свои извинения читателям.
