/используется в статье и действующем лице
- if @document.has_image? && @document.image.has_version?(:default)
  = render_gallery(@document.id, @document, 'title_image')
- elsif @document.has_image? && @document.image.has_version?(:normal)
  /ТОDO - убрать после конвертации картинок
  /изображение
  .b-document__image
    = image_with_dimension(@document.image, :normal, alt: nil, image_class: nil)
    /данные изображения
    .b-document__image__data
      - if @document.has_image_alt?
        .title
          = @document.image_alt
      - if @document.has_image_author? && @document.has_image_source?
        .author-source
          = "#{@document.image_author} / #{@document.image_source}"
      - elsif @document.has_image_author?
        .author-source = @document.image_author
      - elsif @document.has_image_source?
        .author-source = @document.image_source
