- if @document.present?
  | <!-- og:tags begin -->
  meta{content='summary' property='twitter:card'}
  meta{content='@vedomosti' property='twitter:site'}
  meta{content='705298649558221' property='fb:app_id'}
  meta{content='1180141861' property='fb:admins'}

  meta{content='article' property='og:type'}
  meta{content=@document.title property='og:title'}
  meta{content=site_url(@document.url) property='og:url'}

  / Картинка
  - if @document.has_image? && @document.image.has_version?(:normal)
    meta{content=image_absolute_url(@document.image.normal.url) property='og:image'}
    link { rel="image_src" href=image_absolute_url(@document.image.normal.url) }
  - else
    link { rel="image_src" href=asset_absolute_url('chopick.jpg') }
    meta { property="og:image" content=asset_absolute_url('chopick.jpg') }
  / Описание заметки
  - if @document.has_subtitle?
    meta{content="#{strip_tags(@document.subtitle)}" property='og:description'}
  | <!-- og:tags end -->
