.b-other-news.no-print
 .b-other-news__title
    a {href='#'} Название газеты

 ul.b-other-news__items
  - for i in (1..8).to_a
   li.b-other-news__item
    .image
      a{href='#'}
        img{ src = 'http://lorempixel.com/72/72/people/#{{i}}/' }
    a{href='#'} Текст какой-то новости
