javascript:
  var owl_status = "#{@owl_status || 'empty'}";
  var owl_reason = "#{@owl_reason || 'empty'}";
  var owl_state = "#{@owl_state || 'empty'}";

  //определение приватного режима просмотра
  var params = [
    {doc_id: #{@document.present? && @document.id.present? ? @document.id : 'null' }},
    {owl_status: owl_status, owl_reason: owl_reason},
    #{authors_for_tags}
  ];

- boxes_with_links(@document).each do |box|
  - if box.type == 'paywall_line'
    - if allowed?
      .the-line {style='display: none'}
      - next
    - else
      - if @document.pay_required?
        - break
  - else
    = render partial: 'document/box', locals: { box: box }
- if @document.pay_required? && (@owl_status != 'ok' || !allowed?)
  = render 'paywall/buy_subscription'
