.b-calendar__header
  .b-calendar__header__inner = "Архив номеров"


form{ng-controller='calendarController' name='calendar' ng-init="init('#{@newsrelease.published_at.strftime('%Y-%m-%d')}')" class="b-calendar"}
  select { ng-model = 'calendar.month' ng-options = 'month.name for month in months' ng-change = 'set_month(calendar.month)' }
  select { ng-model = 'calendar.year' ng-options = 'year for year in years | reverse' ng-change = 'set_year(calendar.year)' }

  div{pickadate disabled-dates='disabledDates' ng-model='defaultDate' week-starts-on="1" ng-change='goto_newsrelease()' max-date='maxDate'}

