.b-document__socials
  ul
    li
      .counter
        | 20

      a.b-document__socials__icon href='#'
        i.b-icon.icon-fb-red

    li
      .counter
        | 512
      a.b-document__socials__icon href='#'
        i.b-icon.icon-twitter-red
    li
      .counter
        | 4k
      a.b-document__socials__icon href='#'
        i.b-icon.icon-vk-red

    li
      .counter
        | 123
      a.b-document__socials__icon href='#'
        i.b-icon.icon-odnoklassniki-red
