/генерирует подрубрику
- if @document.has_subrubric?
  .b-document__header__subrubric{class="#{'b-document__header__subrubric_from-editors' if @document.editorial?}"}
    - if name_for_document(@document) == 'map'
      = link_to 'Карты', '/parts/maps'
    - else
      - if @document.editorial?
        i.b-icon.icon-from-editors
      = link_to @document.subrubric.title, "#{subrubric_path(rubric_slug: @document.rubric.slug, subrubric_slug: @document.subrubric.slug)}"
      - if @document.subrubric.slug == 'details' && @document.subrubric.has_sections?
        span
          |  / #{@document.subrubric.sections.title}
      - if @document.has_theme_cycle? && @document.theme.has_cycle_list?
        span
          |  / #{@document.theme.cycle_list.title}