/геренирует блок подрубрика- газетный выпуск
= render 'document/subrubric'
- if @document.has_newsrelease?
  .b-document__header__newspaper-title
    i.b-icon.icon-gazeta2
    - if @document.has_newspaper_title? && @document.newsrelease.has_published_at? && @document.newsrelease.has_title?
      = "Статья опубликована в № #{@document.newsrelease.title.to_s.match(/\d+$/)} от #{@document.newsrelease.published_at.strftime('%d.%m.%Y')} под заголовком: #{@document.newspaper_title}"
