- if @preview
  = render file: 'document/owl_show'
- else
  - if !Rails.env.development?
    == '<!--# set var="OWL" value="$owl_status/$owl_reason/$owl_state" --><!-- OWL: "<!--# echo var="OWL" -->" -->'
  = render_block "/owl/body/$OWL/#{@document.url}"
