/шаблон документа
- document_template = name_for_document(@document)
/формирование title для страницы
- if 'gallery' == document_template
  - render_title("ФOTO - #{@document.title}")
- elsif 'video' == document_template
  - render_title("ВИДЕО - #{@document.title}")
- else
  - render_title(@document.title)

/стиль для выкусывая элемента в также в рубрике
= render_exclude_css(@document)

/документ
.b-document{class="b-document_#{document_template}"}
  - if document_template == 'advert_article'
    .b-advert-disclaimer = 'На правах рекламы'
  /левая часть
  .b-document__left
    = render_block '/includes/redline'
    article.js-mediator-article

      - if @document.pay_required? || document_template == 'article'
        = render 'document/text_body'
      - else
        = render "document/left/#{document_template}" rescue render 'document/text_body'

    /читайте также
    - if @document.links.key?(:reference) && 'news' != document_template
      = render 'document/also_read', documents: @document.links[:reference], document_template: document_template

    /популярный комментарий
    - if Settings.comments.enable && 'news' != document_template && 'advert_article' != document_template && !@document.test?
      = render_block "/includes/long_cache/popular_comment/#{@document.id}"

    /баннер teads для новостей
    - if 'news' == document_template
      = render_block '/includes/fast_news'
      javascript:
        var newslineId = "#{@document.id}"

    - if @document.gallery? || @document.video? || @document.test?
      - if @document.has_story? && !@document.test?
        = render_block "/includes/also_in_story_media/#{@document.story.slug}"
      - else
        = render_block "/includes/another_from_part/#{@document.part.slug}"
      - if @document.test?
        = render_block "/includes/another_from_part/galleries"

    - if !(@document.gallery? || @document.video?)
      = render_banner Settings.banners.dblclick.nativeroll, 300, 600

  /правая часть
  aside.b-document__right.no-print
    - if 'news' == document_template
      = render 'document/right/news'
    - elsif 'advert_article' != document_template
      = render 'document/right/default'

= render 'chunks/mediator', {isMobile:false}
/- if @document.test? && @document.has_story?
/  = render_block "/includes/also_in_story/#{@document.story.slug}"
/реклама
- if 'news' == document_template
  = render 'document/ad/ad_news'
- elsif ['gallery', 'video', 'test'].include? document_template
  = render 'document/ad/ad_media'
- elsif 'advert_article' == document_template
  = render 'document/ad/ad_advert_article'
- else
  = render 'document/ad/ad'


/кнопка редактирования документа(только в девелопменте и на стейджинге)
= render 'common/buttons/editor', url: @document.url
