/блог профессионала, 2 уровень анонсирования
= content_tag element_tag, class: "b-blog b-blog_level2 #{element_class}" do

  /цитата
  - if document.has_blog_quote?
    .b-blog__quote__wrapper
      .b-blog__quote = link_to relative_link(document.url) do
        = document.blog_quote
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
      = render 'common/comment', document: document
  - else
    p нет цитаты

  .b-blog__inner
    /картинка
    - if document.has_author?

      - if document.author.has_portrait? && document.author.portrait.has_version?(:type3)
        = link_to relative_link(document.url), :class=>'b-blog__portrait' do
          = image_with_dimension(document.author.portrait, :type3, alt: nil, image_class: 'medium_circle')
          = image_with_dimension(document.author.portrait, :type4, alt: nil, image_class: 'small_circle')
      - else
        = link_to relative_link(document.url), :class => 'b-blog__portrait'
          img.medium_circle.placeholder-image{width='70' height='70' src='/assets/placeholder-level1.png'}

      /рубрика
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'blog'
      /имя автора цитаты
      .b-blog__name
        = link_to "#{document.author.first_name} #{document.author.last_name}", relative_link(document.url)
        br
        = link_to document.author.appointment, relative_link(document.url), class: 'job'
      /заголовок
      .b-blog__title = link_to relative_link(document.url) do
        = alternative_title.nil? ? document.title : alternative_title
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
    - else
      p нет автора цитаты
    /комментарии
    = render 'common/comment', document: document
