/действующее лицо, 2 уровень анонсирования
= content_tag element_tag, class: "b-character b-character_level2 #{element_class}" do

  /картинка + текст
  .b-character__inner
    - if document.has_character_name? && document.has_character_job?

      - if document.has_portrait? && document.portrait.has_version?(:type2) && document.portrait.has_version?(:type4)
        = link_to relative_link(document.url), :class => 'b-character__portrait' do
          - if double_image == true && document.portrait.has_version?(:type1)
            = image_with_dimension(document.portrait, :type1, alt: nil, image_class: 'show-on-medium-screen')
            = image_with_dimension(document.portrait, :type2, alt: nil, image_class: 'hide-on-medium-screen')
          - else
            = image_with_dimension(document.portrait, :type2, alt: nil, image_class: 'medium_circle')
            = image_with_dimension(document.portrait, :type4, alt: nil, image_class: 'small_circle')
      - else
        = link_to relative_link(document.url), :class => 'b-character__portrait'
          img.medium_circle.placeholder-image{width='100' height='100' src='/assets/placeholder-level2.png'}

      /рубрика
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'character'

      .b-character__name
        = link_to document.character_name, relative_link(document.url), class: 'name'
        br
        = link_to document.character_job, relative_link(document.url), class: 'job'

    - else
      p нет автора цитаты

  /цитата
  .b-character__quote__wrapper
    - if document.has_character_quote?
      .b-character__quote
        = link_to relative_link(document.url) do
          = document.character_quote
          - if document.pay_required?
            span.b-icon.b-icon--svg.b-icon--grey-lock
            span.b-icon.b-icon--svg.b-icon--grey-unlock
      = render 'common/comment', document: document
    - else
      p нет цитаты

  .b-character__title
    = link_to relative_link(document.url) do
      = alternative_title.nil? ? document.title : alternative_title
      - if document.pay_required?
        span.b-icon.b-icon--svg.b-icon--grey-lock
        span.b-icon.b-icon--svg.b-icon--grey-unlock
    = render 'common/comment', document: document
