/колонка, 2 уровень анонсирования
= content_tag element_tag, class: "b-column b-column_level2 #{element_class}" do

  .b-column__inner
    /автор
    -if document.has_author?
      = link_to relative_link(document.url), :class => 'b-column__portrait' do

        - if document.author.has_portrait? && document.author.portrait.has_version?(:type2) && document.author.portrait.has_version?(:type4)
          - if double_image == true && document.author.portrait.has_version?(:type1)
            = image_with_dimension(document.author.portrait, :type1, alt: nil, image_class: 'show-on-medium-screen')
            = image_with_dimension(document.author.portrait, :type2, alt: nil, image_class: 'hide-on-medium-screen')
          - else
            = image_with_dimension(document.author.portrait, :type2, alt: nil, image_class: 'medium_circle')
            = image_with_dimension(document.author.portrait, :type4, alt: nil, image_class: 'small_circle')
        - else
          img.medium_circle.placeholder-image{width='100' height='100' src='/assets/placeholder-level1.png'}

      /рубрика
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'column'
      .b-column__name
        = link_to "#{document.author.first_name} #{document.author.last_name}", relative_link(document.url)
    - else
      p не указан автор цитаты

  .b-column__quote__wrapper
    /цитата
    - if document.has_quote_body?
      .b-column__quote
        = link_to relative_link(document.url) do
          = document.quote_body
          - if document.pay_required?
            span.b-icon.b-icon--svg.b-icon--grey-lock
            span.b-icon.b-icon--svg.b-icon--grey-unlock
      = render 'common/comment', document: document

  /заголовок(появляется при мутации элемента)
  .b-column__title
    = link_to relative_link(document.url) do
      = alternative_title.nil? ? document.title : alternative_title
      - if document.pay_required?
        span.b-icon.b-icon--svg.b-icon--grey-lock
        span.b-icon.b-icon--svg.b-icon--grey-unlock
    = render 'common/comment', document: document
