/цитата, 2 уровень анонсирования
= content_tag element_tag, class: "b-quote b-quote_level2 #{element_class}" do

  - if document.has_quote_body?
    /цитата
    .b-quote__quote__wrapper
      .b-quote__quote = link_to relative_link(document.url) do
        = document.quote_body
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
      = render 'common/comment', document: document
  - else
    p нет цитаты

  .b-quote__inner
    - if document.has_quote_author? && document.has_quote_job?
      /картинка
      - if document.has_portrait? && document.portrait.has_version?(:type3)
        = link_to relative_link(document.url), :class => 'b-quote__portrait' do
          = image_with_dimension(document.portrait, :type3, alt: nil, image_class: 'medium_circle')
      - else
        = link_to relative_link(document.url), :class => 'b-quote__portrait'
          img.medium_circle.placeholder-image{width='100' height='100' src='/assets/placeholder-level1.png'}
      /рубрика
      = render 'common/rubric_title', document: document, rubric_template: rubric_template, type: 'quote'
      /имя
      .b-quote__name
        = link_to document.quote_author, relative_link(document.url), class: 'name'
        br
        = link_to document.quote_job, relative_link(document.url), class: 'job'
      /заголовок
      .b-quote__title = link_to relative_link(document.url) do
        = document.title
        - if document.pay_required?
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
      /подзаголовок
      - if document.has_subtitle?
        .b-quote__subtitle== link_to document.subtitle, relative_link(document.url)
      /рубрика
      = render 'common/comment', document: document
    - else
      p нет автора
