/статья, 2 уровень анонсирования
= content_tag element_tag, class: "b-article b-article_level2 #{element_class}" do

  /картинка
  - if document.has_image? && document.image.has_version?(:level2)
    = link_to relative_link(document.url), class: 'b-article__image', target: target do
      /тень
      - if document.gallery? || document.video? || document.test?
        .b-article__image-shadow
      /иконка
      - if document.gallery?
        i.b-icon.icon-photo2
      - elsif document.video?
        i.b-icon.icon-video2
      - elsif document.online?
        i.b-icon.icon-online
      - elsif document.test?
        i.b-icon.icon-test
      / загрузка 2-х картинок в зависимости от мутации элемента
      - if double_image == true && document.image.has_version?(:level1)
        = image_with_dimension document.image, :level1, alt: document.image_alt, image_class: 'show-on-medium-screen'
        = image_with_dimension document.image, :level2, alt: document.image_alt, image_class: 'hide-on-medium-screen'
      - else
        = image_with_dimension document.image, :level2, alt: document.image_alt

  .b-article__left-inner
    /рубрика
    - if document.has_categories? && document.categories.has_parts?
      .b-document__header__subrubric
        = link_to document.categories.parts.title, "#{part_path(document.categories.parts.slug)}"
    /заголовок
    .b-article__title
      = link_to alternative_title.nil? ? document.title : alternative_title, relative_link(document.url), target: target
    /подзаголовок
    - if document.has_subtitle?
      .b-article__subtitle
        a{href="#{relative_link(document.url)}" target="#{target}"}== alternative_subtitle.nil? ? document.subtitle : alternative_subtitle
    - elsif !alternative_subtitle.nil?
      .b-article__subtitle
        a{href="#{relative_link(document.url)}" target="#{target}"}== alternative_subtitle
    /блок комментариев
    = render 'common/comment', document: document