<!--# if expr="$allow_editors = yes" -->
css:
  .the-line{
    display: block !important;
    height: 2px;
    background: rgb(181, 87, 87);
    margin: 28px 0 13px;
    position: relative;
  }
  .the-line:after {
    content: 'Линия Paywall';
    position: absolute;
    top: -15px;
    font-family: 'Fedra Sans Demi', 'Fedra Sans Medium', 'sans-serif';
    font-size: 21px;
    left: 50%;
    margin-left: -76px;
    background: #fff6f1;
    padding: 2px 21px;
  }
div.editor_button.no-print
  .b-button.b-button_external-link
    = link_to "#{Settings.hosts.ibis}/#{url}" do
      i.b-icon.icon-gazeta
<!--# endif -->
