.b-button__wrapper { scroll-top }
  button.b-button.b-button_scroll_top.no-print.ng-cloak{ ng-show = 'header_fixed.visible' reload="true" smooth-scroll-jquery target="top"}
    | Наверх
    i.b-icon.icon-arrow-up-white
