.title
  |Регистрация
.subtitle
  |Добро пожаловать в Сообщество читателей «Ведомостей».

.descr
p
  |После регистрации Вы сможете читать до 13 материалов vedomosti.ru в месяц. Если хотите читать больше, оформите подписку.
  br
  | Мы рекомендуем регистрироваться под настоящим именем и оставляем за собой право удалять некорректную информацию.
  br
  | АО «Бизнес Ньюс Медиа» обязуется использовать персональные данные своих пользователей в соответствии с Правилами регистрации и конфиденциальности.
