.b-subscription-form-field_social__header Быстрый вход через соц.сети
.b-subscription-form-field.b-subscription-form-field_social
  button.b-subscription-button.b-subscription-button_small.b-subscription-button_facebook type='button' onClick='window.location.href="/auth/facebook"' Facebook
  button.b-subscription-button.b-subscription-button_small.b-subscription-button_twitter type='button' onClick='window.location.href="/auth/twitter"' Twitter
  button.b-subscription-button.b-subscription-button_small.b-subscription-button_vkontakte type='button' onClick='window.location.href="/auth/vkontakte"' Вконтакте
