.b-form
  = form_for(@form, url: sign_up_with_oauth_path, html: { name: 'oauth_form' }) do |f|
    = f.label :email, 'E-mail *'
    = f.text_field :email, placeholder: 'mail@example.com'
    - if @form.errors[:email].present?
      .error= @form.errors[:email].first

    = f.label :nickname, 'Ник'
    = f.text_field :nickname, placeholder: 'Бэтмэн'
    - if @form.errors[:nickname].present?
      .error= @form.errors[:nickname].first

    = f.label :last_name, 'Фамилия *'
    = f.text_field :last_name, placeholder: 'Петров'
    - if @form.errors[:last_name].present?
      .error= @form.errors[:last_name].first

    = f.label :first_name, 'Имя *'
    = f.text_field :first_name, placeholder: 'Вася'
    - if @form.errors[:first_name].present?
      .error= @form.errors[:first_name].first

    = f.label :phone, 'Телефон *'
    = f.text_field :phone, placeholder: '+7 999 123-45-67'
    - if @form.errors[:phone].present?
      .error= @form.errors[:phone].first

    br
    | В формате 7–495–2321750, то есть код страны–код города–телефон

    br

    .b-rules__wrapper
      = f.check_box :rules
      = f.label :rules, 'Я согласен с Правилами регистрации и конфиденциальности.'

    br
      = f.submit 'отправить', class: 'b-button b-button_submit'
