= form_for(@registration_form, url: { controller: 'register', action: 'sign_up_with_password' }, html: { class: 'b-form' }) do |f|
  .b-subscription-form-field
    = f.text_field :email, class: 'b-subscription-form__text', 'placeholder' => 'E-mail *'
    - if @registration_form.errors[:email].present?
      .error= @registration_form.errors[:email].first

  .b-subscription-form-field
    = f.password_field :password, class: 'b-subscription-form__text', 'placeholder' => 'Пароль (6-20 символов) *'
    - if @registration_form.errors[:password].present?
      .error= @registration_form.errors[:password].first

  .b-subscription-form-field
    = f.password_field :password_confirmation, class: 'b-subscription-form__text', 'placeholder' => 'Повторите пароль *'
    - if @registration_form.errors[:password_confirmation].present?
      .error= @registration_form.errors[:password_confirmation].first

  .b-subscription-form-field
    = f.text_field :last_name, class: 'b-subscription-form__text', 'placeholder' => 'Фамилия *'
    - if @registration_form.errors[:last_name].present?
      .error= @registration_form.errors[:last_name].first

  .b-subscription-form-field
    = f.text_field :first_name, class: 'b-subscription-form__text', 'placeholder' => 'Имя *'
    - if @registration_form.errors[:first_name].present?
      .error= @registration_form.errors[:first_name].first

  - if !defined?(hide_nickname) || (defined?(hide_nickname) && !hide_nickname)
    .b-subscription-form-field
      = f.text_field :nickname, class: 'b-subscription-form__text', 'placeholder' => 'Ник'
      - if @registration_form.errors[:nickname].present?
        .error= @registration_form.errors[:nickname].first

  .b-subscription-form-field
    = f.text_field :phone, class: 'b-subscription-form__text', 'placeholder' => 'Телефон *'
    div.phone-descr
      | В формате 7–495–2321750
    = f.hidden_field :rules, value: '1'
    - if @registration_form.errors[:phone].present?
      .error= @registration_form.errors[:phone].first

  .b-subscription-form-field.checkboxes
    input.checkboxes-input{type="checkbox" name="registrationCheckbox" id="registrationCheckbox" ng-model="agreement"}
    label.checkboxes-label{for="registrationCheckbox"}
      | Я согласен с правилами #{link_to 'регистрации и конфиденциальности', '/info/privacy', class: 'green-link'}

  br
    button.b-subscription-button.b-subscription-button_long.b-subscription-button_small{type='submit' ng-click = 'submit()' ng-disabled="!agreement"} Зарегистрироваться
