.b-document.b-document_password-reset
  .b-form__wrapper
    .b-form.b-form_reset-password
      - if @success
        div.b-form__success
          .b-form__success__header
            | Проверьте вашу почту
          .b-form__success__text
            | Вам отправлено письмо со ссылкой для восстановления пароля.
            div = link_to 'Перейти на главную страницу', root_path
      - else
        .b-form__header Сброс забытого пароля
        = form_for @email_form, url: password_reset_email_send_path do |f|
          = f.label :email, 'Укажите Вашу почту и мы отправим Вам ссылку для сброса пароля', class: 'b-form__field__label'
          .b-form__field
            = f.text_field :email, class: 'b-form__field__text', placeholder: 'E-mail'
            - if @email_form.errors[:email].present?
              .b-form__error = @email_form.errors[:email].join(?,)
          .b-form__field
            button.b-form__button{type='submit'} Сбросить
