.b-document.b-document_password-reset2
  .b-form__wrapper
    .b-form.b-form_reset-password2
      - if @check_token_success
        - if @success
          .b-form__success
            .b-form__success__header Пароль успешно обновлён.
            .b-form__success__text = link_to 'Перейти на главную страницу', root_path

        - else
          .b-form__header Ввод нового пароля
          = form_for @password_form, url: password_send_path do |f|
            = f.label :password, 'Введите новый пароль', class: 'b-form__field__label'
            .b-form__field
              = f.password_field :password, class: 'b-form__field__text'
              - if @password_form.errors[:password].present?
                .b-form__error = @password_form.errors[:password].join(', ')

            = f.label :password_confirmation, 'Подтвердите новый пароль', class: 'b-form__field__label'
            .b-form__field
              = f.password_field :password_confirmation, class: 'b-form__field__text'
              - if @password_form.errors[:password_confirmation].present?
                .b-form__error = @password_form.errors[:password_confirmation].first

              button.b-form__button{type='submit'} Отправить
              /div = f.submit 'Отправить', class: 'b-button b-button_submit'

      - else
        .b-form__header
          | Ввод нового пароля <br> Неправильный токен сброса пароля.
