.b-sign-in-container
  .b-subscription-form-fieldset.b-subscription-form-fieldset_left
    .b-subscription-form-field_social__header
      | Регистрация
    = render 'register/password_form', hide_nickname: defined?(hide_nickname) ? hide_nickname : false
  - if !defined?(hide_social_auth)
    .b-subscription-form-fieldset.b-subscription-form-fieldset_right
      = render 'register/oauth_links'
