.b-inset.b-inset_chronology
  - if box.has_image?
    = image_with_dimension(box.image, :default, image_class: 'b-inset_chronology-avatar')
  .b-inset_chronology-description
    .title= box.title
    .subtitle== box.body
  ul = render partial: 'm/document/boxes/chronology_item', collection: box.children
