/подключение dulton media
.b-inset-dulton-media
  .eagleplayer{data-id = '#{box.dulton_id}' data-width='100%' data-height='0', data-mode='mobile'}
  - if @document.online?
    - if box.has_description?
      p.b-broadcast__description== box.description
