- if !(defined? box).nil?
  - if box.has_bound_document?
    - box = find_gallery(box.bound_document)
- else 
  - box = find_gallery(@document)
.b-gallery.b-gallery--wrapper
  .b-gallery__image
    .image-holder{ng-click="showGallery('#{if defined?(box.id) then box.id else 1}');start=0" ng-swipe-left="showGallery('#{if defined?(box.id) then box.id else 1}',1);start=1" ng-swipe-right="showGallery('#{if defined?(box.id) then box.id else 1}',-1);start=#{box.children.length-1}"}
      = image box.children[0].image.mobile_high.url, '', 'b-main-image'
      .b-gallery__arrow.b-gallery__arrow--next{ng-click="$event.stopPropagation();showGallery('#{if defined?(box.id) then box.id else 1}');start=1"}
        span.b-icon.gallery-next
      .b-gallery__arrow.b-gallery__arrow--prev{ng-click="$event.stopPropagation();showGallery('#{if defined?(box.id) then box.id else 1}',-1);start=#{box.children.length-1}"}
        span.b-icon.gallery-prev
      .b-gallery__credits
        - if box.children[0].has_author? && box.children[0].has_credits?
          .author = "#{box.children[0].author} / #{box.children[0].credits}"
        - elsif box.children[0].has_author? && !box.children[0].has_credits?
          .author = "#{box.children[0].author}"
        - elsif !box.children[0].has_author? && box.children[0].has_credits?
          .author = "#{box.children[0].credits}"
    .image-credits
      .credits
        .counter = "1/#{box.children.length}"
      .alt
        == box.children[0].description
        = raw('&nbsp;')

javascript:
  if (window.storage == undefined)
    window.storage = {};
  storage[ "#{box.id}"]= #{box.children.to_json.html_safe};

angular-carousel{ gallery-id="#{box.id}" ng-if="galleries[ '#{box.id}']" hide-gallery  = 'hideGallery' carousel-index="start"}
