- if box.has_bound_document?
  - if box.bound_document.has_image?
    .b-inset-link
      a{href="#{relative_link(box.bound_document.url)}"}
        = image box.bound_document.image._preview.url
      = link_to box.has_alternative_title? ? box.alternative_title : box.bound_document.title, relative_link(box.bound_document.url)
  - else
    .b-big-green-link
      = link_to box.has_alternative_title? ? box.alternative_title : box.bound_document.title, relative_link(box.bound_document.url)
      |&nbsp;&rarr;
