- if box.bound_document.gallery?
  = render 'm/document/boxes/gallery', {box: box}
- else
  - document = box.bound_document
  - if document.has_image? && document.image.has_version?(:mobile_high)
    a.b-main-image{href="//#{document.url}"}
      = image document.image.mobile_high.url, document.title
      span.b-part-icon{class="b-part-icon_#{document.categories.parts.slug}"}
