.b-inset_image
  - if box.has_image?
    - if box.has_title?
      = image box.image.default.url, box.title, 'inset-image'
    - else
      = image box.image.default.url, '', 'inset-image'
  .image-description
    - if box.has_title?
      .image-title= box.title
    - if box.has_description?
      .image-description== box.description
    - if box.has_author?
      span.image-author
        | Фото: &nbsp;
        = box.author
    - if box.has_copyright?
      | &nbsp; / &nbsp;
      span.image-copyright= box.copyright
