.b-inset_quote
  .text = box.body

  .inner
    .person
      -if box.has_image?
        = image box.image.default.url, ''
    .name
      span.fullname = box.name
      | ,&nbsp;
      span.job = box.job
