- json = Oj.load(box.json)

.b-inset-table{inset-table json="#{box.json}" ved-table}
  .b-help-message.ng-cloak {ng-class='{"b-help-message--show": showHelpMessage && initialized}'}
    .b-help-icon
      .b-help-icon__pinch
        .b-icon.b-icon-pinch
      .b-help-icon__swipe
        .b-icon.b-icon-swipe
    .b-help-message__info

      .b-help-text
        | Таблицу можно скроллить в двух направлениях
      .b-button.b-button__skip {ng-click='hideHelpMessage()'}
        = 'Продолжить'
        .b-icon.b-icon-next

  h2.b-inset-table__header= json[:title]
  .b-open-button {ng-click="openTable('#{box.id}_table')"}
    .b-open-button__icon
    .b-open-button__text
      | Чтобы посмотреть таблицу, перейдите по ссылке
  .b-inset-table-inner {id="#{box.id}_table"}
    .zoom-controls {ng-hide='showHelpMessage'}
      .zoom-in {ng-click='zoomFor(0.1)'}
      .zoom-out {ng-click='zoomFor(-0.1)'}
      .close-table {ng-click="closeTable('#{box.id}_table')"}
    table
      thead
        - json[:renderData].each_with_index do |row, row_index|
          - if json[:rows][row_index][:title]
            tr
              - row.each_with_index do |col, col_index|
                - if col && ((col_index + 1) < row.length)
                  th{
                    colspan="#{col[:colspan]}"
                    rowspan="#{col[:rowspan]}"
                    class="#{col[:align]}"
                    data-colindex="#{col[:colIndex]}"}
                    - if col[:colspan] == '1'
                      span== col[:value]
                    - else
                      == col[:value]
      tbody
        - json[:renderData].each_with_index do |row, row_index|
          - if !json[:rows][row_index][:title]
            - if json[:rows][row_index][:expand]
              tr.expand{ng-click="toggleExpandedContent($event)" class="#{'highlight-color' if json[:rows][row_index][:highlightColor]} #{'highlight-bold' if json[:rows][row_index][:highlightBold]}"}
                - row.each_with_index do |col, col_index|
                  - if col && col_index != (row.length - 1)
                    - if col_index == 0
                      th{
                        rowspan="#{col[:rowspan]}"
                        class="#{col[:align]}"
                        data-colindex="#{col[:colIndex]}"
                        class="#{'highlight-column' if json[:columns][col_index][:highlight]}"}
                        .expand-label== col[:value]
                    - else
                      td{
                        colspan="#{col[:colspan]}"
                        rowspan="#{col[:rowspan]}"
                        class="#{col[:align]}"
                        data-colindex="#{col[:colIndex]}"
                        class="#{'highlight-column' if json[:columns][col_index][:highlight]}"}
                        .expand-label== col[:value]
            - else
              tr{class="#{'highlight-color' if json[:rows][row_index][:highlightColor]} #{'highlight-bold' if json[:rows][row_index][:highlightBold]}"}
                - row.each_with_index do |col, col_index|
                  - if col && col_index != (row.length - 1)
                    - if col_index == 0
                      th{
                        rowspan="#{col[:rowspan]}"
                        class="#{col[:align]}"
                        data-colindex="#{col[:colIndex]}"
                        class="#{'highlight-column' if json[:columns][col_index][:highlight]}"}== col[:value]
                    - else
                      td{
                        colspan="#{col[:colspan]}"
                        rowspan="#{col[:rowspan]}"
                        class="#{col[:align]}"
                        data-colindex="#{col[:colIndex]}"
                        class="#{'highlight-column' if json[:columns][col_index][:highlight]}"}== col[:value]

  .b-inset-table__description
    - if json[:description]
      == json[:description][:'0']
  .b-inset-table__description
    - if json[:description]
      == json[:description][:'1']
  .b-inset-table__description
    - if json[:description]
      == json[:description][:'2']
  .b-inset-table__source= json[:source]
