header.b-header.b-header--ampersand {class="#{!defined?(partner) ? 'b-header--main' : ''} #{defined?(fixed) ? 'b-header--fixed ng-cloak' : ''}" ved-header-fixed = defined?(fixed) ng-show=('header_fixed.visible' if defined?(fixed)) }
  .b-header__container
    - if !defined?(fixed)
      a.b-ved-link {href= '/'}
        .b-ved-link__icon
          - if defined?(partner)
            .b-svg.b-svg--ved-small
          - else
            .b-svg.b-svg--ved-small-white
        span.b-ved-link__text
          | Перейти на vedomosti.ru
      a.b-feedback {href='mailto:advertorial@vedomosti.ru'}
        | Обратная связь
        - if !defined?(partner)
          .b-16-plus
            .b-svg.b-svg--16plus
    .b-header__line
      - if defined?(partner) && partner.has_partner_logo?
        .b-partner-logo
          = responsive_image_tag partner.partner_logo, [{type: :small, size: '1x'}, {type: :big, size: '2x'}]
      - if defined?(partner)
        a.b-ampersand-logo.b-ampersand-logo--black {href='/partner'}
          .b-svg.b-svg--logo-black
      - else
        .b-ampersand-logo.b-ampersand-logo
          .b-svg.b-svg--logo-white
      - if defined?(partner) && partner.has_partner_logo?
        .b-release-info
          div = "Номер #{partner.release_number} от #{Russian::strftime(partner.published_at, '%d %B %Y')}"
          div = "Партнер проекта «#{partner.partner_name}»"
- if defined?(partner) && !defined?(fixed)
  .b-course.b-course--hidden