.b-ampersand-bottomline {class="#{defined?(modificator) ? 'b-ampersand-bottomline--'+modificator : ''}"}
  - if defined?(modificator) && modificator=='release-top'
    a.b-ampersand-nav.b-ampersand-nav--next {href="#{relative_link(release.url)}"}
      .b-ampersand-nav__text = 'Читать весь номер'
      .b-ampersand-nav__icon
        .b-svg.b-svg--next

  - elsif release.has_links? && !release.links[:ampersand].empty?
    a.b-ampersand-nav {href= relative_link(release.links[:ampersand][0].bound_document.url) }
      .b-ampersand-nav__icon
        .b-svg.b-svg--prev
      .b-ampersand-nav__text = 'Вернуться к номеру'
  - else
    a.b-ampersand-nav {href='/partner'}
      .b-ampersand-nav__icon
        .b-svg.b-svg--prev
      .b-ampersand-nav__text = 'Вернуться к списку номеров'

  .b-ampersand-sharing
    .b-ampersand-sharing__text = 'Поделиться:'
    .b-ampersand-sharing__icons
      a.b-sharing-facebook {href="#{sharing_facebook_link(release)}" onclick="window.open('#{sharing_facebook_link(release)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "}
        .b-svg.b-svg--facebook
      a.b-sharing-twitter {href="#{sharing_twitter_link(release)}" onclick="window.open('#{sharing_twitter_link(release)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "}
        .b-svg.b-svg--twitter
      a.b-sharing-vk {href="#{sharing_vk_link(release)}" onclick="window.open('#{sharing_vk_link(release)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "}
        .b-svg.b-svg--vk
  - if release.boxes[0] && release.boxes[0].has_pdf?
    a.b-ampersand-download {href="#{image_absolute_url(release.boxes[0].pdf[:original][:url])}" target='_blank'}
      .b-ampersand-download__pdf-icon
        .b-svg.b-svg--pdf
      .b-ampersand-download__text = "Скачать номер, PDF #{release.boxes[0].pdf[:original][:size]/1024/1024}мб"
      .b-ampersand-download__download-icon
        .b-svg.b-svg--download
