.b-newspaper__flash
  object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="100%" height="100%" id="player" align="middle"
    param name="allowScriptAccess" value="sameDomain"
    param name="allowFullScreen" value="true"
    param name="movie" value="/static/browser.swf?issueFile=/newspaper/#{@date ? @date.strftime('%Y/%m/%d') : 'last'}/flash.xml&page=0"
    param name="quality" value="high"
    param name="wmode" value="opaque"
    param name="bgcolor" value="white"
    embed src="/static/browser.swf?issueFile=/newspaper/#{@date ? @date.strftime('%Y/%m/%d') : 'last'}/flash.xml&page=0" quality="high" bgcolor="white" width="100%" height="100%" wmode="opaque" name="videoplayer" align="middle" allowscriptaccess="sameDomain" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"
