/формирование title для страницы
- render_title('Газета')

.b-document
  .b-document__left.b-document_newspaper
    - if !Rails.env.development?
      == '<!--# set var="OWL_SMART" value="$owl_status/$owl_reason/$owl_state" --><!-- OWL_SMART: "<!--# echo var="OWL_SMART" -->" -->'

    = render_block "/includes/owl_smart/$OWL_SMART/newspaper/#{@newsrelease.published_at.strftime('%Y/%m/%d')}/issue"

  aside.b-document__right{class="no-print"}
    = render 'document/pickadate'
    = render 'document/right/part'
