javascript:
  var owl_status = "#{@owl_status || 'empty'}";
  var owl_reason = "#{@owl_reason || 'empty'}";

  var params = [
    {owl_status: owl_status, owl_reason: owl_reason}
  ];

= render_block '/includes/redline'
- if @owl_status == 'ok' && @owl_reason != 'not_subscriber'
  .b-newspaper__header = "#{@newsrelease.title} от #{@newsrelease.published_at.strftime('%d.%m.%Y')}"

  - if @has_flash
    .b-newspaper__flash__wrapper = render 'newspaper/browser'

  - if @epub
    .b-newspaper__epub.b-file__title
      - if @podcast && @podcast.url
        = link_to "/podcasts/#{@podcast.published_at.strftime('%Y/%m/%d')}" , class: "b-file__title__link"
          i.b-icon.icon-podcast2
          span Подкаст

      = link_to "https://#{Settings.hosts.agami}#{@epub.url}" do
        i.b-icon.icon-attach
        span Скачать ePub (#{number_to_human_size(@epub[:size], precision: 1, separator: ',')})
        i.b-icon.icon-download
        i.b-icon.icon-download-green

  = render partial: 'common/items/newspaper_page', collection: @pages, as: :page
      
- else
  = render 'paywall/newspaper'
