- if @document.present?
  - render_title(@document.title)
- else
  - render_title('Новости')
  - render_description('Ежедневная деловая газета «Ведомости» — уникальный проект, для реализации которого впервые в истории объединили свои силы две ведущие бизнес-газеты мира — Financial Times и The Wall Street Journal.')

.b-rubric_news
  ul
    - if @document.present? and not @news.any? {|doc| doc.id == @document.id }
      = render "common/items/newsline", item: @document, index: 0, body: render_document_body(@document)
    - @published = @news.first.published_at.strftime("%d")
    - @news.each_with_index do |item, index|
      - if @document.present? && item.id == @document.id
        = render "common/items/newsline", item: item, index: index, body: render_document_body(@document)
      - else
        = render "common/items/newsline", item: item, index: index, body:''
