- valid_timestamp_range = (Time.new(1999, 9, 7).to_i..Time.now.to_i)
- years = 1999..Time.now.year
- year  = nil if defined?(year).nil?
- current_day = nil if defined?(current_day).nil?

.b-archive-calendar
  - if year
    h1.b-archive-calendar__title Архив за #{year} год
    ul.year
      - latest_month = year == Time.now.year ? Time.now.month : 12
      - (1..latest_month).each do |month|
        li
          ruby:
            html = LaterDude::Calendar.new(year, month, first_day_of_week: 1) do |d|
              current_calendar_day = Time.new(year, month, d.day)
              url = archive_for_day_path(year, month < 10 ? '0' + month.to_s : month, d.day < 10 ? '0' + d.day.to_s : d.day)

              link_to_if(
                valid_timestamp_range.include?(current_calendar_day.to_i),
                d.day,
                url,
                { class: ('active' if current_day.present? && current_calendar_day.to_date == current_day ) }
              )
            end.to_html

          = html

  h1.b-archive-calendar__title
    = link_to 'Архив за все годы', archive_path

  ul.years
    - years.each do |current_year|
      li{class=('active' if current_year == year)}= link_to_unless_current current_year, archive_for_year_path(current_year)

current_calendar_day
