- render_title(@date_begin.strftime("Архив материалов за %d.%m.%Y"))

.b-document.b-document_day
  .b-document__left
    - if @documents.empty?
      div.b-archive-calendar__no-documents
        |  За #{Russian::strftime(@date_begin, "%d %-d %B %Y")[3..-1]} материалы отсутствуют
    - else
      h1.b-archive-calendar__title = @date_begin.strftime("Архив материалов за %d.%m.%Y")
      ul.b-subrubric__items
        - @documents.each_with_index do |document, index|
          = render_list_item(document, index)

    = render 'archive/calendar', current_day: Date.new(params[:year].to_i, params[:month].to_i, params[:day].to_i), year: @year, title: @date_begin.strftime('Архив за %Y год')

  aside.b-document__right.no-print
    = render 'document/right/default'
