.b-document.b-document_year
  .b-document__left.b-document__left_year
    = render_title "Архив за #{@year} год"
    = render 'archive/calendar', year: @year
  .b-document__right
    = render 'document/right/default'
