/формирование title для страницы
- render_title('404')

.b-error__logo
  .logo
.b-error
  h1
    | Ошибка 404:
    br
    | страница не найдена

  p Страница, которую Вы запросили, не найдена на сервере «Ведомостей». Возможно, эта страница удалена, переименована или просто временно недоступна.
  h2 Попробуйте сделать следующее:
  ul
    li Проверьте правильность ввода адреса страницы в адресной строке браузера — возможно, вы ввели адрес кириллицей
    li Перейдите на главную страницу #{link_to 'http://www.vedomosti.ru', '/'} и воспользуйтесь поиском по сайту
    li Сообщите нам о неправильной ссылке

sass:
    body
      background-color: #f8ede7!important