
doctype html
html
  head
    title = yield :title
    meta {charset='utf-8'}
    /Отключает режим совместимости для IE
    meta {http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"}
    link {rel="apple-touch-icon" href="/assets/vedomosti_180x180.png"}
    link {rel="apple-touch-icon" sizes="76x76" href="/assets/touch-icon-ipad.png"}
    link {rel="apple-touch-icon" sizes="120x120" href="/assets/touch-icon-iphone-retina.png"}
    link {rel="apple-touch-icon" sizes="152x152" href="/assets/touch-icon-ipad-retina.png"}
    link {rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#fff6f1"}
    link {href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,400i&amp;subset=cyrillic" rel="stylesheet"}
    meta{charset="utf-8"}
    meta{content="" name="description"}
    meta{content="True" name="HandheldFriendly"}
    meta{content="320" name="MobileOptimized"}
    meta{content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1" name="viewport"}
    meta{content="on" http-equiv="cleartype"}
    meta{name="mobile-web-app-capable" content="yes"}
    meta{name="apple-mobile-web-app-capable" content="yes"}
    /META START
    - if !@ampersand_release && !@document
      meta { property="og:title" content="ВЕДОМОСТИ&" }
      - if @documents && @documents[0]
        link { rel="image_src" href="#{Settings.hosts.puffin}/#{@documents[0].url}.jpg" }
        meta { property="og:image" content="#{Settings.hosts.puffin}/#{@documents[0].url}.jpg" }
        meta { property="twitter:image" content="#{Settings.hosts.puffin}/#{@documents[0].url}.jpg" }
        meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" name='description' }
        meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" property='og:description' }
        meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" property='twitter:description' }
    - elsif @document.present?
      meta { content='summary_large_image' property='twitter:card' }
      meta { content='@vedomosti' property='twitter:site' }
      meta { content=@document.title property='twitter:title' }
      meta { name="author" content="Ведомости&" }
      meta { content='article' property='og:type' }
      meta { content=site_url(@document.url) property='og:url' }
      - if (@document.gallery? || @document.video?) && @document.has_image? && @document.image.has_version?(:normal)
        link { rel="image_src" href=image_absolute_url(@document.image.normal.url) }
        meta { property='og:image' content=image_absolute_url(@document.image.normal.url) }
        meta { property='twitter:image' content=image_absolute_url(@document.image.normal.url) }
      - else
        link { rel="image_src" href=image_url_social(@document) }
        meta { property='og:image' content=image_url_social(@document) }
        meta { property='og:image:width' content=1200 }
        meta { property='og:image:height' content=630 }
        meta { property='twitter:image' content=image_url_social(@document) }
      meta{content=@document.title property='og:title'}
      / Описание заметки
      - if @document.has_subtitle?
        meta { content="#{strip_tags(@description || @document.subtitle)}" name='description' }
        meta { content="#{strip_tags(@description || @document.subtitle)}" property='og:description' }
        meta { content="#{strip_tags(@description || @document.subtitle)}" property='twitter:description' }
    - elsif @ampersand_release
      meta { property="og:title" content="#{@ampersand_release.title}" }
      meta { property="twitter:title" content="#{@ampersand_release.title}" }
      link { rel="image_src" href="#{Settings.hosts.puffin}/#{@ampersand_release.url}.jpg" }
      meta { property="og:image" content="#{Settings.hosts.puffin}/#{@ampersand_release.url}.jpg" }
      meta { property="twitter:image" content="#{Settings.hosts.puffin}/#{@ampersand_release.url}.jpg" }
      meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" name='description' }
      meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" property='og:description' }
      meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" property='twitter:description' }
    title = 'ВЕДОМОСТИ&'
    meta { content='партнерское приложение, коммерческое приложение, ведомости амперсанд, ведомости, приложения, ведомости&, партнерский проект' name='keywords' }
    meta { name="theme-color" content="#fff6f1" }



    = canonical_tag

    = stylesheet_link_tag 'm/fonts', media: 'all'
    = stylesheet_link_tag 'm/application', media: 'all'
    = stylesheet_link_tag 'm/special/ampersand/ampersand', media: 'all'
    = javascript_include_tag 'm/application', debug: true, defer:true
    = javascript_include_tag 'm/boot', debug: true, defer:true
    /= javascript_include_tag 'vendors/adriver.core.2', debug: true
    = javascript_include_tag 'https://cdn.onthe.io/io.js/fHMs3jhaswCz', id: 'ontheiojs', async: true
    - if @document
      /подключение dulton media
      = javascript_include_tag "http://vedomosti.media.eagleplatform.com/player/player.js", id: 'eagleplatformjs', async: true

      = yield :head if content_for?(:head)
    / параметры paywall
    javascript:
      var paywall_options = {}

  body.b-page.b-page--ampersand {class=[('b-page_inverse' if @document.present? && document_with_icon?(@document) && part_for_document(@document).to_s!='online'), ("b-page_#{part_for_document(@document)}" if @document.present?)] ng-app='Sea'}

    = render 'm/blocks/mobile_warning'
    - if @ampersand_release
      = render 'partner/blocks/header', partner: @ampersand_release
    - elsif @document && @document.has_links? && @document.links[:ampersand]
      = render 'partner/blocks/header', partner: @document.links[:ampersand][0].bound_document
    - else
      = render 'partner/blocks/header'

    - if @document && has_map(@document)
      = javascript_include_tag 'vendors/d3.v3.min'
      = javascript_include_tag 'vendors/queue.v1.min'
      = javascript_include_tag 'vendors/topojson'
    #root
      = yield

      = render 'm/blocks/footer'
      #root_footer

    .b-footer.js-mediator-footer#footer
      a.b-footer-fullversion{href='javascript:to_www()'} Перейти к полной версии
      .b-footer-inner
        .b-footer-social
          span
            | Ведомости в социальных сетях
          a{href="http://www.facebook.com/Vedomosti" target="_blank"}
            i.b-icon.small.facebook
          a{href="http://twitter.com/vedomosti" target="_blank"}
            i.b-icon.small.twitter
          a{href="http://vk.com/vedomosti" target="_blank"}
            i.b-icon.small.vkontakte
        .b-footer-copyright
          p
            | Все права защищены © АО Бизнес Ньюс Медиа, 1999—2017
          = link_to 'info/age', :target => '_self'
            i.b-icon.icon-plus16

    = render(:partial => 'chunks/all_chunks', :formats => [:html])
    = render 'chunks/liveinternet'
    = render 'common/agima2'
