= stub_error

doctype html
html
  head
    title = yield :title
    meta{charset="utf-8"}
    meta{content="" name="description"}
    meta{content="True" name="HandheldFriendly"}
    meta{content="320" name="MobileOptimized"}
    meta{content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1" name="viewport"}
    meta{content="on" http-equiv="cleartype"}
    meta{name="mobile-web-app-capable" content="yes"}
    meta{name="apple-mobile-web-app-capable" content="yes"}
    meta{name="apple-mobile-web-app-status-bar-style" content="black"}
    meta{name="apple-mobile-web-app-title" content=""}
    - if !(@document && @document.pay_required?)
      meta {property="fb:pages" content="184860593907"}
      meta {property="al:ios:app_name" content="Ведомости"}
      meta {property="al:ios:app_store_id" content="521051076"}

      - if @document
        meta {name="apple-itunes-app" content="app-id=521051076, app-argument=#{site_url(@document.url)}"}
        meta {property="al:ios:url" content="#{site_url(@document.url)}"}
      - else
        meta {name="apple-itunes-app" content="app-id=521051076"}
        meta {property="al:ios:url" content="#{site_url(Settings.hosts.shark + request.path)}"}
    link {rel="apple-touch-icon" href="/assets/vedomosti_180x180.png"}
    link {rel="apple-touch-icon" sizes="76x76" href="/assets/touch-icon-ipad.png"}
    link {rel="apple-touch-icon" sizes="120x120" href="/assets/touch-icon-iphone-retina.png"}
    link {rel="apple-touch-icon" sizes="152x152" href="/assets/touch-icon-ipad-retina.png"}
    link {rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#fff6f1"}
    link {rel="icon" type="image/png" href="/assets/vedomosti.png" sizes="16x16"}
    meta {name="theme-color" content="#fff6f1"}
    - if @document.present? && @document.has_amp?
      link{rel="amphtml" href="#{document_absolute_amp_url(@document.url)}"}



    = canonical_tag
    = announced_rss
    = render 'common/og'

    = stylesheet_link_tag 'm/fonts', media: 'all'
    = stylesheet_link_tag 'm/application', media: 'all'
    = javascript_include_tag 'm/application', debug: true, defer:true
    = javascript_include_tag 'm/boot', debug: true, defer:true
    /= javascript_include_tag 'vendors/adriver.core.2', debug: true
    - if @document.present? && @document.has_box_type?('table')
      = javascript_include_tag 'vendors/sticky-tables', defer: true
    = javascript_include_tag 'vendors/agima'
    javascript:
      var paywall_options = #{paywall_options_json};
      window.options = {domain: '#{request.domain}'};

    /подключение buy.vedomosti.ru
    = javascript_include_tag "//#{Settings.hosts.metynnis}/assets/buy.js", defer:true
    = javascript_include_tag 'https://cdn.onthe.io/io.js/fHMs3jhaswCz', id: 'ontheiojs', async: true
    - if @document
      /подключение dulton media
      = javascript_include_tag "http://vedomosti.media.eagleplatform.com/player/player.js", id: 'eagleplatformjs', async: true



    = yield :head if content_for?(:head)
    = render 'chunks/facebook_pixel'
    / параметры paywall
    javascript:
      var paywall_options = #{paywall_options_json};

  body.b-page{class=[('b-page_inverse' if @document.present? && document_with_icon?(@document) && part_for_document(@document).to_s!='online'), ("b-page_#{part_for_document(@document)}" if @document.present?)] ng-app='Sea'}
    javascript:
      if (window.paywall_options && window.paywall_options.owl_reason && window.paywall_options.owl_reason != 'not_subscriber')
        document.body.className += ' subscriber'
      else
        document.body.className += ' non-subscriber'
    - if @document && @document.categories.has_parts? && @document.categories.parts.slug == 'online'
      = render 'chunks/facebook'
      = render 'chunks/twitter'
      script async="" defer="" src="http://platform.instagram.com/en_US/embeds.js"
    - if @document.present?
      - if @document.has_rubric?
        - if @document.rubric.has_subrubrics?
          = render 'common/breadcrumbs', crumbs: [{name: @document.rubric.title, :@id => rubric_url(@document.rubric.slug)}, {name: @document.rubric.subrubrics.title, :@id => subrubric_url(@document.rubric.slug, @document.rubric.subrubrics.slug)}, {name: @document.title, :@id => @document.url}]
        - else
          = render 'common/breadcrumbs', crumbs: [{name: @document.rubric.title, :@id => rubric_url(@document.rubric.slug)}, {name: @document.title, :@id => @document.url}]
    - elsif @subrubric && @rubric
      = render 'common/breadcrumbs', crumbs: [{name: @rubric.title, :@id => rubric_url(@rubric.slug)}, {name: @subrubric.title, :@id => subrubric_url(@rubric.slug, @subrubric.slug)}]
    - elsif @rubric
      = render 'common/breadcrumbs', crumbs: [{name: @rubric.title, :@id => rubric_url(@rubric.slug)}]

    = render 'm/banners/fullscreen'

    - if (@document && !@document.gallery? && !@document.video? && !@document.news?) || @rubric || request.fullpath == '/'
      = render 'm/banners/ivengo'

    = render 'm/blocks/mobile_warning'

    - if @document && has_map(@document)
      = javascript_include_tag 'vendors/d3.v3.min'
      = javascript_include_tag 'vendors/queue.v1.min'
      = javascript_include_tag 'vendors/topojson'
    #root
      - if @document.present?
        = render 'm/banners/topline'
      = yield

      = render 'm/blocks/footer'
      #root_footer

    .b-footer.js-mediator-footer#footer
      a.b-footer-fullversion{href='javascript:to_www()'} Перейти к полной версии
      .b-footer-inner
        .b-footer-social
          span
            | Ведомости в социальных сетях
          a{href="http://www.facebook.com/Vedomosti" target="_blank"}
            i.b-icon.small.facebook
          a{href="http://twitter.com/vedomosti" target="_blank"}
            i.b-icon.small.twitter
          a{href="http://vk.com/vedomosti" target="_blank"}
            i.b-icon.small.vkontakte
        .b-footer-copyright
          p
            | Все права защищены © АО Бизнес Ньюс Медиа, 1999—2017
          = link_to 'info/age', :target => '_self'
            i.b-icon.icon-plus16

    = render(:partial => 'chunks/all_chunks', :formats => [:html])
    = render 'chunks/liveinternet'

    = render 'common/agima2'
