= stub_error
doctype html
html
  head
    title = yield :title
    meta{charset="utf-8"}
    meta{content="" name="description"}
    meta{content="True" name="HandheldFriendly"}
    meta{content="320" name="MobileOptimized"}
    meta{content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1" name="viewport"}
    meta{content="on" http-equiv="cleartype"}
    meta{name="mobile-web-app-capable" content="yes"}
    meta{name="apple-mobile-web-app-capable" content="yes"}
    meta{name="apple-mobile-web-app-status-bar-style" content="black"}
    meta{name="apple-mobile-web-app-title" content=""}

    = stylesheet_link_tag 'm/fonts', media: 'all'
    = stylesheet_link_tag 'm/application', media: 'all'

  body.b-page
    #root
      = yield
      = render 'm/blocks/footer'
