- render_title("Тест")

/*
  test_json - json со всеми тестами и результатами
  Код ниже записывает в переменную question json вопроса, который
  достается из test_json['questions'] по его value
  */
- question = test_json['questions'].find { |question| question['value'].to_i == step.to_i }

= question
  //
    Пример:
    question = {
      "value" => 2,
      "text" => "TEST_1_QUESTION_2",
      "variants" => [
                      {
                        "value" => 1,
                        "text" => "TEST_1_QUESTION_1_ANSWER_VARIANT_1",
                        "worth"=>10
                      },
                      {
                        "value" => 2,
                        "text" => "TEST_1_QUESTION_1_ANSWER_VARIANT_2",
                        "worth"=>5
                      },
                      {
                        "value" => 3,
                        "text" => "TEST_1_QUESTION_1_ANSWER_VARIANT_3",
                        "worth"=>3
                      },
                      {
                        "value" => 4,
                        "text" => "TEST_1_QUESTION_1_ANSWER_VARIANT_4",
                        "worth" => 0
                      }
      ]
    }