.b-news{ved-news data-elements = '.b-rubric_main > vd-statistic > div'}
  vd-statistic{ page="#{page}" block="#{page}-news" }
    - if news_slug != 'all'
      = link_to 'Новости', "/newsline/#{news_slug}", class: 'title'
    - else
      = link_to 'Новости', "/newsline/top", class: 'title'
    ul = render partial: 'main/lists/main_news_item', collection: @news
    .b-news__more
      - if news_slug != 'all'
        = link_to 'Все новости', "/newsline/#{news_slug}"
      - else
        = link_to "/newsline/top" do
          | Все новости
          i.b-icon.icon-more

  /= render 'common/buttons/scroll_popular'
