li.b-news__item
  .b-news__item__title
    span.b-news__item__time = (main_news_item.published_at || Time.now).strftime('%H:%M')
    - if 'index' == @page_type.to_s
      = link_to main_news_item.title, "/newsline/top#{relative_link(main_news_item.url)}"
    -elsif 'story' == @page_type.to_s
      = link_to main_news_item.title, "/newsline/story/#{@story.story.slug}#{relative_link(main_news_item.url)}"
    - else
      = link_to main_news_item.title, "/newsline#{relative_link(main_news_item.url)}"