<script type="application/ld+json">

{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
  "@type" : "WebPage",
  "@id" : "http://www.<%= document.url %>"
  },
  "headline": "<%= document.title %>",
  "datePublished": "<%=Time.at(document.published_at).getutc.strftime("%Y-%m-%dT%TZ") %>",
  "dateModified": "<%=Time.at(document.last_published_at).getutc.strftime("%Y-%m-%dT%TZ") %>",
  <%=
    if (document.has_subtitle?)
      raw("\"description\":  \"#{strip_tags(document.subtitle)}\" ,")
    end
  %>
  <%=
    if document.links[:authors].present?
      raw('"author": ' +
              document.links[:authors].map(&:bound_document).map.with_index(1) do |author, i|
                {
                    :@type => 'Person',
                    name: author.title
                }
              end.to_json + ',')
    else
      raw('"author": {"@type":"Organization","name":"Ведомости"},')
    end %>
  "publisher": {
    "@type": "Organization",
    "name": "Ведомости",
    "logo": {
      "@type": "ImageObject",
      "url": "http://cdn.vedomosti.ru/image/2016/logo1.png",
      "width": 273,
      "height": 60
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": "<%= document.has_image?&&document.image.has_version?('mobile_high') ? image_absolute_url(document.image.mobile_high.url) : image_url_social(document)%>",
    "height": <%= document.has_image?&&document.image.has_version?('mobile_high') ? document.image.mobile_high.height : '630'%>,
    "width": <%= document.has_image?&&document.image.has_version?('mobile_high') ? document.image.mobile_high.width : '1200'%>

  }
}
</script>