amp-social-share {type="twitter" width= "50" height= "50" }
  a.custom-twitter
amp-social-share {type="facebook" width= "50" height= "50" data-attribution= 254325784911610 }
amp-social-share { type='vk' width= "50" height= "50" data-share-endpoint= "http://vk.com/share.php" data-param-url= "http://www.#{url}"}