section.b-subscription-section.b-subscription-info        
  .b-subscription-section__header.b-subscription-section__header_border
    h2.b-subscription-title Дополнительная информация
  .b-subscription-section__body  
    dl.b-subscription-accordion {accordion=''}
      dt.b-subscription-accordion__title
        a href='#' Бесплатный доступ
      dt.b-subscription-accordion__description
        .b-subscription-sub-section
          .b-subscription-question-head Я не хочу платить за подписку, могу ли я читать «Ведомости» в электронном виде бесплатно?
          p.b-subscription-p Если Вы не имеете онлайн-подписки, Вы все равно сможете пользоваться сайтом vedomosti.ru и некоторыми из мобильных приложений, но с ограничениями. Во-первых, Вы сможете читать лишь определенное количество статей в месяц. Во-вторых, Вам будут недоступны:
          ul.b-subscription-checklist
            li.b-subscription-checklist__item Полное содержание выпусков газеты «Ведомости»
            li.b-subscription-checklist__item Электронный архив издания
            li.b-subscription-checklist__item Специализированные сервисы «Ведомостей»
        .b-subscription-sub-section
          .b-subscription-question-head Почему раньше я мог читать до 30 статей в месяц, а теперь только 13?
          p.b-subscription-p С 4 июня вводятся новые правила доступа к материалам сайта vedomosti.ru. Незарегистрированным пользователям доступны для чтения 8 материалов в месяц, зарегистрированным — дополнительно 5 материалов в месяц.
          p.b-subscription-p Фоторепортажи, слайд-шоу, тесты и прочие мультимедийные материалы доступны для просмотра без ограничений. Чтобы иметь полный доступ ко всем материалам и сервисам «Ведомостей», пожалуйста, оформите подписку.
        .b-subscription-sub-section
          .b-subscription-question-head Как учитывается число прочитанных материалов?
          p.b-subscription-p Переход на каждую новую страницу новостной публикации считается просмотром. Общее число просмотров суммируется.

    dl.b-subscription-accordion {accordion=''}
      dt.b-subscription-accordion__title
        a href='#' Регистрация
      dt.b-subscription-accordion__description
        .b-subscription-sub-section
          .b-subscription-question-head Я не хочу платить за подписку, могу ли я читать «Ведомости» в электронном виде бесплатно?
          p.b-subscription-p Если Вы не имеете онлайн-подписки, Вы все равно сможете пользоваться сайтом vedomosti.ru и некоторыми из мобильных приложений, но с ограничениями. Во-первых, Вы сможете читать лишь определенное количество статей в месяц. Во-вторых, Вам будут недоступны:

    dl.b-subscription-accordion {accordion=''}
      dt.b-subscription-accordion__title
        a href='#' Подписка
      dt.b-subscription-accordion__description
        .b-subscription-sub-section
          .b-subscription-question-head Я не хочу платить за подписку, могу ли я читать «Ведомости» в электронном виде бесплатно?
          p.b-subscription-p Если Вы не имеете онлайн-подписки, Вы все равно сможете пользоваться сайтом vedomosti.ru и некоторыми из мобильных приложений, но с ограничениями. Во-первых, Вы сможете читать лишь определенное количество статей в месяц. Во-вторых, Вам будут недоступны:

    dl.b-subscription-accordion {accordion=''}
      dt.b-subscription-accordion__title
        a href='#' Мобильные приложения
      dt.b-subscription-accordion__description
        .b-subscription-sub-section
          .b-subscription-question-head Я не хочу платить за подписку, могу ли я читать «Ведомости» в электронном виде бесплатно?
          p.b-subscription-p Если Вы не имеете онлайн-подписки, Вы все равно сможете пользоваться

    dl.b-subscription-accordion {accordion=''}
      dt.b-subscription-accordion__title
        a href='#' Другие вопросы
      dt.b-subscription-accordion__description
        .b-subscription-sub-section
          .b-subscription-question-head Я не хочу платить за подписку, могу ли я читать «Ведомости» в электронном виде бесплатно?
          p.b-subscription-p Если Вы не имеете онлайн-подписки, Вы все равно сможете пользоваться

    dl.b-subscription-accordion {accordion=''}
      dt.b-subscription-accordion__title
        a href='#' Подписка за рубежом
      dt.b-subscription-accordion__description
        .b-subscription-sub-section
          .b-subscription-question-head Я не хочу платить за подписку, могу ли я читать «Ведомости» в электронном виде бесплатно?
          p.b-subscription-p Если Вы не имеете онлайн-подписки, Вы все равно сможете пользоваться

    dl.b-subscription-accordion {accordion=''}
      dt.b-subscription-accordion__title
        a href='#' Подписка по России
      dt.b-subscription-accordion__description
        .b-subscription-sub-section
          .b-subscription-question-head Я не хочу платить за подписку, могу ли я читать «Ведомости» в электронном виде бесплатно?
          p.b-subscription-p Если Вы не имеете онлайн-подписки, Вы все равно сможете пользоваться
