section.b-subscription-section.b-subscription-feedback  
  .b-subscription-section__header.b-subscription-section__header_border
    h2.b-subscription-title Обратная связь
  .b-subscription-section__body  
    .b-subscription-contacts
      .b-subscription-feedback-head
        | Контакты отдела подписки в Москве
      .b-subscription-contacts-row
        a.b-subscription-contacts-mail href='mailto:podpiska@vedomosti.ru' 
          | podpiska@vedomosti.ru
        a.b-subscription-contacts-phone href='tel:+74952321753'
          | +7 (495) 232-17-53
               
    .b-subscription-feedback-form {ng-controller='subscriptionFeedbackForm'}
      .b-subscription-feedback-head Форма обратной связи
      .b-subscription-form-box
        = form_for :user, url: '', format: :json, class: 'b-subscription-form', html: { 'name' => 'feedbackForm', 'data-ng-submit' => 'submit();', 'ng-hide' => 'isFeedbackResponse', 'novalidate'=>'true'} do
        form.b-subscription-form {name='feedbackForm' data-ng-submit='submit();' ng-hide='isFeedbackResponse' novalidate}
          fieldset.b-subscription-form-fieldset.b-subscription-form-fieldset_left
            
            .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[feedbackForm.$submit && feedbackForm.name.$invalid]"}
              input.b-subscription-form__text {type='text' name='name' ng-model='name' placeholder='Имя и фамилия *' ng-minlength='3' ng-maxlength='100' required}
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.name.$error.required'} Это поле нужно заполнить
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.name.$error.minlength'} Слишком короткое значение
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.name.$error.maxlength'} Слишком длинное значение

            .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[feedbackForm.$submit && feedbackForm.email.$invalid]"}
              input.b-subscription-form__text {type='email' name='email' ng-model='email' placeholder='Email *' required}
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.email.$error.required'} Это поле нужно заполнить
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.email.$error.email'} Некорректные данные
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.email.$error.minlength'} Слишком короткое значение
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.email.$error.maxlength'} Слишком длинное значение
                
            .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[feedbackForm.$submit && feedbackForm.tel.$invalid]"}
              input.b-subscription-form__text {type='text' name='tel' ng-model='tel' placeholder='+7 (495) 232-17-53 *' ng-minlength='6' ng-maxlength='20' phone-typing='' required}
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.tel.$error.required'} Это поле нужно заполнить
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.tel.$error.minlength'} Слишком короткое значение
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.tel.$error.maxlength'} Слишком длинное значение
              
            .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[feedbackForm.$submit && feedbackForm.message.$invalid]"}
              textarea.b-subscription-form__textarea {name='message' ng-model='message' placeholder='Ваш вопрос *' ng-minlength='5' ng-maxlength='5000' required}
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.message.$error.required'} Это поле нужно заполнить
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.message.$error.minlength'} Слишком короткое значение
              div.b-subscription-form__error {ng-show='feedbackForm.$submit && feedbackForm.message.$error.maxlength'} Слишком длинное значение
              
            .b-subscription-form-field
              button.b-subscription-button type='submit' Далее
            .b-subscription-form-field
              label.b-subscription-form__checkbox
                input.b-subscription-form__checkbox-input {type='checkbox' ng-model='callbackCheck' name='callbackCheck' checkbox='' ng-checked=''}
                span.b-subscription-form__checkbox-text Заказать обратный звонок
                
            .b-subscription-p.b-subscription-p_form-caption * Обязательные для заполнения поля
        
        .b-subscription-form-response.b-subscription-form-response_feedback {ng-show='isFeedbackResponse'}
          .b-subscription-p Спасибо за обращение! Ваше сообщение успешно доставлено. 
          .b-subscription-p В ближайшее время мы свяжемся с вами и постараемся ответить на Ваш вопрос.
          button.b-subscription-button {ng-click='newMessage();'} Отправить новое сообщение
