footer.b-subscription-footer
  .b-subscription-footer__inner
    .b-subscription-footer__copyright Все права защищены © АО Бизнес Ньюс Медиа, 1999—2017

    /ul.b-subscription-footer__faq
    /  li
    /    a href='#'
    /      | F.A.Q.
    /  li
    /    a href='#'
    /      | Обратная связь
