header.b-subscription-header.b-subscription-header_2
  .b-subscription-header__inner
    .b-logo.b-subscription-header__logo
      = link_to root_path
        i.b-icon.icon-logo_medium
        /span.b-subscription-header__title
        /  | &thinsp;.Подписка
