header.b-subscription-header
  .b-subscription-header__inner
    .b-logo.b-subscription-header__logo
      = link_to root_path
        i.b-icon.icon-logo_medium
        span.b-subscription-header__title
          | &thinsp;.Подписка


    .b-subscription-header__email
      | podpiska@vedomosti.ru
    .b-subscription-header__phone
      | +7 (495) 232-17-53


    /ul.b-subscription-header__nav
      = subscription_link('Персональная', '/subscription/step1', {all: 'b-subscription-header__nav-item', active: 'b-subscription-header__nav-item_active', link: 'b-subscription-header__nav-link'})
      = subscription_link('Корпоративная', '/subscription/corporate', {all: 'b-subscription-header__nav-item', active: 'b-subscription-header__nav-item_active', link: 'b-subscription-header__nav-link'})
      = subscription_link('В подарок', '/subscription/gift', {all: 'b-subscription-header__nav-item', active: 'b-subscription-header__nav-item_active', link: 'b-subscription-header__nav-link'})
      = subscription_link('Представительская', '/subscription/representational', {all: 'b-subscription-header__nav-item', active: 'b-subscription-header__nav-item_active', link: 'b-subscription-header__nav-link'})
