section.b-subscription-section.b-subscription-section_form.b-subscription-section_form {ng-controller='orderFormController'}
  .b-subscription-form-box.b-subscription-form-box_gift
    = form_for :user, url: '', format: :json, class: 'b-subscription-form', html: {'name'=>'orderForm', 'data-ng-submit'=>'submit()', 'ng-hide' => 'isOrderResponse', 'novalidate'=>'true'} do
      .b-subscription-form__head Заполните заявку и наш менеджер свяжется с вами в ближайшее время для уточнения деталей
      fieldset.b-subscription-form-fieldset.b-subscription-form-fieldset_left
        
        .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[orderForm.$submit && orderForm.name.$invalid]"}
          input.b-subscription-form__text {type='text' name='name' ng-model='name' placeholder='Имя и фамилия *' ng-minlength='3' ng-maxlength='100' required}
          div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.name.$error.required'} Это поле нужно заполнить
          div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.name.$error.minlength'} Слишком короткое значение
          div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.name.$error.maxlength'} Слишком длинное значение

        .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[orderForm.$submit && orderForm.email.$invalid]"}
          input.b-subscription-form__text {type='email' name='email' ng-model='email' placeholder='Email *' required}
          div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.email.$error.required'} Это поле нужно заполнить
          div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.email.$error.email'} Некорректные данные
          div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.email.$error.minlength'} Слишком короткое значение
          div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.email.$error.maxlength'} Слишком длинное значение

        .b-subscription-form-field {ng-class="{true: 'b-subscription-form__error-bg'}[orderForm.$submit && orderForm.tel.$invalid]"}
          input.b-subscription-form__text {type='text' name='tel' ng-model='tel' placeholder='+7 (495) 232-17-53 *' ng-minlength='6' ng-maxlength='20' phone-typing='' required}
          div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.tel.$error.required'} Это поле нужно заполнить
          div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.tel.$error.minlength'} Слишком короткое значение
          div.b-subscription-form__error {ng-show='orderForm.$submit && orderForm.tel.$error.maxlength'} Слишком длинное значение
        
        .b-subscription-form-field
          button.b-subscription-button.b-subscription-button_long.b-subscription-button_small type='submit' Отправить

    .b-subscription-form-response.b-subscription-form-response_feedback {ng-show='isOrderResponse'}
      .b-subscription-form-response__head Добро пожаловать в Ведомости!
      .b-subscription-p Ваш заявка принята, в ближайшее время с вами свяжется наш менеджер для уточнения деталей по вашему заказу.
      .b-subscription-p С уважением, команда Ведомостей
