section.b-subscription-section.b-subscription-otherpack
  ul.b-subscription-otherpack__list
    /li.b-subscription-otherpack__item.b-subscription-otherpack__item_indiv 
    /  a.b-subscription-otherpack__link href='/subscription/index'
    /    span.b-subscription-otherpack__info
    /      span.b-subscription-otherpack__title Индивидуальная подписка
    /      span.b-subscription-otherpack__description Подписка на&nbsp;газету &laquo;Ведомости&raquo; и&nbsp;сайт vedomosti.ru лично для Вас
    li.b-subscription-otherpack__item.b-subscription-otherpack__item_corp
      img.b-subscription-otherpack__pic {alt='' src='/assets/subscription/subscription-corp_bg.jpg'}
      a.b-subscription-otherpack__link href='/subscription/corporate'
        span.b-subscription-otherpack__info
          span.b-subscription-otherpack__title Корпоративная подписка
          span.b-subscription-otherpack__description Выгодные опции подписки для больших организаций
    li.b-subscription-otherpack__item.b-subscription-otherpack__item_gift
      img.b-subscription-otherpack__pic {alt='' src='/assets/subscription/subscription-gift_bg.jpg'}
      a.b-subscription-otherpack__link href='/subscription/gift'
        span.b-subscription-otherpack__info
          span.b-subscription-otherpack__title Подписка в&nbsp;подарок
          span.b-subscription-otherpack__description Лучший подарок&nbsp;&mdash; это подписка на&nbsp;газету &laquo;Ведомости&raquo;
    li.b-subscription-otherpack__item.b-subscription-otherpack__item_pred
      img.b-subscription-otherpack__pic {alt='' src='/assets/subscription/subscription-pred_bg.jpg'}
      a.b-subscription-otherpack__link href='/subscription/representational'
        span.b-subscription-otherpack__info
          span.b-subscription-otherpack__title Представительская подписка
          span.b-subscription-otherpack__description Опции для кафе, кинотеатров и&nbsp;других заведений
