.b-social-buttons.no-print
  - no_socials = defined?(no_socials).nil? ? false : no_socials
  - no_comments = defined?(no_comments).nil? ? false : no_comments
  - no_printer = defined?(no_printer).nil? ? false : no_printer

  - if Settings.addthis.enable && !no_socials
    .b-addthis.addthis_sharing_toolbox{data-url=site_url(@document.url) data-title=@document.title}
    = javascript_include_tag "//s7.addthis.com/js/300/addthis_widget.js#pubid=#{Settings.addthis.pubid}"
    - unless no_printer
      .b-icon.icon-print-new{onclick='window.print()'}
      - if Settings.comments.enable && !no_comments
        = link_to '', comment_link(@document.url), rel: 'nofollow', class: 'b-icon icon-comments-new'
        = link_to '', "#{request.protocol}#{Settings.hosts.shark}/comments#{relative_link(@document.url)}", rel: 'nofollow', class: "counter", 'data-xid' => @document.id
