- subrubric = @document.present? && @document.has_subrubric? ? @document.rubric.subrubrics.slug : nil
javascript:
  var since,
      referrer,
      adv = "#{@adv}";

  (function(){
    //referrer targeting
    referrer = 'other';
    var referrers = [
      {str: 'facebook.com/Vedomosti', referrer: 'Vedomosti at Facebook'},
      {str: 'vk.com/vedomosti', referrer: 'Vedomosti at VK'},
      {str: 'facebook', referrer: 'facebook'},
      {str: 'vk.com', referrer: 'vkontakte'},
      {str: 'twitter', referrer: 'twitter'},
      {str: 'news.google', referrer: 'news.google'},
      {str: 'news.yandex', referrer: 'news.yandex'},
      {str: 'www.google', referrer: 'GoogleSearch'}
    ];

      referrers.forEach(function(value){
        if (document.referrer.indexOf(value.str) > -1){
          referrer = value.referrer;
          return false;
        }
      });

    //sincesubscribe targeting
    var created_at,
      today,
      days;
    since = 'unsubscribed';
    if (window.user_options && window.user_options.created_at != undefined) {
      created_at =  new Date(window.user_options.created_at);
      today = new Date();
      days = (today - created_at) / (1000 * 60 * 60 * 24);

      if (days < 31) since = '0-30';
      else if (days > 30 && days < 91) since = '31-90';
      else if (days > 90 && days < 181) since = '91-180';
      else if (days > 180 && days < 271) since = '181-270';
      else if (days > 270 && days < 366) since = '271-365';
      else if (days > 365) since = 'over 365';
    }
  }());
  var tag =  "#{story_targeting_params}";
  var mobile = (document.getElementById('div-gpt-ad-1463401052083-0')!=null);
  var desktop = (document.getElementById('div-gpt-ad-1449495643179-0') != null);
  //  console.log(document.getElementsByClassName('b-native-roll'))
  window.i = window.i ? window.i+1 :0;
  googletag.cmd.push(function () {
    if (mobile)
      googletag.defineSlot('/136502702/Mob_version_Materials_2nd_Banner', [[1, 1], [300, 300], [300, 250]], 'div-gpt-ad-1463401052083-0').addService(googletag.pubads());
    if (desktop)
      googletag.defineSlot('/136502702/Banner_100_percent_line2', [[970, 90], [970, 250], [970, 120], [1, 1]], 'div-gpt-ad-1449495643179-0').addService(googletag.pubads());
  });


  googletag.cmd.push(function() {
    googletag.pubads().setTargeting("devserver", "#{Rails.env.production? ? 'No' : 'Yes'}").
      setTargeting('rubrika', #{raw rubric_targeting_params.to_json}).
      setTargeting('pagetype', "#{pagetype_targeting_params}").
      setTargeting('podrubrika', #{raw subrubric_targeting_params.to_json}).
      setTargeting('user', window.user_options ? window.user_options.status : 'No').
      setTargeting('paywallstatus', paywallStatus).
      setTargeting('referrer', referrer).
      setTargeting('sincesubscribe', since).
      setTargeting('experiment',  cookie.get('expId') ? cookie.get('expId') : 'No').
      setTargeting('ip', "#{request.remote_ip}").
      setTargeting("url", "#{targeting_url(request.original_url)}").
      setTargeting("story","#{story_targeting_params.present? ? story_targeting_params : 'NO'}");

    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs(true);
    googletag.enableServices();

    googletag.display('div-gpt-ad-1449233334715-0');

    if (adv){
      googletag.pubads().addEventListener('slotRenderEnded', function (event) {
        var sizes = [],
                name = event.slot.getSlotId().getName(),
                slotId = event.slot.getSlotElementId(),
                slotElem = document.getElementById(slotId),
                realSizes;

        for (var i in event.slot.getSizes()) {
          sizes.push([event.slot.getSizes()[i].getWidth(), event.slot.getSizes()[i].getHeight()]);
        }

          realSizes = sizes[0][0] == 1 ? [[260, 260]] : sizes;
          slotElem.style.backgroundColor='grey';
          slotElem.style.color = 'white';
          slotElem.style.width = realSizes[0][0] + 'px';
          slotElem.style.height = realSizes[0][1] + 'px';
          slotElem.innerHTML = '<div style="text-align: center">slot: ' + name + '</div>' + '<div style="text-align: center">sizes: ' + JSON.stringify(sizes) + '</div>';
          //  slotElem.css({
        //    'background-color': 'grey',
        //    'color': 'white',
        //    'width': realSizes[0][0],
        //    height: realSizes[0][1]
        //  }).children().remove();
        //  slotElem.append('<div style="text-align: center">slot: ' + name + '</div>' + '<div style="text-align: center">sizes: ' + JSON.stringify(sizes) + '</div>');
        });

        //$('<div/>', {class: 'b-targeting'}).appendTo('body');

      var targetsElems = [];
      for (var i in googletag.pubads().F) {
        targetsElems.push('<div class="b-targeting__badge">' + i + ' : ' + (googletag.pubads().F[i] != "" ? googletag.pubads().F[i] : 'NO') + '</div>')
      }

      $('.b-targeting').append(targetsElems);
    } else {
      googletag.pubads().addEventListener('slotRenderEnded', function (event) {
        var slotId = event.slot.getSlotElementId();
        $( document ).trigger( slotId);
        if (event.slot.getSlotElementId() == 'div-gpt-ad-1449495643179-0' || event.slot.getSlotElementId() == 'div-gpt-ad-1463401052083-0')
          console.log("Banner loaded");
        if (event.isEmpty && event.slot.getSlotElementId() == 'div-gpt-ad-1449495643179-0' || event.slot.getSlotElementId() == 'div-gpt-ad-1463401052083-0') {
          console.log("Banner is empty");
        }
      })
    }



  });