<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": <%=
    raw(crumbs.map.with_index(1) do |crumb, i|
      {
        :@type => 'ListItem',
        position: i,
        item: crumb
      }
    end.to_json)
  %>
}
</script>