.b-document__comment
  .b-document__comment__inner
    .messages
      #auth-messages
        .b-icon.icon-key
        .message.message-01
          - if @document.allow_comments_for_all?
            = 'Уважаемый читатель, чтобы участвовать в экспертных дискуссиях, необходимо '
            a{href="#{Settings.hosts.lago}/sign_up"} = 'зарегистрироваться'
          - else
            = 'Уважаемый читатель, чтобы участвовать в экспертных дискуссиях, необходимо '
            a {href="#{request.protocol}#{Settings.hosts.promo}/base/?from=professional-comments&utm_source=vedomosti&utm_medium=block-comments&utm_campaign=base"}
              = 'подписаться'

        .message.message-02
          - if !@document.allow_comments_for_all?
            = 'Уже подписаны? '
            a {href="#{Settings.hosts.lago}/sign_in"} = 'Войти'

    = link_to relative_link(@document.url), class: 'material_return'
      i.b-icon.icon-green-arrow-left
      | К материалу
    = link_to 'Правила форума', '/info/forum_rules', class: 'forum_rules'
    coffee:

      if user_options?.id?
        document.getElementById('auth-messages')?.getElementsByClassName('message-02')[0]?.className += ' hidden'
        if user_options.status == 'subscriber'
          document.getElementById('auth-messages').className = 'hidden'

    - if Settings.comments.enable
      #hypercomments_widget
      - if @document.allow_comments_for_all?
        javascript:
          _hcwp.push({
            widget: "Stream",
            widget_id: #{Settings.comments.widget_id},
            xid: #{@document.id},
            css: '/assets/hc.css',
            auth: auth_hash_reg,
            auth_url: '/sign_in',
            callback: function (app, init) {
              app.on('siteAuth', function (packet) {
              });
            }
          });
      - else
        javascript:
          _hcwp.push({
            widget: "Stream",
            widget_id: #{Settings.comments.widget_id},
            xid: #{@document.id},
            css: '/assets/hc.css',
            auth: auth_hash,
            auth_url: '/sign_in',
            callback: function (app, init) {
              app.on('siteAuth', function (packet) {
              });
            }
          });
