- if @company_messages.present?
  .b-press-releases
    .b-press-releases__title
      = link_to 'Информация для абонентов', "#{relative_link(@company.url)}/press_releases"
    ul
      - @company_messages.each do |company_message|
        li.b-press-release.b-press-release_list
          .b-press-release__title
            = link_to company_message.title, relative_link(company_message.url)
          .b-press-release__data
            = Russian.strftime(company_message.published_at, "%d %B %Y")
            span.b-press-release__location
              = company_message.themes

    = link_to 'Все сообщения', "#{relative_link(@company.url)}/company_messages", class: 'b-press-releases__more'
