noindex
  .b-desktop-warning.hidden#desktop-warning Вы открыли полную версию на мобильном устройстве. Хотите перейти на <a href='javascript:to_mobile()'>мобильную версию</a>?
  coffee:
    if '1' == cookie.get('is_mobile')
      document.getElementById('desktop-warning').className = 'b-desktop-warning'
