/изображение
- if 'title_image' == type
  .b-gallery.b-gallery_title-image.no-print { ved-gallery data-id='#{id}' data-items='[#{items.to_json}]'}

    button.b-button.b-button_fullscreen{ ng-show = "controls_visibility" ng-mouseenter = "show_controls()" ng-mouseleave = "hide_controls()" ng-click="fullscreen_open()" }
      i.b-icon.icon-fullscreen

    /изображение
    .b-gallery__items
      .b-gallery__item
        .b-gallery__item__image-wrapper{ng-mouseenter = "show_controls()" ng-mouseleave = "hide_controls()" ng-click="fullscreen_open()"}
          - if items.has_image? && items.image.has_version?(:mobile_high)
            = image_tag image_url(items.image.mobile_high.url), alt: (strip_tags(items.image_alt) if items.has_image_alt?)
          - elsif items.has_image? && items.image.has_version?(:default)
            = image_tag image_url(items.image.default.url), alt: (strip_tags(items.image_alt) if items.has_image_alt?)
        /описание
        .b-gallery__item__inner
          - if items.has_image_alt?
            .description == items.image_alt
          - if items.has_image_author? && items.has_image_source?
            .author = "#{items.image_author} / #{items.image_source}"
          - elsif items.has_image_author? && !items.has_image_source?
            .author = "#{items.image_author}"
          - elsif !items.has_image_author? && items.has_image_source?
            .author = "#{items.image_source}"

- elsif 'image' == type
  .b-gallery.b-gallery_image { ved-gallery data-id='#{id}' data-items='[#{items.to_json}]'}

    button.b-button.b-button_fullscreen{ ng-show = "controls_visibility" ng-mouseenter = "show_controls()" ng-mouseleave = "hide_controls()" ng-click="fullscreen_open()" }
      i.b-icon.icon-fullscreen

    /изображение
    .b-gallery__items
      .b-gallery__item
        .b-gallery__item__image-wrapper{ng-mouseenter = "show_controls()" ng-mouseleave = "hide_controls()" ng-click="fullscreen_open()"}
          - if items.has_image? && items.image.has_version?(:mobile_high)
            = image_tag image_url(items.image.mobile_high.url), alt: (strip_tags(items.description) if items.has_description?)
          - elsif items.has_image? && items.image.has_version?(:default)
            = image_tag image_url(items.image.default.url), alt: (strip_tags(items.description) if items.has_description?)
        /описание
        .b-gallery__item__inner
          - if items.has_author? && items.has_credits?
            .author = "#{items.author} / #{items.credits}"
          - elsif items.has_author? && !items.has_credits?
            .author = "#{items.author}"
          - elsif !items.has_author? && items.has_credits?
            .author = "#{items.credits}"

          - if items.has_description?
            .description == items.description

/встроенная галерея
- else
  .b-gallery.loaded{ved-gallery class="#{'thumbs' == type ? 'b-gallery_thumbs' : 'b-gallery_default'}" data-id='#{id}' data-items='#{items.to_json}' data-title='#{@document.title if @document && @document.has_title?}' data-subtitle='#{@document.subtitle if @document && @document.has_subtitle?}' }
    .b-preloader
      = image_tag 'preloader_gallery.gif'

    /кнопка fullscreen
    button.b-button.b-button_fullscreen{ ng-show = "controls_visibility" ng-mouseenter = "show_controls()" ng-mouseleave = "hide_controls()" ng-click="fullscreen_open()" }
      i.b-icon.icon-fullscreen

    - if 'thumbs' == type
      /кнопка превьюшек
      button.b-button.b-button_hide-thumbs { ng-click='thumbs.toggle()' ng-show = "controls_visibility" ng-mouseenter = "show_controls()" ng-mouseleave = "hide_controls()" }
        i.b-icon.icon-hide-thumbs

    /кнопки назад-вперед
    .b-button.b-button_gallery-next { ng-click = 'next()'}
      i.b-icon.icon-gallery-arrow-right
    .b-button.b-button_gallery-prev { ng-click = 'prev()'}
      i.b-icon.icon-gallery-arrow-left

    /изображение
    .b-gallery__items
      - items.each_with_index do |item, index|
        .b-gallery__item { ng-show="#{index} == current_item" }
          .b-gallery__item__image-wrapper{ng-mouseenter = "show_controls()" ng-mouseleave = "hide_controls()" ng-click="fullscreen_open()"}
            - if item.has_image? && item.image.has_version?(:thumbnail)
              = image_tag "https://#{Settings.hosts.agami}#{item.image.thumbnail.url}", alt: (strip_tags(item.description) if item.has_description?), data: {width: item.image.default.width, height: item.image.default.height, url: "https://#{Settings.hosts.agami}#{item.image.default.url}" }

          /описание
          .b-gallery__item__inner
            - if item.has_author? && item.has_credits?
              .author = "#{item.author} / #{item.credits}"
            - elsif item.has_author? && !item.has_credits?
              .author = "#{item.author}"
            - elsif !item.has_author? && item.has_credits?
              .author = "#{item.credits}"

            - if item.has_description?
              .description == item.description.html_safe
            .counter = "#{index + 1}/#{items.length}"

    - if 'thumbs' == type
      .b-gallery__thumbs__wrapper{ ng-show = "thumbs.open && controls_visibility"  ng-mouseenter = 'show_controls()' ng-mouseleave = 'hide_controls()'}

        /кнопки назад-вперед в галерее превьюшек
        .b-gallery__thumbs__next {ng-click = 'thumbs.next()'}
          i.b-icon.icon-thumbs-arrow-next
        .b-gallery__thumbs__prev {ng-click = 'thumbs.prev()' }
          i.b-icon.icon-thumbs-arrow-prev

        /превьюшки
        .b-gallery__thumbs
          ul.b-gallery__thumbs__inner {ng-style ='{left: thumbs.left + "px"}'}
            - items.each_with_index do |item, index|
              li.b-gallery__thumbs__item{ng-class="{active: #{index} == current_item}" ng-click="goto(#{index})"}
                - if item.has_image? && item.image.has_version?(:thumbnail)
                  = image_with_dimension item.image, :thumbnail, alt: (strip_links(item.description) if item.has_description?)
