- legend = Oj.load(box.legend_map)
.b-map-box
  .b-map {id="map-#{box.id}"}
    .b-map__title = "#{box.title}"
javascript:
  window["#{box.id}"] = (function(){
    var mobile = #{mobile}
    if (!Object.keys) {
      Object.keys = (function () {
        'use strict';
        var hasOwnProperty = Object.prototype.hasOwnProperty,
            hasDontEnumBug = !({toString: null}).propertyIsEnumerable('toString'),
            dontEnums = [
              'toString',
              'toLocaleString',
              'valueOf',
              'hasOwnProperty',
              'isPrototypeOf',
              'propertyIsEnumerable',
              'constructor'
            ],
            dontEnumsLength = dontEnums.length;
        return function (obj) {
          if (typeof obj !== 'object' && (typeof obj !== 'function' || obj === null)) {
            throw new TypeError('Object.keys called on non-object');
          }

          var result = [], prop, i;

          for (prop in obj) {
            if (hasOwnProperty.call(obj, prop)) {
              result.push(prop);
            }
          }

          if (hasDontEnumBug) {
            for (i = 0; i < dontEnumsLength; i++) {
              if (hasOwnProperty.call(obj, dontEnums[i])) {
                result.push(dontEnums[i]);
              }
            }
          }
          return result;
        };
      }());
    }
    var legendColors = [];
    var initialTranslation, mapSize,g;
    if (mobile) {

      initialTranslation = [-284,-179];
      mapSize =  300;
    } else {
      initialTranslation = [-10, 0];
      mapSize = 620;
    }

    var width = 870,
        height = 500,
        translation = initialTranslation,
        zoomValue = 1;

    // Setting color domains(intervals of values) for our map
    var fields = {};
    var color_domain = #{legend[:color_domain]};
    var color_range = #{raw legend[:color_range]};
    var ext_color_domain = color_domain.slice();
    ext_color_domain.splice(0,0,0);
    var legend_labels = #{raw legend[:legend]};
    var color = d3.scale.threshold()
            .domain(color_domain)
            .range(color_range);

    var div = d3.select("#map-#{box.id}").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);
    var triangle = div.append('div')
            .attr('class', 'after');

    var divText = div.append('div');

    var svg = d3.select("#map-#{box.id}").append("svg")
            .attr("width", width)
            .attr("height", height)


    var zoom = d3.behavior.zoom()
            .scaleExtent([0.5, 8])
            .on("zoom", zoomed);

    var projection = d3.geo.albers()
            .rotate([-105, 0])
            .center([-10, 65])
            .parallels([52, 64])
            .scale(mapSize)
            .translate([width / 2, height / 2]);

    var path = d3.geo.path().projection(projection);

    //Reading map file and data
    queue()
      .defer(d3.json, "#{box.select_map}")
      .defer(d3.csv, "//#{Settings.hosts.agami}#{box.csv[:original][:url]}")
      .await(ready);

    function close_tooltip(segment){
      div.style("display", 'none')
    }

    //Start of Choropleth drawing
    function ready(error, map, data) {
      var rateById = {};
      var nameById = {};

      data.forEach(function (d) {
        fields[d.RegionCode] = [];
        Object.keys(d).forEach(function(x){
          fields[d.RegionCode].push(d[x])
        })
        rateById[d.RegionCode] = +d.ER;
        nameById[d.RegionCode] = d.RegionName;
      });

      //Drawing Choropleth
      g = svg.append("g");
      g.attr("class", "region")
        .attr('transform', "translate("+ initialTranslation + ")")
        .selectAll("path")
        .data(topojson.feature(map, map.objects.name).features)
        .enter().append("path")
        .attr("d", path)
        .style("fill", function (d) {
          if (rateById[d.properties.region]==-1) return 'transparent'
          var regionColor = color(rateById[d.properties.region]);
          if (legendColors.indexOf(regionColor) == -1)
            legendColors.push(regionColor);
          return color(rateById[d.properties.region]);
        })
        .style('display', function(d) {
          if (rateById[d.properties.region]==-1) return 'none'
        })
        .style("opacity", 1)

        //Adding mouseevents
        .on("mouseover", function (d) {
          d3.select(this).transition().duration(300).style("opacity", 0.8);
          if (mobile) {
            div.style("display", 'block')
          }
          div.transition().duration(300)
                  .style("opacity", 1)
          if (rateById[d.properties.region]!=0)
            divText.html(#{raw box.tooltip})
          else
            divText.html('<div class=\'tooltip__title\'> ' + nameById[d.properties.region] + '</div><div class="error">Нет данных</div>')
          if (mobile) {
            divText.append("div").attr("class", "tooltip__close").on('click', close_tooltip)
          }
        })
        .on("mousemove", function (d) {
          if (d3.event) {
            x = d3.mouse(this)[0] * zoomValue + translation[0];
            div.style("left", (Math.max(120, d3.mouse(this)[0] * zoomValue + translation[0])) + "px")
                    .style("bottom", (height - d3.mouse(this)[1] * zoomValue - translation[1] + 30) + "px");
            if (x < 120) {
              triangle.style("margin-left", (x - 129) + 'px')
            } else {
              triangle.style("margin-left", '-9px')
            }
          }
        })
        .on("mouseout", function () {
          if (!mobile) {
            d3.select(this)
                    .transition().duration(300)
                    .style("opacity", 1);
            div.transition().duration(300)
                    .style("opacity", 0);
          }
        });
      zoom.translate(initialTranslation);

      legendColors.sort(function (a, b) {
        if (color_range.indexOf(a) < color_range.indexOf(b))
          return -1;
        else return 1
      });
      var legend_holder, legend;
      legend_holder = d3.select(document.getElementById("map-#{box.id}").parentNode.parentNode).append('div').attr('class', 'map__info');
      legend_holder.append('div').attr('class', 'lenend__title').text("#{legend[:legend_title]}");
      legend = legend_holder
        .append('div').attr('class', 'legend-blocks').selectAll("div.legend")
        .data(legendColors)
        .enter().append("div")
        .attr("class", "legend");
      legend_holder.append('div').attr('class', 'lenend__source').text("Источник: #{box.source_title}")
      legend.append("div")
        .style("background-color", function (d, i) {
          return d;
        })
        .style("opacity", 1);
      legend.append("text")
        .text(function (d, i) {
          return legend_labels[color_range.indexOf(d)];
        });
      console.log(legendColors)
    } // <-- End of Choropleth drawing

    svg.call(zoom)
            .call(zoom.event);

    function zoomed() {
      if (!mobile)
        if (d3.event && d3.event.sourceEvent && d3.event.sourceEvent.type != 'wheel') {
          if (g) {
            translation = d3.event.translate;

            g.attr("transform", "translate(" + translation + ")scale(" + zoomValue + ")");
          }
        } else {
          zoom.translate(translation)
        }
      else {
        translation = d3.event.translate;
        zoomValue = d3.event.scale;
        if (g)
          g.attr("transform", "translate(" + translation + ")scale(" + zoomValue + ")");
      }

    }

    function manualZoom(argument) {
      previousZoom = zoomValue
      if (argument > 0) zoomValue *= 1.3
      else zoomValue /= 1.3
      zoomValue = Math.min(4, Math.max(zoomValue, 0.5))
      translation = [translation[0] - zoomValue*width * (1 / previousZoom - 1 / zoomValue) / 2, translation[1] -zoomValue* height * (1 / previousZoom - 1 / zoomValue) / 2]
      zoom.translate(translation)
      g.transition()
              .duration(750)
              .attr("transform", "translate(" + translation + ")scale(" + zoomValue + ")")
              .style("stroke-width", 1.5 / 4 + "px");
    }
    var id="#{box.id}",
      plus = document.getElementById("plus-"+id),
      minus = document.getElementById("minus-"+id);
    if (plus) {
      plus.onclick = manualZoom.bind(null,1)
    }
    if (minus) {
      minus.onclick = manualZoom.bind(null, -1)
    }
    return svg;
  })()