/метатеги для документа
| <!-- og:tags begin -->
- if @document.present?
  meta{content='summary_large_image' property='twitter:card'}
  meta{content='@vedomosti' property='twitter:site'}

  meta{name="author" content="Ведомости"}
  meta{property="article:author" content="https://www.facebook.com/Vedomosti/"}
  meta{property="article:publisher" content="https://www.facebook.com/Vedomosti/"}

  meta{content='705298649558221' property='fb:app_id'}
  meta{content='1180141861' property='fb:admins'}
  meta{content='article' property='og:type'}

  / Картинка
  - if @correct_answers
    meta{content=site_url("#{@document.url}/s#{params[:index]}?hash=#{Digest::MD5.hexdigest(@correct_answers.to_s)}") property='og:url'}
    meta{content="#{Settings.hosts.puffin}/#{@document.url}/s#{params[:index]}_#{@correct_answers}.jpg" property="og:image"}
    link { rel="image_src" href="#{Settings.hosts.puffin}/#{@document.url}/s#{params[:index]}_#{@correct_answers}.jpg" property="og:image" }
    - if @document.has_subtitle?
      meta {property="og:description" content="#{@test_result['sharing_text'] || strip_tags(@description || @document.subtitle)}"}
      meta {property='twitter:description' content="#{@test_result['sharing_text'] || strip_tags(@description || @document.subtitle)}"}
    meta{content="#{@document.test? ? 'Тест: ' : ''}#{@test_result['sharing_title'] || @document.title}" property='twitter:title'}
    meta{content="#{@document.test? ? 'Тест: ' : ''}#{@test_result['sharing_title'] || @document.title}" property="og:title" }
  - else
    meta{content=site_url(@document.url) property='og:url'}
    - if (@document.gallery? || @document.video?) && @document.has_image? && @document.image.has_version?(:normal)
      link { rel="image_src" href=image_absolute_url(@document.image.normal.url) }
      meta { property='og:image' content=image_absolute_url(@document.image.normal.url) }
      meta { property='twitter:image' content=image_absolute_url(@document.image.normal.url) }
    - else
      link { rel="image_src" href=image_url_social(@document) }
      meta { property='og:image' content=image_url_social(@document) }
      meta { property='og:image:width' content=1200 }
      meta { property='og:image:height' content=630 }
      meta { property='twitter:image' content=image_url_social(@document) }
    meta{content="#{@document.test? ? 'Тест: ' : ''}#{@document.title}" property='og:title'}
    meta{content="#{@document.test? ? 'Тест: ' : ''}#{@document.title}" property='twitter:title'}
    / Описание заметки
    - if @document.has_subtitle?
      meta{content="#{strip_tags(@description || @document.subtitle)}" property='og:description'}
      meta{content="#{strip_tags(@description || @document.subtitle)}" property='twitter:description'}

/метатеги для главной страницы, страниц рубрик и подрубрик
- else
  - if @page_type.present?
    /главная и страница рубрики
    - if 'index' == @page_type.to_s
      meta { property="og:title" content="ВЕДОМОСТИ — деловая газета. Новости, аналитика, прогнозы." }
      meta { property="og:url" content="http://www.vedomosti.ru" }

      meta {property="og:description" content="Качественный контент о бизнесе и экономике. Аналитика, финансовые новости, электронная версия газеты Ведомости."}
    - else
      meta { property="og:description" content="#{ yield :description }" }
  - else
    /страница подрубрики
    meta { property="og:description" content="#{ yield :description }" }
  link { rel="image_src" href=asset_absolute_url('chopick.jpg') }
  meta { property="og:image" content=asset_absolute_url('chopick.jpg') }
| <!-- og:tags end -->