- if @press_release.has_email? || @press_release.has_contact? || @press_release.has_original_url?
  .b-press-release-info
    - if @press_release.has_contact?
      .b-press-release-info__contact = @press_release.contact
    - if @press_release.has_email?
      .b-press-release-info__email
        = 'Email: '
        = mail_to @press_release.email
    = link_to 'Оригинал пресс-релиза', @press_release.original_url, :class => 'b-press-release-info__original'
