- unless @press_releases.empty?
  .b-press-releases
    .b-press-releases__title
      = link_to ' Пресс-релизы', "#{relative_link(@company.url)}/press_releases"
    ul
      - @press_releases.each do |press_release|
        li.b-press-release.b-press-release_list
          .b-press-release__title
            = link_to press_release.title, relative_link(press_release.url)
          .b-press-release__data
            = Russian.strftime(press_release.published_at, "%d %B %Y")
    = link_to 'Все пресс-релизы компании', "#{relative_link(@company.url)}/press_releases", class: 'b-press-releases__more'
