.b-published-at
  /время публикации
  time.date{datetime='#{document.published_at}' pubdate='#{document.published_at}' }
    = Russian::strftime(document.published_at, "%d %B %Y, %H:%M")
  /комментарии
  = render 'common/comment', document: document
