- if doc_label = label_data(document, rubric_template, @page_type)
  - if doc_label[:url] == '/rubrics/opinion/editorial'
    = content_tag 'div', class: "b-#{type}__rubric b-#{type}__rubric_from-editors" do
      = link_to doc_label[:url] do
        i.b-icon.icon-from-editors
        = doc_label[:title]
  - else
    = content_tag 'div', class: "b-#{type}__rubric" do
      = label_link(document, rubric_template, @page_type)
