- if @document.present? && @document.has_published_at?
  meta {property='article:published_time' content='#{@document.published_at.strftime("%FT%T%:z")}'}
  /link {rel='canonical' href='http://www.#{@document.url}'}

/для newsline
- if params[:controller] == 'newsline' && @document.present?
  link{rel='canonical' href="#{site_url(@document.url)}"}
- else
  link{rel='alternate' media='only screen and (max-width: 640px)' href="#{mobile_url}" }

- if @seo.description.present?
  meta {content="#{strip_tags(@seo.description)}" name='description'}

- if @seo.keywords.present?
  meta {content="#{strip_tags(@seo.keywords)}" name='keywords'}

- if @document.present?
  - if @document.has_rubric?
    - if @document.rubric.has_subrubrics?
      = render 'common/breadcrumbs', crumbs: [{name: @document.rubric.title, :@id => rubric_url(@document.rubric.slug)}, {name: @document.rubric.subrubrics.title, :@id => subrubric_url(@document.rubric.slug, @document.rubric.subrubrics.slug)}, {name: @document.title, :@id => @document.url}]
    - else
      = render 'common/breadcrumbs', crumbs: [{name: @document.rubric.title, :@id => rubric_url(@document.rubric.slug)}, {name: @document.title, :@id => @document.url}]
- elsif @subrubric && @rubric
  = render 'common/breadcrumbs', crumbs: [{name: @rubric.title, :@id => rubric_url(@rubric.slug)}, {name: @subrubric.title, :@id => subrubric_url(@rubric.slug, @subrubric.slug)}]
- elsif @rubric
  = render 'common/breadcrumbs', crumbs: [{name: @rubric.title, :@id => rubric_url(@rubric.slug)}]
