-if (defined?(freeeze)).nil?
  - freeeze = true
  - horisontal_class = 'b-button__social__wrapper_horizontal'
- else
  - horisontal_class = ''
.b-button__social__wrapper.no-print {class="#{horisontal_class}"}
  - no_socials = defined?(no_socials).nil? ? false : no_socials
  - no_comments = defined?(no_comments).nil? ? false : no_comments
  - no_printer = defined?(no_printer).nil? ? false : no_printer


  / social-icons=freeeze - it's a fucking slim magic that prints or not an attibut depends on boolean "freeeze". Kill me please!

  ul#social-counters{social-counters="" social-icons=!freeeze slug="#{@document.has_categories? && @document.categories.has_parts? && @document.categories.parts.slug}"  social-counters-url="#{@document.url ? @document.url : ''}" social-counters-id="#{@document.id ? @document.id : ''}" finished="#{defined?(@document.finished) ? @document.finished : ''}"}
    li.b-buttons__social__item
      a href="#{sharing_facebook_link(@document)}" onclick="window.open('#{sharing_facebook_link(@document)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "
        .b-button.b-button__social_fb
          .b-icon.icon-social-fb
            span.b-button--social__counter.ng-show.ng-cloak{ng-show='showSocialCount && showCommentsCount'} = '{{fb}}'
    li.b-buttons__social__item
      a href="#{sharing_vk_link(@document)}" onclick="window.open('#{sharing_vk_link(@document)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "
        .b-button.b-button__social_vk
          .b-icon.icon-social-vk
            span.b-button--social__counter.ng-show.ng-cloak{ng-show='showSocialCount && showCommentsCount'} = '{{vk}}'
    li.b-buttons__social__item
      a href="#{sharing_twitter_link(@document)}" onclick="window.open('#{sharing_twitter_link(@document)}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');  return false "
        .b-button.b-button__social_twitter
          .b-icon.icon-social-twitter
            span.b-button--social__counter.ng-show.ng-cloak{ng-show='showSocialCount && showCommentsCount'} = '{{twitter}}'
    - if Settings.comments.enable && !no_comments
      li.b-buttons__social__item
        a href="#{comment_link(@document.url)}" rel='nofollow'
          .b-button.b-button__social_comments
            .b-icon.icon-social-comments
              span.b-button--social__counter.ng-show {ng-show='showSocialCount && showCommentsCount' data-xid="#{@document.id}"}
      - unless no_printer
        li.b-buttons__social__item
          .b-button.b-button__social_print{onclick='window.print()'}
            .b-icon.icon-social-print
    - if @document.has_categories? && @document.categories.has_parts? && @document.categories.parts.slug == 'online'
      - if !@document.finished
        li.b-buttons__social__item
          .b-button.b-button__arrow_circle{ng-click="updateBroadcasts()"}
            span.b-button-count{ ng-bind="broadcasts" }
            .b-icon.icon-arrow-circle
