.b-subscribe-popup {subscribe-popup}
  .b-subscribe-popup__layout {ng-show='is_visible' ng-class="{'b-subscribe-popup__layout_visible' : is_visible}"}
    .b-subscribe-popup__close.b-icon.icon-subscribe-close {ng-click='close()'}
    .b-subscribe-popup__image
      .b-subscribe-popup__image__layput.b-subscribe-popup__image__layput_large-screen = image_tag('subscribe-popup-img-big.png', class: 'subscribe-popup__img')
      .b-subscribe-popup__image__layput.b-subscribe-popup__image__layput_small-screen = image_tag('subscribe-popup-img-small.png', class: 'subscribe-popup__img')
    form.b-subscribe-popup__form  { name="subscribeForm" ng-controller="subscribeFormController" ng-submit="submit()" }

      .b-subscribe-popup__form__layout ng-show="input_is_visible == true" ng-init="input_is_visible = true"
        .b-subscribe-popup__input-layout
          .b-subscribe-popup__input-icon.icon-subscribe-email.b-icon
          input.b-subscribe-popup__input value="" type="text" placeholder="Введите свой e-mail" name="subscribe_email" ng-model="email" required="required"
        button.b-button.b-button_subscribe-popup type="submit"
          | OK

      .b-subscribe-popup__message.b-subscribe-popup__message_inactive {ng-class="message_class"}
        .b-subscribe-popup__text bind-html-compile="subject"

