/формирование title для страницы
- render_title "Подкаст. #{@podcast.title}"

.b-podcast
  .b-podcast__header = "Подкаст. #{@podcast.title} от #{@podcast.published_at.strftime('%d.%m.%Y')}"


  .b-podcast__player
    /тег аудио
    audio#podcast
      source {src="#{cdn_url(@podcast.url)}" type="audio/ogg; codecs=vorbis" }
      source {src="#{cdn_url(@podcast.url)}" type="audio/mpeg"}
      | Тег audio не поддерживается вашим браузером.
      = link_to 'Скачать', "#{cdn_url(@podcast.url)}"
    / элементы управления

    #player
      button#play
        i.b-icon.icon-podcast-play
        i.b-icon.icon-podcast-pause
      #timeline_bg
        #timeline_bg_inner
          #timeline

      #timer
        span#timer1 = ""
        | /
        span#timer2 = ""

      #volume_wrapper
        i.b-icon.icon-podcast-mute#mute
        i.b-icon.icon-podcast-normal#normal
        #volume_bg
          #volume_area
          i.b-icon.icon-podcast-volume-line
          #volume

    = link_to "#{rss_podcast_url}", class: 'b-podcast__rss' do
      i.b-icon.icon-rss
      | RSS
    = link_to "#{cdn_url(@podcast.url)}", class: 'b-podcast__download' do
      | Скачать подкаст #{(@podcast[:size] / (1024 ** 2)).round(2)} mb
      i.b-icon.icon-download

  .b-podcast__other
    .title
      | Другие подкасты
    ul
      - @podcasts.each do |podcast|
        li.item
          = link_to podcast_url(podcast.published_at) do
            i.b-icon.icon-podcast
            = "Подкаст. #{podcast.title} от #{podcast.published_at.strftime('%d.%m.%Y')}"
