.b-test__header{ng-class='{"result": ResultIsShown}'}
  | {{main_title}}
  .b-test__counter{ng-show="!ResultIsShown"}{{curStep + "/" + steps}}
  .b-test__resultCounter{ng-show="ResultIsShown"}{{ 'Результат ' + correctAnsversCounter  + ' из ' + steps}}
.b-test__main-wrapper
  .b-test__image-wrapper
    .b-test__image-mask
    .b-test__image-answer-mask {ng-class="colorize(step)"}
    img.b-test__image {ng-src="{{test_img_url}}"}

  .b-test-result__info-layout{ng-show="ResultIsShown"}
    .b-test__title{}{{test_title}}
  .b-test__info-wrapper{ng-class='{"result": answerResultIsShow}'}
    .b-test__info-layout{ng-show="!ResultIsShown"}

      .b-test__title{ng-show="!answerResultIsShow"}{{test_title}}
      .b-test__wrongtext{ng-show="answerResultIsShow && colorize(step) !== 'right'"}{{wrongText}}
      .b-test__righttext{ng-show="answerResultIsShow && colorize(step) == 'right'"}{{rightText}}
      .b-test__description

  .b-test__button-next{ng-show="answerResultIsShow" ng-click="submite()"}

.b-test__choices-wrapper {ng-class="testStyle"}
  ul.b-test__choices-list {ng-class="{'voted' :  voted}"}
    li.b-test__choices-item {ng-repeat="item in choices track by $index" ng-click = 'vote($index, $event)' ng-class="colorize(step, $index)+' '+ colorize(step)"}
      .b-test__choice-image__wrapper{ng-if="item.image.versions"}
        img.b-test__choice-image ng-src="{{'//#{Settings.hosts.agami}' + item.image.versions.default.url}}"
      .b-test__choice__text-wrapper
        span
          | {{item.text}}

.b-test__sharing-wrapper{ng-if="ResultIsShown"}
  .b-sharing__title-wrapper
    .b-sharing__title Поделиться результатом


  .b-test__sharing{ng-show="ResultIsShown"}
    a{href="{{fbLinkParams}}"}
      .b-button.b-button__social.b-button__social_fb
        .b-icon.icon-social.icon-social-fb

    a{href="{{vkLinkParams}}"}
      .b-button.b-button__social.b-button__social_vk
        .b-icon.icon-social.icon-social-vk

    a{href="{{twitterLinkParams}}"}
      .b-button.b-button__social.b-button__social_twitter
        .b-icon.icon-social.icon-social-twitter

.b-button__wrapper
  .b-button.b-button_default { ng-click="reloadTest()" ng-show="ResultIsShown"} Пройти еще раз


.b-test__sharing-image {ng-if='ResultIsShown' }
  img {ng-src='{{sharingImage}}' width='1' height='1'}