.b-ved-vk
  .b-ved-vk__header
    .b-vk-profile-pic
      img {ng-src='{{result.authorPic}}'}
    .b-vk-name = '{{result.author}}'
  .b-ved-vk__body
    .b-vk-image
      img {ng-src='{{result.image}}'}
    .b-vk-text {ng-bind-html='result.text'}