
<!DOCTYPE html>
<html blue-shark="" cookiecutter-shark="" lamiopsis-shark="" ng-app="Sea" ng-controller="seaController" ng-style="{height: lamiopsis.height != &#39;inherit&#39; ? lamiopsis.height + &#39;px&#39; : &#39;&#39; }" referrer="" saws-shark="" ved-Keyboard="" ved-Scroller="">
  <head>
    <title>ВЕДОМОСТИ - Аксенов рассчитывает, что энергомост в Крым заработает 5-6 декабря</title>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="sid:203445, bt:52" name="adriverDefaults" />
    <meta content="autoLoad:1" name="adriverOptions" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/vedomosti-6c96831f7dcb5cb7443901e968cd5f8c.gif" /><link rel="shortcut icon" type="image/x-icon" href="/assets/vedomosti-133833c99a3e8493ee54406df6852110.png" /><!-- og:tags begin -->
    <meta content="summary" property="twitter:card" />
    <meta content="@vedomosti" property="twitter:site" />
    <meta content="705298649558221" property="fb:app_id" />
    <meta content="1180141861" property="fb:admins" />
    <meta content="article" property="og:type" />
    <meta content="Аксенов рассчитывает, что энергомост в Крым заработает 5-6 декабря" property="og:title" />
    <meta content="http://www.vedomosti.ru/business/news/2015/11/27/618771-aksenov-rasschitivaet" property="og:url" />
    <!-- og:tags end --><meta content="2015-11-27T23:02:35+03:00" property="article:published_time" />
    <link href="http://m.s2-shark.vedomosti.ru/business/news/2015/11/27/618771-aksenov-rasschitivaet" media="only screen and (max-width: 640px)" rel="alternate" />
    <script type="text/javascript">
      window.render_document = true
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', debug: false %>
    <%= javascript_include_tag 'app', debug: true %>
    <script type="text/javascript">
      window.categories = ["project:vedomosti","kinds:materials","domains:vedomosti.ru","parts:news","rubrics:business"];
      window.options = { domain: 'vedomosti.ru' };
      _hcwp = window._hcwp || [];
    </script><script>
    //<![CDATA[
    document.createElement('header');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('nav');document.createElement('footer');
    //]]>
    </script>
    <script type="text/javascript">
      var uri = URI(document.location.href);
      if (uri.hasSearch('vdmsti_click_page') && uri.hasSearch('vdmsti_click_block')) {
          var search = URI.parseQuery( uri.search() );
          window.queryClick = {
              vdmsti_click_page: search.vdmsti_click_page,
              vdmsti_click_block: search.vdmsti_click_block
          };
          fire_event([ { page: search.vdmsti_click_page, block: search.vdmsti_click_block }, ], { event: 'click' });
          uri.removeSearch('vdmsti_click_page');
          uri.removeSearch('vdmsti_click_block');
          history.replaceState({}, '', uri);
      }
    </script>
    <%= javascript_include_tag 'vendors/agima' %>
  </head>
  <body mokarran-shark="" ng-class="{low_height: mokarran.active}" ng-style="{height: mokarran.height != &#39;inherit&#39; ? mokarran.height + &#39;px&#39; : &#39;&#39; }" smooth-scroll="">
  <div id="div-gpt-ad-1452615869157-0"></div>
  <script type="text/javascript">
    googletag.cmd.push(function () { googletag.defineSlot('/136502702/TGB_container', [1, 1], 'div-gpt-ad-1452615869157-0').addService(googletag.pubads()); });
  </script>
  <div id="top"></div>
    <noindex>
      <div class="b-desktop-warning hidden" id="desktop-warning">
        Вы открыли полную версию на мобильном устройстве. Хотите перейти на <a href='javascript:to_mobile()'>мобильную версию</a>?
      </div>
      <script type="text/javascript">
        (function() {
          if ('1' === cookie.get('is_mobile')) {
            document.getElementById('desktop-warning').className = 'b-desktop-warning';
          }
        
        }).call(this);
        
      </script>
    </noindex><!--Топлайн-->
    <div class="b-banner b-banner_topline no-print">
      <%= render_banner Settings.banners.dblclick.topline, 970, 150 %>
    </div><header id="header">
      <div class="b-header__container_left no-print">
        <div class="b-date">
          <span class="b-date__time">12:11</span><span class="b-date__day"><a target="_self" href="/archive/2015/12/02">02 декабря</a></span>
        </div>
        <div class="b-header__divider"></div><a target="_self" class="b-gazeta" href="/newspaper/last">
            <i class="b-icon icon-gazeta"></i>Газета</a>
      </div>
      <div class="b-logo"><a target="_self" href="/">
            <i class="b-icon icon-logo"></i></a>
      </div>
      <div class="b-header__container_right no-print"><a class="b-subscribe" href="http://s-buy.vedomosti.ru">
            <i class="b-icon icon-subscribe"></i>Подписаться</a>
        <div class="b-header__divider"></div>
        <div class="b-auth__wrapper" off-click="user_profile.close()" ved-user-profile=""><a target="_self" class="b-auth" href="http://s-id.vedomosti.ru">
    <i class="b-icon icon-auth"></i>Войти</a>
</div>
<script type="text/javascript">
  var auth_hash = null;
  var user_options = {
    "status": "guest"
  };
</script>
      </div>
      <nav class="no-print">
        <ul>
          <li class="b-nav__item b-nav__item_first">
            <button class="b-button b-button_menu" ved-menu-button=""><i class="b-icon icon-menu"></i></button>
            <div class="b-header__divider b-header__divider_nav"></div>
          </li>
          <li class="b-nav__item b-nav__item_home"><a class="b-button b-button_menu" target="_self" href="/">
                <i class="b-icon icon-home"></i></a>
            <div class="b-header__divider b-header__divider_nav"></div>
          </li>
          <li class="b-nav__item"><a target="_self" href="/rubrics/business">Бизнес</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/economics">Экономика</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/finance">Финансы</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/opinion">Мнения</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/politics">Политика</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/technology">Технологии</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/realty">Недвижимость</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/auto">Авто</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/management">Менеджмент</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/lifestyle">Стиль жизни</a></li>
          <li class="b-nav__item b-nav__item_last">
            <div class="b-header__divider b-header__divider_nav2"></div>
            <div class="b-button b-button_search" ng-click="search.open()" ng-hide="search.active">
              <div class="b-icon icon-loupe"></div>
            </div>
            <div class="b-button b-button_search" ng-click="search.close()" ng-show="search.active">
              <div class="b-icon icon-search-close"></div>
            </div>
          </li>
        </ul>
      </nav>
      <div class="b-search" ng-class="{&#39;active&#39; : search.active, &#39;focus&#39;: search.focus}" search="">
        <div class="b-search__inner">
          <form name="searchForm" ng-controller="searchController" ng-submit="submit()">
            <input autocomplete="off" id="query" name="query" ng-blur="search.focus = false" ng-change="search.search(search.query)" ng-focus="search.focus = true" ng-model="search.query" ng-value="search.search_query" type="text" /><button class="b-button b-button_search2"><i class="b-icon icon-loupe"></i></button>
          </form>
        </div>
        <div class="b-search__result" ng-show="search.results.length &gt; 0">
          <div class="b-search__result__inner">
            <ul>
              <li class="b-search__result__item" ng-repeat="result in search.results | limitTo: 5">
                <a href="{{result.source.url | uri }}" ng-bind-html="result.source.title | unsafe" target="_self"></a>
              </li>
            </ul>
          </div>
        </div>
      </div><div class="b-course no-print">
  <div class="b-course__item">
    <div class="b-icon icon-arrow-up"></div>
    <span class="name">USD</span><span class="rouble rouble_green">66.828</span>
  </div>
  <div class="b-course__item">
    <div class="b-icon icon-arrow-up"></div>
    <span class="name">Евро</span><span class="rouble rouble_green">70.96</span>
  </div>
  <div class="b-course__item">
    <div class="b-icon icon-arrow-up"></div>
    <span class="name">ММВБ</span><span class="rouble rouble_green">1781.38</span>
  </div>
  <div class="b-course__item">
    <div class="b-icon icon-arrow-up"></div>
    <span class="name">РТС</span><span class="rouble rouble_green">839.42</span>
  </div>
  <div class="b-course__item">
    <div class="b-icon icon-arrow-down"></div>
    <span class="name">S&amp;P 500</span><span class="rouble rouble_red">2086.59</span>
  </div>
  <div class="b-course__item">
    <div class="b-icon icon-arrow-down"></div>
    <span class="name">Brent</span><span class="rouble rouble_red">44.25</span>
  </div>
  <div class="b-course__item">
    <div class="b-icon icon-arrow-up"></div>
    <span class="name">Золото</span><span class="rouble rouble_green">1066.9</span>
  </div>
</div>
    </header><div class="b-header-menu hidden " ved-header-menu="">
      <div class="b-button b-button_menu-red" ng-show="header_menu.is_visible">
        <i class="b-icon icon-menu-red" ng-click="header_menu.fast_hide_menu()"></i>
      </div>
      <div class="b-header-menu__nav" ng-show="header_menu.is_visible">
        <ul>
          <li class="b-header-menu__nav__item">
            <a target="_self" href="/library/characters">Действующие лица</a>
          </li>
          <li class="b-header-menu__nav__item">
            <a target="_self" href="/library/investigations">Расследования</a>
          </li>
          <li class="b-header-menu__nav__item">
            <a target="_self" href="/multimedia">Фото и видео</a>
          </li>
          <li class="b-header-menu__nav__item">
            <a href="http://info.vedomosti.ru/events/">Конференции</a>
          </li>
          <li class="b-header-menu__nav__item">
            <a href="http://kp.vedomosti.ru">Как потратить</a>
          </li>
          <li class="b-header-menu__nav__item">
            <a href="http://www.vedomosti.ru/companies">Справочник компаний</a>
          </li>
        </ul>
      </div>
    </div>
    <div ng-view=""></div>
    <style type="text/css">.b-article_140737488850643 { display: none!important; }</style>
    <div class="b-document b-document_news">
      <div class="b-document__left">
        <article>
          <div class="b-news-item__wrapper">
            <article class="b-news-item b-news-item_one">
              <div class="b-news-item__title b-news-item__title_one">
                <h1>
                  Аксенов рассчитывает, что энергомост в Крым заработает 5-6 декабря
                </h1>
              </div>
              <div class="b-social-buttons no-print">
                <div class="b-addthis addthis_sharing_toolbox" data-title="Аксенов рассчитывает, что энергомост в Крым заработает 5-6 декабря" data-url="http://www.vedomosti.ru/business/news/2015/11/27/618771-aksenov-rasschitivaet"></div>
                <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54ed9c3e57a16ba3"></script>
                <div class="b-icon icon-print-new" onclick="window.print()"></div>
                <a class="b-icon icon-comments-new" href="/comments/business/news/2015/11/27/618771-aksenov-rasschitivaet"></a><a class="counter" data-xid="140737488850643" href="http://s-shark.vedomosti.ru/comments/business/news/2015/11/27/618771-aksenov-rasschitivaet"></a>
              </div>
              <div class="b-news-item_one__params">
                <time class="b-news-item__time b-news-item__time_one" datetime="2015-11-27 23:02:35 +0300" pubdate="2015-11-27 23:02:35 +0300"><a href="/archive/2015/11/27">27.11.2015</a></time><span class="b-news-item__source b-news-item__source_one"><a class="link" href="http://itar-tass.com/">ТАСС</a></span>
              </div>
              <div class="b-news-item__text b-news-item__text_one">
                <p align="left">
                  Председатель Совета министров Крыма Сергей Аксенов надеется, что энергомост из  Краснодарского края заработает с 5-6 декабря, передает ТАСС.
                </p>
                <p align="">
                  "Ситуация изменится после 5-6 числа, как только заработает  энергомост, но к дате не привязываем, потому что сроки у них до 22, но  надеюсь, что будет все раньше", - сказал он.
                </p>
                <p align="">
                  По его словам, власти рассматривают несколько  вариантов подключения котельных: к  дизель-генераторным установкам или по "общей схеме". Другим вариантом является увеличение генерации за счет  ввода энергомоста.
                </p>
                <p align="">
                  "Возможно, нам проще эти пять дней оставить так, как есть, и  включить потом эти котельные в общую схему", - добавил он.
                </p>
                <p align="">
                  Энергомост в Крым строится в рамках федеральной целевой программы развития Крыма до 2020 г.
                </p>
                <div class="b-big-green-link">
                  <i class="b-icon icon-green-arrow-right no-print"></i><a target="_blank" href="/realty/news/2015/11/24/618155-energomost">Новак: Энергомост в Крым сдадут к 20 декабря</a>
                </div>
                <div class="b-big-green-link">
                  <i class="b-icon icon-green-arrow-right no-print"></i><a target="_blank" href="/business/news/2015/11/27/618701-minenergo-krim">Минэнерго: Надежд на поставки электроэнергии в Крым с Украины больше нет</a>
                </div>
              </div>
            </article>
          </div>
        </article>

      </div>
      <aside class="b-document__right no-print">
        <div id="banner4">
          <!--300х250-->
          <div class="b-banner b-banner_media">
            <%= render_banner Settings.banners.dblclick.media, 300, 250 %>
          </div>
        </div>
        <div id="banner1">
          <!--300х600 1-->
          <div class="b-banner b-banner_vertical">
            <%= render_banner Settings.banners.dblclick.banner1, 300, 600 %>
          </div>
        </div>
      </aside>
    </div>
    <section class="b-rubric b-rubric_popular" id="popular">
  <div class="b-rubric__title b-rubric__title_red">
    <a href="#">Выбор читателей</a>
  </div>
  <div class="b-rubric__3col-inner b-rubric__3col-inner_mutate-to-2col">
    <ul>
      Универмаги Stockmann уйдут из России насовсем
      <li class="b-popular no-border-top">
        <div class="b-popular__left-inner">
          <div class="b-popular__number">
            1
          </div>
          <div class="b-popular__rubric"><a href="/rubrics/business/retail">Торговля и услуги</a></div>
          <div class="b-popular__title">
            <a href="/business/articles/2015/11/27/618668-stockmann-uidut-iz-rossii">Универмаги Stockmann уйдут из России насовсем</a>
          </div>
        </div>
      </li>
      Дипломатия освобождения
      <li class="b-popular no-border-top">
        <div class="b-popular__left-inner">
          <div class="b-popular__number">
            4
          </div>
          <div class="b-popular__rubric"><a href="/rubrics/opinion/analytics">Аналитика</a></div>
          <div class="b-popular__title">
            <a href="/opinion/articles/2015/11/27/618588-diplomatiya-osvobozhdeniya">Дипломатия освобождения</a>
          </div>
        </div>
      </li>
      Конец эпохи Просвещения
      <li class="b-popular no-border-top hide_on_medium_screen">
        <div class="b-popular__left-inner">
          <div class="b-popular__number">
            7
          </div>
          <div class="b-popular__rubric"><a href="/themes/republic">Республика</a></div>
          <div class="b-popular__title">
            <a href="/opinion/columns/2015/11/27/618590-konets-epohi-prosvescheniya">Конец эпохи Просвещения</a>
          </div>
        </div>
      </li>
      Эрдоган: Россия должна перестать играть с огнем
      <li class="b-popular">
        <div class="b-popular__left-inner">
          <div class="b-popular__number">
            2
          </div>
          <div class="b-popular__rubric"><a href="/rubrics/politics/international">Международные отношения</a></div>
          <div class="b-popular__title">
            <a href="/politics/articles/2015/11/27/618723-erdogan">Эрдоган: Россия должна перестать играть с огнем</a>
          </div>
        </div>
      </li>
      Что везут в Россию из Турции
      <li class="b-popular">
        <div class="b-popular__left-inner">
          <div class="b-popular__number">
            5
          </div>
          <div class="b-popular__rubric"><a href="/rubrics/business/retail">Торговля и услуги</a></div>
          <div class="b-popular__title">
            <a href="/business/galleries/2015/11/25/618373-chto-vezut-iz-turtsii">Что везут в Россию из Турции</a>
          </div>
        </div>
      </li>
      «Когда мы выпустим на рынок наше колесо, на улицах городов начнется революция»
      <li class="b-popular hide_on_medium_screen">
        <div class="b-popular__left-inner">
          <div class="b-popular__number">
            8
          </div>
          <div class="b-popular__rubric"><a href="/rubrics/lifestyle/lifeline">Линии жизни</a></div>
          <div class="b-popular__title">
            <a href="/lifestyle/articles/2015/11/02/615270-koleso-na-ulitsah-gorodov">«Когда мы выпустим на рынок наше колесо, на улицах городов начнется революция»</a>
          </div>
        </div>
      </li>
      Путин обещал Олланду бомбить только «Исламское государство»
      <li class="b-popular">
        <div class="b-popular__left-inner">
          <div class="b-popular__number">
            3
          </div>
          <div class="b-popular__rubric"><a href="/rubrics/politics/international">Международные отношения</a></div>
          <div class="b-popular__title">
            <a href="/politics/articles/2015/11/26/618587-putinu-verit-ankara">Путин обещал Олланду бомбить только «Исламское государство»</a>
          </div>
        </div>
      </li>
      Налоговая нагрузка на индивидуальных предпринимателей вырастет на 20%
      <li class="b-popular">
        <div class="b-popular__left-inner">
          <div class="b-popular__number">
            6
          </div>
          <div class="b-popular__rubric"><a href="/rubrics/economics/taxes">Налоги и сборы</a></div>
          <div class="b-popular__title">
            <a href="/economics/articles/2015/11/26/618392-nalogovaya-nagruzka-individualnih-predprinimatelei-virastet-20">Налоговая нагрузка на индивидуальных предпринимателей вырастет на 20%</a>
          </div>
        </div>
      </li>
      Россия с 1 января отменит безвизовый режим с Турцией
      <li class="b-popular hide_on_medium_screen">
        <div class="b-popular__left-inner">
          <div class="b-popular__number">
            9
          </div>
          <div class="b-popular__rubric"><a href="/rubrics/politics/international">Международные отношения</a></div>
          <div class="b-popular__title">
            <a href="/politics/articles/2015/11/27/618737-rossiya-priostanovit-bezvizovii-rezhim-turtsiei">Россия с 1 января отменит безвизовый режим с Турцией</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!--300х250 редакционные проекты-->
  <div class="b-banner b-banner_popular">

    <%= render_banner Settings.banners.dblclick.popular_banner, 300, 250 %>
  </div>
      <div class="b-banner b-banner b-banner_popular2">
      <%= render_banner Settings.banners.dblclick.popular_banner2, 300, 250 %>
        </div>
</section><section class="b-rubric b-rubric_photo no-print" glyphis-garricki-shark="">
  <div class="b-rubric__inner">
    <div class="b-rubric__title">
      <a href="/parts/galleries">Фото</a>
    </div>
    <div class="b-rubric__4col-inner b-rubric__4col-inner_mutate-to-3col">
      <ul>
        <li class="b-article b-article_level2 b-article_no-padding-top b-article_mutate-to-padding-top b-article_padding-bottom b-article_140737488850639"><a class="b-article__image" target="_self" href="/business/galleries/2015/11/27/618767-chernaya-pyatnitsa"><div class="b-article__image-shadow"></div>
        <i class="b-icon icon-photo2"></i><img alt="&quot;Черная пятница&quot;" class="show-on-medium-screen" src="//s-agami.vedomosti.ru/image/2015/97/1aly2h/level1-1oem.jpg" width="369" height="246" /><img alt="&quot;Черная пятница&quot;" class="hide-on-medium-screen" src="//s-agami.vedomosti.ru/image/2015/97/1aly2h/level2-1oen.jpg" width="270" height="180" /></a>
        <div class="b-article__left-inner">

          <div class="b-article__title">
            <a target="_self" href="/business/galleries/2015/11/27/618767-chernaya-pyatnitsa">«Черная пятница»</a>
          </div>
          <div class="b-article__subtitle">
            <a href="/business/galleries/2015/11/27/618767-chernaya-pyatnitsa" target="_self">В мире стартует сезон распродаж</a>
          </div>
          <div class="b-comments">
            <a data-xid="140737488850639" href="http://s-shark.vedomosti.ru/comments/business/galleries/2015/11/27/618767-chernaya-pyatnitsa"></a>
          </div>
        </div></li>
        <li class="b-article b-article_level2 b-article_no-padding-top b-article_mutate-to-padding-top b-article_padding-bottom b-article_140737488810165"><a class="b-article__image" target="_self" href="/lifestyle/galleries/2015/02/18/foto-dnya"><div class="b-article__image-shadow"></div>
        <i class="b-icon icon-photo2"></i><img alt="Изучение импортированного турецкого томата в лаборатории Россельхознадзора" class="show-on-medium-screen" src="//s-agami.vedomosti.ru/image/2015/97/y47oq/level1-187r.jpg" width="369" height="246" /><img alt="Изучение импортированного турецкого томата в лаборатории Россельхознадзора" class="hide-on-medium-screen" src="//s-agami.vedomosti.ru/image/2015/97/y47oq/level2-187r.jpg" width="270" height="180" /></a>
        <div class="b-article__left-inner">

          <div class="b-article__title">
            <a target="_self" href="/lifestyle/galleries/2015/02/18/foto-dnya">Кадр дня</a>
          </div>
          <div class="b-article__subtitle">
            <a href="/lifestyle/galleries/2015/02/18/foto-dnya" target="_self">Каким увидели этот день фоторепортеры</a>
          </div>
          <div class="b-comments">
            <a data-xid="140737488810165" href="http://s-shark.vedomosti.ru/comments/lifestyle/galleries/2015/02/18/foto-dnya"></a>
          </div>
        </div></li>
        <li class="b-article b-article_level2 b-article_no-padding-top b-article_mutate-to-padding-top b-article_padding-bottom b-article_140737488850380"><a class="b-article__image" target="_self" href="/lifestyle/galleries/2015/11/26/618508-afisha-na-vihodnie-27-29-noyabrya"><div class="b-article__image-shadow"></div>
        <i class="b-icon icon-photo2"></i><img alt="" src="//s-agami.vedomosti.ru/image/2015/97/qtfax/level2-yr7.jpg" width="270" height="180" /></a>
        <div class="b-article__left-inner">

          <div class="b-article__title">
            <a target="_self" href="/lifestyle/galleries/2015/11/26/618508-afisha-na-vihodnie-27-29-noyabrya">Афиша на выходные: «Context. Диана Вишнева», Non/fiction, «Фуд-шоу» и катки</a>
          </div>
          <div class="b-article__subtitle">
            <a href="/lifestyle/galleries/2015/11/26/618508-afisha-na-vihodnie-27-29-noyabrya" target="_self">«Ведомости» рекомендуют, куда сходить и что посмотреть</a>
          </div>
          <div class="b-comments">
            <a data-xid="140737488850380" href="http://s-shark.vedomosti.ru/comments/lifestyle/galleries/2015/11/26/618508-afisha-na-vihodnie-27-29-noyabrya"></a>
          </div>
        </div></li>
        <li class="b-article b-article_level2 b-article_no-padding-top b-article_mutate-to-padding-top b-article_padding-bottom b-article_140737488845230"><a class="b-article__image" target="_self" href="/realty/galleries/2015/11/18/613358-10-visokih-zhilih-zdanii"><div class="b-article__image-shadow"></div>
        <i class="b-icon icon-photo2"></i><img alt="" src="//s-agami.vedomosti.ru/image/2015/8y/t8gbg/level2-11vz.jpg" width="270" height="180" /></a>
        <div class="b-article__left-inner">

          <div class="b-article__title">
            <a target="_self" href="/realty/galleries/2015/11/18/613358-10-visokih-zhilih-zdanii">Где строят самые высокие жилые здания в мире</a>
          </div>
          <div class="b-article__subtitle">
            <a href="/realty/galleries/2015/11/18/613358-10-visokih-zhilih-zdanii" target="_self">Лидером в строительстве жилых небоскребов остается ОАЭ</a>
          </div>
          <div class="b-comments">
            <a data-xid="140737488845230" href="http://s-shark.vedomosti.ru/comments/realty/galleries/2015/11/18/613358-10-visokih-zhilih-zdanii"></a>
          </div>
        </div></li>
      </ul>
    </div>
  </div>
</section><!--Line-->

  <%= render_banner Settings.banners.dblclick.line, 970, 150 %>
  <%= render_banner Settings.banners.dblclick.tgb4, 970, 50%>
  <%= render_banner Settings.banners.dblclick.smi2, 970, 50%>

  <%= render_banner Settings.banners.dblclick.interfax, 970, 50%>
  <%= render_banner Settings.banners.dblclick.tgb1, 970, 50%>
    <!--  AdRiver code END  -->
    
    <div class="editor_button no-print">
      <div class="b-button b-button_external-link"><a href="https://s-ibis.vedomosti.ru/vedomosti.ru/business/news/2015/11/27/618771-aksenov-rasschitivaet">
            <i class="b-icon icon-gazeta"></i></a>
      </div>
    </div>
    <footer class="no-print">
      <div class="b-footer__inner">
        <div class="b-footer b-footer_subscribe">
          <div class="title">
            Подписка
          </div>
          <ul>
            <li>
              <a target="_self" href="http://buy.vedomosti.ru">Индивидуальная</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="http://promo.vedomosti.ru/gift/?from=gift-main&amp;utm_source=vedomosti-main-subs&amp;utm_medium=block-main&amp;utm_campaign=gift">Подписка в подарок</a>
            </li>
          </ul>
        </div>
        <div class="b-footer b-footer_ad">
          <div class="title">
            Реклама
          </div>
          <ul>
            <li>
              <a target="_self" href="/info/paper">Газета</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/site">Vedomosti.ru</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/mobile">Mobile</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/projects">Спецпроекты</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/howtospend">Как потратить</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/realty">Недвижимость</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/career">Справочник карьериста</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/regions">Регионы</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/poryadok-razmescheniya-sotsialnoi-i-blagotvoritelnoi-reklami-v-gazete-vedomosti">Социальная реклама</a>
            </li>
          </ul>
        </div>
        <div class="b-footer b-footer_about">
          <div class="title">
            Ведомости
          </div>
          <ul>
            <li>
              <a target="_self" href="/info/mission">О компании</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/editorial">Редакция</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/management">Менеджмент</a>
            </li>
          </ul>
        </div>
        <div class="b-footer b-footer_conference">
          <div class="title">
            Конференции
          </div>
          <ul>
            <li>
              <a target="_self" href="http://info.vedomosti.ru/events/">Ближайшие события</a>
            </li>
          </ul>
        </div>
        <div class="b-footer b-footer_service">
          <div class="title">
            Сервисы
          </div>
          <ul>
            <li>
              <a target="_self" href="/info/rss">RSS</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/newspaper/last ">Смарт-версия</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/companies">Справочник компаний</a>
            </li>
            <li>
              <a target="_self" href="/podcasts/last">Подкасты</a>
            </li>
          </ul>
        </div>
        <br /><a target="_self" href="/info/age"><i class="b-icon icon-plus16"></i></a><br />
        <div class="b-footer b-footer_other">
          <ul>
            <li>
              <a target="_self" href="/archive">Архив</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/reprint_rules">Правила перепечатки</a>
            </li>
            <li>
              <i class="b-icon icon-divider2"></i>
            </li>
            <li>
              <a target="_self" href="/info/feedback">Обратная связь</a>
            </li>
          </ul>
        </div>
        <div class="b-footer b-footer_socials">
          <ul>
            <li>
              «Ведомости»  в соцсетях:
            </li>
            <li><a href="http://www.facebook.com/Vedomosti">
                        <i class="b-icon icon-fb"></i>Facebook</a>
            </li>
            <li><a href="http://twitter.com/vedomosti">
                        <i class="b-icon icon-twitter"></i>Twitter</a>
            </li>
            <li><a href="http://vk.com/vedomosti">
                        <i class="b-icon icon-vk"></i>Vkontakte</a>
            </li>
          </ul>
        </div>
        <div class="b-footer__inner b-footer_text">
          <div class="b-footer__col">
            <p>
              Любое использование материалов допускается только при соблюдении правил перепечатки и при наличии гиперссылки на vedomosti.ru
            </p>
            <p>
              Новости, аналитика, прогнозы и другие материалы, представленные на данном сайте, не являются офертой или рекомендацией к покупке или продаже каких-либо активов
            </p>
            <p>
              Все права защищены © АО Бизнес Ньюс Медиа, 1999—2015
            </p>
          </div>
          <div class="b-footer__col">
            <p>
              Издается совместно с Financial Times, The Wall Street Journal и Independent Media
            </p>
            <p>
              Электронное периодическое издание «Ведомости» (Vedomosti) зарегистрировано в Федеральной службе по надзору за соблюдением законодательства в сфере массовых коммуникаций и охране культурного наследия 22 декабря 2006 г. Свидетельство о регистрации Эл № ФС77–26576. Партнер Рамблера
            </p>
          </div>
          <div class="b-footer__col b-footer__col_2">
            <p>
              Дизайн концепция — студия Charmer
            </p>
          </div>
          <br />
          <div class="b-counters">
            <div class="b-counters__item">
              <!--LiveInternet counter--><script type="text/javascript"><!--
              document.write("<a href='http://www.liveinternet.ru/click' "+
                      "target=_blank><img src='//counter.yadro.ru/hit?t44.1;r"+
                      escape(document.referrer)+((typeof(screen)=="undefined")?"":
                      ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                              screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                      ";"+Math.random()+
                      "' alt='' title='LiveInternet: number of visitors for today is"+
                      " shown' "+
                      "border='0' width='31' height='31'><\/a>")
              //--></script><!--/LiveInternet-->
              
            </div>
            <div class="b-counters__item">
              <div id="rambler-counter"><a href="http://top100.rambler.ru/home?id=123323" target="_blank"><img src="//counter.rambler.ru/top100.scn?123323&amp;rn=553434276&amp;v=0.3&amp;bs=1339x771&amp;ce=1&amp;rf&amp;en=windows-1251&amp;pt=%D0%92%D0%95%D0%94%D0%9E%D0%9C%D0%9E%D0%A1%D0%A2%D0%98%20-%20%D0%B4%D0%B5%D0%BB%D0%BE%D0%B2%D0%B0%D1%8F%20%D0%B3%D0%B0%D0%B7%D0%B5%D1%82%D0%B0.%20%D0%9D%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8%2C%20%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0%2C%20%D0%BF%D1%80%D0%BE%D0%B3%D0%BD%D0%BE%D0%B7%D1%8B.&amp;cd=24-bit&amp;sr=1440x900&amp;la=ru&amp;ja=1&amp;acn=Mozilla&amp;an=Netscape&amp;pl=MacIntel&amp;tz=-180&amp;fv=16.0%20r0&amp;sv&amp;le=0" title="Rambler's Top100" alt="Rambler's Top100" border="0"></a></div>
            </div>
            <div class="b-counters__item">
              <!-- <a href="http://top.mail.ru/Rating/MassMedia-Newspapers/Today/Visitors/1.htm"><img src="//vdmsti.ru/img/global/mailru.gif" width="88" height="31" alt=""></a> -->
              
            </div>
          </div>
        </div>
      </div>
    </footer><div class="header-fixed hidden no-print" ved-header-fixed="">
      <nav ng-show="header_fixed.visible">
        <ul>
          <li class="b-nav__item b-nav__item_first">
            <button class="b-button b-button_menu" ved-menu-button=""><i class="b-icon icon-menu"></i></button>
            <div class="b-header__divider b-header__divider_nav"></div>
          </li>
          <li class="b-nav__item b-nav__item_home"><a class="b-button b-button_menu" target="_self" href="/">
                <i class="b-icon icon-home"></i></a>
            <div class="b-header__divider b-header__divider_nav"></div>
          </li>
          <li class="b-nav__item"><a target="_self" href="/rubrics/business">Бизнес</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/economics">Экономика</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/finance">Финансы</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/opinion">Мнения</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/politics">Политика</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/technology">Технологии</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/realty">Недвижимость</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/auto">Авто</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/management">Менеджмент</a></li><li class="b-nav__item"><a target="_self" href="/rubrics/lifestyle">Стиль жизни</a></li>
          <li class="b-nav__item b-nav__item_last">
            <div class="b-header__divider b-header__divider_nav2"></div>
            <div class="b-button b-button_search" ng-click="search.open()" ng-hide="search.active">
              <div class="b-icon icon-loupe"></div>
            </div>
            <div class="b-button b-button_search" ng-click="search.close()" ng-show="search.active">
              <div class="b-icon icon-search-close"></div>
            </div>
          </li>
        </ul><div class="b-search" ng-class="{&#39;active&#39; : search.active, &#39;focus&#39;: search.focus}" search="">
          <div class="b-search__inner">
            <form name="searchForm" ng-controller="searchController" ng-submit="submit()">
              <input autocomplete="off" id="query" name="query" ng-blur="search.focus = false" ng-change="search.search(search.query)" ng-focus="search.focus = true" ng-model="search.query" ng-value="search.search_query" type="text" /><button class="b-button b-button_search2"><i class="b-icon icon-loupe"></i></button>
            </form>
          </div>
          <div class="b-search__result" ng-show="search.results.length &gt; 0">
            <div class="b-search__result__inner">
              <ul>
                <li class="b-search__result__item" ng-repeat="result in search.results | limitTo: 5">
                  <a href="{{result.source.url | uri }}" ng-bind-html="result.source.title | unsafe" target="_self"></a>
                </li>
              </ul>
            </div>
          </div>
        </div><div class="b-header-menu hidden " ved-header-menu="">
          <div class="b-button b-button_menu-red" ng-show="header_menu.is_visible">
            <i class="b-icon icon-menu-red" ng-click="header_menu.fast_hide_menu()"></i>
          </div>
          <div class="b-header-menu__nav" ng-show="header_menu.is_visible">
            <ul>
              <li class="b-header-menu__nav__item">
                <a target="_self" href="/library/characters">Действующие лица</a>
              </li>
              <li class="b-header-menu__nav__item">
                <a target="_self" href="/library/investigations">Расследования</a>
              </li>
              <li class="b-header-menu__nav__item">
                <a target="_self" href="/multimedia">Фото и видео</a>
              </li>
              <li class="b-header-menu__nav__item">
                <a href="http://info.vedomosti.ru/events/">Конференции</a>
              </li>
              <li class="b-header-menu__nav__item">
                <a href="http://kp.vedomosti.ru">Как потратить</a>
              </li>
              <li class="b-header-menu__nav__item">
                <a href="http://www.vedomosti.ru/companies">Справочник компаний</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div><div class="div" ved-fullscreen=""></div><!--Фуллскрин-->
    <div class="adriverBanner" data-Adriver="bn:17,custom:adriver_custom" id="fullscreen" rel="4"></div><script src="/assets/vendors/hypercomments.js"></script><div class="b-button__wrapper" scroll-top="">
      <button class="b-button b-button_scroll_top no-print" ng-show="header_fixed.visible" reload="true" smooth-scroll-jquery="" target="top">Наверх<i class="b-icon icon-arrow-up-white"></i></button>
    </div><!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WXLF7X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXLF7X');</script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript">
      var params = [],
          docId = 140737488850643,
          authors = [];
      
      if ( $.cookie('new_visitor') === '1' ) params.push({ first_visit: true });
      
      if (docId) params.push({ doc_id: docId });
      
      if (authors.length) params.push(authors)
      
      fire_event(params);
    </script><!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter3796804 = new Ya.Metrika({
                        id:3796804,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });
    
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";
    
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/3796804" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-12193644-1', 'auto');
    
    if (window.queryClick) {
      ga('send', 'pageview', {
        'dimension1': window.queryClick.vdmsti_click_page,
        'dimension2': window.queryClick.vdmsti_click_page + '.' + window.queryClick.vdmsti_click_block
      });
    } else {
      ga('send', 'pageview');
    }
    
    ga('send', 'event', 'ga_adriver_comparison', 'pageview', {'nonInteraction': 1});
    </script>
    <!-- End Google Analytics -->
      <!-- tns-counter.ru -->
    <script type="text/javascript">
      (function(win, doc, cb){
        (win[cb] = win[cb] || []).push(function() {
          try {
            tnsCounterImbusiness_ru = new TNS.TnsCounter({
            'account':'imbusiness_ru',
            'tmsec': 'vedomosti_other'
            });
          } catch(e){}
        });
         var tnsscript = doc.createElement('script');
        tnsscript.type = 'text/javascript';
        tnsscript.async = true;
        tnsscript.src = ('https:' == doc.location.protocol ? 'https:' : 'http:') + 
          '//www.tns-counter.ru/tcounter.js';
        var s = doc.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(tnsscript, s);
      })(window, this.document,'tnscounter_callback');
    </script>
    <noscript>
      <img src="//www.tns-counter.ru/V13a****imbusiness_ru/ru/UTF-8/tmsec=vedomosti_other/" width="0" height="0" alt="" />
    </noscript>
    <!--/ tns-counter.ru -->
    <!-- rambler top100 -->
    <img src="//counter.rambler.ru/top100.cnt?123323" width=1 height=1>
    <!-- /rambler top100 -->
    
    <!-- Rating@Mail.ru counter -->
    <script type="text/javascript">
        var _tmr = _tmr || [];
        _tmr.push({id: "371008", type: "pageView", start: (new Date()).getTime()});
        (function (d, w) {
            var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
            ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
            var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
            if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
        })(document, window);
    </script><noscript><div style="position:absolute;left:-10000px;">
        <img src="//top-fwz1.mail.ru/counter?id=371008;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
    </div></noscript>
    <!-- //Rating@Mail.ru counter --><div id="vsplyvashka"  rel="4" class="adriverBanner" data-Adriver="bn:30,custom:adriver_custom"></div>
    <script src="/assets/vendors/adriver.loadcomplete.plugin.js" debug="false"></script><script src="//vedomosti.media.eagleplatform.com/player/player.js" id="eagleplatformjs"></script>
    <%=  render 'common/agima2' %>

  </body>
</html>