.b-document.b-document_online
  .b-document__left
    #online_id

  aside.b-document__right{class="no-print"}
    #banner1
      = render_banner Settings.banners.dblclick.banner1, 300, 600
    #banner3
      = render_banner Settings.banners.dblclick.banner2, 300, 600
      = render_banner Settings.banners.dblclick.banner6, 300, 600
