.header-fixed { ved-header-fixed class='hidden no-print' }
  nav { ng-show = 'header_fixed.visible'  }
    = render 'common/header/nav'
    = render 'common/header/search'
    = render 'common/header/menu'
