
header#header{ class = "#{header_class if defined? header_class }" }
  .b-header__container_left.no-print
    .b-date
      span.b-date__time = Time.now.strftime('%H:%M')
      span.b-date__day  = link_to  Russian.strftime(Time.now, "%d %B"), Time.now.strftime("/archive/%Y/%m/%d"), :target => '_self'

    .b-header__divider
    .b-sixteen-plus
      = link_to '/info/age', :target => '_self'
          span 16+
    .b-header__divider

    = link_to '/newspaper/last', :target => '_self', :class => 'b-gazeta'
      i.b-icon.icon-gazeta{ng-class="{'icon-newspaper_closed': paywall_options.owl_reason=='not_subscriber' || paywall_options.owl_reason=='mobile_subscriber', 'icon-newspaper_opened': paywall_options.owl_reason!='not_subscriber' && paywall_options.owl_reason!='mobile_subscriber'}"}

      | Газета


  - if @rubric.present? && !@subrubric.present?
    .b-logo.b-logo_rubric
      = link_to root_path, :target => '_self'
        .b-logo__image-medium = image_tag 'logo_medium.png'
      .b-logo__inner
        h1 = @rubric.title
  - elsif @region.present?
    .b-logo.b-logo_rubric
      = link_to root_path, :target => '_self'
        .b-logo__image-medium = image_tag 'logo_medium.png'
      .b-logo__inner
        h1 = @region_name
  - else
    .b-logo
      = link_to root_path, :target => '_self'
        .b-logo__image = image_tag 'logo.png'
      .b-logo__image.b-logo__image-print = image_tag 'logo_print.png'
  .b-header__container_right.no-print
    = render_block '/includes/long_cache/user_profile/$owl_state/$cookie_access_token'

  nav.no-print
    = render 'common/header/nav'

  = render 'common/header/search'

  - if @no_courses.nil? || @no_courses == false
    = render_block '/includes/long_cache/quotes'
  /= render 'common/header/person_announce'