.b-header-menu { ved-header-menu class='hidden #{(@no_courses.nil? || @no_courses == false) ? "" : "no-course" }' }
  .b-button.b-button_menu-red {ng-show='header_menu.is_visible'}
    i.b-icon.icon-menu-red{ng-click='header_menu.fast_hide_menu()'}
  .b-header-menu__nav {ng-show='header_menu.is_visible' }
    ul
      li.b-header-menu__nav__item
        = link_to  'Действующие лица', '/library/characters', :target => '_self'
      li.b-header-menu__nav__item
        = link_to  'Расследования', '/library/investigations', :target => '_self'
      li.b-header-menu__nav__item
        = link_to  'Фото и видео', '/multimedia', :target => '_self'
      li.b-header-menu__nav__item
        = link_to  'Тесты', '/parts/test', :target => '_self'
      li.b-header-menu__nav__item
        = link_to  'Конференции', 'http://info.vedomosti.ru/events/'
      li.b-header-menu__nav__item
        = link_to  'Как потратить', 'http://kp.vedomosti.ru'
      li.b-header-menu__nav__item
        = link_to  'Справочник компаний', '/companies', :target => '_self'
      // li.b-header-menu__nav__item
      //   = link_to 'Справочник персон', '/people', :target => '_self'
      li.b-header-menu__nav__item
        = link_to  'Ведомости&', '/partner', :target => '_self'
      li.b-header-menu__nav__item
        = link_to 'Мобильная подписка', '/mobile/', :target => '_self'
  