ul
  li.b-nav__item.b-nav__item_last
    .b-header__divider.b-header__divider_nav2
    .b-button.b-button_search{ng-click='search.open()' ng-hide='search.active'}
      .b-icon.icon-loupe.ng-cloak

    .b-button.b-button_search{ng-click='search.close()' ng-show='search.active'}
      .b-icon.icon-search-close.ng-cloak
  li.b-nav__item.b-nav__item_first
    button.b-button.b-button_menu {ved-menu-button}
      i.b-icon.icon-menu
    .b-header__divider.b-header__divider_nav

  li.b-nav__item.b-nav__item_home
    = link_to '/', class: 'b-button b-button_menu', :target => '_self' do
      i.b-icon.icon-home
    .b-header__divider.b-header__divider_nav

  /= nav_link('Главное', root_path)
  = nav_links

