.b-person-announce-wrapper
  a.b-person-announce#per-announce{style="display: none" href="http://persona2016.vedomosti.ru/" target='_blank'}
    .b-person-announce__title = 'Персона года 2016'
    .b-announce-button
      .b-announce-button__text = 'Итоги голосования'
      /.b-announce-button__checker
        .b-icon.b-icon--svg.b-icon--check

javascript:
  if ((window.location.href.indexOf('/business') == -1) && (window.location.href.indexOf('/lifestyle') == -1)) {
      document.getElementById('per-announce').style.display = 'block'
  } else {
      document.getElementById('per-announce').parentNode.style.padding = 0
  }
