.b-search {search ng-class="{'active' : search.active, 'focus': search.focus}"}
  .b-search__inner
    form{ng-controller='searchController' name='searchForm' ng-submit='submit()'}
      input{type='text' ng-focus = 'search.focus = true' ng-blur = 'search.focus = false' ng-change ='search.search(search.query)' ng-value="search.search_query"  id='query' name='query' ng-model="search.query" autocomplete="off"}
      button{ class = 'b-button b-button_search2'}
        i.b-icon.icon-loupe

  .b-search__result{ng-show='search.results.length > 0'}
    .b-search__result__inner
      ul
        /li.b-search__result__item{ng-if = "search.results.length == 0" }
        /  | нет результатов поиска

        li.b-search__result__item {ng-repeat = "result in search.results | limitTo: 5" }
          a {ng-href="{{result.source.url | uri }}" ng-bind-html="result.source.title | unsafe" target= '_self'}
            /span.counter
            /  | 22 материала
