header
  .b-header__container_left.no-print
    .b-date
      span.b-date__time = Time.now.strftime('%H:%M')
      span.b-date__day  = link_to  Russian.strftime(Time.now, "%d %B"), Time.now.strftime("/archive/%Y/%m/%d"), :target => '_self'

    .b-header__divider

    = link_to "http://www.vedomosti.ru/newspaper/last", :class => 'b-gazeta'
      i.b-icon.icon-gazeta
      | Газета


  .b-logo
    = link_to 'http://www.vedomosti.ru'
      i.b-icon.icon-logo

  .b-header__container_right.no-print
    = link_to "http://#{Settings.hosts.metynnis}", class: 'b-subscribe' do
      i.b-icon.icon-subscribe
      | Подписаться

  nav.no-print
    ul
      li.b-nav__item.b-nav__item_first
        button.b-button.b-button_menu {ved-menu-button}
          i.b-icon.icon-menu
        .b-header__divider.b-header__divider_nav

      li.b-nav__item.b-nav__item_home
        = link_to '/', class: 'b-button b-button_menu', :target => '_self' do
          i.b-icon.icon-home
        .b-header__divider.b-header__divider_nav

      /= nav_link('Главное', root_path)
      = nav_static_links

      li.b-nav__item.b-nav__item_last
        .b-header__divider.b-header__divider_nav2
        = link_to 'http://www.vedomosti.ru/search', class: 'b-button b-button_search'
          i.b-icon.icon-loupe
