footer.no-print
  .b-footer__inner
    .b-footer.b-footer_subscribe
      .title = 'Подписка'
      ul
        li = link_to 'Индивидуальная', "http://buy.vedomosti.ru"
        li
          i.b-icon.icon-divider2
        li = link_to 'Подписка в подарок', "https://buy.vedomosti.ru/##gift", :target => '_self'

    .b-footer.b-footer_ad
      .title = 'Реклама'
      ul
        li = link_to 'Газета', '//vedomosti.ru/info/paper', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Vedomosti.ru', '//vedomosti.ru/info/site', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Mobile', '//vedomosti.ru/info/mobile', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Спецпроекты', '//vedomosti.ru/info/projects', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Как потратить', '//vedomosti.ru/info/howtospend', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Недвижимость', '//vedomosti.ru/info/realty', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Справочник карьериста', '//vedomosti.ru/info/career', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Регионы', '//vedomosti.ru/info/regions', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Социальная реклама', '//vedomosti.ru/info/poryadok-razmescheniya-sotsialnoi-i-blagotvoritelnoi-reklami-v-gazete-vedomosti', :target => '_self'

    .b-footer.b-footer_about
      .title = "Ведомости"
      ul
        li = link_to 'О компании', '//vedomosti.ru/info/mission', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Редакция', '//vedomosti.ru/info/editorial', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Менеджмент', '//vedomosti.ru/info/management', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Контакты', '//vedomosti.ru/info/contacts', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Ведомости: 15 лет', '//info.vedomosti.ru/special/fifteen/', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Ведомости&', '/partner', :target => '_self'

    .b-footer.b-footer_conference
      .title = 'Конференции'
      ul
        li = link_to 'Ближайшие события', 'http://info.vedomosti.ru/events/', :target => '_self'

    .b-footer.b-footer_service
      .title = "Сервисы"
      ul
        li = link_to 'RSS', '//vedomosti.ru/info/rss', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Смарт-версия', '//vedomosti.ru/newspaper/last ', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Справочник компаний', '//www.vedomosti.ru/companies', :target => '_self'
        li = link_to 'Подкасты', '//vedomosti.ru/podcasts/last', :target => '_self'
    br
    = link_to '/info/age', :target => '_self'
      i.b-icon.icon-plus16
    br

    .b-footer.b-footer_other
      ul
        li = link_to 'Архив', '//vedomosti.ru/archive', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Правила перепечатки', '//vedomosti.ru/info/reprint_rules', :target => '_self'
        li
          i.b-icon.icon-divider2
        li = link_to 'Обратная связь', '//vedomosti.ru/info/feedback', :target => '_self'

    .b-footer.b-footer_socials
      ul
        li = "«Ведомости»  в соцсетях:"
        li = link_to 'http://www.facebook.com/Vedomosti' do
          i.b-icon.icon-fb
          | Facebook
        li = link_to 'http://twitter.com/vedomosti' do
          i.b-icon.icon-twitter
          | Twitter

        li = link_to 'http://vk.com/vedomosti' do
          i.b-icon.icon-vk
          | Vkontakte

    .b-footer__inner.b-footer_text
      .b-footer__col
        p Любое использование материалов допускается только при соблюдении правил перепечатки и при наличии гиперссылки на vedomosti.ru
        p Новости, аналитика, прогнозы и другие материалы, представленные на данном сайте, не являются офертой или рекомендацией к покупке или продаже каких-либо активов
        p Все права защищены © АО Бизнес Ньюс Медиа, 1999—2015

      .b-footer__col
        p Электронное периодическое издание «Ведомости» (Vedomosti) зарегистрировано в Федеральной службе по надзору за соблюдением законодательства в сфере массовых коммуникаций и охране культурного наследия 22 декабря 2006 г. Свидетельство о регистрации Эл № ФС77–26576. Партнер Рамблера

      .b-footer__col.b-footer__col_2
        p Дизайн концепция — студия Charmer

      br

      .b-counters
        .b-counters__item =render 'chunks/liveinternet'
        .b-counters__item =render 'chunks/rambler_top_1002'
        .b-counters__item =render 'chunks/rating_mailru2'