$color1: rgb(133,120,113)

/*----- B-NEWS  -----*/
.b-news
  width: 3 * $col + 2 * $gatter + px
  float: left
  margin-right: $gatter + px
  min-height: 400px

  &.b-news__include
    float: none
    width: auto
    margin: auto
    display: block
    margin-bottom: $gatter + px

    ul
      border-top: 1px solid $line
  .b-document_story &
    margin-top: 17px
    
  .b-rubric_lifestyle-main &
    margin-top: 17px

  +breakpoint(0 $medium)
    margin-top: 17px

  ul
    padding: 0
    margin: 10px 0 0
    list-style: none
    width: 100%!important

  .title
    +font($black, $font1, 26,24)
    display: inline-block
    margin: 0 0 3px 0

  &.b-news_list
    border-top: 1px dotted $line
    padding: 14px 0 14px
    width: 100%

    .title
      +font($black, $font1, 24,24)

  .b-document_day &
    min-height: inherit

  .b-document_story &
    min-height: inherit

/*----- B-NEWS  -----*/


/*----- B-NEWS__ITEM  -----*/
.b-news__item
  @include clearfix
  width: 100%
  border-top: 1px dotted $tan
  padding-top: 11px
  margin-top: 10px
  &:first-child
    margin-top: 0
    border-top: none
/*----- B-NEWS__ITEM  -----*/


/*----- B-NEWS__ITEM__TIME  -----*/
.b-news__item__time
  +font($color1, $font5, 12, 18)
  width: 40px
  display: inline
  margin-right: 5px
/*----- B-NEWS__ITEM__TIME  -----*/


/*----- B-NEWS__ITEM__TITLE  -----*/
.b-news__item__title
  width: 230 + px
  display: inline
  +user-select(none)

  a
    +font($black, $font5, 15, 18)
    +transition(color $time ease-in-out)
    text-decoration: none
    padding: 2px 0
    display: inline

    &:hover
      +font($color1, $font5, 15, 18)
/*----- B-NEWS__ITEM__TITLE -----*/


/*----- B-NEWS__MORE -----*/
.b-news__more
  margin: 23px auto 17px

  a
    +inline-block
    text-decoration: underline!important
    +font($ved_green, $font5, 16, 27)
    margin-top: 0

  a:hover
    text-decoration: none!important
/*----- B-NEWS__MORE -----*/