.b-other-news
  +base-width(12)

  +not-working


  +clearfix
  margin-top: 20px

.b-other-news__title
  +clearfix
  width: 100%
  position: relative
  padding-left: 20px
  margin-bottom: 15px

  a
    position: relative
    +font($other_news_brown, $font5, 16)
    text-transform: uppercase

  &:after
    content: ""
    border-top: 1px solid $tan
    height: 2px
    width: 9999px
    position: absolute
    top: 10px
    margin-left: 5px

  &:before
    content: ""
    margin-right: -15px
    border-top: 1px solid $tan
    height: 2px
    right: 100%
    top: 10px
    width: 9999px
    position: absolute

.b-other-news__items
  width: 12 * $col + 12 * $gatter + px
  +breakpoint(0 $medium)
    width: 9 * $col + 8 * $gatter + px

.b-other-news__item
  +inline-block
  margin-bottom: 45px
  +font($other_news_brown, $font5, 16, 18,'', bold)
  position: relative
  width: 215px
  margin-right: 80px
  padding-left:  84px
  min-height: 72px
  +breakpoint(0 $medium)
    width: 175px
    margin-right: 30px

  .image
    position: absolute
    top: 0
    left: 0
