/*----- B-RUBRIC  -----*/
.b-rubric
  +clearfix
  +base-width(12)
  background: $body_bg
  overflow-x: hidden

  &.b-rubric_popular
    padding-bottom: 35px

  &.b-rubric_serials
    padding-bottom:  72px

  &.b-rubric_thematic-materials
    overflow-y: hidden
    padding-top: 20px

  &.b-rubric_main
    padding-bottom: 22px

  &.b-multimedia_slider
    padding-bottom: 25px

  &.b-rubric_medium-banner,
  &.b-rubric_main-huhu,
  &.b-rubric_medium-no-banner,
  &.b-rubric_big-banner,
  &.b-rubric_small-no-banner,
  &.b-rubric_lifestyle-main,
  &.b-rubric_lifestyle_big-banner
    padding-bottom: 21px

  &.b-rubric_photo
    padding-bottom: 38px

  &.b-rubric_also_in_rubric,
  &.b-rubric_also-in-story
    padding-bottom: 58px

  &.b-rubric_another-from-part,
  &.b-rubric_also_in_story_media
    width: 100%
    padding: 0
    padding-top: 60px

  &.b-rubric_story
    margin-bottom: 60px

  .b-rubric_wrapper
    float: right

/*----- B-RUBRIC  -----*/

.b-rubric__inner
  +clearfix

  .b-rubric_lifestyle-small &
    min-height: 380px

/*----- B-RUBRIC__TITLE  -----*/
.b-rubric__title
  margin-bottom: 17px
  border-bottom: 1px solid $line
  width: 1200px
  +breakpoint(0 $medium)
    width: 900px

  a
    +font($ved_green, $font3, 30)

    +transition(color $time ease-in-out)

    &:hover
      +font($black, $font3, 30)

  &.b-rubric__title_red
    a
      +font($ved_red, $font3, 30)

  .b-rubric_popular &
    color: $ved_red
    margin-bottom: 6px
    a
      color: $ved_red

  .b-rubric_editorial &
    a
      color: $ved_red

  .b-rubric_slider &,
  .b-rubric_huhu &
    position: relative
    margin-bottom: 17px
    +breakpoint(0 $medium)
      width: 900px
      left: 0

  .b-rubric_news &
    margin-bottom: 0
    width: inherit
    position: relative
    width: inherit
    +font($ved_green, $font3, 30)

  .b-rubric_thematic-materials &
    margin-bottom: 17px

  .b-rubric_another-from-part &
    width: 100%

  .b-rubric_story &
    +font($ved_green, $font3, 30)
/*----- B-RUBRIC__TITLE  -----*/


/*----- B-RUBRIC__1COL-INNER  -----*/
.b-rubric__1col-inner
  +clearfix
  display: block
  float: left
  width: 3 * $col + 2 * $gatter + px

  .b-rubric_popular &
    margin-right: $gatter + px
    &.last
      margin-right: 0

  &.hide-on-medium-screen
    +breakpoint(0 $medium)
      display: none

  &.b-rubric__1col-inner_mutate-to-3col
    +breakpoint(0 $medium)
      width: 3 * (3 * $col + 2 * $gatter) + 2 * $gatter  + px
      & > ul
        width: 3 * (3 * $col + 2 * $gatter + $col) + px

/*----- B-RUBRIC__1COL-INNER  -----*/


/*----- B-RUBRIC__2COL-INNER  -----*/
.b-rubric__2col-inner
  +inline-block
  float: left
  vertical-align: top
  width: 6 * $col + 6 * $gatter + px
  font-size: 0

  & > ul
    width: 6 * $col + 8 * $gatter + px

  .b-rubric_main-huhu &
    float: none
    width: 6 * $col + 5 * $gatter + px
    +breakpoint(0 $medium)
      margin-left: 0

  .b-document_story &
    width: 6 * $col + 5 * $gatter + px
    min-height: 395px

  &.b-rubric__2col-inner_mutate-to-1col

    .b-rubric_main &
      overflow: visible!important

    +breakpoint(0 $medium)
      width: 3 * $col + 2 * $gatter + px
      margin-right: $gatter + px

      .b-document_story &
        margin-right: 0

      & > ul
        width: 3 * $col + 3 * $gatter + px

/*----- B-RUBRIC__2COL-INNER  -----*/


/*----- B-RUBRIC__3COL-INNER  -----*/
.b-rubric__3col-inner
  +inline-block
  width: 9 * $col + 8 * $gatter + px
  float: left

  .b-rubric_medium-banner &,
  .b-rubric_main-huhu &
    width: 9 * $col + 9 * $gatter + px

  .b-rubric_medium-no-banner &,
  .b-rubric_editorial &

    float: none

  .b-rubric_main &
    float: right
    margin-right: $gatter + px

  .b-rubric_lifestyle-small &,
  .b-rubric_lifestyle_big-banner &

    margin-right: $gatter + px

  .b-rubric_media2 &
    float: none

  & > ul
    font-size: 0
    width: 9 * $col + 10 * $gatter + px

  &.b-rubric__3col-inner_mutate-to-2col
    +clearfix
    +breakpoint(0 $medium)
      width: 2 * (3 * $col + 2 * $gatter) + $gatter + px
      position: relative
      & > ul
        width: 2 * (3 * $col + 3 * $gatter) + px

    .b-rubric_popular &,
    .b-rubric_medium-banner &,
    .b-rubric_main-huhu &
      +breakpoint(0 $medium)
        width: 2 * (3 * $col + 2 * $gatter) + 2 * $gatter + px
/*----- B-RUBRIC__3COL-INNER  -----*/

/*----- B-RUBRIC__4COL-INNER  -----*/
.b-rubric__4col-inner
  +inline-block
  width: 12 * $col + 11 * $gatter + px

  .b-story &
    z-index: 11
    margin-top: 45px
    background: $story
    min-height: 155px
    width: 100%
    padding-bottom: 26px
    position: absolute
    bottom: 0

    > ul
      width: 100%
      li:nth-child(n+4)
        +breakpoint(0 $medium)
          display: none


  li:first-child
    .b-story &
      padding-left: 30px

  & > ul
    font-size: 0
    width: 12 * $col + 14 * $gatter + px

  .b-rubric_lifestyle-small & > ul
    +clearfix

  .b-rubric_also_in_rubric & > ul,
  .b-rubric_photo & > ul
    width: 15 * $col + 15 * $gatter + px


  &.b-rubric__4col-inner_mutate-to-3col
    +breakpoint(0 $medium)
      width: 3 * (3 * $col + 2 * $gatter)+ 2 * $gatter + px
      & > ul
        width: 3 * (3 * $col + 2 * $gatter) + 3 * $gatter + px
        //
        //.b-rubric_also_in_rubric &
        //  width: 1200px


  &.b-rubric__4col-inner_mutate-to-2col
    +breakpoint(0 $medium)
      overflow: hidden
      width: 2 * (3 * $col + 2 * $gatter)+ $gatter + px
      ul
        width: 2 * (3 * $col + 2 * $gatter) + 2 * $gatter + px
        li:last-child
          float: none!important
/*----- B-RUBRIC__4COL-INNER  -----*/
