.b-document.b-document_contacts
  #map.b-map{whale-shark="" no-auto-init='false' points="[[55.79829227699888,37.60463649999993], [59.917993757993926,30.34630299999998]]"  active-point = "{{current_tab}}"}
  .b-city-tabs {ved-tabs}
    ul.city-tabs__headers
      li.city-tabs__header.active{ng-class="{active: current_tab == 0}" ng-click="correct_array('b-tabs__news'); current_tab = 0"}
        h1.title = 'Адрес редакции в Москве'
        .address = '127018, г. Москва, ул. Полковая, д. 3, стр. 1'
        .additional-info
          div = 'Телефон редакции: +7 (495) 956–34–58'
          div = 'Телефон коммерческих служб: +7 (495) 232–32–00'
          div = 'Факс: +7 (495) 956–07–16'
          div
            span
              | E-mail:
              a.b-subscription-contacts-mail {href='mailto:info@vedomosti.ru' } = ' info@vedomosti.ru'

      li.city-tabs__header{ng-class="{active: current_tab == 1}" ng-click="correct_array('b-tabs__news'); current_tab = 1"}
        h1.title = 'Адрес редакции в Санкт-Петербурге'
        .address = 'г. Санкт-Петербург, ул. Боровая, д.32, БЦ «Stels», офис 601'
        .additional-info
          div = 'Тел. редакции: +7 (812) 325–60–80'
