/формирование title для страницы
- render_title('Обратная связь')

.b-document.b-document_feedback
  h1
    | Обратная связь

  - if @success
    p.success Ваше сообщение отправлено!
  - else
    = form_for @feedback_form, url: info_feedback_path do |f|
      = f.hidden_field :type, value: 'feedback'

      = f.text_field :username, 'placeholder' => 'Имя и фамилия *'
      - if @feedback_form.errors[:username].present?
        .error= @feedback_form.errors[:username].first

      = f.text_field :email, 'placeholder' => 'E-Mail*'
      - if @feedback_form.errors[:email].present?
        .error= @feedback_form.errors[:email].first

      = f.text_field :phone, 'placeholder' => 'Телефон*'
      - if @feedback_form.errors[:phone].present?
        .error= @feedback_form.errors[:phone].first

      = f.text_area :message, 'placeholder' => 'Ваш вопрос*', size: '20x6'
      - if @feedback_form.errors[:message].present?
        .error= @feedback_form.errors[:message].first

      = button_tag 'Отправить', class: 'b-button b-button_feedback'

      p.caption
        | * Обязательные для заполнения поля
