/формирование title для страницы
- render_title('Сервисные страницы')

.b-document.b-document_info-list
  .b-document__left
    h1.b-subrubric__title = 'Сервисные страницы'

    ul.b-subrubric__items
      - @documents.each_with_index do |document, index|
        = render "common/items/list/info", document: document, index: index

  aside.b-document__right.no-print
    = render 'document/right/info'
