/формирование title для страницы
- render_title(@document.title)

.b-document.b-document_info
  .b-document__left
    /заголовок
    h1 = @document.title
    = render 'common/social_icons'
    /рендеринг боксов
    = render partial: 'document/box', collection: @document.boxes
    - if @document.allow_comments_for_all?
      = render_block "/includes/long_cache/popular_comment/#{@document.id}"

  .b-document__right.no-print
    = render 'document/right/info'