doctype html
html {ng-app='Sea' ng-controller = 'seaController' ved-Scroller blue-shark ved-Keyboard lamiopsis-shark cookiecutter-shark saws-shark referrer ng-style="{height: lamiopsis.height != 'inherit' ? lamiopsis.height + 'px' : '' }"}

  head
    title = yield :title
    meta {charset='utf-8'}
    /Отключает режим совместимости для IE
    meta {http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"}
    link {rel="apple-touch-icon" href="/assets/vedomosti_180x180.png"}
    link {rel="apple-touch-icon" sizes="76x76" href="/assets/touch-icon-ipad.png"}
    link {rel="apple-touch-icon" sizes="120x120" href="/assets/touch-icon-iphone-retina.png"}
    link {rel="apple-touch-icon" sizes="152x152" href="/assets/touch-icon-ipad-retina.png"}
    link {rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#fff6f1"}
    link {href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif+Caption|PT+Serif:400,400i&amp;subset=cyrillic" rel="stylesheet"}
    /META START
    - if !@ampersand_release && !@document
      meta { property="og:title" content="ВЕДОМОСТИ&" }
      - if @documents && @documents[0]
        link { rel="image_src" href="#{Settings.hosts.puffin}/#{@documents[0].url}.jpg" }
        meta { property="og:image" content="#{Settings.hosts.puffin}/#{@documents[0].url}.jpg" }
        meta { property="twitter:image" content="#{Settings.hosts.puffin}/#{@documents[0].url}.jpg" }
        meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" name='description' }
        meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" property='og:description' }
        meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" property='twitter:description' }
    - elsif @document.present?
      meta { content='summary_large_image' property='twitter:card' }
      meta { content='@vedomosti' property='twitter:site' }
      meta { content=@document.title property='twitter:title' }
      meta { name="author" content="Ведомости&" }
      meta { content='article' property='og:type' }
      meta { content=site_url(@document.url) property='og:url' }
      - if (@document.gallery? || @document.video?) && @document.has_image? && @document.image.has_version?(:normal)
        link { rel="image_src" href=image_absolute_url(@document.image.normal.url) }
        meta { property='og:image' content=image_absolute_url(@document.image.normal.url) }
        meta { property='twitter:image' content=image_absolute_url(@document.image.normal.url) }
      - else
        link { rel="image_src" href=image_url_social(@document) }
        meta { property='og:image' content=image_url_social(@document) }
        meta { property='og:image:width' content=1200 }
        meta { property='og:image:height' content=630 }
        meta { property='twitter:image' content=image_url_social(@document) }
      meta{content=@document.title property='og:title'}
      / Описание заметки
      - if @document.has_subtitle?
        meta { content="#{strip_tags(@description || @document.subtitle)}" name='description' }
        meta { content="#{strip_tags(@description || @document.subtitle)}" property='og:description' }
        meta { content="#{strip_tags(@description || @document.subtitle)}" property='twitter:description' }
    - elsif @ampersand_release
      meta { property="og:title" content="#{@ampersand_release.title}" }
      meta { property="twitter:title" content="#{@ampersand_release.title}" }
      link { rel="image_src" href="#{Settings.hosts.puffin}/#{@ampersand_release.url}.jpg" }
      meta { property="og:image" content="#{Settings.hosts.puffin}/#{@ampersand_release.url}.jpg" }
      meta { property="twitter:image" content="#{Settings.hosts.puffin}/#{@ampersand_release.url}.jpg" }
      meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" name='description' }
      meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" property='og:description' }
      meta { content="«Ведомости&» - партнерское приложение к газете «Ведомости». Выпускается редакцией коммерческих проектов в партнерстве с российскими и зарубежными компаниями. Электронная версия на Vedomosti.ru/partner" property='twitter:description' }
    title = 'ВЕДОМОСТИ&'
    meta { content='партнерское приложение, коммерческое приложение, ведомости амперсанд, ведомости, приложения, ведомости&, партнерский проект' name='keywords' }
    meta { name="theme-color" content="#fff6f1" }

    /META END


    /иконки
    = favicon_link_tag 'vedomosti.gif'
    = favicon_link_tag 'vedomosti.png'

    /оg - теги
    /= render 'common/og'

    = stylesheet_link_tag 'fonts_css', media: 'screen'
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'special/ampersand/ampersand', media: 'all'
    /[if lte IE 9]
      = stylesheet_link_tag 'ie/vendors', media: 'all'
      = stylesheet_link_tag 'ie/vedomosti', media: 'all'
    javascript:
      paywall_options = {}
      window.render_document = true;
    = javascript_include_tag 'application', debug: true, defer:true
    = javascript_include_tag 'vendors/agima'

    = javascript_include_tag 'app', debug: true, defer:true
    = javascript_include_tag "#{browser.ie? ? 'http:': ''}//vedomosti.media.eagleplatform.com/player/player.js", id: 'eagleplatformjs', async: true
    = javascript_include_tag 'https://cdn.onthe.io/io.js/fHMs3jhaswCz', id: 'ontheiojs', async: true

    /запрет консольного вывода
    - if Rails.env.production?
      = javascript_include_tag 'no_console'


    = yield :header if content_for?(:header)

    = render 'chunks/facebook_pixel'
  body{ mokarran-shark ng-class='{low_height: mokarran.active}' ng-style="{height: mokarran.height != 'inherit' ? mokarran.height + 'px' : '' }" smooth-scroll}
    - if @ampersand_release
      = render 'partner/blocks/header', partner: @ampersand_release
      = render 'partner/blocks/header', partner: @ampersand_release, fixed: true
    - elsif @document && @document.has_links? && @document.links[:ampersand]
      = render 'partner/blocks/header', partner: @document.links[:ampersand][0].bound_document
      = render 'partner/blocks/header', partner: @document.links[:ampersand][0].bound_document, fixed: true
    - else
      = render 'partner/blocks/header'


    div { ng-view }
    = yield
    = render 'common/footer/ampersand_footer'
    /= render 'common/header/header_fixed'
    = render 'common/fullscreen/fullscreen'
    /= render_banner Settings.banners.dblclick.vsplyvashka, 900 ,200
    /= render_banner Settings.banners.dblclick.fullscreen, 0, 0, true



    /= render 'common/buttons/scroll_top'
    / проверяет пользователя на наличие adBlock

    = render 'chunks/all_chunks'
    = render 'common/agima2'
    /= render 'common/incognito'
    javascript:
      googletag.cmd.push(function () {
        googletag.display('div-gpt-ad-1449148456337-0');
      });
