= stub_error

doctype html
html {ng-app='Sea' ng-controller = 'seaController' ved-Scroller blue-shark ved-Keyboard lamiopsis-shark cookiecutter-shark saws-shark referrer ng-style="{height: lamiopsis.height != 'inherit' ? lamiopsis.height + 'px' : '' }"}

  head
    title = yield :title
    meta {charset='utf-8'}
    /Отключает режим совместимости для IE
    meta {http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"}
    meta {property="fb:pages" content="184860593907"}
    link {rel="apple-touch-icon" href="/assets/vedomosti_180x180.png"}
    link {rel="apple-touch-icon" sizes="76x76" href="/assets/touch-icon-ipad.png"}
    link {rel="apple-touch-icon" sizes="120x120" href="/assets/touch-icon-iphone-retina.png"}
    link {rel="apple-touch-icon" sizes="152x152" href="/assets/touch-icon-ipad-retina.png"}
    link {rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#fff6f1"}
    meta {name="theme-color" content="#fff6f1"}
    meta {property="al:ios:app_name" content="Ведомости"}
    meta {property="al:ios:app_store_id" content="521051076"}

    - if @document
      meta {name="apple-itunes-app" content="app-id=521051076, app-argument=#{site_url(@document.url)}"}
      meta {property="al:ios:url" content="#{site_url(@document.url)}"}
    - else
      meta {name="apple-itunes-app" content="app-id=521051076"}
      meta {property="al:ios:url" content="#{site_url(Settings.hosts.shark + request.path)}"}

    - if @document.present? && @document.has_amp?
      link{rel="amphtml" href="#{document_absolute_amp_url(@document.url)}"}
    /иконки
    = favicon_link_tag 'vedomosti.gif'
    = favicon_link_tag 'vedomosti.png'

    /оg - теги
    = render 'common/og'
    /SEO
    = render 'common/seo'
    = announced_rss

    = stylesheet_link_tag 'fonts_css', media: 'screen'
    = stylesheet_link_tag    'application', media: 'all'
    /[if lte IE 9]
      = stylesheet_link_tag 'ie/vendors', media: 'all'
      = stylesheet_link_tag 'ie/vedomosti', media: 'all'

    = javascript_include_tag 'application', debug: true, defer:true
    = javascript_include_tag 'vendors/agima'

    /включает html5mode для страниц
    - if params[:controller] == 'newsline' || params[:controller] == 'search'
      javascript:
        if (window.history && window.history.pushState) {
          window.html5mode = true;
        };
    - if @document
      javascript:
        window.render_document = true;

    = javascript_include_tag 'app', debug: true, defer:true
    = javascript_include_tag "#{browser.ie? ? 'http:': ''}//vedomosti.media.eagleplatform.com/player/player.js", id: 'eagleplatformjs', async: true
    = javascript_include_tag 'https://cdn.onthe.io/io.js/fHMs3jhaswCz', id: 'ontheiojs', async: true

    /директивы с buy-vedomosti.ru
    = javascript_include_tag "//#{Settings.hosts.metynnis}/assets/buy.js", defer:true

    /гипперкомменты
    javascript:
      window.categories = #{raw @categories_for_stats.to_json};
      window.options = { domain: '#{request.domain}' };
      _hcwp = window._hcwp || [];

    /запрет консольного вывода
    - if Rails.env.production?
      = javascript_include_tag 'no_console'
    = javascript_tag "document.createElement('header');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('nav');document.createElement('footer');"

    = yield :header if content_for?(:header)

    / обрезаем параметры vdmsti_click_page vdmsti_click_block
    javascript:
        var uri = URI(document.location.href);
        if (uri.hasSearch('vdmsti_click_page') && uri.hasSearch('vdmsti_click_block')) {
            var search = URI.parseQuery( uri.search() );
            window.queryClick = {
                vdmsti_click_page: search.vdmsti_click_page,
                vdmsti_click_block: search.vdmsti_click_block
            };
            fire_event([ { page: search.vdmsti_click_page, block: search.vdmsti_click_block }, ], { event: 'click' });
            uri.removeSearch('vdmsti_click_page');
            uri.removeSearch('vdmsti_click_block');
            history.replaceState({}, '', uri);
        }

    / параметры paywall
    javascript:
      var paywall_options = #{paywall_options_json};

    = render 'chunks/facebook_pixel'
  body{ mokarran-shark ng-class='{low_height: mokarran.active}' ng-style="{height: mokarran.height != 'inherit' ? mokarran.height + 'px' : '' }" smooth-scroll}
    javascript:
      if (window.paywall_options && window.paywall_options.owl_reason && (window.paywall_options.owl_reason != 'not_subscriber' && window.paywall_options.owl_reason != 'mobile_subscriber'))
        document.body.className += ' subscriber'
      else
        document.body.className += ' non-subscriber'
    - if @document && @document.categories.has_parts? && @document.categories.parts.slug == 'online'
      = render 'chunks/facebook'
      = render 'chunks/twitter'
      script async="" defer="" src="http://platform.instagram.com/en_US/embeds.js"

    = render_banner Settings.banners.dblclick.background, 0, 0

    div#top
    = render 'common/desktop_warning'

    = render_banner Settings.banners.dblclick.topline, 970, 300
    = render_banner Settings.banners.dblclick.topline2, 970, 300

    -if 'true' == @multimedia.to_s
      = render 'common/header/header', header_class: 'b-header_multimedia'
    - elsif @document && name_for_document(@document) == 'advert_article'
      = render 'common/header/header', header_class: 'b-header_advert_article'
    - else
      = render 'common/header/header'
    = render 'common/header/menu'

    - if @document && has_map(@document)
      = javascript_include_tag 'vendors/d3.v3.min'
      = javascript_include_tag 'vendors/queue.v1.min'
      = javascript_include_tag 'vendors/topojson'
    div { ng-view }
    = yield
    #div-gpt-ad-1452615869157-0{style="line-height:0;" }
    javascript:
      googletag.cmd.push(function () {
        googletag.defineSlot('/136502702/TGB_container', [1, 1], 'div-gpt-ad-1452615869157-0').addService(googletag.pubads());
      });
    = render 'common/footer/footer'
    = render 'common/header/header_fixed'
    = render 'common/fullscreen/fullscreen'
    = render 'common/subscribe_popup'
    = render_banner Settings.banners.dblclick.vsplyvashka, 900 ,200
    = render_banner Settings.banners.dblclick.fullscreen, 0, 0, true

    / гипперкомменты
    - if Settings.comments.enable
      = javascript_include_tag 'vendors/hypercomments', defer:true

    = render 'common/buttons/scroll_top'
    / проверяет пользователя на наличие adBlock
    = javascript_include_tag "vendors/ads"
    = render 'chunks/all_chunks'
    = render 'common/agima2'
