doctype html
html

  head
    title = yield :title
    meta{charset='utf-8'}

    /иконки
    = favicon_link_tag 'vedomosti.gif'
    = favicon_link_tag 'vedomosti.png'

    = stylesheet_link_tag 'fonts_css', media: 'screen'
    = stylesheet_link_tag 'application', media: 'all'

    = yield :header if content_for?(:header)

  body
    = render 'common/header/header_error'
    = yield

    /= render_block '/includes/popular24'
