= stub_error
doctype html
html{ng-app='Sea' ng-controller = 'seaController' ved-Scroller blue-shark ved-Keyboard lamiopsis-shark cookiecutter-shark saws-shark referrer ng-style="{height: lamiopsis.height != 'inherit' ? lamiopsis.height + 'px' : '' }"}

  head
    title = yield :title
    meta{charset='utf-8'}

    /иконки
    = favicon_link_tag 'vedomosti.gif'
    = favicon_link_tag 'vedomosti.png'

    /Отключает режим совместимости для IE
    meta {http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"}

    /коды адривера
    - if Rails.env.staging?
      meta {name="adriverDefaults" content="sid:203445, bt:52, sz:'test'"}
    - else
      meta {name="adriverDefaults" content="sid:203445, bt:52"}
    meta {name="adriverOptions" content="autoLoad:1"}
    = render 'common/og'
    /SEO
    = render 'common/seo'

    = stylesheet_link_tag 'fonts_css', media: 'screen'
    = stylesheet_link_tag    'application', media: 'all'

    = javascript_include_tag 'application', debug: true
    = javascript_include_tag 'app', debug: true
    = javascript_include_tag 'vendors/agima'

    /запрет консольного вывода
    - if Rails.env.production?
      = javascript_include_tag 'no_console'

    /подключение dulton media
    = javascript_include_tag "//vedomosti.media.eagleplatform.com/player/player.js", id: 'eagleplatformjs', async: true
    = javascript_include_tag '//api-maps.yandex.ru/2.1/?lang=ru_RU'
    = javascript_include_tag 'https://cdn.onthe.io/io.js/fHMs3jhaswCz', id: 'ontheiojs', async: true
    = javascript_tag "document.createElement('header');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('nav');document.createElement('footer');"
    javascript:
      _hcwp = window._hcwp || [];
      var paywall_options = #{paywall_options_json};
    = yield :header if content_for?(:header)

  body
    div#top
    = render 'common/desktop_warning'

    /= render_banner Settings.banners.dblclick.topline, 970, 300
    = render 'common/header/header'
    = render 'common/header/menu'

    = yield

    = render 'common/footer/footer'
    = render 'common/header/header_fixed'
    = render 'chunks/all_chunks'
    = render 'common/fullscreen/fullscreen'
    - if Settings.comments.enable
      = javascript_include_tag 'vendors/hypercomments', defer: true
    = render 'common/buttons/scroll_top'
    /= render 'common/agima2'
