doctype html
html
  head
    title = 'ВЕДОМОСТИ - Онлайн'
    meta {charset='utf-8'}

    /иконки
    = favicon_link_tag 'vedomosti.gif'
    = favicon_link_tag 'vedomosti.png'

    /Отключает режим совместимости для IE
    meta {http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"}
    meta {name="adriverDefaults" content="sid:203445, bt:52"}
    meta {name="adriverOptions" content="autoLoad:1"}

    = stylesheet_link_tag 'fonts_css', media: 'screen'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'online', debug: true
    = javascript_include_tag 'vendors/agima'

    /запрет консольного вывода
    - if Rails.env.production?
      = javascript_include_tag 'no_console'

    = javascript_include_tag 'https://cdn.onthe.io/io.js/fHMs3jhaswCz', id: 'ontheiojs', async: true
    = javascript_tag "document.createElement('header');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('nav');document.createElement('footer');"
    = yield :header if content_for?(:header)

  body
    = render_banner Settings.banners.dblclick.topline, 970, 300
    = render 'common/header/static_header'
    = yield
    = render 'common/footer/static_footer'
    = render 'chunks/all_chunks'
    = render_banner Settings.banners.dblclick.fullscreen, 0, 0, true
    = render 'common/agima2'
