= stub_error
doctype html
html {ng-app='Sea' ng-controller = 'seaController' ved-Scroller blue-shark ved-Keyboard lamiopsis-shark cookiecutter-shark saws-shark referrer ng-style="{height: lamiopsis.height != 'inherit' ? lamiopsis.height + 'px' : '' }"}

  head
    title = yield :title
    meta {charset='utf-8'}
    /Отключает режим совместимости для IE
    meta {http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"}
    /иконки
    = favicon_link_tag 'vedomosti.gif'
    = favicon_link_tag 'vedomosti.png'
    /SEO
    = render 'common/seo'

    = stylesheet_link_tag 'fonts_css', media: 'screen'
    = stylesheet_link_tag  'application', media: 'all'
    /запрет консольного вывода
    - if Rails.env.production?
      = javascript_include_tag 'no_console'
    = javascript_include_tag 'https://cdn.onthe.io/io.js/fHMs3jhaswCz', id: 'ontheiojs', async: true
    = javascript_tag "document.createElement('header');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('nav');document.createElement('footer');"
    javascript:
      var paywall_options = #{paywall_options_json};
    = yield :header if content_for?(:header)

  body
    = render 'common/header/podcast'
    = yield
    = javascript_include_tag 'podcast', debug: true
