= stub_error
doctype html
html
  head
    title ВЕДОМОСТИ
    meta{charset='utf-8'}

    = stylesheet_link_tag 'fonts_css', media: 'screen'
    = stylesheet_link_tag 'application', media: 'all'
    javascript:
      var paywall_options = #{paywall_options_json};
    = favicon_link_tag 'vedomosti.gif'
    = favicon_link_tag 'vedomosti.png'

    /запрет консольного вывода
    - if Rails.env.production?
      = javascript_include_tag 'no_console'

    /гипперкомменты
    javascript:
      window.categories = #{raw @categories_for_stats.to_json};
      window.options = { domain: '#{request.domain}' };
      _hcwp = window._hcwp || [];

  body
    = yield
    = render 'chunks/all_chunks'
