- doc_label = label_data(@document, 'main', :index)
- image_alt = @document.has_image_alt? ? @document.image_alt : ''
- document_template = name_for_document(@document)

.b-document.b-document_article.js-mediator-article#document{ ng-controller = "boxesController" class="b-document_#{document_template}"}
  .body
    - if document_template && document_template !='advert_article'
      - if doc_label && doc_label[:url] == '/rubrics/opinion/editorial'
        .label.editorial
          .b-icon.editorial
          = label_link(@document, 'main', :index)
      - else
        - if name_for_document(@document) == 'map'
          .label = link_to 'Карты', '/parts/maps'
        - else
          .label= label_link(@document, 'main', :index)
    - else
      .b-disclaimer
        | На правах рекламы
    .title= @document.title
    - if @document.has_subtitle?
      h2.subtitle== @document.subtitle
    
    - if @document.has_author?
      .info
        - if @document.author.has_portrait? && @document.author.portrait.has_version?(:type3)
          = image_tag image_url(@document.author.portrait.type3.url), class: 'avatar'
        .info-holder
          .name
            = @document.author.title
            - if @document.author.has_appointment?
              |,
              span.job= @document.author.appointment

    .date
      - if @document.pay_required?
        .pubdate__lock
          span.b-icon.b-icon--svg.b-icon--grey-lock
          span.b-icon.b-icon--svg.b-icon--grey-unlock
      - if @document.has_published_at?
        span.b-published_at_time 
          = Russian::strftime(@document.published_at, "%d %B ").strip
          - if  @document.published_at.strftime('%Y') < Time.now.strftime('%Y')
            = @document.published_at.strftime(' %Y ')
          b 
            = Russian::strftime(@document.published_at, " %H:%M ")
      - if @document.has_datetime_and_flag?
        - if @document.datetime_and_flag!=''
          = render 'blocks/edit_date'

    - if @document.links[:authors].present? && document_template != 'advert_article'
      .authors
        = @document.links[:authors].map { |author| author.bound_document.title }.join(', ')
        - if @document.has_source_title? && @document.has_source_url?
          b.source=link_to @document.source_title, @document.source_url

    - if document_template != 'advert_article' && document_template != 'map'
      = render('blocks/social_icons')

    - if @document.has_quote_author? && @document.has_quote_job? && @document.has_quote_body?
      .quote
        .info
          - if @document.has_portrait? && @document.portrait.has_version?(:type3)
            = image_tag image_url(@document.portrait.type3.url), class: 'avatar'
          .info-holder
            .name
              = @document.quote_author
              - if @document.has_quote_job?
                |,
                span.job= @document.quote_job
        .message.green.bottom
          = @document.quote_body

  - if !@document.video? && @document.has_image? && name_for_document(@document)!='map'
    - if @document.gallery?
      = render 'm/document/boxes/gallery'
    - elsif @document.image.has_version?(:mobile_high)
      = image @document.image.mobile_high.url, image_alt, 'b-main-image'
    - elsif @document.image.has_version?(:normal)
      = image @document.image.normal.url, image_alt, 'b-main-image'
    - elsif @document.image.has_version?(:default)
      = image @document.image.default.url, image_alt, 'b-main-image'
    - if !@document.gallery?
      .image-credits
        .alt= image_alt

        - if @document.has_image_source? || @document.has_image_author?
          .credits
            - text = [@document.image_author.strip, @document.image_source.strip].reject(&:empty?).join(' / ')
            | Фото: #{text}

  - unless @document.gallery?
    .body

      - if @document.pay_required?
        = render 'm/document/boxes'
      - else
        = render 'm/document/boxes_free'

= render 'm/banners/bottom'