.broadcast-info
  - if box.has_created_at?
    span.broadcast-created-date= Time.parse(box.created_at).localtime("+03:00").strftime('%H:%M')
  - if box.has_scribble_post_author?
    ul.broadcasts-authors
      li= box.scribble_post_author
  - else
    - if box.has_post_author?
      ul.broadcasts-authors
        li
          = box.post_author
    - else
      ul.broadcasts-authors
        - if (authors.empty? && @document.has_multiuser? && @document.multiuser)
          li = 'VedomostiLive'
        - else
          - authors.each_with_index do |author, index|
            li
              - if index != authors.length - 1
                | #{author.bound_document.first_name} #{author.bound_document.last_name},
              - else
                | #{author.bound_document.first_name} #{author.bound_document.last_name}
