.b-document.b-document_news.js-mediator-article
  .body
    .title  = @document.title
    .date
      span.b-published_at_time = l @document.published_at, format: :date_and_time
      - if @document.has_datetime_and_flag?
        - if @document.datetime_and_flag!=''
          = render('blocks/edit_date')
    - if @document.has_source_title? && @document.has_source_url?
      .source=link_to @document.source_title, @document.source_url
    = render('blocks/social_icons')

  .body
    = render 'm/document/boxes'
    .b-native-roll
= render 'm/banners/bottom'
