- image_alt = @document.has_image_alt? ? @document.image_alt : ''
- doc_label = label_data(@document, 'main', :index)

.b-document.b-document_online.js-mediator-article#document{ ng-controller = "boxesController"}
  .body
    - if doc_label && doc_label[:url] == '/rubrics/opinion/editorial'
      .label.editorial
        .b-icon.editorial
        = label_link(@document, 'main', :index)
    - else
      .label= label_link(@document, 'main', :index)
    .title= @document.title
    - if @document.has_subtitle?
      h2.subtitle== @document.subtitle
    - if @document.has_author?
      .info
        - if @document.author.has_portrait? && @document.author.portrait.has_version?(:type3)
          = image_tag image_url(@document.author.portrait.type3.url), class: 'avatar'
        .info-holder
          .name
            = @document.author.title
            - if @document.author.has_appointment?
              |,
              span.job= @document.author.appointment

    = render('blocks/social_icons')
    .date
      = l @document.published_at, format: :date_only
      - if @document.links[:authors].present?
        / span.authors= @document.links[:authors].map { |author| author.bound_document.title }.join(', ')
    - if @document.has_source_title? && @document.has_source_url?
      .source=link_to @document.source_title, @document.source_url
    - if @document.has_quote_author? && @document.has_quote_job? && @document.has_quote_body?
      .quote
        .info
          - if @document.has_portrait? && @document.portrait.has_version?(:type3)
            = image_tag image_url(@document.portrait.type3.url), class: 'avatar'
          .info-holder
            .name
              = @document.quote_author
              - if @document.has_quote_job?
                |,
                span.job= @document.quote_job
        .message.green.bottom= @document.quote_body
  - if @document.boxes.present?
    - boxes_with_links(@document, @range).each do |box|
      .broadcast
        = render 'm/document/broadcast_info', box: box, authors: @document.authors
        == render_if_exist "m/document/boxes/#{box.type}", box: box, authors: @document.authors

    - if @document.has_boxes?
      = render 'm/document/pagination'
