- isOnline = @document.categories.has_parts? && @document.categories.parts.slug == 'online'
- box = boxes_with_links(@document, 0..0).first
- document_template = name_for_document(@document)

- if isOnline
  = render 'm/blocks/caption_and_menu'
  = render 'm/document/online'

- if @document.boxes.present?

  - if isOnline

  - else
    - boxes_with_links(@document).each do |box|
      - if box.type == 'paywall_line'
        - if allowed?
          - next
        - else
          - if @document.pay_required?
            - break
      - else
        = render_if_exist "m/document/boxes/#{box.type}", box: box

  - if @document.pay_required? && (@owl_status != 'ok' || !allowed?)
    = render 'm/paywall/buy_subscription'

- if @owl_status == 'ok' && document_template != 'advert_article'
  = render 'blocks/social_icons'