- document_template = name_for_document(@document)
- if 'gallery' == document_template
  - render_title("ФOTO - #{@document.title}")
- elsif 'video' == document_template
  - render_title("ВИДЕО - #{@document.title}")
- else
  - render_title(@document.title)

- if @document.categories.has_parts? && kind_of?(@document, :news)
  = render 'm/blocks/caption_and_menu', label: 'Новости', url: root_path
  = render_block '/includes/redline'
  = render 'm/document/news'
- elsif @document && name_for_document(@document) == 'advert_article'
  = render 'm/blocks/caption_and_menu'
  = render_block '/includes/redline'
  = render 'm/document/article'
- else
  = render 'm/blocks/caption_and_menu', label: label_link(@document, 'main', :index), url: root_path
  = render_block '/includes/redline'
  = render 'm/document/article'

= render partial: 'chunks/mediator', formats: [:html], locals: {isMobile:true}

- if !(@document.gallery? || @document.video?)
  = render_banner Settings.banners.dblclick.nativeroll, 300, 600

- if document_template != 'advert_article'
  = render_block '/includes/popular24' unless document_with_icon?(@document)