- doc_label = label_data(@document, 'main', :index)
- image_alt = @document.has_image_alt? ? @document.image_alt : ''
= render 'm/blocks/caption_and_menu', label: label_link(@document, 'main', :index), url: root_path
.b-document.b-document_article#document
  .body
    - if @document.has_categories? && @document.categories.has_parts?
      .label = link_to @document.categories.parts.title, "#{part_path(@document.categories.parts.slug)}"
      
    .title= @document.title
    - if @document.has_subtitle?
      .subtitle== @document.subtitle
    
    - if @document.has_author?
      .info
        - if @document.author.has_portrait? && @document.author.portrait.has_version?(:type3)
          = image_tag image_url(@document.author.portrait.type3.url), class: 'avatar'
        .info-holder
          .name
            = @document.author.title
            - if @document.author.has_appointment?
              |,
              span.job= @document.author.appointment
    
    = render('blocks/social_icons')

    .date
      = l @document.published_at, format: :date_only
      - if @document.links[:authors].present?
        span.authors= @document.links[:authors].map { |author| author.bound_document.title }.join(', ')
    - if @document.has_source_title? && @document.has_source_url?
      .source=link_to @document.source_title, @document.source_url

    - if @document.has_quote_author? && @document.has_quote_job? && @document.has_quote_body?
      .quote
        .info
          - if @document.has_portrait? && @document.portrait.has_version?(:type3)
            = image_tag image_url(@document.portrait.type3.url), class: 'avatar'
          .info-holder
            .name
              = @document.quote_author
              - if @document.has_quote_job?
                |,
                span.job= @document.quote_job
        .message.green.bottom
          = @document.quote_body

  - if !@document.video? && @document.has_image? && @document.image.has_version?(:mobile_low)
    - if @document.gallery?
      .image-holder
        = image @document.image.mobile_low.url, image_alt, 'b-main-image'
        span.fullscreen
    - else
      = image @document.image.mobile_low.url, image_alt, 'b-main-image'
      .image-credits
        .alt= image_alt

        - if @document.has_image_source? || @document.has_image_author?
          .credits
            - text = [@document.image_author.strip, @document.image_source.strip].reject(&:empty?).join(' / ')
            | Фото: #{text}

  = link_to "#{relative_link(@document.url)}/q1"

    .b-button__wrapper
      .b-button.b-button_default
        | Начать тест