- render_title(@document.title)
= render 'm/blocks/caption_and_menu', label: label_link(@document, 'main', :index), url: root_path
= render_block '/includes/redline'
.b-document.b-document_test
  .body


    javascript:
      var testObj =  #{@test_json.to_json.html_safe};
      var documentUrl = "#{@document.url}";
      testObj.step = "#{@step}";
      testObj.id = "#{@document.id}";
      testObj.testUrl = documentUrl.replace("vedomosti.ru", "");
      testObj.title = "#{@document.title}";
      testObj.subtitle = "#{@document.subtitle}";

    - if @document.has_image? && @document.image.has_version?(:default)
      javascript:
        testObj.mainImg = "//#{Settings.hosts.agami}"+ "#{@document.image.default.url}";

    .b-tests{tests tests-title="#{@document.title}"}
    - if @document.has_copyright?
      .b-test__copyright = @document.copyright
= render_block '/includes/popular24' unless document_with_icon?(@document)
